[2018-02-05 10:54] egede commented on #235
@afortiorama Thanks for the feedback.

[2018-02-05 10:54] #235 closed

[2018-02-07 02:48] biplabdey opened #1206 "SOS: monitoring stalled for LHCb user"
Hi,
I think this episode was triggered by an unexpected exit from ganga with many (>1000) subjobs, a few on which had been in ``submitted'' for quite a while. But for more than a week now, I can't do anything in ganga. It's either a monitoring issue or something is messed with Dirac inside ganga. My proxy works and I can do everything using LHCbDirac outside ganga.
I have kept my environment varia

[2018-02-07 13:15] rob-c opened #1207 "Parallel submit on Local backend spams local system"
Hi,

I've been doing some testing and was surprised that splitting 1000 subjobs would nuke my system by submitting so much stuff in parallel.

Is there objection to adding some simple logic to stop jobs landing on the local backend hammering a machine by accident?

Rob

[2018-02-07 13:50] mesmith75 commented on #1207
sounds reasonable - if you wanted you could follow the Interactive backend example and just prevent any parallel submitting.

[2018-02-07 13:51] mesmith75 commented on #1206
Have you tried removing `~/.cache/Ganga` ?

[2018-02-07 16:57] biplabdey commented on #1206
Deleting ~/.cache/Ganga resolved the BK query error, but I have problems with job submission.
Indeed:

` /afs/cern.ch/lhcb/software/releases/GAUDI`

is broken for me.

[code]

[2018-02-07 18:25] mesmith75 commented on #1206
That doesn't look like a Ganga issue to me. You shouldn't be looking for things on AFS - perhaps you have something in your home directory causing that.

Are you able to compile DaVinci outside of Ganga?

[2018-02-07 21:32] biplabdey commented on #1206
Hmm, not sure how DV got broken. Recompiled now. Will check submission once LHCbDIRAC is back.

[2018-02-08 13:13] mesmith75 commented on #615
Slurm is in since #1192 .

[2018-02-08 13:13] #615 closed

[2018-02-08 13:45] #1207 closed, assigned to nobody

[2018-02-11 15:20] biplabdey commented on #1206
Hi Mark,
Quick note that it seems to be working fine now.
Cheers,
-Biplab

[2018-02-12 09:17] #1206 closed, assigned to nobody

[2018-02-12 11:18] rob-c opened #1211 "develop failing to cache logs"
I think this was addressed a short while ago but I'm seeing the main thread getting spammed while I try to type a complex command out.
(on latest develop)

Did something change with regard to the cache size or the log caching to keep logging from spamming the user while they're busy?

[2018-02-13 02:47] NickHastings opened #1212 "ITransform self._parent returns NoneType"
Using ganga 6.7.4 I get the following error when running an ND280Task(). Sample code:

<pre>
hastings@kudu ~
% work/ganga-debug/install/6.7.4/bin/ganga

*** Welcome to Ganga ***
Version: 6.7.4
Documentation and support: http://cern.ch/ganga
Type help() or help('index') for online help.

This is free software (GPL), and you are welcome to redistribute it
under certain conditions; type license() for

[2018-02-13 09:04] egede commented on #1196
Closed as CERN infrastructure no longer used.

[2018-02-13 09:04] #1196 closed, assigned to egede

[2018-02-13 09:10] egede opened #1213 "Ganga-ci testing at Imperial"
This is a list of issues that still have to be considered for the ganga-ci testing at Imperial

- [ ] Put /cvmfs on parent machine to allow caching from one test to the next of file system
- [ ] Change LHCb docker container to be the officially supported one
- [ ] Introduce nightly test that runs all the external tests
- [ ] Get external tests to work for Core test by setting up certificates
- [ ]

[2018-02-13 11:01] mesmith75 commented on #1212
Thanks. I can reproduce this with the most basic LHCbTask. We shall take a look.

[2018-02-13 14:41] mesmith75 commented on #1211
@rob-c The monitoring is definitely caching messages for me.

[2018-02-13 16:13] rob-c commented on #1211
@mesmith75 is this buffering errors (imo it probably should be but am I incorrect)?
A simple way I can reproduce this is to fire off 100 jobs locally on one lxplus node then move to another and I get spammed with missing folder errors even when I try to type something unrelated.

[2018-02-13 17:12] mesmith75 commented on #1211
It is not caching errors (also maybe not warnings), just INFO

[2018-02-14 01:06] afortiorama opened #1214 "ganga output messages in triple batches"
Hi,

I'm using /cvmfs/ganga.cern.ch/runGanga.sh and the already high number of messages seems now to be sent three times each. Ganga is already quite verbose could you look at why it repeats 3 times the same messages?

For example

[code]

[2018-02-14 09:13] rob-c commented on #1214
Glad I'm not the only one who sees this from time to time.
if you try from a clean bash session do you see the same errors? If not what type of system do you run this on and do you see the same running ganga dev?

[2018-02-14 17:17] afortiorama commented on #1214
Yes, I see them. Both on lxplus and my local UI SL6.9 and SL6.8 respectively. I haven't tried on a CentOS7 machine yet. I haven't tried ganga-dev.

[2018-02-15 00:06] NickHastings commented on #1212
@mesmith75  thanks. Let me there is anything I can test or do to help get this fixed.

[2018-02-15 13:47] mesmith75 commented on #1144
@cvazquezs Thanks for reporting this. It looks to be a ganga bug rather than a user error.

[2018-02-15 13:56] chrisburr opened #1215 "Errors caused from stdin being inherited from parent process"
Using Control+C to cancel a running cell or clear the current prompt sometimes causes errors in ganga's internals, such as:

[code]

I think this is being caused by commands in `subprocess` being implicity called with `stdin=None` (for example in [`GangaCore.Utility.Shell`](https://github.com/ganga-devs/ganga/blob/b024d67066f02bfa545f928b324de7d9842abf65/ganga/GangaCore/Utility/Shell.py)). From th

[2018-02-15 14:21] mesmith75 commented on #1212
@NickHastings I think #1216 should fix this. If you have a local installation could you try with that branch?

[2018-02-16 02:16] NickHastings opened #1218 "IApplication does not have a is_prepared member"
Hi,

thanks for the very fast work on #1212. I  made that change in my 6.7.4 installation and it seems to fix that particular bug but it also reveals a new one.  My application is derived from IApplication which does not have a is_prepared member which seems to be needed in Job.py

From my ganga session
<pre>astings@kudu ~
% ~/work/ganga-debug/install/6.7.4/bin/ganga

*** Welcome to Ganga ***
Vers

[2018-02-16 02:17] NickHastings commented on #1212
Hi @mesmith75 ,

thanks for the very fast work! I  made that change in my 6.7.4 installation and it seems to fix that particular bug but it also reveals a new one. I submitted a new issue, #1218 for this.

Cheers,

Nick.

[2018-02-16 10:09] mesmith75 commented on #1218
I'm not sure if that is supposed to be in IApplication - for every other application it is put in their schema. Someone more knowledgeable should probably comment.

In any case I have added it into the ND280RDP application on the same PR #1216 . Let me know if that works.

[2018-02-16 17:29] mesmith75 commented on #1213
- [ ] Make workspace directories shorter. I was getting problems with pip install in virtual env because the directory was too long, hence Ganga-Release -> Release.

[2018-02-16 17:57] mesmith75 opened #1220 "EOFerror in execute"
A user is experiencing problems with `DiracFile.put()`. I have tracked the issue down to the unpickling of the stdout at https://github.com/ganga-devs/ganga/blob/c483fa6dfbfa15f17ca512e92cb70bb855965273/ganga/GangaCore/Utility/execute.py#L97

This is giving an `EOFError`:
[code]

Other DiracFile functions seem to execute fine, as does a request to `put` that should fail (i.e. if the file already e

[2018-02-16 18:16] #1220 closed, assigned to nobody

[2018-02-16 18:17] mesmith75 commented on #1220
nevermind - was an environment/cache issue.

[2018-02-18 22:44] mesmith75 opened #1222 "Outdated requirements"
In our setup.py we require some ancient versions of things - in particular I note ipython 1.2.1 . We should update or get rid of the version specific requirements altogether.

[2018-02-19 11:33] rob-c commented on #1222
IPython 2 requires Python 2.7 hence the holding this back (is sl6 still supported?): `http://ipython.org/ipython-doc/2/install/install.html#installing-ipython-itself` `http://ipython.org/ipython-doc/2/install/install.html#installing-ipython-itself`

On the other hand jumping to 3 would be fun ;) it has some proper solutions to work-arounds I'm aware of in 1.

If there was a docker image or set of

[2018-02-19 11:37] rob-c commented on #1222
otoh, this is not python3 so IPython 5 is the best I think ganga can realistically aim for atm `http://ipython.readthedocs.io/en/stable/install/index.html`: `If you are looking for an IPython version compatible with Python 2.7, please use the IPython 5.x LTS release and refer to its documentation (LTS is the long term support release).`

[2018-02-19 12:24] egede commented on #1222
I would hope that `pip` is clever enough to only install a version that is compatible with `Python2` if I use the `python2` version of `pip`.

Concerning `python2.6`, we are no longer supporting it. We basically say that people on an `slc6` system should in one way or the other have support for a more modern version of python.

[2018-02-19 13:43] rob-c commented on #1222
regarding python 2.6 good to hear!
regarding pip2 yes pip2 is smart enough to limit itself to python2.x packages. (I don't know if ganga even tries to install with pip3)

[2018-02-20 00:41] NickHastings commented on #1218
Ok thanks @mesmith75 , this seems to have fixed that problem. Now when running in the app I get

<pre>
anga In [7]: INFO     submitting job 15
INFO     job 15 status changed to "submitting"
ERROR    GangaAttributeError: Object 'runND280RDP' does not have attribute: 'prepare'
ERROR    GangaAttributeError: Object 'runND280RDP' does not have attribute: 'prepare' ... reverting job 15 to the new status

[2018-02-20 09:22] rob-c opened #1223 "Serious Bug in LHCb splitting"
User reported problems with LHCb job splitting... interesting as I am convinced that this didn't happen outside of development when I wrote the splitter.

This means that the total number of files after the splitter has finished + the number of files which have been rejected due to not having valid replica != the number of files which the splitter was asked to split by.

I'm injecting some extra d

[2018-02-20 09:30] rob-c commented on #1223
[code]

For some reason files are now getting no sites available vs having no replicas... this is a change in the underlying DIRAC behaviour as this was previously considered a problem that a user had requested a file which doesn't exist at all, ever, from the replica queries.

Fix will be to modify the following:
https://github.com/ganga-devs/ganga/blob/f2b9e3d4498a5848571e3ad8a8dc26932179c3fe/ga

[2018-02-20 09:47] chaen commented on #1223
I know NOTHING of it, but could it be due to the change I asked last week which is to used `getReplicasForJob` instead of `getReplicas` ?

[2018-02-20 09:56] rob-c commented on #1223
@chaen it could well be this after doing some looking through the history, it's a relatively minor bug afterall in ganga as the file is considered bad at a different stage in the splitter logic, we now remove the files because they appear to not be at any sites rather than have no valid replicas. (I think)
Either I suppose is fine and as long as the user gets a warning telling them this file was d

[2018-02-23 09:17] alexanderrichards commented on #1218
IPrepareApp inherits from IApplication and the prepared stuff is in there. Please inherit from that rather than IApplication. The Job.py file should not really be calling any prepared stuff directly but rather that should be done by the IPrepareApp in the standard master_configure methods or something like that. Given that we havent fixed that you should just inherit from IPrepareApp.

[2018-02-23 23:39] NickHastings commented on #1218
@alexanderrichards ahh, thanks, I thought it should be in a base class, but didn't notice IPrepareApp. I'll try as you suggest.

[2018-02-27 15:17] afortiorama opened #1231 "ARC backend"
Hi,

it doesn't seem to be possible to add the queue to the list of xrsl parameters.

The cream syntax <CE><port>:<queue> to submit doesn't work with arcsub and there is no queue object for the ARC backend, i.e. j.backend.queue does't work. Could you let me know if there is a recipe or consider to add an extra attribute to the ARC backend list?

cheers
alessandra

[2018-02-27 16:52] afortiorama commented on #842
it's still not working

[2018-02-27 16:56] afortiorama commented on #842
Infact I get this

ERROR    unknown configuration section: [defaults_GridCommand]
ERROR    unknown configuration section: [defaults_GridCommand]
ERROR    unknown configuration section: [defaults_GridProxy]
ERROR    unknown configuration section: [defaults_GridProxy]
ERROR    unknown options [LCG]GLITE_ENABLE
ERROR    unknown options [LCG]GLITE_ENABLE

[2018-02-28 20:12] cjones051073 opened #1232 "Add control of proxy lifetimes."
Currently there is no way to control the lifetime of a proxy created by ganga. Only the default 24hours is possible. Proxies with much longer lifetimes can be made by the underlying Dirac tools, so it would be very useful if ganga could expose this throughs he DiracProxy class.

[2018-03-01 08:50] cjones051073 opened #1233 "automatic job resubmission broken"
enabling job automatic resubmission of failed (sub)jobs fails in the latest ganga versions.

enabled with

[code]

it results in

[code]

Resubmitting the affected (sub)jobs by hand though works fine

[code]

[2018-03-01 09:12] rob-c commented on #1233
@cjones051073 Could this be a duplicate of: https://github.com/ganga-devs/ganga/issues/1166

[2018-03-03 19:26] JacekHoleczek opened #1235 "python-gflags : Obsolete. Please migrate to absl-py instead."
[PyPI > Package Index > python-gflags > 3.1.2](https://pypi.python.org/pypi/python-gflags/3.1.2)

[2018-03-06 14:28] mesmith75 commented on #1235
Yes. I think this should be done with the ipython update - upgrading will also likely break the old versions on CVMFS and AFS.

[2018-03-06 16:41] #1060 closed

[2018-03-07 06:46] egede commented on #1213
Machine has stopped responding. I have requested a reboot. Suspect that it is casused by a full disk as we have not put any protections in place yet for orphaned docker images.

[2018-03-07 09:15] alexanderrichards commented on #1213
Could be, however I will check with Simon as I know he was planning some upgrade work on the cloud at some point.

[2018-03-07 09:17] egede commented on #1213
Yes, it was indeed down for maintenance. Simon put it back up but it will go down shortly tomorrow again. I just take the chance now to clean up old images - there are indeed quite many.

[2018-03-07 09:27] alexanderrichards commented on #1213
did he say how long it will be down for tomorrow?

[2018-03-07 09:48] egede commented on #1213
@alexanderrichards  @mesmith75  The machine is running now, but it seems like the tests are not starting. Any idea what is wrong?

[2018-03-07 09:52] alexanderrichards commented on #1213
unlike before they don't start when you use a keyword in the pull request message box. I believe that they only start when a commit is made (or manually on the jenkins system).

[2018-03-07 09:52] alexanderrichards commented on #1213
they have just started now

[2018-03-07 09:53] egede commented on #1213
OK, so the Jenkins box picks up on a commit, but it does not pick up the missed ones.

@mesmith75 I thought you got the keyword thing "test me" or whatever to work. What is the magic?

[2018-03-07 09:53] egede commented on #1213
@alexanderrichards The one that started was due to a commit that I made.

[2018-03-07 10:02] alexanderrichards commented on #1213
I havent got that magic working yet as it's a different project type so I'll have to investigate if it's even possible. It is of course possible to manually start it from the jenkins box

[2018-03-07 10:03] egede commented on #1213
OK. I just committed a noop to the different pending ones. It should all go through now,

[2018-03-07 10:30] cjones051073 commented on #1233
Note, I also see the same issue in ganga 7.0.1

[code]

[2018-03-07 10:32] cjones051073 commented on #1166
Note, I believe this issue persists in ganga 7.0.1

[code]

[2018-03-07 11:01] mesmith75 commented on #1213
`test this please` should do it.

[2018-03-07 17:44] egede commented on #1213
Just updated the expired grid certificate on the Jenkins machine.

[2018-03-07 17:47] #1223 closed, assigned to nobody

[2018-03-07 18:37] #1233 closed, assigned to nobody

[2018-03-07 18:55] #1211 closed, assigned to nobody

[2018-03-08 07:03] egede opened #1238 "Avoid use of install script for /cvmfs and use pip instead"
We should retire the old install_script that is used for installation of the ganga version on /cvmfs. This will ensure that we have the identical libraries used everywhere and also will break our last dependence on /afs.

The best will be to implement this will be to install ganga inside a virtualenv on /cvmfs. However, we should provide a wrapper that means that the use of the virtualenv is not v

[2018-03-08 08:36] mesmith75 commented on #1174
Fixed by #1193

[2018-03-08 08:36] #1174 closed

[2018-03-08 11:37] milliams commented on #1238
When a script is installed into a virtualenv with pip it should automatically rewrite the shebang line to point to the python executable in said virtual environment which means that simply running the ganga script in `.../venv/bin/ganga/` should automatically use the correct Python interpreter.

[2018-03-08 12:42] #1232 closed, assigned to nobody

[2018-03-08 15:22] egede commented on #1238
@milliams So it does, and the `sys.path` is just correct then. That makes life easier. Slightly tricky thing that we have to make sure that the virtualenv is created with the correct python version (the box that we install into /cvmfs on probably just have a bog standard python 2.6).

[2018-03-08 15:29] milliams commented on #1238
Indeed. In Python 3, you can ensure this by writing:

[code]

since that explicitly specifies the python interepreter. But in Python 2, since virtualenv isn't bundled with Python, you have to do:

[code]

[2018-03-08 17:01] mesmith75 opened #1239 "Return errors from DIRAC submission script"
We should try to return the DIRAC error from the submission script - at the moment it just complains that there isn't a dict which is not helpful.

[2018-03-08 21:27] egede commented on #1238
@milliams To ge the `--python` tag to work is a bit of a hassle as it ends up with errors of the type

[code]
However, if `PYTHONHOME` is set correctly to point to the alternative python installation, then it works.

It is not obvious which python version to point to though. For LHCb, it would be obvious to use the one from the LHCb installation area, but if somebody else is using it and doesn't m

[2018-03-08 21:54] egede commented on #1238
OP, testing a bit more around, the following is the minimal thing that I can get working. Where is the script that we currently run on the /cvmfs installation machine?

[code]

[2018-03-09 17:11] milliams commented on #1238
That's annoying that you have to jump through those hoops but if it works, it works. It's worth noting that there's a small shortcut you can take so that instead of writing:
[code]
you can do it one go with:
[code]
by calling the explicit path to the copy of pip inside the virtualenv.

[2018-03-10 19:06] #1212 closed, assigned to nobody

[2018-03-12 11:48] #1218 closed, assigned to nobody

[2018-03-15 11:06] natfarleydev opened #1242 "Different architecture/gcc version on submitting machine and server causes CMake failure"
Having a different architecture on the host and on the server causes cmake to fail building as:

[code]

(Different versions as demonstrated using LHCb software stack:

[code]
)

[2018-03-15 11:52] mesmith75 commented on #1242
This shouldn't be an issue. When ganga makes the tarball it should do it in a fresh environment for whatever platform you asked for. Of course CMTCONFIG will give you gcc62 as that is the standard LHCb environment.

Have you tried running make first outside of ganga (with the desired platform)?

[2018-03-15 12:16] natfarleydev commented on #1242
If I switch platform (`source /cvmfs/lhcb.cern.ch/group_login.sh -c x86_64-slc6-gcc49-opt`) so that ganga is running on the same platform as the `GaudiExec` job, it builds fine.

The DaVinci folder builds using the platform `x86_64-slc6-gcc49-opt` (which is the platform `prepareGaudiExec` chooses) but with `x86_64-slc6-gcc62-opt` it fails.

(NOTE: DaVinci only builds after doing `git lb-use DaVinc

[2018-03-20 06:48] cjustin88 commented on #1165
Hi,

Is it possible to add this? Many months later, I am wishing again for this feature.

Thanks.

[2018-03-21 15:28] drmarkwslater commented on #1165
@cjustin88 I'll try to look into this in the next couple of days - very sorry for the delay!

[2018-03-26 13:49] drmarkwslater commented on #842
Hiya! Sorry for the delay - this has now been fixed and I've updated Dirac on CVMFS as well so I **think** ganga should work out of the box now.

[2018-03-26 13:49] #842 closed

[2018-03-26 15:15] mesmith75 opened #1244 "Registry checker fails if a postprocess runs"
The registry checker at startup #1193 causes a problem if it finds a job and puts it into completing. The postprocessor then runs which for a Dirac job causes problems because Dirac has not been loaded yet:

[code]

[2018-03-29 10:47] mesmith75 commented on #1242
hmm - I'll check this out.

This is for sure fine with regards the platform you submit from and the platform on the WN though.

[2018-03-29 10:50] mesmith75 opened #1245 "InvalidCredentialError causes ganga to quit on startup"
When running a script (`ganga submissionScript.py`) without already creating a credential ganga now throws an error and quits which is annoying. It used to give a warning and ask for the credential.

I think this is due to the new way exceptions are handled when starting up.

[2018-03-29 16:24] natfarleydev commented on #1242
Yes, the job works fine if it manages to get submitted (or rather, it builds fine and then fails for an unrelated DaVinci reason).

[2018-03-29 17:15] mesmith75 commented on #1242
Is this with prepareGaudiExec or with a DaVinci version you previously built?

[2018-04-03 10:17] mesmith75 commented on #1214
Is this still an issue? I think it has been fixed in the most recent versions.

[2018-04-04 08:22] drmarkwslater commented on #1214
I've just tried this myself and it seems to have been fixed by 7.0.1 at least which is what's on CVMFS. I'll close and @afortiorama can re-open/create a new issue if she sees it again.

[2018-04-04 08:22] #1214 closed, assigned to nobody

[2018-04-06 03:41] JacekHoleczek opened #1248 "trivial GangaND280/ND280RecoValidation/VFT_make_ana.py modification"
Could you, please, modify one line in the existing "GangaND280/ND280RecoValidation/VFT_make_ana.py".
Please replace:
`args.append('$ND280ANALYSISTOOLSROOT/macros/grtf/pdfgen/make_pdf.py')`
with:
`args.append('${ND280ANALYSISTOOLSROOT:-${RECONUTILSROOT}}/macros/grtf/pdfgen/make_pdf.py')`
You may add a git commit note in form:
The "grtf" macros are possibly moved from nd280AnalysisTools into reconUt

[2018-04-06 08:27] mesmith75 commented on #1248
Unfortunately none of the developers are involved with ND280. You are more than welcome to fork the repository and prepare your own PRs if you like.

[2018-04-06 08:32] drmarkwslater commented on #1248
@JacekHoleczek As Mark says, I think for traceability it's best if this comes directly from you or another ND280 member - we don't want to be accused of breaking it 😄

[2018-04-06 08:34] drmarkwslater commented on #1248
Ah - I should have looked a bit closer! I can see that @mesmith75 has already prepared the PR 😄

[2018-04-06 08:48] #1242 closed, assigned to nobody

[2018-04-06 14:43] mesmith75 commented on #1244
It also causes issues if another defunct session holds the lockfile. This is particularly bad if the lxplus connection drops whilst jobs are submitting:
[code]

[2018-04-08 18:19] #1248 closed, assigned to nobody

[2018-04-13 13:10] #1199 closed, assigned to nobody

[2018-04-13 13:27] #1239 closed, assigned to nobody

[2018-04-16 15:52] mesmith75 commented on #1245
Can't reproduce this.

[2018-04-16 15:52] #1245 closed, assigned to mesmith75

[2018-04-19 09:19] rob-c commented on #1244
@mesmith75 I'm a little surprised to see this. How is a job reaching the intermittent state `completing` ahead of the monitor running?
I'm assuming this is a master job which has all of it's sub-jobs completed? In which case isn't the best behaviour to force this job into a `running` state so that the monitoring will pick it up after startup has completed?

[2018-04-19 09:36] mesmith75 commented on #1244
@rob-c  I think this came about from a job that was completing as ganga was killed. I think you are right that it should go back to running - I haven't been able to deliberately reproduce this so I'm not precisely sure how this came about.

The problem with the lock file I think is a bit more of an issue.

[2018-04-19 09:54] rob-c commented on #1244
Only way to deal with the broken lock files is to wait for Ganga to deem it stale and remove it or remove the lockfile by hand. We can reduce this timeout but then it causes issues where ganga may have a delayed updae of a lockfile over nfs/afs if a user has multiple sessions so it's not  a great fix if you make that change.

[2018-04-19 10:30] mesmith75 commented on #1244
@rob-c I think the issue is more that the job registry check still runs even when the lock file is held by another session - it subsequently throws an error because it cannot update a job status and ganga quits.

I think it just needs to check if the lock file is available before running the check.

[2018-04-25 19:26] afortiorama commented on #842
mmmhhh could you look at it again please?

[code]

[2018-04-25 19:54] rob-c commented on #842
@afortiorama This is because you need to configure a file on your system `$HOME/.gangarc` This file needs to contain something like (I think the `_users` part is needed here from memory):

[code]

Ganga has no way of knowing which default credential you plan to use when accessing grid resources so needs to be told this as part of the initial config.

[2018-04-26 08:45] cjustin88 opened #1255 "Max # of concurrent subjobs in ganga athena --local mode"
If I submit a --local job with N number of subjobs, ganga athena launches all N subjobs at once. This could result in sub-optimal performance if N is greater than the # of cores on the machine and/or results in too much stress on the storage subsystem.

Can a setting that limits the max # of concurrent subjobs be added for --local operation? It could start (max #), then once one subjob finishes, a

[2018-04-26 08:52] will-cern commented on #1255
I'll just add that I think it would be ok if the "ganga athena" process sits there waiting for the running processes to finish so that it can spawn the next batch.

This functionality is only requested for the --local mode, it's probably not relevant for batch

[2018-05-10 11:54] mesmith75 opened #1256 "DiracFile missing `get` method"
DiracFile doesn't have a `get` method implemented.

[2018-05-10 11:55] mesmith75 opened #1257 "Remote inputfiles and optsfiles not working"
We need to fix the ability for jobs to have inputfiles or optsfiles as DiracFiles so they get copied to the WN. It doesn't look to be working properly at the moment.

[2018-05-10 12:22] rob-c commented on #1257
I think the best way of achieving this would be to add something like a `workerDir` parameter to the `DiracFile` class to allow for placing a file into a new relative directory on the WN.

It's still possible to just add the file to a directory within a `.tar` file and upload this with the job. This works as when that is extracted on the WN the file will then be placed in the correct path, but thi

[2018-05-10 12:28] rob-c commented on #1256
I think the logic for file `get`-ing is something similar to:

`DiracFile::get` == `IGangaFile::get` -> `IGangaFile::copyTo` -> `DiracFile::internalCopyTo`

The `get` method has slightly confusing (to preserve old expected) behaviour and if you want to know where a file is going I'd highly recommend using `copyTo` instead as this is implicit in what you're after.

A unittest for this would probabl

[2018-05-10 12:29] rob-c commented on #1256
Is this causing problems for people, or has the method become broken?

[2018-05-11 08:41] mesmith75 commented on #1256
Ah I see - in which case this is a non-issue. There was a bug elsewhere. Thanks!

[2018-05-11 08:41] #1256 closed, assigned to mesmith75

[2018-05-11 08:43] mesmith75 commented on #1257
@rob-c Yes you can just upload it with the job but it would be nice to give `inputfiles` an LFN and have it copy over to the WN. I can envisage people having vast BDT weight files that wouldn't fit into the sandbox.

[2018-05-11 10:56] rob-c commented on #1257
@mesmith75 The .tar `hack` works with DiracFile if the file is requested as an inputfile, but yes it would be nice to add direct support to the DiracFile so that it respects the placement of the file in the WN.

[2018-05-11 17:31] apsknight opened #1260 "Submitting Notebook as Ganga job"
While submitting Notebook as a Ganga Job, I am getting following error.

[code]

The error is because of this line:
https://github.com/ganga-devs/ganga/blob/cb18fa716605ac219e3f2ec354b05ab12adef7bc/ganga/GangaCore/Lib/Notebook/wrapperNotebookTemplate.py.template#L15

However the following is working fine
[code]

IPython version = 1.2.1

[2018-05-11 17:47] egede commented on #1260
@apsknight So this is in the code that is executed as part of the job. I suspect that it is an IPython version related issue. But why doesn't the test case fail in our continuous integration? Can you create a pull request with the suggested change. The continuous integration tests will then automatically run on it and we ca investigate the difference.

As a side comment, we are in the process of u

[2018-05-11 18:38] #1260 closed, assigned to egede

[2018-05-14 08:48] egede opened #1263 "Error when importing Ganga into Python session"
In version 7.0.2 of Ganga I see the following error in a python session

[code]

[2018-05-14 09:14] rob-c commented on #1263
Apologies this was me a while ago when adding protection from keyboard interrupts, should be a quick fix I think.

[2018-05-14 09:58] #1263 closed, assigned to mesmith75

[2018-05-14 13:17] apsknight opened #1265 "Importing Ganga in ipython shell."
In version 7.0.2 of Ganga, On running `import ganga.ganga` in an ipython shell, it gives following error

[code]

[2018-05-14 13:25] rob-c commented on #1265
@apsknight This looks like a Python3 related issue but is due to ganga failing to load the plugins.
Can you comment out this line 46 in the above file and re-run as this will give a more complete stack trace of what went wrong, hopefully with a meaningful error

[2018-05-14 13:52] apsknight commented on #1265
@rob-c After commenting `Line 46` following error is received
[code]

This error is because `commands` has been deprecated since Python 2.6 (https://docs.python.org/2/library/commands.html) but Python 2.6 has been deprecated by recent versions of ipython (http://ipython.readthedocs.io/en/stable/) so is there any possibility of importing Ganga in ipython ?

[2018-05-14 14:47] egede commented on #1265
@apsknight After @rob-c fixed the small issue this morning, I can import ganga into an ipython session. Did you try with the develop branch from Github?

[2018-05-14 14:48] egede commented on #1265
So from my desktop running Fedora 27

[code]

[2018-05-14 15:12] rob-c commented on #1265
@apsknight Can you verify which version of (I)Python you're using? when you use the very latest IPython by default you pull in Python3 as a requirement (_I think_).

[2018-05-14 15:16] apsknight commented on #1265
@egede Yeah, it works for Python2.7 but ipython has deprecated version lower than Python3.3 since ipython 6 (http://ipython.readthedocs.io/en/stable/). So I wanted to ask how can I import Ganga on a kernel running latest version of ipython.

[2018-05-15 08:13] egede commented on #1265
@apsknight At the moment, I do not think that is possible. We have not yet migrated Ganga to Python 3 (as there has been no demand within particle physics). I do not think it is a big job, but it is not done right now. Does this present a big problem for you?

[2018-05-15 08:53] #1257 closed, assigned to nobody

[2018-05-15 10:23] apsknight commented on #1265
Closing it for now, will let you know if I require something specific.

[2018-05-15 10:23] #1265 closed, assigned to nobody

[2018-05-15 12:06] mesmith75 commented on #1162
Closing this as I think it was fixed by #1157

[2018-05-15 12:06] #1162 closed

[2018-05-16 10:29] afortiorama commented on #1231
Any news on this?

[2018-05-17 09:09] mesmith75 commented on #1231
Hello,

I'll add a `queue` attribute to the ARC backend - would I be correct to see it has to be in the JDL but can be empty?

Unfortunately I don't have access to ARC so I can't test it though.

[2018-05-17 09:16] afortiorama commented on #1231
Thanks, I can help with testing if you point me to a development version.

[2018-05-17 09:50] mesmith75 commented on #1231
@afortiorama The branch from #1267 has the queue added. The xrsl looks like:
[code]

By default the `queue` argument is blank.

[2018-05-17 14:51] afortiorama commented on #1231
Hi,

the submission doing something like ganga job.py worked ok for me and it picked the right queue.

I couldn't though use this version to monitor the job because it complained about ipython missing. I put it down to the fact that I downloaded from github and the setup might be wrong.

replying to your comment in the other ticket, if you can add other extras, it will make easier for user using d

[2018-05-17 15:24] mesmith75 commented on #1231
@afortiorama Thanks for testing this - I also added `xRSLextras` that can take a `dict` if you want to add other arguments.

[2018-05-17 15:26] afortiorama commented on #1231
Thanks

[2018-05-17 16:56] egede commented on #1231
@afortiorama To get a running version when using Github, the best is to use pip inside a virtualenv and then just give the url for the download from git. Then the dependencies will get installed.

[2018-05-18 10:42] #1231 closed, assigned to nobody

[2018-05-18 10:43] mesmith75 commented on #1153
@afortiorama Is this resolved?

[2018-05-18 10:46] mesmith75 commented on #1231
@afortiorama That has been merged and will be in the DEV version on CVMFS from tomorrow.

[2018-05-18 17:56] mesmith75 commented on #1144
Fixed by #1216

[2018-05-18 17:56] #1144 closed

[2018-05-20 16:29] sabahsalih opened #1268 "WARNING Could not find info for job id 'None'"
I keep getting this every time I type

jobs

Ganga In [3]: jobs

WARNING  Could not find info for job id 'None'
WARNING  Could not find info for job id 'None'
WARNING  Could not find info for job id 'None'
WARNING  Could not find info for job id 'None'

and sometime when I quit

[2018-05-21 07:41] egede commented on #1268
This looks like an error from jobs submitted to the ARC backend. When using this backend, there is some pattern recognition done on stdout files, and it fails in this instance. This causes the job status to be stuck. If you can guess the jobs causing the error, I suggest just to remove them by using `j.remove()` with `j` being the job object. Using the ARC backend is a fairly deprecated use of the

[2018-05-23 10:32] sabahsalih opened #1269 "runing multicores job"
Dear All,  How could I submit a multicore jobs using ganga and ARC please

Many Thanks, Sabah.

[2018-05-23 16:32] sabahsalih opened #1270 "new release"
Dear All,
            I shall be very grateful if you could let us know when this become  a release please

https://github.com/ganga-devs/ganga/commit/52b367862ebc7af1a81878f52ee46264437073f8

Many Thanks, Sabah.

[2018-05-24 08:32] egede commented on #1270
@mesmith75 Can we initiate a new release this week?

[2018-05-24 08:34] egede commented on #1269
@sabahsalih Do you know what the underlying syntax is for asking ARC for this. From the Ganga side, we will just pass on an option. A secondary question is if there are any multicore resources available to run on.

[2018-05-24 08:56] sabahsalih commented on #1269
Dear Ulrik,
         Thank you so much for your kind reply.

I think is this

 j.backend.xRSLextras= {"count":8}
  j.backend.xRSLextras= {"count":8, "countpernode":8}

It came from

https://github.com/ganga-devs/ganga/commit/52b367862ebc7af1a81878f52ee46264437073f8
https://github.com/ganga-devs/ganga/pull/1267

Yes the Grid farm have alot of multicore resources available to run on

   Many Thanks,

[2018-05-24 09:15] mesmith75 commented on #1270
@egede I'll check with @alexanderrichards in case anything is occurring with Jenkins, otherwise yes.

[2018-05-24 09:17] mesmith75 commented on #1269
@sabahsalih Would it be possible to confirm that commit works as intended?

[2018-05-24 09:21] egede commented on #1269
So the ability will come through #1267. So I will just close this request. As #1267 has already been merged, you can just pull the default version of Ganga from git and you will get it - or if you are running from `/cvmfs` you can use the DEV version that already has it included.

[2018-05-24 09:21] #1269 closed, assigned to nobody

[2018-05-24 09:23] sabahsalih commented on #1269
Dear Mark,
         I wil run it I feed back this afternoon.

   Many Thanks, Sabah.

From Sabah Salih
Particle Physics Group,
The School of Physics and Astronomy,
The University of Manchester,
Schuster Laboratory,
Brunswick Street,
Manchester M13 9PL.
Tel: +44 1612754171 or  x4171
E-mail: sabah.salih@manchester.ac.uk
________________________________
From: Mark Smith [notifications@github.com]
Sen

[2018-05-24 09:37] sabahsalih commented on #1269
Dear Mark,
         I submitted the job with

     j.backend.xRSLextras= {"count":8}
    j.backend.xRSLextras= {"count":8, "countpernode":8}

   When I go to ganga
I get the following:

jobs(208)
Ganga Out [2]:
 Job (
   comment = ,
   parallel_submit = True,
   outputdir = /afs/cern.ch/user/s/sabah/gangadir/workspace/sabah/LocalXML/208/output/,
   id = 208,
   status = submitted,
   do_auto_resub

[2018-05-24 13:09] Sam-Tygier commented on #1269
Note in the above output, the xRSLextras are being passed but not displayed correctly.

`xRSLextras = [count, countpernode],`

Please see pull request #1272

[2018-05-24 16:14] sabahsalih commented on #1269
Dear Mark,
         Thank you ao much. The Job is still in a submission status as the farm is full. However
 As you can see the following is an output from the batch system

Lines from the batch system

Job 303410.000 defines the following attributes:

    DiskUsage = 75
    RequestCpus = 8
    RequestDisk = DiskUsage
    RequestMemory = 16384

 As you can see ir is working.
I shall be very gratef

[2018-05-24 16:49] mesmith75 commented on #1269
@sabahsalih Thanks for letting us know it is ok. We'll push out the release tomorrow.

[2018-05-24 22:57] cjustin88 opened #1273 "Ganga registers failed Athena subjob (non-zero exit code) as complete"
Athena returns a non-zero exit code but Ganga registers the subjob as complete, when instead it should be registered as failed.

In this example, I am trying to access an element that is out of bounds in my Athena algorithm execute method, for example:
[code]
This throws an exception, as expected, and Athena reports error code 64 or 65:
[code]
...
[code]

but when I check Ganga `jobs` and `jobs.su

[2018-05-25 13:02] #1153 closed

[2018-05-25 14:34] alexanderrichards commented on #1270
yes please go ahead

[2018-05-25 14:48] mesmith75 commented on #1270
7.0.3 has been released.

[2018-05-25 14:48] #1270 closed, assigned to nobody

[2018-05-25 14:57] sabahsalih commented on #1270
Dear Mark,
         Thank you and Thank you ever so much.

   Many Thanks, Sabah.

From Sabah Salih
Particle Physics Group,
The School of Physics and Astronomy,
The University of Manchester,
Schuster Laboratory,
Brunswick Street,
Manchester M13 9PL.
Tel: +44 1612754171 or  x4171
E-mail: sabah.salih@manchester.ac.uk
________________________________
From: Mark Smith [notifications@github.com]
Sent:

[2018-05-29 10:32] mesmith75 opened #1275 "SGE specify python"
Do we want to add the shell specification to our SGE jobscript or qsub by default `-S /usr/bin/python` .

Edit: Also update to `subprocess` apparently.

[2018-05-30 09:35] mesmith75 opened #1278 "TaskChainInputData not working"
I am not able to chain output from one transform to the next.
[code]
fails:
[code]

[2018-05-30 14:15] moredanphysics opened #1279 "Change default directory for application check-out"
When using "prepareGaudiExec()" the application is always checked out in ~/cmtuser/ which means that, as soon as the action is repeated, Ganga fails as it already has an application.

Would it not make more sense to check out the application in the /tmp/ directory, under a directory with a random (or otherwise unique) name? Alternatively, Ganga should clean up the ~/cmtuser directory after submiss

[2018-05-30 18:50] mesmith75 commented on #1279
Using `myPath='/path/to/some/location/of/your/choice'` sets where it gets checked out to. Perhaps we can change the default to `/tmp/user` - I don't think it makes any difference.

With regards cleaning up I'm not sure people will be too impressed with ganga carrying out `rm -rf` commands.

[2018-05-31 08:00] egede commented on #1279
I guess there are two different use cases here.

1. The checked out area is not really used as the only change is a single options file, potentially located elsewhere.
2. The are has checked out C++ code that the user is developing.

For the first case, the proposal from @DanJohnsonCERN makes sense but not at all for the second case. I suggest to leave things as they are. If you want the expected

[2018-05-31 08:00] #1279 closed, assigned to nobody

[2018-05-31 08:48] moredanphysics commented on #1279
Hi all,

Surely if one is using "prepareGaudiExec("DaVinci","v44r3")" (or whatever the exact syntax is I don't remember) one is expecting to get exactly the same code every time. So I'm struggling to understand use-case (2) from Ulrik.

Isn't it more likely that most people are using this function precisely *because* they aren't developing code, otherwise they'd be using GaudiExec not prepareGaudi

[2018-05-31 09:21] egede commented on #1279
@DanJohnsonCERN I believe that it is used once within Ganga (as an interactive command) and not in scripts for every job submitted.

[2018-05-31 09:25] moredanphysics commented on #1279
I'm not so sure - I think lots of people are using it as recommended here (https://lhcb.github.io/starterkit-lessons/first-analysis-steps/davinci-grid.html) where it just goes instead of "GaudiExec()" in your Ganga script.

If that's not how prepareGaudiExec() should be used, can I suggest we add something to do it inside a script - i bet many people just want to use the vanilla DaVinci and don't

[2018-05-31 09:51] egede commented on #1279
Well the same page is discussing using `GaudiExec` just a bit further down so I am not sure about the difference. I would prefer that the users are reusing the same checked out area each time rather than performing a new check-out each time. You suggestion also has several problems.

- Ganga should not automatically delete items which are created by a user action. It gives an unpredictable change

[2018-05-31 10:02] rob-c commented on #1279
I suggested that this page on DaVinci/ganga lessons be re-worded a while ago to avoid this sort of confusion in understanding how this should be used.

In short `prepareGaudiExec()` should only be used once (if required) to get your git based project checked out. It was added to address people wanting to run DaVinci jobs without doing local developments. i.e. submitting with new job opts etc.

Gau

[2018-05-31 12:39] #1275 closed, assigned to mesmith75

[2018-06-01 08:30] moredanphysics commented on #1279
Hi @rob-c , @egede , Taking one further step back, why does DaVinci need to be checked out at all? Why can't the grid job just execute "lb-run" somewhere? Or is this an LHCbDirac limitation?

PS: Rob I see you mentioned a complication from the lhcb scripts that I can't say I understand... why does this stop us running lb-run?

[2018-06-01 08:53] egede commented on #1279
@DanJohnsonCERN That is worth a discussion. Please start a new thread.

[2018-06-01 09:34] rob-c commented on #1279
Hi again,

OK the job submission broadly has the following constraints:

Ganga doesn't know what (if anything) has been changed in a project.
i.e. Ganga has no way of querying does this LHCb application need to be rebuilt each time.
How should Ganga construct the environment for the job on the worker node?
i.e. How if something has changed should this overload the default components on the worker

[2018-06-01 14:57] mesmith75 opened #1280 "Make GaudiExec build failure errors friendly."
They are not very helpful at the moment.

[2018-06-04 07:58] moredanphysics opened #1281 "Application checkout"
Hi @rob-c , @egede , Taking one further step back, why does DaVinci need to be checked out at all? Why can't the grid job just execute "lb-run" somewhere? Or is this an LHCbDirac limitation?

PS: Rob I see you mentioned a complication from the lhcb scripts that I can't say I understand... why does this stop us running lb-run?

See https://github.com/ganga-devs/ganga/issues/1279#issuecomment-393815

[2018-06-04 09:12] rob-c commented on #1281
Just adding my comments again from #1279 (see below).

There are potential problems introduced in expecting ganga to grab a pre-built target of an application from cvmfs that it was felt could simply be avoided by requiring a user actually build their own target to submit with their jobs.

The only way around this is to give ganga the ability to look for a pre-built target on a worker node (in the

[2018-06-04 09:31] rob-c commented on #1280
Yeah I'd been thinking this for a while seeing the mailing list posts over and over.

Maybe the `execCmd` is the wrong place to log an error and it should be the processes calling this which track what went wrong? I suppose the whole "_failed to execute command:..._" is only useful for debugging.

[2018-06-05 11:14] mesmith75 commented on #1280
I think we should return the whole stdout here. It is very possible the build fails due to bad user code, in which case that would be the most useful for them, even though it is lengthy.

[2018-06-06 13:39] egede opened #1282 "DiracFiles in inputfiles should not be labelled as inputdata in Dirac"
When an LFN is listed in the inputsandbox in the Dirac API, the file pointed to is copied to the PWD on the worker node when the job starts. This is waht happens if a `DiracFile` is used a an inputfile for the `Dirac` backend. However, in the line

https://github.com/ganga-devs/ganga/blob/8ca6ee73653e32b272d4d5055187d1892f5558e3/ganga/GangaDirac/Lib/RTHandlers/DiracRTHUtils.py#L148

we set it as `

[2018-06-06 14:05] egede commented on #1282
Suggested fix above is not correct. The line above actually correctly assigns the inputdata field. I have so far failed to find where DiracFiles in inputfiles are assigned as inputdata as well.

[2018-06-06 14:12] mesmith75 commented on #1282
Is this just an issue for GaudiExec ?

[2018-06-06 15:04] egede commented on #1282
No, I just reproduced this myself with a standard executable application.

[code]
is producing the script

[code]

Also note that `/lhcb/test` is repeated twice in the inputsandbox.

[2018-06-06 21:26] rob-c commented on #1282
A workaround for the moment might be to try `j.backend.settings({'InputData':[]})` within ganga as this should overload the `setInputData` attribute before the job is submitted.
Granted this doesn't fix the double inputsandbox attribute which is a little odd. Could this have come from the recent changes to collect the jobs before submission?

[2018-06-08 09:29] rob-c opened #1284 "problems with dirac_ui on cvmfs"
Hi all,

This isn't really a problem with Ganga as much as the Ganga/DIRAC installation on CVMFS.

When trying to use the dirac_ui installed on cvmfs I keep hitting a problem of:
[code]
Which is repeated indefinitely when trying to submit a job. (The directory doesn't exist on the machine I tried it on it only had cvmfs installed and I don't have admin access to the machine)

However, I'm able to

[2018-06-08 09:36] mesmith75 commented on #1281
Won't fix.

[2018-06-08 09:36] #1281 closed, assigned to nobody

[2018-06-08 11:52] #1280 closed, assigned to mesmith75

[2018-06-09 12:19] apsknight opened #1286 "TypeError in Ganga Python3"
In [ganga_python3](https://github.com/ganga-devs/ganga/blob/ganga_python3/) branch. On installing Ganga in Python3 environment
[code]

The error is due to this line:
https://github.com/ganga-devs/ganga/blob/3289fd712357c414c94c054878e3edbac840ddb0/python/Ganga/Core/GangaRepository/SessionLock.py#L410

[2018-06-09 12:39] apsknight commented on #1286
I've fixed this issue locally by modifying this line to
[code]
Now, the Ganga is starting but still on loading Ganga by `import ganga` in Python3, I am receiving this warning.
[code]

Also, on shutdown, I'm receiving following error

[code]

[2018-06-09 20:51] egede commented on #1286
The warning is exactly of the type that @alexanderrichards described in the meeting. For the shutdown message, I have no idea.

[2018-06-09 20:52] egede commented on #1286
@apsknight.  If you fix an issue, feel free to commit back to the branch.

[2018-06-11 08:49] alexanderrichards commented on #1286
yes this branch is a work in progress and is not fully ready yet hence no PR yet. I am working my way through the bugs (alas there are many!). If you find them and fix them before me then please commit back to this branch

[2018-06-11 08:52] #1286 closed, assigned to nobody

[2018-06-17 10:32] apsknight opened #1288 "Python3 pickle decoding error"
https://github.com/ganga-devs/ganga/blob/845f3f8239f17304fe92aa0a8efab4ab93406967/python/Ganga/Core/GangaRepository/PickleStreamer.py#L18

`UTF-8` is unable to decode some characters in byte string thus it is giving errors like this,
[code]

a simple solution of this could be changing the line to
[code]
Reference: https://stackoverflow.com/a/46748988

[2018-06-17 10:33] apsknight commented on #1288
@alexanderrichards Should I update this line as stated above ?

[2018-06-18 09:13] egede commented on #1288
@apsknight Yes, please go ahead if this solves the problem.

[2018-06-18 09:28] alexanderrichards commented on #1288
@apsknight I'm happy to go with this fix if it solves the problem but I'm a little nervous that we are not throwing away something important by slicing the output string. what is in the first two characters that we slice?

[2018-06-18 13:36] apsknight commented on #1288
@alexanderrichards
It removes `b(` and `)` from output.

[2018-06-18 14:12] alexanderrichards commented on #1288
ah of course. What is the source of this string if not utf-8 is this a pickled object?

[2018-06-19 17:47] apsknight commented on #1288
@alexanderrichards Yes

[2018-06-19 17:47] #1288 closed, assigned to nobody

[2018-06-19 17:51] apsknight opened #1289 "Runtime of jobs submitted to condor"
`Ganga Version: 7.0.3`
While querying the runtime of jobs submitted to Condor backend using `j.time.runtime()`. I am getting following error.

[code]

[2018-06-19 17:51] apsknight commented on #1289
@alexanderrichards @egede Please look into this.

[2018-06-20 12:36] alexanderrichards commented on #1289
is this only the case for Condor backend?

[2018-06-20 13:16] apsknight commented on #1289
For Localhost backend, I can query the runtime after Job has been completed.

[2018-06-20 13:24] alexanderrichards commented on #1289
I assume then that the error lies in the Condor backend, specifically in the monitoring function.
perhaps it's not setting the timing information properly

[2018-06-26 21:10] mesmith75 commented on #1282
@rob-c I apologise, I was wrong. This does indeed work fine for executable jobs. There is an issue with GaudiExec not including DiracFiles which I think I have found the source of. Let's merge this and I'll fix that in a separate PR.

[2018-06-26 22:02] #1282 closed, assigned to egede

[2018-06-29 09:15] mesmith75 commented on #1289
Setting the timestamps hasn't been implemented for Condor. I'll add that in and make it fail nicely if a backend doesn't have them.

[2018-06-29 13:42] mesmith75 commented on #1238
Did we ever decide on a plan with virtualenv? I am quite keen to get it implemented and bring us up to date.

[2018-06-29 18:01] #1289 closed, assigned to mesmith75

[2018-07-02 16:15] mesmith75 commented on #1238
So this seems to be working ok.There is a version at `/cvmfs/ganga.cern.ch/Ganga/install/ipythonTest` that works for me. Let's see if there are any comments.

[2018-07-05 08:29] jamesp-epcc opened #1297 "DiracFile input files are no longer being fetched"
When submitting jobs that specify a logical filename as input using DiracFile, the input file is no longer being fetched from the grid so the job fails. Looking at the generated Dirac script dirac-script-0.py, the DiracFile input file is not referenced at all in there.

Example Ganga script:

[code]

The dirac-script-0.py generated by Ganga:

[code]

I believe this is due to changes that were made

[2018-07-05 08:46] egede commented on #1297
@mesmith75 Is this related to #1290 that went into the last release?

[2018-07-05 09:27] mesmith75 commented on #1297
I am unable to reproduce this...
Can you try a more minimal job?
[code]

[2018-07-05 09:37] jamesp-epcc commented on #1297
I have submitted the minimal job. It hasn't started running yet, but looking at the generated dirac-script-0.py, again there is no reference to `instcat-WFD-z-000025.tar.gz` in there.

[2018-07-05 09:45] mesmith75 commented on #1297
Are you definitely running Ganga 7.0.4 ?

[2018-07-05 09:47] jamesp-epcc commented on #1297
Yes, I just checked, it's 7.0.4.

The minimal job has completed now. This is the output:

[code]

The DiracFile input file is not listed as being present on the WN.

[2018-07-05 10:14] #1222 closed, assigned to nobody

[2018-07-05 15:42] mesmith75 commented on #1235
Fixed in #1229

[2018-07-05 15:42] #1235 closed, assigned to nobody

[2018-07-06 13:48] mesmith75 commented on #1238
Fixed by #1296 #1229 #1298 #1299

[2018-07-06 13:48] #1238 closed, assigned to nobody

[2018-07-10 07:13] apsknight opened #1300 "Unable to submit Job in Python3"
When I submit a Job in Python3 using the installation of [this branch](https://github.com/ganga-devs/ganga/tree/ganga_python3) of ganga, I am getting following error.

[code]

[2018-07-10 07:24] apsknight commented on #1300
I tried fixing it by modifying this line
https://github.com/ganga-devs/ganga/blob/eb23993fd524580f6bb3a347d940cbd25cd25a2c/python/Ganga/GPIDev/Adapters/IPrepareApp.py#L182
to
[code]
but then again on submitting Job, I am getting this error,
[code]

This error seems to originate from here,
https://github.com/ganga-devs/ganga/blob/eb23993fd524580f6bb3a347d940cbd25cd25a2c/python/Ganga/Core/Sandbox/Sa

[2018-07-10 07:55] alexanderrichards commented on #1300
Thanks I'll take a look

[2018-07-11 10:48] apsknight commented on #1300
Hey, @alexanderrichards any update on this ?

[2018-07-11 11:27] alexanderrichards commented on #1300
sorry not yet, I'm very busy at the moment with other projects and preparations for the summer school. I plan to have a look by our meeting on friday but if you have a chance before that please feel free to submit a patch.

[2018-07-11 13:49] jheuel opened #1301 "Font color barely readable on dark backgrounds"
Some font colors are barely readable in combination with dark backgrounds (e. g. dark blue font color for the prompt).

As I understand the color schemes of ipython are used and there is a section in the default .gangarc where I should be able to configure ipython to use another colorscheme ("Linux", "LightBG", "NoColor", ...). uncommenting this and trying the different schemes has no effect on my

[2018-07-11 14:08] egede commented on #1301
Which version of Ganga do you use? As the latest version (7.1.0) has changed the iPython version, something may very well have gone wrong here.

[2018-07-12 07:53] jheuel commented on #1301
I am using 7.1.0 (the default on lxplus).

![image](https://user-images.githubusercontent.com/12282358/42619894-a138fdfe-85b9-11e8-8876-5e0b9abe6dac.png)

[2018-07-12 08:54] egede commented on #1301
Colour schemes has indeed changed for iPython5. See https://ipython.readthedocs.io/en/stable/config/details.html
A short term fix is to use the iPython magic command like

```%colors Linux```

at the prompt. See ```%colors?`` for other options available.

[2018-07-12 09:34] jheuel commented on #1301
Is there also a way to make this permanent?
I did set the color scheme in `.ipython-ganga/profile_default/ipython_config.py`:
[code]
This works in the vanilla ipython shell but is ignored by ganga.

[2018-07-12 10:42] egede commented on #1301
Yes, sure, it should go into the next version.

[2018-07-12 10:47] jheuel commented on #1301
Thank you! :+1:

[2018-07-13 07:47] alexanderrichards commented on #1300
yes I have fixed both of these. the latter I used the tarfile module to replace the separate open + tarfile with a tarfile.open.

I now have another problem to solve with string -> bytes

[2018-07-13 07:57] alexanderrichards commented on #1300
ok I've fixed this issue too and I can now submit a job again. please check that you can too

[2018-07-13 07:59] alexanderrichards commented on #1300
looks like just the jobscripts need converting now

[2018-07-13 08:50] apsknight commented on #1300
Yes, I can submit Jobs now but there is an error in Jobscript
[code]

[2018-07-13 09:32] alexanderrichards commented on #1300
this looks like the 2to3 tool has converted the jobscript for python3 but I assume that it's actually running on a python 2 environment.
python2: ConfigParser
python3: configparser

[2018-07-13 09:34] alexanderrichards commented on #1300
are you running a local, batch or grid job?

[2018-07-13 10:47] apsknight commented on #1300
local job.

[2018-07-13 12:00] egede commented on #1301
Please try the DEV version on /cvmfs tomorrow and report back if problem is not fixed. Just try

[code]

[2018-07-13 12:00] #1301 closed, assigned to mesmith75

[2018-07-14 10:54] apsknight commented on #1300
Okay, I changed python to python3 and the configparser error didn't appear. Now there seeme to be only jobscript error,

[code]

[2018-07-14 11:53] apsknight commented on #1300
@alexanderrichards I've fixed jobscript now there is no error while submitting jobs but after submitting Job, unlike Python2 on running `ganga.runMonitoring()` is not picking the submitted Job so a submitted job is not running.

[2018-07-18 08:23] mesmith75 commented on #1107
@AliYmn @goi42 Does this work with the latest version of ganga?

[2018-07-19 13:59] goi42 commented on #1107
I haven't attempted to use Ganga on my Mac since my last comment. I'm afraid I cannot check right now as I can't take the time to debug any issues it might cause.

[2018-07-20 11:10] mesmith75 commented on #1300
As noted on the discussion this has been fixed. A slight change was needed here to remove the `set()` around `jobList` though I am not entirely sure why.

https://github.com/ganga-devs/ganga/blob/53e0ffa20b206946fd5086ddd72ee6398e01a5a6/python/Ganga/Core/MonitoringComponent/Local_GangaMC_Service.py#L320

[2018-07-20 14:44] apsknight commented on #1300
@mesmith75 Yes, I can confirm it solves the problem. Thank you so much.

[2018-07-20 17:31] apsknight commented on #1300
@mesmith75 Hey Mark, there is another similar issue when you again submit a job. (The monitoring doesn't pick it).

When you submit a Job for first time, this `else` condition triggers,
https://github.com/ganga-devs/ganga/blob/53e0ffa20b206946fd5086ddd72ee6398e01a5a6/python/Ganga/Core/MonitoringComponent/Local_GangaMC_Service.py#L319

But if you submit a job again in same session with same backend

[2018-07-22 11:53] mesmith75 commented on #1300
Hmm, this is a bit trickier - I am pretty sure that by definition `Job` should not be hashable - they are mutable objects.

[2018-07-23 08:38] mesmith75 commented on #1300
@apsknight I have added the hash method to Job and it seems to be working now.
https://github.com/ganga-devs/ganga/blob/caa092d8c3fc324d1c6bea73e04ea09731ca4498/python/Ganga/GPIDev/Lib/Job/Job.py#L293

[2018-07-23 08:39] alexanderrichards commented on #1300
@mesmith it works but does it make sense though? What is the hash computed on? As you say jobs are mutable so you wouldn't want the hash to change when their attributes change.

[2018-07-23 08:51] alexanderrichards commented on #1300
so @egede told me you did it based on job id. This should be safe then

[2018-07-23 08:59] mesmith75 commented on #1300
@alexanderrichards yes. I don't think it is technically the correct thing to do but it seems the easiest and shouldn't do any harm.

[2018-07-23 11:12] rob-c opened #1304 "cvmfs dirac-ui installation having problems"
From a machine where I don't have admin access to create a missing directory I get the following error when trying to use the installation from cvmfs.
(installing the ui by hand on this machine locally fixes this as a work-around but for new users this is a bit of a mess as the ui doesn't strictly need this directory to exist, and imo shouldn't rely on it).

[code]

I'm not sure there is a nice wa

[2018-07-23 11:15] rob-c commented on #1297
This does appear to be a bug in the latest ganga:

[code]

I'll have a look at a fix

[2018-07-23 11:20] rob-c commented on #1297
Was there a change recently to consolidate the submission of jobs? I'm a little confused by the subjob 0 of 0 message. I'll add a check to remove this when there are 0 subjobs as this is a bit odd imo.

[2018-07-23 13:58] apsknight commented on #1300
Hey, @mesmith75 Yes, it is working but sometime, I'm recieving these errors:
[code]

[2018-07-23 14:00] mesmith commented on #1300
Pretty sure I'm the wrong mesmith for your project.

Mark

On 07/23/2018 09:58 AM, Aman Pratap Singh wrote:

--
Mark Smith * President, 7B Software, Inc.
Office: 772.231.0227  Cell: 336.681.1747
mark.smith@7bsoftware.com -- http://www.7bsoftware.com

"Uncertainty is always in contango" -- Mark Smith

[2018-07-23 14:19] apsknight commented on #1300
For now, I changed this line,
https://github.com/ganga-devs/ganga/blob/caa092d8c3fc324d1c6bea73e04ea09731ca4498/python/Ganga/Core/GangaThread/WorkerThreads/WorkerThreadPool.py#L80
to
[code]
and everything seems to be working fine.

[2018-07-23 15:17] alexanderrichards commented on #1300
this is not the right change to make. The explicit catching of queue.Empty is supposed to pass without reraising as it indicates no work for the pool to do. This error is a real error and all you are doing here is ignoring it while also making the threadpool  less robust.

The correct fix is to implement comparison between jobs. Something which I'm not convinced makes sence, Or better, to see why

[2018-07-24 08:52] #1297 closed, assigned to mesmith75

[2018-07-25 10:17] mesmith75 commented on #1300
@apsknight When are you receiving those errors ? I don't find them.

[2018-07-26 11:11] mesmith75 opened #1306 "Extend the colour scheme to the jobs table"
Make it easier to read.

[2018-07-26 12:56] #1306 closed, assigned to nobody

[2018-07-26 18:20] apsknight commented on #1300
@mesmith75 I removed the corrupted jobs and then I also didn't faced this error. Thank You.

[2018-07-26 18:20] #1300 closed, assigned to alexanderrichards

[2018-07-27 09:10] apsknight opened #1307 "Importing Ganga Namespace in Python"
On running
[code]
in Python shell, the namespace of Ganga is not importing into it, so when I run `j = Job()` in Python shell, it gives following error:
[code]

[2018-07-27 10:07] mesmith75 commented on #1307
So I think this is due to our suboptimal package layout. As a workaround you can:
[code]

[2018-07-27 20:03] #1307 closed, assigned to nobody

[2018-07-30 16:35] moscicki opened #1309 "rename the tab "Ganga Jobs""
Please rename to "Jobs"

![image](https://user-images.githubusercontent.com/621965/43410474-4b6f18fa-9427-11e8-9868-c86e4447d178.png)

[2018-07-30 16:39] apsknight commented on #1309
@moscicki Maybe, you wanted to open this issue on `gangaextension` repo, I've opened it here : https://github.com/apsknight/gangaextension/issues/23

[2018-07-30 16:39] #1309 closed, assigned to nobody

[2018-07-31 11:59] apsknight opened #1310 "Ganga Python3 not writing logs in .ganga.log file"
The Python3 version of Ganga in `ganga_python3` branch is creating `.ganga.log` file in User's home directory but not writing any logs in it.

[2018-08-01 18:01] afortiorama opened #1311 "Updating version in CVMFS"
Hi,

could the version in CVMFS be updated please? Or is there a reason why it hasn't? Some users are waiting to for the last fix Rob committed.

thanks

cheers
alessandra

[2018-08-01 21:09] mesmith75 commented on #1311
The DEV version on CVMFS is updated daily if you need it.

We just haven't made a new release recently but we can do that this week.

[2018-08-02 00:48] afortiorama commented on #1311
Hi Mark, it'd be helpful if the production release in CVMFS was was updated.

[2018-08-07 14:40] apsknight opened #1314 "Lost Connection Error"
While submitting Ganga Jobs, sometimes there is an error due to stomp library. More discussion about this error can be found here: https://github.com/apsknight/gangaextension/issues/8

This is the logger entry corresponding to this error in `.ganga.log` file:

![](https://user-images.githubusercontent.com/19551774/43357791-843c6f04-92a4-11e8-9ebc-3782ff5d6074.png)

[2018-08-07 16:01] mesmith75 commented on #1310
I'll be honest, this has me pretty stumped. I can get it to have both the `StreamHandler` and the `RotatingFileHandler` but only with a load of extra printout.

You have to set the level of the default logger now, but doing so gives info that I guess is normally supressed:
[code]

[2018-08-08 15:19] mesmith75 commented on #1314
We could change this to DEBUG ?

[2018-08-08 16:08] #1132 closed

[2018-08-08 17:10] apsknight commented on #1314
But this is also slowing down the submission of Job. Maybe @egede or @rob-c can tell better, what to do with this.

[2018-08-09 09:29] mesmith75 commented on #1314
Ah I see, we want to stop stomp entirely

[2018-08-09 10:18] mesmith75 commented on #1314
What if you set `UsageMonitoringMSG` to `False` in your .gangarc ? That should stop stomp trying to publish things.

[2018-08-09 11:03] mesmith75 opened #1316 "Improve Condor submission"
We need to improve the submission of Condor jobs.

[2018-08-09 18:01] mesmith75 commented on #1314
Solved

[2018-08-09 18:01] #1314 closed, assigned to nobody

[2018-08-09 18:03] mesmith75 commented on #1311
@afortiorama Sorry for the delay with this - the testing was having issues and then some things got merged that needed checking before release.
I'll do the new release first thing in the morning.

[2018-08-10 07:34] moscicki opened #1318 "Ganga Condor job splitting"
Instead of submitting 1000 subjobs as 1000 individual Condor jobs Ganga should split it using Condor mechanisms... Is anything like that available?

Please see here: https://github.com/apsknight/gangaextension/issues/28

[2018-08-10 08:40] mesmith75 commented on #1311
7.1.1 release

[2018-08-10 08:40] #1311 closed, assigned to nobody

[2018-08-10 14:10] afortiorama commented on #1311
Thanks

[2018-08-10 15:19] mesmith75 commented on #1318
This is not so straightforward. Each subjob has its own script to execute but you can only have one `executable` in the condor submission script.

The executable needs to be a wrapper that takes an argument to execute the real `Ganga_0_Executable` that gets copied over.

[2018-08-13 07:26] egede opened #1320 "Strip out Ganga spyware"
The spyware code (using STOMP) should be stripped out of Ganga. I do not think we really use it any more, and to be GDPR compliant it would anyway need a complete revision. First step would be to set `UsageMonitoringMSG` to `False` by default.

[2018-08-13 14:21] #1320 closed, assigned to nobody

[2018-08-13 15:05] #1318 closed, assigned to nobody

[2018-08-13 15:05] mesmith75 commented on #1316
Fixed by #1319

[2018-08-13 15:05] #1316 closed, assigned to mesmith75

[2018-08-15 13:04] alexpearce opened #1325 "Can't assign a job's dataset if a namedtuple is instantiated in a script"
I have a rather bizarre problem. Take this script:

[code]

Then run with Ganga 7.1.1 as a script:

[code]

One gets this traceback:

[code]

There is _no_ error if I make either one of the following two changes:

1. Change the definition of `UserTuple` to only have one field, e.g. `UserTuple('UserTuple', ['foo'])`
2. Do not assign the instantiated `UserTuple` to a variable, i.e. delete (`ut =`)

[2018-08-16 14:10] #1325 closed, assigned to nobody

[2018-08-17 15:12] mesmith75 opened #1328 "Dirac job killing"
I hear rumours that Ganga is not properly killing jobs on Dirac. I shall investigate...

[2018-08-19 19:18] mesmith75 commented on #1328
Can't reproduce the rumours.

[2018-08-19 19:18] #1328 closed, assigned to mesmith75

[2018-08-25 10:12] rmatev opened #1333 "ROOT not correctly setup"
The ROOT that ganga is trying to use for merging is not usable the way ganga tries to use it, as it requires a newer `libstdc++` than available on the system. A LHCb-specific solution could be to give the possibility to configure the entire prefix and set it to `lb-run root ` for LHCb. I'm not sure how version selection can be implemented in this scheme.

Version: 7.1.3
Tested platforms: `x86_64-s

[2018-08-26 12:37] mesmith75 commented on #1333
@rmatev Thanks for bringing this up - it has been on the to-do list for too long (#1029 ). I'll take a look.

[2018-08-26 20:30] mesmith75 commented on #1333
Even better would be to use the ROOT version in the application.

[2018-09-03 15:28] afortiorama opened #1335 "CREAM CE"
We are moving to ARC so this might not matter to us anymore but on a CentOS7 UI the CREAM backend fails because it cannot find globus-url-copy anymore and cannot download stdout and stderr.

[code]

[2018-09-04 07:41] egede commented on #1335
@afortiorama You have a better understanding of Grid issues. Does the statement above mean that we should retire the Cream backend?

[2018-09-04 07:48] afortiorama commented on #1335
Many sites still rely on CREAM. I don't know how many do direct job submission with ganga though. I suspect not many. If you want to keep it though you need to change the client that does the output sandbox download I would try gfal-copy.

Right now I can't use ganga to help the users still using cream because this doesn't work and if I go back to SL6 it doesn't like python 2.6 (at least not with

[2018-09-04 08:10] mesmith75 commented on #1335
Sure we can update that to gfal - maybe we should make some of the commands configurable?

The latest ganga should work with SL6 - you just need to have python 2.7 in your PATH (we use a version from LCG on CVMFS when we install it).

[2018-09-04 08:14] afortiorama commented on #1335
I simplistically use runGanga.sh from CVMFS. I'd rather not stay there and think about the python version.

[2018-09-04 08:15] afortiorama commented on #1335
I'm using an older version now.

[2018-09-04 16:48] mreboud opened #1336 "Root fails to setup a job"
There seems to be a typo in the code for the Root application, which leads to an ill-formatted string in the inputscript. This leads the following error:
[code]

The error can be reproduced by this code (tested with ganga 7.1.3)
[code]

[2018-09-05 06:57] mesmith75 commented on #1336
Probably related to #894

[2018-09-05 12:27] #1029 closed

[2018-09-05 12:27] #1333 closed, assigned to nobody

[2018-09-13 16:44] mesmith75 opened #1342 "Adding to job schema"
I would like to add something to the schema for `Job`. Is it possible to do this without breaking the lazy loading of existing jobs?

[2018-09-14 08:02] egede commented on #1342
If the information is printed out when you type `jobs`, I suspect it will trigger a full load for all jobs.

@rob-c You have a comment?

[2018-09-14 08:55] mesmith75 opened #1344 "Ganga is eating disk space"
Ganga is eating disk space even without downloading `outputfiles`. #1145 needs finishing to solve this.

My gangadir is ~18G of which 6G is in the repository, 4G in the sharedir, and 7.5G in the workspace. 6G for the repository seems excessive?

[2018-09-14 09:24] mesmith75 commented on #1344
Looking at the repository, this is due to the input data - implementing #1258 would help us out. The explosion of the number of LFNs per dataset is really not helping, nor is storing them all for every job, even if we only use a fraction after splitting.

[2018-09-14 15:16] egede commented on #1344
We talked about storing the list of strings as a compressed object both in memory (until need) and on disk. See https://stackoverflow.com/questions/19500530/compress-python-object-in-memory for this. I guess you just want to compress the `repr` of the list of strings rather than do a pickle first.

[2018-09-14 15:40] mesmith75 commented on #1344
The pickle would take out the leg work I think.

[2018-09-14 17:28] mesmith75 commented on #1342
sorted.

[2018-09-14 17:28] #1342 closed, assigned to nobody

[2018-09-14 18:02] egede commented on #1344
Not quite sure what you mean. I fear the pickle will make the object less
compressable.

On 14 September 2018 4:40:24 pm Mark Smith <notifications@github.com> wrote:

[2018-09-17 05:06] rob-c commented on #1342
Hi, probably a little late,

The _lazy loading_ functionality I think is more or less restricted to a smaller dictionary of job id, current status and name. Changing the job Schema unless it impacts these parameters doesn't impact this functionality it's more or less independent. (these parameters are also those in the default _jobs_ summary).

However,  the lazy loading is also needed for the `jo

[2018-09-17 08:13] #1336 closed, assigned to nobody

[2018-09-17 08:15] mesmith75 commented on #894
Fixed by #1340

[2018-09-17 08:15] #894 closed

[2018-09-20 17:21] mesmith75 commented on #1310
Closing this for now - I guess it will get looked at again when we do the upgrade to Python 3 properly.

[2018-09-20 17:21] #1310 closed, assigned to nobody

[2018-09-24 20:10] afortiorama commented on #1335
Hi,

it seems the ARC-CE has the same problem. globus-url-copy is also used in this case.

WARNING  command globus-url-copy gsiftp://ce01.tier2.hep.manchester.ac.uk:2811/jobs/GPOLDmj4lOtnCshSmpWEHpUqhcrQCoABFKDmXLERDmABFKDmj6WFUn/stdout.gz file:/home/aforti/gangadir/workspace/aforti/LocalXML/10/output//stdout.gz not found
ERROR    /bin/sh: globus-url-copy: command not found

WARNING  exit status [

[2018-09-24 20:10] afortiorama commented on #1335
recommend arcget

[2018-09-25 08:02] fstagni opened #1350 "DIRAC bulk jobs submission (parametric jobs)"
This issue is about using the parametric jobs submission of DIRAC (i.e. "bulk submission") for jobs submission speedup. Maybe there's another issue/task somewhere but I can't find it. If there's one, I am sorry for the duplication.

Since DIRAC v6r20p12, I believe there's in place everything that's needed for ganga to submit parametric jobs to DIRAC, which would greatly improve the submission spee

[2018-09-25 08:19] mesmith75 commented on #1350
Great! As far as I am aware this has been in place from the ganga side for a long time. I'll have a little test today to make sure it still works as intended.

[2018-09-25 09:27] fstagni commented on #1350
Well the check on th `maxParametricJobs` is new, so you'd only need to add that.

[2018-09-25 11:02] egede commented on #1350
@fstagni So the reply from `JobManagerClient().getMaxParametricJobs()` tells how many individual jobs can go into a given parametric job? Is this number something that is changing dynamically? Or can we get this number the first time a Ganga session talks to Dirac and then just cache it for the rest of its sesion (that might last many days in principle).
`

[2018-09-25 13:58] fstagni commented on #1350
This number MAY change at any time BUT won't change often. To be sure I would get it every time you submit a parametric job, and it's not really a performance issue.

[2018-09-25 14:40] mesmith75 commented on #1350
@fstagni How does this work with inputdata?

[2018-09-25 15:59] fstagni commented on #1350
Still with `setParameterSequence`:

[code]
and for the input sandbox:
[code]

[2018-09-25 17:46] mesmith75 commented on #1350
So ganga still has to split the jobs or is that taken care of by Dirac? Is there a parameter to set for the no. of files per job?

[2018-09-26 08:02] egede commented on #1350
@fstagni I do not understand syntax for inoutdata and the inputsandbox. So for the `files` above, is that just one long list that DIARC will split, or is it a list of lists? For `files` in the inputfiles, there is no way for Dirac to know if I want a job for each element in the list, or if every job should have every file. If it is a list of lists, then that can be specified, but is that what is e

[2018-09-26 08:44] mesmith75 commented on #1350
@egede As far as I can understand it is a list of list - in which case ganga still has to do the splitting of the dataset. The splitting is the bit that takes the time at the moment so the gain will not be that significant.

[2018-09-27 19:34] chrisburr opened #1353 "Job.submit is not thread safe"
Bug found by @abmorris.

When submitting jobs using `queues.add(job.submit)` the submission often fails with:

[code]

This is caused by each ganga session [generating a UUID as a global variable](https://github.com/ganga-devs/ganga/blob/c24d99ed0ac482a16b64d3d97b7c960028f50115/ganga/GangaLHCb/Lib/RTHandlers/GaudiExecRTHandlers.py#L35) which is used for the name of the temporary tarball for the in

[2018-10-01 13:20] fstagni commented on #1350
Sorry for the late reply. As of today splitting of the InputData and of the InputSandbox is left to the user (Ganga). It can/should be in the form of a list of lists, and its `len` has to be the same `len` for each parameter, so it should not exceed `maxParametricJobs`.

I added some info in https://github.com/DIRACGrid/DIRAC/pull/3847

[2018-10-02 08:03] egede commented on #1350
@fstagni Thanks. @mesmith75 will implement this. However, the main time submission time at the moment is actually taken by the splitting, so the gain in speed will be small for the standard DaVinci type jobs. For jobs without input data (such as toy MC studies) there will be a larger gain.

[2018-10-02 18:24] mesmith75 opened #1354 "Condor monitoring error"
We sometimes get an error when monitoring Condor jobs:
[code]

[2018-10-02 19:10] ghost opened #1355 "Condor job monitoring issue"
After submitting jobs to Condor ( custom executables ) , when reopening ganga i see several messages of this kind :
[code]

The CondorLog file is :
[code]

[2018-10-03 08:54] mesmith75 commented on #1355
Ah I can see what has gone wrong - we check for the Condor status code on a line as a string so we know which line has the end time. Unfortunately your memory size (by pure coincidence) has the status code in it (300588) so we use that line instead.

I will try and rectify it to be a little more robust.

[2018-10-03 10:32] ghost commented on #1355
@mesmith75 , thanks a lot for this. Will running ```ganga ``` on lxplus out of slc6-gcc62 will be able to pick up the fix or we should wait for a new release?

[2018-10-03 10:49] #1355 closed, assigned to nobody

[2018-10-03 10:52] egede commented on #1355
@rquaglia90 I just approved and merged this fix. It will go into the DEV version of Ganga overnight, so from tomorrow morning you can do `ganga --ganga-version DEV`. It will be part of the next regular release as well.

[2018-10-11 14:33] mesmith75 commented on #1350
@fstagni I am unable to get the `InputSandbox` to work with a list of lists. My job looks like:
[code]
but I get an error about the sandbox:
[code]

The submission works if each list has only one file, but multiple files fails. `InputSandbox` seems to be the only one with this problem.

[2018-10-12 09:20] fstagni commented on #1350
Interesting. So, you are saying that, if you would use
[code]
so a simple list instead of the list of lists that you used, you get no errors?

The job above creates a JDL in which there's the following:
[code]

I am wondering where "SB:ProductionSandboxSE|/SandBox/m/masmith.lhcb_user/09d/6f0/09d6f059566366f147e2cc71053aca51.tar.bz2" comes from. Any idea?

[2018-10-12 09:48] andresailer commented on #1350
Independent of the error message. I don't think one can use local (or AFS) files in the parametric input sandbox. The parametric input sandbox only works with LFNs.

[2018-10-12 09:50] mesmith75 commented on #1350
So it works with a list of lists if each list only has one entry. I'll try with LFNs...

[2018-10-18 16:44] afortiorama commented on #1335
Hi Mark,

I see you've added also ARC in the pull request. Could you let me know how to configure it?

One of the users still has problems after testing. He is submitting directly to ARC

[code]

[2018-10-22 14:09] fstagni commented on #1350
Hello, news on this?

[2018-10-22 18:57] egede commented on #1350
@fstagni Mark has spent lots of time trying to get this to work. It only seems to allow a single file in the inputsandbox. This means that we have to pack up things in a tarball for each which will take extra time and cause complications. Together with the max number for each submission, we have to split up things. In our review on Friday of this we concluded that the drawbacks of this in terms of

[2018-10-22 21:29] mesmith75 commented on #1335
@afortiorama Sorry about that, I made a mistake with that change.

I've been through it with Ian and the downloading of output with `arcget` should now work (the change in behaviour was more involved than I thought). It was fixed in #1360 so should be in the DEV version from tomorrow morning.

Let us know if you still experience issues.

[2018-10-24 14:58] rob-c opened #1363 "no output on jobs which fail and were killed on the grid"
Hi,

Might have spotted a potential cause of confusion/bug.

From working with a local user in Edinburgh, if a job has been killed by ganga due to many subjobs failing does Ganga still automatically download the output for the failed subjobs for debugging.

I think there may have been some subjobs which have the correct output downloaded but at least some of the subjobs didn't auto-download the ou

[2018-10-24 16:32] mesmith75 commented on #1363
@rob-c There is a bug with the latest release so that sandboxes are not being downloaded. #1364 will fix it. If you like you can approve it and I'll release a new version now.

[2018-10-24 18:49] #1363 closed, assigned to nobody

[2018-10-31 15:20] ttekampe opened #1368 "permission errors when downloading to eos"
When downloading output files of grid jobs to eos via the eos fuse mount on lxplus I get errors like this:

[code]

What I do exactly is putting `DiracFile.Get(...)` into the ganga queues. That way multiple files are downloaded at the same time. I reported the issue to the eos support and they might have found the source of the problem.

Quoting  Andreas Joachim Peters:

So a possible workaround,

[2018-10-31 15:53] egede commented on #1368
I thought this was due to the caching of the DIRAC environment in Ganga, but reading again I am not so sure. I wonder rather if DIRAC is doing something where it writes a temporary file with a fixed name and then can't cope with simultaneous operations.

[2018-10-31 21:47] egede commented on #1368
Maybe back to the first idea. When logging into lxplus, the KRB5CCNAME environment variable gets a value like FILE:/tmp/krb5cc_12230_b2HFgU where the first number is the uid of the user but the second part is a random string (to avoid writing files with predictable names in /tmp I guess). In any case, a DIRAC command that executes will use the file name given in the cache instead.

[2018-10-31 21:57] egede commented on #1368
Solution might be to modify code around https://github.com/ganga-devs/ganga/blob/ea53546c0b03dbed1afa5eccc8362a509185d632/ganga/GangaDirac/Lib/Utilities/DiracUtilities.py#L227 to let KRB5CCNAME stay the same as in the running Ganga session.

[2018-10-31 21:59] egede commented on #1368
@ttekampe Can you try to

- exit Ganga
- remove the directory ~/.cache/Ganga
- start Ganga again and see if everything works for downloading to /eos in that particular session (where you will then have a matching KRB5CCNAME in the newly created cache and in your session.

[2018-11-02 11:02] ttekampe commented on #1368
I followed you instructions and downloaded 456 files without getting a single exception. So this seems to work.

[2018-11-02 11:33] egede commented on #1368
@ttekampe Thanks for the test. I think we have discovered the issue then. The comments about queues and parallel downloads or not, I think are then a red herring and not actually related. I searched through the complete software stack of both LHCbDIRAC and DIRAC and did not find a single mention of KRB5CCNAME or the use of kinit.

[2018-11-02 14:28] #1368 closed, assigned to nobody

[2018-11-07 14:01] mesmith75 commented on #1354
Closing for now as I cannot reliably reproduce it.

[2018-11-07 17:14] #1353 closed, assigned to nobody

[2018-11-07 20:22] #1354 closed, assigned to nobody

[2018-11-08 10:29] mesmith75 commented on #1215
I think this has been negated by #1194 so I'll close this.

[2018-11-08 10:29] #1215 closed, assigned to nobody

[2018-11-08 10:54] mesmith75 commented on #1304
@rob-c I don't know if we maintain the DIRAC installation on CVMFS. At least I know I don't. I'll stick this down as a won't fix and close. Maybe this should be taken up with the DIRAC devs as it looks like a simple fix from their side.

[2018-11-08 10:54] #1304 closed, assigned to nobody

[2018-11-09 14:43] mesmith75 commented on #1130
@pkoppenb These functions end up looking at the XML so `j.subjobs` gives you a `SubjobXMLList` rather than a job registry slice. `SubjobXMLList` has no select method so it returns nothing. If you do something along the lines of:
[code]
you should get what you want. Although this is rather moot with the most recent releases, it might be worth knowing in case you want to do similar things in the fut

[2018-11-09 14:43] #1130 closed

[2018-11-09 16:53] pkoppenb commented on #1130
Thanks. I'll give it a try. How do I understand your last sentence. Should I try it with a future release?

[2018-11-09 17:05] mesmith75 commented on #1130
The current release should have a column showing the number of completed subjobs. The next release (due Monday) will make that more informative: running/failed/completing/completed .

[2018-11-15 10:51] fstagni commented on #1350
@rob-c @atsareg Just tagging you here for possible discussions on these points.

[2018-11-15 10:57] rob-c commented on #1344
@mesmith75 I'm aware this is probably the biggest performance hit when using Ganga on LHCb in terms of cpu, memory and disk I/O.
Would it be worth biting the bullet here and starting from scratch on a new LHCbDataset object which is actually a factory which doesn't store full fat DiracFile objects in memory at all times and stores a compressed base64 object in the XML?

I'm GEOC at CERN 3rd-7th De

[2018-11-15 11:37] egede commented on #1344
We are saving a factor 2 already with #1377 but I agree that this would be a good thing to do. As there are many potential side effects, I think some careful discussion about design would be required before actually starting to code it.

[2018-11-15 11:52] mesmith75 commented on #1344
Yes that is the ultimate intention. I was hoping #1258 would take us in that direction but it didn't work out quite as I had hoped.

[2018-11-16 10:06] rob-c commented on #1344
OK, I've mocked up a replacement LHCbDataset which correctly acts as a factory around an internal catalogue of LFN/PFN which it stores in a compressed format on disk.
Early tests show a 200x+ reduction in the disk usage which is very good with much better job load times.

However I've 2 questions around this.

1. Is the intention that Schema upgrades be incompatible with previous versions?

If so

[2018-11-16 16:02] egede commented on #1344
A few comments. Is the internal catalogue a monolithic thing on disk shared between all jobs. If yes, will it grow forever as old entries are never deleted?

We do not see the issue of forward migration as a problem. So if you start Ganga in the new version, then any job object declared dirty, will be re-written in the new format. This means that for those jobs, they can no longer be read in the o

[2018-11-16 16:36] rob-c commented on #1344
OK, catalogue is maybe a too strong name, this is a list of strings that contain only the data required to rebuild the job object in the minimal form. (Arguably this could even be the full xml rep of the object, but most of the XML is not needed for 99% of the file actions.)

OK, so you would potentially be happy with Ganga supporting forward only migration?
If so that's a 1 line fix when I make a

[2018-12-13 11:54] atsareg commented on #1350
Sorry for getting late into this discussion. The bulk job submission mechanism relies on the fact that ALL the jobs in the bunch are sharing the SAME InputSandbox for files uploaded with the jobs (not the LFNs of already uploaded grid files). So, adding a sequence for the InputSandbox does not make sense. What can be the solution ? One way I see is to prepare all the input files for the whole bunc

[2018-12-13 20:53] mesmith75 opened #1388 "LHCbDirac env cache"
There is a recurring problem of the cached LHCbDirac env becoming corrupted somehow - often users are not able to debug this themselves (the errors are non-sensical) and end up wasting time on red-herrings / complaining.

The caching of the env takes between 1 and 3 seconds typically. Can we just do this for every time ganga starts?

Alternatively shall we modify the `diracCommand` wrapper to make

[2018-12-13 21:00] mesmith75 commented on #1350
@atsareg Thanks for the input. This had fallen down my priority list a little bit.

I think in general what you say is right. The actual RTHandlers are currently a bit of a melange, written by different people over different years so I need to spend some time figuring out what they are doing.

As regards the splitter I am not sure what takes the time. It has gotten pretty bad recently with the muc

[2018-12-13 21:28] egede commented on #1388
I think we can change it to just do it every time. The cache was introduced when we had the old SetupProject where it could easily take 20s.

[2018-12-14 10:31] rob-c commented on #1350
@atsareg To answer your question about job splitting more fully;

There was the concern that the splitter in DIRAC (I think this still applies but I may be wrong). Matches LFN into subsets based on files with replicas at the same subset of SE.
This became more complicated as portions of the data for different datasets ended up at different subsets of the different combinations of sites possible.
T

[2018-12-14 13:24] atsareg commented on #1350
There are two (at least) different things. One is the splitting algorithm which results in a number of fully specified jobs to submit. The other one is the efficiency of submission of the prepared jobs. The first one requires replica information for all the files in the given dataset (one call to DFC, few secs max) and the SE configuration and status data (one or two calls to the corresponding DIR

[2018-12-14 14:02] mesmith75 commented on #1350
I *think* the current biggest overhead is the splitting. We need to figure out where the time goes with that.

For the submission itself its not so bad currently  - about 10-15 seconds per 100 jobs, of which 5-10 will be overhead from connecting to DIRAC, which will still be there with bulk submission. For sure though we can make some gains there.

Edit: Also the submission is done in parallel so

[2018-12-14 14:28] rob-c commented on #1350
Initially time is mainly consumed in many calls to DIRAC to get LFN metadata (replica information) which is only used for splitting.

After that there is always a huge penalty within Ganga while it constructs several thousand class objects which are rarely used. Swapping to use an expensive class object to track every single LFN has proven to not scale well and needs addressing (just based on my e

[2018-12-14 14:44] atsareg commented on #1350
Why "many calls to DIRAC to get LFN metadata" ? DIRAC FC supports bulk queries where you can pass a list of LFNs to get metadata/replicas in one go.

[2018-12-14 15:04] rob-c commented on #1350
This was broken up because when it used to bulk request the replica info there were timeouts and other issues.
(Edit: In fact the requests are done for 250LFN at a time which works just fine).

That being said the DIRAC overhead is minimal the problems are almost 90% to do with the construction and passing around of several thousand DiracFile objects within Ganga which can be replaced in most plac

[2018-12-14 15:17] mesmith75 commented on #1350
@rob-c Yes you are correct. The splitting itself is not optimal but not too bad. I have identified a few areas of improvements but only gaining tens of seconds (the whole thing only takes about a minute for 200 files).

It is the subsequent creation of the ganga job/dataset objects that is taking the time.

[2018-12-14 15:27] #1388 closed, assigned to nobody

[2018-12-20 17:40] mesmith75 commented on #1278
Closing this as I think it was a mistake by me - I have got it working in another example.

[2018-12-20 17:40] #1278 closed, assigned to drmarkwslater

[2018-12-21 12:49] mesmith75 commented on #21
done.

[2018-12-21 12:49] #21 closed

[2018-12-21 12:52] #222 closed

[2018-12-21 12:55] #763 closed

[2018-12-21 12:59] mesmith75 commented on #674
Works for me:
[code]

[2018-12-21 12:59] #674 closed

[2019-01-12 20:31] JacekHoleczek opened #1399 "the latest "Documentation/Full Tutorial (On Read The Docs)" severely broken"
Are you aware that the "latest" documentation is severely broken?
https://ganga.readthedocs.io/en/latest/

Accidentally, I found now the "stable" documentation which seems to be o.k..
https://ganga.readthedocs.io/en/stable/

[2019-01-12 20:39] JacekHoleczek opened #1400 "Problem with GenericSplitter and attribute = "application.env""
I've got a strange problem (ganga-7.1.9).
A simple "task" which demonstrates it is ("test_exit.py"):
[code]
None of the two jobs' outputs shows "MYENV" (i.e. "MYENV" was NOT put in the environment of these jobs and so "set" does not list it), when running with the "Local" or "Slurm" backend.

(I've just checked that it does work as expected with the old ganga-6.0.44 and the "Local" and "SLURM as S

[2019-01-12 20:51] JacekHoleczek opened #1401 "Problem with Executable (exe always copied into sandbox)"
I've got a strange problem (ganga-7.1.9).
My simple script uses:
[code]

[According to the documentation](https://ganga.readthedocs.io/en/stable/GPI/classes.html#Executable), if I say:
[code]
then ganga will make a "copy" of the executable.

But if I say:
[code]
then ganga should simply use the given path (without copying the executable).

However, what I get is that in BOTH cases, ganga copies "s

[2019-01-13 18:27] JacekHoleczek opened #1402 ""/tmp/tmp*" files left"
It seems that ganga-7.1.9 leaves many "/tmp/tmp*" files (one file per job).
This happens for any job that was resubmitted to "Slurm" (they just contain the standard submit output, like "Submitted batch job 14727079").
This doesn't happen for the "Local" backend, though.

You can easily test this behaviour, if you take [the "test_exit.py" script from one of my recent issues](https://github.com/gang

[2019-01-13 18:33] JacekHoleczek opened #1403 "${HOME}/.cache/Ganga/.used_versions"
It seems that ganga-7.1.9 unconditionally creates a "${HOME}/.cache/Ganga/.used_versions" file.
The old ganga-6.0.44 was creating the ".used_versions" file in the "gangadir" (I always set a ganga version specific "gangadir").
Could you, please, restore the old behaviour (so that ganga does not pollute "${HOME}/.cache").

[2019-01-14 09:01] JacekHoleczek commented on #1402
So, I think I have found the problem ...
In the "./GangaCore/Lib/Batch/Batch.py" file (ganga-7.1.9), in the "submit" method, there is:
[code]

This cleanup is completely missing in the "resubmit" and "kill" methods.
Please add it there (i.e. in both methods).

Here's a patch for the ganga-7.1.9 release (Ganga-7-1-9):

[code]

Here's a patch for Ganga-6-0-44 (GANGA 6.0.44 2015/3/27), Ganga-6-0-43 (

[2019-01-14 09:08] mesmith75 commented on #1403
There is a reason that we moved it to `~/.cache` - we wanted the record of used versions to not be dependent on the repository.

[2019-01-14 09:09] mesmith75 commented on #1399
What do you mean by "severely broken"? I can go through both of those links without issue.

[2019-01-14 09:12] JacekHoleczek commented on #1399
See, for example, some short page, like "User Guide" :  "Configuration" or "Running Executables".

[2019-01-14 09:17] JacekHoleczek commented on #1403
I am running multiple different ganga versions. They can be running at the same time (each of them gets its own ".gangarc" and "gangadir", of course).

It seems that the current hardcoded location assumes that just one single ganga version is allowed.

Maybe you could introduce some kind of a "flag" in the ".gangarc"" (where to store the ".used_versions" file).

[2019-01-14 09:32] mesmith75 commented on #1403
Why does this matter? The only thing the `.used_versions` is used for is to print the release notes and make a new .gangarc when the minor version increments.

[2019-01-14 11:27] mesmith75 commented on #1399
So it is. Thanks for pointing it out - the paths didn't get updated when we reordered ganga.

[2019-01-14 12:15] JacekHoleczek commented on #1403
Well, it's exactly as you say ...

I copied the old private ganga-6.0.44 file:
[code]
and then I called the new ganga-7.1.9, which then immediately felt free to overwrite its own files:
[code]
Note: the "config file /.../.gangarc" was ALREADY specific to ganga-7.1.9 so it SHOULD NOT have been touched / modified at all.

Could you, please, give me some patch file / hint which restores the old ".use

[2019-01-14 13:35] egede commented on #1403
@JacekHoleczek Is this only a problem if running with version 6.0.44 of Ganga? If yes, then I am afraid that we will not use effort on supporting such a use case. Ganga 6.0.44 was replaced about 4 years ago!

[2019-01-14 13:46] JacekHoleczek commented on #1403
Sorry, it is NOT a problem of ganga-6.0.44 (which uses its private ".used_versions" file).
Anyhow, ganga-6.0.44 is my "production" version as it behaves relatively stable (with some patches, of course).

It is a problem in ganga-7.1.9 which uses the global "${HOME}/.cache/Ganga/.used_versions" file.
I do not have any other ganga version installed for the moment so I could only show you the problem

[2019-01-14 15:59] #1399 closed, assigned to nobody

[2019-01-16 10:49] JacekHoleczek commented on #1402
The patch for the ganga-7.1.9 release (Ganga-7-1-9) is now a part of the https://github.com/ganga-devs/ganga/pull/1409 pull request.

[2019-01-17 15:42] JacekHoleczek opened #1410 "DEBUG log level neglected"
I've got a strange problem (ganga-7.1.9).
As there are no comments for https://github.com/ganga-devs/ganga/issues/1400 nor https://github.com/ganga-devs/ganga/issues/1401,  I wanted to have a look myself at what the "DEBUG" shows.
So, in my "\$\{HOME\}/.gangarc", I tried "Ganga = DEBUG", "GangaCore.GPIDev = DEBUG", "GangaCore.Utility.logging = DEBUG" and "_format = DEBUG" ... but the screen output

[2019-01-17 16:50] mesmith75 commented on #1410
This is likely a hangover from the move to IPython 5 when the logging changed a bit.

Edit: Though `ganga --debug` still gives you the debug for every module.

[2019-01-18 10:24] mesmith75 commented on #1402
Fixed by #1409

[2019-01-18 10:24] #1402 closed, assigned to nobody

[2019-01-18 10:59] mesmith75 commented on #1400
This looks to be a general problem with executables rather than just the splitter.

[2019-01-18 12:04] mesmith75 commented on #1400
Ha - looking at the history it dropped out of the RTHandler 4 years ago!

[2019-01-18 18:25] mesmith75 commented on #1401
The documentation is not quite correct. From the prepare stage:
[code]
Ganga checks if it can resolve the string to a file. If so, it gets copied. This makes sense to me as you cannot be sure the file is available on the WN (particularly with the grid).

Therefore I will update the docstring and close this.

[2019-01-18 18:25] #1401 closed, assigned to nobody

[2019-01-18 18:28] mesmith75 commented on #1403
Why not use the latest ganga version?

[2019-01-18 18:34] JacekHoleczek commented on #1401
So, I have met some cases in which exactly the opposite is the case. The executables exist ONLY on batch nodes and NOT on the head node where Ganga runs. Two situations are implemented:
1. the "/full/path/to/exe" file does NOT exist on the head note at all (but it exists on batch nodes),
2. the "/full/path/to/exe" file on the head node is a "dummy" shell script which simply informs the user that t

[2019-01-18 18:44] JacekHoleczek commented on #1403
Up to now ganga-6.0.44 is the only version which works for me.
During the last several years, from time to time, I tried many "new releases" ... but up to now I always failed to get them running correctly (actually, I used ganga-6.3.1 for one of my "projects").
So, I simply need a stable "production" version which must not interfere with any games that I play with any other version.
Assuming that

[2019-01-18 21:23] mesmith75 commented on #1403
As I say there is a good reason why it was changed to this which better caters for most users. But sure we can make it configurable for future releases.

[2019-01-23 10:51] #1400 closed, assigned to nobody

[2019-01-27 13:04] 97amarnathk opened #1417 "Readtedocs documentation is incomplete"
Hello. I am new to open source and Ganga in general.

While browsing the documentation at [ganga.readthedocs.io/en/latest](https://ganga.readthedocs.io/en/latest/UserGuide/InstallAndBasicUsage.htmll) I came across several places where it was not exactly clear what the docs was trying to explain.

For example, in the section [Hello World with Ganga](https://ganga.readthedocs.io/en/latest/UserGuide/

[2019-01-27 14:17] JacekHoleczek commented on #1417
See: https://github.com/ganga-devs/ganga/issues/1399

I assume, the committed fixes will appear "online", once a new ganga version (i.e. 7.2.0 ) is released.

[2019-01-27 15:22] 97amarnathk commented on #1417
@JacekHoleczek , The home page of [https://ganga.web.cern.ch/ganga/](https://ganga.web.cern.ch/ganga/) still points to  [ ganga.readthedocs.io/en/latest](ganga.readthedocs.io/en/latest)

Shouldn't the "latest" documentation be corrected ? Since its the one seen by people visiting the Ganga website.

[2019-01-29 11:24] mesmith75 commented on #1417
The person responsible for the read the docs has long stopped working on ganga. I am waiting for him to add me to the maintainers. @milliams @drmarkwslater

[2019-01-29 14:00] 97amarnathk commented on #1417
Also in the code base, `ganga/GangaTutorial` contains a hands on tutorial. But there is no mention about this in the docs.

[2019-01-29 14:28] mesmith75 opened #1418 "GaudiExec problems with parallel submission"
There appears to be a problem with GaudiExec and parallel submission a user reports an error of:

[code]

These jobs are being separated by separate units of an LHCbTask. I think the issue is that one attempt at submission is deleting another's version of the target. I had hoped #1393 would fix it but apparently not.

[2019-01-30 20:01] mesmith75 commented on #1107
Closing as stale. I think this should be ok by now...

[2019-01-30 20:01] #1107 closed

[2019-02-11 16:42] JacekHoleczek commented on #1401
For the current "ganga-devs" (ganga-7.1.9+), I created a new https://github.com/ganga-devs/ganga/pull/1421

Here's a patch for Ganga-6-0-44 (GANGA 6.0.44 2015/3/27), Ganga-6-0-43 (GANGA 6.0.43 2015/1/29), Ganga-6-0-42-hotfix1 (GANGA 6.0.42-hotfix1 2015/1/14) and maybe older versions (but I don't have them installed so I cannot check it):
[code]

[2019-03-12 08:34] JacekHoleczek opened #1425 "heartbeat and jobstatus files' enhancement proposal"
I have met a strange problem on a SLURM cluster. For completely unknown reasons, some jobs (out of many hundreds) instead of running at "full speed" are getting something like 17% CPU "job efficiency" (well, jobs which should end in less than 10h are running for 65h and more and SLURM doesn't allow me to login to the batch node and "inspect" what really happens).

So, here's my proposal ...

1. Ga

[2019-03-12 11:01] mesmith75 commented on #1425
Sounds reasonable. I think Condor already does this.

[2019-03-12 23:30] egede opened #1426 "DiracFile with inputfiles deleted too early"
If the following is executed

[code]
the job `j2` will fail as the `j.remove` deleted the uploaded sandbox. The logic for deleting uploaded sandboxes should be the same as for deleting them in the shared area.

[2019-03-13 10:37] mesmith75 commented on #1426
Looks like a problem with the sharedir counting again...

[2019-03-15 12:43] #1426 closed, assigned to mesmith75

[2019-03-16 00:52] mesmith75 commented on #985
I think this has gone stale...

[2019-03-16 00:52] #985 closed

[2019-03-16 00:55] mesmith75 commented on #643
Is this still an issue? We have gotten rid of a the stomp stuff and all the Jenkins.

[2019-03-17 08:03] JacekHoleczek opened #1433 "move "output" to "debug" for failed jobs (an enhancement proposal)"
When a batch job "dies" for some reason, ganga automatically creates a "ganga_job_id/debug" subdirectory. However, in all cases (PBS, SGE), this subdirectory is completely empty.
Then everything from the "ganga_job_id/output" subdirectory is removed and the job is resubmitted.
As a result, one doesn't have any way to "inspect" what happened.

So, my proposal is simple ... after creating the "ganga

[2019-03-17 22:17] egede commented on #643
Yes, this is all dead.

[2019-03-17 22:17] #643 closed

[2019-03-20 09:05] #1417 closed, assigned to nobody

[2019-03-20 10:28] #1403 closed, assigned to nobody

[2019-03-26 15:50] mesmith75 opened #1438 "GPI function to monitor jobs"
Perhaps it would be nice to add a function to a job so a user can explicitly query the status from the backend and finalise if necessary. It would solve a lot of complaints.

[2019-03-26 22:51] egede commented on #1438
Not completely sure what you mean. Can you give a few examples.

[2019-03-27 16:37] #1438 closed, assigned to mesmith75

[2019-04-03 19:22] #181 closed

[2019-04-03 19:25] mesmith75 commented on #401
I think this is obsolete now.

[2019-04-03 19:25] #401 closed

[2019-04-03 22:11] #162 closed

[2019-04-03 22:13] #245 closed

[2019-04-03 22:13] mesmith75 commented on #256
I think this is OK now.

[2019-04-03 22:13] #256 closed

[2019-04-03 22:15] #274 closed

[2019-04-03 22:18] #464 closed

[2019-04-03 22:20] #732 closed

[2019-04-04 10:50] #416 closed

[2019-04-04 10:55] mesmith75 commented on #778
This appears to be sorted.

[2019-04-04 10:55] #778 closed

[2019-04-04 14:05] #1127 closed

[2019-04-08 18:42] mesmith75 opened #1442 "File auto removal not working"
The auto removal of outputfiles is broken.

Somewhere around here: https://github.com/ganga-devs/ganga/blob/12386e7a94adcaa654b28112041692be46d2f429/ganga/GangaCore/GPIDev/Lib/Job/Job.py#L1643

For some reason `sj.outputfiles` just returns a list with a single empty DiracFile without the lfn etc. i.e. not the actual DiracFile object of the subjob.

[2019-04-09 07:12] JacekHoleczek opened #1443 "strange entries in newly created .gangarc (ganga 7.1.12)"
What are they supposed to mean:
[code]

[2019-04-09 08:57] mesmith75 commented on #1443
As far as I am aware they are not new. They are just the defaults when you create a new job (`j = Job()`),

[2019-04-09 08:57] #1443 closed, assigned to nobody

[2019-04-09 09:01] JacekHoleczek commented on #1443
I did NOT create any job.
I just started ganga 7.1.12 for the first time and it created a completely new fresh ".gangarc" (from scratch).
Moreover, each time I recreate ".gangarc" from scratch, I get different "object at" addresses.

In the old ganga 6.0.44 ".gangarc", I find:
[code]

[2019-04-09 09:29] mesmith75 commented on #1443
There is so much different between 6.0.44 and the latest. We are not going to keep going back over old changes.

As I say these just set what the defaults are when one creates a new job. i.e. you could change the default application to be a ROOT one instead of executable, or the default backend to be DIRAC or whatever you like. The only thing is somewhere along the way we explicitly set the defaul

[2019-04-09 10:59] mesmith75 opened #1446 "Github webhooks broken"
.

[2019-04-09 10:59] #1446 closed, assigned to nobody

[2019-04-10 06:40] JacekHoleczek opened #1449 "Automatic expansion of all environment variables used in ".gangarc" (an enhancement proposal)"
I want to use environment variables in MassStorageFile and SharedFile "path" settings (in the ".gangarc" file).
Something like: `MassStorageFile = {..., 'uploadOptions': {'path': '${VAR1}/${VAR2}', ...}, ...}`
This does not work with the current ganga (7.1.12).
I have found that a trivial fix works (I tested it with a SharedFile).
In the `ganga/GangaCore/GPIDev/Lib/File/MassStorageFile.py` file, i

[2019-04-11 05:18] egede commented on #1449
Yes, that sounds like a good idea. We already do a similar thing for the location of the `gangadir` `GangaCore/Runtime/bootstrap.py`. Can I please request that he pull request is made on a branch based on the latest version of the `develop` branch.

[2019-04-11 06:43] JacekHoleczek commented on #1449
Now part of https://github.com/ganga-devs/ganga/pull/1451

[2019-04-11 06:51] JacekHoleczek commented on #1449
Could you maybe think of a general solution for all settings?
When the config file is parsed (at startup), maybe one could expand all variables in all entries?
The `os.path.expandvars` should work fine in all cases, so it could be applied to all. The `os.path.expanduser` might be a bit fragile so one would have to test it (either it works fine in all cases or one could leave it out and warn users

[2019-04-11 07:15] JacekHoleczek opened #1452 "ACTUALCE missing in all "__jobstatus__" files (ganga 7.1.12)"
It is possible that the problem originates in the `ganga/GangaCore/Lib/Batch/Batch.py` file, in the line:
[code]
It does copy the "hostname()" source code into the `__jobscript__` but, I think that one vital line (present in the `ganga/GangaCore/Utility/util.py` file) is not copied (and then it is missing):
[code]

It seems to me that the "hostname()" function would internally need to check if the

[2019-04-11 07:25] JacekHoleczek opened #1453 "INFO line for a completed task missing (ganga 7.1.12)"
The good old ganga 6.0.44 informed me that the task was completed (finished).
This is now missing in the new ganga 7.1.12.
I get plenty of "INFO" lines for all individual jobs but there is no "final" line which says that my whole task completed / finished.
Could you, please, add it back (and please make sure that it automatically "flushes" the screen / terminal output so that, when "everything is

[2019-04-11 10:01] mesmith75 commented on #1453
We can look into the missing task finishing print out.

As for the second part that is deliberate - we had a _lot_ of complaints when the logger is not cached. ~~Perhaps we can make it configurable if you are desperate.~~

Edit: Turns out it already is configurable. In the `[Logging]` part of your .gangarc set `_interactive_cache` to `False`.

[2019-04-11 10:07] #1442 closed, assigned to nobody

[2019-04-11 10:11] JacekHoleczek commented on #1453
Sorry, "caching" intermediate output is fine ... just the very final "task completed" should flush it automatically (regardless of the `_interactive_cache` setting).

[2019-04-11 10:42] mesmith75 commented on #1453
That is rather less feasible.

[2019-04-12 12:38] #1452 closed, assigned to nobody

[2019-04-30 08:09] pikacic opened #1460 "The `./run` wrapper must not be used in `GaudiExec.buildGangaTarget`"
The `run` wrapper runs a command (or prints the environment if no command is specified) in the runtime environment of the project, which is not mean to be able to build the project.

So far it worked by chance, but the new LHCb development environment definitely breaks it.

[2019-04-30 08:15] pikacic opened #1461 "Change the way LHCb User Environment is prepared"
Ganga prefixes every command with
[code]
which is (to say the least) redundant, because `source LbLogin.sh --cmtconfig=%s` would be enough.

In any case, LHCb will soon decommission `LbLogin.sh` so it must be replaced with something else (what exactly has to bee coordinated between Ganga developers and LHCb Core Software).

Note that I only had a look at `GaudiExec` so I cannot really much about o

[2019-05-01 03:37] egede commented on #1461
Where is the best place to read up on the required changes? And what time constraint do we have?

[2019-05-01 11:57] mesmith75 commented on #1425
I think this is actually rather tricky. This is the kind of information that is normally collected by the job scheduler no?

The wrapper script runs as a python script that then spawns a new process that runs your actual task - I don't think it is then so straightforward to collect the resource usage of just your task.

[2019-05-01 12:27] mesmith75 commented on #1425
You can stick anything you like in https://github.com/ganga-devs/ganga/blob/595fbebae8affe003e82a0c2072fe88b6f0ec701/ganga/GangaCore/Lib/Batch/BatchScriptTemplate.py.template#L108 but whether you can put anything meaningful in there is debatable.

[2019-05-01 13:48] #1244 closed, assigned to nobody

[2019-05-01 14:09] mesmith75 commented on #1449
So this can already happen on a per option basis. One just sets `filter ==GangaCore.Utility.Config.expandvars ` when adding the option.

I am not sure we want to automatically do this for every config option - there may be times where we don't want to automatically expand variables.

[2019-05-01 14:16] JacekHoleczek commented on #1449
I've been thinking about it, too. If one uses `${SOM_VAR}` then it will be expanded but, if one uses `\${SOME_VAR}` or `\\${SOME_VAR}` then it will not be (actually, the initial automatic "expansion" could also "strip" all `\` characters so that any successive / following call would simply see `${SOME_VAR}`).

[2019-05-01 14:30] JacekHoleczek commented on #1425
Yes, that's the place that I was thinking about, too. I just hoped that you know some magic python function which returns the total cpu usage (of this script and all child processes), averaged over the last 30 seconds (actually, over the "heartbeat_frequency" time).

[2019-05-01 15:32] mesmith75 commented on #1425
From my googling I am not sure it is possible with standard python.

[2019-05-01 23:34] egede commented on #1425
The different processes in a given batch job will all be part of the same process group. You could then use the `psutil` package, see https://psutil.readthedocs.io/en/latest/. Would require some effort to get to work though and it is not obvious to me that there is a huge benefit.

[2019-05-02 08:03] mesmith75 commented on #1425
I don't think you can rely on `psutil` being available on the WN as it is not in the standard library.

[2019-05-03 13:38] mesmith75 commented on #1425
Closing this as unfeasible.

[2019-05-03 13:38] #1425 closed, assigned to nobody

[2019-05-03 14:42] JacekHoleczek commented on #1425
Well, can we safely assume that all WN are Unix-like and have `/proc/<pid>/stat`?
If yes, there's an example:
https://codereview.stackexchange.com/questions/67904/calculate-cpu-by-process-from-proc-stat-and-proc-pid-stat

[2019-05-05 23:48] egede commented on #1425
Seems like we try to solve an individual problem by making changes to Ganga overall. Is it not better in this instance just to implement a wrapper script that provides a similar functionality for a specific job. The script mentioned above will probably more or less do.

[2019-05-24 13:50] jheuel opened #1469 "Maybe add abort option to exit()"
When trying to quit the ganga shell with `exit()` I am sometimes told that some tasks are still running and asked if I want to force the exit. Would it be possible to add an "abort" option to this dialog? It would be useful to be able to continue using the shell.

[2019-05-25 14:01] JacekHoleczek opened #1470 "ganga 7.1.14 performance problems"
This is CentOS 7 / x86_64 with its default python 2.7.5 and the Slurm batch system.

I am running a single task with something like 70 transforms with 600\+ Slurm jobs.

1. The ganga 7.1.14 executable constantly eats / uses 100% CPU (for no reason as it actually waits for 25 already submitted jobs now). I think it began right at startup. In the beginning, ganga was submitting around 600 Slurm jobs

[2019-05-26 11:39] mesmith75 commented on #1469
I don't quite follow. Do you want to abort the exit to keep using ganga, or force ganga to quit quickly?

[2019-05-26 23:56] egede commented on #1470
We have not had any other similar reports and it is very difficult to deal with this kind of very generic bug report. Is the behaviour a regression from a previous series 7 release? If you switch back to 7.1.12, do you see problems 1-3 disappear? For problem 4, @mesmith75 should comment. There has been some changes in this area, but nothing that should cause your reported behaviour.

[2019-05-26 23:57] egede commented on #1469
I am not sure if aborting the exit (and returning to the Ganga prompt) is possible. My feeling is that several tasks has already been carried out that are not really reversible.

[2019-05-27 10:55] jheuel commented on #1469
@mesmith75 I meant an option to abort the exit and keep using ganga

I thought that ganga did first check if it can be closed before taking any action. You can close this issue if it is not straight forward to implement it.

[2019-05-27 21:13] mesmith75 commented on #1470
For no. 4, yes this is a deliberate change. Users were complaining about INFO appearing whilst typing code - for some reason IPython redraws the prompt when a user is typing. Therefore we had to move the INFO flushing to be when a cell executed. This is at the request of 99% of our users. I hope that when we upgrade to python 3 and IPython 6 we can resolve this a little better.

For the others, I

[2019-05-28 09:22] #1284 closed, assigned to nobody

[2019-05-28 12:30] JacekHoleczek commented on #1470
Many thanks for your comments.

I cannot really re-run the whole task (it takes too much time and resources).

I don't really believe that the problem is related to some "large I/O". Note that I wrote the report when all the first 600 jobs (from some 20 transforms ran in parallel) finished and there were just some 25 submitted jobs (from some next 5 transforms ran in parallel) waiting in the batch

[2019-06-03 06:17] mesmith75 commented on #1469
I don't think this is readily feasible so I'll close this for now.

[2019-06-03 06:17] #1469 closed, assigned to nobody

[2019-06-03 10:09] alexanderrichards opened #1472 "Undefined variable in job class"
While doing the 2 to  3 conversion...
https://github.com/ganga-devs/ganga/blob/1547fa1d73b1e29d09ee4a7708f411e7a7e518f2/ganga/GangaCore/GPIDev/Lib/Job/Job.py#L2182

here variable `do_not_copy` appears undefined unless I'm missing something?

[2019-06-03 10:48] mesmith75 commented on #1472
You are correct, there is a missing import.

[2019-06-03 10:51] alexanderrichards commented on #1472
so the next question is given that this has never been spotted and seemingly not noticed by users, is this a bit of code that we are actually not using? (i.e. deletion candidate)

[2019-06-03 10:59] mesmith75 commented on #1472
That is a good question. This is essentially a copy of the base object copy method but with some things stripped out to make it quicker. I am not sure why it doesn't matter here but would for objects in general.

[2019-06-10 09:35] #1472 closed, assigned to nobody

[2019-06-11 10:20] mesmith75 opened #1477 "Condor auto scheduler chooser"
We should add a flag that makes ganga choose the least busy available scheduler when submitting condor jobs.

We should also implement parallel_submit for Condor.

[2019-06-12 03:18] egede opened #1479 "Status of master job left in "submitting" when some subjobs fail to submit."
If some subjobs fail to submit (error from the batch system), then they are left in the new state. If I then individually call submit on those subjobs, they start OK, but the master job is left in the "submitting" state and therefore will not do any monitoring. Restarting Ganga doesn't help - the only remedy is to do `j._impl.status='submitted'` which is not a solution.

[2019-06-12 07:52] mesmith75 commented on #1479
What do we want to happen?

If the submission fails for a subjob then the master should end up in `new`. I think that should preclude then submitting the individual subjobs by hand.

[2019-06-12 10:57] egede commented on #1479
It is very convenient that jobs that failed the submission can just be submitted individually. I would expect that the master job status would be derived from the subjobs and thus go into the `submitted` state.

[2019-06-13 18:19] mesmith75 opened #1482 "Remove job names from SGE backend"
The Imperial batch doesn't allow for job submission with job names. It would be nice to fix SGE such that submission works but ganga still lists the jobs with names.

A similar but not fatal problem is:
[code]

[2019-06-14 00:13] egede opened #1483 "Make memory_profiler an optional dependency"
To avoid having binary dependencies in the code in general (as discovered in #1481), we should move `memory_profiler` to be an optional dependency in the same way as done in #1462. This is a bit urgent as the issue is blocking our unit tests unless some other hack is made.

[2019-06-14 17:14] JacekHoleczek commented on #1482
I also always get the "could not match ..." messages with any ganga version (e.g. 6.0.44 and 7.1.x) and any batch system that I used (i.e. PBS, SLURM).

If I understand it well, you can change the SGE "submit_str" in your ".gangarc" so that it suits local "Imperial" rules.

I guess, if you completely change the way ganga manages SGE (by removing the "job name"), another people who use SGE may then

[2019-06-14 17:35] mesmith75 commented on #1482
Ah, I didn't realise it was just the submit string - thanks!

[2019-06-16 22:55] egede opened #1485 "Migrate Ganga to python3"
We have decided to migrate Ganga to python3. @alexanderrichards has already made very good progress on the Core, Dirac and LHCb packages. The idea is that when these packages are done (which reflect the absolute majority of the use), the shift will be made. There will be no attempt to keep python2 compatibility. The the Ganga 7 series will be terminated as the last one to have python2 compatibilit

[2019-06-17 17:56] JacekHoleczek commented on #1485
Of course, we will make GangaND280 fully compatible with python 3, when really needed (well, we assume that the majority of its source code is already fine). Do you think that the hight CPU usage which I reported in https://github.com/ganga-devs/ganga/issues/1470 will simply be gone in python 3?

But, I do have some more general questions.

How do you expect people to get "python 3" on the existin

[2019-06-17 23:58] egede commented on #1485
The branch https://github.com/ganga-devs/ganga/tree/python3 is where the python3 development is happening. Feel free to check it out and look at the changes required for GangaND280. GangaCore should work within python3 on that branch.

On systems with cvmfs installed, the access to python3 is easy. My feeling is that most systems will have a python3 installation available. Remember that pythion2.6

[2019-06-18 08:03] JacekHoleczek commented on #1485
I guess I was not clear enough.

It seems to me that, in general, almost always, "python 3" will be provided by some non-standard distribution, like "(mini)conda" (btw. none of the batch clusters that I use provides cvmfs).
That means that, running the Ganga user interface executable will require prior setting / modification of some environment variables (e.g. "PATH", "LD_LIBRARY_PATH", "PYTHONPAT

[2019-06-18 23:36] egede commented on #1485
I think you were clear enough. My point was that you are asking for something that is difficult/impossible to provide. As any other python program, Ganga is not responsible for setting up the environment that allows python to run.

- At the moment, Ganga is a python2.7 program that should be able to run in any python2.7 environment.
- In the future, Ganga will be a python3 program that should be a

[2019-06-19 06:10] JacekHoleczek commented on #1485
I'm afraid I was again not clear enough.

Let me try it this way ...

In the terminal window in which I want to run Ganga, I first export "PATH", "LD_LIBRARY_PATH", "PYTHONPATH" (I mean whatever is needed to get some non-default "python 3" running) and then I start the "ganga" itself.

However, when the running Ganga "spawns" any "remote", "interactive", "local", "ROOT merger" processes, it must a

[2019-06-19 06:19] egede commented on #1485
No, I think you are fairly clear.

What I say is that the request is unreasonable and unnecessary. I even demonstrated this. This is not the current behaviour of Ganga and the change to python3 doesn't really affect that.

[2019-06-19 15:22] #1483 closed, assigned to ishanrai05

[2019-06-20 08:12] JacekHoleczek commented on #1485
In this case, I guess I need to disagree.

I tried several different batch clusters which provide different ways to get some non-default "python 3" versions (via "Environment Modules", via "Lmod" modules, via "scl" and via "conda").

In all cases, non-standard "python 3" distributions were compiled with non-standard compilers and they use a whole bunch of non-standard versions of utilities and lib

[2019-06-20 09:57] mesmith75 commented on #1485
I am not sure I understand this. All you need is to have the python3 executable (or link to one) in your PATH. This is no different to having a `python2.7` one in PATH for the current ganga version.

I don't really see how that is an issue.

[2019-06-21 10:09] JacekHoleczek commented on #1485
So, in order to make some tests with python 3.6.5 (from a "Lmod" module on my batch cluster), I tried:
[code]
which then immediately failed:
[code]
If it helps, there exist two files:
[code]

[2019-07-16 09:59] mesmith75 commented on #1485
@alexanderrichards I am getting lots of errors of the form:
[code]

[2019-07-16 10:14] alexanderrichards commented on #1485
Thanks mark I'll take a look

[2019-07-16 11:40] JacekHoleczek commented on #1485
I have just tried the newest "python3" branch and I still get the same error as in my previous post above.
Could someone, please, tell me what is wrong.

[2019-07-16 12:36] alexanderrichards commented on #1485
Hi @JacekHoleczek I assume you mean this error? Looks like your install didn't locate ganga on a default `PYTHONPATH`. You could try manually setting the `PYTHONPATH` but I'd be interested to know why pip didn't install it properly.

What do you get for
[code]

also instead of pip installing the tarball, do you get any different installing directly form git using
[code]

[2019-07-16 12:39] alexanderrichards commented on #1485
I just noticed that the site-package has lowercase ganga in it. This means that presumably the imports should be:
[code]

[2019-07-16 12:44] alexanderrichards commented on #1485
actually this is expected as this would be how you import things from within a default python interpreter.
Let me investigate further

[2019-07-16 12:49] mesmith75 commented on #1485
Something has been commented out in this branch that adds the necessary location to the python path for pip installation (it was put in when we changed the structure and renamed some packages).

[2019-07-16 12:52] alexanderrichards commented on #1485
ah great, thanks @mesmith75 that was the very next thing I was going to check. Have you added that to the mods_patch branch?

[2019-07-16 12:58] alexanderrichards commented on #1485
yes indeed:
https://github.com/ganga-devs/ganga/blob/0bdc5d8e0a7bf2f73fb0ae04fd1797b55e7e2235/bin/ganga#L41-L45

I don't remember doing this so presumably it was done automatically as part of the 2to3 conversion?!
Anyway I'll comment it back in and add it to your mods_branch @mesmith75.

We should then merge that branch into python3 so @JacekHoleczek can work with it.

[2019-07-16 13:47] alexanderrichards commented on #1485
@JacekHoleczek if you want to try it immediately, before we put the fix back into the python3 branch you can install marks mod branch with

[code]

The fix is in there and I checked it works.

[2019-07-16 17:37] mesmith75 commented on #1485
I think that may have been me - I need to comment out those lines for my local development installation on lxplus.

[2019-07-17 10:03] alexanderrichards commented on #1485
I assume this is because it was hanging forever? This should be fixed in the commit I put on your mod branch. essentially the filters needed a list() wrapped around them for Python 3

[2019-07-18 08:04] JacekHoleczek commented on #1485
I am now able to start "ganga-python3", thanks.

Before I start to fiddle with GangaND280, could you, please tell me what are your exact plans for the future?

Are you planning a new 7.1.15 release (and possibly later some more for python2) or do you plan to immediately abandon the 7.1.x series completely and start with 8.0.x for python3?

I am asking it because, as reported in https://github.com/

[2019-07-18 10:08] alexanderrichards commented on #1485
The python 3 branch will essentially become Ganga 8. I have a little bit more work to do getting the tests passing before I think we are ready to do the switch. Any bugs that are fixed in the meantime will be released on the Ganga 7.1.X branch and I will then port them into python 3 branch. I'm sure you can understand that keeping the two versions in sync like this is painful and I don't intend th

[2019-07-18 10:16] alexanderrichards commented on #1470
I wonder if running something like [profile](https://docs.python.org/2/library/profile.html) would help us understand what's happening? Would it be possible for you to try with a simple job @JacekHoleczek

[2019-07-18 11:06] JacekHoleczek commented on #1470
It seems I do have "cProfile" and "profile" available (on the headnode of the batch cluster) so, I will try to run the "40 jobs from 4 first step transforms" trial using:
`stdbuf -i0 -o0 -e0 python -m cProfile /full/path/to/ganga-7.1.14/bin/ganga 2>&1 | tee cProfile.out.txt`

[2019-07-18 23:39] egede commented on #1485
@alexanderrichards This is indeed exactly the strategy. For users it should hopefully be a pretty minor issue. to switch from python2 to python3. Given that python2 will cease to be supported by the end of the year, it is a bit of a mute question as well.

[2019-07-19 12:46] JacekHoleczek commented on #1470
Here's the (gzipped) full "output" from the trial: [cProfile.4.40.out.txt.gz](https://github.com/ganga-devs/ganga/files/3411114/cProfile.4.40.out.txt.gz)

[2019-07-22 02:23] egede commented on #1470
Frmatted in a spreadsheet.
[cProfile.4.40.out.xlsx](https://github.com/ganga-devs/ganga/files/3415412/cProfile.4.40.out.xlsx)

Do I understand from this that the `raw_input` function is using all the time? Is this related to recent changes made in how we deal with the prompt?

[2019-07-22 05:30] egede commented on #1470
Two small tests that maybe can be carried out to see if they make the CPU issue go away.

1. Start `ganga` with the `--very-quiet` option. This will remove all output from the logger apart from `CRITICAL` messages. It will show if it is somehow related to something going on with a large number of messages.
2. Try to run `ganga` without using `ipython`. You can do this by importing `ganga` into a `

[2019-07-22 05:53] egede commented on #1470
Looking again at the original cProfile, I am confused. The total time reported by `raw_input` is 3200 seconds, which seems more or less just to be the time between starting and stopping `ganga` (like 09:16 to 10:08). So does cProfile just report wallclock time and not CPU time. If yes, it makes perfect sense that raw_input spent about 3200 seconds waiting for a prompt. Looking at https://stackover

[2019-07-29 11:33] JacekHoleczek commented on #1470
As I write in my previous posts, it seems that the ganga's CPU usage is "proportional" to the number of the top level (first step) transforms in a task. So, if each such a transform creates a separate thread and the cProfile does not take them into account at all then it will not really help in debugging the problem.

1. I ran the small `--very-quiet` trial ... here's the (gzipped) full "output" f

[2019-07-30 00:19] egede commented on #1470
From the above, it seems to me that the problem is related to the monitoring of the Tasks. I have tried to look a bit at the code for that. There is a specific thread started for this that executes the function

https://github.com/ganga-devs/ganga/blob/d4fa1cce3cf5d4d8d8a3fdc990cfdf1d82b41ef4/ganga/GangaCore/GPIDev/Lib/Tasks/TaskRegistry.py#L53

Apart from the slightly aggressive loop at the end o

[2019-07-30 06:27] JacekHoleczek commented on #1470
You can see the full output from `jobs` and `tasks.table()` in both attached files (in my previous posts).

Concerning the new test `1.` ... in the configuration file, I can see a commented out line `#disableTaskMon = False` which seem to suggest that "False" is the default setting or is it not?

Concerning the new test `2.` ... should I also set `disableTaskMon = False`, or should I leave this li

[2019-07-30 06:37] egede commented on #1470
Sorry, for task one, I meant of course setting it to `True`. Remember to take away the `#` from the line. For Task 2, leave `disableTaskMon` as is (so `False`).

[2019-07-30 09:37] JacekHoleczek commented on #1470
1. The `disableTaskMon = True` trial ...
   The "initial" ganga's CPU usage is around 6% and it seems to stay at around 6 - 10 % all the time.
   Unfortunately, after `tsk.run()`, NO JOB is started ... I waited 15 minutes and NOTHING happened.
   The `jobs` output is completely empty.
   In the `tasks.table()` output, I can see that all transforms are "running".
   The `queues` output looks like a

[2019-07-31 00:55] egede commented on #1470
Hmm, I can see why this happens, but it did not teach us too much. So we know now that the cause of the high CPU usage is from the monitoring threads. That the `TaskMonitoring` thread is using 100% CPU for 5-6 seconds (when there are only very few jobs in the system is a worry. If that scales with the number of jobs, then you could see that he idle period of one minute could be far between. If you

[2019-07-31 08:36] JacekHoleczek commented on #1470
What "debugging information" should I add into these "\_thread\_main" and "update" methods?

[2019-08-01 00:09] egede commented on #1470
As a better idea, I have instrumented a version of Ganga to give profile information for the threads. Can you try to install Ganga from https://github.com/ganga-devs/ganga/tree/CProfileThreads and give it a go. Just run it as normal (`cProfile` s enabled internally for the threads). It will print the profile at the end on `stdout`, so just post that back. To install from the branch, you can do

[c

[2019-08-01 15:13] JacekHoleczek commented on #1470
Many thanks for your help.

Here's the (gzipped) full "output" from the new trial: [CProfileThreads.4.40.out.txt.gz](https://github.com/ganga-devs/ganga/files/3457379/CProfileThreads.4.40.out.txt.gz)

[2019-08-02 04:59] egede commented on #1470
OK, that didn't work as I did not realise that something special was required for static methods. So lets us try again. I now use the profiling method that @ishanrai05 implemented. So do

[code]
Then run `ganga` with

[code]
and finally pack up in a tarball all the files created under `gangadir/logs/cpu_profile`. In particular, it is the `TaskRegistry-_thread_main` and the different `updateMonitor

[2019-08-02 08:10] JacekHoleczek commented on #1470
Full "logs" from the new trial: [gangadir.logs.4.40.ganga-7.1.14.2019.08.02.06.29.tar.gz](https://github.com/ganga-devs/ganga/files/3460210/gangadir.logs.4.40.ganga-7.1.14.2019.08.02.06.29.tar.gz)

The "initial" ganga's CPU usage was around 25%.
After my task was `run()`, it increased to 50 - 70% ("oscillating") and stayed in this range also after the task was "completed".

[2019-08-05 23:46] egede commented on #1470
So I am getting some understanding of this. I managed to get the profiling to work for all threads and I looked at a simple Ganga session that does absolutely nothing. That takes up 20% of CPU time, by just keeping the threads alive. Look at tables below.

First just CPU time used.

[code]

and now who is calling the first ones in the table above

[code]

So I see that the monitoring thread in the

[2019-08-06 17:05] mesmith75 commented on #1470
I wonder if that is still an issue with newer python versions? The comments seem to suggest it may be improved.

[2019-08-07 04:18] egede commented on #1470
Running the same profiling in the `python3` branch gives less information. I am not sure why. However, the idle `ganga` session is still using high CPU, even when there is nothing to monitor. Running `strace -f` on the process reveals a huge number of calls of the type
[code]
which to me looks like almost the same problem. I thought about as a test to make all the threads blocking. This should sti

[2019-08-07 07:55] JacekHoleczek commented on #1470
Now, when the "high CPU usage" problem is confirmed, I would like to return to another problems that I reported here.

I think I can live with the misbehaving logger. Under normal conditions, the amount of "screen output" is not that big (just the usual messages about jobs being submitted and completed) so, I think I can enforce `_interactive_cache = False` (note: `--very-quiet` is not an option,

[2019-08-07 09:36] egede opened #1495 "Misbehaving logger"
Message taken from #1470 by @JacekHoleczek

Now, when the "high CPU usage" problem is confirmed, I would like to return to another problems that I reported here.

I think I can live with the misbehaving logger. Under normal conditions, the amount of "screen output" is not that big (just the usual messages about jobs being submitted and completed) so, I think I can enforce _interactive_cache = Fals

[2019-08-07 09:38] egede opened #1496 "Excessive CPU usage of Ganga when idle"
So I am getting some understanding of this. I managed to get the profiling to work for all threads and I looked at a simple Ganga session that does absolutely nothing. That takes up 20% of CPU time, by just keeping the threads alive. Look at tables below.

First just CPU time used.

[code]

and now who is calling the first ones in the table above

[code]

So I see that the monitoring thread in the

[2019-08-07 09:40] mesmith75 commented on #1495
To some extent this is out of our hands - it is up to what IPython does.

[2019-08-07 09:41] egede commented on #1496
An idea to look into is to change the way Ganga works such that we can avoid calls to the thread queue with a timeout. The "poison pill" idea discussed in the blog referenced above might be the way to go.

[2019-08-07 09:42] egede commented on #1496
@JacekHoleczek Please comment on the CPU when idle issue here and not in the meandering issue which it arose from.

[2019-08-07 23:03] egede commented on #1496
Above tests were done in python2.

Running the same profiling in the python3 branch gives less information. I am not sure why. However, the idle ganga session is still using high CPU, even when there is nothing to monitor. Running strace -f on the process reveals a huge number of calls of the type
[code]
which to me looks like almost the same problem. I thought about as a test to make all the thre

[2019-08-08 00:32] egede commented on #1496
To make progress on this I suggest

1. Create a branch based on `develop`. This will still be python 2.7 where we have the better debugging information.
2. Install `yappi` with `pip install yappi`
3. Modify https://github.com/ganga-devs/ganga/blob/develop/bin/ganga to start and report on the profiling.
[code]
4. While running ganga interactively, look at if you see significant CPU usage (just use

[2019-08-22 03:25] sriram-sb commented on #1496
Hi all,
I'm very sorry about not being able to get back to this sooner. University is starting up soon and tying up the loose ends beforehand took longer than intended. I've already completed up to step 4 in the comment above, and intend to report the results back within the next 1-2 days. Sorry for the delay.

[2019-08-26 03:15] sriram-sb commented on #1496
@egede Hi Professor:

Ganga does, like you noted, seem to be taking a significant amount of cpu on idle - `top` reports that it takes anywhere from about 16 - 25% of the cpu on idle. This is what I see when I run those commands on the `pstats` tool, I get [this](https://hastebin.com/isaruriqov.js).

When I try removing the timeout on the `item = self.__queue.get(True, 0.05)` as you suggested above

[2019-08-26 04:30] egede commented on #1496
The two different outputs from `pstats` look almost identical to me. So my feeling is that we do not understand what is going on. It is possible to get `pstats` to report on who made the different function calls (so who was it that made the call to `sleep` etc. Can you try to look into this. I wonder if we are looking at the wrong piece of code somehow.

[2019-08-28 09:37] egede commented on #1496
We discussed this issue in todays weekly operational meeting. The suggestion coming up was to try to understand if the excessive CPU usage that we see is due to a fundamental problem with python threads or if it is due to the way that we use them in Ganga.

So the proposal is to create a standalone python programme for testing. It should simply start a large number of worker threads and then them

[2019-08-30 06:43] JacekHoleczek commented on #1495
So, the "misbehaving logger" problem started in the https://github.com/ganga-devs/ganga/issues/1453 thread for the ganga 7.1.12 version. But I used this version for a short time only as a test (my "production version" was 6.0.44). I then switched to ganga 7.1.14 and you can see my full report in point 4. of [my first post](https://github.com/ganga-devs/ganga/issues/1470#issue-448467697) in the htt

[2019-09-16 14:16] egede opened #1500 "Migrate Dockerfile's to python3"
The Dockerfile's used for the Jenkins testing should be upgraded to install python3.

[2019-09-16 14:23] egede commented on #1500
https://monovm.com/blog/how-to-install-python-3-on-centos-7/ might be the best way to install python3 on a plain centos7 machine.

[2019-09-16 14:49] JacekHoleczek commented on #1500
The "community approved" [EPEL](https://wiki.centos.org/AdditionalResources/Repositories) repository provides the "python36" package (python 3.6.8) plus many dependent ones.
There is also the older "python34" package (python 3.4.10) plus its dependent packages.
There are also some "\*python3\-\*" packages which do not depend on the exact version.
Also, the "additional CentOS provided" [SCL](https:

[2019-10-08 07:52] fstagni commented on #72
Hi,
I write in this old task to know if progress have been made on Ganga side regarding the multiprocessor jobs (and nodes). On DIRAC side there have been in these years some progress in this sense (basically , for what interest you, a `Job().setNuumberOfProcessors()` call in the APIs, and machinery on the pilot+matching side).

[2019-10-08 09:24] alexanderrichards commented on #72
Thanks for this @fstagni we have had this on hold for a while. If the API is now this easy it should be easy to include. In fact we have a generic catchall options that would allow us to use it already but I think at our meeting tomorrow we can discuss if we have a more explicit interface.

[2019-10-08 12:08] fstagni commented on #72
BTW, please also consider previous discussions in https://its.cern.ch/jira/browse/LHCBDIRAC-496

[2019-10-08 12:10] alexanderrichards commented on #72
I seemingly dont have access to view this. maybe @mesmith75 can you take a look

[2019-10-16 10:49] fstagni opened #1503 "Call DIRAC.killJob() when removing jobs"
All in the title: it seems that jobs are not removed by DIRAC when they are removed from Ganga backend.

[2019-10-16 22:17] egede commented on #1503
If a job is removed in Ganga it attempts to kill any running jobs and subjobs, see https://github.com/ganga-devs/ganga/blob/d4fa1cce3cf5d4d8d8a3fdc990cfdf1d82b41ef4/ganga/GangaCore/GPIDev/Lib/Job/Job.py#L1664 . However, if the kill command throws an exception, the job is removed anyway and there might be orphans left.

- Removing jobs even if the kill fails seems correct to me. Otherwise you could

[2019-10-17 06:08] mesmith75 commented on #1503
So we have been using `DIRAC.deleteJob` which according to the docstring should be sufficient to kill it first.

[2019-10-17 07:42] fstagni commented on #1503
Lately we have seen cases where users are asked to delete a large number of faulty jobs. They did in Ganga, but DIRAC jobs never received got killed. It happened frequently enough that makes me think that there's something wrong in the logic somewhere. I will let you know when it happens.

In the meantime, I cc @VladimirRomanovsky

[2019-10-17 11:03] mesmith75 commented on #1503
There may be an error in our logic for killing large numbers of jobs - I'll check.

Looking through the Dirac code it is not entirely obvious to me that `deleteJob` ensures a job is killed. Maybe we should make the change in any case.

[2019-10-17 11:53] fstagni commented on #1503
I can confirm that `deleteJob` indeed also kills them.

[2019-10-20 22:38] egede opened #1504 "Ganga process suspended for LHCb users"
In the past few weeks, LHCb users have observed that the Ganga process gets suspended. It can then be restarted with foregrounding the process. Below is an analysis by Chris Burr

[code]

[2019-10-21 05:14] egede commented on #1504
I can reproduce the problem on my local machine by limiting the number of available file descriptors (using `ulimit -n 32`). This might explain why the problem tends to show up on resource limited machines. For the problematic implementation of the `lhcb-proxy` commands, the following should be a work-around that can be tested.

[code]

[2019-10-21 11:10] mesmith75 commented on #1504
So this is an LbScripts issue? Odd that it hasn't affected me on SLC6.

Do we have similar problems with our subprocesses?

[2019-10-21 12:34] chrisburr commented on #1504
I don't think it's a LbScripts issue as I can reproduce a similar problem using `voms-proxy-info` directly or even `ls`. In my opinion it's an issue with Ganga that stdin is shared with processes running in background threads. I don't think there is a use case for it and it's cause other issues in the past https://github.com/ganga-devs/ganga/issues/1215.

[2019-10-21 22:35] egede commented on #1504
@chrisburr Thanks for the comments. I think I actually understand the issue now. There is a short term fix for lhcb-proxy-info and lhcb-proxy-init, (which I have asked for). There is then a longer term issue to solve for Ganga which I will create a new issue for.

[2019-10-21 22:39] egede opened #1505 "Make stdin=devnull for all subprocess calls in background threads."
To avoid trouble with stdin getting closed by a subprocess,, we should have stdin=devnull for any subprocess started from a background thread. See #1504 for some details.

[2019-10-22 09:03] chrisburr commented on #1504
I've discussed with Marco Clemencic and he's happy for me to hotfix `lhcb-proxy-info` in LbScripts on CVMFS to use my devnull patch. I'll do this now (EDIT: I'm waiting for the Stratum 0 to become available so it'll be done "soon").

I won't change `lhcb-proxy-init` as it needs stdin to enter the users password and therefore doesn't get used in the background?

[2019-10-22 09:16] egede commented on #1504
@mesmith75 What happens when the monitoring loop requires a proxy for a Dirac job? Does it silently refrain from monitoring, give a warning or do we request it from the background thread?

[2019-10-22 09:39] mesmith75 commented on #1504
I think it gives a warning or info about a missing credential and doesn't monitor the job.

[2019-10-22 12:47] chrisburr commented on #1504
Hotfix applied and it no longer seems to happen on the lxplus node I tested. It might take a while to propagate everywhere.

https://lblogbook.cern.ch/Core+Software+processes+and+tools/275

[2019-10-22 23:31] egede commented on #1504
Thanks. I will close this as there is a separate issue on fixing this in general.

[2019-10-22 23:31] #1504 closed, assigned to nobody

[2019-10-23 09:36] egede commented on #1505
As the background threads quite often get functions simply passed to them, it is not trivial how this should be implemented. Think of (contrived) code like

[code]
In this case we will have to ensure that `/dev/null` is passed as stdin for the eventual subprocess that is started. It seems like we in the methods that use subprocess we can detect if we are in the main thread. If not, we will redirec

[2019-10-23 09:41] egede opened #1508 "Add FATAL message for Ganga packages that are not converted to python3"
If a package like `GangaATLAS` or `GangaND280` that are not converted to python3 are loaded in Ganga version 8 and above, a warning should be executed that tells the user

1. That package will not be loaded as it is not yet python3 compatible
2. What change is required to take away the FATAL message and attempt to load package
3. That the Ganga developers are happy to assist with the conversion.

[2019-10-30 11:14] #1508 closed, assigned to nobody

[2019-10-31 18:49] mesmith75 commented on #417
So I think we tracked this down in #1496 . Close this for that discussion

[2019-10-31 18:49] #417 closed

[2019-11-01 12:20] #1485 closed, assigned to alexanderrichards

[2019-11-01 16:02] mesmith75 commented on #1500
Can we close this?

[2019-11-01 16:35] MannyMoo opened #1516 "prepareGaudiExec broken in v8.0.0"
Tested with both x86_64-slc6-gcc8-opt (local machine) and x86_64-centos7-gcc8-opt (lxplus):
[code]

[2019-11-01 17:19] MannyMoo opened #1517 "Error generating LFN->PFN catalog"
Eg:
[code]

Then it hangs. I'm guessing it doesn't like the `L` suffix on the `'size'` value when it tries to `eval` it.

[2019-11-01 17:29] MannyMoo opened #1518 "X509_USER_PROXY is ignored (custom grid proxy file)"
Eg, first do
[code]
then in Ganga
[code]

[2019-11-01 18:31] mesmith75 commented on #1518
Is this new for Ganga 8.0.0

[2019-11-03 22:21] #1500 closed, assigned to nobody

[2019-11-03 22:23] egede commented on #1516
Thanks for reporting. This is a typical python2 -> python3 problem. Was obviously not caught by our automatic testing.

[2019-11-04 13:15] #1517 closed, assigned to nobody

[2019-11-04 13:15] #1518 closed, assigned to nobody

[2019-11-04 13:15] #1516 closed, assigned to nobody

[2019-11-04 18:20] mesmith75 commented on #1503
I have been unable to produce a problem with my tests. All the jobs and subjobs get killed successfully. I'll keep an eye out in the future for issues.

In any case I have added a check to make sure that everything does get killed in #1520

[2019-11-05 10:42] #1503 closed, assigned to nobody

[2019-11-06 11:10] mesmith75 opened #1523 "Add execfile to the GPI"
Unfortunately `execfile` is no longer there in python 3. We should try and add an equivalent to the GPI as it was useful.

[2019-11-06 22:36] egede commented on #1523
Is `%run` from the iPython magic a good enough replacement?

[2019-11-06 22:50] egede commented on #1523
As this is part of basic python, I think it is a bad idea to put a replacement in the GPI. For interactive use, the `%run` magic seems the best.
It seems like it was removed as it by the python designers was considered bad practise due to the way that it executes code inside the current namespace. In scripts, it can be replaced with

[code]
where the name space for executing the code is isolated.

[2019-11-07 09:04] mesmith75 commented on #1523
Yes it was useful because it ran in the ganga namespace which %run does not.

[2019-11-07 09:30] alexanderrichards commented on #1523
however `runpy.run_path` will act like exec in that you can pass the current namespace into `init_globals` and it returns the namespace after running the file which can then be merged with current namespace either selectively (for security) or entirely using the dict.update method

[2019-11-07 09:31] alexanderrichards commented on #1523
Whilst this was the default behaviour I think we already used it like the new `runpy` module in that we passed in a copy of the namespace and repopulated it afterwards. In this case the switch to runpy should be seamless

[2019-11-07 09:44] mesmith75 commented on #1523
Ah that seems like a reasonable solution. I think it would be a nice if we added it as a helper function for users.

[2019-11-07 09:56] egede commented on #1523
Yes, I agree. Would be good to make the name reflect what it wraps.

[2019-11-12 04:58] egede opened #1524 "Undefined if wrapper scripts are running in python2 or python3 environment"
For Localhost the wrapper script is started as
[code]
which means that it in a default virtualenv installation will be executed as python3. As the wrapper scripts (including the injected code) are not converted to python3, this will fail.

[2019-11-12 22:51] #1524 closed, assigned to nobody

[2019-11-13 10:26] mesmith75 opened #1526 "Add check for unfortunate options file names"
Should we add a check for users giving their options files unfortunate names? Specifically if a user calls their DaVinci options `data.py` this overwrites the `data.py` of their dataset so nothing gets processed.

[2019-11-19 12:05] MannyMoo opened #1532 "[Configuration]StartupGPI is ignored in v8"
Eg,
[code]
just gives the usual
[code]

But with v7.1.15 we see the expected output:
[code]
[code]

The effect is the same if I edit `~/.gangarc` instead.

[2019-11-19 12:26] mesmith75 commented on #1532
Thanks for the report! A fix has been prepared.

[2019-11-19 14:08] #1532 closed, assigned to nobody

[2019-11-20 13:39] #1526 closed, assigned to nobody

[2019-11-26 22:51] mesmith75 commented on #1461
Fixed by #1462

[2019-11-26 22:51] #1461 closed, assigned to nobody

[2019-11-26 22:52] mesmith75 commented on #1460
Fixed by #1462

[2019-11-26 22:52] #1460 closed, assigned to nobody

[2019-11-27 02:41] #1213 closed, assigned to egede, alexanderrichards

[2019-11-27 22:16] egede opened #1541 "Subjob LFNs mixed up in subjobs for GaudiExec on Dirac backend"
See report below. This is an urgent bug to fix as it could cause users to have inconsistent datasets processed.

[code]

[2019-11-28 13:10] mesmith75 commented on #1541
This is pretty bad. Fortunately when subjobs are resubmitted it cuts out the requisite part of the initial submission script, so even though the job numbers are messed up you still end up resubmitting the right thing.

This is caused by a bug when the subjobconfigs are made - the problem disappears of `j.parallel_submit = False`. Therefore the subjobconfigs are put into a list in a random order so

[2019-11-28 20:49] #1541 closed, assigned to mesmith75

[2019-12-03 17:14] chrisburr commented on #1505
Now that Ganga has stopped using `LbScripts` https://github.com/ganga-devs/ganga/issues/1504 is back. There isn't an equivalent of my hack that can be applied to `LbEnv` so this needs to be fixed properly.

[2019-12-04 14:21] mesmith75 opened #1545 "Add tests for readInputData"
Add tests for `GaudiExec.readInputData`.

[2019-12-05 04:13] egede opened #1547 "Condor backend is missing worker noed code injection"
As faras I can see, there is no code injection into the worker node script for the `Condor` backend. So if I have the default configuration

[code]
and then do

[code]
the file will never be copied to the WN (The configuration asks for it to happen on the WN, but the WN code doesn't inject any code for it). See https://github.com/ganga-devs/ganga/blob/b8badbbf36c599cf2345256d08868b624c434f9f/ganga

[2019-12-05 09:11] #1505 closed, assigned to nobody

[2019-12-08 23:42] mesmith75 opened #1551 "Executable not clearing up after itself"
We are leaving directories in `$TMPDIR` after job submission.

[2019-12-10 03:50] egede opened #1552 "Put limit on subjobs that can pull virtualization image from the same server."

[2019-12-10 03:52] egede commented on #1552
The server gitlab.cern.ch is not able to cope with potentially thousands of subjobs pulling a virtualization image at the same time. We should configure it such that there is a limit on how many subjobs can do that. Create two configurables for the virtualization, one that deals with the maximum number and another a regexp matching the image names that it should apply to.

[2019-12-10 03:53] egede commented on #1552
@chrisburr Please make further comments here.

[2019-12-12 12:26] chrisburr commented on #1552
I brought this up for discussion in today's LHCbDIRAC developers meeting and we all agreed that the infrastructure is not ready for this to be used without any restrictions. This isn't LHCb specific and applies to the grid as a whole.

The main issue is that containers that analysts will want to use are often quite large and these must then be fully unpacked into `$TMPDIR` each time singularity is

[2020-01-01 14:02] ishanrai05 commented on #1496
Increasing the timeout to something larger should decrease the CPU usage but it will also decrease the responsiveness. I have made a PR that allows user to set timeout according to their machine. Ideally one should aim for timeout time that balances CPU usage and responsiveness.

A better solution would be to have a separate thread that periodically checks the process and informs the queue if it d

[2020-01-01 22:28] egede commented on #1552
Returning to this after the holidays.

At least for Singularity, I do not think that `$TMPDIR` is used for anything. The wrapper sets `$SINGULARITY_CACHEDIR` to the working directory, so it should be confined to there. If `$TMPDIR` is not used at all (I will test), should we then reconsider some of the statements below? See my first comments.

- *Never pull containers on worker nodes, always ship

[2020-01-13 17:40] #1344 closed, assigned to nobody

[2020-01-21 14:29] #1551 closed, assigned to nobody

[2020-01-24 13:20] masterashu commented on #1545
@mesmith75  I would like to work on it. Since i am not familiar with Ganga, can you just tell me where to start.

[2020-01-26 14:37] mesmith75 commented on #1545
Turns out this already exists here:
https://github.com/ganga-devs/ganga/blob/97cf1c6d7ceca0d99364532d598cb475d1dd006f/ganga/GangaLHCb/test/GPI/TestExternalGaudiExec.py#L66
Closing the issue.

[2020-01-26 14:37] #1545 closed, assigned to nobody

[2020-01-28 11:46] mesmith75 opened #1563 "Jenkins failures"
[code]
This is the cause of the recurring failures in Jenkins.

[2020-01-30 20:31] tarunlnmiit commented on #462
I want to start contributing as I want to participate in this year's GSOC. If I understand the issue correctly, the function named printPrepTree needs to be renamed printTree and all the calls to this function in the codebase need to be changed accordingly. Also, I didn't understand the last line in the issue described above.

Any help will be appreciated.

[2020-02-01 09:07] dilawari2008 commented on #1479
Hi
I am Vagish and I would like to contribute to Ganga.
As far as I have understood this issue, the master job is unable to derive the status of the subjob and thereby modify its status.
I tried this also. I made a submitted subjob to fail explicitly, but the master job had its status submitted(which I expect should have become failed).
I guess the output which is required is that if any modificat

[2020-02-02 09:34] dilawari2008 commented on #1479
Hi
I am Vagish and I would like to contribute to Ganga.
As far as I have understood this issue, the master job is unable to derive the status of the subjobs and thereby modify its status.
I tried this also.
First I created a job and split it into 3 subjobs. The status of these subjobs was new and I explicitly made the master to status='submitting'
now when I submitted each individual subjob as j.s

[2020-02-02 21:59] egede commented on #462
When a job object in Ganga is "prepared" it is placed in a read-only state and a hash is calculated for the attached application object such that it can be checked if it is still consistent. That is what the last sentence refers to. Implementing this long forgotten change should be fine. Just create a pull request.

[2020-02-02 23:38] egede commented on #1479
Hello,

A bit more investigation is required on this issue to see if there indeed is a problem or not. I do not think your testing quite explore the problem.

- Create a job with a few subjobs
- Call `j.submit()` but ensure that one of the subjobs is failing the submit (by raising a `JobError`)
- Now investigate the status of the master job (is it in `submitting` or in `new`?)
- Try to submit the

[2020-02-02 23:45] egede commented on #1479
@dilawari2008  If interest is in connection with GSoC https://hepsoftwarefoundation.org/gsoc/projects/2020/project_Ganga.html, then please contact me by using the information on the mentor part of the individual projects.

[2020-02-02 23:51] #1482 closed, assigned to nobody

[2020-02-03 12:51] hedonhermdev commented on #1523
Hello, I would like to work on this issue. Am I supposed to add the function to ganga.GangaCore.Runtime.GPIFunctions? Also is `runfile()` a good name?

[2020-02-03 17:33] mesmith75 commented on #1523
That sounds great!
I am not sure where exactly it should go. It needs to have access to everything in the Ganga namespace.
`runfile` sounds fine.

[2020-02-05 02:10] egede commented on #1449
Marked as won't fix. See last comment by Mark.

[2020-02-05 02:10] #1449 closed, assigned to nobody

[2020-02-05 02:17] #1268 closed, assigned to nobody

[2020-02-05 02:19] #1115 closed

[2020-02-05 02:26] egede opened #1565 "Remove dead extensions"
Several extensions to Ganga have not seen development for so long that they can be seen as dead. The following extensions can be removed by just removing the top level directories with their name.

- GangaCamtology
- GangaPlotter
-  GangaCMS

The rest of the codebase should be checked for references to these packages.

[2020-02-05 02:30] egede commented on #1410
Just checked and this problem is still there. I can't change the logging level from within an interactive session neither. So

[code]

has no effect.

[2020-02-05 03:02] egede opened #1566 "Revive GangaTutorial package"
The GangaTutorial package is not working in the latest release.

[code]
Looking at https://github.com/ganga-devs/ganga/blob/develop/ganga/GangaGaudi/PACKAGE.py and https://github.com/ganga-devs/ganga/blob/develop/ganga/GangaGaudi/__init__.py should make it clear what changes are required. Inside package there might be further changes required to deal with python3.

[2020-02-05 03:16] egede commented on #1091
https://github.com/ganga-devs/ganga/blob/develop/ganga/GangaCore/Utility/Config/tests.py has a number of tests that should be migrated to the proper testing framework located in https://github.com/ganga-devs/ganga/tree/develop/ganga/GangaCore/test. The `A.ini` and /B.ini` files should probably be moved and/or deleted.

[2020-02-06 23:34] egede opened #1567 "Migrate tests from old testing framework"
The tests located in https://github.com/ganga-devs/ganga/tree/develop/ganga/GangaCore/old_test are not executed as part of the Continuous Integration tests. The following should be done

- [ ] Migrate tests that look useful to https://github.com/ganga-devs/ganga/tree/develop/ganga/GangaCore/test by changing them to run within `pytest`.
- [ ] Remove all tests that no longer have value. Almost for s

[2020-02-08 17:40] fenkl12 commented on #1565
I will be working on this one

[2020-02-08 20:09] mayankDhiman commented on #1567
I look forward to work on this.

[2020-02-10 07:03] advait-l commented on #1566
I would like to work on this issue.

[2020-02-10 07:53] egede commented on #1566
You are very welcome.

[2020-02-10 18:06] advait-l commented on #1566
I have set up the code but I'm unable to replicate the issue with the GangaTutorial package.
How do I do that?

[2020-02-10 19:41] dilawari2008 commented on #1091
How do I run the tests files in GangaCore/test and GangaCore/Config such as tests.py ?

[2020-02-11 00:10] egede opened #1573 "Update installation instructions"
The installation instructions available at https://ganga.readthedocs.io/en/latest/UserGuide/InstallAndBasicUsage.html need a bit of updating. The file to update is
https://github.com/ganga-devs/ganga/blob/develop/doc/UserGuide/InstallAndBasicUsage.rst

What is required is:
- Make it clear at the top that Ganga is only available for Python3 and that it is only supported on linux systems.
- In the P

[2020-02-11 00:23] #1565 closed, assigned to nobody

[2020-02-11 00:29] egede commented on #1566
Typo in instructions. It should say
[code]

[2020-02-11 00:30] egede commented on #1566
Sorry, updated the instructions.

Ulrik.

On 11/2/20 5:06 am, Advait Lonkar wrote:

[2020-02-11 00:40] egede commented on #1091
pip install --upgrade -r requirements.txt

and then for me

~/programming/ganga/bin/pytest Unit/TestProxy.py

For some reason I have to give the full path to pytest for it to work.
Not quite sure why.

Ulrik.

On 11/2/20 6:41 am, dilawari2008 wrote:

[2020-02-11 06:26] Corxrew commented on #1573
I would like to take this up

[2020-02-11 09:40] egede commented on #1573
You are welcome.

[2020-02-11 11:51] #1573 closed, assigned to nobody

[2020-02-11 18:09] advait-l commented on #1566
Thanks, I was actually unable to replicate the issue.

Could you please elaborate upon what needs to be done to fix this issue?

[2020-02-11 21:32] #12 closed

[2020-02-11 21:36] #3 closed

[2020-02-11 21:36] #37 closed

[2020-02-11 21:40] #343 closed

[2020-02-11 21:41] #275 closed

[2020-02-11 21:42] #276 closed

[2020-02-11 21:43] egede commented on #314
I believe this has more or less been done.

[2020-02-11 21:43] #314 closed

[2020-02-11 22:23] egede commented on #1023
The `report` feature is used as a way for a user to upload their configuration and then get help with debugging an issue. The current implementation has not been maintained and some issues should be solved:

- The import error should be fixed. A better way is to do `import GangaCore.GPIDev.Lib.Config` and then just refer to it as `GangaCore.GPIDev.Lib.Config.config`
- The server that the report us

[2020-02-11 22:24] #1083 closed

[2020-02-11 22:29] #726 closed

[2020-02-11 22:30] #652 closed

[2020-02-11 22:30] #634 closed

[2020-02-11 22:32] egede commented on #382
Duplicate of #1023

[2020-02-11 22:32] #382 closed

[2020-02-11 22:32] #80 closed

[2020-02-11 22:33] egede commented on #1563
Is this still the case?

[2020-02-11 22:44] egede commented on #1566
If I ask `Ganga` to load the tutorial package on startup with the line
[code]
and then start `Ganga`, I get the error
[code]
If you do not see the error, I suspect that you fail to set the environment variable correctly.

[2020-02-17 09:57] #1523 closed, assigned to mesmith75

[2020-02-17 12:15] hedonhermdev commented on #1567
Hey, @mayankDhiman are you working on this?

[2020-02-17 18:43] mayankDhiman commented on #1567
Hi @hedonhermdev, Yes I am.

[2020-02-18 08:35] hedonhermdev commented on #462
Hey, @tarunlnmiit are you working on this?

[2020-02-18 12:46] admorris opened #1580 "RootMerger using string.join (removed in python3)"
I got this error when using `RootMerger`:
[code]

`join()` was removed from the `string` module in Python 3 in favour of the builtin `str.join`, so the fix is quite simple: instead of `string.join(arg_list, ' ')`, use `' '.join(arg_list)`.

[2020-02-18 13:33] #1580 closed, assigned to nobody

[2020-02-19 09:16] tarunlnmiit commented on #462
@hedonhermdev No.

[2020-02-19 09:17] hedonhermdev commented on #462
@egede can I take this issue up?

[2020-02-19 22:27] egede commented on #462
@hedonhermdev Sure.

[2020-02-21 13:24] ast0815 opened #1583 "GangaDataset and GangaDatasetSplitter with treat_as_inputfiles"
Hello,

I seem to have several issues with `GangaDataset`  and `GangaDatasetSplitter`. I will create an issue for each. I am using Ganga 8.2.0.

I noticed that `GangaDataset`'s `treat_as_inputfiles` argument does not work when combined with  a `GangaDatasetSplitter`.

This works:

[code]

showing the two dataset `*.mac` files:

[code]

This does not work:

[code]

showing a distinct lack of input

[2020-02-21 13:35] ast0815 opened #1584 "No __GangaInputData.txt__ with Condor backend"
This issue is slightly related to #1583.

I am trying to use the Condor backend for job submission together with `GangaDataset` inputdata (and ultimately `GangaDatasetSplitter`). It seems like the working directory of my Condor worker nodes do not contain the ` __GangaInputData.txt__ ` file like the Local ones do.

This works as expected:

[code]

yielding

[code]

This does not work:

[code]

yie

[2020-02-23 22:58] egede commented on #1584
Thanks for reporting. This looks like a straight bug. The wrapper scripts taking care of this are for historical reasons not sharing as much code as they should. Fix should be fairly straight forward.

[2020-02-23 22:59] egede commented on #1583
Syntax is fine, so looks like a bug. A workaround while problem is fixed will be to use the `GenericSplitter`.

[2020-02-24 11:03] #462 closed

[2020-02-24 11:31] hedonhermdev commented on #1410
Can I work on this issue?

[2020-02-24 12:47] RajatSingh95 commented on #1023
@egede which file has the server configuration where reports has to be uploaded?

[2020-02-25 08:48] egede commented on #1410
You are welcome. It will likely take a bit of digging to figure out what the actual problem is.

[2020-02-25 09:04] egede commented on #1023
In your home directory there is a hidden configuration file called .gangarc. In that one you will find

[code]
If you take away the '#' at the beginning of the line you can change the default value to anything else.

Another (and eventually permanent) way is to change the default value which is set in the file `ganga/GangaCore/__init__.py`

[2020-02-25 09:41] egede opened #1588 "Make backend wrappers more uniform"
The backend wrapper scripts for different backends are different for no good reason.

- Local: https://github.com/ganga-devs/ganga/blob/develop/ganga/GangaCore/Lib/Localhost/LocalHostExec.py.template
- Batch: https://github.com/ganga-devs/ganga/blob/develop/ganga/GangaCore/Lib/Batch/BatchScriptTemplate.py.template
- Condor: https://github.com/ganga-devs/ganga/blob/a053267c3e8ffa1c6e4adb685c5ae49a6

[2020-02-25 09:42] egede commented on #1588
@ishanrai05 Is this something that you will be able to take a look at?

[2020-02-25 10:12] ishanrai05 commented on #1588
I am working on this.

[2020-02-25 16:41] RajatSingh95 commented on #1023
@egede I have made changes to `feedback_report.py`  and tested the report function on a local django server by creating a service which accepts the request from Ganga.
I have added commits regarding the change. Please have a look.
![report_output](https://user-images.githubusercontent.com/26798329/75267348-24537800-581c-11ea-9a65-3b1b3366f034.png)

[2020-02-27 17:19] AbhinavMir opened #1591 "Error in "pip install Ganga""
pip log overview:
_ERROR: Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output._

How to reproduce: "pip install ganga" on Windows machine, using Python3.

[2020-02-27 22:46] egede commented on #1591
Ganga only works on a linux architecture. Please install a virtual machine or similar and work within that.

[2020-02-27 22:57] egede opened #1592 "Make backend wrappers work in both python2 and python3"
The backend wrapper for the local backend https://github.com/ganga-devs/ganga/blob/develop/ganga/GangaCore/Lib/Localhost/LocalHostExec.py.template explcitly requires python2. The simple script (and the code injected into it) should be agnostic to python2/3 and the shebang changed to just say `/bin/env python`

[2020-02-27 22:59] egede commented on #1592
This might be solved at the same time as #1588

[2020-02-27 23:02] egede commented on #1592
Thanks to @EdwardCullen30 for reporting this issue.

[2020-02-28 11:51] mesmith75 opened #1594 "Credential store cannot deal with leap year?"
[code]

[2020-02-28 14:30] EdwardCullen30 commented on #1592
is this issue resolved ? cause i just try to do the same task and was able to get a error-free result

[2020-02-28 21:44] Adarsh-NP commented on #1591
Also, kindly read and take a note of this

Using pip, you can install things in different ways, and there might be some confusion there.

As suggested in the README, you can create a virtualenv and then do everything inside there. As long as you have sourced the 'activate' script, you will then have 'ganga' in our PATH. This is the recommended solution.
If you simply do 'pip install ganga' then a

[2020-03-01 22:22] egede commented on #1583
Looking a bit closer at this, I am not sure that fixing it is the right approach. The `treat_as_inputfiles` argument is really a legacy. Is there anything that prevent these files just to be added as `inputfiles` and a splitter to be based around that instead? While the specific issue is relatively easy to fix, there is at least one more bug due to the legacy behaviour (if you make a copy of one o

[2020-03-01 22:32] #1567 closed, assigned to nobody

[2020-03-01 22:53] egede commented on #1592
The problem is still there, see https://github.com/ganga-devs/ganga/blob/d9d8f56601d83a321d52ad5f8c90bc091c9ccc9d/ganga/GangaCore/Lib/Localhost/LocalHostExec.py.template#L1
However, it will be solved by #1598

[2020-03-01 23:22] #1594 closed, assigned to nobody

[2020-03-02 09:38] mesmith75 commented on #1583
Does it have an impact on Dirac or other remote files as it should cause them to be downloaded to the WN?

[2020-03-02 12:14] ast0815 commented on #1583
My intended use case was to use the `GangaDataset` for the actual input data and the `inputfiles` for scripts and other supplementary files that are common to all (sub-)jobs. I guess it could be achieved with a generic splitter and some logic around it, or a custom splitter, but I have not looked into the latter so far. I have only been using the provided classes.

[2020-03-02 14:00] ast0815 commented on #1584
I just tested this and it seems to work. Local job output:

[code]

Condor job output:

[code]

[2020-03-03 00:12] #1584 closed, assigned to nobody

[2020-03-03 01:52] egede commented on #1583
I think the `Dirac` backend is OK. If you give a file as `inputdata`, it will (for a non `GaudiExec` application) give the `__GangaInputData.txt__` file. If you give it in `inputfiles` it will be copied to the worker node. Works for all `GangaFile` types I believe.

[2020-03-03 01:54] egede opened #1600 "Remove treat_as_inputfiles for inputdata"
In the job class, there is in the `inputdata` field an option to give it an option of `treat_as_inputfiles`. This is a legacy option that gives rise to several other bugs. As the `treat_as_inputfiles` behaviour can be achieved with just using `inputfiles`, there is no reason to keep this legacy.

[2020-03-03 01:55] egede commented on #1583
New issue #1600 created.

[2020-03-03 01:55] #1583 closed, assigned to egede

[2020-03-03 17:59] varunbankar commented on #1600
Should `inputdata.treat_as_inputfiles` be refactored to `inputfiles`?

[2020-03-04 01:24] egede commented on #1600
No, simpler than that. I think the option should be removed together with any code that deals with it. A starting point is given below. It seems like the use of the feature is in some tutorial, not suer which one though ...

[code]

[2020-03-04 10:27] HannaMalygina opened #1602 "Job is finished successfully in Dirac, but failed in Ganga. Reset backend does not help."
Dirac portal shows "Job Finished Successfully".

Ganga says "failed".

sj.backend.reset() does not help.

Ganga also says :
WARNING ---------- error in user/extension code ----------
WARNING Traceback (most recent call last):
WARNING File "/cvmfs/ganga.cern.ch/Ganga/install/8.2.2/lib/python3.6/site-packages/ganga/GangaCore/GPIDev/Lib/Job/Job.py", line 584, in updateStatus
WARNING getattr(self, sta

[2020-03-04 12:44] mesmith75 commented on #1602
Thanks for reporting this.

The job has finalised successfully so all your output data and log files will be in the correct place. This is a just a problem when processing the xml of the metadata so otherwise your job is fine.

It is caused by the LHCb software being python 2 but Ganga being python 3. I though we had caught all of these issues but obviously not.

[2020-03-05 01:13] egede commented on #1563
OK, so in the past few days, I have seen this error several times again. Googling a bit around indicate that there might be a race condition going on. The GangaDirac container build on top of the GangaCore container, but the GangaCore container is not registered yet with the docker daemon. Can we include a sleep statement of maybe a minute at https://github.com/ganga-devs/ganga/blob/cab178021c3b88

[2020-03-05 01:20] mesmith75 commented on #1563
Is there a reason GangaLHCb doesn't fail - does it not build on top of GangaCore?

If you edit the file and create a new PR then the tests on the PR will use the Jenkinsfile from that PR's branch.

[2020-03-05 01:28] egede commented on #1563
That is correct. The GangaLHCb container builds on top of an external LHCb container.

Done - let's see how it goes.

[2020-03-05 03:16] #1602 closed, assigned to nobody

[2020-03-05 08:34] egede commented on #1600
Fixed by #1603

[2020-03-05 08:34] #1600 closed, assigned to nobody

[2020-03-05 08:35] #1591 closed, assigned to egede

[2020-03-05 08:37] #1496 closed, assigned to egede, sriram-b

[2020-03-05 08:39] egede commented on #1470
CPU issue was solved, so closing.

[2020-03-05 08:39] #1470 closed, assigned to nobody

[2020-03-05 10:28] #1563 closed, assigned to nobody

[2020-03-10 23:40] egede commented on #1091
#1609 did some of this

[2020-03-12 13:23] ast0815 opened #1611 "Condor jobs stop being updated in `jobs` list?"
I noticed that sometimes jobs with the `Condor` backend stop tracking the status of the actual jobs on Condor. I.e. they have a perpetual state of "submitted" instead of transitioning to "running" or "completed". I suspect that it might have something to do with the jobs being moved around by the actual Condor system. I.e. I have seen this happen when the job is "held" by Condor and subsequently "

[2020-03-12 22:47] egede commented on #1611
I would like to migrate the status updates of the `condor` backend to use the same heartbeat mechanism as the other batch backends to track the status of the jobs. However, if jobs are held and migrated to different nodes, that might represent a problem (for the other batch backenbds, a job is declared failed if it is running and doesn't update its heartbeat within a given period of time.

I am no

[2020-03-12 23:28] ast0815 commented on #1611
I think marking the job as failed when it gets held would be reasonable. At least that would prompt an investigation by the user into what happened to that job. Ideally the "held" status would be reflected by the Ganga job (including a way of releasing it from ganga). But I guess adding another job state (and methods to deal with it) just for a single backend is maybe not such a wise choice from a

[2020-03-12 23:42] egede commented on #1611
We have a mapping from the often fine grained native backend states to the states reported in Ganga. To me it looks like `held` could be mapped to submitted. We do allow for a transition from running to submitted, so that should be OK. We see this happen quite often with the `Dirac` backend in fact.

[2020-03-13 10:21] ast0815 commented on #1611
So then to get the held job to run, one has to use the Condor tools, right? Or can you re-submit a job in the submitted state from Ganga?

[2020-03-13 10:35] egede commented on #1611
You are exposing my lack of knowledge of Condor. I thought jobs themselves would start again from the `held` state. When a job is `held` is it stopped mid execution and then restarted from that point (like a container that is stopped on one machine and restarted on another) or is it starting from the beginning again when released?

[2020-03-13 11:01] ast0815 commented on #1611
My knowledge is spotty as well. But looking at the docs: https://www.cl.cam.ac.uk/manuals/condor-V6_8_3-Manual/condor_hold.html

I'm not quite sure what causes a job to be put in hold automatically though. I think I read somewhere that this happens when there is e.g. an IO error, so something that can be expected to "fix itself" later.

[2020-03-13 11:05] ast0815 commented on #1611
See also https://htcondor.readthedocs.io/en/stable/users-manual/managing-a-job.html#placing-a-job-on-hold and https://htcondor.readthedocs.io/en/stable/users-manual/managing-a-job.html#job-in-the-hold-state .

Seems like it can continue from a previous checkpoint, and sometimes jobs are released from hold automatically.

[2020-03-13 11:20] egede commented on #1611
So is the correct thing to do when  job goes into hold, to simply remove it from the condor queue and make the Ganga job failed? From Ganga the job can then be resubmitted if required.

[2020-03-13 11:30] ast0815 commented on #1611
I guess that would be the easiest, consistent way of doing it. Even if it might not be ideal in the cases where there is a checkpoint (as you would lose that progress). Checkpoints need to be implemented by the user, though. If you just send off a program without compiling it with the special Condor compiler, there are no checkpoints, I think. And even then I am not sure how that works. So short o

[2020-03-15 23:01] egede commented on #1023
Fixed by #1587

[2020-03-15 23:02] egede opened #1617 "Create a method for user to upload output of `report` functionality."
The `report()` function has been updated but we can no longer use the CERN based server. There is a need to create a new one. See #1587.

[2020-03-15 23:03] egede commented on #1617
@RajatSingh95 Can you please add a link to the specification for the server backend.

[2020-03-16 06:48] RajatSingh95 commented on #1617
@egede https://aws.amazon.com/ec2/instance-types/
In the given link, you can have a look at **T2** instance. This instance is sufficient for the purpose.
Currently, I have hosted the service for accepting requests from `report()` function on **ec2 T2 instance**.

[2020-03-16 07:10] egede commented on #1617
But you then setup some server on it?

[2020-03-16 07:19] RajatSingh95 commented on #1617
Yes. After creating the instance, you have to host a web server(in my case, it was django server) on it..

[2020-03-16 07:32] egede commented on #1617
I am no expert here, so is there a way to more or less automate this (so having requested a T2, can I simply execute a script to setup, configure and start the server)?

[2020-03-16 07:47] RajatSingh95 commented on #1617
Yes. We can automate the whole process (from **requesting a T2 instance** to **starting the server**).
I will update you once I am ready with the script which can automate the whole process.

[2020-03-18 01:02] #1566 closed, assigned to nobody

[2020-03-25 15:35] ast0815 commented on #1611
Just a quick update. I noticed that Condor jobs stop being updated as soon as I `.kill()` and then `.resubmit()` them. They do not have to go through the "held" state.

[2020-03-25 22:24] egede commented on #1611
Thanks for this report. Sounds like a clear bug to trace down!

[2020-03-27 06:58] RajatSingh95 commented on #1617
@egede I have created a repository where I have pushed all the codes and instructions which need to be done to automate the whole process that we have discussed earlier. Below is the repo link:
https://github.com/RajatSingh95/ec2-automation

Please have a look at it and let me know if you encounter any problem.

[2020-03-27 17:47] RajatSingh95 commented on #1617
Currently, The setup of the Django webserver through the above automation script is the clone of the repo link given below:
https://github.com/RajatSingh95/report-server

If there are some changes to be made to this repo before deploying a permanent server, we can discuss it.

[2020-03-29 22:25] egede commented on #1617
Many thanks.

[2020-04-01 01:40] egede opened #1623 "GoogleFile partially broken"
When trying to use the GoogleFile put method I get an error due to a missing dependency

[code]
When just installing this module manually, I get a long list of warnings, but the code actually works.

[code]
The two problems might be related (I see something about version of oauth2) so they probably need to be fixed together.

[2020-04-01 04:54] DumbMachine commented on #1623
The package that we are currently using [oauth2client](https://github.com/googleapis/oauth2client), seems to be archived. Current google [examples](https://developers.google.com/drive/api/v3/quickstart/python) recommend using the newer `from google_auth_oauthlib.flow import InstalledAppFlow` flow patterns.

Should we move to use the newer python package?

[2020-04-01 06:05] egede commented on #1623
Yes, that is much better

[2020-04-01 22:52] egede opened #1626 "Remove SandboxFile"
`SandboxFile` https://github.com/ganga-devs/ganga/blob/develop/ganga/GangaCore/GPIDev/Lib/File/SandboxFile.py  is deprecated and the whole file can be removed. Complete code should be checked for any stale references to it and they should be removed.

[2020-04-01 22:57] egede opened #1627 "Write Unit tests for the GangaFile classes"
All the classes in https://github.com/ganga-devs/ganga/tree/develop/ganga/GangaCore/GPIDev/Lib/File that inherit from `IGangaFile` should have unit tests written and placed in a directory `GangaCore/test/Unit/Files`. The `mock` module should be used to prevent that the testing is waiting for any external services.

[2020-04-03 02:46] #1023 closed

[2020-04-03 02:48] #1091 closed

[2020-04-03 02:52] #459 closed

[2020-04-03 02:52] #537 closed

[2020-04-03 02:52] #833 closed

[2020-04-03 02:52] #1164 closed

[2020-04-03 02:52] #1255 closed, assigned to nobody

[2020-04-03 02:52] #1273 closed, assigned to nobody

[2020-04-03 02:55] #1146 closed

[2020-04-03 03:45] mesmith75 commented on #1495
So I don't really follow this. What exactly do we want to happen?

Currently any `INFO` messages are cached (up to 1000kB). They are then printed to the screen when the IPython cell next executes something (or the cache fills up if that is sooner). This is so you can write your code without `INFO` messages appearing.

Any `WARNING` or higher messages are always printed as soon as they occur.

Is t

[2020-04-03 06:17] Harshagarwal19 commented on #1626
Hi,
I was working on this issue. But it seems https://github.com/ganga-devs/ganga/blob/develop/ganga/GangaNA62/Lib/Applications/NA62MC.py#L245 uses SandboxFile. How should I proceed?

[2020-04-03 07:12] egede commented on #1626
Thye NA62MC package is not updated, so you can remove `SandboxFile` anyway. If the developers of that package ever get their act together, they will have to make many other changes anyway.

[2020-04-04 15:19] DumbMachine commented on #1617
@egede Once the [`GoogleFile`](https://github.com/ganga-devs/ganga/pull/1625) PR is merged I think we can use that for submitting reports. With the use of `report(job)` function, the required files (which are available [here](https://github.com/ganga-devs/ganga/blob/f9ca0c5b1c007ecdbc71d4af96566dc430c78a96/ganga/GangaCore/Utility/feedback_report.py#L149), I assume) will be uploaded by adding the c

[2020-04-05 05:40] RajatSingh95 commented on #1617
I think the credentials used for GoogleFile are user-specific and cannot be used as a permanent one. `report(job)` function sends the report to the developer server which return a permanent URL for the user report that could be used as a future reference by the user or developer both.

[2020-04-05 06:10] RajatSingh95 commented on #1627
@egede I would like to work on this. Currently, I am looking over the unit tests for existing classes to get a better understanding.

[2020-04-05 12:08] varunbankar commented on #1410
Will like to take up the issue.

From exploring a bit found out that `logger.debug("test")` is not seen on the screen as well not recorded in `~/.ganga.log`

Is this the issue that needs to be solved?

[2020-04-05 17:40] varunbankar commented on #1410
@egede
I have further dug into the issue and there seems no problem in the functionality as stated by the in first post. Please refer to the screenshot below.

<img width="1325" alt="Screenshot 2020-04-05 at 11 02 10 PM" src="https://user-images.githubusercontent.com/47035057/78505618-454fa700-7792-11ea-9f45-03a7c22e87a2.png">

Let me know what type of functionality is expected from the logger.

`

[2020-04-06 01:34] egede commented on #1626
Closed by #1628

[2020-04-06 01:34] #1626 closed, assigned to nobody

[2020-04-06 01:41] egede commented on #1617
So in the past we had this server running that could receive the reports from users. However, I am not keen on that we have the responsibility to keep a server updated and patched. So an alternative idea is that a user simply create the file as a `GangaFile` object. This object can then be a `LocalFile` and the user can share the file with developers in some manual way, or it can be a 'GoogleFile`

[2020-04-06 02:07] egede commented on #1627
You are welcome.

[2020-04-06 02:22] egede commented on #1410
There is something wrong with the logger levels and how they are set. As an example, if I do
[code]
I still get `INFO` messages when I start and quite Ganga. It seems to me that the processing of the log directives is not quite correct. If I inspect the config object inside Ganga I see that the levels are set correctly, but it is not taken into account.

[2020-04-06 03:45] #921 closed

[2020-04-06 03:46] #389 closed

[2020-04-06 03:47] #71 closed

[2020-04-06 03:48] #82 closed

[2020-04-06 03:51] #932 closed

[2020-04-08 01:09] #1623 closed, assigned to nobody

[2020-04-08 01:13] #1335 closed, assigned to nobody

[2020-04-08 01:16] egede opened #1631 "Enable Ganga to run in non-persisted mode"
Nearly all of the Continuous Integration tests that we run in Ganga do not rely on that jobs are persisted as they run within a single Ganga session. In fact it is only tests related to the persistency itself that needs it.

It would be good for this reason to be able to run Ganga without anything getting persisted (or indeed loaded from disk). With an upcoming database implementation of the persi

[2020-04-09 02:39] egede opened #1633 "Export put and get methods for LocalFile to the GPI"

[2020-04-09 02:41] egede commented on #1633
In the line
https://github.com/ganga-devs/ganga/blob/fc4b88a99ac1c826cb133f6cd225c7eda184bfd6/ganga/GangaCore/GPIDev/Lib/File/LocalFile.py#L43
the put and get methods should be exposed to the GPI. While they are noop's, they should still be there to make sure that we can program against an abstract interface.

[2020-04-09 05:35] #1633 closed, assigned to nobody

[2020-04-09 05:47] DumbMachine commented on #1631
A simple `hack` or `workaround` would be to create empty `file buffers` which will be used in place of the files at `ganga/repository`.

[2020-04-09 06:03] egede commented on #1631
I do not think that we need a `hack` here. To use `file buffers` or maybe something like https://docs.pyfilesystem.org/en/latest/index.html might be useful for the files in `shared` and `workspace`. For the repository, I think it would be better to think about how we could simply disable the persistency. If that is the case, the solution will work when we move to a database model as well.

[2020-04-09 20:21] DumbMachine commented on #1631
I believe one solution can be adding another `GangaRepository`, i.e `GangaRepositoryTest`.
https://github.com/ganga-devs/ganga/blob/d057b9e9f7fce0713190b4597c7e7ef8580608e3/ganga/GangaCore/Core/GangaRepository/Registry.py#L95
Then when implementing this `GangaRepositoryTest`, the appropriate persistency calls can be removed from `startup()` and `update_index()` since we don't need to read prior jo

[2020-04-10 12:50] ast0815 opened #1635 "Exception in thread GANGA_Update_Thread_JobRegistry_Monitor"
Hello,

I seem to have a problem when I create lots of jobs at once:

[code]

After this error, the jobs also do not get updated from "submitted" to "running" despite them actually running on the Local backend. The error arises *before* submitting the jobs though.

[2020-04-10 12:55] ast0815 commented on #1635
Here is the code that creates the jobs by the way:

[code]

I run it from within ganga with `%run -i job_script.py`.

[2020-04-13 23:54] egede commented on #1631
This looks like a good proposal. Looking at that bit of code, it also looks like we need to start this by cleaning up (or understand) what is already there. In particular, Is the `Transient` or `ImmutableTransient` types already doing what we would like? I notice that this code, apart from some compliance issues, has not been touched since the code entered formal version control (12 years ago I be

[2020-04-14 00:57] egede commented on #1635
Hi Lukas,

Does the same thing happen if you use `runfile('job_script.py')` instead of the iPython `%run`? My understanding of `% run` in iPython is that it creates a new process. This means that you have two processes running is parallel which we know can be problematic and create race conditions (as you see here). One of the Google Summer of Coding project we have this summer will hopefully addr

[2020-04-14 01:19] DumbMachine commented on #1631
`GangaRepositoryImmutableTransient` makes use of disk for reading `pickled job objects`
https://github.com/ganga-devs/ganga/blob/d057b9e9f7fce0713190b4597c7e7ef8580608e3/ganga/GangaCore/Core/GangaRepository/GangaRepositoryImmutableTransient.py#L44
https://github.com/ganga-devs/ganga/blob/d057b9e9f7fce0713190b4597c7e7ef8580608e3/ganga/GangaCore/Core/GangaRepository/GangaRepositoryImmutableTransient

[2020-04-14 01:21] DumbMachine commented on #1631
I believe `GangaRepositoryTransient` is the way to go, i.e having a `in-memory` repo, as it's docs tell us.

[2020-04-14 05:36] egede commented on #1631
Yes, that sounds good. So maybe the task is changing to
- Make sure the `GangaRepositoryTransient` is working.
- Make the testing use this transient repository by default.
- Remove the repository types that no longer work or are no longer required (the pickle one, the old SQL implementation).

[2020-04-14 10:05] ast0815 commented on #1635
Hello Ulrik,

I will try the `runfile` command.

As for the ArgSplitter, I am later submitting the jobs to different backends (currently `Condor` and `Local`), depending on where (and when) I have free resources. Doing it with a list of jobs like this seemed like the easiest way to achieve that.

[2020-04-14 11:20] DumbMachine commented on #1631
`GangaRepositoryTransient` does not work out of the box. Additional `methods` and attributes will have to be added to make it compatible with code that calls the `repository`.

Small example, indicating that the `repository` lacks the `objects` attribute to store the `jobs`.
[code]

[2020-04-14 13:10] ast0815 commented on #1635
Calling the script with `runfile` yields the same error message. Also I checked and at least from what I can see in `htop` it does not seem like `%run` spawns a new process.

[2020-04-14 17:33] mesmith75 opened #1636 "LHCbDataset not returning original file types in comparison"
When comparing data sets with `difference` or `symmetricDifference` the returned data set doesn't give you back the types of files you put in. For example a data set of DiracFiles with the LFNs ending in `.digi` will return a new dataset of LocalFiles.

[2020-04-14 22:55] egede commented on #1631
I am not surprised.

[2020-04-14 23:09] egede commented on #1635
Regarding `%run` you are correct. I got confused by the documentation that says "It thus
sees its environment as if it were being run as a stand-alone program".

[2020-04-14 23:35] egede opened #1638 "Monitoring fails when jobs are created quickly"
The following code

[code]
fails sometimes (but not always) with an exception raised from the monitoring. Looks like a race condition between iterating over a dictionary in one thread (the monitoring one) and creating entries to it (in the main thread). The quick solution might be to remove the debug statement (which I think is actually really expensive to evaluate).

[code]
Thanks to @ast0815 for

[2020-04-14 23:36] egede commented on #1635
OK, Ι have a failing super simple test case now. See #1638.

Regarding the issue with the status of jobs not updated, I am not sure if it is related (which is why I created a new issue for the exception thrown from the monitoring).

[2020-04-15 10:19] ast0815 commented on #1635
Well, if I submit the jobs after this error message, they never get shown as "running". Do you see a different behaviour?

[2020-04-15 10:41] egede commented on #1635
Haven't tried. I only managed to trigger the problem twice. Then ran many more times and failed. I will try just to fix the problem.

[2020-04-16 00:09] egede commented on #1635
Thinking about it. When the thread `GANGA_Update_Thread_JobRegistry_Monitor` raises an exception, the thread will stop and no new jobs will be fed into the monitoring. Quitting Ganga and restarting should fix it while you wait for the fix for the underlying problem.

[2020-04-16 09:21] #1636 closed, assigned to nobody

[2020-04-16 10:57] ast0815 commented on #1635
Yeah, that is what I've been doing.

[2020-04-21 07:37] egede opened #1643 "Update testing of report()"
The test for the `report()` caused an infinite hang. Most likely because it tried to open a web page for Google authentication on the test machine. The test should be fixed in a way such that the core functionality is tested but that this doesn't happen. Maybe just write to a `LocalFile`? The file in question is `ganga/GangaCore/test/GPI/TestReport.py`. At the moment the test is disabled.

[2020-04-21 07:49] egede opened #1644 "Fix DeprecationWarning messages."
The Continuous Integration testing is revealing a large number of deprecation warnings. These should be fixed.

[code]

[2020-04-21 22:41] #1643 closed, assigned to nobody