[2015-10-12 11:48] rob-c opened #3 "ROOT 'pro' version off site isn't working as expected"
The ROOT merger script doesn't appear to be correctly picking up the 'pro' version of ROOT when the ROOT location is set.

This could be due to the re-write of the code to descend into the location path and find the requested version of ROOT that the user wanted.
There is the possibility that descending into the full 'location/version' isn't done correctly by the code but the old code contained ho

[2015-10-12 13:43] rob-c opened #4 "Debugging user jobs and making more use of JobTime object"
Hi all,

I'm considering adding a (maybe hidden) attribute to the job-time object to record what version of Ganga was used for each change of state of a job.

I have a hunch that moving between Ganga 6.0 and Ganga 6.1 is causing data loss which could otherwise not be happening and ruling this out is taking much longer than just reading the logging data auto-recorded for a job.

Does anyone have an

[2015-10-12 13:58] alexanderrichards commented on #4
As long as we handle old jobs without this attribute gracefully, I don't see a problem with this suggestion. As for whether it's a good idea or not, It's probably best to raise this in the weekly meeting so that we can have a proper discussion about it.

[2015-10-12 17:26] rob-c opened #6 "inputdata not always recorded for subjobs on disk"
Hi all,

There are some users complaining due to the fact that they cannot resubmit failed subjobs because their subjobs don't have the inputdata recorded on disk.
These are typically LHCb/Gaudi/Dirac jobs which are split using SplitByFiles using the Offline splitter.
All within Ganga 6.1.11 I've been told.

I cannot reproduce this error from testing and am waiting an example script from a user to

[2015-10-13 05:45] egede commented on #4
I am not convinced that this is a good idea. You are effectively suggesting to add debug statements into the persisted repository for all users.

[2015-10-13 12:16] rob-c commented on #6
An example submission script for producing this problem was given below.

Just submitting a script in the same way doesn't appear to cause any problems, I'm checking if it can be read from disk and go through the motions of completing correctly or not before I decide if I can reproduce this.

"""
b = Bender(version="v25r3")
b.params = { 'year' : '2012', 'simulation' : 'False' }

t = JobTemplate( a

[2015-10-13 17:55] rob-c commented on #6
I think I may have stumbled on this.

There seems to be some occasions where the script being run for a Dirac command is placing an from __future__ import statement into the code.

I'm going to remove these lines from the Server command files for Dirac and LHCbDirac as the import __future__ should now be handled by Ganga/Utility/execute.

The fact that this presented the way it did to users was pr

[2015-10-14 15:34] rob-c opened #9 "Check the setLocation script for master jobs and for DiracFile"
There appears to be a bug where some DiracFile objects have the `__postprocessinglocation__` file set to be the `localDir` of the job and the master job for some jobs attempts to find this in the master output for the job even though it shouldn't.

This is just a placeholder to remind me to look into this as I suspect these are separate problems in the `Job` class and in the `DiracBase`.

[2015-10-15 07:45] drmarkwslater opened #10 "Problem Resubmitting PBS tasks"
Hi,
I've got a strange problem with resubmitting PBS tasks.
This is Ganga-6-0-44 here (for the moment I need to stick to the 6.0.x branch).
A simple "task" which demonstrates the problem is ("test_exit.py"):

[code]
which then produces:
[code]

Could you, please, help me.
Thanks in advance,
Best regards,
Jacek.

[2015-10-15 07:45] drmarkwslater opened #11 "Problem with TaskChainInput"
Hi,
I've got a strange problem with the TaskChainInput.
This is Ganga-6-0-44 here (for the moment I need to stick to the 6.0.x branch).
I cannot convince a "transform" to use a specific subset of files, coming from the previous "transform", as "input files".
Here's the skeleton of my script:
[code]
Could you, please, help me.
Thanks in advance,
Best regards,
Jacek.

[2015-10-15 08:27] egede commented on #10
Hi Mark,

This is a bit odd. As you can see the submission to PBS works the first time round but not the re-submission. My guess is that the re-submission for some reason is not passing a name to the batch system so you get a command line like "qsub -N -q short job.exe" or something like that. As an argument is expected after the -N it will then fail. It seems like different PBS backends have quit

[2015-10-15 09:14] JacekHoleczek commented on #11
Hi.
let me also ask another question here.

In the "MassStorageFile" description, I find:

"namePattern" = "pattern of the file name ..."

while in the description of "TaskChainInput", I find:

"include_file_mask" = "List of Regular expressions of which files ..."
"exclude_file_mask" = "List of Regular expressions of which files ..."

Am I really supposed to provide full-featured python "regular e

[2015-10-15 09:19] drmarkwslater commented on #10
Fixed with commit af2d409e416d38222a12085c3ba28bcc77eebb0a

[2015-10-15 09:20] #10 closed

[2015-10-15 09:50] drmarkwslater opened #12 "Improve the handling of RegEx/Glob options"
We are wildly inconsistent as to whether Ganga takes regex or glob style matching. It would nice if each field could take either where possible.

[2015-10-15 10:27] drmarkwslater commented on #11
Hi Jacek,

This is correct - the Transform file masks take regular expression strings whereas the MassStorageFiles take Glob style file patterns. Sorry for this being confusing - I've opened another issue to attempt to make it a bit easier to use. In the meantime though, could you try with the regular expressions and see if that works?

Thanks,

Mark

[2015-10-15 10:37] alexanderrichards commented on #11
linking the other issue #12

[2015-10-15 11:49] JacekHoleczek commented on #11
Hi,
thanks for the clarification.
I ran three tests (please correct me if my "regular expressions" are not right):
1. apply only ''' indata.include_file_mask=[ r'oa_.*_B_.*\.root' ] ''',
2. apply only ''' indata.exclude_file_mask=[ r'oa_.*_A_.*\.root' ] ''',
3. apply both above properties simultaneously,
and in all cases "trf_second" gets all ''' 'oa_*_[AB]_*.root' ''' files as input.
Best regards

[2015-10-15 12:43] drmarkwslater commented on #11
hi Jacek,

The copying is actually done by the Task/Transform code which isn't included in the base class (specifically the 'createChainUnit' method in the Transform class). Are you using 'CoreTransform'? If not, then you'll have to send me your code so I can see how this is being done as there seems to be some problems there.

Thanks,

Mark

[2015-10-15 17:49] JacekHoleczek commented on #11
HI,
thanks, very much, for your help.
Indeed the Task/Transform code is "experiment specific", so I will need to talk to the original author.
For the moment you can close this issue.
Sorry for misleading.
Best regards,
Jacek.

[2015-10-15 17:52] alexanderrichards commented on #11
Not a problem, please re-open the issue if we need to come back to this

[2015-10-15 17:53] #11 closed

[2015-10-16 09:31] drmarkwslater opened #14 "(Re)enable the 'mergeScript' option for Jedi jobs"
The mergeScript option is present but broken. It needs fixing.

[2015-10-16 11:07] #14 closed

[2015-10-16 12:39] rob-c commented on #4
I'm not convinced that this is necessarily debug info.
We already record the transitions and the times of various transitions. (Which I've noticed we _don't_ keep for subjob resubmission and I should open a bug on that)
I think keeping the ganga version used to modify the job would be useful information. For instance I would say it would be useful to know if a job could have been exposed to a give

[2015-10-16 22:00] egede commented on #4
My feeling is that the information is there for the user so they can see how long CPU time the job consumed etc. As a side comment we actually discussed *reducing* the amount of information recorded here, at least for the DIRAC backend. At the moment the monitoring loop spends a significant amount of its time requesting this information which is in effect never used.

To record developer aimed deb

[2015-10-19 08:25] drmarkwslater opened #17 "LHCbTasks background loop"
[Copied from JIRA https://its.cern.ch/jira/browse/GANGA-2038]

Hi,
Sometimes the tasks background thread spits out the following error:
[code]
Somehow this also resets the 'float' of the Task to zero when it pauses it.
I haven't noticed anything really bad happening to the task afterwards, if I start it again things seem to keep going.
As it happens in a background thread it's hard to tell exactly

[2015-10-19 08:34] rob-c commented on #4
After talking a look at this no more or less information is stored here for the Dirac backend. It's mainly that we used to poll Dirac for every single Dirac job we had all at once which would slow down the monitoring loop by getting lots information which is simply disregarded or that causes latencies. This latency seems to have been significantly reduced in the latest Ganga code.

The internal Di

[2015-10-19 14:02] rob-c opened #18 "Fix problems with DiracFile"
DiracFile has some missing functionality compared to PhysicalFile upload in Ganga v600 I'll look into this and other fixes which are mostly papercuts.

[2015-10-21 13:08] rob-c opened #19 "subjob.resubmit() stalling for at least some jobs on the Dirac backend"
subjob.resubmit() is stalling for (at least) some subjobs. This was first reported in private communications from a user.

The tested workflow is to run a job with subjobs to completion.
1) Take a subjob which can run on multiple sites.
2) Run job until it completes
3) Blacklist the site the subjob ran on in subjob.backend
4) try to do a subjob.resubmit()

This hangs on an inifinite loop which aft

[2015-10-22 09:11] #4 closed

[2015-10-23 07:53] rob-c opened #20 "Move to IPython 3.x by default"
I would like to see us move to IPython 3.x by default by 6.1.13.

I think this is as working as well as the presently default IPython 0.6 implementation we're using.

It would be nice to drop the old IPython 0.6 related code once we've settled on IPython 3 as it's unlikely we will have anyone dropping back to an older version any time soon.

I would push for it for 6.1.12 but there have been a lot

[2015-10-23 07:58] egede commented on #20
Hi,

I read this as Python 3 first (and not IPython) and as a result nearly
dropped my coffee. Anyway this sounds good to me.

Ulrik

On 23 October 2015 8:54:00 a.m. Robert Currie <notifications@github.com> wrote:

[2015-10-23 08:06] egede commented on #19
Hi Rob,

This sounds as if the call to the Dirac server is hanging. If that is the
case, it is really hard for us to fix, but bug should be reported upwards.
We already have a timeout for Dirac calls but it is long as some calls
indeed take a very long time.

Ulrik

On 21 October 2015 2:08:38 p.m. Robert Currie <notifications@github.com> wrote:

[2015-10-23 08:14] rob-c commented on #19
Hi Ulrik,

Not exactly. We construct a new JDL and submit this JDL in the resubmit method using the same common code for submitting a job.
I can submit jobs correctly but when I resubmit a working job then the submit always hangs for me. I'm going to be comparing the JDL and code paths today as I suspect this is something internal to ganga.

I'm also thinking of implementing a 'resubmitDiracJob()'

[2015-10-23 08:27] milliams opened #21 "Require Python 2.7"
All our code already runs on Python 2.7 without issue but we would like to move to _requiring_ it so that we can make the most of its features and make future-proofing for Python 3 easier.

I have a plan about how to enact the change and will put up a feature branch soon with the code.

[2015-10-23 08:28] milliams commented on #20
Hopefully your coffee is safe Ulrik!

I would if possible like to move to IPython 4 as soon as possible too. It's code base is very similar to IPython 3 but it's after the notebooks and a lot of legacy code had been removed. This means that it is more likely to be supported for longer and future upgrading will be easier. The current downside is that it required Python 2.7 and so it will have to wa

[2015-10-23 08:34] rob-c commented on #20
My only caveat is does IPython4 require users to write python 2.7 compatible scripts?

I'm in favour of moving if it allows user scripts to be Python 2.6 compatible but if we're going to require users to change their scripts to be Python 2.7+ I'd like to make this move as part of 6.2 to make the distinction of what is required clearer.

[2015-10-23 08:45] alexanderrichards commented on #20
ditto

[2015-10-23 08:46] alexanderrichards commented on #21
@milliams sounds excellent to me and a long time coming

[2015-10-23 08:57] egede commented on #20
Hi Matt,

Just a comment to remind us that keeping the wrapper scripts Python 2.6
compliant is not a show stopper for this. Those wrapper scripts will
(should) never be executed inside an iPython environment.

Ulrik.

On 23/10/15 09:28, Matt Williams wrote:

[2015-10-23 09:05] egede commented on #19
Hi Rob,

On 23/10/15 09:14, Robert Currie wrote:

On initial thoughts this would be a bad idea. One of the selling points
of Ganga is that we hide the complexity of different backends by giving
them an identical interface. We should strive to get closer to that
situation rather than further away. I can see that there is a small
performance improvement from having 'resubmitDiracJob()' but are there

[2015-10-23 12:39] alexanderrichards commented on #20
I think this is agreed then so a question it is no longer :smile:

[2015-10-23 14:33] rob-c commented on #19
OK, this turned out to be the way we were passing certain objects to the JDL. fix incoming

[2015-10-23 14:35] #9 closed

[2015-10-23 14:35] #18 closed

[2015-10-23 14:35] #19 closed

[2015-10-25 16:17] JacekHoleczek commented on #20
Well, I'm running Ganga on a (remote cluster "User Interface") SL 6.x machine where:
[...]$ python --version
Python 2.6.6
[..]$ ipython --version
0.13.2
What you say is that I'm out of business with the next-but-one Ganga release?

[2015-10-25 16:39] JacekHoleczek commented on #21
[See my entry in the "Move to IPython 3.x by default thread".](https://github.com/ganga-devs/ganga/issues/20#issuecomment-150938436)

[2015-10-26 08:55] egede commented on #21
@milliams can you remind about how to make python 2.7 available on plain slc6 systems. I guess it does require a sysadmin involvement though.

@JacekHoleczek are you sure that Python 2.7 is not already available as "python2.7" on the system?

[2015-10-26 09:09] milliams commented on #21
@alexanderrichards On SLC6: Add http://linuxsoft.cern.ch/cern/scl/slc6-scl.repo as `/etc/yum.repos.d/slc6-scl.repo` and then `yum install python27`

On SL6, Fedora, CentOS, RHEL etc.: Follow [these instructions](https://www.softwarecollections.org/en/scls/rhscl/python27/).

Once that's done, you can run it with `scl enable python27 python`

[2015-10-26 11:06] rob-c commented on #20
Hi Jacek,

My Short answer is no.
Ganga will continue to behave the same it does before 6.1.13 and users should not be exposed to this change other than seeing the interactive prompt change to use a newer IPython version.

Long answer:
Ganga ships with a external packages such as IPython and modifies it's existing runtime to ensure it gets the correct version of these packages when they're needed.

[2015-10-26 11:09] JacekHoleczek commented on #21
I think the problem is that I'm just a "guest" on any external computing clusters.
I do not manage them and I believe it will be extremely difficult to convince remote administrators to install additional software just because I want it.
That said, I believe that even if an additional python 2.7 version is installed on the "User Interface" machine, there is no guarantee that it's also installed on

[2015-10-26 11:11] alexanderrichards commented on #21
The python 2.7 requirement would be for the user interface only and all run scripts will remain 2.6 compliant as Ulrik reminds us https://github.com/ganga-devs/ganga/issues/20#issuecomment-150518601

[2015-10-26 11:54] milliams commented on #21
Indeed, we need to assume that any remote code can run on a bare install of SL6 (which means Python 2.6). If a particular experiment wants newer software then they follow their usual processes (CVMFS etc.) which for LHCb means Python 2.7 is available but cannot assume this.

Finally, if a user does not have administrator access (or a friendly sysadmin) for their UI box then it's not impossible to

[2015-10-26 15:16] JacekHoleczek commented on #21
I think I can see another potential problem.
Assume that the "system default" python is 2.6 but on the UI machine I make 2.7 my default python (for Ganga purposes).
What will then happen to any jobs which Ganga starts on the "local host" ("Interactive" and "Local" backends)?
Will they get the "system default" python or will they inherit the same python as Ganga uses (i.e. together with any new PAT

[2015-10-26 15:53] rob-c opened #22 "Removal of the old Messaging system for 6.1.14"
In summary:

The MSGMS system seems to be used to push a stomp based spyware client to the worker node to report home on a job running/completing (which is as far as I know simply never used, can someone please shout now if this isn't the case).
I think this needs some careful discussion on a Thursday meeting as to whether we plan to remove this entire feature.

I'm in favour of keeping the spywar

[2015-10-26 15:58] rob-c commented on #21
The localhost, batch and interactive backends 'should' always use the system level python binary.
In practice for the Interactive at least gets the python version from the running environment so would always be a 2.7 version if we moved today.
We work around this by launching Ganga through a script which doesn't pollute the running environment and imo this would have some advantages. Alternatively

[2015-10-26 16:49] egede commented on #21
@JacekHoleczek I think you are correct that there is a bit of a problem here. The local wrapper script indeed has a "/bin/env python" in the first line so if your default is now Python 2.7 then it will pick up that. However, if you want to make sure that your own script runs in Python 2.6, then you should in your own script insert a "/bin/env python2.6" magic line. If you depend on a specific pyth

[2015-10-26 17:53] JacekHoleczek commented on #21
I think I backup the request that "localhost, batch and interactive backends 'should' always use the system level python binary" without any need for any special user's actions.
Some jobs may internally depend on the python version (e.g. there may be something that internally calls PyROOT) and so they should get the same environment regardless of which backend is used.
So, only if the user's job n

[2015-10-26 19:23] rob-c commented on #21
@JacekHoleczek PyROOT is a 'special' case of a python script where the version of python from the system is used to execute the Python script associated with the ROOT version that the user requested.

The levels of (re)-execution should match:

Ganga (Python-2.7-ganga) -> LocalHost script (Python-2.7-ganga)->Ganga PyROOT script(PyROOT-x.y)->User PyROOT Script(PyROOT-x.y)

(By this point you're 4 l

[2015-10-26 20:31] JacekHoleczek commented on #21
So, the proposal would be to use the following chain:

Ganga (Python-2.7-ganga) -> /proper/login/shell -l -> LocalHost script (system-python)-> ...(system-python)...

or:

Ganga (Python-2.7-ganga) -> LocalHost script (Python-2.7-ganga) -> /proper/login/shell -l -> ...(system-python)...

[2015-10-26 20:54] rob-c commented on #21
@JacekHoleczek This is something I'm considering but I think the focus first is to look into merging as much of the code as possible for the 'local-type' backends to reduce duplication of bugs and avoid other problems. This would allow us to add/remove any extra step in a sensible structured way.

[2015-10-26 21:00] JacekHoleczek commented on #21
I think ROOT and PyROOT are a bit "special" ... I can explicitly ask for a particular ROOT version in the ".gangarc" file and then the "setup.sh" script for this ROOT version is expected to modify relevant environment variables (including PYTHONPATH), but it will NOT try to switch the python version (to the one that was used when ROOT was compiled), so we need to make sure that the "correct" pytho

[2015-10-26 21:41] rob-c opened #23 "Reading ganga version from .gangarc in 6.1.12"
The version stored in 6.1.11 is stored in the x,y.z format rather than the x-y-z format.

Shall we fix the 6.1.12 to be able to read x.y.z as well as x-y-z even though we're storing the format of x-y-z for forward/backward compatibility.
or,
Are we content in asking users to fix their .gangarc files by hand?

Users moving forwards/backwards are already familiar with changing/fixing this but users

[2015-10-26 22:38] egede commented on #23
@rob-c As a general rule, the only exceptions the user should see from the Ganga code should be of type GangaException. Not an internal error like this. So the issue is if we fix the one-off error with the 6.1.11 release. As it should be easy to put in, I vote for implementing it so it works seamlessly for the user.

Ulrik.

[2015-10-26 23:20] rob-c commented on #23
@egede I think I agree, as it's a problem caused by Ganga I think it's something we should fix internally.
Adding an exception for someone not obeying the 'do not modify this line' would probably also be a good idea so I'll have a go at intentionally breaking some things and testing that Ganga doesn't crash on startup due to some file corruptions and such.
I'll have to work out how to commit some

[2015-10-27 18:11] #23 closed

[2015-10-28 21:10] rob-c opened #24 "GangaThreadPool shutdown having troubles."
The GangaThreadPool 'shutdown', most likely the shutdown task for GangaThread or GangaThreadPool is throwing a named exception of 'global object logging not defined' on shutdown.

I'm currently catching this and making a debug log statement about the code.

I cannot fix or mitigate this particular exception and have tried removing all logging entries from within the GangaThread and GangaThreadPool

[2015-10-29 07:26] drmarkwslater opened #25 "Ganga is abusing /tmp too much"
Transferred from JIRA:

https://its.cern.ch/jira/browse/GANGA-1243

Basically make sure Batch, LCG and Athena classes clean up unnecessary tmp files

[2015-10-29 09:12] alexanderrichards commented on #24
@rob-c This rings a very nasty bell. When I was first writing the ThreadPool I recall something similar with the Queues module. I'll have a think and see if I can help.

[2015-10-29 09:15] drmarkwslater commented on #25
Commits are in locally. Will wait until 6.1.12 is out before pushing to github.

[2015-10-29 09:27] milliams commented on #25
You could push your local branch and just hold off on merging it? Otherwise, just go ahead and push since the release branch has already been branched from *develop*.

[2015-10-29 13:53] drmarkwslater commented on #25
Oh OK - I thought this was the case but I wasn't 100% and as I couldn't check with you in the office today I thought I'd hold off just in case. I'll push the commits now and close the issue :)

[2015-10-29 13:54] #25 closed

[2015-10-29 15:10] drmarkwslater commented on #17
Hi Olli,

Quick question: Are you using the 'submit_with_threads' option? Or similar?

Thanks!

Mark

[2015-10-29 15:19] olupton commented on #17
Hi Mark,

I have Transforms that do/don't use submit_with_threads so I'm not sure if the error is correlated with the option. I'm pretty sure the job 292 in the bug report was from a Transform with submit_with_threads = False, but unfortunately I've since deleted it. I'll be sure to check next time I see the error.

Cheers, Olli

[2015-10-29 15:28] alexanderrichards commented on #17
looks like it's running in the main thread

looks like the Transform that you are searching for with list.index is not there.

my quick two cents :smile:

[2015-10-29 15:46] drmarkwslater commented on #17
@olupton : Actually it doesn't matter - I realised after I sent that it wouldn't have made a difference anyway :) However, do you use LHCbTask.addQuery() at all? This may have an effect, I'm not sure...

@alexanderrichards What's weird is that to have even run this code, it's gone through the following in ITask.py:

        for trf in self.transforms:
            if trf.status != "running":

[2015-10-29 15:52] alexanderrichards commented on #17
looking at this line in your traceback, should it not read:
[code]

?

[2015-10-29 15:58] rob-c commented on #17
Hi Mark,

Could it be that the transform has been added to the GangaList with a proxy?
This would cause GangaList to get confused when it searches for the element after stripping the proxy first.

I'll have a glance at the code and see if this could be happening

Rob

[2015-10-29 16:00] alexanderrichards commented on #17
this would be happening when your adding the transform to the task

[2015-10-29 16:04] rob-c commented on #17
This looks like it happens if the user adds the transform interactively as the list is initialized as a raw list 'transforms = []'

As the transform has the proxy interactively I think adding the proxy interactively and running would lead to this happening. This should reproduce the problem and you should be able to dump the ganga-list to verify if the proxy is causing this confusion.

The simples

[2015-10-29 17:07] drmarkwslater commented on #17
Hmmm... That sounds possible but I don't understand why it only *sometimes* happens. There are a few other calls to this .getID function, most notably whenever a job is created and I guess they are working OK.

@olupton Could you send me a typical Task that you are running? i.e. the submission script? And are you doing anything at all to the task after submission? How reproducible is the problem -

[2015-10-29 17:25] olupton commented on #17
Hi Mark,

Again I use .addQuery() in some places and not others; the Task I pasted the error from did not use it though.

I pasted the submission script here:
https://gist.github.com/olupton/948cb5b5236bbb7118be
although it depends on some helper functions in my .ganga.py so presumably won't run for you.

I don't think I'm doing anything special, the recent times it's happened have been when I hav

[2015-10-30 10:38] rob-c opened #26 "GangaFile put and remove statements should return True/False"
It has been requested that GangaFile objects return True/False for put and remove commands so that scripts and monitoring tools can determine if an action has completed successfully.

We already do this for setLocation and I think this should only be a few lines of code to change but I'[d prefer to leave it until 6.1.13 to implement this.

[2015-10-30 16:26] rob-c commented on #6
I strongly suspect that this is/was a bug due to Ganga not finishing writing out an object to disk as from what I've seen the data is the last item known about to the subjob when it's constructed and should Ganga not be exited correctly/cleanly it's likely the updated XML won't be flushed to disk for this object.

I've added a blocking statement to stop Ganga >=6.1.12 from starting if on a disk wi

[2015-10-30 16:26] #6 closed

[2015-10-30 17:01] rob-c opened #29 "load() is failing for some jobs"
load() function fails for multiple reasons in latest release.

This should be looked at as it's bit of a pain from a user perspective.

There is also the problem that protected attributes can't be assigned during a load. This should be addressed by not exporting protected attributes imo.

Rob

Original backtrace from Chris Jones below:

[code]

[2015-11-03 14:43] alexanderrichards opened #30 "Revert isType Migration"
@drmarkwslater requests at least a partial revert of the isType migration introduced in commit https://github.com/ganga-devs/ganga/commit/8df5de9f4db39bf48f317c372485738e3cc1c262.

For additional details, see the discussion in the commit, starting:
https://github.com/ganga-devs/ganga/commit/8df5de9f4db39bf48f317c372485738e3cc1c262#commitcomment-14154666

I suggest all discussion now migrates to th

[2015-11-03 15:10] rob-c commented on #30
@drmarkwslater Additionally accessing the ._name attribute of an object is often only possible when the object has been stripped of it's proxy. Other than checking for the type of an object by using this attribute (or .__class__.__name__) I don't see what is gained by using this attribute in the code?

Making use of isType allows the programmer to use isintance (which is useful for LHCbDataset vs

[2015-11-03 15:12] drmarkwslater commented on #30
[answering comment from commit https://github.com/ganga-devs/ganga/commit/8df5de9f4db39bf48f317c372485738e3cc1c262]

@rob-c I understand why it was done, it's just that in this case it's produced some unintended consequences which, to be honest, I don't want to spend a long time trying to understand and fix "properly" when the code will hopefully be completely retired in the near future. What you

[2015-11-03 15:14] drmarkwslater commented on #30
@rob-c Again, I don't have a problem with using isType over the _name comparison - perfectly sensible :) - it's just that we currently have a broken release out (for Atlas at least) and I think getting that fixed without introducing any other issues should be priority.

[2015-11-03 15:41] rob-c commented on #30
@drmarkwslater  when I fixed this properly the credentials were intialized out of order due to a problem with when they are required at ganga startup. For these files the easiest thing to do is revert the patch.

Part of the isType/getName commits were introduced as I was having to cope with a few oddities from the LHCb code that proxied objects were needing to be used and were causing errors (my

[2015-11-03 15:44] drmarkwslater commented on #30
@rob-c I don't have any problem with any of the other aspects of the commit (or at least, I haven't found any bugs relating to them!) but for the GridProxy.py (and AfsToken.py I assume) files, the revert will certainly fix the Atlas issue we're seeing. Maybe just do another commit to revert these files?

[2015-11-03 15:48] rob-c commented on #30
Will do, I'm going to put in some commits and make a (hopefully) final pre in a few minutes and do some more LHCb testing.

[2015-11-03 15:49] drmarkwslater commented on #30
Cool - Thanks Rob!

On 03/11/2015 15:48, Robert Currie wrote:

[2015-11-03 16:41] rob-c commented on #30
I'll revisit this particular example at some point during 6.1.14 as this looks like something inconsistent going on in the Schema initialization and it would be nice to know what it is.
I know the code is being deprecated but if this is some strange undocumented behaviour it's best it is understood.

I suspect that this could either be a race condition depending how the first category is populated

[2015-11-03 21:23] JacekHoleczek commented on #10
Here's a patch for Ganga 6.0.44:
[code]

[2015-11-04 02:18] #24 closed

[2015-11-04 08:34] drmarkwslater commented on #30
This is what worreid me :) Basically, from the schema it should be
initialised to ICommandSet and I assumed this function would set it to a
Voms/Grid command set depending on whether a voms config value is set.
However, this must be getting set somewhere else because, as you say, by
the time this code get's called it seems to already have a VomsCommand
set (or at least when I was looking at it...)

[2015-11-04 10:40] rob-c commented on #30
OK finally I can shed some light on this while the report for 6.1.13-pre is compiling...

For some reason this code is called right at the start of Ganga in loading the LCG plugin. This strikes me as it would be prone to failure if there was some problem with the proxy/grid setup. I suppose we'll get a better fix for this when the credentials branch is mainlined.

Firstly the command ```GridProxy,

[2015-11-04 10:41] rob-c commented on #30
I'm not going to revert the reverted patch here I'm simply going to walk away from the old Credentials code as it's all going to be replaced anyway so I'm not going to lose any sleep over this.

I think if this has been understood we can close the issue?

[2015-11-04 10:44] alexanderrichards commented on #30
Yes if everybody is happy then please close it.

[2015-11-04 10:48] #30 closed

[2015-11-04 17:04] rob-c opened #32 "Corrupt jobs throwing an exception which causes Ganga to not load"
Hi all,

Apparently I wasn't able to catch all possible situations where a corrupt job causes Ganga to fail to load due to a repository error.

I'll work on this for 6.1.14. I think the problem is the 'catch all' except here was written with GangaExceptions in mind I think.

I'll look into wrapping the errors from SubJobXML and the VStreamer as part of this release into better defined errors.

Rob

[2015-11-04 18:54] rob-c opened #33 "The release scripts don't cope well with git conflicts"
This is a placeholder for me to remember to break out the release scripts to be more resilient to git conflicts throughout the release process.

Currently the tools fall over due to a variety of different errors in the final release step and it's not as simple as just re-running the step due to different kinds of human intervention being required.

[2015-11-04 20:50] JacekHoleczek opened #34 "Missing 'PBS' entries in 'backendPostprocess' plus some better documentation needed"
When a new ganga creates a new ".gangarc", I can find four instances of 'backendPostprocess' ("DiracFile", "GoogleFile", "LCGSEFile", "MassStorageFile") with appropriate entries for different backends, but 'PBS' entries are missing (I assume they will always be equal to the existing 'LSF' entries).
Could you, please, modify the procedure that creates ".gangarc" so that it adds these 'PBS' related

[2015-11-04 21:19] egede commented on #34
Hi Jacek,

As these are just dictionary entries, it should indeed not matter that there are entries which are not relevant for a given site.

Ulrik.

[2015-11-04 21:44] JacekHoleczek commented on #34
I'm sorry, I was not clear enough.
I do understand that if I do NOT use 'PBS' then I do NOT need its entry.
However, for everyone who DOES use 'PBS' it would be easier if its entry existed in advance (so that one does not need to create it oneself each time a new ".gangarc" is created). Moreover, for a newcomer it may be difficult to know how to set it up or that it is needed at all (it did take m

[2015-11-04 21:59] egede commented on #34
You were clear, but my reply was unclear ;-) I agree that we should add the entries.

[2015-11-05 09:33] egede opened #35 "IPython crash on exit"
On exiting the 6.1.3 release, I yesterday had a crash from IPython. No obvious side effect from this apart from nasty warnings. If I see it again, I will post the traceback.

As change of IPytuon version is upcoming, it may be that this problem can just be ignored.

[2015-11-05 09:38] JacekHoleczek commented on #34
I'd like to "extend" this "issue" a bit.
Could you also, please, add some more comments in the ".gangarc" templates (they would be really useful for newcomers, especially outside of Altas and LHCb).
For example, the "MassStorageFile" example contains now a "defaultProtocol" field with a ROOT related example, but it is nowhere shown how to use it, for example, with a simple local disk (or another p

[2015-11-05 09:40] milliams commented on #33
I guess the main problem comes from the merge of the release branch back into develop. It shouldn't usually be a problem since the release branch should be short-lived and should not contain many changes. Trivial bug fixes at most. However, it's clear that sometimes conflicts will appear and we need to account for these.

Firstly we need to make sure that if there are Git conflicts which prevent t

[2015-11-05 09:46] rob-c commented on #35
Hi Ulrik,

I put in the handler for this, it's a strange bug which we're now exposed to after modernising our code.

It's related to the user typing some invalid commands into IPython and the garbage collection falling over.

Needless to say as in 6.1.14 we've dropped this ancient IPython version with only one minor bug I don't really want to debug if this is our fault or a problem with running su

[2015-11-05 09:46] #35 closed

[2015-11-05 09:46] rob-c commented on #35
@egede Actually I hope you meant 6.1.13 and not 6.1.3

[2015-11-05 09:56] rob-c commented on #33
The problem is the script initializes the release folder first which requires manual intervention to fix.
I have seen conflicts raised when merging back to develop and then in running the flow commands at the end.
In addition to sub scripts failing due to things like 'nothing' to commit to git.
I think breaking out what is actually involved in the release step is going to be required so we may wan

[2015-11-05 10:06] egede commented on #35
Sure.

On 5 November 2015 9:46:51 a.m. Robert Currie <notifications@github.com> wrote:

[2015-11-06 15:25] drmarkwslater commented on #17
So after discussions with @milliams it seems that actually using the 'index' function here is a bad idea because it will go down to __eq__ functions that will loop over the whole schema (which can be big for a Transform) and compare each item. I've therefore decided to fix the id for Tasks/Transforms/Units when they are added and just store this id in the schema. This should hopefully solve this p

[2015-11-06 16:07] #17 closed

[2015-11-10 10:27] olupton opened #37 "Root() application doesn't handle arguments correctly"
Since 6.1.13 I can't use the Root() application, as the generated command does not seem to escape the arguments properly.

[code]

....this carries on for many lines. Clearly the (string) argument is being interpreted as C++.

This test used the Interactive backend, and:

[code]

As a related question, it is not clear how to pick between compiled (i.e. root script.C+) and interpreted (i.e. root sc

[2015-11-10 12:54] rob-c commented on #37
@olupton
ROOT is a slightly difficult to support Application for a few different reasons. Mostly this is to do with sourcing the environment correctly for the version of ROOT to be requested.

With this in mind. Can you either share what backend you're running or run a report(jobs(xx)) to share the full job configuration so that we can work out what's likely going wrong.

ROOT Dirac support for LH

[2015-11-10 12:57] rob-c commented on #37
@olupton  As a quick fix defining your arguments as strings should help this, I'm surprised in the application that they're not wrapped in ```"``` tags... this may be enough to continue what your doing.

Ganga cannot sensibly auto-add these parentheses to strings as there is a difference between passing ```5``` and ```"5"``` to ROOT scripts which has meant we try to avoid doing anything which coul

[2015-11-10 13:15] olupton commented on #37
Hi Rob,

I was using the Interactive backend to debug, but the original job used PBS. No Dirac here.

I'm confused by your comment about the types, as python is type-aware. Isn't it trivial to implement
j.application.args = [ 5, "name" ] (in python/ganga script) --> root script.C(5, "name")
j.application.args = [ "5", "name" ] (in python/ganga script) --> root script.C("5", "name")
?

I did report

[2015-11-10 14:54] rob-c commented on #37
@olupton
In principle yes it's trivial but it requires some work. The string arguments will need to be protected as they are passed as part of a string object in python so getting the correct and matching quotation marks becomes a bit non-trivial.

I'm very surprised that your args list isn't displaying with ```"``` quotation marks, this could be an bug in the presentation of the application withi

[2015-11-10 15:37] olupton commented on #37
Hi Rob,

OK, I'll trust you re: how easy it is to keep track of what's a str/int/float.

re: printing quotation marks, this looks like it's just to do with how GangaList renders itself:

In [515]:type(n.application.args)
Out[515]: \<class 'Ganga.GPIDev.Base.Proxy.GangaList'\>

In [516]:list(n.application.args)
Out[516]: ['task-ddfix-MC.txt', 'D2KSHH_merged_PPLL-task-ddfix-MC', 'PPLL', '/data/lhcb/

[2015-11-11 11:35] milliams opened #39 "Add a file type which writes to a shared filesystem"
It's common when running jobs on a local batch system to write the output files of the jobs manually to some shared file-system which is also accessible from the desktop machine of the user. We don't currently have a file type which supports this automatically. `LocalFile` will copy it over the sandbox so that is not what we want.

The closest we have is using a `MassStorageFile` with setting the

[2015-11-11 11:36] milliams commented on #34
I can add the defaults for the `backendPostprocess` elements but your second question requires more thought. I've added an issue at #39 to discuss this more generally.

[2015-11-11 11:37] alexanderrichards commented on #39
This seems reasonable to me

[2015-11-11 11:37] #34 closed

[2015-11-11 11:40] milliams commented on #21
This is now underway in PR #38.

[2015-11-11 11:57] egede commented on #39
In the past we said that this was just a special case of
MassStorageFile. However, I agree that this is probably not clear and an
explicit specialisation could be a good idea.

The exact configuration will depend a bit on if a local batch backend
has access to this shared directory or not.

Ulrik.

On 11/11/15 11:35, Matt Williams wrote:

[2015-11-11 12:30] milliams commented on #39
Ok, I'll go ahead with this. Does anyone have an opinion on the name? `SharedFile` makes sense to me but is there a better option?

[2015-11-11 13:06] milliams commented on #20
Strangely, it seems that IPython 3 (as well as 2 and 4) requires Python 2.7 as seen at https://github.com/ipython/ipython/blob/rel-3.2.2/setup.py#L30. I'm not sure exactly how we missed this since I remember checking 3.2.1 and having it work and then trying 4.0.0 and having it tell me that my Python version (2.6) was too old which made me assume that 4.0.0 was the first to require 2.7.

[2015-11-11 13:10] rob-c commented on #39
Would it be more sensible to have this as the default for MassStorageFile and move the current 'defaults' to the LHCb and Atlas config files?

I think this is looking like a case of documenting what options people can/should use rather than adding more file objects. (just my gut reaction)

[2015-11-11 13:13] rob-c commented on #20
Interesting, I'll do some checking about what version of Python I'm working with in the LHCb environments in that case. If this is going to cause problems with Core/Atlas I'd prefer to have this issue open until we have 2.7 support in that case, just to keep track.

[2015-11-11 13:21] JacekHoleczek commented on #20
I'm somehow confused now. It was clear to me that IPython 3 requires python 2.7.
Also the https://github.com/ganga-devs/ganga/issues/21 thread explicitly mentions it.
The http://ipython.org/ explicitly says on the main page that the new "IPython supports Python 2.7 and 3.3 or newer. Our older 1.x series supports Python 2.6 and 3.2.".
Also, the main page of http://jupyter.readthedocs.org/en/latest/

[2015-11-11 15:15] JacekHoleczek commented on #39
I agree with rob-c. No need for an additional option. Just several well described examples in the default .gangarc (don't remove anything, leave the "more complex" examples inside, just add the "simple ones", too -> they will anyhow be "commented out").

[2015-11-11 15:16] rob-c commented on #20
I'm doing some investigating into what is involved in adding in IPython 1.2.1 support in parallel to what we currently have, the API looks similar to that in 3.x+ which is much nicer than what was in 0.6 imo

[2015-11-11 15:20] rob-c commented on #20
OK, it's a one line fix in this case.
@milliams Are you planning to move to exclusively support Python 2.7 in a backwards incompatible way? I don't imagine that we'll be using much from Python 2.7 that isn't already in Python 2.6 so adding dual 2.6/2.7 support here is relatively trivial

[2015-11-11 15:44] milliams commented on #20
@rob-c As I mention in #38 the use of Python 2.7 will be optional for now. That means that Ganga will try to use Python 2.7 if it is available but will continue to use 2.6 (with a warning and information on installing) if that is all there is. Of course this means that it doesn't really help up since we can't use any Python 2.7 features which we would like to move to doing so soon. In a few versio

[2015-11-11 16:06] egede commented on #39
This is a good idea. Just on Monday we discussed how we would like to
make the "default" in Ganga more generic and then specialise it for LHCb
and ATLAS (rather than the other way around).

My suggestion after discussing with Rob is

- Create a new SharedFile type
- Create the MassStorageFille but in a dummy configuration that
   is not working (i.e. make it explicit that it needs a site
   specif

[2015-11-11 16:07] JacekHoleczek commented on #20
I'm not sure if anybody realizes it ...
Some days ago, I installed IPython 3.2.2 on my Ubuntu 14.04.3 LTS / x86_64 machine (using "pip") and "pip" additionally upgraded / installed about 20 python2.7 packages (into "/usr/local/lib/python2.7/dist-packages/", so now for some packages I have two different versions installed, one coming from the "official system distribution" and a newer one installed

[2015-11-11 16:12] rob-c commented on #20
At the moment Ganga DOES ship with an external IPython install. This will very likely change when we move to try and get pip support but that is down the line and I'm sure backup commands in instructions for this not being available will be looked into when we stop shipping with externals.

As it stands there is the open question of do we ship the next version of Ganga with IPython 1.2.x or 3.2.x?

[2015-11-11 16:14] alexanderrichards commented on #20
we want to try and move *away* from shipping our own versions of things with python. Ideally Ganga could be installed with pip and all dependencies worked out this way.

[2015-11-11 16:24] milliams commented on #20
The end aim is to have the install process create a virtualenv and `pip install ganga` inside that. That will automatically install all the dependencies into the virtualenv without any clash with the system libraries.

Further down the road we intend on only depending on public libraries which are available from PyPI and are installable with `pip`.

`pip` is assumed to be standard tool and is effe

[2015-11-11 16:25] milliams commented on #20
@rob-c I suggest that for now we ship with 1.2.1 until we have a hard dependency on Python 2.7.

[2015-11-11 16:27] rob-c commented on #20
ok, that's fine with me, it's still a huge step forward imo

[2015-11-11 17:40] JacekHoleczek commented on #20
I've got an additional idea ... when the install process creates an appropriate "virtualenv" for python2.7, could it also check the existence of appropriate "pip" / "pip2" (or maybe "pip2.7" as "pip" / "pip2" may be for the default python 2.6.6) and if not found then install it locally inside of this "virtualenv" so that later it could be used to install IPython?
Note: "pip" became a default in py

[2015-11-12 11:40] rob-c commented on #20
Tbh we're getting off topic here so I'm looking to move the discussion back to updating IPython in Ganga 6.1.14.

We're going to introduce IPython 1.2.1 support in Ganga 6.1.14 and we have support for future IPython versions (I'll have to test if there are any peculiarities for IPython 2.x) which we get 'for free' in moving to the new API.

I'll leave this tag open for now as I would like to see i

[2015-11-12 14:58] rob-c commented on #33
Just adding a thought here that it would be nice to be able to run the testing scripts off git without making a pre.
I'll do some work into making sure the lhcb-prepare script can pull the latest git but we should probably bring more functionality into the testing scripts for the Core and Atlas to be able to pull a git branch from within these scripts as well as getting the code from a release bra

[2015-11-16 14:58] #22 closed

[2015-11-17 13:55] rob-c opened #41 "Performance problems in v601r13"
Hi all,

I'm just adding this issue for a place to discuss problems with performance which have been highlighted in submitting large (a job with order 200+ subjobs) to LHCbDirac.

I've done some work on develop to track down and reverse some regressions and I have some other patches which I'm testing before I upload them (unfortunately this is mainly bugfixing work so I didn't start a dedicated br

[2015-11-17 15:13] rajanandakumar commented on #41
To state it explicitly, from my experience, there is also a problem with the speed of submission of the jobs, after they are prepared and split. It now takes ~minutes to submit one job.

Regards,
Raja.

[2015-11-17 16:03] drmarkwslater commented on #41
I've just been emailed by some of the Pheno guys who say they see a HUGE slowdown in submission to the ARC backend between 6.1.1-hotfix1 and 6.1.2-hotfix2. It may not be related but wanted to mention it...

[2015-11-17 17:07] jepperandersen opened #42 "Slowdown in job submissions from 6.1.1-hotfix1 - 6.1.2-hotfix1 and beyond"
Submitting 100 subjobs to the ARC backend takes ~1 minute in 6.1.1-hotfix1 (well done!), but slows to ~15minutes in 6.1.2-hotfix1 and beyond. I just tested all the way to 6.1.13.

[2015-11-17 17:34] rob-c commented on #41
Hi guys,

@drmarkwslater I would be curious if they see the same on 6.1.13 as I've put in some major changes which effect the monitoring performance and I don't know if this could effect anything on this backend.
Also I suspect this was before we fixed a few performance related problems that crept in after we finished the automated modernisation.

@rajanandakumar Yes the way that this is presentin

[2015-11-17 17:43] rajanandakumar commented on #41
@rob-c : Not sure what you mean here by "smaller" jobs. If it is the number of input files requested, then, yes, my jobs are large right now. But the actual size of the input sandbox is probably not big, as I am not shipping anything other than my DaVinci options file. Looking at one job, I see

[nraja@heplnx003 ~]$ ls -la gangadir/workspace/nraja/LocalXML/2/0/input/
total 8
drwxr-xr-x 2 nraja lhc

[2015-11-17 17:46] rob-c commented on #41
@rajanandakumar in this context
Large jobs correspond to a job with many, many subjobs i.e. 1 job mapping to hundreds of subjobs.
Smaller jobs correspond to a job with a few or no registered subjobs.

The size of the sandboxes yes effects the amount of time in the DIRAC communications but this should be minor compared to the size of the slowdown that people are experiencing and that I'm able to re

[2015-11-17 19:32] rob-c commented on #42
This is probably related to some of the problems being looked at in #41

[2015-11-17 19:39] rob-c commented on #41
@jepperandersen Do you see the same problem on other backends and could you share an example job script which exhibits this slow down? Thanks

[2015-11-17 20:25] jepperandersen commented on #41
Yes the slowdown is also for LCG backend. It is in both "Preparing Jobs" and the actual submission.
I have attached a submit script that exhibits the slowdown.

[submitJob-cvmfs.py.txt](https://github.com/ganga-devs/ganga/files/37155/submitJob-cvmfs.py.txt)

[2015-11-18 09:33] rajanandakumar commented on #41
As a quick comment, this problem affects me even during a "resubmit" of a single (failed) subjob.

[2015-11-18 11:20] rajanandakumar commented on #41
Also, though I cannot say so definitively, I get the feeling that the job monitoring and finalisation by ganga is also affected by this issue.

[2015-11-18 11:22] rob-c commented on #41
OK, well this has been confirmed across multiple backends so is likely a bug in Core which needs addressing.
@rajanandakumar  It's likely that everything in ganga will be effected by excessive I/O when handling large number of jobs.
I'm working on a fix which shows promise and will update this issue at some point later today.
That being said the monitoring loop should startup a lot faster in 6.1.1

[2015-11-18 14:19] #42 closed

[2015-11-19 00:30] olupton opened #43 "DiracFile quirks when uploading"
Hi,

There are a couple of minor issues with DiracFile in 6.1.13, particularly in relation to uploading files to grid storage:

*) If you specify namePattern and localDir, but not explicitly an LFN, before calling DiracFile.put() older ganga versions would generate a path like /lhcb/user/x/xxx/GangaFiles_23.46_Wednesday_18_November_2015/MyFile.dst and upload it there. 6.1.13 fails to add the '/MyF

[2015-11-19 10:03] rob-c commented on #41
Hi all,

I know this is a limited update but I have a private patchset which allows me to split, prepare and submit to the backend about 12 jobs in 4-5min which isn't bad I'm thinking.
I'm wanting to verify that I haven't corrupted the handling of jobs from previous versions,

Hopefully I'll be able to push my updates today,

Rob

[2015-11-19 10:54] egede commented on #41
The timing given below still seems terribly slow to me. I am sure we did
better in the past.

Is it possible to get a bit of a break down of where the time is spent
(splitting, creation of subjobs, actual submission to Dirac).

On 19/11/15 10:03, Robert Currie wrote:

[2015-11-19 11:58] jepperandersen commented on #41
Indeed, with 6.1.1-hotfix1 we can split, prepare and submit 100 (sub-)jobs to ARC (so not even using bulk submission) in in 1 minute 5 sec.

[2015-11-19 12:05] rajanandakumar commented on #41
The actual submission to DIRAC is probably not a bottleneck right now, as both the jobManagers within the DIRAC servers (for LHCb) are pretty quiet.

[2015-11-19 12:52] rob-c commented on #41
@jepperandersen  Yes but this doesn't involve the Dirac splitter and doesn't have to make requests to the LHCb bookkeeping.
@rajanandakumar  unfortunately in order to submit a job to Dirac we have to initialize a full Dirac environment on a per-subjob basis as part of the submission which costs us at least about 7sec per subjob from memory. Having to do this has a very large cost when submitting a

[2015-11-19 13:09] rajanandakumar commented on #41
@rob-c : I can see (from a quick grep of the ganga code) that you are using SetupProject everywhere for the LHCb bits at least. Maybe (not an expert ...) you can gain a bit by moving to the new CMake thingy / using lb-run instead of SetupProject.

[2015-11-19 13:19] rob-c commented on #41
@rajanandakumar Sorry, I was referring to the Python environment not the system environment which comes from SetupProject or alternatives. (This is already pre-cached for Dirac anywa)

The problem is that we have to run:
[code]
(or the LHCb equivalent)

These few lines take a few seconds to run and are run each time we talks to Dirac which eats into the performance a little.
We used to have a Dira

[2015-11-19 13:26] alexanderrichards commented on #41
I agree with this. There may well be merit in looking into this again but as you say this has been the case for some time and doesn't account for the recent slowdown reported.

[2015-11-19 14:07] jepperandersen commented on #41
@RobertCurry: Exactly, it does not involve any of the added lhcb-specific
setup, and still exhibits an extreme slowdown. There are no other
components than a local ARC interface that stays the same in chancing
between 6.1.1-hotfix1 and any later version. I can freely switch between
the ganga versions, and the results stay the same: 6.1.1-hotfix1 can
prepare, split, submit 100 subjobs in about a mi

[2015-11-19 14:17] rob-c commented on #41
@jepperandersen:
As above:
[code]

[2015-11-19 14:24] jepperandersen commented on #41
What I am saying is that the scaling is never linear. 1000 jobs takes more
than 10 times longer than 100 jobs. For 6.1.6, I found 100 jobs took 15
minutes, and 1000 had not even started submitting after 4 hours. So you
cannot (at least in anything beyond 6.1.1-hotfix1) conclude anything on the
time for 100 jobs based on a timing of 10 jobs. Besides, 10*14 sec is
2:20min.

On 19 November 2015 at 14

[2015-11-19 14:42] rob-c commented on #41
```_args=[[i] for i in range(0, 99)]; j=Job(); j.splitter=ArgSplitter(); j.splitter.args=_args; j.submit()```

is the simplest script I can construct which still shows some non-linear slow down.
running this with range(0,9) works as expected, running with range(0,99) makes even the first 10 jobs much slower.
With this in mind I'm doing some additional profiling of the execution of the above line.

[2015-11-19 15:30] rajanandakumar commented on #41
@rob-c : Thanks. When the new stuff is ready, I will be happy to test if you let me know how to. The latest version is very very slow for me. And the earlier versions no longer work as the globus libraries have apparently been removed and so, the proxy I have is invisible and it cannot create a new one.

Ganga.Utility.Config               : INFO     reading config file /home/ppd/nraja/.gangarc
gri

[2015-11-19 16:16] rajanandakumar opened #44 "Interactive submit failure when successful"
When I run a test job with the interactive backend, the job runs fine. However, the job throws a series of errors of the following kind

Ganga.GPIDev.Adapters              : WARNING  ---------- error in user/extension code ----------
Ganga.GPIDev.Adapters              : WARNING  Traceback (most recent call last):
Ganga.GPIDev.Adapters              : WARNING    File "/cvmfs/lhcb.cern.ch/lib/lhcb/GA

[2015-11-20 00:12] rob-c commented on #41
OK, I've made so some additional progress.

I've identified a flush command which cascades into a lot of possible exceptions which are correctly caught (this wasn't 'just' a blind ```try: ... except: pass``` ) and processed within the SubJobXMLList class which deals with writing subjob data to disk.
This particular problem generated a __large__ number of exceptions which were expected in some cont

[2015-11-20 01:11] rob-c commented on #41
OK,
After changing the behaviour of the create_subjob method in the interface to NOT copy heavy objects which are going to be removed immediately afterwards.

This brings down the submission of 1000 jobs to just under 3min rather than 30.

I'll do some more code clean up and local testing tomorrow and commit the fixes once they're ready.

[2015-11-20 12:38] milliams commented on #44
I touched this code not too long ago so I'll take a look.

[2015-11-20 13:31] alexanderrichards commented on #44
@milliams thanks Matt

[2015-11-20 14:35] rob-c commented on #41
OK, Additionally I've been able to fully submit an LHCb Job running over 8082 LFN split with an average of 96 LFN per subjob to Dirac in about 30min.

I've just committed the code to HEAD so if anyone wants to test/check these fixes they should feel free.

As the code is now in develop I'm going to mark this issue closed as anything broken by these changes should be regarded as separate bugs.

[2015-11-20 14:35] #41 closed

[2015-11-20 14:36] alexanderrichards opened #45 "Dirac proxy multi VO problems"
Here is an email from simon quoting an LSST user:
[code]

The original email is below. Hopefully this is a small fix but obviously the new credentials system will be the proper solution.

[2015-11-20 15:48] rob-c opened #46 "Move IGangaFile from Ganga/GPIDev/Lib/File/IGangaFile to Ganga/GPIDev/Adapters/IGangaFile"
Hi all,

This is a minor task which has obvious repercussions of some imports needing fixing but is there any reason why the IGangaFile interface shouldn't be placed with other interfaces in Ganga.GPIDev.Adapters?

This is a relatively simple 'Friday afternoon' task to do one week so I don't think we should have it blocking 6.1.14 but it would be nice to change this imo,

Unless anyone has any goo

[2015-11-20 15:52] rob-c opened #47 "Make jobs.select behave in a more sane way"
Hi all,

This is an issue to follow on from a discussion which was on the ganag-developers list to change the interface to jobs.select to be a bit more sane and look something similar to job.select(ids=[5]).
as suggested by @alexanderrichards.

I've been caught out by the 'strangeness' of the behaviour of this and as it's exposed to the users it would be nice to make this behave in a more standard

[2015-11-20 15:52] alexanderrichards commented on #46
Please go ahead, it clearly belongs with the other interfaces

[2015-11-20 15:56] alexanderrichards commented on #47
As I mentioned on the email chain. I favour a small modification to this method that essentially disallows positional arguments while only allowing keyword args that match the schema. This I think makes it a much better defined function for filtering on schema attributes

[2015-11-21 22:04] rajanandakumar commented on #41
@rob-c : Newbie question - how do I pick this code to test for LHCb?

[2015-11-22 09:18] drmarkwslater commented on #45
I can't actually recreate this behaviour outside Ganga - i.e. I can't get dirac-proxy-init to NOT add the VOMS extensions - can anyone else recreate this outside Ganga?

[2015-11-22 09:30] drmarkwslater opened #49 "Get outputFilteType working for ProdTrans + Jedi"
For a new set of HammerCloud tests, I need to get specify outputFileType for the Jedi job. This will need require adding a ProdTrans RT Handler as well as the additional option in JediRequirements.

[2015-11-22 10:15] drmarkwslater opened #50 "Problems Resubmitting to the ARC backend"
Had a bug report from Jeppe:

Hi Mark,
I am having a little trouble resubmitting failed jobs through ganga to arc backends. When I try, I get the following output (using ganga 6.1.6-hotfix1, but identical in many of the previous versions):
[code]
Obviously, I created a valid proxy... Any ideas?
Thanks,
Jeppe

[2015-11-22 23:12] rob-c commented on #45
@drmarkwslater  We're not using this tool to create destroy proxies.
We use the voms-proxy-init most of the time I think (I've not played around with the vanilla install for a while)
If the dirac-proxy-init does something more sensible than voms-proxy-init or grid-proxy-init currently in the credentials code then surely the best thing to do is to use this as the default tool?
(also this goes more

[2015-11-23 10:33] olupton opened #51 "Glitch in LSF submission when the job name isn't empty"
Hi,

If I try and submit a job with the LSF backend, I get an error and the submission fails:

Ganga.GPIDev.Adapters              : INFO     submitting job 14.0 to LSF backend
Ganga.GPIDev.Lib.Job               : INFO     job 14.0 status changed to "submitting"
Ganga.GPIDev.Adapters              : WARNING  ---------- error in user/extension code ----------
Ganga.GPIDev.Adapters              : WARN

[2015-11-23 10:41] milliams commented on #44
I believe I fixed this already in 6.1.12 with commit 9374cf1e51a350d54a5397d9ef092010edadae68.

[2015-11-23 10:41] #44 closed

[2015-11-23 10:44] #51 closed

[2015-11-23 10:45] olupton commented on #51
Thanks Matt!

[2015-11-23 10:46] milliams commented on #50
Indeed there is no `arc_proxy_delegation()` function in Grid.py. There's one for CREAM but not for ARC. I assume this is a result of the copy/pasting from CREAM to ARC.

[2015-11-23 10:58] milliams opened #52 "Remove the reexec machinery"
We've discussed several times about getting rid of the ability for Ganga to re-exec itself. Historically this was needed in order to tweak `LD_LIBRARY_PATH` for linking against specific version of numpy but this is not relevant any more.

At the very least I would like to change the default to not re-exec but if possible I would like to completely remove the code from `bootstrap.py`. Given that LH

[2015-11-23 10:59] milliams commented on #46
Makes sense to me. Go ahead.

[2015-11-23 11:03] drmarkwslater commented on #52
Though I'm completely in favour of this I believe that in Atlas it's still needed. I could be wrong but I would need time to test it to be sure. Could we postpone this for 6.1.15 please?

[2015-11-23 11:05] alexanderrichards commented on #52
nothing but support here :wink:
 I'm actually surprised that LHCb is running without this as I though that they needed this for some obscure reason.
One question, what was the reason that we needed the specific version of numpy? and why is that no longer an issue?

[2015-11-23 11:11] milliams commented on #52
@alexanderrichards I think the reason was we were packaging our own externals which were compiled for a particular libc ABI and compiler version etc. When we do an 'import numpy' it needs to be able to look in the right place for support libraries otherwise you would get a crash. That is how it was explained to me anyway and I wasn't that convinced. Either way, I can't see a good reason for it any

[2015-11-23 11:13] alexanderrichards commented on #52
excellent, get rid of it as soon as then

[2015-11-23 19:22] rob-c commented on #32
I think this has been addressed at this point as I've spent some time checking the exceptions throughout the XML stack, it should be fixed in develop by now.

[2015-11-23 19:22] #32 closed

[2015-11-23 19:23] rob-c commented on #33
I've some thoughts about this, but I'm going to drop this back to 6.1.15 as with 6.1.14 I'll be trying to minimise the turnaround time of the release by doing some private testing first

[2015-11-23 19:25] rob-c commented on #37
This is going to have to be pushed back until 6.1.15 due to the large amount of other changes in 6.1.14 and wanting to push this release out sooner rather than later.
Rob

[2015-11-24 17:19] rob-c commented on #41
@rajanandakumar  Apologies for the delayed reply, I'm busy fixing bugs brought about through some of these changes.
For LHCb there is no 'simple' way to setup the environment as you'd need to change your IPython by hand. Once I've tagged 6.1.14 for testing I can share instructions on how to get that for LHCb but it's a bit fiddly until then.

[2015-11-24 17:48] #43 closed

[2015-11-25 01:15] RobertCurry commented on #41
I think someone inadvertently included me in this thread.

Sent from my iPad

[2015-11-25 08:56] egede commented on #41
Sorry about the inclusion. Just go to the 'view at Github' link at the end
of message. At the end of that page there is an unsubscribe link.

Ulrik

On 25 November 2015 1:15:26 a.m. RobertCurry <notifications@github.com> wrote:

[2015-11-25 12:19] rob-c commented on #29
I'm pushing this back to 6.1.15 as I'm keen to get 6.1.14 into a releasable state asap.

This was was crashing due to the assignment of a protected attribute at runtime. Hiding the protected attribute 'is_prepared' which was protected fixed the problems here but caused problems elsewhere.

Until this is more completely understood I'm unhiding these attributes and will look into modifying VPrinter

[2015-11-25 12:36] rob-c opened #53 "Hidden schema property shouldn't cause problems behind a proxy"
Hi all,

I'm seeing the situation where I would like to hide a schema attribute behind a proxy, specifically 'is_prepared'. (See #29)

If I hide a schema attribute I naively expect it to be hidden at the proxy level but available again when I perform ```myStrippedObject = stripProxy(myObject)```.

The problem I'm seeing is that the attribute is not assigned (possibly just in the default case I'm n

[2015-11-26 14:05] rob-c opened #54 "First use of logging does strange things"
Hi all,

I'm adding an issue to remind me to look into the logging system, or more specifically at least for LHCb the first use of Ganga currently only shows the word 'NORMAL' for each logging value when it's run.

This then works correctly if the user leaves and restarts ganga so is probably some part of the first use tools which aren't run/tested too often.

This should be fixed before the 6.1.1

[2015-11-27 13:30] drmarkwslater opened #55 "Import missing in Grid.py for CREAM backend"

[2015-11-27 13:31] drmarkwslater commented on #55
This should be a trivial fix - I'll do it ASAP!

[2015-11-27 13:43] afortiorama commented on #45
Hi,

dirac-proxy-init in .gangarc is suggested in this documentation written by Mark

https://www.gridpp.ac.uk/wiki/Guide_to_Ganga#Installation_and_Configuration

At first I thought the problem was -M missing from the command, but even with that it didn't work. We are heavily relying on that wiki in the UK for smaller or local groups. If it needs to be corrected please correct it.

[2015-11-27 14:00] drmarkwslater commented on #45
I put this in as it is what is used by the Dirac docs on the GridPP wiki. This will mean we get the Dirac user group as well as a default voms proxy. For LHCb, this is set to lhcb-proxy-init I believe.

In any case, @afortiorama are you able to get dirac-proxy-init to NOT create the VOMS extensions? I don't seem to be able to and it also picks the correct ones even without -M:

bash-4.1$ dirac-pro

[2015-11-27 14:12] drmarkwslater commented on #45
Hi Again!

@afortiorama Putting some debugging messages in shows that Ganga is running the command:

dirac-proxy-init -g gridpp_user -M -valid 24:00

and this works for me (as I say, even without the -M). What happens if you run this on the command line? Does it produce the voms extension correctly? Could you maybe send me your Dirac setup script? Maybe theres some differences there...

[2015-11-27 14:16] afortiorama commented on #45
Hi Mark,

the problem wasn't with dirac-proxy-init but with what ganga runs. If you read the initial post it tells you what I did.

cheers
alessandra

[2015-11-27 14:21] drmarkwslater commented on #45
@afortiorama so looking at the specific output of your Ganga session it looks like it's not actually running dirac-proxy-init at all. In Ganga, it has the following:

Your identity: /C=UK/O=eScience/OU=Manchester/L=HEP/CN=alessandra forti
Enter GRID pass phrase for this identity:

Which is different from the output of dirac-proxy-init:

Generating proxy...
Enter Certificate password:

So could you

[2015-11-27 15:03] drmarkwslater commented on #45
Found the problem! It seems that python (or at least Ganga) doesn't like:

[group]param=value

instead of:

[group]
param=value

I've updated the docs for the GridPP wiki and will check to see if this is a Python or Ganga limitation.

Thanks!

Mark

[2015-11-27 15:04] #45 closed

[2015-11-29 23:38] #54 closed

[2015-11-30 00:20] rob-c commented on #55
@drmarkwslater  I'm aiming for a deadline of 3pm UK Monday to tag 6.1.14 would you be able to verify if this has been fixed by then?
Thanks,
Rob

[2015-11-30 00:27] rob-c commented on #20
Hi all,

Whilst this work has been mostly finished I'm keen to implement this properly as possible,

As a small addendum it appears that modern IPython makes use of a binary history in sqlite to store the history from the interactive prompt.
With this in mind I'm going to write a helper function into the bootstrap that will roll-forward the old text-based history into the IPython history.
(using t

[2015-11-30 11:08] #55 closed

[2015-11-30 11:12] drmarkwslater commented on #55
@rob-c Fix in. Please feel free to tag!

[2015-11-30 12:03] #20 closed

[2015-12-01 10:30] rajanandakumar opened #56 "Monitoring and worker threads"
Hi,

It looks like the monitoring does not necessarily pick up the number of worker threads in the Ganga configuration (.gangarc). In my instance, I increased the number of worker threads to 10, but I have not seen more than 3 threads run at any given time - and to note, 3 is the default value of this parameter (NumWorkerThreads).

VO : LHCb
Ganga version : 6.1.13
OS : sl6

Of course the great use

[2015-12-01 10:45] egede commented on #56
Hi Raja,

I suspect this is a misunderstanding between threads in Python and the
pthreads in the underlying system.

When you start python, it runs as a single process with a single
pthread. This is due to design choices in Python that makes it single
threaded by nature as seen from the operating system. Thus everything
will run on the same core.

The only way around this in Python is to spawn off

[2015-12-01 11:00] rajanandakumar commented on #56
Hi Ulrik,

Thanks - I agree with your comment, but it kind of leaves me none the wiser in this case.

From what I see, for the "Ganga user threads" which do things like submit / resubmit - all the 10 threads are used when there is enough work to go around. So, for me there was a clear gain while submitting, to increase the number of threads to 10.

However, the "Ganga monitoring threads" are limit

[2015-12-01 12:33] rob-c commented on #56
@rajanandakumar the code which deals with the amount of available threads and queue-ing of tasks is the same for both the user and monitoring threads.

Are you seeing monitoring commands which have been queued and not run when there are many available monitoring threads?

I'm assuming that you're using the DIRAC backend? in which case the monitoring system is supposed to queue additional commands

[2015-12-01 13:03] rajanandakumar commented on #56
Hi Rob,

Thanks - indeed I am not seeing any queued monitoring commands which are waiting. So, this is then likely due to the bottleneck. Apologies for the noise - I will close this issue now and keep an eye on it when the next release is out.

Cheers,
Raja.

[2015-12-01 13:03] #56 closed

[2015-12-01 14:03] milliams opened #57 "Race condition in monitoring when copying jobs"
In a clean Ganga session with a completely wiped `~/ganga_dir`, running the following:

[code]

causes an exception in the monitoring loop about 80% of the time. The exception given is:

[code]

Pausing for a second between after the `submit()` operation makes the race condition disappear:

[code]

This came up when converting the JIRA1961 test to the new system.

[2015-12-01 14:08] rob-c commented on #57
@milliams

I've a load of fixes I'm meaning to put into the release branch, there is a fix for there I'm wanting to put in before I re-run the unittests, bare with me,

Rob

[2015-12-01 14:26] rob-c commented on #57
OK, spoke too soon, this particular bug is new, I fixed a similar one recently. I'll do some digging and see what's causing the problem. Strange it's being thrown from updateStatus.
I can easily add a fix to give a dummy response here while the job is under construction.

[2015-12-01 18:57] rob-c commented on #57
@milliams  This wasn't strictly a race condition, despite appearing as such. This was actually a bug which was 100% reproducible within the Core which I should have now fixed as part of the latest set of commits I've put up again today.

I'm going to mark this as closed as it went away in my testing but if you can still reproduce this can you re-open the bug and I'll take a look at it tomorrow,

T

[2015-12-01 18:57] #57 closed

[2015-12-02 09:16] milliams commented on #57
It looks like that particular bug might have been fixed but the [nightly tests failed](https://ganga-ci.cern.ch/jenkins/job/Nightly/lastCompletedBuild/testReport/TestJob/TestJob/testJobSubmit_2/) with:

[code]

It seems to be failing on shutting down Ganga. I can reproduce this in a normal Ganga session too.

[2015-12-02 10:32] rob-c commented on #57
Yes, spotted and fixed, new patches incoming

[2015-12-02 10:47] alexanderrichards commented on #57
score one for the new testing infrastructure, already proving it's worth :smile:

[2015-12-02 10:54] milliams commented on #57
@alexanderrichards Indeed. I've just set it up so that it should send out an email if the tests fail too. I'm not clear yet *who* the email will be sent to but one should go out in future.

[2015-12-02 10:59] alexanderrichards commented on #57
I guess it would probably be the developers list?

[2015-12-02 14:22] rob-c commented on #57
OK, there is some more code on top of the release branch which should address this issue.

[2015-12-02 14:31] milliams commented on #57
Ok, my tests are all passing again.

[2015-12-02 14:31] rob-c opened #58 "Cache data vs fully initialized Job"
This is an issue to remind me to look into the use of Cached data on an object from the .idx file vs loading the full object description from the .xml.

Currently this feels like it's extremely difficult to follow where the actual data is being stored and where it's being accessed.
I've made some improvements with the optimisation work for 6.1.14 but this highlights that this needs addressing prop

[2015-12-03 11:02] rob-c opened #59 "Investigate the use of ordered dictionary for schema attributes"
As mentioned in the developer meeting on 03/12/2015 I've spotted a problem in Core due to initializing objects can potentially require that other schema attributes be correctly set for a parent object.

I'd like to investigate changing the attributes in the Schema to be stored in an ordered dictionary as of 6.1.15.
The default behaviour would be to have an ordered dictionary but to allow for unmod

[2015-12-03 16:15] milliams opened #60 "Making a deep copy of a backend resets the `id`"
On `develop`:
[code]
will print
[code]
and so for some reason, copying the job has reset the `id` of the job's backend to the default value. I found this behaviour since it happens during a small step of the copy process, when the backend is deep-copied:
[code]
It should be noted that `b.id` and `f.backend.id` are all set to `-1` as well so the information just seems to be being lost entirely.

Lo

[2015-12-03 17:41] rob-c commented on #60
@milliams Just updated the develop and release braches so I'll recheck now

My initial reaction to this is:
I would naively expect this information to be lost anyway as this is only set once the job is submitted and shouldn't apply to a new job created from copying an old job.
If the test agrees with what I'm saying then we need to determine what the correct behaviour should be.

[2015-12-03 17:44] egede commented on #60
@rob-c Look closer at the original bug. It is the existing job that is losing its id - not the newly created one. So this is clearly a bug.

[2015-12-03 17:44] rob-c commented on #60
Ah, on reading I realise that the default value is being assigned to the incorrect object in the copy method.

I'll look into this now as this is a nice concrete example of this happening.

I'm starting to lose sight of the wood for the trees at this point.

[2015-12-04 10:51] rob-c commented on #60
OK, after some testing I can't reproduce this and the test is running correctly at the moment.

I think that this bug was caused by the use of setstate which I'm hoping to deprecate(or fix) in 6.1.15 as the current workflow of empty/(empty+cache_data) vs fully initialized GangaObjects is difficult to follow.

As this particular bug appears to have been fixed I propose we can close this unless this

[2015-12-04 11:08] milliams commented on #60
This bug does indeed seem to be fixed now.

[2015-12-04 11:08] #60 closed

[2015-12-08 13:27] milliams commented on #59
The problem here may be that the schema is defined by:

[code]
and so at creation-time, the attributes are put into a Python `dict`. Even if this is then passed off to an OrderedDict, it is too late to maintain the same order. The class' schema would have to be changed to be defined as:

[code]
which is perhaps starting to get a bit invasive.

Once we are on Python 3, we will be able to change `Ga

[2015-12-08 14:09] rob-c commented on #59
I was considering changing the definition within the Schema and testing that this works as expected.
Changing this at the class level as you say won't work.

If a class is using an dictionary and it doesn't care what's initialized when then this shouldn't change. If a class is relying on the essentially random way in which it's objects are initialized then if this breaks things I'd genuinely descr

[2015-12-09 10:57] milliams commented on #52
It looks like ATLAS, in its `PACKAGE.py` is giving access to external tools by actually appending the environment variable `PATH` so that when Ganga is re-execd it is running in an environment where doing a `subprocess.Popen` will find the tools.

This is a very heavy-handed way of running an external tool, especially when we can just pass the necessary environment to `Popen` with the `env` argume

[2015-12-10 11:13] alexanderrichards opened #65 "Nice avatar for the ganga-ci robot"
@milliams As one who is still using the github default I am hardly one to talk but I though it would be a bit more professional if we can give the ganga-ci account a nice avatar. I'm thinking something like the ganga logo... although this would make it indistinguishable from the ganga-devs organisation. Maybe that's a good thing? thoughts?

[2015-12-11 11:49] rob-c commented on #58
After a lot of staring at the code and fixing performance/functionality bugs in the Registry I've come to the conclusion that a lot of the functions were based upon the idea of object inspection to determine things like if an object has been loaded from disk or not.
This was unfortunately failing to do any form of caching due to a hand full of minor looking long-standing bugs.

I've changed the re

[2015-12-14 14:26] rob-c opened #68 "Extremely slow performance for large job submission (XML and Dataset related)"
After running some profiling and benchmarking I've discovered that a large source of performance problems is in parsing the XML for a job.

In order to reproduce this I was attempting to run over a 'standard' LHCb dataset of 8082 LFN with a standard LHCb job that effectively just counted the integrated luminosity for each lfn.

This job would stall for a few minutes at a time which didn't make muc

[2015-12-15 12:03] rob-c opened #69 "Move workernode templates"
Hi all,

The naming of the workernode templates when they were extracted from the code was a bit bad and causes problems with code profiling tools etc.
It would be nice to at least change their file extensions so that it's clear this code isn't run in place.
Maybe even some work to turn these script templates into 'pure' python code in some cases.
I'm thinking that passing a dictionary of the inli

[2015-12-15 12:10] milliams commented on #69
This is something I've discussed with @drmarkwslater and we agree. There's been some fixes to this already in the *feature/python-importing-new branch*. Given that these scripts are simply being run on the command line I think passing what we can as arguments to the scripts would be beneficial. The only other problem is that in a few places, the final script is assembled from a number of template

[2015-12-15 12:15] rob-c commented on #69
I'll take a look and try and cherry-pick these diffs from that branch to avoid duplicating effort.

I'm tempted do some playing around with porting the Interactive script to use methods on a branch and see if there is anything to be learned from the experience. That is unless someone has already started elsewhere then I'm happy to see what's been done so far :)

[2015-12-15 12:16] egede commented on #69
@milliams The final scripts are assembled from several pieces due to the plugin nature of what is executed. If the user ask for output of type DiracFile, then a piece of code that can do that upload is appended to the script. I guess you could then upload that as a separate script that then takes another set of arguments, but that could end up a bit messy (the outer script would have arguments tha

[2015-12-15 12:17] rob-c commented on #69
@egede We could write a worker node script which calls 'static' functions if they've been defined. this would still allow for functionality to be 'injected' into the scripts before they're run.
How easy this is to do in practice now that I've said it I don't know

[2015-12-15 15:17] milliams opened #70 "Schema version checking"
Whenever we define a new `GangaObject` subclass we have to also give it a `_schema` data member with an appropriate `Version` argument. As far as I can tell, the only place this version is used is in the VStreamer parsing at https://github.com/ganga-devs/ganga/blob/0b796886d15f843d38e1a85bbb6078f0677dca93/python/Ganga/Core/GangaRepository/VStreamer.py#L311 where it will create a dummy object if th

[2015-12-15 15:33] milliams opened #71 "New monitoring system"
The current monitoring is a mire of threads, queues and locks which has grown to the point where it is extremely fragile. Long-term we have expressed a wish for a system which looks like the following:

Of course, this doesn't solve the problem of having more than one agent needing to be able to write to a repository so we would still need lock files or make the dæmon act as a server too which all

[2015-12-15 16:02] egede commented on #70
The schema version I guess would allow you to change the type of information stored for a given attribute or change how it is stored. In that sense, it could come in useful for how @rob-c wants to change the storage for Dataset objects. For deletions/additions, the present way of dealing with things is fine, but I would be cautious about deleting this feature.

[2015-12-16 00:30] rob-c commented on #70
Hi all, I've been giving this some thought, apologies but I've made a few drafts of this message already and it gets difficult to sort out.

##### Problem

The problem is that ```isCompatible``` function is a tad aggressive with backwards compatibility imo.
We don't want to cause a job not to be backwards compatible due to some extra config or metadata being lost imo, but we also don't want to los

[2015-12-16 09:48] alexanderrichards commented on #70
Hi just my two cents worth but like Matt I saw no reason to keep the version information so did away with it in some of the rewritten stuff I've been playing with. If upon loading an object there is an error due to a missing attribute or having specified that the attribute is a different type then this is caught at load time and presented to the user as an incompatibility. I didn't see the need to

[2015-12-16 10:29] alexanderrichards commented on #71
Hi matt, thanks for starting this topic.

@ganga-devs/core
I was thinking some more about this and realised that we would really like DIRAC to be a daemon as well as it can run in it's own environment. Other potential packages (LHCb or Atlas etc) might indeed want other services in separate environments. We could perhaps then look at a generic solution like below.

__process: services manager__

T

[2015-12-16 10:52] rob-c commented on #70
Hmm, this concerns me a little.

I've written down some more thoughts on this I'll put in the following post but I'm more in favour of keeping the Version information as a way of knowing if a schema is compatible.
Yes, we can manually inspect the Schema but this starts to get very confusing very quickly over a simple integer check for compatibility imo.

I'd like to raise this topic for discussion

[2015-12-16 10:53] rob-c commented on #70
We have several different problems with this system which should always be dealt with differently.

1. Objects on disk are a subset of what is required by the Schema.
I think in this case correct behaviour is that we load the object and populate the missing data with default values.
 * How do we know that these values reproduce the behaviour we expected if the Job was constructed before this confi

[2015-12-16 11:25] alexanderrichards commented on #70
@rob-c There are a lot of cases there and a lot to take in but I'll try and address them

In this case as you say we would load the object and the load would succeed as all attributes would load properly and defaults would naturally fill the rest. It is then an option we have to compare how many we loaded to how many there should be and warn the user of the new defaults.

Without the version infor

[2015-12-16 11:57] alexanderrichards commented on #70
I guess what it boils down to from my point of view is that if you have a version number you have either one of two scenarios

1. you have a policy of which version numbers you will allow to be loaded (e.g. nothing older than a major version). This is artificial and the object might have actually loaded fine if the only schema change was to add new items or include allowed values. To make this num

[2015-12-16 13:07] rob-c commented on #70
OK, if we're loading objects from disk with extra information we need a mechanism for preserving this data in a read-only manner.
This should be something we agree on so I'll assume this to be true.

As for the safety, major != safe, minor == safe, I don't know why this is so bad, tbh, we can even drop the minor here if we build in a backwards compatible way of preserving data.
'
'
In fact I'd lik

[2015-12-17 12:17] egede opened #72 "Add multicore options to backend attribute"
For all backends, the ability to request multicore processing should be added.

We discussed at the meeting if this should be one or two attributes to allow to distinguish between _as many cores as possible_ and _give me X cores_. As a request for _as many as possible_ might anyway not give access to a full worker node, then I think it is best left as a single attribute.
## Attribute

The attribut

[2015-12-17 14:32] drmarkwslater commented on #72
@egede I would just add that I think in addition to this, there should be an option for whole node scheduling (i.e. I want an entire empty node) as this would be the 3rd possible requirement someone might have.

[2015-12-17 14:39] egede commented on #72
@drmarkwslater Why is this different from *as many cores as possible*. Is there a good use case for that 8 cores on a 16 core machine is worse than 8 on an 8 core  machine?

[2015-12-17 14:46] drmarkwslater commented on #72
@egede I'm not saying that it's worse per se, just that some users may want to specify that as they want to have an entire node to run on and grid sites are certainly starting offer this as well (though this is generally controlled through the pilots). I suppose this depends on the backend - if there is an option in Dirac for it then great, if not then there is no point in having it :)

By the way

[2015-12-17 15:05] egede commented on #72
@drmarkwslater I think in fact in most cases this is what will happen (ie that if you request more than core you will tend to get a whole node). My point is that this from a user point of view seems irrelevant though.

You issue about a minimum number of cores is a good one though. So should we have an interval instead? Specified via two attributes like *ncoremin* and *ncoremax*  or should we have

[2015-12-17 15:44] po10 commented on #72
A couple of things that came up today:

For the grid, theres very little use case for allowing users to submit jobs
with more than 8 cores. So to avoid jobs waiting forever we should not
allow jobs to be submitted above 8 cores.

Also, it was suggested that we allow users to specify a range of cores,
instead of a single number.

On Thu, Dec 17, 2015 at 4:05 PM, Ulrik Egede <notifications@github.co

[2015-12-17 19:27] egede commented on #72
@po10

This we can just implement in the Dirac backend. It will throw an exception if the maximum is above 8. For the Local backend, it might make sense to do the same if the number of cores specified is above what is actually available.

So this fits well with suggestion of giving an interval as made above.

[2015-12-18 05:18] rob-c commented on #58
OK, so this was something that crept up in 6.1.14 right at the last minute.

I've no idea how/if/when the mechanism for dealing with the indexes was broken but it was badly broken by the time we got to testing for the release. (I went back through the history and I think I can reproduce the problems I was seeing before 6.1.13).

I think the intention of the current code is that:

1) Data stored in

[2015-12-18 09:32] egede commented on #58
@rob-c We have earlier wondered about why jobs objects seems to take up so much space in memory. Maybe what you see here leads to a permanent duplication in memory.

[2015-12-18 09:51] rob-c commented on #58
@egede It's highly likely.
The actual mechanism involves handing off to a new temporary GangaObject and then to migrate the information to the object in the repository which is the ```Job``` or other object of interest. I suspect that there could be a lot of duplication depending on object scope but if the transient data is accidentally copied which I suspect it is then this could double the memor

[2015-12-18 09:58] milliams commented on #58
There is definitely duplication as I've noticed this recently too. However, there shouldn't be much of an increase in memory usage as the two dictionaries seem to point to the same objects:
[code]
Them being dictionaries pointing at the same place may be a new thing though as looking at 6.1.13, a `GangaObject` did not have the schema items in the `__dict__`, it was only stored in `_data` so this i

[2015-12-18 10:17] rob-c commented on #58
@milliams there was a change in 6.1.14 to use dict has it was discovered there was at least one or 2 naieve places of code were looking there for information as this is where it's stored if an object is constructed in memory.

Then the setter needs to duplicate references and the getter needs to examine both if the data dictionary isn't transient. I had difficulty modifying this to avoid excess fl

[2015-12-18 11:33] milliams commented on #58
Changing `GangaObject`/`Node` to store the schema data in the object's `__dict__` sounds like quite a major change (especially if was just to fix some naïve code) which probably needed some discussion beforehand. There didn't used to be any duplication of information and given that it's not clear where this is happening means this definitely needed some more thought.

I've been going through `Obje

[2015-12-18 12:05] rob-c commented on #58
The information is always stored in the ```__dict__``` or should have always been stored in there so nothing should have been changed by enforcing that the ```_data``` dictionary is not used at a much higher level than it appears was originally intended (reading in the XML).

Only the values of the attributes which are in the schema are stored in the dictionaries. I am NOT proposing any changes to

[2015-12-18 12:21] egede opened #73 "New LHCb Gaudi application type"
A new LHCb application type should be created. It should work with the new structure for the private relase areas based on lb-dev and lb-run.

## Connection to old Gaudi types
There should be no connection to the old application types for Gaudi based applications.

## New GaudiRun application type
* The new application type should be called *GaudiRun* (as a way to distinguish it from the existing

[2015-12-18 12:38] milliams commented on #58
Running
[code]
gives (6.1.13):
[code]

or back in 6.0.44:
[code]
In neither case is there any duplication between the `__dict__` entries and what is in `_data`.

[2015-12-18 13:00] rob-c commented on #58
At this stage I'm wondering what advantage of having everything set from the setter to be in '_data' at all. Unless I'm completely missing the point of it.

Either way the getter/setter in Objects do not make their expectations particularly clear, the getter can be re-written in about half of the size that it is in 6.1.13 due to the amount of code that's simply not called.

[2015-12-18 13:05] milliams commented on #58
I *think* the idea was that a `GangaObject` would store all it's schema data in `self._data` and keep all the raw stuff in `self.__dict__` as implementation details. It's clear that the way this whole system is written is quite weird (or has grown to become so over the years) and needs replacing with something much simpler (i.e. the `GangaObject` just stores descriptor-protocol objects directly in

[2015-12-18 13:58] rob-c commented on #58
I still think we could be seeing problems with the way that this was read in which calls a lot of mystery functions who are overloaded in strange ways which isn't understood. Accompanied by wonderful bugs like "I'll put this here because doing a copy destroys parent knowledge at some level"...

Either way, the first thing I'm aiming for in 6.1.15 is to strip out un-needed functions and reduce the

[2015-12-18 15:50] milliams commented on #58
The thing is that, for the example of Executable, `'args'` is not in the `__dict__` of an instance of `Executable` but rather in the `__dict__` of the class itself. For example you can do:
[code]
gives
[code]
In our case we have, in the class's `Executable.__dict__` the descriptor objects which are given an *instance* of the class as `obj` and it extracts the values from `obj._data`. This works be

[2015-12-18 16:21] rob-c commented on #58
I'll leave merging a small branch which does away with _data until after a discussion in January.
(I fail to see any redeeming reason to have the _data object around but if there is an exceptionally good reason maybe I can be convinced.)

Until then it's easy enough to do the rest of the work to put the XML object directly into the class of choice and to get rid of code which doesn't make sense an

[2015-12-21 11:52] rob-c commented on #53
This is likely required in order to satisfy a sensible solution to: https://github.com/ganga-devs/ganga/issues/29

We don't expect that the user would ever sensibly modify the is_prepared attribute during runtime I think. If the attribute is hidden we can always explain how the user should access this if it's absolutely required and if the object is visit-able then it will be added to the XML repr

[2016-01-04 14:07] drmarkwslater opened #74 "Copy Constructor on Job doesn't create fqid properly"
If you do the following:

[code]

there is no id specified. Don't know how long this has been the case but I'm guessing it will lead to bad things :(

[2016-01-04 14:18] alexanderrichards commented on #74
I assume that this is in the latest 6.1.14 that you see this? Do you also see it in 6.1.13?

[2016-01-04 14:47] drmarkwslater commented on #74
Just checked - this does indeed work properly in 6.1.13.

[2016-01-04 16:38] rob-c commented on #74
Examining the dictionary of the raw class reveals this (at some level) has worked as expected.
I suspect the id is incorrectly assigned by the jobregistry code.

e.g. the following contains what I expect
[code]

I'll look into the copy method (or '_impl' constructor in the Proxy as the 'cached' data doesn't appear to be updated as I'd expect)

[2016-01-04 17:42] egede opened #75 "browseBK not working"
In release 6.1.13 the LHCb function browseBK does not open a GUI dataset browser as expected. It just after a while returns an empty dataset. No error messages. In 6.0.44 it works as expected.

[2016-01-04 20:28] rob-c commented on #74
I made a commit which alleviates but doesn't track down and fix this in a more correct way.
Basically the cache data is at some level being populated during job construction but not being updated during the object use.
This is the sort of thing I would prefer to avoid as part of #58 where we're having to keep track of the same data in 2 (or more) places rather than as a direct class attribute (beh

[2016-01-05 09:46] rob-c commented on #74
Rats, this fix appears to break the syntax:

[code]

The above line generates a Job object with an ```Executable``` binary which isn't expected. I'll do some digging and likely revert the above fix.

[2016-01-05 10:06] milliams commented on #58
The reason in general for having a `_data` attribute is that if you have a simple descriptor like:
[code]
Then since the descriptor is trying to save into `m.x` in `__set__` it causes an infinite loop. Now, you can get around this by setting the value on `obj.__dict__` directly but this is not the conventional way to solve it, particularly because it causes confusion since the data is then *only*

[2016-01-05 10:12] alexanderrichards commented on #58
to add to what @milliams writes above, the way that I solve the problem in the rewritten stuff is to move the location where the data is stored into the descriptor itself using the standard weakrefdict on an instance key. This makes the whole object much cleaner and also more transparent to the developer using the schema attribute.

[2016-01-05 10:12] milliams commented on #74
Looking at develop at 2edb8cc I see that the `id` of `j2` is being copied into `j2.__dict__['id']` but not into `j2._data['id']`, probably due to some manual setting of values in the object's `__dict__`. This should be set in the `_data` dictionary since that is where the descriptor should be fetching it from.

[2016-01-05 10:24] rob-c commented on #58
At this point I'm not even worrying about trying to have the same information in the ```__dict__``` if it's there and it's not intended to be there, then indeed kill it.
Frankly fixing this is a 6.1.15 issue as I just want to get 6.1.14 working then I'll worry about proper scope and location of data (expected vs actual) as this is dragging on and on.
This is why I added the (get/set)Node(Data/Inde

[2016-01-05 10:30] rob-c commented on #74
@milliams This is the copy constructor which should not called in the above example. The line ```c.setNodeAttribute('id', c.id)``` explicitly is copying the 'id' value into the objects ```_data``` dictionary  not the ```__dict__```.
I forgot to remove this line after adding the ```_auto__init__``` to try and make sure that copied jobs are added to the dictionary, but I think in hindsight this is a

[2016-01-05 10:31] alexanderrichards commented on #58
ok sorry I have been getting off topic as I thought we were talking about descriptors. To pull things back to what we have now. Can you clarify for me if I'm right in my understanding:

1. If job is loaded we get info from the object
2. If job is not loaded we try to get info from cache and if cant then we load job and get info.

So my question is how does is _data vs __data__ used in this context

[2016-01-05 10:38] milliams commented on #58
@alexanderrichards Did you mean `__dict__` there?

[2016-01-05 10:39] alexanderrichards commented on #58
sorry yes ;-)

[2016-01-05 10:43] rob-c commented on #58
@alexanderrichards  What should happen and what largely does happen across most of the codebase:

```_data``` is used to store the index cache information i.e. the stuff used by the ```_display``` method behind the call to ```jobs```
This is typically None or `{}` for a job which is fully-loaded in memory but there have been occasions when it's not which just adds confusion imo.

The actual data o

[2016-01-05 11:03] milliams commented on #58
This is not my understanding of the situation at all. Looking back at 6.1.13 I see:

`_index_cache` contains the information from the lazy-loading so just some basic data like the id, backend type etc.

`_data` contains the actual data for each schema attribute. So for  a `Job`'s `id` attribute, `Job.id` is a descriptor which stores and retrieves its data from `j._data`. `_data` should only.

Whil

[2016-01-05 11:03] rob-c commented on #58
OK, sorry, I've just grabbed a coffee and realised that the above is incorrect. (Apologies I'm trying to juggle a few things at once.)

When an object is constructed in the session then the object has a fully populated ```__dict___```

When an object is stored on disk then the ```._index_cache``` contains the index information for the job from disk.
When a job is fully loaded from disk the ```_dat

[2016-01-05 11:09] alexanderrichards commented on #58
ok so if the schema attributes are descriptors storing their data in `_data` then as @milliams says they should not be in `__dict__`. So from what you say it sounds like a Job constructed from the session should be storing it's data in `_data` not `__dict__`.

[2016-01-05 11:10] alexanderrichards commented on #58
Is there a problem then when I partially specify a jobs constructor. i.e.
[code]
do we get MyApp in `_data` but the defaults in `__dict__`?

[2016-01-05 11:12] milliams commented on #58
In 6.1.13 (and 6.1.14), a newly created `Job._impl.__dict__` looks like:
[code]
in `develop` it now looks like:
[code]
which is clearly a big change and I feel is causes a lot of these problems.

[2016-01-05 11:16] alexanderrichards commented on #58
Indeed, I assume this was from a default constructed Job. What about with a partially specified constructed job? does the specialisation populate `_data` or `__data__`?

[2016-01-05 11:19] rob-c commented on #58
@milliams For me I see both ```_data``` and ```__dict__``` are both populated with all of the application, ... entries, are you using the latest develop?

[2016-01-05 11:20] drmarkwslater opened #76 "jobs.select() doesn't work for application, backend"
From 6.1.4, you can no longer do:

[code]

This should be fixed :)

[2016-01-05 11:21] milliams commented on #58
It was indeed simply:
[code]
Doing the same with `j = Job(backend=LCG())` gives:

6.1.13:
[code]
which looks correct and with `develop` we get:
[code]
which has an empty `_data` and still the default value in `__dict__`.

[2016-01-05 11:22] milliams commented on #58
@rob-c Yes, I'm using the latest `develop` with no local changes and get the above behaviour, even with a wiped `~/gangadir`.

[2016-01-05 11:23] rob-c commented on #58
Ah, I reverted the patch effecting the j2.id bug, sorry for the noise there.
Now I see ```__dict__``` and ```_data``` containing multiple copies of the same data. I'll do some work to investigate what I'm seeing.

[2016-01-05 11:43] drmarkwslater opened #77 "Exported Job which has a prepared App is not loadable"
If you do the following, it will fail with the given error:

[code]

I'm not sure what the solution is but I guess it should probably create a job in a `new` state and an unprepared app? Though maybe it would be good to load a `completed` job including the shared dir ref. But then I don't know how that's going to work.

Any suggestions welcome!

[2016-01-05 11:46] alexpearce opened #78 "Problems loading configuration file 'ipythonrc'"
When I try to start Ganga v601r13 with `lb-run Ganga ganga`, I see the following error:

[code]

This is annoying because none of the cool IPython stuff works now, like tab completion and history searching (where you can type the beginning of a previous command and go through matching history with the up key). How can I get the IPython session set up correctly?

---

To try to fix the problem, I d

[2016-01-05 11:48] alexpearce commented on #78
I should also say: this is on an lxplus node, and `which -a ipython` just gives me `/usr/bin/ipython`.

[2016-01-05 12:43] rob-c commented on #77
This has been highlighted in #29

[2016-01-05 12:43] #77 closed

[2016-01-05 13:19] drmarkwslater commented on #77
Apologies - forgot about that one!

[2016-01-05 13:37] rob-c commented on #58
I've not intended to implement any changes to how this 'should' be working in 6.1.14 so there is a bug somewhere. I don't know why now I see 2 applications when I run:

[code]

In my private repo I see the application in the ```_data``` dictionary set from the atomic set which calls the correct function but I still see an application of the Executable type which is defined at the ```__dict__``` le

[2016-01-05 13:55] alexanderrichards commented on #58
if this is transient in that it's non- persistent data, and you don't want it to be in the schema then I assume that you are initialising it as follows:

[code]

in which case this will appear in the `__dict__`. Whether it's better placed in here or in `_data` with
[code]

I'd have to think about. My initial feeling is that if _data is reserved for schema (cachable) attribute data and this is a tr

[2016-01-05 13:59] milliams commented on #58
I think transient data should be stored directly as an instance attribute (so effectively in the object's `__dict__`). `_data` should be reserved as a backing-store for the schema objects only. So, as @alexanderrichards says, do something like:
[code]
This data will exist as long as that Python object exists in memory.

[2016-01-05 14:01] alexanderrichards commented on #58
the advantage of this is also that it makes transitioning to the newer system that I proposed easier because as you say the `_data` is just a backend for the schema which will be replaced.

[2016-01-05 14:39] rob-c commented on #74
OK, I've identified what was going on.
Due to a bug in the XML repo the information which should have been stored in ```_data``` was being stored incorrectly elsewhere when the object was loaded from disk.

How this allowed the job to get into a state where the id was defined as ```''``` I'm not 100% sure, however everything appears to be working in my local branch. I'll close this once I've uploa

[2016-01-05 14:42] egede commented on #78
@alexpearce If I remove both the .ipython and .ipython-ganga directories before starting I can reproduce the problem.

A short-term solution is to do

    mkdir .ipython-ganga
    touch ipythonrc

Nevertheless there is a bug that should be fixed.

[2016-01-05 14:55] alexpearce commented on #78
My Ganga is submitting jobs at the moment, so I can't exit to test, but I think I tried this a while ago.

It did stop the error message appearing, but I _think_ you still end up with a bare-bones IPython shell, without a lot of the goodies.

[2016-01-05 15:06] rob-c commented on #78
Just a few comments,

If you're referring to the magic tab-complete for functions etc. This was broken at some point in the move to Ganga 6.1.
It's not fully understood when this stopped working, but due to this being a 'goodie' style feature we've not had the manpower to get around to using this yet.

As it stands 6.1.14 has moved to ipython 2.x by default (I think) and we don't make use of the s

[2016-01-05 15:41] rob-c commented on #74
Hmm, spoke to soon. This can be condensed into the one line of:
[code]
This shouldn't be failing but it correctly adds 2 jobs to the repo and fails to assign the 'id' stored in the ```_data``` to the second job. The jobs are added to the repo correctly and are handled by the repo logic just fine with this 'id' parameter missing (which seems to be a minor miracle that that code seems to stand up to

[2016-01-06 01:46] #74 closed

[2016-01-06 01:55] rob-c commented on #74
OK, this appears to have been caused by a fix for another problem that I was having. I'm going to have to start running more frequent tests to catch the likes of this. I was assigning the default value of non-copyable schema objects when performing a copyFrom which was called within a ```__construct__``` method within the proxy ```_init``` method.
I've changed the default behaviour to not overwrit

[2016-01-07 09:16] rob-c opened #79 "It is still possible to subvert __setattr__ with some GangaObject inherited classes"
This has been a problem which appears to come and go and I've plugged a few areas in the GangaObject and Proxy code where the situation arises.

The problem is basically that a member attribute of a class (which happens to be in the Schema but strictly this shouldn't matter!) fails to have it's _parent attribute assigned upon the attribute being assigned.

I've added some _setParent and #FIXME sta

[2016-01-07 09:28] rob-c commented on #79
This could also be caused by objects trying to assign values to a classes ```__dict__``` or ```_data``` (depending on if the value is in the schema from other discussions).

I want to therefore cut down on any use of get/setNodeData and get/setNodeAttribute calls outside of either ```Ganga.Core.GangaRepository``` and ```Ganga.GPIDev.Base``` (and maybe ```Ganga.GPIDev.Lib.Repository```).
These name

[2016-01-07 09:48] milliams commented on #79
I'm not sure about the overall bug yet but indeed we should not have any use of `get/setNodeAttribute` outside of Obejcts.py. All editing of the information in `_data` should be done via the descriptor protocol and setting things like `_dirty`, `_parent`, `_registry` etc should be done with care. The only exception to this might be the serialisation but even then providing a serialisation interfac

[2016-01-07 09:55] rob-c commented on #79
@milliams Either we allow it in object construction within the repository or we make some interface to pass the contents of what we want the object to contain into Objects.py (as you say for serialisation).
I'm for allowing the use of these 'internal' functions within the GangaRepository as this is very low level and relies on the structure of the GangaObject in order to do what it's doing anyway.

[2016-01-07 10:01] milliams commented on #79
@rob-c I think I agree with all of that.

Back to the main issue, currently in *release/6.1.14* `_setParent` is called inside `Descriptor.__set__` so I guess what you're seeing is that for some reason the descriptor protocol is not kicking in? Do you have any small test cases which show this behaviour?

[2016-01-07 11:13] egede opened #80 "Implement WebDav file"
The WebDav file type should be integrated into the Ganga releases

[2016-01-07 11:27] rob-c commented on #79
Not a 'correct' unittest in the conventional sense.
If you remove the _setParent methods from the fixme statements in the method above, submit an LHCb job which runs over 'data' and comes back then I get objects which have a _parent of ```None```.
First step is to understand this well enough to construct a unittest :)

[2016-01-07 14:31] rob-c commented on #68
This particular problem can be lowered in priority I hope as I am seeing that this code which used to take several minutes is now down to below 1 minute. Not perfect but the overhead I think is something that people can live with. This does add a significant overhead when running over several large jobs with the monitoring loop, but optimising this is less important than many other tasks atm.

[2016-01-07 17:14] rob-c commented on #76
@drmarkwslater  This might be fixed in the latest 6.1.14 pre (more specifically https://github.com/ganga-devs/ganga/commit/c9c28a55da54d26e57632ed29cfc369353012842)

I had a stab at this this-morning as a short break from something I wasn't able to understand (it helped me solve my original completely unrelated problem as well as it gave me some ideas of what could be broken for another unittest).

[2016-01-07 17:18] rob-c opened #81 "Funny behaviour of unittests in 'clean' environment"
Both the atlas and lhcb unittests (and I presume core as well but I've not cleaned and tested) stall before running if the .gangarc file isn't there.

It would be nice to have ganga startup and auto-create files like .ganagrc and such by default without waiting for user input.

This should be a trivial fix of just checking the config system before requesting keyboard input from the interfaces.

I

[2016-01-08 12:11] rob-c commented on #33
Adding that we need some way of abandoning the release half way through and deleting/re-creating branches.

I'm seriously beginning to think a twiki page with the instructions of what is involved with git flow would be easier to use than the 'fully automated' scripts which have problems with doing anything they weren't designed for.

I'll have a look at the scripts, I think it's already fairly mod

[2016-01-08 12:28] milliams commented on #33
The whole current release script process is going to be replaced with Jenkins anyway very soon (the next release if possible, we can discuss as soon as 6.1.14 is out) which does a number of things in different ways. The problem is less about git-flow and more about the way I had to retrofit the old release scripts to fit the interim Git layout.

[2016-01-08 12:41] rob-c commented on #33
sooner the better, but I imagine we're still going to be running the test suite as it currently is somewhere? I know we're moving to get the tests to be based on something better ala GangaUnitTest or better but is the current test framework and summary web-pages possible with Jenkins? (We will also need to fix #81 before we use Jenkins properly)

[2016-01-08 12:52] milliams commented on #33
The release and testing will be all done on Jenkins but with the addition (in the short term) of two scripts in the `gangage` account: `bin/test-from-github` and `bin/install-from-github` which respectively run the tests based on a github branch and install to AFS based on a github tag. These will be manual steps but as time goes on, their need will reduce.

I'd be happy to try to make the 6.1.15

[2016-01-08 13:06] rob-c commented on #33
I'll have a look at these scripts as I want to try and run the current tests on the develop branch at least once a week (Wednesday evenings ahead of the group meeting is my feeling).
This will also require some tweaking of the LHCb test code to run with develop rather than a numbered branch but this should be a minor issue.

A lot of the problems from 6.1.14 are due to the fallout from changes ear

[2016-01-08 13:36] rob-c opened #82 "Migrate the old prepared job hashes to new mechanism"
The prepared state stores the hash of the XML of the application object which is generated in order to prevent the protected object from being modified whilst the job is in a prepared state.

This isn't too bad, but in practice the XML generated prior to 6.1.14 has formatting issues (and missing list support) which I've since fixed. As a result of this fix I've had to keep around the 'broken' code

[2016-01-08 13:44] rob-c opened #83 "Develop SubJobXMLList for testing"
I'm closing an older JIRA ticket (https://its.cern.ch/jira/browse/GANGA-1986?jql=project%20%3D%20GANGA%20AND%20resolution%20%3D%20Unresolved%20AND%20priority%20%3D%20Major%20ORDER%20BY%20key%20DESC) and opening this task.

The original ticket was to prevent loading of a whole job (subjobs and all) when loading a job from disk.
This has now been achieved through the SubJobXMLList class.

I have don

[2016-01-08 17:00] rob-c commented on #79
Think I may have fixed this in the above commit. I was seeing jobs failing when they should have been succeeding for LHCb and this led me to the fix above.
I suspect the construction of the object was triggering a flush to disk which was inadvertently not assigning the correct parent to many of the attributed when they were loaded in from disk again.
This fix expressly sets the parent within the s

[2016-01-10 07:34] drmarkwslater commented on #76
Yep - this does indeed seem to be fixed. Thanks Rob!

[2016-01-10 07:34] #76 closed

[2016-01-11 08:35] rob-c opened #84 "Remove additional load after flushing an object to disk"
When an object is flushed to disk the object is then immediately loaded back into memory and overloads itself.

This is an expensive operation and I'm not seeing a very good motivation for this to being performed on every single flush so I'm opting to have this removed.

[2016-01-11 08:56] milliams commented on #84
I would guess that the reason for it it to make sure that the state is consistent by always relying on the load logic. However, I agree that if the rest of the code is working correctly then there is no need for it and it is only slowing things down.

[2016-01-11 09:21] rob-c commented on #84
The load logic here replaces an object with itself after serializing it and de-serializing it from t he XML. There isn't any fancy logic other than replacing objects in memory with the new objects from disk.

[2016-01-11 09:34] rob-c commented on #78
@alexpearce Ganga 6.1.14 is upgrading to IPython 1.2, once it's been released I would like to invite you to try and check if this is still a problem as some of the code handling this has changed a lot since 6.1.13.
Thanks,
Rob

[2016-01-11 09:43] alexpearce commented on #78
I'll make sure to have a look. Thanks for the update!

[2016-01-11 13:08] rob-c opened #85 "Some jobs aren't picked up or progressed by monitoring loop"
Hi all,

I'm just adding a task to describe that I'm seeing some jobs not being progressed or picked up by the monitoring loop.

I've no concrete reproducible example yet, however in some situations I see that I can construct a job and it will not get picked up in the monitoring even if I wait for about 5min (The longest timeout for any of the monitoring variables was set to <30sec).
If I then res

[2016-01-11 15:20] #46 closed

[2016-01-11 15:27] rob-c commented on #73
Hi Ulrik,

I'm thinking that this would be a nice required schema component if for no other reason than for helping users with book-keeping and knowing what job was what.

e.g:
```j.application = GaudiRun(app='DaVinci', location='my/DaVinci/path')```

I think if we ask for it we should avoid using it as much as possible in the App to keep the code generic but having this upon construction makes li

[2016-01-11 16:53] egede commented on #73
@rob-c I do not think this works. It is possible with the `lb-dev` command to create release areas that are no longer associated with any of the *traditional* applications.

[2016-01-11 17:01] rob-c opened #86 "pycrypto needs to be re-built with gcc49"
Hi all,

In releasing Ganga 6.1.14 for LHCb gcc49 I spotted that the external pycrypto is currently still built for gcc48.

I don't know how complex building this external is but I'd rather leave building of the externals to the experienced.

After a quick look I don't think this is particularly used in the Core so if it's easier to move this external to module rather than re-building it for gcc49

[2016-01-11 17:03] egede commented on #86
@rob-c  pycrypto is **only** used for the remote backend.

@drmarkwslater Did you say that the remote backend was broken anyway?

[2016-01-12 09:37] drmarkwslater opened #87 "Move config setup to __init__.py of Core package"
In order to get the little ganga import working, the config system has to be completely set up just by doing:

[code]

Consequently, all the config options should be moved to __init__.py

[2016-01-12 09:38] drmarkwslater opened #88 "Move config setup to __init__.py for all packages (not just Core)"
See #87 but it needs to be extended for all packages.

[2016-01-12 09:41] drmarkwslater opened #89 "Have the .gangarc loaded and checked for each package on module imported"
When the config system is initially setup (now in `__init__.py` - see #87), the .gangarc file should be loaded, cached and then each option checked for the package. This should then allow:

[code]

This can then be mostly removed from bootstrap.py.

[2016-01-12 11:40] rob-c opened #92 "Spurious error at startup"
Copying From: https://its.cern.ch/jira/browse/GANGA-2039

Startup error looks like:

[code]

[2016-01-12 11:43] rmatev commented on #92
Ah sorry, I didn't realise you also migrated the issues here.

[2016-01-12 11:46] drmarkwslater commented on #86
Basically yes - best thing to do at present is bypass it in the quickest way possible and I'll revisit the Remote backend at some point in the future

[2016-01-12 11:50] rob-c commented on #86
@drmarkwslater Shall I just remove this from the list of Core externals for 6.1.15 in this case?

[2016-01-12 11:52] drmarkwslater commented on #86
I think so - as I say, it's currently broken anyway and needs a rewrite!

[2016-01-12 11:53] milliams commented on #86
I would suggest removing it from the list of externals. The `import paramiko` is inside a function call anyway so it shouldn't cause any import errors for users.

[2016-01-12 12:27] rob-c commented on #86
@milliams I'm assuming you mean that we can drop both paramiko and pycrypto from the Core externals in this case?

[2016-01-12 12:31] milliams commented on #86
@rob-c Yes, I think we can. The only place they are used (pycrypto is only there as an indirect dependency of paramiko) is inside the `opentransport()` method of `Remote`.

[2016-01-12 14:07] alexpearce commented on #85
I think I'm seeing the same thing. I see jobs where the Dirac status has long been “Done”, but Ganga stills says “Submitted”. I've even created a few very simple jobs, like `Job().submit()`, which appear as a mix of new/submitted in the `jobs` list.

I'm also seeing Dirac jobs finishing, but the `DiracFile` objects in the `outputfiles` of the subjobs aren't updated with the final LFN. I don't _thi

[2016-01-12 14:12] alexpearce commented on #85
Add to that: jobs where all subjobs have `completed`, but the master job is still `running` or `submitted`.

[2016-01-12 14:20] rob-c commented on #85
A word of caution. A repo containing lots of jobs with the Dirac backend will take a long time to progress between states. This is related to a combination of factors:

1. Large repos take a long time (still) to load into memory for monitoring. I plan to look at this further as time goes on.
2. Lots of jobs on Dirac require lots of forwards and backwards communication which happens on sub-threads

[2016-01-12 14:28] rob-c opened #95 "strange logging behaviour"
Hi all,

I'm putting a task here before I forget to bring it up yet again.

There are parts of the codebase where using the info logging function doesn't display as I would naively expect it to.
(Obviously this is working in some 95%+ of the time and it's only in some places it fails)

This isn't a case of the message is being held and not flushed until some event like a carriage return and I can

[2016-01-12 14:37] milliams opened #96 "Objects being wiped as soon as they're written"
I've hit upon a strange bug in the new integration tests. The situation is that I want to add a job to a `JobTree` and then check to see if was added.

In the integration test however, the code seems to be adding the job to the tree and then making it as dirty which prompts a flush to disk. In the process of flushing to disk (using `VStreamer._raw_to_file`) it calls `GangaObject.accept` which requ

[2016-01-12 14:54] alexpearce commented on #85
Thanks for the information, I understand it's a complicated issue. In these situtations, where something seems to be stuck but the user isn't sure whether it's a genuine problem or just something taking ‘a while’, is there a recommend course of action other than restarting Ganga?

[2016-01-12 14:55] rob-c commented on #96
@milliams As per my email at the start of the year the ```_getReadAccess``` should be transparent and shouldn't perform a registry action if one is currently in progress. (It sounds like a flush to disk is in progress but half way through the object is loaded from disk again)

If the object is being flushed to disk then the Registry shouldn't be evaluating the methods to gain read access as it's a

[2016-01-12 15:01] drmarkwslater opened #97 "Implement a way to automate the download/merging of Remote files"
I'm not certain, but I believe you still can't automatically download and merge anything other than LocalFiles - I think this might even be broken in Tasks. If this is not possible, we should make it possible :)

[2016-01-12 15:12] rob-c commented on #85
Unfortunately no, that's one of the reasons I made the bug to advise people. The best (and only real) solution is to turn it off and on again.

[2016-01-12 15:14] rob-c commented on #97
I thought we had decided that if the file wasn't stored locally then we would explicitly not allow for them to be merged?
If the files are large we run the risk of overwhelming local storage if we download everything don't we?

[2016-01-12 15:15] alexpearce commented on #85
:+1: then off and on it shall go.

[2016-01-12 15:22] alexpearce commented on #78
This error has indeed gone away with 6.1.14, and I've got my beloved history completion back.

Thanks for the fix!

[2016-01-12 15:22] #78 closed

[2016-01-12 15:24] drmarkwslater commented on #97
To be honest I can't remember. I think I would personally lean towards it being worth implementing as generally the user would want to do this straight away anyway if the job has succeeded. However, maybe it would be better just having this in Tasks rather than normal jobs? I don't know - what do others think?

[2016-01-12 15:25] milliams commented on #96
It turns out that I can indeed reproduce this at the Ganga prompt. The difference is that if you have an existing ~/gangadir then doing:
[code]
will work correctly but if you completely delete ~/gangadir before running Ganga then the `add()` fails due to the bug I described above. I will look into this a little more.

The JobTree itself is only doing very little, it's perhaps how it interacts with

[2016-01-12 15:57] #87 closed

[2016-01-12 16:09] milliams commented on #86
This was fixed by #94

[2016-01-12 16:09] #86 closed

[2016-01-12 17:27] egede commented on #85
When Ganga is in a state where it seems that things are not updated, it would be worth to look at if the worker threads are reported empty or not (the queues command I believe).

[2016-01-12 17:28] rob-c commented on #96
If this is failing due to the whole repo has been removed prior to the job being added then this may be due to the initialization of the metadata being delayed I suppose. I've some experience with the code so I'll see if there is anything obvious which could be done to help avert this

[2016-01-12 17:31] rob-c commented on #85
@egede The original problem I'm seeing is that the thread pool inside the monitoring loop isn't cycling as expected and it's not always clear what is/isn't running there as there is no nice monitoring tool atm. But the worker threads could yes be occupied which is causing a delay until the current tasks have completed.

[2016-01-12 17:31] egede commented on #97
What the user often want (without thinking about the consequences) is that they want all the intermediate files as Grid files and they want the merged output as a grid file as well. To do this on the client I think is a recipe for disaster. To do it as a separate Grid job, which can then be included in a Task seems on the other hand quite sensible. So implementing a Merger application might be a b

[2016-01-12 17:35] egede commented on #96
To add a bit of noise, I think that the jobtree is a good candidate for a piece of code to retire in Ganga. The idea dates back all the way to Ganga version 3 and was ported without any consideration about the design. I do not think it does much that you can't do with the "box" where I can store a list of jobs if I like.

[2016-01-12 17:36] egede commented on #85
@rob-c What happens if you stop the monitoring and restart it (without exiting Ganga)?

[2016-01-12 17:37] rob-c commented on #97
How about MassStorageFiles?
Is it possible to use streaming commands to create a new file on MassStorage 'on the fly' or would there need to be some mechanism for allowing for file transfers and merging.
Or, should we expect that some file types allow or automated merging of data but not all?

[2016-01-12 17:43] rob-c commented on #85
@egede Unfortunately I don't know for certain, I've not had great success with this in the past. I think this is related to the fact I see the monitoring loop 'stall' on shutdown still and although this happens much less it hasn't gone away. So, because of this shutting down the monitoring loop in the session causes similar problems

[2016-01-12 17:48] rob-c commented on #96
@egede I would argue to keep the functionality that this offers as a nice dictionary in the repo metadata to map jobs together. This could be very useful for systems such as Tasks etc in the near future to keep track of what jobs are being used for what.

That being said if this quickly amounts to a lot of work to keep something which is a nicety I'm all for dropping this.
If we dropped this then

[2016-01-12 18:03] egede commented on #97
@rob-c While it would be possible to merge Root files by streaming them from places like EOS or a Storage Element, it would only work in certain combinations and I think it would be fragile. And again it would potentially stream multiple GB of data through the client which is probably not ideal.

[2016-01-12 18:07] rob-c commented on #97
Good points.
I think merging grid files on the grid for instance would be a nice thing to have, but how many of the different GangaFiles we can sensibly support merging the output for?
I suspect in reality it's just LocalFile and maybe DiracFile?

[2016-01-12 18:11] egede commented on #97
@rob-c We could in priciple support many more, but the problem is that they would lead to contorted dataflows. We already see that with LHCb people running Dirac jobs that have MassStorageFile as the output. These jobs upload the data to EOS and then move it to a different location in EOS by copying it to the client first and then uploading it again. Merger jobs would suffer from similar issues. T

[2016-01-12 18:19] rob-c commented on #97
If we want to make some jobs that merge files then this may be a nice 'template' job to provide to users somehow, but I don't think any direct development in Core is required.
Maybe making a few template jobs in a 'sticky' template repository which can be used by Tasks or other users would be useful?

[2016-01-13 08:44] #84 closed

[2016-01-13 09:30] drmarkwslater opened #103 "Problems with Task formatting imports in GangaAtlas"
As well as the issues highlighted by @rob-c for LHCb, similar problems exist for Atlas after the config move.

[2016-01-13 09:32] #103 closed

[2016-01-13 09:34] milliams commented on #96
Thanks @rob-c

It looks like #102 has fixed this bug. I'm still getting some problems with the jobs.metadata registry but I believe these are caused by the test framework rather than anything else.

[2016-01-13 09:34] #96 closed

[2016-01-13 11:07] rob-c commented on #96
@milliams  What sort of problems are you seeing with the metadata repo.

#102 Should only have fixes this if the object wasn't being correctly marked as dirty (or somehow wasn't otherwise being flushed) as all of the load commands I removed were preceded by a flush statement which should have put the correct values in the XML. Is the add method in the jobtree marking the jobtree object dirty?

[2016-01-13 11:17] milliams commented on #96
The problems I was seeing (and which I have now fixed) were being caused by the JobTree object inside `getRegistry('jobs').metadata` and the one provided by `Ganga.GPI.jobtree` not being the same (and in fact the latter having no _getRegistry() assigned to it). This was caused by a new JobTree being created each time `GangaUnitTest.setUp()` was called but the new object was not being re-exported t

[2016-01-13 11:19] milliams commented on #96
As to the fix to this bug; the jobtree is explicitly marked as dirty at the end of the `add` call. I'm not sure exactly which part of #102 fixed it but it did indeed do the trick.

[2016-01-13 11:20] drmarkwslater opened #106 "help System broken in 6.1.14 due to typo"
Minor typo has broken the help system:

[code]

[2016-01-13 11:25] #106 closed

[2016-01-13 11:45] drmarkwslater commented on #96
Just to go back to @egede 's comment - I would much prefer to keep it if possible. If I was doing a significant amount of analysis, I would certainly use it to keep track of jobs and as @rob-c says, I have always planned to integrate it into Tasks as well. If it does prove to be a massive undertaking to keep it working then fair enough but I'd prefer to keep it if possible.

[2016-01-13 11:46] drmarkwslater commented on #96
P.S. By 'it' in the previous comment, I was referring to JobTree :)

[2016-01-13 12:02] egede commented on #96
@rob-c @drmarkwslater I do not have a problem as such in keeping the job tree. My main point is that I think you would be challenged in finding an active user of it (rather than discussing potential users). But let us keep it at the moment.

[2016-01-13 12:12] rob-c commented on #96
If this is fixed I'm not wanting to re-open it.
I think that the dirty value should possibly be set sooner if the method is doing something complex as under some circumstance the object is being flushed (and re-loaded) from some previous state which is what you're seeing but I'm trying to make this as difficult as possible to get into this situation.
It's possible that this may have been fixed by

[2016-01-13 12:37] milliams commented on #96
I don't think that this bug was fixed in `GangaUnitTest`. I was seeing the broken behaviour in a plain Ganga interactive session if I wiped my ~/gangadir before starting it. After the changes you made in #102 the behaviour in an interactive session is now correct. This chain of *broken*→#102→*fixed* is independent of `GangaUnitTest` and any changes therein.

[2016-01-14 10:13] rob-c commented on #75
@egede Did you report that this was working in 6.1.14?

[2016-01-14 10:18] rob-c commented on #92
@rmatev Are you able to update to and test the latest code in git? We've changed a lot of the Config system in Core.
If you need I can provide some instructions

[2016-01-14 10:39] rob-c opened #109 "XML Repo still seems a little fragile"
Hi,

This is just a task to remind me to look into the XML repo code again in the near future as I keep coming across some situations where a job fails to load despite the backup file being perfectly readable. The expected behaviour is that it then loads the backup and sends a warning.

I don't think these errors occur during 'normal use' as I'm torture testing my repository with other tasks whene

[2016-01-14 11:58] egede commented on #75
Yes indeed it does. I guess it might have been fixed by an upgrade of the LHCbDirac version.

[2016-01-14 11:59] #75 closed

[2016-01-14 13:40] rmatev commented on #92
Some instructions or a pointer would be great. I won't be able to test it before Monday.

[2016-01-14 17:54] dggamez opened #111 "Grid.py: global name 'time' is not defined"
When I submit a job (with backend=CREAM()) using the cvmfs latest version (or many others) of ganga I get the error shown below. It does not happen when using a quite old version like 6-0-42. I would appreciate any help on this.

Thanks!
[code]

[2016-01-15 08:53] milliams commented on #111
You are running 6.1.6-hotfix1 which is not the latest version. 6.1.14 is the latest version on CVMFS which can be run via `/cvmfs/ganga.cern.ch/Ganga/install/LATEST/bin/ganga`. Do you still see this bug in the latest version?

[2016-01-15 08:58] drmarkwslater commented on #111
Indeed - this is because at the workshop yesterday I recommended people use 6.1.6-hotfix1 from CVMFS to avoid the on-going syncing issues with the repo. However, it looks like I fixed this in a previous issue #55.

Having said that , it would be good to check that the CREAM backend is still working OK in the latest release!

[2016-01-15 11:06] rob-c commented on #111
@drmarkwslater Is this a bug with our repo syncing or some external repo to Core Ganga?

[2016-01-15 11:28] drmarkwslater commented on #111
@rob-c I'm afraid it's still a syncing bug in Core. I hadn't seen it on develop branch with the Local backend but if you run a Dirac job, the job submits fine but ~50% of the time, (possibly if you don't restart Ganga before hand and it's an Exe+Dirac job) when the job completes, the completing messages go through with an additional warning of 'User changed status from submitted -> running' or som

[2016-01-15 11:47] rob-c commented on #111
Strange, I don't see this with GangaLHCb and GangaDirac but then I think the executable has been changed in this workflow...

If this is a problem with migrating the status forward in:

submitting->submitted->running->completing->complete(failed) then I don't know what could be causing the problems here

If the problem is related to jumping back from the 'completing' state to the submitted state t

[2016-01-15 11:55] milliams commented on #111
The main bug we were seeing in the session yesterday seemed to be people creating simple Local/Executable job, submitting them and then somehow they were ending up back in the `new` state. Trying to submit them as this point gave a "cannot do state transition"-type error and the job would not work after that. It felt like the registry was doing a load at the wrong time and overwriting the local st

[2016-01-15 12:21] rob-c opened #115 "Dirac jobs don't transition to completed"
Hi all,

I'm opening a 'meta-task' to look into Dirac jobs not reaching the 'completed' state as there have been several reports of Dirac jobs not transitioning between states as intended.

I'm marking this as Dirac as I cannot reproduce this behaviour with the Local backend so suspect that this is a Dirac issue.
(Although I know that in testing I had Dirac jobs reach a 'completed' state so this c

[2016-01-15 12:28] rob-c commented on #68
OK, after some investigating I discovered that the XML for an LHCb job which contains 8082 DiracFile in the LHCbDataset is __14 M in size__ which explains why loading the job takes forever.
(Optimising the VStreamer will only get us so far parsing an XML this size is just always going to be slow)

I think moving to store only the LFN in the LHCbDataset and to generate DiracFiles as and when requir

[2016-01-15 12:36] milliams commented on #68
I think a possible solution to the XML reading/writing would be to switch over to using `xml.etree.ElementTree` since I've heard it is much faster.

Of course, anything we can do to reduce the size would be good since 17KB per file is too large. What does the average DiracFile XML entry look like?

[2016-01-15 12:45] rob-c commented on #68
I've looked into the ElementTree in the past but this will likely require a completely new implementation of VStreamer from the ground up, although I think it supports parallel parsing of elements which could be nice.

The average DiracFile is only about ~10 lines of XML but with LHCbDataset from a book-keeping query most of that data is set to empty so we have an LFN stored about about 10 lines o

[2016-01-15 12:56] milliams commented on #68
In which case I'm wondering about what the space is being used up by. A default-constructed DiracFile will be streamed to XML as:

[code]
which is only 721 bytes which is two and a half times smaller that the number you quoted above.

Actually VStreamer itself is not used for loading the XML, it's largely handled by expat with some custom hooks for starting and ending elements. I expect there's de

[2016-01-15 13:13] rob-c commented on #68
Yes it's done with expat but we'd have to do a lot of work to optimise which would be better spent with a more modern implementation if we suspected this is the bottleneck.

It's not particularly the I/O. The entire file is read and passed to the VStreamer as a text object in memory so my main problem is that the benchmarking shows all of the time is taken in parsing this HUGE text file.

I'm not

[2016-01-15 13:24] rob-c commented on #68
It's currently taking some 40sec to parse this XML and a huge chunk of that is in constructing the GangaObjects. I suspect only creating the objects on demand is by far the best solution to this problem

[2016-01-15 13:29] milliams commented on #68
I've looked into profiling this and this is what I see. If I run a Ganga script like:
[code]

then it prints:

[code]
so you can see that it takes 12 seconds to load the XML file, 8 seconds of which is spent doing `sleep` and that sleep is being called from `Objects.py:694(__createNewList)`. Removing
[code]
and running again gives:
[code]
so it's down to 0.129 seconds to read the same file. This i

[2016-01-15 13:31] rob-c commented on #68
It's there because the lists are being populated in parallel. Run the lists linearly and you see the same sort of performance.
Take out the check and you have an object in an inconsistent state

[2016-01-15 13:45] milliams commented on #68
Ah, ok. Indeed I do see some problems. I'll look into this some more but regardless it seems that this is less due to the XML parsing and more to do with how the objects are constructed.

[2016-01-15 13:50] rob-c commented on #68
I see that profiling finds 76% of the time is taken up in the __deepcopy__ method which is called about 12k times in constructing the job (not unreasonable when you consider there are 8k DiracFiles in the job).
Whilst I suspect that some optimisation can reduce the amount of time spent there I'm beginning to think this is much better solved at the higher level than by optimising low-level methods

[2016-01-15 16:11] rob-c commented on #68
After some extremely aggressive optimisation of the code in Objects.py I can get this down to ~30sec from ~40sec but even then I'd rather not put the code into git.
I'm seeing 3 calls to create lists in the set method and these are consuming 89% of the time to run. I'm wondering if there is a smarter way of 'handing off' objects through VStreamer rather than by copying objects around this could po

[2016-01-15 18:29] milliams commented on #68
With my latest benchmark it was taking 7 seconds to load a large job from XML. I then properly fixed the old bug which was causing loaded objects to not have a `_parent` set which then made it take 9 seconds. Removing the incorrect workarounds for the `_parent` but took it back down to 8 seconds but it was still slower than it started.

I then did some profiling and have reduced some of the hotspo

[2016-01-16 16:44] rob-c commented on #79
I'm going to close this as I don't seem to be seeing this bug anymore after adding a setParent in the setNodeAttribute method (arguably where it should have been all along).

[2016-01-16 16:44] #79 closed

[2016-01-16 23:15] rob-c commented on #68
I'm concerned that you say old bug of not setting the parent. This is fixed in develop last I checked unless there is something I've missed.
This aside I've got a pending PR which reduces the large amount of _setParent calls across a few classes which are strictly un-needed.
(This does require some attention to be paid by devs so I'll stick up a wiki on stuff around this at some point, including s

[2016-01-17 20:05] jea-umd opened #120 "Error when trying to submit a job using MassStorageFile and {'sjid'}"
When trying to submit a new job in 6.1.14 which uses MassStorageFiles and the {'sjid'} flag, the following error is returned:

JobError: Error in MassStorageFile.outputfilenameformat field :  job is non-split, but {'sjid'} keyword found

This occurs even in the same Ganga session that was used to create the job.

[2016-01-18 07:40] rob-c commented on #120
@jea-umd Firstly, are you submitting a job with a splitter and observing this?
Secondly, would you be able to provide a script to reproduce this?

Thanks,
Rob

[2016-01-18 08:42] rob-c commented on #115
I believe I have a fix for this in #117 so hopefully once that gets merged this will be fixed.

[2016-01-18 08:46] rob-c commented on #111
As for the job transitions I've fixed this as part of #117 I don't know about the original problem to do with time being out of scope.

There is an ```import time``` at the top level of the file in develop, so if this was there in earlier versions it wasn't exposed in the local scope of this function for some reason.

[2016-01-18 10:42] milliams commented on #68
I've made PR #121 which, in my local testing, helps a lot with this. My benchmark is almost twice as fast now.

[2016-01-18 14:01] drmarkwslater commented on #115
Don't know if it's related but doing some investigation on Friday, it seems that the monitoring loop for Dirac is getting called constantly - i.e. as soon as it's monitored the jobs once it immediately starts again whereas I would have expected ~30s in between. I haven't untangled the code enough yet to sort out a fix but this may be exposing more race conditions that you'd expect!

[2016-01-18 14:07] rob-c commented on #115
As for the polling this is something I think needs testing in the Monitoring loop.

I have spotted that DiracBase is calling for a transition of 'running' to 'completing' due to some combination of commands now changing the status from 'running' to 'completing'.

This fails (silently) and hence the jobs get put into the 'completing' state due to another piece of code.

How the 'running' to 'comple

[2016-01-18 15:18] rob-c commented on #115
I can confirm 'disabling' the ```_index_cache``` parameter in the Node fixes all of the repo problems at the cost of the lazy loading. I'll do some work to make sure this is cleared whenever a job is loaded.

[2016-01-18 15:52] jea-umd commented on #120
Hi Rob,

Yes, I'm using a splitter. A simple ganga script which reproduces the
error is attached.

cheers!
Jason

On 1/18/2016 2:40 AM, Robert Currie wrote:

[2016-01-18 15:53] milliams commented on #120
@jea-umd It seems that email attachments don't work with GitHub issues. Could you paste it into a comment box at https://github.com/ganga-devs/ganga/issues/120?

[2016-01-18 16:19] jea-umd commented on #120
Here they are.

[gangaTmp.zip](https://github.com/ganga-devs/ganga/files/94653/gangaTmp.zip)

[2016-01-20 14:01] rob-c opened #123 "Opening 6.0.44 tasks in 6.1.14 fails"
A user has reported problems with Ganga 6.1.14 opening the tasks repo from 6.0.44.

[code]

[2016-01-20 16:03] mjmottram opened #125 "No Ganga/__init__.py shipped with job"
Running the latest develop version, ```Ganga/Utilities/__init__.py``` and ```files.py``` are both shipped with the job, but no ```Ganga/__init__.py```, meaning that the job fails on the backend whenever attempting to load files relative to the _python/Ganga base directory (e.g. when adding an output sandbox).

[2016-01-20 16:07] rob-c commented on #125
@mjmottram What backend(s) are you seeing this problem with? I'm seeing jobs passing on a few tests I'm running atm so I can probably take a look at this

[2016-01-20 16:08] mjmottram commented on #125
LCG.  Ganga was removed from the default modules list to get shipped to the backend at some point recently.

[2016-01-20 16:12] rob-c commented on #125
OK, I'll see if I can do any testing, strange I'm not seeing this on my Dirac jobs atm.
The list was shortened when I removed the 'spyware' from the worker nodes which was at least in the way or at worst getting fragile in it's old age.

[2016-01-20 16:14] mjmottram commented on #125
Running with outputfiles (maybe specifically LocalFile or at least anything that then requires an import of any of Ganga.xxx during running) should cause this.

[2016-01-21 10:21] rob-c opened #129 "Objects added to box repo losing their name"
From an LHCb user: Simone Bifani

I see the same behaviour on afs with my code from my working branches, we should probably still look at this.

[code]

[2016-01-21 14:18] drmarkwslater commented on #125
As mentioned in PR #126, this was due to #87 (apologies!). I'll try to put in a good fix for this ASAP.

[2016-01-22 08:51] milliams commented on #65
Done for @ganga-ci

[2016-01-22 08:51] #65 closed

[2016-01-22 11:24] milliams commented on #26
I've just had a look at this and we don't already do this for `setLocation`. The current situation is:

IGangaFile | MassStorage | Dirac | Google | Local | LCGSE
---------------|------------------|--------|-----------|--------|-----------
`setLocation` | `None` | `None` | N/A | N/A | `None`
`location` | `list` | `list` | N/A | `list` | `list`
`get` | `None` | `None`,`dict`,`list` | `None` | N/A |

[2016-01-22 12:05] rob-c commented on #92
@rmatev Apologies I've been a bit busy this week, I plan to setup a wiki page with instructions for LHCb users on how to test the latest code I'll update this once I've done that.

I'm now seeing this on my latest dev branch and appears to be a bug which has been recently exposed.

This problem goes away if I include the following in ```Ganga/__init__.py```
[code]

I suspect what is happening is t

[2016-01-22 12:18] milliams commented on #92
Yes, it seems like perhaps the `BoxRegistry` module is not being imported until after the config has run. It's strange though that it's not affecting `JobRegistry` etc.

[2016-01-22 12:42] rob-c commented on #92
From what I can tell the Registry is imported fine however I suspect that it's possible that no ```BoxRegistryMetadata``` instance is declared until after the config has been parsed.

Would constructing a new Schema object after the 'defaults' have been initialized in the config lead to problems is it known?

[2016-01-22 12:43] rob-c commented on #92
After wading through ```ganga --debug``` everything is initialized before this error is printed which leads me to suspect that the box.metadata repo should handle initializing this if it's not automatically constructed on startup.

[2016-01-22 13:48] milliams commented on #92
When a `GangaObject` is created, as part of the metaclass construction it should run `Schema.createDefaultConfig()` which is where `makeConfig()` is called. If a schema is created outside of a `GangaObject` then perhaps this could break but I don't see how otherwise.

What the error is saying is that at the time that `Ganga.GPIDev.Lib.Config.Config.bootstrap()` is run, a config section in `allConf

[2016-01-22 14:21] rob-c commented on #92
Not having looked at the code surely the better behaviour is to fix ```Schema._getDefaultValueInternal()``` to either call or do the same thing as ```makeConfig()```?

If this throws an exception (it should) cause the repo to fail to load in this case I would imagine (unless there is some catch-all exception).
This would mean that the repo potentially needs to be re-factored.

[2016-01-25 08:13] rob-c opened #136 "Registry race conditions still happening"
I'm going to have to do some minor development in the Registry to give more information on race conditions and add some logic to protect against exceptions from the code designed to prevent this.

Some users still report problems when torture testing the repo. It's not clear if this could be a threading issue as I'm not 100% certain that the use of RLock is 100% safe hence why I added a convention

[2016-01-25 08:40] rob-c opened #137 "JobTime has no parent issues"
Hi all,

I'm seeing a (new?) bug that some jobs can't update their status on HEAD due to the jobTime object not having a parent object correctly assigned.

This object should be being assigned using the ```__set__``` method in Objects.py and automatically picking up a parent. It's not clear if this is due to the setParent methods being subverted or whether there is an incorrect use of setattr over

[2016-01-25 09:32] milliams commented on #137
This is strange as the only place `JobTime` objects are created is in the schema job `Job` via its `defvalue`. The only way this might not be working is if somehow the value being passed in is a proxied JobTime object and so the `if isinstance(attrib_value, Node)` is failing. This theoretically shouldn't happen but at the moment it's technically possible.

[2016-01-25 10:00] rajanandakumar commented on #136
Code used by me : a file "test.py" which has the following lines of code. Note the two python scripts which are included which I will be happy to provide also if you want - they are specific to my analysis though, and not general.

############################
magnet = "MagDown" # or "MagUp"
year = "12"
energy = "/Beam4000GeV"
strip  = "Stripping21"
path = "/LHCb/Collision" + year + energy + "-Vel

[2016-01-25 10:25] rob-c commented on #137
Other than if we have a broken copy method i agree. either way this is potentially very bad and needs attention

[2016-01-25 13:54] rajanandakumar commented on #136
Also, as an observation, a job resubmit done interactively, i.e.

j.resubmit()

is at least apparently much slower than doing it through the queues system, i.e.

queues.add(j.resubmit)

Of course, this is primarily a subjective feeling, but I believe backed by quite a bit of observation.

[2016-01-25 14:07] rob-c commented on #136
@rajanandakumar Thanks for letting me know about the resubmit observation. I'll do some investigating and see if everything is being correctly done in the case of resubmit on queues.

[2016-01-25 14:54] jwimberley commented on #129
There seems to be a related issue for the jobs repository, reported by Chris Jones. Within Ganga v601r14, the following error occurs:
[code]

In Ganga v601r11, meanwhile, no error is reported:

[code]

Unlike with the box repository, the correct slice is still returned, despite the reported error.

[2016-01-25 15:33] rob-c commented on #129
@jwimberley I suspect the above issue is unrelated to the bug with the box repo. The bug with the box repo is a loss of data vs the second issue which appears to be related to performing an evaluation of a string argument. Here it looks like some use of the new runtimeEval... isn't passing the additional boolean to avoid this error being thrown if the object doesn't exist in the schema which is va

[2016-01-25 16:17] rob-c opened #139 "Monitoring Loop timeouts/poll-rates are not what is naively expected."
Hi all,

This came up in last weeks meeting and I mentioned I wasn't sure if this was un-related. Now I think this is a quite serious (albeit separate) bug.

From what I can tell the poll rate for backends is being passed into ```timeoutMax``` in ```UpdateDict.addEntry```.
This doesn't appear to be used in executing code from the monitoring thread unless I've missed something?

In addition the use

[2016-01-25 16:26] rob-c commented on #92
@milliams Is there any conclusion to draw from this because I suspect it effects #129.

Is manually adding a makeConfig advisable as we don't make use of this function anywhere else with regards to the config parameters ```defaults_xxx```?

Although adding it to the schema makes this go away it doesn't fix it and I'd rather not set a precedent.

Or, is this likely a bug in the loading of the Confi

[2016-01-25 16:32] milliams commented on #139
Good investigation, I'll need to re-read this a few times to get the hang of it :smile:

One think I will say is that `timeoutMax` does seem to be used by `UpdateDict.timeoutCheck()` since it is stored in the `_DictEntry` class as `timeoutCounter` and `timeoutCounterMax`. How they are used further to that and what thread that is run in I haven't looked in to.

[2016-01-25 16:36] milliams commented on #92
@rob-c I don't think we should manually add a `makeConfig()` as that is just going to hide the problem. I will have a look to see if I can reproduce this bug. Is there an easy way to make it show up as I haven't seen it myself?

[2016-01-25 16:37] alexanderrichards commented on #139
hi guys, for those of us with less time to investigate could you make things like `UpdateDict.timeoutCheck()` a link to the appropriate line in the code as it will save me a lot of time figuring out what dict this is...many thanks :smile:

[2016-01-25 16:46] alexanderrichards commented on #139
e.g. [`UpdateDict.timeoutCheck()`](https://github.com/ganga-devs/ganga/blob/7d2fa2e07c7bd15b5e6158d68cdc33fdea68ebe9/python/Ganga/Core/MonitoringComponent/Local_GangaMC_Service.py#L278)

Although having said that it didn't take me too long to actually find :wink: so maybe you can just ignore my noise

[2016-01-25 17:11] rob-c commented on #92
```SetupProject ganga; ganga``` seems to be enough to trigger it every single time. I'll have a go at wiping my repo later and see if it's a corruption problem of some sort although I doubt it.

Maybe if you're able to load GangaLHCb alongside the Core then it might be enough to trigger this problem.

[2016-01-25 17:14] rob-c commented on #137
This appears to have gone away. I think this was a bug my end when I modified something that 'should have no effect' and it broke readin in the XML in a strange and unusual way.

I'll close this for now as I can't reproduce it on HEAD :D

[2016-01-25 17:14] #137 closed

[2016-01-25 17:31] rob-c commented on #139
@milliams They're only used for 'debug' style messages from ```runMonitoring``` I've found which is interesting but ultimately a bit misleading imo. It just tells us if the code executed in < the ''poll time'' which to me is not what poll time suggests it should be.

Apologies this is a bit of a mess but unfortunately after getting my head around this, that post made sense. Which probably means I

[2016-01-25 17:35] rob-c commented on #92
I'm happy to say aside from some minor changes within functions I've no idea how the Config system is actually coded and it intimidates me enough to stay away from it.

[2016-01-25 19:16] milliams commented on #139
@rob-c The first step in this is definitely trying to understand exactly how the current system works. The second step is working out, based on that, how it was originally designed (the diff between the two is the years is feature creep and misunderstood fixes). We can then start simplifying the code back to that and hopefully make use of newer Python features, modules etc to make the code easier

[2016-01-25 19:46] milliams commented on #92
In general I'm happy to take this bug as I've looked into the config system a bit in the past. However, I'm completely unable to reproduce the bug. Logging into a fresh LHCb terminal on lxplus and doing:
[code]
I get
[code]
and even running it a second time I still get no error. The other difference I see is that you have `/afs/cern.ch/sw/ganga/install/config/LHCb/6-1-11/CERN.ini` in your list of

[2016-01-25 20:14] milliams commented on #71
There is some interesting discussion about the current system at #139.

[2016-01-26 07:56] egede commented on #92
@milliams the .ini file at the end is normal. It sets a few CERN specific options for the config system. The latest version below is picked for this (to avoid that we have to update it for every release).

[2016-01-26 08:38] rmatev opened #140 "Metadata not populated for subjobs"
I have a checker that fails with 6.1.14 because the metadata per job is missing. The strange thing is that the combined metadata for the master job is there.
[code]
On a side note, subjobs are not returned as proxy objects, so it is annoying to work interactively with them.

[2016-01-26 08:42] drmarkwslater commented on #139
I personally think a re-write may not be a bad idea. The fact that 3+ of us have now looked at this code and we're still not entirely sure what's going on is a bad sign :) I may be over simplifying it but I would have thought that all the monitoring loop needs to do is every <polltime> for each active backend, run the updateMonitoring function for that backend. Using queues as well I can't see thi

[2016-01-26 10:25] rob-c commented on #92
@milliams Apologies I forgot to mention you need to be doing this with the latest code from develop. If you use 6.1.14 I could not reproduce this on AFS

[2016-01-26 10:27] rob-c commented on #140
The issue with proxies is being addressed (somewhat) in 6.1.15 there has been some further work in this area.

The metadata issue is however an LHCb bug which probably needs addressing but may be a result of the repo syncing issues in 6.1.14 so I'll check for subjobs of a 6.1.15 job in a bit,

Rob

[2016-01-26 10:28] milliams commented on #140
I'm putting together an integration test for this but I've come across a number of broken things with subjobs which I will be fixing soon.

[2016-01-26 10:30] rob-c commented on #140
I suspect that this has been broken for a long time but the logging has failed to display. I think you had to be using cvmfs and 6.1.14 to get it to display there for some reason which shouldn't be to blame.

[2016-01-26 10:38] rob-c commented on #140
@milliams I suspect there may be a missing addProxy in the SubJobXMLList class which could lead to this but I don't see it from the standard tools if memory serves

[2016-01-26 10:40] egede commented on #139
@milliams asked about the original intention of this code. I think it is/was as follows.
1. Create a list of all sub-jobs that should be monitored.
2. Split this list into different backends.
3. Place calls to the backend specific monitoring on a queue which a thread pool picks
    tasks from **if** previous call has finished and the time since that backend was last queued
   is above the minimal

[2016-01-26 10:51] milliams commented on #140
RP #143 relates to this as the code breaks otherwise. At least in current *develop* `type(j.subjobs[0])` returns `Ganga.GPIDev.Base.Proxy.Job` so I think that's fixed.

The metadata issue still needs attention though.

[2016-01-26 10:52] milliams commented on #92
I'm now seeing this on my local checkout of Ganga so I'll start looking into it.

[2016-01-26 12:10] rob-c commented on #139
@milliams How do we edit that?

[2016-01-26 12:38] milliams commented on #139
@rob-c If you edit [doc/dev/index.rst](https://github.com/ganga-devs/ganga/blob/develop/doc/dev/index.rst) and then run `make html -j4` in the `doc/` directory it will create some HTML files in `doc/_build/html/dev/index.html` (it uses [Sphinx](http://www.sphinx-doc.org)). If it ends up being too much for one page, we can always split it out later.

[2016-01-26 14:15] #92 closed

[2016-01-26 15:50] milliams commented on #111
This was fixed back in 8d0fc46c06ab30ea404d3d4dee6e9ca0d6bca591.

[2016-01-26 15:50] #111 closed

[2016-01-26 15:53] milliams commented on #95
I haven't seen this myself. Without a (mostly) reproducible test case it is hard to say.

[2016-01-26 16:20] drmarkwslater opened #146 "When importing in python, pretty printing doesn't work"
On the little ganga branch, I can now import everything, submit jobs, etc. However, the pretty printing just doesn't work. I'm guessing this is because it's done in an IPython way with `_repr_pretty_` but if you call `__str__()` then that (sort of) works in vanilla python. What would be the best way to get this working in normal python?

[2016-01-26 17:07] rob-c commented on #95
Next time I come across a function where I observe this I'll update, I'll give it until the end of the week and will mark it as can't reproduce if I have stopped seeing it. Some recent changes have made this go away

[2016-01-26 17:14] rob-c commented on #146
@drmarkwslater Does this work? http://stackoverflow.com/questions/17248383/pretty-print-by-default-in-python-repl

[2016-01-26 18:02] milliams commented on #146
I guess it really comes down to: do we want to always do pretty printing? If so then we should just make the `__str__` method return what we want.

[2016-01-26 18:17] drmarkwslater commented on #146
@rob-c Not sure I want to do something like that on import as it would change it for everything in the session...

@milliams That's the big question :) I personally couldn't think of a reason NOT to want it to print something sensible rather than <<Ganga Proxy Object blah blah>> but I may have missed something. This way it would only be restricted to the Ganga (proxy) objects as well.

Is this a s

[2016-01-26 18:29] milliams commented on #146
The relevant documentation for this is [`__repr__`](https://docs.python.org/3/reference/datamodel.html?highlight=__repr__#object.__repr__) and [`__str__`](https://docs.python.org/3/reference/datamodel.html?highlight=__repr__#object.__str__). The gist is that the `repr()` of an object should return a string which, if passed to `eval()` gives back an object just like the original. In this sense our

[2016-01-26 18:41] rob-c commented on #146
I suppose a secondary question is do we want to change the printer when doing 'import ganga' within vanilla Python or change the printer within IPython.
Having 2 different ways of printing and keeping them in sync adds difficulties which we may not (or may) want to face.
@drmarkwslater I would have thought it's a reasonable expectation that the printer may be changed by importing something such as

[2016-01-26 18:50] drmarkwslater commented on #146
@rob-c If that's OK with everyone then I'm happy with that as well - my knee-jerk reaction is always for `import ganga` to do the minimal of messing :)

From what @milliams said, I think I'd lean towards changing the more general `__str__` and `__repr__` to behave as expected then you wouldn't need a separate IPtyhon version.  Though maybe I've misunderstood :)

Going one step further - do we stil

[2016-01-26 20:10] milliams commented on #146
I think the simplest solution would be to change `__str__` to do the sensible thing. We can then get rid of the IPython hooks for displaying since they won't be doing anything extra.

`VPrinter` is useful in a way as it provides a way of generating the string based on a GangaObject. It can perhaps be simplified though.

[2016-01-26 21:42] rob-c commented on #146
@drmarkwslater I think you're correct that's probably for the best.

@milliams Wouldn't it be worth just pointing ```__str__``` (and maybe ```__repr```) to the pretty repr used by IPython. I think it will always look for these other functions first if they exist (I could be wrong). We could change the IPython printer but then I wonder if this is guaranteed to be the same for all (reasonable) versi

[2016-01-26 22:12] egede commented on #146
Don't forget that we have implemented the compressed printout for long lists. So a list of 1000 files in an LHCbDataset just prints out a summary rather than the 1000 entries. See below. This behaviour should be preserved.

[code]

[2016-01-27 09:35] alexanderrichards commented on #146
hi all, I came to this discussion late. From my point of view, I've never been a fan of the VPrinter so would be happy to see it go. I would argue for having just python standard `__str__` and `__repr__`. As @milliams rightly says the convention is that `__repr__` should return an eval'able string while `__str__` can return whatever. In this case since `__repr__` is called when python displays ret

[2016-01-27 11:31] milliams commented on #146
This is my view on the difference between the three:
* `__repr__` should be fully `eval`able and should print the full contexts of the list. It should map to what the current `export()` does using the VPrinter.
* `_repr_pretty_` will always be called by IPython (even without manual hooks) instead of `repr()` when writing, e.g., `j` and so we needn't worry about `__repr__` being overly verbose. Thi

[2016-01-27 11:43] alexanderrichards commented on #146
Excellent use of the table feature ! :smile:

I am in complete agreement with all of this. In addition to the hidden attributes, the proxy must also, in a similar way to the non/copyable attributes, hide the protected attributes in the `__repr__` as these are essentially not settable to the proxy object.

@milliams can you update the table with two sections for the rows. One for objects and one fo

[2016-01-27 11:52] milliams commented on #146
I've updated the table. It's two separate tables since Markdown is quite restrictive. I've also added a row for `transient` since that is special too. I guess they shouldn't be shown in the `__repr__` but should in the others?

[2016-01-27 12:04] alexanderrichards commented on #146
I think in the table, as we should use it in the doc, change:
copyable -> non-copyable
as I think it's more obvious what you mean then.

I'm trying to think of a common attribute that we have that is transient to see how that should behave. Can you think of any examples

[2016-01-27 12:06] alexanderrichards commented on #146
also in the table it should be __repr_pretty__ rather than the other way around.

[2016-01-27 12:14] milliams commented on #146
`Job.outputdir` is transient. It's something which is computed based on other attributes. Think of them like a:
[code]
without an associated setter. I guess you could think of them as `const` (even on the `GangaObject` layer).

[2016-01-27 12:41] rob-c commented on #146
@alexanderrichards I'm a little hesitant to call for the replacement of VPrinter as it does a relatively good job of in a 'standard' way serializing an object and makes use of the same hooks as the XML code.
And it works. Plus we still need to address #82.

@milliams Is the table expected or actual behaviour?
Currently we use ```__repr__``` to generate the ```< Proxy object at 0x....>``` type resp

[2016-01-27 12:50] milliams commented on #146
@rob-c The tables show our expected and desired behaviour. I think I'd prefer to change our way of working so that right things happen automatically in Python and IPython.

[2016-01-27 13:04] rob-c commented on #146
OK, I'm more than happy to have ```__repr__``` do something a bit more sane :). I'm assuming people using ```import ganga``` are likely experienced users who don't need the 'hand-holding' provided by ```__repr_pretty__```.

I'm a little concerned that none of the above behind the proxy are suitable for replacing a lot of the logic in ```export(myJob)```.
I think modifying the ```__repr__``` to sho

[2016-01-27 13:08] drmarkwslater commented on #146
@rob-c Just a quick point - we're hoping that `import ganga` will basically replace the bootstrap in the medium-to-long term and I suspect that as soon as we start offering this, it might get quite a large take up  as it's a lot less hassle to just add this to your existing python scripts. I personally think having `import ganga` give a reliable and sensible environment irrespective of (I)Python i

[2016-01-27 13:19] alexanderrichards commented on #146
Wow ok a lot to catch up on since I went to lunch.

@rob-c

These aren't to me good enough reasons to keep it around when standard python `__repr__` and `__str__` can do the same job. I think we should strive for simplicity and conciseness and it will make our code better and I don't think the answer is in the VPrinter.  As for #82 I would have to read it more carefully by I would be surprised if

[2016-01-27 13:28] milliams commented on #146
@alexanderrichards I think using `VPrinter` as the mechanism for constructing the string for `__repr__` and `__str__` isn't a bad idea. It's code that does what we want and it works. Now, it might need changing to be able to support the different configurations mentioned above but it's not *bad* code. Unless there's a good reason to replace it?

[2016-01-27 13:30] alexanderrichards commented on #146
@milliams I'll look again at the VPrinter code then but as I recall it's an implementation of the visitor pattern which I think is over the top for our needs so I'm afraid I disagree.

[2016-01-27 13:37] milliams commented on #146
@alexanderrichards I agree that we should get rid of the visitor pattern if we can as it's unnecessarily complicated but it's easy enough to retrofit VPrinter (and VStreamer) to not use `accept()` etc.

[2016-01-27 13:43] alexanderrichards commented on #146
well at least we agree on the need to remove the visitor pattern :wink: I think that we may have to keep in around in some form while we have all the `Node` nonsense. However I would like to also get rid of that (Another discussion maybe). I think though that if it's possible to simplify it to put it in the

[2016-01-27 13:50] rob-c commented on #146
I think removing VPrinter is a nice direction to go in, but is somehow a mid to long term solution. A top down inspection of objects based upon the Schema is much clearer to understand but is a luxury.
At the moment it works as expected and produces sane results.

@milliams I somehow feel it would be better to start again if we want to remove the visitor pattern as we can make some sensible decisi

[2016-01-27 13:56] alexanderrichards commented on #146
We have somewhat hijacked Marks issue here :smile:  I agree that what I am proposing is a long term goal but I thought that was the point of the discussion. I realise that we will have to get there in incremental steps which will very likely involve using the VPrinter as is and stripping the visitor pattern if possibly. Lets discuss this further in the meeting tomorrow.

[2016-01-27 21:16] rob-c commented on #58
OK, I think as a result of this discussion and other additional changes in the ```Core.GangaRegistry``` and ```GPIDev.Base``` recently I'm happy to shelve this as a lot of work has been done towards simplifying the core as it stands.

[2016-01-27 21:16] #58 closed

[2016-01-28 10:07] mjmottram opened #152 "Selecting on status produces warning"
When running jobs.select(status='blah') https://github.com/ganga-devs/ganga/blob/develop/python/Ganga/GPIDev/Lib/Registry/RegistrySlice.py#L137 produces an error (although the selection is still successful) that is confusing for users.

[2016-01-28 10:10] rob-c commented on #152
@mjmottram Thanks for tracking down the line. This just needs an additional boolean of True to be passed as a second parameter to silence this from a user perspective.

[2016-01-28 10:17] alexanderrichards opened #153 "Excessive startup warnings/info for non LCG/LHCb environment"
I see the following when starting ganga in a python 2.7.10 virtual env

[code]

[2016-01-28 10:55] alexanderrichards opened #154 "What is the prepared state doing?"
Looking at the hashes from the prepared state we realised we don't know how it works. Some concerns are:
1. If the hash is made from the Job `__repr__` then it would change whenever the state changes.
2. If the hash is made from the Application `__repr__` then nothing prevents me making a second prepared app with the same hash and hence we have a collision and an identity issue when choosing which

[2016-01-28 10:56] milliams commented on #153
There are two issues here. Firstly is the:
[code]
which is perhaps a `GANGA_SITE_CONFIG_AREA` problem.

Secondly is the many warning about the GLite and Dirac UIs being missing. For the latter I would much prefer to defer this error until the LCG backend is used. The `proxy-info` warnings will be fixed by my credentials branch.

[2016-01-28 10:58] rob-c opened #155 "Check XML data file integrity"
We want to make sure that the ```data~``` file contains a backup of the actual ```data``` file and to make sure that the operations which move a new data file into place are as atomic as possible to prevent future data loss.

I'll look into this asap.

[2016-01-28 10:58] alexanderrichards commented on #154
So @rob-c has some additional info as he has just looked into it, he says and I quote:

[2016-01-28 11:00] alexanderrichards commented on #154
so this looks at least then like the uuid is being used correctly. We should understand however what this application hash (which is used in GangaRepositoryXML.check_app_hash) is actually being used for and whether it makes sense or if indeed we can dump it which would be nice

[2016-01-28 11:08] rob-c commented on #154
As far as I can tell from grepping the codebase the only place ```calc_hash``` is used is for providing an additional read-only check on the repr for the application. I'm keen to remove the check but if we remove ```calc_hash``` from the Schema we may trigger an un-prepare or worse for previously prepared jobs

[2016-01-28 11:14] alexanderrichards commented on #154
Do jobs un-prepare themselves? I though the only time this was not a human initiated action was if the `unprepare_on_copy` (or whatever it's called) flag is set true and the user then copies a job.

[2016-01-28 11:16] egede commented on #154
My understanding is also that applications inside jobs are only marked unprepared by a call to unprepare() or if the user sets the options that makes Ganga do this when copied. But I do not think that there is any way that Ganga will force an unprepare.

[2016-01-28 11:19] alexanderrichards commented on #154
yes that was my understanding as well so I don't think that there should be a danger of triggering a mass un-preparing of user jobs.

[2016-01-28 11:20] rob-c commented on #154
OK, the app isn't prepared if the hash changes. (or is removed?) when they go to an older version and we've changed it on disk.
At the very least there are a LOT of warnings which shouldn't be exposed to the user imo.
(several lines per write operation in the XML!)

I don't think we trigger a mas unprepare any more as there is no cleanup called on the application prepared repo.

[2016-01-28 11:52] milliams commented on #50
I don't think we'll get this done for 6.1.15 so I'm removing the milestone. It shouldn't be a hard fix though so we should definitely try to get it in the next release.

[2016-01-28 14:28] #152 closed

[2016-01-28 18:41] egede opened #160 "Forbidden status transition for Local job"
For a Local backend job I observed the error

[code]
Trying to submit the job again it worked. I suspect some kind of race condition where the "submitting" state is missed.

Ulrik.

[2016-01-28 18:43] rob-c commented on #160
Hi Ulrik is this on the latest develop or 6.1.14? I think I saw this on 6.1.14 in the past.

[2016-01-29 09:37] milliams opened #162 "New test system"
This is an issue to track the remaining issues with converting everything over to the new test system. I will keep it updated as we go. For now it will focus on the equivalent of the `gangage` tests.

There are a number of categories of tests:
- [ ] Convert `GPI/Bugs` tests
  - [x] Convert Local/Executable-based
  - [x] Convert Grid-based
  - [ ] Convert Batch-based
- [ ] Convert `GPI` tests
- [ ]

[2016-01-29 11:43] rob-c commented on #162
Multi-pass tests should be considered on a test by test basis imo such as with #161 You just need to make sure your test's are all names appropriately and they will run consecutively on the same repo shutting down and restarting ganga (or do extremely close to this).
````.gpip``` tests or multi-threaded tests are I think impossible to test easily with the unittest system unless we build something

[2016-01-29 11:58] milliams commented on #162
So is the purpose of GPIM to just test closing Ganga and opening it again and to check that things are persisted correctly? I thought it was something more. If not then I agree that your approach in #161 makes sense. We just have to make sure that `[TestingFramework] AutoCleanup=False` really does work as we expect.

[2016-01-29 12:10] rob-c commented on #162
Yes AutoCleanup is working. At least when I tested it, by default each test should get a fresh repo when they startup but if they change this to False the repo remains in the same state from one test to the next.
(And currently isn't cleaned up on exit, hence my wanting to use tearDownClass)

I would be weary that a few of the GPIM tests pass some 'knowledge' from one step of the test to the next.

[2016-01-29 12:15] milliams commented on #162
Yes, I think that the GPIM tests will need to be redone in some sense. There's only 19 of them so it shouldn't be as large a job. If possible, as you say, we should pass information via the repository but if we really can't then just setting a python variable which persists should work fine (we already do this to avoid repetition of file names in a few places).

[2016-01-29 13:22] rob-c commented on #162
Where is this done? I'm slightly curious

[2016-01-29 13:29] milliams commented on #162
For example in [TestCustomMerger](https://github.com/ganga-devs/ganga/blob/develop/python/Ganga/test/GPI/Mergers/TestCustomMerger.py#L14) where `self.file_name` is used in multiple functions. Now, it's possible that this should be done in a subtly different way but I can't think of one that's much better.

[2016-01-29 13:57] rob-c commented on #162
Ah, I thought you meant in the already ported tests

[2016-01-29 14:15] rob-c commented on #160
@egede I'm unable to reproduce this on trunk despite submitting hundreds of jobs on multiple queues I think this is fixed in the latest develop.

[2016-01-29 14:26] rob-c opened #164 "Corrupt jobs get totalled after ganga exit."
Ganga doesn't appear to correctly avoid re-writing 'corrupt' or 'inaccessible' job XML to disk at shutdown.

This is causing bad behaviour of corrupt jobs which will lose data. (i.e. the half-loaded job object appears to be wiping the data which is corrupt from disk rather than leaving the job as untouched).

I'm investigating if this is a trivial fix or not now.

[2016-02-01 07:56] rob-c opened #166 "pip install broken"
Hi all,

Apologies if this is a known bug but I keep getting:
[code]

from pip install ganga on multiple platforms. I don't know if this is known bug/limitation or not but these systems are not fedore/RHEL based/compatible so I don't know if this effects anything.

This is a minor detail as I can just clone and run Ganga for testing.

Thanks,

Rob

[2016-02-01 08:47] milliams commented on #166
This is because we haven't released Ganga on PyPI yet. Once 6.1.15 is released it will be uploaded.

[2016-02-01 08:47] #166 closed

[2016-02-01 08:57] rob-c commented on #166
OK, apologies I thought this was working. Sorry for the noise

[2016-02-01 09:10] milliams commented on #166
No worries, I'll post a thing to the list once its there so we can give it some testing.

[2016-02-01 09:58] alexanderrichards commented on #162
I haven't really looked into this in a while but if there is scope for dumping the multipass tests and replacing them with something more python standard then it gets my vote ;-)

[2016-02-01 10:05] egede commented on #162
We have in the past (and also very recently) had problems with that the persisting mechanism works correctly. So we preferably need some other kind of test where we can be sure that we re-read an object from the persisted version. If that is in place, it is for sure a less fragile way of testing compared to the 2-step tests that we have now.

[2016-02-01 10:12] rob-c commented on #162
Would it be worth having a ```GangaTestDataObject``` (or equivalent) which will store any ```serializable``` object in the Box repo. I can't think we'd want to store anything more than simple data here but it does store the data in a way which we can do some basic integrity tests on if we suspected problems. (The repo can be set to persist data between tests as per the lazyLoading test)

[2016-02-02 12:23] cmarinbe opened #170 "Parsing arguments with spaces"
Ganga does not handle properly arguments with blank spaces in between, as in the case of optional arguments. For instance, in a Gaudi Python application:

[code]

is interpreted as:

[code]

leading to a blank extra space at the beginning of string optional arguments.

While `application.args = ["arg", "-d", "-t", "optarg"]` seems to do the job, it would be helpful to handle the previous usage pro

[2016-02-02 12:33] rob-c commented on #170
I think what we should be doing is checking for this and throwing an exception here which isn't being done.
This can potentially interfere with users wishing to send strings with a space in, but I think this is a minor use-case.

I'll see to adding something about this as I work on the new LHCb app.

[2016-02-02 13:05] rmatev commented on #170
I think the most correct behaviour is to accept arguments with spaces, but not split them afterwards.
A warning in case of spaces will be useful to prevent unintentional use.

[2016-02-02 13:17] olupton commented on #170
To echo Rosen, I would not write off the use-case of arguments with spaces in; this is not uncommon.

Perhaps:
.args = "a b c" -> use .split() and get ["a", "b", "c"]
.args = ["a","b",c"] -> don't do anything
.args = ["a b", "c"] -> print a warning but don't mangle anything

Keeps everyone happy.

[2016-02-02 13:17] rob-c commented on #170
Without me digging through the linked discussion what is the expected behaviour and what should we issue a warning for?

[2016-02-02 13:18] rob-c commented on #170
@olupton Just beet me to posting, thanks for providing a summary

[2016-02-02 15:09] milliams commented on #170
I think we should try to follow the standard Python way whereby arguments with spaces are allowed. We shouldn't be doing things like `' '.join(args)` but should instead pas them to `Popen` almost raw. This means if you want to call a script like:
[code]
then
[code]
should work correctly as Python should do the correct shell escaping for the second arg.

Remember that quotes in bash etc. are not 's

[2016-02-02 15:15] rob-c commented on #170
yes but we should still probably warn users against a daft mistake to avoid the time it takes for them to debug this going wrong.

[2016-02-02 15:51] egede commented on #170
Before we change anything we should also check how Dirac deals with this. I seem to remember that is does something pretty daft (we had lots of trouble in the past with file names containing commas).

[2016-02-02 15:53] rob-c commented on #170
I think a harmless warning to the user when setting the parameter should be all that is required here. If they know better they can ignore it, if there is a problem elsewhere in the code then we should deal with that as a separate issue imo

[2016-02-02 19:37] olupton commented on #123
I'm not sure if this should be a different issue, but I just tried to open my 6.1.13 repository (which contains several LHCbTasks) with 6.1.14 and got several errors:

Ganga.Utility.Config               : ERROR    sanity check failed: defaults_BoxMetadataObject: no makeConfig() found in the code
Traceback (most recent call last):
  File "/cvmfs/lhcb.cern.ch/lib/lhcb/GANGA/GANGA_v601r14/install/gan

[2016-02-03 16:48] olupton opened #173 "LHCbTasks bug in 6.1.X with delete_chain_input = True"
Hi,

There is a minor bug with LHCbTasks in 6.1.13 when using transforms that delete their input data:

[code]

The offending line is still present in git:
https://github.com/ganga-devs/ganga/blob/develop/python/GangaLHCb/Lib/Tasks/LHCbUnit.py#L105

This seems to be a hangover from the change to DiracFile from LogicalFile in 6.1.X?
I'm not sure what it should be changed to; for DiracFile then f.lf

[2016-02-03 19:35] rob-c commented on #173
@olupton Thanks for reporting this, I think we're in desperate need of a simple test job of the LHCbTasks system to see if it works in 6.1.x as expected. I suspect this is not the only bug left from the transition in this case.
I think a simple isType test here to report a .lfn or .namePattern should suffice as it's just a warning (or even just a .namePattern as it's a warning)

[2016-02-03 19:58] olupton commented on #173
@rob-c what sort of thing do you have in mind for a test? I could probably knock up something (perhaps a task that generates an event or two with Gauss and then runs Boole/Moore on it) that exercises as many LHCbTasks features as possible, but being realistic about waiting times on the grid etc. this sort of thing would take ~hours from start to finish; I'm not sure if that's a problem...

[2016-02-03 20:11] rob-c commented on #173
That would be ideal.
If it's something which used to work on 6.0.44 and highlights any issues on 6.1.xx that still haven't been caught then that's exactly what's needed.
If possible could you do this to use the Localhost backend as this would be ideal for us to try and run on an LHCb test machine somewhere to try and make sure everything is working for 6.1.16.

[2016-02-03 20:30] olupton commented on #173
@rob-c I'll have a look into it, I've never used Tasks+Localhost so I don't know how well that works. I suspect that if we test Localhost and ~all users use the Dirac backend then issues will slip through, but I suppose it's still better than nothing.

[2016-02-03 20:35] rob-c commented on #173
It should be as trivial as changing the backend to Dirac for testing maybe once a day/week but I think the tasks system should be tested a bit more frequently and shorter jobs would allow us to do this.
(I imagine any dirac problems are isolated to the RTHandlers and such)

I may capture the input/output from several steps to fake up the various stages in a more modular test in the future but for

[2016-02-03 21:24] olupton commented on #173
I imagine there might be problems with things like delete_chain_input running without DiracFile. We'll see, I guess.

As reported elsewhere, 6.1.14 is essentially crippled for Tasks so I tried my test with 6.1.13. Unfortunately this also failed with:

Ganga.GPIDev.Lib.Tasks             : ERROR    Exception occurred in task monitoring loop: <type 'exceptions.ImportError'> No module named GPI
The of

[2016-02-03 21:42] rob-c commented on #173
@olupton
This should explain how to get the latest git code in a working LHCb environment that supports ```SetupProject``` https://github.com/ganga-devs/ganga/wiki/Installation-and-Basic-Usage#for-lhcb
(I don't plan to support the lb-dev commands for 'non official' release versions)

After installing this feel free to replace the ```$HOME/cmtuser/GANGA/GANGA_v601r14/install/ganga/python``` folder

[2016-02-03 21:44] rob-c commented on #173
As for getting pas your problem I imagine that for some reason the ```GaussSplitter``` isn't being exposed to the ```GPI``` in your version (slightly concerning if this is a bug).
The ```GaussSplitter``` appears to be working as expected on develop and the release/6.1.15 branch where the next release is currently in testing.

[2016-02-03 21:56] rob-c commented on #173
If this ends up requiring the Dirac backend in order to come up with a quick test then it's no big loss, I think we just want to make it work for now :)

[2016-02-03 22:05] olupton commented on #173
I checked out the 6.1.15 release, which runs. But it fails even earlier...I cannot even create a transform and assign an application to it:

[22:03:56]
Ganga In [19]: tr = LHCbTransform()

[22:03:59]
Ganga In [20]: tr.application = Gauss()
Ganga.Runtime.bootstrap            : ERROR    Error: 'NoneType' object has no attribute 'is_prepared'
Ganga.Runtime.bootstrap            : ERROR    Unknown/Unex

[2016-02-03 23:23] rob-c commented on #173
Try grabbing this branch. I'll throw in any more 'quick fixes' for LHCb related problems in the future https://github.com/ganga-devs/ganga/tree/bugfix/LHCbfixes

[2016-02-03 23:25] rob-c commented on #123
@olupton Could you perform a report(jobs(41)) and share the output please, I'm curious what could be causing this problem in loading a task from disk.

[2016-02-04 00:06] olupton commented on #173
Thanks @rob-c, with that branch I get further with my Tasks test. I have a couple of one-line tweaks (like GPI -> Ganga.GPI to fix that other glitch) GangaLHCb/Tasks/*.py, but have now run into the following error that looks less Tasks-specific

[code]

[2016-02-04 04:00] olupton commented on #173
There also seems to be some kind of locking problem. If I start with a clean repository and create an empty LHCbTask() it cannot be deleted. The first attempt to delete it appears to succeed but actually does nothing, and the second attempt hangs until interrupted:

[code]

[2016-02-04 09:06] rob-c commented on #173
Hmm, I'll look into the GangaList exception as that should be quite quick to fix.
If you're seeing a problem with the repo locking on tasks remove I'd suggest trying with the debug option ```--debug``` passed to ganga (and maybe ```--no-mon``` to reduce the verbosity) to see if this turns up anything useful.
I suspect this could be something like a race condition unique to the tasks repo :/

[2016-02-04 09:48] rob-c commented on #173
Hmm, I don't seem to be able to remove a vanilla ```Task``` either. I think this may warrant a separate issue as this looks quite bad.
I've updated the bugfix/LHCbfixes branch with some fixes if you want to give that a spin again.

[2016-02-04 09:53] rob-c opened #174 "Tasks remove is not working 6.1.15"
Hi all,

Certainly don't want to hold up the release from going out so this can be fixed in 6.1.16

Performing the following gets Ganga into a strange state. I suspect that the remove function is failing quietly rather than throwing an exception from somewhere.

[code]
This doesn't remove the task from the tasks repo. (This is the same for ```Task()``` or ```LHCbTask()```)
Performing the remove ag

[2016-02-04 12:31] rob-c commented on #68
I'm still having problems with large XML files taking some ~20sec to load so I suspect that this is as good as we're going to get. Still better than the 3min when this all started but still significant enough to make life difficult when working with very large datasets

[2016-02-04 12:38] rob-c commented on #174
Turns out this was relatively trivial 2 small bugs, one in the repo which caused it to enter a permanently locked state when dealing with a badly configured repo during multiple remove attempts and the second was that the tasks repo wasn't passing 'auto_removed' to the repository remove command.
These should both be fixed in the ```bugfix/LHCbfixes``` branch

[2016-02-04 12:38] #174 closed

[2016-02-04 12:40] rob-c commented on #173
@olupton I've updated the branch again with fixes for most of the problems reported here

[2016-02-04 13:52] olupton commented on #173
@rob-c OK, I pulled that and so far there haven't been any fatal errors. However, I think there is still some registry problem. With a fresh repository then:
- I create my test LHCbTask and .run() it
- The background thread creates a job
- I try and list the jobs with the `jobs` command, but it hangs.

This is a tiny repository: one Task and one job with two subjobs (if it has got as far as genera

[2016-02-04 14:09] olupton commented on #173
It also seems to get stuck when exiting (after I Ctrl-C out of the hang in my previous comment):

[code]

[2016-02-04 14:14] rob-c commented on #173
@olupton Would you be able to send me the script which leads to this? I'm curious as to how it's getting into this state.
Thanks

[2016-02-04 14:26] olupton commented on #173
@rob-c sure, it's in the attachment. Sorry for the large number of separate options files. Just unzip, cd to the directory in ganga and execfile('MakeGaussTask.py') to make the Task.

[tasktest.zip](https://github.com/ganga-devs/ganga/files/117535/tasktest.zip)

[2016-02-04 14:47] rob-c commented on #173
Thanks, testing now

[2016-02-04 15:55] olupton commented on #173
FYI my handful of tweaks are currently here: https://github.com/ganga-devs/ganga/compare/bugfix/LHCbfixes...olupton:bugfix/LHCbfixes -- I can make a pull request when you're ready/we're happy...

[2016-02-04 16:07] rob-c commented on #173
@olupton If you can, feel free to make a PR against my bugfix/LHCbfixes branch and I'll include it in a PR for that when it's ready, thanks :)

[2016-02-04 16:16] olupton commented on #173
@rob-c OK done, see https://github.com/ganga-devs/ganga/pull/176

[2016-02-04 16:43] rob-c commented on #173
@olupton OK, my branch appears to be working now with the example you provided (at least it doesn't cause a stall when I run ganga ~/some/path/MakeGaussTask.py)

[2016-02-04 18:03] olupton commented on #173
@rob-c it's better, but it's still not quite right. If you actually run the task (which my test script doesn't do automatically -- you need to do tasks(xx).run() yourself) then nothing happens, whereas it should create a new Job shortly after the call to .run().
In this state if you try and quit ganga then it waits forever for the GangaTasks thread to exit; maybe it's still getting stuck with some

[2016-02-04 18:13] rob-c commented on #173
When I ran it there are some problems with your script, I got the warning that several non-schema options are being ignored, is this expected?
Clearly some debugging is needed on the jobs not launching, this shouldn't be silently failing if it is :/

[2016-02-04 18:14] olupton commented on #173
@rob-c something is messed up with the TaskChainInput inputdata for the 2nd transform in the test job too; not sure if this is all the same issue. Immediately after running my script I can get the following error:

[code]

and if I close + reopen ganga then the inputdata is empty. If I print the transform instead of the inputdata specifically then it doesn't give an error:

[code]

[2016-02-04 18:15] olupton commented on #173
Our messages crossed. What scheme errors do you see? My script runs for me with no errors.

[2016-02-04 18:26] rob-c commented on #173
[code]

I'll take a look at those bugs either later this-evening or tomorrow. My suspicion is that something isn't entirely compatible with the Ganga Proxy layer.

[2016-02-04 18:40] rob-c commented on #173
Try updating your branch to match as I see:
[code]
This is likely being caused by trying to store a proxied somewhere it shouldn't be.

[2016-02-04 18:52] olupton commented on #173
I updated and now see the same errors as in your penultimate message, but I don't think I know how to solve them! ;-)

[2016-02-05 11:10] rob-c opened #177 "Issue with derived class proxies in develop post #163"
Hi all,

I've spotted a minor bug in #163 which effects proxies which are very derrived.

This has the effect of giving a doubly derived object the proxy from it's immediate baseclass.

I've got a fix for this incoming (eta 30min or so), but thought I'd let people know this is a known issue.

Thanks,

Rb