[2016-11-14 12:35] chrisburr commented on #862
@rob-c I normally let ganga close gracefully, just in this instance it was unintentionally killed.

`jobs(58).subjobs(914).backend` returns a default instance of Dirac as I'd expect given this job was never submitted and doesn't appear in on the dirac web interface. I know that I can fix this particular job by calling `jobs(58).subjobs(914).submit()`.

The behaviour which I would think of as a bug

[2016-11-14 13:12] alexanderrichards commented on #833
@drmarkwslater is our resident ATLAS person so I'll ping him

[2016-11-14 13:15] drmarkwslater commented on #833
HI Maurice,

Apologies for not being in touch - I've been swamped with teaching and illness in the last month :disappointed: I'll make every effort to get back on the Ganga horse in the next few days!

[2016-11-15 12:35] #860 closed

[2016-11-15 15:13] mesmith75 commented on #840
Sorry, I've just read what you wrote again. Ok, I'll see if the LCHbApp option does the job for GaudiExec and check it doesn't mess up the SIMCOND tags etc.

[2016-11-15 16:12] alexanderrichards opened #863 "importing little ganga doesn't import plugins"
[code]

Note I have the plugin defined in my config

[code]

and it works interactively
[code]

[2016-11-15 16:18] rob-c commented on #863
@alexanderrichards Does this work if you define the config in your .gangarc?

This worked once upon a time for me as I did once submit a grid job this way.
I suspect the config for the `ganga` system doesn't read the env vars atm.

[2016-11-15 16:19] alexanderrichards commented on #863
the config **was** defined in my `.gangarc`

[2016-11-15 16:25] rob-c commented on #863
Ah, apologies this never made it into `develop` but is in a PR  have lying around. I'll see if I can clean something up for this quickly.

[2016-11-15 16:51] alexanderrichards commented on #863
thanks @rob-c can you link it to this issue so I can keep track of it

[2016-11-15 16:52] rob-c commented on #863
will do once I get anything in

[2016-11-16 09:56] mesmith75 commented on #747
Is this still being worked on?

[2016-11-16 11:21] alexanderrichards commented on #863
@rob-c Don't want to rush you but if this is a simple fix it would be great if we could get it in the next release as I need it for some LZ work

[2016-11-16 11:48] gcongedo opened #865 "hello world with ganga"
Hi all, I'm a new user on gridPP, and a fresher on ganga, but eager to crack on. I've tried a simple 'hello world' exercise with ganga following: https://www.gridpp.ac.uk/userguide/ganga-first-steps/ganga-first-steps.html but it throws errors. It'd be great if you could take a look into this - thanks so much for your help!

/cc @twhyntie  @alahiff

$ source /cvmfs/ganga.cern.ch/runGanga.sh

WARNIN

[2016-11-16 11:51] twhyntie commented on #865
Thanks @gcongedo! Welcome to Ganga! 😄

[2016-11-16 11:58] rob-c commented on #865
@gcongedo What filesystem are you using? I'm assuming some sort of nfs? in which case unless your running multiple ganga sessions (not strictly supported on a shared-fs) then this looks like a site config issue.

[2016-11-16 12:00] rob-c commented on #863
Hmm on closer inspection last night the `loadPlugins` call is in the `__init__.py` this could be due to the `ganga` not correctly parsing the config system before attempting to load things as it looks like the code I was thinking of has gone in but something has clearly changed breaking this in the meantime. I'll do some digging.

[2016-11-16 12:02] gcongedo commented on #865
Hi @rob-c , thanks. It's NFS indeed.

[2016-11-16 12:52] rob-c commented on #863
@alexanderrichards check out #866 this fixes it for me.

[2016-11-16 13:04] twhyntie commented on #865
Thanks @rob-c - in which case, any clues as how to fix this from the site side please? Is it something @alahiff might be able to help with if so?

[2016-11-16 13:31] egede commented on #865
@gcongedo Take a look at #465 . The error means that the file system doesn't support file locking. Can you check with your local sys admin if you have `local_lock=all` as an option to the NFS mount. We need to be able to obtain what is called an `flock` on a file. Basically the code below should be able to work.

[code]

To continue with your testing, you can maybe also move your `gangadir` to an

[2016-11-16 13:42] twhyntie commented on #865
Thanks @egede! @gcongedo you'll need to replace `twhyntie` with `gcongedo` in that code, obviously 😄

[2016-11-16 14:19] #840 closed

[2016-11-16 16:23] gcongedo commented on #865
Hi @egede , thanks. The code breaks up at:

IOError: [Errno 37] No locks available

[2016-11-16 17:01] egede commented on #865
@gcongedo That was what I would expect.

@twhyntie Did you ever resolve this problem when you saw it? From looking at your file system path, it seems like you are located in the same place.

[2016-11-16 17:22] twhyntie commented on #865
@egede I don't have this problem (and have never seen it) as I don't use a system that uses NFS.

@gcongedo It looks like the problem is with your cluster's NFS settings, not `ganga` per se. As @egede says, if you do not have somewhere else you can write files to (and set your `gangadir` accordingly) the configuration of the NFS system needs changing in order to proceed. Do you know who your site

[2016-11-16 18:07] egede commented on #865
@twhyntie I think the problem you reported in #463 was the same.

[2016-11-16 18:24] twhyntie commented on #865
@egede Indeed it was! Apologies, wow, was that only May? And of course I even have an account on the same cluster... I resolved it with your suggestion of setting `$HOME` to somewhere non-NFS.

@gcongedo In which case can you please try:

[code]

Thanks and sorry again for the confusion!

[2016-11-17 10:29] egede commented on #865
@twhyntie Which cluster is it that you have accounts on? Do you know the sysadmin? I would like to have a brief discussion with the sysadmin about the NFS options that are obviously causing trouble.

@gcongedo Rather than fiddling with the `$HOME` environment variable, I think it would be better to simply tell Ganga to store its information in a different location. You can either edit the `gangadi

[2016-11-17 10:42] twhyntie commented on #865
@egede I believe this is RAL Tier-1 cluster. @alahiff kindly provided me with the account back in May - one of many I've been using to test Ganga/DIRAC/etc. - I don't know if @alahiff is the sysadmin, or who is - but there is a lcg-admin email list that I will reply to too with the relevant config query.

I will also add some "gotcha" information to the UserGuide - this is a trivial problem that a

[2016-11-17 11:13] gcongedo commented on #865
Thanks so much for your help, folks.

@twhyntie I've tried the temporary $HOME solution and it works!

@egede I see no .gangarc file, nor I can run 'ganga -o ...' (command not found)

[2016-11-17 11:16] alexanderrichards commented on #865
you should have been asked if you wanted to create one on first usage. If not you can create a `~/.gangarc` file by running:
[code]

[2016-11-17 11:20] egede commented on #865
@gcongedo It works for you so nevermind. The `.gangarc` will probably sit on the scratch file system now (as you have changed `$HOME`). The `ganga` just sits inside the `runGanga.sh` script. You should be able to just add it as an argument there

[code]

In fact I just tried this on a different system and it works for me.

[2016-11-17 11:22] twhyntie commented on #865
@gcongedo Awesome! Thanks for letting us know. You should be able to work through the rest of the UserGuide - including the [CERN@school example](https://www.gridpp.ac.uk/userguide/example-workflow-local/example-workflow-local.html) (which from what you've described elsewhere, is very close to your workflow...).

And looking ahead, before you even [need DIRAC](https://www.gridpp.ac.uk/userguide/ex

[2016-11-17 11:34] gcongedo commented on #865
OK, great! Thanks so much to you all for the useful information. I'll follow the user guide and let you know. Fingers crossed! :-)

[2016-11-17 11:38] #865 closed

[2016-11-17 15:18] mesmith75 opened #867 "Install question"
A quick question from the LHCb release:

is this type of error foreseen in x86_64_slc6_gcc48_opt?

ERROR : Errors installing the following packages:
ERROR : xrootd-c969e_3.3.6_x86_64_slc6_gcc48_opt
ERROR : Some packages are missing -stopping installation
ERROR : Use --force option to continue nonetheless

I would assume this really doesn't matter as Ganga is only python?

[2016-11-17 16:17] #867 closed

[2016-11-18 11:39] #863 closed

[2016-11-21 15:21] mesmith75 commented on #738
Implemented in #801

[2016-11-21 15:21] #738 closed

[2016-11-21 16:08] rmatev commented on #738
Quite a few people are using the already existing `accessURL`, so it would be nice to advertise the new feature widely so they can switch.

[2016-11-21 22:00] mesmith75 commented on #738
Yes we will do. This is for the next release which is a major features upgrade so I'll advertise then. It should be out in a week or two. Sorry for the delay.

[2016-11-24 09:18] egede commented on #862
@chrisburr In principle the job should be in the status `submitting` but this is a transient status while the submission process is ongoing. In the case we have here, the submission process was terminated. I would be tempted to say that the job should go into the `failed` state.

[2016-11-24 09:22] egede opened #870 "GangaDataset doesn't work for batch jobs"
A local job with the line
[code]
results in that the `__jobscript__` gets the line
[code]
injected. If the backend is changed to a batch backend, this no longer happens.

[2016-11-24 09:29] egede commented on #870
The relevant code for writing the file is https://github.com/ganga-devs/ganga/blob/b9ef1b26def5daf93b09c7d831eff9cdaf7035da/python/Ganga/GPIDev/Lib/File/OutputFileManager.py#L341

[2016-11-24 09:35] egede commented on #870
In fact this has never been implemented in the batch backends ...

[2016-11-24 09:36] egede commented on #870
@JacekHoleczek Please follow up here.

[2016-11-24 11:25] mesmith75 commented on #862
Can we introduce a check for successful submission of all the subjobs?

[2016-11-24 11:46] #870 closed

[2016-11-24 12:08] egede commented on #862
@mesmith75 I think a simple update of the code around https://github.com/ganga-devs/ganga/blob/develop/python/Ganga/GPIDev/Lib/Job/Job.py#L746. If you just add `new` to the start ofthe list, the master job will revert to `new`. If calling `submit` on that job works this is actually fine.

[2016-11-24 14:33] mesmith75 commented on #862
ah yes.

[2016-11-24 19:52] rob-c commented on #862
@chrisburr Were these jobs submitted sequentially or in parallel? If parallel then OK, if not I can't understand how the subjobs have managed to get into the state they're in.
@egede I'm not sure it's wise to add the 'new' status here. Changing the master job status back to a status earlier in the submission step is something which has to be done correctly ala the logic in `DiracBase`. We chose th

[2016-11-24 21:00] egede commented on #862
@rob-c Yes, you are right that care has to be taken here. If the job submission is put on a queue, it could also open up for a job being submitted twice creating a race condition. It still seems fair enough to me that a job should not be able to go into `completed` unless all subjobs are `completed`. The current logic in the code implicitly ignores the situation that we have here.

[2016-11-24 21:08] rob-c commented on #862
@egede Yes I think you're correct. We need a check to make sure that nothing is not in a completed state before progressing the master job to avoid problems as highlighted here.
I think moving the master job into `submitting` until all jobs are submitted would be appropriate and simply not allowing it to progress until all subjobs have been submitted seems correct.
Does the monitoring pick up jobs

[2016-11-24 21:17] egede commented on #862
@rob-c OK. I think I can see a solution now. The logic is that we want the master to show the "least progressed" state of the subjobs. However
 - That is not what we do now (as we ignore `new`)
 - Is not really what we want

The minimal change would be to leave the code as is and then just at the end add a check that if any (but not all) subjobs are in the `new` state, the master should be left in

[2016-11-25 11:29] chrisburr commented on #862
@rob-c They were submitted sequentially. If the confusion is about `58.915` having been submitted, its because I manually submitted several jobs after ganga was killed (but missed `58.914`).

[2016-11-25 14:21] mesmith75 opened #873 "LHCb Starterkit lesson"
I'm putting together a lesson on Ganga for LHCb starterkit. It will just have some examples, a quick description of how it works (gangadir, GaudiExec building,where files go etc) and a quick overview of useful functions (LHCbDataset, BKQuery, accessURL etc).

If there is anything you strongly feel should be in then let me know. I'll post a link to the example when I get it done.

[2016-11-25 14:24] mesmith75 commented on #854
Closed by #852

[2016-11-25 14:24] #854 closed

[2016-11-25 14:25] mesmith75 commented on #828
Closed by #852 for the GaudiExec upload. The function is now in the DiracAPI if we decide we want to check SEs elsewhere as well.

[2016-11-25 14:25] #828 closed

[2016-11-25 14:26] mesmith75 commented on #819
I think this has been sorted by #825. Can we close this?

[2016-11-25 14:27] mesmith75 commented on #813
Sorted by #852

[2016-11-25 14:27] #813 closed

[2016-11-25 14:27] mesmith75 commented on #767
Can we close this?

[2016-11-25 15:26] mesmith75 commented on #873
Here is the first page. Just submitting a basic GaudiExec job.
https://masmith.web.cern.ch/masmith/23-ganga.html

[2016-11-25 15:57] mesmith75 commented on #873
And some more about outputfiles.
https://masmith.web.cern.ch/masmith/24-ganga.html

[2016-11-25 16:05] mesmith75 opened #874 "LocalFile inputdata"
It looks as if LocalFiles cannot be used for inputdata for local testing. The directory path gets stripped off so only the namePattern is used. Is this a deliberate choice or something we should fix?

[2016-11-26 10:58] JacekHoleczek commented on #870
Many thanks.
I "backported" #871 to my Ganga 6.2.3 and it seems to work fine (see below for more details).

But first, could you, please, fix a small bug in the "python/Ganga/Lib/Batch/BatchScriptTemplate.py.template" file.
Change the line:
print("--- GANGA APPLICATION ERROR BEGIN ---", file=sys.stdout)
into:
print("--- GANGA APPLICATION ERROR BEGIN ---", file=sys.stderr)

BTW. For each job, in th

[2016-11-26 13:53] egede commented on #870
Can I get you to file the different issues below as individual new issues?

On 26 November 2016 10:58:55 a.m. JacekHoleczek <notifications@github.com>
wrote:

[2016-11-26 19:29] JacekHoleczek opened #875 "a small fix to BatchScriptTemplate.py.template"
Please, fix a small bug in the "python/Ganga/Lib/Batch/BatchScriptTemplate.py.template" file.
Change the line:
print("--- GANGA APPLICATION ERROR BEGIN ---", file=sys.stdout)
into:
print("--- GANGA APPLICATION ERROR BEGIN ---", file=sys.stderr)

Original : #870

[2016-11-26 19:31] JacekHoleczek opened #876 "popen2 module is deprecated"
For each PBS job, I get a warning (could one get rid of it?):
######################################################################
/var/spool/torque/...: DeprecationWarning: The popen2 module is deprecated. Use the subprocess module.
import popen2
######################################################################

Original : #870

[2016-11-26 19:32] JacekHoleczek opened #877 "Add "fqid" to the PBS (sub)jobs' names"
I ran my simple "job" and the splitter seems to work fine. There is a (small?) inconvenience, though. In the output of "jobs" and then also "jobs[0]", none of the (sub)jobs has a name. Then in the output of "qstat", all jobs have the same name "\_\_jobscript\_\_". Could you, please, create meaningful names for all subjobs, for example adding the internal "fqid" to the PBS (sub)jobs' names.

Origin

[2016-11-26 19:34] JacekHoleczek opened #878 "Add transform's unit's subjob id to PBS jobs' names"
I ran my simple "task" and the splitter seems to work fine. There is a (small?) inconvenience, though. In the output of "qstat", jobs are named as "T0:0_U0", "T0:0_U1", and so on. Unfortunately, when a transform's unit is additionally split into subjobs, all its subjobs have the same name in the output of "qstat". Could you, please, create meaningful names for all PBS subjobs. For example somethin

[2016-11-27 23:00] mesmith75 commented on #873
Job creation etc is in the main lessons. Here are some instructions for the LHCbDataset and accessing files on the grid directly:
https://masmith.web.cern.ch/masmith/23-ganga.html

[2016-11-28 11:38] #767 closed

[2016-11-28 11:43] egede commented on #874
@mesmith75 This is for an LHCb dataset? When I tried with a `GangaDataset` and with `LocalFile` objects that had a full path in them, it seemed to be forwarded to the job script in the correct way.

[2016-11-28 12:05] mesmith75 commented on #873
Also see PR: https://github.com/lhcb/first-analysis-steps/pull/206

[2016-11-28 12:06] mesmith75 commented on #874
@egede  Sorry, it does work fine, I just wasn't using LHCbDataset.

[2016-11-28 12:12] rob-c commented on #874
If there is a use case that doesn't work should we add a check to disallow users from doing something bad?

[2016-11-28 12:13] egede commented on #878
@drmarkwslater Can you look at this one,

[2016-11-28 12:55] bencouturier opened #880 "Problem when using the DaVinci application in Ganga with LbScripts v9r0p1"
Hi,

There was long thread in the distributed analysis mailing list because we cannot use Ganga with LbScripts v9r0p1.

The error was:
RROR    Command ". SetupProject.sh   DaVinci v39r0" failed to properly setup environment.
ERROR    Prepare Error:
ApplicationConfigurationError: Command ". SetupProject.sh   DaVinci v39r0" failed to properly setup environment.

in:
EnvironFunctions.py

This is beca

[2016-11-28 13:11] #875 closed

[2016-11-28 13:17] egede commented on #880
@bencouturier There are many users in LHCb that are having legacy analyses dealing with the old style of release areas. From the `Ganga` side we have said that  we will "minimally support" this for at least another year. IS there a way you can delay these changes to the `LbLogin` scripts.  Otherwise you force the Ganga team to back port changes to legacy code, or you ask people to migrate forward

[2016-11-28 13:23] bcouturi commented on #880
Well, I *could* add those variables but they do not make much sense at this point.

Would it be possible to just remove the check in the legacy code, as it doesn't fulfil its purpose anyway..

[2016-11-28 13:25] egede commented on #880
@bencouturier I will have to look carefully, but if the "faulty" check is the only problem, then yes, we can certainly remove it.

[2016-11-28 13:35] bcouturi commented on #880
Don't hesitate to contact me, I can show what it matched against in my case...
The test is in EnvironFunctions.py, starting at line 185
The code looks for "DaVinci" (with this case) in the environment variable names, whereas SetupProject and lb-run set variables with DAVINCI in capitals in their name...

[2016-11-28 14:09] mesmith75 commented on #874
So this definitely doesn't work for LHCbDataset.

I am wondering if returning the full path rather than just the name would break anything?

[2016-11-28 15:54] mesmith75 opened #882 "Nightly build issues"
How are we getting a certificate for the nightly tests? Credential problems seem to be the reason for their continued failure.

[2016-11-28 15:59] #819 closed

[2016-11-29 10:02] alexanderrichards opened #883 "LZ Dirac Job now working"
Am I doing something stupidly wrong with the new credentials system? I try the following from a fresh
[code]

[code]

[2016-11-29 10:48] rob-c commented on #883
@alexanderrichards This is nothing to do with the credentials system. This is caused by the environment for DIRAC not being setup correctly in the config.

This should cause an exception to be raised from GetDiracEnv and I think if I'm reading this it is.
There could probably be some better handling of the error here in the credential system (A Simple try/except/raise should suffice). However this

[2016-11-29 10:51] rob-c commented on #882
The VOMS proxy should __NOT__ be being tested in the LHCb env as there is no valid proxy for it to test in this env. The test should be wrapped as depending upon an external proxy. (Which should mean it shouldn't run unless it's a nightly as it depends upon an external VOMS server resource!)

[2016-11-29 11:04] alexanderrichards commented on #883
in what sense is Dirac not set up correctly? I have added it to the runtime paths and the GangaDirac package has been correctly loaded such that I can create the Dirac objects at the GPI. What do I need to do to get this working?

[2016-11-29 11:14] rob-c commented on #883
Ah... OK I thought the `None` object was coming from the Dirac env initialization.

After re-reading this more slowly I see the self._shell is not initialized here...
https://github.com/ganga-devs/ganga/blob/develop/python/GangaDirac/Lib/Credentials/DiracProxy.py#L67 Is failing and so should probably be replaced with a straight forward call to a method to replicate https://github.com/ganga-devs/ga

[2016-11-29 11:17] alexanderrichards commented on #883
So upon further inspection this is caused by the fact that the `getShell()` is not returning a shell

[GridShell#L92](https://github.com/ganga-devs/ganga/blob/develop/python/Ganga/Utility/GridShell.py#L92)

This is probably due to some missing magic config that is not obvious. Relating no doubt to the lines when I start ganga
[code]

There used to be a config `[LCG]->Enable GLITE` or something whi

[2016-11-29 11:18] alexanderrichards commented on #883
Isn't it doing this anyway because it's calling the shell from the base class through super. I think the problem might lay deeper as I have outlined

[2016-11-29 11:21] rob-c commented on #883
@alexanderrichards It should probably be doing this but I'm no expert in how the inheritance and decorators may be resolved and in what order.
I still think the use of the `GridShell` is a strong weakness of this whole business.
We should probably just drop directly to a `Shell` object managed by the `DiracProxy` which makes it a __lot__ clearer what the shell is and what env it is constructed wit

[2016-11-29 12:25] alexanderrichards commented on #883
Presumably this is working in the tests. How come this works for LHCb?

[2016-11-29 12:34] rob-c commented on #883
@alexanderrichards Probably due to the differences in configuration https://github.com/ganga-devs/ganga/blob/develop/python/Ganga/Utility/GridShell.py#L69 will be invoked if the configuration and files do/don't exist as appropriate.

I strongly think the cleaner thing is to do away with the complex amounts of ifs and elses in the `GridShell` and simply manage a `Shell` object yourself in the class

[2016-11-29 12:39] alexanderrichards commented on #883
Certainly when I did a quick hack fix a while ago before all this was formalised I did exactly that just set up a shell.

[2016-11-29 12:41] alexanderrichards commented on #883
Do you recall where in the config we point ganga to the Dirac setup script so that the Dirac commands have the right environment setup?

[2016-11-29 12:46] rob-c commented on #883
https://github.com/ganga-devs/ganga/blob/develop/python/GangaDirac/__init__.py#L31

Although reading:
https://github.com/ganga-devs/ganga/blob/develop/python/GangaDirac/__init__.py#L32

I suspect

[2016-11-29 13:44] mesmith75 commented on #882
This is not so much the test of the VOMS proxy - the test of the LHCbDirac functions are failing.

[2016-11-29 13:53] rob-c commented on #882
Actually specifically this test will always fail if there is a Dirac Proxy available as the `DiracProxy` code now auto-detects this so that users see it when running the first query against the credential store.
I'll fix the offending line to check that there is _no_ voms proxy and to _not_ create one, rather than checking there are no credentials at all...

[2016-11-30 10:28] MannyMoo opened #885 "Check that j.peek() on Dirac is doing what it should"
Often it just returns
"Watchdog is initializing and will attempt to obtain standard output from application thread"
while other times it does return some stdout.

Looking in GangaDirac/Lib/Server/DiracCommands.py, it seems just to use dirac.peek(id), which I suspect is the same as using dirac-wms-job-peek, so maybe it's more on the Dirac side, but should be checked that it's implemented correctly.

[2016-11-30 10:57] rob-c commented on #885
This is correctly implemented within Ganga and is an issue to do with either DIRAC caching stdout in it's support for various backends or it's the backend not updating the information due to a configuration issue at the site.
This is highly unlikely something which can be addressed within Ganga using the DIRAC API as this also happens on the interactive web interface for DIRAC jobs.

I would sugge

[2016-11-30 11:16] MannyMoo commented on #885
OK, thanks for the confirmation. I'll take it up on the Dirac side.

[2016-11-30 11:16] #885 closed

[2016-11-30 16:00] mesmith75 opened #886 "prepareGaudiExec needs warning for pre-existing folder"
Reminder to add a warning for prepareGaudiExec in case a checked out version is already there.

[2016-12-01 10:41] drmarkwslater commented on #882
Though I don't have an issue with PR #884 per se, I don't think it's going to fix the nightlies as they seem to be failing on `GangaLHCb` tests, specifically because there isn't a `DiracProxy` available:
[code]

I'm not sure if this should be created in the test or if there's something wrong with the creation. I'll have look...

[2016-12-01 13:56] mrwillia opened #887 "Overly verbose error message when LFN not available"
I had some ganga jobs fail this morning due to the unavailability of input files (they were on a site that is having planned down time today). The message I see includes a long stack trace that obfuscates the original reason for the failure. Perhaps this should not be shown. This issue was created on the suggestion of Robert Currie.

I am running on the dirac back-end, and tested both boole jobs a

[2016-12-01 15:19] mesmith75 commented on #887
We can check the read status of SEs now. Should we add that into the splitter?

[2016-12-01 18:06] drmarkwslater commented on #882
So I've fixed a lot of the problems. Basically, what was happening was that when you run `py.test` in a `virtualenv` it has the shebang set up to point to the python2.6 install from the virtualenv. This means you get python 2.6 irrespective of what's been set up by the previous script. With a bit of messing around I've now got this fixed and that leaves the only failing test to be the one that #88

[2016-12-01 19:52] rmatev opened #889 "Improve messages when quitting and the monitoring is busy"
When I quit ganga while it's still running the monitoring in the background I get messages like the ones below. I presume that sticking to the defaults ("no" for the first and "yes" for the second) is safe. However, it would be nice to tell more about what "force" and "purge" mean and what are the implications of not following the suggestion.

[code]

[2016-12-02 09:50] rob-c commented on #889
I think we can look into removing the first method (The monitoring can _always_ be asked to finish safely now due to the fact the queues ask if the user wants to purge them.
Given these will __always__ startup in the future of Ganga now is there any harm in just clearning the list of pending tasks on default now? This was useful to know in the past when Ganga was being much slower but heading towa

[2016-12-02 09:53] rob-c commented on #887
@mesmith75 Potentially yes, but this would likely be a very expensive op. It is essentially also done in the splitter, hence why it raises an exception. The problem is that the user gets far too much verbosity to the screen when the job fails to submit due to expected reasons. This needs looking into.

[2016-12-02 09:56] egede commented on #889
@rob-c To clear the list of pending tasks on quitting seems quite reasonable to me. So should the order be that you purge the queue, and then if things have not finished within a few seconds, you ask the standard question about forcing the exit. To completely take away the force exit message I think is a bad idea.

[2016-12-02 10:02] rob-c commented on #889
@egede Apologies, that message was formed as I was typing. I think it would be a good idea to allow the user to 'force' the exit. But I think we can safely move this into the queue stage of the shutdown code rather than elsewhere as this is the section of code which holds up the shutdown and makes everything a bit more difficult.
As all pending work is on a `GangaThread` we can just issue a messag

[2016-12-02 11:00] egede commented on #889
@rob-c I like the message that tells what Ganga is busy with. Can that be kept?

[2016-12-02 12:04] rob-c commented on #889
We could keep it but I wonder should we only prompt once? If users are in a rush to close ganga and go away and do something they don't likely want to be prompted that tasks are pending.
Should this be reduced to a summary then similar to:
[code]

I'm wondering if the option to clear the pending tasks and shutdown is a sensible option. I liked it, it allows for the cleanest shutdown of ganga witho

[2016-12-02 13:51] mesmith75 opened #890 "Remove LHCBDIRAC from project requirements"
Are there any objections to removing LHCBDIRAC from cmt/project.cmt ? I don't think we use it anymore?

[2016-12-02 15:43] egede commented on #880
@bencouturier Yes, the old code was indeed rather broken. We now check for that there one of the environment variables take the value `DAVINCI_v41r3` or similar.

[2016-12-02 15:54] mesmith75 opened #892 "Please delay merging PRs"
Just a note to ask that you delay merging PRs. The LHCb deployment is being delayed, potentially for a few days.

I think the delay is caused by not having successful nightly builds from which Ganga would usually be installed.

(This is another reason why I will persist the release branch in the future).

[2016-12-02 15:56] bcouturi commented on #880
@egede: That's great! many thanks to you and the Ganga team !
As soon as it's in prod, I can get the people to switch back to the de the DEV LbLogin !

[2016-12-02 16:42] egede commented on #880
@bencouturier  OK. We have missed the cutoff for the 6.3.0 release so this will go into 6.3.1, I imagine a week or two away. Is that an issue?

[2016-12-02 17:05] bcouturi commented on #880
@egede I don't think so. I'm not sure it's a good idea to deploy major changes in LbScripts before the winter break anyway, so LbScripts v9 may wait till January to go production... I'll check at the core soft meeting.

[2016-12-02 17:15] egede commented on #889
@egede I think the repeated asking is actually OK, but do something like asking once after a short time and then subsequently after quite a bit longer. Maybe 10 s first time and then once a minute?

[2016-12-05 10:18] egede commented on #882
@drmarkwslater It seems like the nightly is still failing ...

[2016-12-05 10:26] rob-c commented on #882
@egede The failure is not due to a test but due to something being run to post-process the tests I think:
[code]
I think the python env needs updating around a test to allow for whatever it is at this stage to run correctly.

(Looking at this I think it's the source-ing of the LHCb env is losing the local env changes which point to the current ganga install)

[2016-12-05 17:10] mesmith75 commented on #892
I mis-spoke. The lhcb install script should take it from the tagged version.

[2016-12-05 17:10] #892 closed

[2016-12-06 10:40] #880 closed

[2016-12-06 13:48] #873 closed

[2016-12-06 19:00] mesmith75 commented on #882
I'm not convinced - The ones I looked at showed a real test failure:
[code]

[2016-12-07 09:45] will-cern opened #893 "ganga athena --local not executing joboptions in 6.2.3"
Hello,

I just tried using the --local option in ganga athena in the version I get from cvmfs by default (6.2.3 apparently). The job fails, the issue appears to be because the joboptions are not executed.

It would be useful if in the log file ganga would print the exact athena command it is executing, as it can be hard to work out what is at fault here. You can reproduce the problem by putting, e

[2016-12-07 09:56] will-cern commented on #893
I can confirm that this isn't a problem with the --condor option at least.

[2016-12-07 13:21] mesmith75 commented on #890
Sorted by the update to the lhcb setup. Potentially need to check the ROOT version requirements in the future.

[2016-12-07 13:21] #890 closed

[2016-12-07 13:35] mesmith75 commented on #882
It looks to me as if the PYTHONPATH is just missing the install/ganga/python folder.

[2016-12-07 13:37] rob-c commented on #882
yes it is, I'm debugging what may be causing this but the folder is dropped after the sourcing of the LHCb env

[2016-12-07 13:46] mesmith75 commented on #882
SetupGanga doesn't keep it?

[2016-12-07 14:20] rob-c commented on #882
No. By design you can't rely on anything surviving the LbLogin followed by running SetupProject (for LHCb externals... we can (should?) drop this step!).

[2016-12-09 12:59] drmarkwslater opened #894 "Root application adding spurious backslahes"
If you do a simple Root job as suggested in the help:
[code]
It doesn't work because a backslash is appended to the script name:
[code]

This can be seen in the python wrapper script:
[code]
I'm not sure where these are being added. it looks like its a strange python thing when printing lists:
[code]

Maybe related to #37

[2016-12-09 13:03] #727 closed

[2016-12-09 16:10] mesmith75 commented on #829
So the logic works with regard command-line vs. gangarc (if the variable is set at the command line it ignores the one in  the gangarc) . The problem is that these are being set as sessionValue rather than userValue. I'll find out where and stick a fix in.

[2016-12-09 16:45] rob-c commented on #829
_all_ that's required from memory is to separate the user and system/session parameters I the precaching of the input which isn't being done correctly atm as it squashes everything into the system level so it's not possible to override .gangarc changes with command line ones i think.

[2016-12-11 12:56] twhyntie opened #895 "Missing configuration option in default .gangarc file - [defaults_DiracProxy]"
Hello,

It looks like with the roll-out of 6.3.0 a configuration option has been missed in the default `.gangarc` file, so running via CVMFS throws an error:

[code]

The culprit looks to be `[defaults_DiracProxy]`, which for me had no value assigned when I ran 6.3.0 for the first time.

Is this is intentional, as you can't know by default which user group a user will be using? If so, could there

[2016-12-11 16:33] twhyntie commented on #895
OK, so this appears to have opened bit of a can of worms... with my updated configuration file when I now try to close Ganga (Ctrl-D, Enter) I get:

[code]

I don't have any proxies initiated, but I'm only doing local running (at the moment) so I wouldn't expect Ganga to expect that there was one active.

Any ideas?

[2016-12-11 16:45] twhyntie commented on #895
Ah, no, ignore that - started up again, quit, no errors.

[2016-12-12 14:40] will-cern commented on #893
Any progress on this?
I know you are busy, just good to have an idea on when this might be looked it. It prevents us running with the --local option at the moment.

Thanks
Will

[2016-12-12 21:01] #886 closed

[2016-12-13 10:51] rob-c opened #897 "DiracError needs to associate to jobID"
DiracError should be a bit more helpful and possibly take an optional jobID or filename to make debugging a DIRAC error (sometimes a little too generic) easier.

[2016-12-13 10:52] rob-c opened #898 "Dirac OfflineSplitter needs to check for failed splitting"
The offline splitting algorithm needs to check for a failed splitting or for 0 groups of filed being created and to throw a more appropriate exception than a "can't divide by 0 errror".

[2016-12-13 11:49] #874 closed

[2016-12-13 17:47] willfurnell opened #900 "Importing Ganga in Python scripts"
Hello,
I'm a brand new user of Ganga (and relatively new to Grid Computing in general) and I'm looking into integrating it into some analysis software I am developing for [CERN@school](http://researchinschools.org/CERN/) (with help from @twhyntie). I can see that you can create scripts and run them in [batch mode](http://ganga.readthedocs.io/en/latest/UserGuide/InstallAndBasicUsage.html#scripting-

[2016-12-13 23:37] egede commented on #900
@willfurnell Yes, you can do

[code]

which gives you access to the global functions like `jobs` in the `ganga` namespace. To get access to the API, do something like

[code]

To allow Ganga to be used like this is a quite new feature. Please report any problems you might see.

[2016-12-14 10:28] rob-c opened #902 "The Schema defaults are broken again"
The check for class factories vs instances in the Schema is broken again.

This should be looked at to make sure there are no bugs. This led to #901 and will highlight any Schema changes but will not present itself if the schema remains fixed.

[2016-12-14 11:16] rob-c opened #903 "Old DiracFile not accessible"
Due to some changes within the class initialization framework DiracFile old classes which don't have `defaultSE` will fail to load from XML.
This prevents the jobs from loading.

I think I've understood how this happens and the fix should be fairly quick and effective once I get a chance and it would be good to see in 6.3.1 so we can load old jobs properly (only in 6.3.x).

[2016-12-14 13:02] willfurnell commented on #900
That sounds brilliant, thank you - exactly what I want to do.
I'll let you know if I encounter any issues.
Thanks.

[2016-12-14 13:07] twhyntie commented on #900
Thanks @egede!

[2016-12-14 15:00] vlukashenko opened #904 "Monitoring Error and XML from-file error for file"
Hi, everyone. I’m quite new with Ganga and I have a big issue with it now.

I had two jobs that were submitting for a week already, so I tried to change their status to the “failed”, but I got a connection loss at this very moment and now every time I setup ganga project I see those errors:
[code]
It also doesn’t like that first job, which is now in “failed” status (another one is still submitting

[2016-12-14 15:03] rob-c commented on #904
@vlukashenko I believe this should be fixed by https://github.com/ganga-devs/ganga/pull/901
If you are comfortable using a git branch then I'd advise testing on this PR as it should solve the problems your seeing.

[2016-12-15 09:54] mesmith75 opened #905 "Update CVMFS config"
Does anyone know how to update the CVMFS config? We need to get rid of the ```[LCG]EDG_ENABLE,GLITE_ENABLE``` and ```[defaults_AfsCommand]``` options for 6.3. This was already done for the AFS release.

[2016-12-15 12:54] #829 closed

[2016-12-15 16:02] willfurnell opened #906 "Can't submit a DIRAC job with DiracFile outputfile without setting a defaultSE. (Dirac backend)"
Hello,
I'm having an issue with trying to store output data using DIRAC as a backend.
I'm getting the following error when trying to run my job:
[code]
Here's my job file:
[code]
Where do I need to set defaultSE in my .ganagarc file? I've tried the following
[code]
(And different iterations eg. DefaultSE, DiracDefaultSE etc.)

I'm using Ganga via CVMFS.

Thank you,
Will

[2016-12-15 16:09] egede commented on #906
@drmarkwslater I think you are best at understanding this.

[2016-12-15 17:21] #857 closed

[2016-12-16 10:44] rob-c commented on #906
@egede This is expected behaviour. GridPP DIRAC at least can't work out where to put a file on the grid without being told where it can upload the files to. This behaviour should be easy enough to change but I think it involves another discussion with some DIRAC devs about how to safely get a list of default SE that a user can write to. (or whether vanilla-DIRAC plans to support some sort of failo

[2016-12-16 10:47] rob-c commented on #905
@mesmith75 Which CVMFS config? The one we control on our partition is done via adding a new system file (which should propagate correctly via cvmfs) and the one done via LHCb is done via requesting the release manager put a new file up in the appropriate place.

[2016-12-16 10:49] rob-c commented on #904
This is a duplicate issue so I'm closing it for now. If anyone wants to follow this I would follow #901 and #902

[2016-12-16 10:49] #904 closed

[2016-12-16 10:51] rob-c commented on #895
@twhyntie The error in your second comment is being addressed in #901 and #902 and is due to a bug creeping in, in the final stages of 6.3 development.
As for the defaults with regard to the DIRAC configuration these need to be provided by the user as Ganga can't automatically detect your VO or what storage spaces you have access to very easily.
I think there may be some work which can be done to

[2016-12-16 15:03] mesmith75 commented on #905
@rob-c The site config. The one on CVMFS is pretty ancient - I'll stick in a JIRA task for it to be updated, Thanks!

[2016-12-16 15:03] rob-c opened #908 "Nightlies failing in odd way"
The following test is an example of the recent failing nightlies.

The test in question works fine when I run locally in what I believe is the equivalent to a DIRAC env and when the tests are run on integration tests but for the nightlies there is a bug of some sort which prevents the test from running:

[code]

I'm not expecting to see a bug in the configuration system but this has been changed r

[2016-12-16 15:06] rob-c commented on #905
@mesmith75 just a quick NB but remember we can't edit files reliably on cvmfs due to the caching so we should look to release a new config under 6-3-0.

[2016-12-16 15:46] mesmith75 commented on #905
Sorted.

[2016-12-16 15:46] #905 closed

[2016-12-18 02:03] mesmith75 commented on #908
Naively I wouldn't have thought that the changes to the config I put in should have affected that. It looks as if the configuration files on the master node carrying out the nightlies are very old.

Alternatively maybe we have overlooked something now in the default configurations.

[2016-12-19 10:38] twhyntie commented on #895
@rob-c Cool, thanks - I agree that automatic VO/storage is a luxury at this point, and I'll happily put the instructions to do this in the UserGuide 😄
When do you think the best time to do this will be - is there a stable-ish 6.3.X update slated in the near future?
Thanks again, @twhyntie

[2016-12-19 10:54] willfurnell commented on #906
I've done a bit of searching in the code and this repository, and have found the following file:
https://github.com/ganga-devs/ganga/blob/b9ef1b26def5daf93b09c7d831eff9cdaf7035da/python/GangaLSST/LSST.ini which seems to include the option I want.

By setting
[code]
in my ~/.diracrc I can now submit output data to the Grid! Thank you.

Would it be acceptable for me to submit a pull request to make

[2016-12-19 11:02] twhyntie commented on #906
@willfurnell Nice once, thanks 😄
As @rob-c has noted this is a DIRAC - and, to be fair, GridPP DIRAC - specific issue (as Ganga users generally may not be using DIRAC, or the [GridPP DIRAC](https://dirac.gridpp.ac.uk) instance) so I can add this to the GridPP UserGuide - please raise an [issue](http://github.com/gridpp/user-guides/issues).
Thanks again, @twhyntie

[2016-12-19 11:13] willfurnell commented on #906
I can see why it will be better to put this in the UserGuide with the limited scope of Ganga users it would cover. I'll raise an issue with the GridPP userguides repository. Thanks.

[2016-12-19 12:21] rob-c commented on #895
@twhyntie I was under the impression 6.3.0 was going to be stable. That being said there are some minor bugs which are obviously present so I think 6.3.1 is being released later today/tomorrow.
@mesmith75 Is this correct?

[2016-12-19 12:25] rob-c commented on #908
@mesmith75 Yes the exception there looks like a bug to me that should have been spotted sooner.
(Advantage of testing with multiple env configs we can try to get through these different code paths in testing).
I'll have a look at how the options for the tests are parsed. I suspect this is due to the tests making changes at the system level and other changes are being incorporated at the user level

[2016-12-19 12:39] twhyntie commented on #895
@rob-c Great, thanks - in which case I will wait for 6.3.1 :wink:
(cc @willfurnell)

[2016-12-19 13:03] mesmith75 commented on #895
@rob-c Yes I will start the release this evening - so should be done by tomorrow morning.

[2016-12-19 13:48] mesmith75 opened #909 "GaudiBase loses version"
It appears that creating an old style LHCb app from a python script loses the version number.
eg
[code]
works fine at the ganga prompt but from a script tries to create an object with the latest version that fails as setup project doesn't exist anymore.

[2016-12-19 13:51] oldeman opened #910 "Error: get() got an unexpected keyword argument 'localPath'"
Dear developers,

I'm getting the following error in ganga 6.3.0 when trying to retrieve the output of a job , it tells me to report it.

Cheers, Rolf

[code]

[2016-12-19 13:53] rob-c commented on #909
@mesmith75 Can you confirm if this is nested options parsing being broken again or the old style apps?
AKA do we see this with say:
[code]
If it's the old style apps I'm fairly sure we saw something like this before and never solved it. If it's a general bug it will likely be in the Proxy and I can walk through what would be involved to track it down at some point.

[2016-12-19 13:59] mesmith75 commented on #909
On closer inspection it looks as if the job object picks up the version correctly. However the GaudiBase doesn't pick up the job version so tries to use the default.

[2016-12-19 14:01] mesmith75 commented on #909
Actually, sorry this is nonsense. Apologies for the noise.

[2016-12-19 14:01] #909 closed

[2016-12-19 14:37] mesmith75 commented on #910
The requisite function appears to have been renamed when the credentials were changed. I'll update it now. I guess this should have been caught by the nightlies...

[2016-12-19 14:42] mesmith75 opened #911 "Tests for getAccessURL with protocol"
A reminder to make a nightly test for getAccessURL.

[2016-12-20 11:55] #910 closed

[2016-12-20 13:23] #903 closed

[2016-12-20 14:19] mesmith75 commented on #751
Closed by #754

[2016-12-20 14:19] #751 closed

[2017-01-02 13:25] schmitts opened #920 "py.templates not installed"
Release 6.3.1 installed via pip.

[code]

fails with

[code]

There are no `py.template` files installed at all.

[2017-01-03 09:49] egede commented on #920
I confirm this problem. It must be realted to how the distribvution is packed up for pip.

[2017-01-03 10:10] egede commented on #920
The configuration of the upload to PyPi is done on the Jenkins service. I do not know how it is configured though. As a stop-gap, the file can simply be downloaded from the web interface https://github.com/ganga-devs/ganga/tree/develop/python/Ganga/Lib/Localhost and dropped in place.

[2017-01-03 13:24] schmitts commented on #615
@drmarkwslater Any update on the slurm support? If not, I would start to implement and test it now.

[2017-01-03 13:25] schmitts commented on #920
For 6.2.3 it works. I haven't tested releases in between.

[2017-01-03 13:29] mesmith75 commented on #920
I'm not sure the templates were ever there.

As the penultimate step in the release before the upload to PyPi we make the distribution with
[code]
For the default this only takes the python source, so the file ending .template is being ignored (see here for the defaults: https://docs.python.org/2/distutils/sourcedist.html).

We can try generating a list of files to be included (probably anything i

[2017-01-03 14:38] egede commented on #920
@mesmith75 The change is that the `.template` files were introduced. Before they were just called `.py` but it caused trouble with code checking tools (as the files are not valid Python before the substitutions has been made). https://wiki.python.org/moin/Distutils/Tutorial seems to have a nice tutorial on how to write the MANIFEST.in file.

[2017-01-03 15:15] mesmith75 commented on #920
ah ok - I'll add in a manifest file with a recursive include under the current directory.

[2017-01-06 11:46] drmarkwslater opened #921 "Change *.root file default from LCGSEFile to LocalFile"
Probably more likely people are using `LocalFile`s than `LCGSEFile`s these days.

Thanks,

Mark

[2017-01-08 13:32] JacekHoleczek commented on #921
Please make Ganga COMPLETELY unbiased / impartial / neutral what concerns ANY file types.
Without EXPLICIT entries in user's own ".gangarc", NO hidden assumptions should be effective.

[2017-01-09 10:49] rob-c commented on #921
@JacekHoleczek Changing this breaks a _lot_ of higher level features for a _large_ number of existing users.
I think that the `LCGSEFile` is maybe overstepping what is 'sensible' for a default configuration but there are good reasons for having this default behaviour such as handling of sandboxes and storage limitations for many users.

[2017-01-09 11:02] rob-c commented on #908
`FakeDirac` is also now escaping the bounds of the single test where it was intended to be loaded.
This test needs to be fixed again to stop the class being in the Plugin system which will break other tests looking for the backend.

[2017-01-09 11:20] #920 closed

[2017-01-09 11:21] mesmith75 commented on #920
The templates will be in the distribution of the next release.

[2017-01-20 14:22] egede commented on #747
Just looking at this one now. @drmarkwslater are you sure this is true. There is a status file written with START and STOP tags that is used by the monitoring. I do not think we use the `bjobs` command at all.

[2017-01-20 14:28] #902 closed

[2017-01-20 14:29] #900 closed

[2017-01-20 14:33] #889 closed

[2017-01-20 14:34] #882 closed

[2017-01-20 14:38] egede commented on #842
@drmarkwslater Did this ever happen? Close?

[2017-01-20 21:57] egede commented on #908
Nightlies have been fixed.

[2017-01-20 21:57] #908 closed

[2017-01-20 21:59] egede commented on #862
Not important enough to fix.

[2017-01-20 21:59] #862 closed

[2017-01-20 22:01] egede commented on #737
Reopen if you should wish to comment further on this idea.

[2017-01-20 22:01] #737 closed

[2017-01-20 22:02] #721 closed

[2017-01-20 22:07] #540 closed

[2017-01-20 22:08] #769 closed

[2017-01-20 22:09] egede commented on #388
afs will disappear before we get this fixed.

[2017-01-20 22:09] #388 closed

[2017-01-20 22:12] #331 closed

[2017-01-20 22:16] egede commented on #768
This is far too difficult to define in a sensible manner just based on counting. There could be 600 small files and it would be fine.

[2017-01-20 22:16] #768 closed

[2017-01-20 22:16] egede commented on #648
Clear milestone as nothing is happening.

[2017-01-20 22:26] #817 closed

[2017-01-20 22:27] #494 closed

[2017-01-23 17:19] mesmith75 commented on #895
Can we close this?

[2017-01-23 20:42] mesmith75 commented on #894
This is only an issue for the interactive backend - it works fine for localhost. I think this is due to how we pass the arguments to the os instead of popen.

[2017-01-24 10:16] olupton opened #929 "Slow GaudiExec submission"
Hi,

I'm submitting several jobs that all use the same local `DaVinciDev_v42r1/` area.
It seems that every job builds, copies, uploads and removes the `cmake-input-sandbox.tgz` file.
This seems to be rather slow, and unnecessary (I don't think this file contains the job options?).
Couldn't `make` be trusted to update this archive if needed?

Thanks,
Olli

[2017-01-24 10:17] drmarkwslater opened #930 "Change of behaviour for Dirac.getOutputDataLFNS?"
From
https://twiki.cern.ch/twiki/bin/view/LHCb/FAQ/GangaLHCbFAQ#How_do_I_use_the_outputdata_from

It seems that this used to work:
[code]

but now doesn't as `getOutputDataLFNs` just returns a string rather than (at least) 'LFN:'+string and therefore the default for constructing a `DiracFile` doesn't set the LFN properly/at all. I'm not sure if this is a change in API or a bug but it should be eas

[2017-01-24 10:54] egede commented on #929
@olupton So do I understand correctly that you are forced to ```unprepare``` the application object because you want to change the list of options files used in the application object? But everything else is the same?

[2017-01-24 11:00] olupton commented on #929
Hi @egede,
At the moment I am not calling `unprepare()`, I'm making several `GaudiExec` instances that all use the same `DaVinciDev` area (but have different `options`) and calling `prepare()` on each.
I could try changing to
[code]
but my guess was that this would be essentially the same?

[2017-01-24 11:09] rob-c commented on #929
@olupton Would it be worth simply creating a single prepared application and copy it into multiple jobs?
(I think there is an (LHCb specific?) setting about whether we un-prepare automatically on copy. Either way if you make sure you have `[Preparable]unprepare_on_copy=False` in your `.gangarc` it should work)

[2017-01-24 11:11] olupton commented on #929
@rob-c I was under the impression that a prepared application includes the options files?
e.g. I see
[code]
I am already making sure that the same prepared application is used for jobs that have identical options in addition to an identical build area.

[2017-01-24 11:25] rob-c commented on #929
@olupton Hmm, yes I see your problem now. I'll give some thougt to this as I did want to have multiple prepared files for the GaudiExec class to avoid this but there were some concerns about serialization of the XML raised which got in the way of doing this which were never resolved.
I'll see if I can do something clever in a short PR.

[2017-01-24 11:53] rob-c commented on #929
@olupton What is the main _slowness_ in the job submission? is it the preparation/build or the upload steps?

[2017-01-24 11:59] rob-c commented on #930
I think this is a bug looking at: https://github.com/ganga-devs/ganga/blob/develop/python/GangaLHCb/Lib/Backends/Dirac.py#L58
This should work for LHCb users but for vanilla dirac users I expect them to see problems.
If this is an LHCb user why aren't they seeing the overloaded method?

If the above code is broken then surely there's a bug in the dataset expanding from another dataset?

[2017-01-24 12:01] egede commented on #929
@olupton I think what we talk about here is the difference between the packing up of the release area (what ```prepare``` does) and the specification of the job (which options to give to the gaudirun.py) script. It would not harm the jobs above if ```job1.py``` and ```job2.py``` were in the same shared area as long as I could request that job 1 is using the first options file and job2 the second.

[2017-01-24 12:43] olupton commented on #929
@rob-c, my script that calls `prepare()` but not `submit()` is very slow. Calling `submit()` afterwards isn't so painful, but the output:
[code]
suggests that my local software changes are going to be uploaded multiple times if I submit several jobs that share a prepared application.

@egede so you mean my various `optionsN.py` files would be bundled up inside `cmake-input-sandbox.tgz`? This could

[2017-01-24 12:49] rob-c commented on #929
@olupton yes, for now the DIRAC upload is done in 1 (potentially large) file containing both the cmake and options files (and inputfiles) rather than 2 files (1 for software and 1 for everything else which may change). Given the high speeds accessible on lxplus I imagine the main slowdown is in DIRAC doing what needs to be done before it will upload a file.
The files could be renamed but they're n

[2017-01-24 12:55] olupton commented on #929
@rob-c, sure, no point making changes that won't make much difference. Although the output suggests that there are already 2 files uploaded for every job (software+options, and the ganga-generated job scripts).
In my current setup the main delay is certainly re-making the `cmake-input-sandbox.tgz` for every software+options combination.

[2017-01-24 13:00] rob-c commented on #929
OK, I can add a trivial option to the schema to allow for passing pre-built targets if the target building takes far too long and should be reproducible.

[2017-01-24 13:03] egede commented on #929
@olupton Yes, I agree that the options could be put separately. There are a few issues with this though. If the options file *is* inside the release area, it will be packed up twice and it should be well defined which version is used (the one from the options attribute). Also if file A is including file B, then a possible new version of file B will only be included if it is given in the options at

[2017-01-24 13:09] egede commented on #929
@rob-c I am not sure that passing pre-built targets is the bedst way to solve this problem.

[2017-01-24 13:35] drmarkwslater opened #931 "Take username for Dirac LFNs from Proxy rather than local username"
If users don't specify `DiracLFNBase` specifically then it is taken from the local username. However, this is unlikely to be the same username specified in the Voms Proxy attributes and what should be used through Dirac. It should be fairly easy to use this instead.

(Note that this **may** just be an LHCb problem - not sure!)

[2017-01-24 15:08] olupton commented on #929
@egede not sure I got all the details there. If I put a bonus `test.py` in `DaVinciDev_vXrY/` then it doesn't seem to end up in `cmake-input-sandbox.tgz`, so your example code
[code]
would I think at the moment result in a `conf-XXX.tgz` containing `myDaVinciOpts_1.py` and `cmake-input-sandbox.tgz` at the top level, and without `myDaVinciOpts_1.py` present in the `cmake-input-sandbox.tgz`. This is

[2017-01-24 15:13] egede commented on #929
@olupton Thanks for the further input. Again need to think about best implementation to achieve what seems a very reasonable optimisation.

@olupton You are correct that options are no longer pickled. With the old ```Gaudi()``` type applications there was no way around it, but I always regarded it as fragile.

[2017-01-24 18:28] mesmith75 commented on #931
Yes this is a good idea to implement.

[2017-01-25 08:36] olupton commented on #929
Hi,

My workaround above seems to avoid the main problem. Job creation is now limited by how slow
[code]
is...which is another matter (though if there's an easy way of making this faster I'd like to hear it...I have no idea why it's so slow).

One annoyance is that now I have multiple jobs sharing the same conf-XXX directory then if I submit them in parallel they tread on each other by all using t

[2017-01-25 09:26] egede commented on #929
Hi Olli,

Can I get you to file a separate bug on the race condition where the same
name is used in /tmp.

Ulrik

On 25 January 2017 8:36:25 a.m. Olli Lupton <notifications@github.com> wrote:

[2017-01-25 10:32] rob-c commented on #929
@olupton The problem with creating a large list of files from LFN is unfortunately very well known and one I've spent significant time looking into.
There is a bug somewhere in the time it takes to allocate memory for ~10k DiracFile classes and despite replacing most of the chain with classes which use `__slots__` I can't make this particular problem go away entirely.

There is PR #917 where I hav

[2017-01-25 11:04] alexanderrichards commented on #929
@rob-c I havent fully read the problem that this issue is talking about but something just triggered in the back of my brain. Is the slowdown due to in initialisation of each of the ~10K DiracFile classes or is it due to the ever expanding list appending that I assume is happening?

The reason I ask is that I've noted that some people have seen slight speed increases with a sort of pseudo-prealloc

[2017-01-25 12:05] olupton opened #932 "Race condition in job submission"
If two jobs share the same prepared application (i.e. same conf-XXX string) then they interfere with one another if they are submitted in parallel.
This is because both jobs use the same temporary `/tmp/username/conf-XXX.tgz` path for uploading to the grid.

In addition, the jobs pollute the `shared/conf-XXX/` directory with their `inputfiles`, so one job ends up with files from the other in addit

[2017-01-25 12:34] olupton commented on #929
@rob-c re: the uuids, this is explicitly for jobs that *do* share prepared applications and therefore *do* have the same uuid. This is 'intentional' in that it seems to be the only way of avoiding the original problem discussed here, namely that making the release area tarball is very slow.
The problem seems to be that the prepared application uuid is incorrectly assumed to be unique for the job a

[2017-01-25 12:36] rob-c commented on #932
Is the application copied/prepared before being assigned to multiple jobs?
If this is the application is pre-prepared then this is expected behaviour and a minor bug in the RTHandler for GaudiExec.

[2017-01-25 12:39] olupton commented on #932
@rob-c yes, I prepare the application and then assign it to multiple jobs (to avoid the very slow re-packaging of the release area). I agree that it looks like a couple of minor bugs (the path under `/tmp/username/__conf-XXX.tgz` should be job-ID dependent, the job `inputfiles` should be added to the `.tgz` directly (or to a uniquely-named temporary directory) instead of being copied into `shared/

[2017-01-25 12:49] rob-c commented on #929
@alexanderrichards OK, this may speed up some part of the code I use in testing this. The problem is though that there is a slowdown in allocating a DiracFile vs a dummy class object. A _lot_ of this I have traced down to the `getDefault` method in the `Schema` (or whatever it's actually called). I've overly optimised it in #917 and it seems to make a strong impact in these cases where it's called

[2017-01-25 12:55] egede commented on #929
@olupton Following the suggestion from @alexanderrichards, I tried

[code]

from which you can see that assigning the LFNs is fast (<2 s) but then creating the ```LHCbDataset``` object is quite slow (16 s), but I have a feeling that you observe something much slower. Actually, just replicating what you do seems reasonably fast as well

[code]

This time should be compared to the time it takes to s

[2017-01-25 13:05] rob-c commented on #929
@egede Yes but this is then an _additional_ 20sec every time the job has to be read from disk (once per session ideally but this translates into ~1min for loading a large job with I/O on AFS taking ~5sec.
We've reduced many of the un-needed duplications of objects behind the scenes but a 20-30sec cost for duplicating an object already in memory leads to slowdowns. I've seen users in Edinburgh comp

[2017-01-25 13:07] olupton commented on #929
@egede that's an unfair estimate of the list creation time, because you are only creating one `DiracFile()` object and storing 10000 references to it:
[code]

In my real-world use-case then as you say, the LHCbDataset construction is about the same speed as making the list of DiracFile objects.

Anyway, as you say, now I worked around the build area preparation speed it's not so bad, and faster th

[2017-01-25 13:47] egede commented on #929
@olupton Yes, you are of course correct. So the total time I see is indeed about 40s. There is a bit annoying thing here in that when you create the ```LHCbDataset``` object, you make a deepcopy of the list. So in both cases, we just see the time for creating 10k empty ```DiracFile``` objects.

[2017-01-26 06:49] egede commented on #932
@rob-c Where does this copy to /tmp happen? I tried to trace through the code but can't find it.

[2017-01-26 12:04] egede commented on #932
OK, so I found a clear bug here.

[code]
It can be seen here that we attempt to upload the shared file twice to Dirac (and from the same /tmp location). If these two submissions happen at the same time, then it will fail.

The bug is that the information about that the shared file object is already uploaded is kept as a property of the application object (```app.uploadedInput```) where it should i

[2017-01-26 12:15] olupton commented on #932
@egede I don't think this covers everything. Clearly if you submit both at the same time then they try to use the same `/tmp/` location. That causes obvious problems that could easily be avoided by putting the job ID in the filename.

The current filename is misleading though, because the uploaded `.tgz` includes the `inputfiles` of the job. Arranging for job 36 to use `/lhcb/user/e/egede/GangaInp

[2017-01-26 12:24] egede commented on #932
@olupton Yes, you are correct that it doesn't cover everything. That the following is allowed

[code]

is allowed means that there is another bug. Either the last operation should be forbidden or the options file should never go into the shared area. I think the cause of both problems is that only the workflow

[code]

is tested. In that case you are protected from the above problem by that the ap

[2017-01-26 13:28] rob-c commented on #932
Apologies for the delay in replying to this, I've been busy this week.

@egede The copy to temp and upload happens in the prepare step of the master job. There is a dedicated method for doing this from memory.

The fix for this bug needs to solve the following:

 1) The files copied to the tmp dir need to have a unique name for each job not for each prepared application. i.e. the folder should con

[2017-01-26 17:07] egede commented on #932
i.e. There is no need to lock the uploading mechanism as this should be uploading a unique file to the grid and storing unique information within each job object.

@rob-c Does that mean that we do not want the file releasearea tarball uploaded to Dirac to be shared between different jobs with the same prepared application object, but only to be shared between subjobs. That will make things easier,

[2017-01-27 10:51] egede opened #933 "Nasty traceback in GaudiExec submission if no gridProxy is valid"
If you create a job with a GaudiExec application and a Dirac backend, but do not have a valid gridProxy, the submission results in the traceback below. It can be seen that getting a proxy then allows the submission to happen. Some extra error checking should be implemented to give a nice error instead.

[code]

[2017-01-27 11:36] rob-c commented on #933
Ah, I think this just requires that the `returnable` be defined to be None in the case that it isn't constructed in the method.

NB: I'm also seeing exceptions showing full traces from GangaException type errors from background threads.
@alexanderrichards is there any way to handle the exceptions from worker threads in ganga?

[2017-01-30 11:26] #931 closed

[2017-01-30 11:43] #883 closed

[2017-01-30 14:01] alexanderrichards commented on #933
are we talking about worker threads from the queues system or GangaThreads?

[2017-01-30 14:05] alexanderrichards commented on #933
worker threads from the queues system were build to be robust against user code raising exceptions. I'll have a look. As I recall they simply log the exception traceback and carry on with the next task. It should therefore be impossible to kill them accidentally  by executing rogue user code. If your asking about how you can silence the logging of this traceback then you should be able to just pic

[2017-01-30 15:07] rob-c commented on #933
@alexanderrichards This because I was sat at a users terminal and the monitoring spammed me with tracebacks of errors due to the DIRAC job failing in a bad way. I don't know why sometimes this happens but I am wondering if we can either buffer errors/warnings on threads or do something to stop them flooding the user if possible.

Also GangaException type exceptions (aka the ones we intend to throw

[2017-01-30 15:12] alexanderrichards commented on #933
The alternative is to swallow them. I'm confused as you say these are the ones we **intend** to throw. Remember we cannot re-raise them as that would kill the thread.

[2017-01-30 15:14] rob-c commented on #933
yes but these are exceptions from the backend which can not be resolved so should just throw, send a message and abort

[2017-01-30 15:26] mesmith75 opened #935 "Move LHCb.ini into GangaLHCb"
Pursuant to my email, do we think it would be a good idea to move the GangaLHCb,ini into the GangaLHCb folder, rather than have it completely separate?

This would be useful for future releases.

[2017-01-30 15:53] alexanderrichards commented on #933
we cant just throw them and abort as this would kill the worker thread for future use. We can either display them or swallow them.

[2017-01-30 15:56] alexanderrichards commented on #935
there already is an LHCb.ini in the GangaLHCb folder, see:
[LHCb.ini](https://github.com/ganga-devs/ganga/tree/develop/python/GangaLHCb)

Do you mean the CERN site config? what is this LHCb.ini that your talking about? (I'll read the email first ;-))

[2017-01-30 16:06] rob-c commented on #933
swallowing them at the queue manager level should be fine if they're of the type we have explicitly thrown ourselves as these would go to the user as an error message not a trace. we want the same behaviour from the worker thread, warn the user in a polite way and move on to the next queued item for running

[2017-01-30 16:11] mesmith75 commented on #930
The LHCbDirac plugin isn't loading properly. I think something may be happening in the wrong order.

[2017-01-30 16:16] alexanderrichards commented on #933
Thats fine we can issue a more friendly logger message instead of the traceback. Then we need to consider what should said message be? by their nature the threads could be doing anything the user wants so it would have to be a generic message alone the lines of:

[code]

In which case it could be argued that this message is of limited use?

[2017-01-30 16:21] rob-c commented on #933
If it was thrown by Ganga on purpose then the string rep of the exception should be good enough to be useful. We can consider adding the word monitoring I front of it but there's no need to tell the user this happened on a thread imo. If there is a catastrophic exception not of type GangsException then defaulting to the trace and telling the user we don't know better is all that can be done imo

[2017-01-30 16:36] mesmith75 commented on #935
oops..

[2017-01-30 16:36] #935 closed

[2017-02-01 11:24] #930 closed

[2017-02-03 16:35] apingault opened #940 "GenericSplitter can't use gangafiles as values (ganga fails to parse value in XML)"
Hi,
When trying to use the generic splitter with either the `inputdata` or `inputfiles` attribute with `gangafiles`, ganga has trouble reading the xml file generated.

Here is a MWE to reproduce the problem:
[code]
And the failing message when I restart a ganga session:
[code]
Here is the XML section in question:
[code]
I can see the subjobs are all correctly submitted and their exe can run and co

[2017-02-03 21:54] egede opened #942 "Document how /cvmfs releases are updated"

[2017-02-06 11:07] mesmith75 commented on #933
Has this already been fixed - I cannot reproduce it.

[2017-02-06 11:52] egede commented on #933
@mesmith75 Not quite sure why you do not see an error. In any case, from looking at the code, it is obvious that ```returnable``` is not defined in
https://github.com/ganga-devs/ganga/blob/develop/python/GangaLHCb/Lib/RTHandlers/GaudiExecRTHandlers.py#L349 if either there are no SEs found or if they are not writable. If the gridProxy is there or not seems a red herring.

[2017-02-10 22:09] mesmith75 opened #944 "AFS token check"
We have been asked to add a configuration to prevent the check for an AFS token. Some sites appear to have a weird setup where they use AFS but don't have tokens.

[2017-02-13 09:13] olupton opened #945 "Local() backend doesn't cope with inaccessible LFNs"
If my job has splitter `SplitByFiles(ignoremissing=False)` and uses the `Dirac()` backend, then if some of the input `DiracFile`s don't have any accessible replicas (because a site is down) I get an error.

If I use the `Local()` backend for the same job then there is no error, the subjobs corresponding to LFNs without accessible replicas are just run with no inputdata, i.e. `__GangaInputData.txt_

[2017-02-13 09:46] olupton opened #946 "Bug in generated exe-script.py file"
I am submitting jobs using the `Executable()` application and the `Dirac()` backend.
For some (unknown) reason these are failing at one grid site.
Ganga is not reporting whatever the real error is, because there is a bug in the script ganga generates:
https://github.com/ganga-devs/ganga/blob/master/python/GangaDirac/Lib/RTHandlers/ExeDiracRTHandler.py#L163

This means the reported error is simply

[2017-02-13 10:03] mesmith75 commented on #946
Thanks, that is indeed not very good.

[2017-02-13 11:45] mesmith75 commented on #945
So this looks to be rather dependent on the application.
For the old DaVinci application the submission fails for an error thrown by LHCbDataset rather than the splitter itself when submitting locally. In this instance `ignoremissing` doesn't help.
The same is true for GaudiExec.
As noted for Executable the splitter raises a proper exception with the Dirac backend and doesn't for the local, so I g

[2017-02-13 14:40] mesmith75 commented on #945
The splitter checks the backend of the job. If it is not Dirac then the splitting algorithm is very simple - I assume because it was designed for local files. I'll add in a method for DiracFiles with a local backend.

[2017-02-13 15:04] #585 closed

[2017-02-13 16:15] mesmith75 opened #949 "Killing a subjob updates the master status"
Killing a single subjob updates the status of the master jobs and all the other subjobs to killed.

Only the statuses are updated - the other subjobs still run and complete.

[2017-02-13 16:52] mesmith75 commented on #942
Can we also add in a DEV folder that pulls from the develop branch, say once per day.

[2017-02-15 10:37] mesmith75 opened #951 "Egregious traceback for failed jobs"
We get nasty tracebacks for failed jobs that have timed out / been killed by the WN and so don't have anything in the output sandbox, eg
[code]
Can we do something better?

[2017-02-15 10:38] rob-c commented on #951
This should have been addressed in my PR where I stop the pointless unwanted traces from the queue system.

[2017-02-15 10:39] mesmith75 commented on #951
Ah ok, great! In which case I'll review that now and lets merge it.

[2017-02-15 11:01] #933 closed

[2017-02-15 11:02] mesmith75 commented on #951
Fixed by #943

[2017-02-15 11:02] #951 closed

[2017-02-17 09:58] Unode commented on #615
Would [this SLURM image](https://hub.docker.com/r/agaveapi/slurm/) help for testing things out?
Together with the [wercker](http://www.wercker.com/) platform (free for open-source projects) I now frequently use docker images as part of the testing framework of some of my projects.
There's also images for [SGE](https://hub.docker.com/r/kgutwin/simple-sge/), [Torque](https://hub.docker.com/r/agaveap

[2017-02-20 08:50] rob-c commented on #940
This could probably be mitigated by #701 (or a simple extension thereof) which seems like a pragmatic approach to fixing the problem.
Ultimately Ganga has for a long time been braking the promises of the Schema when it comes to simple items and there is no trivial way of fixing this without breaking backwards compatibility in a significant way for many users. #701 is a pragmatic fix which stops us

[2017-02-20 08:57] rob-c commented on #929
@egede I've done some further profiling atop #917 and it's possible after some googling that we're hitting some problems due to the use of RLocks and the GIL. I've seen a lot of writing about RLocks being extremely cheap after Python 3.3 due to a large re-write but I've no idea if/when this could be back-ported.
I'm tempted to look into some light-weight extension of the RLock to check for the thr

[2017-02-20 09:19] egede commented on #615
@unode in principle an interesting option. I can't see how our development team (total size about 4 times 0.1 effort) will be able to do this any time soon. If somebody else would be able to integrate it into the testing framework then we are happy to assist.

[2017-02-20 09:27] egede commented on #929
@rob-c I doubt you will save anything by rolling your own lock code. A better optimisation would be to consider how to avoid the many useless deep copy operations that we make.

[2017-02-20 14:32] mesmith75 opened #954 "Use lb-checkout in prepareGaudiExec"
A reminder to change `getpack` to `git lb-checkout` in `prepareGaudiExec`.

[2017-02-20 17:32] #949 closed

[2017-02-21 12:12] rob-c commented on #929
From my development branch I am now getting:

[code]

Which is a large improvement in the speed of constructing objects. I think this needs further testing but I'll try and land the branch later this week / next.

[2017-02-21 12:18] rob-c opened #955 "Ganga input file Splitter for DIRAC with duplicate LFN"
This splitter should test for, complain about and fail to try to split if duplicate LFN exist as the splitter is incompatible with this.

[2017-02-21 19:12] olupton commented on #945
Hi,
One closely-related thing here: even when the LFNs are accessibly, they are not correctly translated into access URLs in all cases. For example:
[code]
for a file at `CNAF`. To fix this I believe the part of Ganga that writes `__GangaInputData.txt__` needs to request a root or xroot URL. The per-site default protocol is evidently not always one that can be used for remote access.

[2017-02-22 15:43] mesmith75 commented on #945
Yes, CNAF is a known problem for this. We did debate requesting xroot or root as default but for some reason we decided against it. I'll add it in for the local jobs.

[2017-02-22 18:48] #946 closed

[2017-02-24 11:40] mesmith75 opened #957 "GaudiExec clean up"
Reminder to look into having GaudiExec remove its files of the grid if the job is removed.
Also, consider replicating the tarball once to reduce possible failures - may need a postprocessor for cleanup.

[2017-02-24 15:38] egede commented on #957
There is some work do be done with testing the reliability of the local shared area cleanup to be done before this issue can be addressed.

[2017-02-24 15:48] rob-c commented on #957
I think you would just need to add a cleanup hook for application objects which is called upon job removal. Some of the information uploaded to the grid is specific to each job and some (I think) is potentially common to multiple jobs. I had something like this sort of working a while ago but never committed it. I'll try and dig it out after looking at #917

[2017-02-24 15:49] egede commented on #957
@rob-c The situation is exactly that it is shared between jobs. This complicates matters somewhat.

[2017-02-24 16:01] rob-c commented on #957
The easiest way I looked into having objects shared between jobs just required expanding or using the API in the `SharedDir` to store a list of `IGangaFile` objects and allowing it to call `IGangaFile.remove` when it's cleaning up after itself.
In my implementation I just told `GaudiExec` to place new objects in an attibute for the SharedDir as well as in the (hidden) attribute where it already kn

[2017-02-27 08:38] stdietrich opened #959 "Ganga fails to lock files on NFSv4 mount"
Hello,

I am currently debugging an issue with a user, who tries to run Ganga v602r3 on our batch farm BIRD/NAF at DESY.
Ganga tries to store the output file on an NFSv4 exported GPFS filesystem, however it fails with the following error message:

[code]

I have traced this error back to the [dry_run_unix_locks](https://github.com/ganga-devs/ganga/blob/6c4a7cfb75a138b14e7f8c364faee3c27413e116/pyth

[2017-02-27 08:47] egede commented on #959
@stdietrich This is interesting. We have had problems on systems before with the `f_lock` but they have usually been related to badly configured systems. I have not come across this discussion of if it depends on how the file is opened before. Can you check on the system in question if the `f_lock` actually works if you open the file in read/write mode? As this particular file locking has caused t

[2017-02-27 09:35] stdietrich commented on #959
What do you mean, if Ganga works with f_lock in read/write or just the function?
The latter I already verified, because I created a sample script based on that particular function.
Running `with open(test_file, 'w') as f_lock:` works and the bad file descriptor error is gone.

For the first part, at least there I have to forward this to the user and let him try again.

[2017-02-27 09:47] egede commented on #959
@stdietrich I just meant in a sample script, so nice to hear this is already done. I will create a pull request with the change and then maybe you can get the user to try that version of `Ganga`.

[2017-02-27 11:19] egede commented on #959
@stdietrich You can try to use the pull request #960 and report if that is working.

[2017-02-28 10:23] egede commented on #959
Fixed by #960

[2017-02-28 10:23] #959 closed

[2017-02-28 13:37] baoboa opened #961 "missing template"
Maybe i did miss something but following the install instruction for pip
[code]
installation are missing  lib/python2.7/site-packages/Ganga/Lib/Localhost/LocalHostExec.py.template

so the exemple provided
[code]
fail

    ERROR    GangaException: Error Finding script file: /home/userXXX/SOFTWARE/gangaenv/lib/python2.7/site-packages/Ganga/Lib/Localhost/LocalHostExec.py.template
    ERROR    JobMana

[2017-02-28 13:52] egede commented on #961
@baobao I thought this was fixed by the addition of the *.py.template wildcard in

https://github.com/ganga-devs/ganga/blob/develop/MANIFEST.in

Are you somehow trying to install an old Ganga release rather than the latest one?

[2017-02-28 15:17] baoboa commented on #961
i set up a new virtualenv and i removed ~/.gangarc ~/gangadir

[code]

from that i got same error , is ganga-6.4.0 not the last version ?

[2017-02-28 15:54] egede commented on #961
@baobao Yes, it is indeed. So obviously we have somehow not solved the problem.

[2017-02-28 15:55] egede commented on #961
OK, I reproduce problem. There is a bit of an issue here in that we do not use pip for our own testing.

The real problem is that we use `setuptools` to make our pip distribution but the `MANIFEST.in` file is used by `distutils`. Should be fairly easy to fix.

[2017-03-01 09:47] baoboa commented on #961
@egede

is it pip specific ?
[code]
[code]
i didn't got template either

[2017-03-01 10:12] rob-c commented on #961
@baoboa Is there a reason not to use `git clone`?

[2017-03-01 10:28] egede commented on #961
It is a problem with the setup.py script. So after I merge the pull request, the wget method should work.

[2017-03-01 10:37] egede commented on #961
@baoboa OK, I merged now. So please try the `wget` method again. The `pip` install should be working correctly after the next release is made. Report back if you see any problem.

[2017-03-01 10:37] egede commented on #961
Fixed by #962

[2017-03-01 10:37] #961 closed

[2017-03-01 14:16] egede opened #963 "Change the default BkQuery dqflag to be ['OK',UNCHECKED']"

[2017-03-01 14:41] egede opened #964 "Create Jenkins slot for testing against LHCb Dirac certification server"
This should not run automatically but should be able to be started on demand. Permission should be given to @fstagni.

[2017-03-01 14:50] egede opened #965 "Change default LHCbDirac version to `prod`"
Care should be taken in dereferencing what `prod` means to keep the cached environment correct.

[2017-03-01 14:51] egede opened #966 "Eliminate the ability of users to ban DIRAC sites"
Consider if this should be done. Consultation required??

[2017-03-01 15:02] rob-c commented on #965
Is `prod` LHCbDirac shipped on cvmfs? I get problems with finding the `prod` version of some projects on there.

[2017-03-01 15:32] mesmith75 commented on #965
Yes it is - `lb-run LHCbDirac prod` points to /cvmfs/lhcb.cern.ch/lib/lhcb/LHCBDIRAC/LHCBDIRAC_prod

Do we want to always have the latest version?

[2017-03-01 15:45] baoboa commented on #961
ok

    pip install  https://github.com/ganga-devs/ganga/archive/develop.zip

it works

now should the readme.rst be modified (temporally)?

[2017-03-01 16:05] egede commented on #961
@baoboa Thanks. Next release should be out within a few days, so we will let the problem fix itself.

[2017-03-01 17:12] egede commented on #965
The `prod` version is a decision made by the `LHCbDIRAC` team and is not always the latest version. Another option would be to have something like `v8r*`.

@fstagni Can you comment.

[2017-03-04 14:44] fstagni commented on #965
There is also `LHCbDIRAC/latest` version, which is not necessarily the same as `LHCbDIRAC/prod` version, even if for the most part they should be. What we try to assure is that `prod` is stable, or at least the client version found in `prod` should be stable enough for ganga use.

[2017-03-06 14:16] mesmith75 opened #972 "Tests for the BenderBox application"
A reminder to add some tests.

[2017-03-06 23:04] mesmith75 opened #973 "Old DaVinci application not working locally"
The old DaVinci application on Local or Interactive backends is trying to use an environment variable that is being set by LbScripts: `DaVinci_release_area`. I think all the old Gaudi programs will have this problem - I assume this is due to the changes in the more recent Lbscripts that we fixed for the Dirac backend.

I don't know if we want to fix this. It is pretty trivial.

[2017-03-07 08:28] egede commented on #973
@mesmith75 Yes, trivial fixes are fine.

[2017-03-07 21:04] egede opened #978 "Provide instructions for running tests"
@VanyaBelyaev has asked for instructions on how to get the testing framework up and running. To set it up from scratch seems actually to be far from trivial. On lxplus7, I went through the steps below. If somebody can make it shorter I would be pleased.

[code]

and then for subsequent logins (where the installation is already there)

[code]

[2017-03-08 09:09] rob-c commented on #978
@egede I don't think you can reduce this any further .This is the expense of our externals for testing not all being in the lhcb python install. It's possible to do this without the virtualenv but you are required to track the installed packages yourself in your user area so I'd recommend this way to people moving forward.

This is not really different to installing any other python package althou

[2017-03-08 09:13] egede commented on #978
@rob-c The first step (updating `virtualenv` itself) is really painful. And that is even on `centos7`. But as you say it seems the only way. I guess we can make a little script that takes care of the steps.

@VanyaBelyaev Can you give the aobve a go and see if it works for you.

[2017-03-08 09:18] rob-c commented on #978
@egede you can just install ganga yourself with `pip --install --user` if you want even on lxplus but this will give the unexpected result of hard-coding the ganga path into the test-suite at some level.
You shouldn't need to update it, I think it's just virtualenv being fussy for no good reason, or does this introduce problems?

[2017-03-08 10:26] VanyaBelyaev commented on #978
@egede  Hi Ulrik, thank you very much for instructions. The procedure is not very obvious. But I'll make a try around week-end

[2017-03-08 10:50] alexanderrichards commented on #978
hmmm I did the following in a new directory which I think looks simpler to my eyes :wink::

[code]

Then subsequently after its already installed I can just do the following.

[code]

[2017-03-08 14:35] VanyaBelyaev commented on #978
@alexanderrichards  Hi Alexander, I agree,   it is a bit more clean.  I'll make a try soon.

[2017-03-10 12:09] egede commented on #978
@alexanderrichards Yes, this might work but has a few worries. The `python` installation you use is *not* the one that LHCb is using. I am worried that this might break something with DIRAC where we have extension libraries. Also, you will not in the above install packages like the `mock` package which is what the `pip install --upgrade -r requirements.txt` pull in.

[2017-03-10 14:15] alexanderrichards commented on #978
True but the unit test in question was a core one and as such shouldn't depend on LHCb python version.

yes indeed, you will have to manually pip install the requirements for the testing. There is an argument that these (namely pytest and mock) should be in a separate requirements file as these are only necessary for the testing and not the main operation of Ganga.

[2017-03-10 14:34] egede commented on #978
Isn't there an argument that when a package is installed, it should be able to run its own tests?  As an aside, is there a reason this file has the generic name `requirements.txt`? SHould it not have a name that reflects that it is for the testing, and maybe even be placed inside the `testlib` directory?

[2017-03-10 15:05] egede commented on #965
@fstagni We decided indeed to go with the `prod` version. This will be the default from version 6.5.1 of Ganga.

[2017-03-10 15:07] egede commented on #964
This is now done. See https://ganga-ci.cern.ch/jenkins/view/Testing/job/LHCb%20-%20Dirac%20certification/

@fstagni Can you see if the permissions have been set up correctly for you to make a `build`. The tests using the certification server are all failing right now, but I think that reflects a problem with the certification server rather than a problem with the tests. Feedback welcome.

[2017-03-10 15:20] #944 closed

[2017-03-10 15:37] #973 closed

[2017-03-10 15:58] egede commented on #965
Closed by #971

[2017-03-10 15:58] #965 closed

[2017-03-10 16:05] fstagni commented on #964
I confirm I could start the build, and I see that some of the tests are failing. Which of the tests in https://ganga-ci.cern.ch/jenkins/view/Testing/ is the "same" as the above but targeting the production setup?

[2017-03-10 16:11] rob-c commented on #964
I'm assuming this is due to:
[code]
@egede is it understood why there is a grid-proxy-destroy at the start of this test?
Would it be better that if a test makes a proxy it should clean up after itself?
(I'll admit I never understood how this was setup despite looking into it)

[2017-03-10 17:08] egede commented on #964
I reran the tests with the change mentioned below, but unfortunately it still fails.
 - https://ganga-ci.cern.ch/jenkins/job/LHCb%20-%20Dirac%20certification/lastBuild/testReport/python.GangaLHCb.test.GPI.TestDatasets/TestDatasets/testDatasets/ fails as the LFN it looks for replicas for is not registered in the bookkeeping that it queries.
 - https://ganga-ci.cern.ch/jenkins/job/LHCb%20-%20Dirac%2

[2017-03-13 09:38] fstagni commented on #964
Just a clarification: the content of the DFC (replica catalog) and the Bookkeeping in the "LHCb-Certification" setup are not the same as those in the "LHCb-Production" setup. Mostly, their content is "similar" (about 2 years ago they have been populated with what was the content of their production counterparts), but recent files are not present - and from that moment only what was produced in cer

[2017-03-13 10:32] mesmith75 commented on #963
Why do we want this? As a casual user would one not expect the files returned to only be checked ones?

[2017-03-13 10:33] #945 closed

[2017-03-13 10:37] mesmith75 opened #984 "root/xroot default for LHCb"
Request xroot/root as the default protocol for accessURL within LHCb. It is a pain for people otherwise with some sites not allowing outside access by default.

[2017-03-13 11:31] egede commented on #963
If I understand it correctly, the label UNCHECKED can persist in principle forever, and it is the BAD data that you do not want. I was explicitly asked to make this change, but will ask on the mailing list to ensure that there is a general agreement.

[2017-03-13 12:49] #954 closed

[2017-03-13 14:30] egede commented on #964
If you look at the pilot stdout of 1317332 you see a long set of errors. If I run the job on the production server these errors are not present.

The test is requesting that the output is uploaded to a set of SE's located in the UK. My guess is that proxy used by the pilots on the certification server are not allowed to upload to those SEs.

[2017-03-13 15:17] egede commented on #963
Agreed that this change should *not* be made. Would be good to keep new test cases though.

[2017-03-14 09:36] rob-c opened #985 "Shared Area persistency rebuild"
There was a recent catastrophic loss of shared area persistence for prepared jobs.

Is it worth writing a short script to correctly rebuild the dictionary of shared folders for all jobs in the repo?
(And offer to clean up after obviously lost shared dirs in the past?)

Any user who simply loaded the effected version of Ganga will cause all shared areas to become unaccounted and unlinked simply by

[2017-03-16 12:20] egede opened #986 "SharedFile object impossible to configure"
When attempting to create a `SharedFile` object, a missing import is exposed and the subsequent help text is useless.

[code]

[2017-03-17 11:34] mesmith75 commented on #966
@egede I can see the rationale but I think it is something we need to keep. For example when I was messing around with trying to run stuff on the nightlies I had to ban sites to get them to run.

[2017-03-17 11:35] mesmith75 commented on #964
Can we close this?

[2017-03-17 11:37] mesmith75 commented on #834
This will be taken care of by #982

[2017-03-17 12:52] fstagni commented on #964
Well, technically the task "create the Jenkins slot" is done, but the tests themselves are not fully correct for this setup

[2017-03-17 15:59] egede commented on #966
@mesmith75 The ability will still be there as we can inject commands directly to the Dirac script that is executed. It will just be more hidden.

[2017-03-17 16:06] egede commented on #964
@fstagni To get this working we need some information from your side.

- Why can't we write to the UK SEs?
- Is there a "safe" datafile LFN that we know can be accessed in the long term on both production and certification server?

[2017-03-17 16:31] fstagni commented on #964
- From what I see from the pilot log, the "gangage" could not write anywhere, not only only UK SEs. Does the proxy has a VOMS extension? To debug, can you try a simple `dirac-dms-add-file` from lxplus (targeting the certification setup?)
- Do you need only just one LFN? Does it need to be a DST or any other format? Can you point me to what is actually used in the tests today? (point me to the test

[2017-03-17 17:00] egede commented on #964
When contacting the production server I see

[code]

but when I contact the certification server I see

[code]

If you fix that, I will try again.

[2017-03-17 17:05] egede commented on #964
As to the tests, the majority of them are https://github.com/ganga-devs/ganga/blob/develop/python/GangaLHCb/test/Unit/DiracAPI/TestDiracCommands.py . They all fail as they depend on an initial job created in the `dirac_job` function.

[2017-03-20 09:02] fstagni commented on #964
It should be OK now:
[code]

[2017-03-28 16:46] rob-c opened #987 "GaudiExec.extraArgs not working"
I expect to be able to do the following with GaudiExec:

[code]

But this doesn't work and looks like an error in parsing the string.

(Running without gaudirun)

[2017-03-28 16:51] rob-c opened #988 "Ganga submits impossible jobs"
The OfflineDiracSplitter should remove the SE associated with the banned sites from the possible sites to use in the splitter. Additionally the splitter should abort on submit when there are LFN with no valid replicas available, I'm not sure if there is a proper check for this or not.

This should stop users not knowing why jobs can't run because they've banned a site.
This saves the DIRAC servers

[2017-04-05 09:59] will-cern commented on #539
I would like to come back to this ticket please. It seems we will have this requirement to load the GLITE middleware setup for ganga to work. In fact, I tried disabling it in my gangarc config file by changing the GLITE_ENABLE to False, but then that lead to the error below when starting ganga.

Is there a way to get the config file in a state that allows us to use ganga without these backends? It

[2017-04-06 17:36] mesmith75 commented on #988
Is the first part what we really want? Are the SEs only usable at the site?

[2017-04-06 18:53] egede commented on #988
@mesmith75 In reality I think it is often the storage that has problems and not the CE. So banning the site is a way to ban the SE.

[2017-04-10 16:20] mesmith75 commented on #987
Are you referring to that it wants a list of lists?

[2017-04-11 10:13] rob-c commented on #987
I think #991 fixes this, I don't want to start debugging this but the change looks safe imo. I think users are currently doing: `j.application.extraArgs.append('blah')` which is a bit ugly

[2017-04-18 15:53] rob-c opened #995 "Jenkins security needs looking at"
OK, I've just had to install java8 on the ganga nodes @ CERN and reboot some things. (This whole thing was down with java errors in the logs...).

I've taken a backup of the existing install and have updated everything to clear some concerning security holes. I looked at 2 WN but if people want the rest up they will need to update java on them too.
The `PR Quality` test should be evaluated for it'

[2017-04-20 08:43] mreboud commented on #940
I have the same issue when submitting DiracFiles instead of LocalFiles, though all the file are uploaded. The subjobs run and complete and all is well until I restart a Ganga session. Then the job is treated as corrupted ('IncompleteObject ()').

[2017-04-20 08:50] egede commented on #940
@mreboud Are you using the latest Ganga release? A fix to this problem went into the 6.5.0 release on March 4. However, please use the latest 6.5.1 release. If operating inside an LHCb environment, you simply type `ganga` after login. No need for `SetupProject` or `lb-run`.

[2017-04-20 08:53] mreboud commented on #940
@egede Yes, I am using the 6.5.1 release.

[2017-04-20 09:02] mreboud commented on #940
Here is my error:
[code]
I am working on a MWE...

[2017-04-20 09:08] rob-c commented on #940
@mreboud Did you manage to reproduce this if the job was created in 6.5? There will likely be information loss if not. (The sight of a proxy at the XML layer is extremely concerning that something is broken, however it could simply be that the string is parsed into a proxied object which we're not stripping properly.
Could you attach the broken XML file?

[2017-04-20 09:35] mreboud commented on #940
Ok, here we are (on Ganga 6.5.1):
[code]
When I restart Ganga I have a lot of ERRORs. The interesting part of the XML file is:
[code]

[2017-04-20 09:41] rob-c commented on #940
@mreboud You've stumbled upon a problem in the proxy I fear. I'm very concerned by the sight of a proxy string in the XML.
This probably explains why the XML parser fails to identify the object as inheriting from GangaObject and correctly parses it into complete XML.
I suspect there is something broken in `GangaList` which is failing to descend into iterable objects and correctly strip the proxy o

[2017-04-20 11:14] egede commented on #940
@rob-c Will you look at this or do you expect somebody else to pick it up?

[2017-04-20 11:45] rob-c commented on #940
@egede I could provide a short workaround for `VStreamer` but unfortunately I've not got the time at the moment to go looking through the `GangaList` tests to find how a proxied object has been incorrectly assigned.
(It may have to wait a day or 2 until I've finished some other work)

[2017-04-20 11:53] mreboud commented on #940
@rob-c I am not sure I understand your workaround (I know nothing about VStreamer), but as long as Ganga remains opened, the jobs are doing well, so I can work.

[2017-04-20 11:55] rob-c commented on #940
@mreboud Apologies, the workaround involves a bit of an intrusive hack at the Ganga code which can't be done at runtime. If this isn't too urgent I will see if I can get to this over the weekend.

[2017-04-20 11:58] mreboud commented on #940
@rob-c No problem, I can wait. Thanks.

[2017-04-20 16:31] slavkastefkova opened #997 "Error: XML to-file error for file"
Dear ganga experts:
I submitted a job recently (to download JpsiKst tuples for 2016 for a given magnetic polarity with the newest instructions for ganga setup) and this error occured:
INFO     Job 292.434 Running PostProcessor hook
INFO     Job 292.434 Setting Location of LocalFile: *.root
INFO     Job 292.434 Putting File LocalFile: *.root
INFO     resubmitting job 282.311
INFO     job 282 status

[2017-04-20 16:38] egede opened #998 "Problem with configuration system"
A bug has been introduced in the configuration system which causes out-of-date values to be locked into a users `.gangarc` file. Two instances of this are
   * Starting Ganga as ganga -o'[Logging]Ganga.Lib=DEBUG' will if it at the same time is a release that the user has not used before
   * Values that are changed in `.INI` file are likewise locked into the users .gangarc when the `,gangarc` file

[2017-04-20 16:40] rob-c commented on #997
@slavkastefkova This is related to the machine being under load. Unfortunately Ganga has no protection in place for dealing with this.
Unfortunately the best fix I can suggest is to resubmit the job as it has now likely become corrupt.

It's not clear if this was correctly caught and a write was retried by Ganga again but there appears to be some excessive memory usage due to having loaded many ob

[2017-04-20 21:43] rob-c commented on #998
Ah, this explains some strange behaviour I've seen when running the tests locally I was seeing some changes persisted somehow. Thought it was something I'd done and wrote it off as my setup being messy or broken.

[2017-04-21 09:15] slavkastefkova commented on #997
@rob-c Thanks a lot! I will do this.

[2017-04-21 11:17] mesmith75 commented on #998
I think this was partly introduced by me when I `fixed' the config a while back. I changed it so that the plugin configs are now user values so they would take precedence over the default values.

The problem is that the writing of the config file looks for everything with level 0, i.e. userValues in order to take existing changes from the config file. Of course this also means that stuff defined

[2017-04-21 11:19] mesmith75 commented on #998
I guess the other option is to reorder the bootstrap and write the new configuration file before the plugins and user options are loaded.

[2017-04-21 11:59] rob-c commented on #998
Adding another level sounds good 👍
If you do this can you add the option to reset all configs to their default (.gangarc) values?
I've wanted a way to cleanly reset the config parameters between tests so that there is no risk of contanimating a future test due to a past configuration changes and this would do just that I think.

[2017-04-21 12:29] mesmith75 commented on #998
Sure, although I think there are some functions already there to do that. Perhaps it would be nice to expose them to the GPI.

[2017-04-21 13:14] rob-c commented on #998
@mesmith75 it's possible there is something which does this but I couldn't find a switch that said resetToGangarc somewhere or some equivalent.
(Ideally I'd like a way to completely unload and cleanup/destroy the config between tests as this makes sure we've understood how it is constructed in the first place)

[2017-04-25 11:19] dhcroft opened #999 "Ganga error when accessing metadata from LHCb raw file"
When trying to get information about an LHCb RAW file (/lhcb/data/2015/RAW/FULL/LHCb/COLLISION15/163163_0000000082.raw) ganga has an error with a request submit a bug report.

Steps to reproduce (x86_64-slc6-gcc49-opt from CVMFS if it matters):
lb-run ganga/v603r1 ganga
d = DiracFile(lfn="lfn:/lhcb/data/2015/RAW/FULL/LHCb/COLLISION15/163163_0000000082.raw")
d.getMetadata()

Full error log below:
$

[2017-04-25 11:30] mesmith75 commented on #999
Thanks for reporting this; it looks like a bug. I'll get a fix in.

[2017-04-25 12:19] dhcroft commented on #999
Yes, it was a mistake in the lfn definition (I forgot the run number directory), so d.getReplicas() works properly and returns no replicas but getMetadata() as you say does not check the file exists.

[2017-04-26 10:22] mesmith75 opened #1001 "Cannot load a (very) old job"
I've noticed that I cannot load (and therefore remove) a very old job:
[code]
I guess _lfn got removed from somewhere.

[2017-04-26 10:37] rob-c commented on #1001
That is a very old job indeed at this point. I think it's just a case of changing the format of the wrapper `LogicalFile` class to be up to date.

[2017-04-27 16:14] #997 closed

[2017-05-01 13:07] #999 closed

[2017-05-01 13:28] #987 closed

[2017-05-02 09:09] #988 closed

[2017-05-02 10:04] #984 closed

[2017-05-02 13:26] #998 closed

[2017-05-02 13:27] mesmith75 opened #1003 "Copy config on startup"
Reminder to copy the gangarc generation into the startup.

[2017-05-03 12:44] #327 closed

[2017-05-04 09:33] mesmith75 opened #1004 "Failed GaudiExec builds marked as prepared"
It looks as if the GaudiExec jobs where the build has failed are being left in the prepared state so they subsequently can still be submitted. If the build fails they should be unprepared.

[2017-05-04 10:42] egede opened #1005 "SplittingError is not a GangaException"
The SplittingError defined in `Ganga/GPIDev/Adapters/ISplitter.py` should inherit from `GangaException`. This will prevent the traceback below from being shown to the user.

[code]

[2017-05-05 15:31] #1003 closed

[2017-05-05 16:00] #1004 closed

[2017-05-09 08:48] adamdddave opened #1009 "No Metadata using GaudiExec"
When submitting a job with GaudiExec, upon completion, the metadata is not written to the completed subjob/job. When using DaVinci, or an older version, this problem does not happen. See one such subjob below:

GaudiExec:
[code]

DaVinci:

[code]

[2017-05-09 08:57] mesmith75 commented on #1009
Thanks for reporting this - just looks like a slight omission in the new code.

[2017-05-10 15:05] drmarkwslater commented on #942
So I've done a version of this that should cover the basics and added it to the Twiki:

https://github.com/ganga-devs/ganga/wiki/Release-process

I'll now look into adding the Dev version, removing ancient releases and installing from github.

[2017-05-18 08:14] egede opened #1015 "Insufficient error checking of cached environment"
When the `GangaLHCb` plugin is started it checks if it has used the given `LHCbDIRAC` version before. If not, it writes a file into `~/.cache/Ganga` with a cache of the environment. If this file is somehow corrupt, it can give rise to very odd errors in calls to `DIRAC`. Solution would be to read file at start-up and perform some standard error checking on it.

[2017-05-18 13:24] mesmith75 commented on #1015
What kind of check would be sufficient? We could run a basic DIRAC command after loading it though that takes a few seconds.

[2017-05-25 10:55] mesmith75 commented on #955
So from my tests the splitting already fails if there are duplicate LFNs in the LHCbDataset

[2017-05-25 12:22] #986 closed

[2017-05-25 13:18] #1005 closed

[2017-05-26 11:24] #1001 closed

[2017-05-26 11:26] mesmith75 commented on #614
I think this can be closed.

[2017-05-26 11:26] #614 closed

[2017-05-26 11:28] mesmith75 commented on #653
I think this is fixed so I'll close.

[2017-05-26 11:28] #653 closed

[2017-05-26 13:16] #955 closed

[2017-05-30 08:53] #897 closed

[2017-06-07 20:22] #1009 closed

[2017-06-09 09:34] mesmith75 opened #1023 "report function in API not working"
The report function is giving an error:
[code]

[2017-06-09 10:48] rob-c commented on #1023
@mesmith75 Give me a nudge when I'm next on dast shift and I'll look at bringing this functionality back and restoring the report server.
(Or can we upload this stuff to a cernbox account now and avoid having to host another service for this)

[2017-06-09 15:31] mesmith75 opened #1024 "xroot/root protocols not being sent in correct order"
There is a rather unhelpful error for when a file is unavailable:

[code]

It would be nice to have a bit more information than just the name of the troublesome SE.

[2017-06-09 15:38] egede commented on #1023
To write into a cernbox directory, I think would require authentication against the account. Not sure we could do that in any way without violating CERN guidelines. If a way can be found around that, it is a much better idea though.

[2017-06-11 18:07] rob-c commented on #1023
@egede I wonder are we allowed CERN-Box accounts for the service accounts and they could share a public folder using the cernbox sharing authentication. If this allows uploading files to a folder but only for people who have the shared credentials (which we would embed in ganga) then this sounds safe enough. If there is no way to share a folder so a non-CERN account can write to it then maybe this

[2017-06-12 09:48] drmarkwslater opened #1025 "LHCb uses dirac-proxy-init rather than lhcb-proxy-init"
From what I can see, LHCb users call `dirac-proxy-init` as the LHCb plugin requires the `DiracProxy` credential to run stuff which has `dirac-proxy-init` hardcoded. Just talked to the Grid guys and this is a bad idea as in some cases, this puts RFC proxies in that are no longer supported. They suggest that the best way is to **always** call `lhcb-proxy-init` and the best way to do this that I can

[2017-06-12 10:57] rob-c commented on #1025
This would probably be better dinner through making the object configurable to save reproducing the amount of differences between lhcb and other dirac users.
Where are RFC proxies no longer supported? Is this something we should contact the gridpp dirac devs about?

[2017-06-12 12:48] drmarkwslater commented on #1025
On reflection, I think agree - making `DiracProxy` configurable is probably a better idea as long as things are almost exactly the same with the arguments it takes and the output of it.

As regards RFC proxies, I'm afraid I can't remember. I did hear about this in a WLCG meeting a couple of months ago but can't remember the details. I suspect that it will come along with the appropriate Dirac rele

[2017-06-13 08:55] drmarkwslater commented on #1024
After much messing around with this, this error is not actually as a result of the file not being available but of a but in the code. `getAcessURL` should be called with `['xroot', 'root']` as the protocol rather than ['root', 'xroot']. It's an easy fix I'll try to get in today.

[2017-06-13 09:04] mesmith75 commented on #1024
Huh - that was copied from LHCbDirac - does it work with it being that way round for other sites? Is it just an issue with RAL?

[2017-06-13 09:16] chaen commented on #1024
It is an issue with any castor based storage. The reason is that castor understands 'root' as the 'castor' protocol. in LHCbDIRAC, when root or xroot is required, we always add both, and make sure xroot is before root.

[2017-06-13 09:18] chaen commented on #1024
if protocol is a list:
[code]

Now, this is maybe something we could put on our side as well... @phicharp, any reason not to ?

[2017-06-13 09:46] drmarkwslater commented on #1024
@chaen This code is present in the `executeAccessURL` function, just not in `getAccessURL`. I suppose if there's no issue then moving it makes sense (at least from my naive perspective!) though I don't feel very strongly about it.

@mesmith75 The Ganga issue is that, though the code in https://github.com/ganga-devs/ganga/blob/develop/python/GangaLHCb/Lib/Server/DiracLHCbCommands.py is copied **alo

[2017-06-13 09:48] drmarkwslater commented on #1024
Put in a simple PR that should fix the problem 😄

[2017-06-13 09:53] mesmith75 commented on #1024
Would it still be worth trying to improve the printed error? I assume Dirac gives rather more information.

[2017-06-13 10:04] drmarkwslater commented on #1024
Possible - the actual return from Dirac is:
[code]
and Ganga just selects the `RAL-USER` dict key and returns that. I suppose a similar error could return on other timeouts...?

[2017-06-13 10:16] #1024 closed

[2017-06-13 15:01] egede commented on #1015
Have failed to reproduce the problem.

[2017-06-13 15:01] #1015 closed

[2017-06-14 10:55] rob-c opened #1027 "Missing a splitter for Vanilla DIRAC users"
After trying to help some LSST users in Edinburgh I think we're missing a Splitter which is capable of splitting files on Vanilla DIRAC based upon the location of files at different sites.

It should be possible to make a direct port of `SplitByFiles` from LHCb as it uses sthe `OfflineDiracSplitter` which _should_ be using vanilla DIRAC methods.

I'll try and get around to rebasing this at the end

[2017-06-14 12:29] rob-c opened #1028 "After running a Ganga script the shell window crashes"
After speaking to LSST users, theyr'e seeing ganga crash (exit?) terminal windows after running.

The user reports that running: `ganga someScript.py` and that the script completes as expected but then proceeds to crash the terminal window rather than returning to a bash(shell) prompt.

I'm going to try and reproduce this if possible and if I can debug it. This may be an issue for us or may be a (

[2017-06-14 12:45] egede commented on #1028
@rob-c `ganga` is a Python script, so I can't see how this is possible. When you start `ganga`, you start a new process. What you say is that we on exit manage to kill the parent process. Maybe ask the user to start the session as `bash ganga someScript.py` and then get the exit code from the shell process that is killed.

[2017-06-14 12:51] rob-c commented on #1028
@egede I agree and have confirmed by email that this is what they're seeing. I've asked them to explore running it as `python /path/to/ganga script.py` to see if this still crashes.
I can conceive of how if we try to write something bad to the stdout and the shell is mis-configured this can cause problems. I'm trying to get them to do some legwork but if this is a Cern-VM I may actually ask to get

[2017-06-14 13:01] egede commented on #1028
@rob-c You mean if Ganga would write something like `^D` to stdout. I tried this and can't even get that to work. I tried

[code]

which do not result in the terminal to exit. The only thing I could get to work was

[code]

but that is again driven from the parent process.

[2017-06-14 13:06] rob-c commented on #1028
@egede I'm thinking of more something like IPython printing something clever to do with formatting to the stdout and the shell not supporting certain escape codes correctly.
(It's unlikely but it could be responsible).

I'll try and get them to run a few variations of scripts at some point and see if they can isolate where the problem is happening, currently off-site due to HEPSYSMAN. (If this bec

[2017-06-15 10:41] drmarkwslater opened #1029 "Make how Root is setup for mergers more configurable"
At present, GangaLHCb uses
[code]

And then sets ROOTSYS to this, LD_LIBRARY_PATH to this+/lib and then runs this+/bin/hadd. This fails badly if LHCb users are just running ganga straight (i.e. outside of lb-run) as the compiler (and other things) are not added to the LD_LIBRARY_PATH. This could be completely fixed by doing:
[code]
Instead but there is no config option to completely change the `ro

[2017-06-21 10:51] rob-c commented on #1028
Closing as this is _expected but odd_ behaviour from the gridpp guide. I've proposed changes but don't know how long the change may take to go live.
https://github.com/gridpp/user-guides/pull/76

[2017-06-21 10:51] #1028 closed

[2017-06-27 12:17] will-cern opened #1037 "Cannot submit job - Atlas Release not recognised when using git-based release"
Hello,

Following the simple instructions here: https://twiki.cern.ch/twiki/bin/view/AtlasComputing/SoftwareTutorialxAODAnalysisInCMake to set up a git-based analysis release, an attempt to then submit a job to condor using ganga leads to the following error:

[code]

I will note that the release is not correctly extracted:

[code]

[2017-06-27 12:56] will-cern commented on #1037
The problem isn't there if I setup a svn-based release ```asetup AthAnalysisBase,2.6.3``` so the problem is only there when using the git-based releases: ```asetup AthAnalysis,21.2,latest```

[2017-06-27 13:10] drmarkwslater commented on #1037
Fairly easy to fix - I was only allowing `AthAnalysisBase` to not have `atlas_release` set. Incoming fix to allow `AthAnalysis` as well!

[2017-06-27 13:12] will-cern commented on #1037
Thanks. Out of interest, why is it 'needed' at all?

[2017-06-27 13:14] drmarkwslater commented on #1037
Because originally, if `atlas_release` wasn't set that means there was a problem with getting the Athena environment. I think this is still the case in the majority of setups (though I may be wrong here). It may be something I can relax completely now but I'm loath to do it at the moment

[2017-06-28 14:21] DanJohnsonCERN opened #1040 "Default grid directory names"
Hi,

When Ganga submits to the GRID (in my case Dirac) it is very difficult to connect LFNs with Ganga jobs. This makes managing GRID space extremely difficult and time consuming for the user, and many don't bother, leading to enormous wastage of disk space.

Please can we make a trivial change to include the Ganga job id (not even the subjob, necessarily) in the LFN path? It would be even better

[2017-06-29 08:33] #1037 closed

[2017-06-29 09:03] egede opened #1042 "Problem with XMLSummary"
A `jobs(386).subjobs(3).backend.reset()` gave the following output.

[code]

I suspect that it is related to the recent changes in https://github.com/ganga-devs/ganga/blob/develop/python/GangaLHCb/Lib/Applications/XMLPostProcessor.py .

[2017-06-29 12:15] mesmith75 commented on #1042
Do you know how the job was submitted? Was it with an old version of ganga before those changes?

[2017-06-29 13:02] egede commented on #1042
@VanyaBelyaev The problem is caused by a lacking migration in the `BenderBox` application.

[2017-06-29 13:06] VanyaBelyaev commented on #1042
Hi Ulrik, thank you!
we'll try to fix it asap.
Are there some hints/instructions?   ( @VladimirRomanovsky )

[2017-06-29 13:06] egede commented on #1042
I think that it is a straight forward fix for @mesmith75 to do.

[2017-06-29 13:10] VanyaBelyaev commented on #1042
oh, it would be great:-)  @mesmith75 Mark, I owe you a beer, when you at CERN!

[2017-06-29 13:10] mesmith75 commented on #1042
Yes I think this just needs a small modification due to the change in the postprocessor. I'll take a look.

[2017-06-30 13:37] mesmith75 opened #1045 "Change gangarc questions to minor version"
Reminder to change the `.gangarc` questioning to when the minor version is updated.

[2017-06-30 13:39] mesmith75 commented on #978
Can we close this now?

[2017-06-30 14:52] #978 closed

[2017-07-03 14:45] rob-c commented on #1040
@DanJohnsonCERN I've added some code to #917 to store LFN using the following directory structure:

Eg: for a test job 4 from my repo:

OutputFiles are stored as:
[code]
InputFiles are uploaded as:
[code]

I've added this to store subjobs under the `GangaJob_4` folder which should make managing LFN from the base dir.

This should make sorting data by which Ganga job the file belongs to easier to p

[2017-07-03 14:46] rob-c commented on #1040
Unfortunately we can't remove the extra folders `2017_07/171565/171565261` in the output path as this is required at some level by DIRAC but this solution should give some way of managing things better.

[2017-07-04 09:33] mesmith75 commented on #1042
So this is because the job was submitted with an old version of ganga but finalised with the new version so the necessary environment variable that points to the script for merging the XML summary has not been attached to the application object. I'll add in a check and a default value so that the XML should still be merged.

[2017-07-04 15:52] #1042 closed

[2017-07-04 16:04] #1045 closed

[2017-07-04 17:31] DanJohnsonCERN commented on #1040
Thanks very much, Rob, that's great, this is exactly what I was hoping for. Much appreciated.

[2017-07-04 17:31] #1040 closed

[2017-07-07 09:44] rob-c opened #1052 "Problem submitting (very) large jobs"
An LHCb user is reporting that some of their subjobs (after 500 or so) are losing their master input sandbox during submission.
(Submitting many subjobs using GaudiPython on DIRAC, I've asked them to re-consider their granularity as >2k subjobs is a bit unwieldy even after ganga is taken away as a potential bottleneck)

I plan to make some tests to submit and check 1000 jobs locally and then I pla

[2017-07-07 10:08] will-cern opened #1053 "run-athena-new does not pick up user code"
Hi,

It turns out the way run-athena-new is coded up, it will not pick up the user's code in the worker. https://github.com/ganga-devs/ganga/blob/3b53affeff744a4cf80b83c94bd54142c567d37d/python/GangaAtlas/Lib/Athena/run-athena-new.sh#L35

This is the problematic part.

1. If the user hasn't requested compilation, there should not be any build attempt
2. If the user has sent their workarea with the

[2017-07-07 10:09] will-cern commented on #1053
P.S. if someone explains very carefully how I could checkout ganga and "set it up" so I can use it from command line, I can try playing with this script myself and make a merge request ?

[2017-07-07 10:12] rob-c opened #1054 "Custom platform isn't passed from GaudiExec to DIRAC"
I suspect from a quick example job that the correct platform isn't being translated into the jdl for LHCBDIRAC jobs.

I think this is simply because the JDL doesn't have a `###PLATFORM###` substitute string but it is being passed from the `GaudiExecRTHandler`.

[2017-07-07 10:19] rob-c opened #1055 "remoteDir for DiracFile doesn't work when submitting a job"
There is no mechanism that I can see where a DiracFile in the current code can modify the output JDL structure.

This relates to the _quick fix_ put in for #1040 as there is simply no mechanism behind the scenes in ganga to pass this requirement from a DiracFile object to DIRAC even though DIRAC now supports this.
(I plan to break this out into a small PR which is probably the best way of doing th

[2017-07-07 10:28] mesmith75 opened #1056 "Need a LocalFile splitter for LHCb"
Ganga is asking for a grid certificate even when not submitting to the grid or using DiracFile etc.

[2017-07-07 10:40] rob-c commented on #1056
Do you have jobs which need to be monitored?

[2017-07-07 10:43] will-cern commented on #1053
I had a look at what the grid jobs (http://pandaserver.cern.ch:25085/trf/user/runAthena-00-00-12) do and essentially they just execute the following:

```source usr/*/*/InstallArea/*/setup.sh```

That's all we need to do after calling asetup of the relevant release. That one line I think should replace the whole step of building the code.

Thanks
Will

[2017-07-07 10:43] mesmith75 commented on #1056
No - this was the first use of ganga to submit things to batch.

[2017-07-07 10:53] rob-c commented on #1056
I've just started from a clean repo and submitted a test hello world to LSF and don't see this.
What type of job are you submitting?

[2017-07-07 10:57] mesmith75 commented on #1056
This was a BenderBox.

[2017-07-07 11:05] rob-c commented on #1056
This is potentially a bug in the `GaudiExec` RT handler in that case as I think that is shared and from memory the `BenderBox` app doesn't have anything requiring network code in it.
Are you definitely not submitting something using LFNs?

[2017-07-07 11:06] mesmith75 commented on #1056
Ah sorry - I should have looked more carefully - The SplitByFiles requires a credential. Is there a better splitter for local files?

[2017-07-07 11:07] rob-c commented on #1056
Erm, probably the `GangaDatasetSplitter` https://github.com/ganga-devs/ganga/blob/develop/python/Ganga/Lib/Splitters/GangaDatasetSplitter.py but I've not used it myself so I'd be interested in knowing if it works. I've been recommending it to LSST for a while now but haven't had the chance to submit some test jobs.

[2017-07-07 11:10] mesmith75 commented on #1056
It doesn't work for GaudiExec:
[code]

[2017-07-07 11:13] rob-c commented on #1056
Hmm. You may have to write your own splitter which returns LHCbDataset's for each subjob or get the DatasetSplitter to make LHCbDatasets vs GangaDatasets when it constructs the subjobs.
(Why it's not doing that is potentially a cause for concern as it should be using the proxy based setter given it's constructing a job object, although I suspect it's not)

[2017-07-07 11:13] will-cern commented on #1053
Here's a change I made: https://github.com/ganga-devs/ganga/compare/develop...will-cern:patch-1?expand=1#diff-fd49fd441e1eae5f4eb91230d7f9c19c   .... I tried to test locally but i dont have instructions of how to properly install a github-based copy of ganga, and i got errors about dq2, so I think i need help here!
But I think my proposed changes are needed.

Can we get a hotfix perhaps?

[2017-07-07 11:15] mesmith75 commented on #1056
Yes - it returns `j.inputdata = GangaDataset()`

[2017-07-07 11:22] will-cern opened #1057 "Add option to command line to specify a steering script to execute"
While trying to debug problems with ganga, it would be *very* helpful to be able to override the steering script that ganga uses on the worker nodes to setup and execute the job.

For example, I would like to make modifications to https://github.com/ganga-devs/ganga/blob/develop/python/GangaAtlas/Lib/Athena/run-athena-new.sh ... it would be very helpful if I could take that file, make my changes,

[2017-07-07 12:49] will-cern commented on #1053
Ok I have actually finally isolated the problem with the current run-athena-new.sh ... the rebuild of the source is itself not the problem, but it is unnecessary. The real problem is that the sourcing of the setup script at this line: https://github.com/ganga-devs/ganga/blob/develop/python/GangaAtlas/Lib/Athena/run-athena-new.sh#L42 ... it assumes a particle platform arch, but you need to replace

[2017-07-07 17:21] egede commented on #1054
@rob-c I think this is irrelevant. The wrapper we write is setting up the architecture through an `LbLogin` command. Can this just be closed?

[2017-07-07 19:01] rob-c commented on #1054
@egede I would disagree. We don't know what the LHCbDIRAC pilot does to potentialy prepare the environment before we try to source the correct CMTCONFIG from cvmfs. It's only 2 or 3 lines of well placed code and it means we can rule this out as a potential source of bugs in the future, esp if Marco is thinking of multi-platform payloads.

[2017-07-10 07:32] rob-c opened #1060 "Ganga not monitoring 'submitting' jobs"
I have a feeling this may be a duplicate bug but I can't find anything open if it is.

Ganga doesn't monitor jobs in a 'submitting' state. We briefly did but now this appears to not be working again. I don't know if this is because we now more strongly enforce job state transitions or not but it would be desirable to monitor large jobs which take a long time to submit.

[2017-07-10 14:46] #1053 closed

[2017-07-11 15:51] mesmith75 opened #1066 "Incomprehensible error in DiracFile put"
If a put fails in DiracFile users are getting errors like
[code]

I think we are not properly catching an exception here.

[2017-07-12 15:35] rob-c commented on #1066
This looks like bad use of the new changes to the DIRAC API I put in for 6.3
The code should either be written to ask for a full dictionary back and then process it itself or it should just ask for a value to be returned and let the framework handle raising exceptions correctly (strongly preferred).

It shouldn't mix and match.

[2017-07-12 15:37] rob-c opened #1067 "Ganga doesn't handle string conversion gracefully"
Ganga is mishandling string conversions quite badly atm.

I have been working with an LSST user and we accidentally tried to assign a string to a dataset attribute during debugging and ganga threw an exception which generated a full trace.

1) The full trace shouldn't happen so I suspect the plugin directory is possibly not using exceptions of the GangaException type
2) The error string should pro

[2017-07-12 15:39] rob-c opened #1068 "GangaDataset doesn't work with treat_as_inputfile on vanilla DIRAC"
I've seen some evidence for GangaDataset not respecting the `treat_as_inputfile` attribute when a job is being submitted to the GridPP dirac.

I've not had a chance to go digging about this but it's something that I expected to _just work_ and instead I got a DIRAC error on job submission.

[2017-07-13 10:00] #1056 closed

[2017-07-17 09:55] mesmith75 commented on #1066
I couldn't reproduce this - the only way I can see that you don't get a dict here is if even the try doesn't happen. I think the user has done something truly weird with their credential.

I'll close this.

[2017-07-17 09:55] #1066 closed

[2017-07-17 10:06] rob-c commented on #1066
@mesmith75 Shouldn't there then be a better check for a valid credential in execute (https://github.com/ganga-devs/ganga/blob/develop/python/GangaDirac/Lib/Utilities/DiracUtilities.py#L164) rather than checking if a location exists there should probably be a lifetime/universal check of if the credential is valid and an exception thrown to avoid errors like this.

[2017-07-17 14:12] MannyMoo opened #1069 "AFS-based EOS clients are deprecated"
See [OTG0037759](https://cern.service-now.com/service-portal/view-outage.do?n=OTG0037759).

At least for LHCb, ganga is using
/afs/cern.ch/project/eos/installation/lhcb/bin/eos.select
The quick fix is to change instances of this in ~/.gangarc to
/afs/cern.ch/project/eos/installation/lhcb.old/bin/eos.select

Longer term, it seems the only option is to require and use a local installation of EOS too

[2017-07-17 14:19] mesmith75 commented on #1069
I am not sure this is really Ganga's responsibility. MassStorageFile is designed to be configurable for any generic storage solution - you just point it to what you want it to use.

[2017-07-17 14:39] rob-c commented on #1069
@mesmith75 Does this mean that the CERN/cvmfs site configs need to be changed so that the default location is to something sensible?

[2017-07-17 14:46] mesmith75 commented on #1069
@rob-c Yeah perhaps. Really the solution depends on how you are running eos.

If you are on lxplus then `/usr/bin/eos` will suffice. I guess most installations will be the same.

[2017-07-17 14:48] rob-c commented on #1069
@mesmith75 Would it be good to scan for it in the path and ask the user to 'contact their sysadmin to fix it' if it's not I suppose.

[2017-07-17 15:00] mesmith75 commented on #1069
@rob-c  ok. I'll update the defaults in the config and add a check in the init that the relevant paths exist

[2017-07-18 15:44] egede commented on #1040
retest please

[2017-07-19 05:41] DanJohnsonCERN commented on #1040
I submitted a load of jobs yesterday early morning. When were the changes available?

On 18 Jul 2017 4:45 pm, Ulrik Egede <notifications@github.com> wrote:

retest please

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub<https://github.com/ganga-devs/ganga/issues/1040#issuecomment-316106118>, or mute the thread<https://github.com/n

[2017-07-19 07:43] egede commented on #1040
@DanJohnsonCERN The pull request #1072 is not merged yet. It needs to be merged and then go into a release. Also the default behaviour will stay as it currently us, so look in the release notes (when ready) for how to change it.

[2017-07-19 09:28] DanJohnsonCERN commented on #1040
Out of interest, why is the default not changed? It would make grid storage management much simpler-identification by short lived Dirac IDs is very difficult...
________________________________________
From: Ulrik Egede [notifications@github.com]
Sent: 19 July 2017 09:43
To: ganga-devs/ganga
Cc: Daniel Johnson; Mention
Subject: Re: [ganga-devs/ganga] Default grid directory names (#1040)

@DanJohns

[2017-07-19 09:45] mesmith75 commented on #1040
@DanJohnsonCERN There is quite a clear problem with this. If you have several ganga repositories (as I do when running toys) then the outputs are all going to pile into the same place with the same file names. Therefore I think having this not the default is wise - care does need to be taken.

[2017-07-19 10:18] rob-c commented on #1040
Quoting as for some reason the comment doesn't appear for me on github:
[code]
@mesmith75
I'm slightly concerned by this way of working tbh as you would up with conflicts from MassStorageFile automatic naming too (which imo is worse).
Is the motivation for this performance related or other?
Do you run multiple sets of toys at once in a given month? If not then the new naming scheme should be safe

[2017-07-19 10:52] DanJohnsonCERN commented on #1040
Hi Mark,

I too use multiple gangadirs but i disagree with you. The jobs will always be uniquely identified by Dirac Id - this just adds an extra directory layer and is an extra handle to figure out what work a job might be related to when it comes to clearing out time weeks (let's be realistic, sometimes months) later.

This proposal only adds information, even if some (vastly reduced) ambiguity

[2017-07-19 15:21] rob-c opened #1073 "GangaRepositoryXML can't parse complex dictionaries and doesn't warn of this"
Dictionaries such as in the GenericSplitter don't correctly support GangaObject derrived classes being stored in them when they're flattened into the job description XML.

The result of this is that the user will generate a job which will run and correctly submit but when ganga re-launches it will fail to parse the string representation of a proxied object into a meaningful class.

This throws an

[2017-07-19 15:24] #1067 closed

[2017-07-19 15:28] egede commented on #1073
@rob-c I do not think that a data loss is acceptable. Instead, it would be better if the code would throw an exception already at the creation stage and thus avoid the submission of the job.

[2017-07-19 15:35] rob-c commented on #1073
@egede OK In that case I think we need to recursively check all dictionary objects as they're assigned at the proxy layer.
It's a shame that this isn't supported though as it allows for some interesting workflows and moving files around just using the GenericSplitter.

Did we ever have a prototype for a GangaDictionary or was this never started, I'm sure this has come up in conversation before.

[2017-07-19 15:53] egede commented on #1073
@rob-c We have indeed discussed problems with dictionaries before, but I think that was mainly concerning that our current implementation doesn't allow us to write protect them. No development has ever started in a `GangaDictionary` and given all the problems that we have had with `GangaList` over the years, we should not underestimate the amount of work required.

To implement the check that you

[2017-07-20 09:54] mesmith75 commented on #1066
That is a good idea - although I'm not sure it was the problem in this case.

[2017-07-20 09:59] rob-c commented on #1066
@mesmith75 Is this a bug in DiracFile or the proxy being invalid then?

[2017-07-21 09:12] rob-c opened #1083 "Problems with SmartMerge from LSST users"
I've had some reports that the smart merger tool doesn't naievely do what is expected based on the docs.

Once I narrow down where the differences are I'll either ammend/update the docs or update this bug report if some code needs fixing.

(Looking at the merge tests there is a lot of checking the code doesn't crash but not a lot of checking that the output of the merge is what we expect it to be)

[2017-07-21 09:15] egede commented on #1083
@rob-c Try to ask them for a minimal failing example.

[2017-07-21 09:23] rob-c commented on #1083
@egede I'm in the process of this but I'm juggling quite a bit of other work atm and the person working on this too only has time to work on lsst/ganga work for a few days a week so this will probably be something which is debugged on Monday at the earliest.

I thought a heads up is worth mentioning. Although I think they are just doing a smart merge and passing a `*.txt` filename to the merge too

[2017-07-26 11:07] mesmith75 opened #1089 "Failing nightly"
One of the nightly tests is failing:
python/GangaLHCb/test/GPI/TestDataFiles/TestDataFiles/testDataFilesExternal

This looks to be a certificate issue:
[code]

[2017-07-26 12:30] egede commented on #1089
I am sick of solving certificate problems on the Jenkins box at CERN (where the certificates seems to be spread across at least 6 different places. We are pretty close to having the Jenkins machinery at Imperial  up and running, so I would be tempted to just ignore this.

[2017-07-27 10:50] alexanderrichards opened #1091 "Migrate tests in GangaCore/Utility/Config/tests.py to the testing framework"
[code]

[2017-07-28 11:03] drmarkwslater opened #1094 "Add a maxFiles option to GangaDatasetSplitter"
You should be able to specify the maximum number of files to split over in `GangaDatasetSplitter`, c.f. `maxFiles` in `SplitByFiles`.

[2017-07-28 12:30] rob-c commented on #1094
This has been requested as well by some LSST people in Edinburgh but it's not an essential feature yet

[2017-07-31 09:43] will-cern opened #1096 "ganga 6.6.3 not working on lxplus"
Hi,
I was just testing ganga on lxplus by trying to run ```ganga athena -h``` and the command fails with:

[code]

Here's what I did (for ATLAS user) from a fresh shell:

[code]

Can you please investigate this, it's preventing us using ganga on lxplus?

[2017-07-31 09:58] will-cern opened #1097 "ganga 6.6.3 not able to submit a simple job"
Hello,

I am testing at my local institute a simple job submission that (sort of) worked in previous versions of ganga, but now fails with this error:

[code]

To reproduce, follow the instructions at: https://twiki.cern.ch/twiki/bin/viewauth/AtlasComputing/SoftwareTutorialxAODAnalysisInCMake

Can this please be looked at, because it currently prevents us submitting jobs to batch.

Thanks
Will

[2017-07-31 15:22] drmarkwslater commented on #1096
This has (hopefully!) been fixed by changes to `/cvmfs/atlas.cern.ch/repo/ATLASLocalRootBase/user/gangaGridSetup.sh`

Thanks!

[2017-07-31 15:22] #1096 closed

[2017-07-31 17:48] will-cern opened #1098 "Simple lxbatch job fails with unknown module __future__"
Hi,

Following instructions at: https://twiki.cern.ch/twiki/bin/viewauth/AtlasComputing/SoftwareTutorialxAODAnalysisInCMake

My simple job submits to lxbatch backend but fails with:

[code]

(Also, the ganga monitoring does not seem to recognise that the job failed, it just leaves the state as 'submitted')

This issue is not encountered on a local institute machine when submitting to condor backen

[2017-08-01 09:17] rob-c commented on #1098
At first glance I'd say the environment you're trying to run your job in isn't set up correctly (possibly missing or a wrong PYTHONPATH). Do you have private modifications in your .gangarc or is this broken out of the box for lxbatch jobs for atlas?

[2017-08-01 09:20] will-cern commented on #1098
It's broken out of the box ... the .gangarc was freshly regenerated before I launched the job.

On 1 Aug 2017, at 11:17, Robert Currie <notifications@github.com> wrote:

[2017-08-01 10:04] drmarkwslater commented on #1098
Hi @will-cern  - looking at this now...

[2017-08-01 10:39] #1069 closed

[2017-08-01 11:15] drmarkwslater commented on #1098
Hi Again! So this is another incidence of some conflict of `PYTHONHOME` with the other environment set up by Ganga. @will-cern Could you try setting the following in your .gangarc?
[code]
If that works I'll change the default in Atlas.ini for the release tomorrow 😄

[2017-08-01 11:51] will-cern commented on #1098
Sadly that didn't fix it for me :-(

On 1 Aug 2017, at 13:15, Mark Slater <notifications@github.com> wrote:

[2017-08-01 12:14] drmarkwslater commented on #1098
My bad - make that:
[code]

I've just tried with the example you gave and the job was monitored to completion. If it doesn't work again, could you run ganga and send the output of:
[code]
Thanks!

[2017-08-01 12:40] will-cern commented on #1098
Ok the problem existed between chair and keyboard - I miscopied the line. With that change the job starts to run. BUT ... something worries me here ... the job fails due to a mistake in the python joboptions, but that mistake isn't a problem in local running of the code. Does this mean this kludge/fix is ending up with a different version of python being used on the workers compared to locally? Or

[2017-08-01 14:45] drmarkwslater commented on #1098
Hi @will-cern

So after more investigation, this turns out to be nothing to do with Ganga at all :smile: Could you check you see the same behavior when doing the following? Can you create a file with the following in it:
[code]
and then do:
[code]

For me, it runs fine in the shell but the job then fails with the same `import site` error as above. Note: no mention of Ganga here at all!

[2017-08-01 14:48] drmarkwslater commented on #1098
Just to confirm, without settings up the release, it works fine. Now what is causing this I really don't know. Maybe a question for the Athena devs?

[2017-08-01 15:00] will-cern commented on #1098
I'm confused ... your 'extraopts' thing DID fix this, so can't we go with that?

It might indeed be a separate issue with lxbatch that has caused this, but we have a fix, should we apply it?

On 1 Aug 2017, at 16:48, Mark Slater <notifications@github.com> wrote:

[2017-08-01 15:34] will-cern commented on #1098
With the "none" option you give below, the behaviour of the job is consistent with what I would have expected locally, so I think I prefer that to your previous fix!

Thanks
Will

On 1 Aug 2017, at 17:13, Mark Slater <notifications@github.com> wrote:

[2017-08-01 15:38] drmarkwslater commented on #1098
Rightio - I'll get that into #1084 and it should be in for 6.6.4 :smile:

[2017-08-01 15:52] will-cern opened #1099 "ganga takes a long time to start up on lxplus"
Hello again,

This is a bit of a vague observation - I don't usually use lxplus very much because it is often much slower for me than local institute machines. But I was doing some testing recently for lxplus, and notived ganga takes about 5 minutes to start up for me on there (compared to about 40 seconds on local institute machines).

I ran ganga with ```ganga --debug``` and noticed that there's

[2017-08-02 10:27] #1098 closed

[2017-08-02 14:26] drmarkwslater commented on #1099
@will-cern I also noticed this as I was fixing things in the last couple of days. It should be using a caching mechanism to reduce this problem but that seems to not be happening for some reason. I'm going to have a look at that ASAP to either get this working as it should or put in a fix.

[2017-08-02 15:16] mesmith75 commented on #1025
Fixed by #1047

[2017-08-02 15:16] #1025 closed

[2017-08-02 15:16] mesmith75 commented on #942
Done.

[2017-08-02 15:16] #942 closed

[2017-08-02 15:18] mesmith75 commented on #1055
Fixed by #1072

[2017-08-02 15:18] #1055 closed

[2017-08-03 09:40] rob-c commented on #929
I think this will be fixed largely by #917 hopefully in Ganga 6.7

[2017-08-03 10:02] mesmith75 commented on #893
Can we close this?

[2017-08-03 10:12] rob-c opened #1101 "GaudiExec leaves files in /tmp"
It's been reported that ganga is bleeding files in `/tmp` from GaudiExec.

I suspect this is a minor bug in the RTHandler possibly for Batch but potentially for all backends.

[2017-08-04 14:20] will-cern commented on #1099
guess this problem still exists in 6.6.4 yes?

[2017-08-04 19:44] drmarkwslater commented on #1099
I'm afraid so but I'll look at this early next week so hopefully get something out pretty quickly 😄

[2017-08-05 15:47] willfurnell opened #1102 "How to add an extra attribute to a job?"
Hi,

I'm currently trying to run a GPU based CREAM job using Ganga. In the JDL file one would normally add GPUNumber = 1, however I can't see how to do this using Ganga with the Job or backend-

[code]
[code]
Is there a way I can achieve this?
Thanks,
Will

Edit: I'm using the latest installation in /cvmfs/ganga.cern.ch

[2017-08-07 07:57] drmarkwslater commented on #1102
Hi Will,

Would:
[code]

work? This will put this request in to the 'requirements' part of the JDL. If not, let me know how the JDL **should** look and I'll do some quick dev work 😄

[2017-08-07 15:13] willfurnell commented on #1102
Unfortutunately this doesn't work and prevents the job from being submitted.
Here's an example JDL.
[code]
Thanks.

[2017-08-14 08:06] AliYmn opened #1107 "Loading error"
sudo pip install ganga

<img src="https://i.hizliresim.com/aGbrAB.png"/>

    sudo pip3 install ganga

<img src="https://i.hizliresim.com/5Q163l.png"/>

[2017-08-14 08:27] mesmith75 opened #1108 "PyPi tarball is missing the release notes"
Also missing the templates and doc folders. The `MANIFEST.in` just needs a bit of tweaking. What in these folders do we want to include?

[2017-08-17 14:43] kgizdov opened #1109 "Strange merger behaviour"
I've noticed a peculiar behaviour in ganga on successful jobs. I get the following warning:
[code]
The interesting parts are two - I do not use a merger tool & this always happens on subjob 0 only.

[2017-08-17 15:03] mesmith75 commented on #1109
This is to do with the job metadata.

Which application are you using? Which version of Ganga were the jobs submitted/finalised with.

[2017-08-17 15:04] mesmith75 commented on #1107
The issue seems pretty clear in the first warning and I don't think is related to Ganga. You can try running in a virtualEnv .

[2017-08-17 15:11] kgizdov commented on #1109
These are DaVinci jobs sent to DIRAC, through Ganga 6.6.4. I use `DiracFiles` as my storage.

[2017-08-17 15:13] mesmith75 commented on #1109
When you say DaVinci do you mean the old application or GaudiExec with DaVinci?

[2017-08-17 15:15] kgizdov commented on #1109
I don't think `DaVinci()` method works with latest versions of Ganga, so I mean `GaudiExec()` with DaVinci v42r5p1.

[2017-08-17 15:48] mesmith75 commented on #1109
There is probably a slight mistake in the metadata handling for GaudiExec - I'll take a look. The warning is just when the postprocessor of the master job tries to merge the summary xml files for each of the subjobs to fill in the metadata for the whole job. It can't find the first so it stops. This for sure won't affect the successful completion of the jobs.

By the way, if you do want the metada

[2017-08-18 15:19] #1109 closed

[2017-08-18 15:35] #1094 closed

[2017-08-18 15:55] #1101 closed

[2017-08-21 09:39] #1108 closed

[2017-08-21 11:20] rob-c commented on #1073
@egede After fixing #1103 We may just need to add XML support for a dict type which may already be there. I'll have a look at some point soon but after fixing the proxy to correctly strip itself everywhere this may be a much less technical thing to `fix` to allow for putting Ganga classes within a dict in the XML. (If it turns into too mich work this may drop to a side project).

[2017-08-21 16:22] rob-c commented on #1107
@AliYaman This looks like you're using python3 Ganga doesn't support python3 _yet_

[2017-08-21 21:12] AliYaman commented on #1107
@rob-c I already get the error in both 2.7 and 3 versions...

[2017-08-22 07:58] egede commented on #1107
You are trying to install Ganga on a Mac which is not something that we have experience with. Nevertheless I would expect it to work.

I think at least I understand the error now. When Ganga is installed, the `setup.py` file is obtaining the version number by importing it from `Ganga/__init__.py`.

https://github.com/ganga-devs/ganga/blob/0126d980d25e2bb95dcc36e4f8b84c9799700a5f/setup.py#L14

This

[2017-08-24 09:02] #957 closed

[2017-08-24 14:40] mesmith75 opened #1113 "Local backend won't upload to Dirac"
The postprocessor to upload files from jobs run locally to Dirac is not working.

[2017-08-25 09:39] #1113 closed

[2017-08-30 09:28] rob-c opened #1115 "out of the box dirac troubles"
I was hoping to use ganga to test file storage here at ECDF using the standard gridpp tools.
(plan was to test the `DiracFile.put` to Edinburgh to test if the xrootd storage protocol is working/supported)

Unfortunately I'm seeing the following problems:

From: `/cvmfs/ganga.cern.ch/runGanga-dirac.sh`:
[code]

Also this fails to launch _out of the box_ when .gangarc doesn't exist due to:
[code]

I

[2017-08-30 09:39] alexanderrichards commented on #1115
I couldn't agree more! In fact, I believe I have mentioned this a few times in the past. The out of the box behavior is not very Dirac friendly. As I recall you have to have a config with the RuntimePath set to dirac and the Dirac section already present and pointing to the Dirac bashrc and then you also need to set the defaults_DiracProxy->group attribute.

[2017-08-30 09:55] rob-c commented on #1115
@alexanderrichards I'll check the current docs for how to get a VO certificate  but if the current route is for everyone to go via getting a `gridpp_user` account then we should strongly consider having all of the defaults in place to be able to submit a `hello world` job with these credentials. I'll discuss this with a few people off list here.
I'll get in touch with the LSST users and see what t

[2017-08-30 09:57] rob-c commented on #1115
(After a few minutes of poking at this I'm seeing some strange behaviour compared to how I was expecting some things to work so I'd encourage someone checking the latest dev branch for gridpp dirac support in 6.7.0 before it's released).

[2017-08-30 10:00] rob-c commented on #1115
I'm also seeing:
[code]
(Submitting to the local backend works as expected and job completes so will pass tests).

This is from a clean gridpp DIRAC instance with no LHCb ganga environment variables set so I suspect there could be a broken dependency somewhere within the share directory code which is importing Gaudi/LHCb incorrectly on vanilla DIRAC. (This could be my environment being polluted bu

[2017-08-30 10:03] alexanderrichards commented on #1115
That's a new one on me. But then I haven't tried it in a few weeks and there has been a lot go in since then so I'm afraid I can't say if it's just your environment or not. If I get a chance I'll try again today. Either way I think that it proves the point that things aren't behaving as seamlessly as they should.

[2017-08-30 10:06] rob-c commented on #1115
@alexanderrichards No major rush on the last point it could be some left over thing somewhere in a config file I've just forgotten about, if submitting a gridpp Dirac job works on dev this is just an out of the box config issue

[2017-09-05 10:34] mesmith75 opened #1118 "Add extraArgs to argSplitter"
We need to add a check for the application schema into argSplitter so it can take GaudiExec applications.

[2017-09-07 11:34] #1118 closed

[2017-09-14 07:36] pstaroba opened #1124 "Ganga does not work at lxplus.cern.ch at ATLAS setup"
Dear colleagues,

at lxplus.cern.ch, when I do:

setupATLAS
lsetup ganga
ganga

I get the following crash:

[pstaroba@lxplus030]~% ganga
WARNING  Ganga will soon be depending on Python 2.7. You have Python 2.6 installed. See https://github.com/ganga-devs/ganga/wiki/Python-2.7

*** Welcome to Ganga ***
Version: 6.6.4
Documentation and support: http://cern.ch/ganga
Type help() or help('index') for o

[2017-09-14 08:29] egede commented on #1124
The 6.7.0 release was made yesterday and it included some changes to how proxies are handled in ATLAS. I wonder if this solves your problem.

@drmarkwslater Is 6.7.0 automatically available to ATLAS logins at CERN or is some extra step required?

[2017-09-14 09:31] pstaroba commented on #1124
How can I use ganga 6.7.0 at lxplus using ATLAS setup? 6.6.4  is the default currently - I just checked it.
                                                                                                                   Thank you,
                                                                                                                   Pavel

[2017-09-14 10:01] egede commented on #1124
@drmarkwslater has to reply on that I am afraid ...

[2017-09-14 10:22] drmarkwslater commented on #1124
I'm afraid we need to wait for Asoka to deploy it. I'll prod him and get back to you!

[2017-09-15 10:47] drmarkwslater commented on #1099
This should be fixed now after removing the proxy stuff so am closing

[2017-09-15 10:47] #1099 closed

[2017-09-18 09:42] mesmith75 commented on #1124
6.7.1 has just been released. Could you let us know if that fixes the problem?

[2017-09-18 11:07] mesmith75 commented on #940
I think this has been fixed somewhere along the way so I'll close this.

[2017-09-18 11:07] #940 closed

[2017-09-18 11:58] pstaroba commented on #1124
Hi,
how can I access 6.7.1 at lxplus? Few minutes ago, I done at lxplus026.cern.ch (userid pstaroba):
setupATLAS
lsetup ganga

and I got:
[pstaroba@lxplus026]~% lsetup ganga
************************************************************************
Requested:  ganga ...
 Setting up ganga 6.6.4 ...

 ganga:
  generateGangarc      to recreate .gangarc settings file
   Warning : ~/.gangarc is not prope

[2017-09-18 12:01] pstaroba commented on #1124
Sorry for the strange part of my previous message - I do not, how it happened - I just copied a message from lxplus. Anyhow, it is clear, that ganga 6.64 is still present.

                Thank you,
                Pavel

[2017-09-18 14:17] drmarkwslater commented on #1124
Hi Pavel,

Asoka is in the process of installing this now - maybe a few hours and it should be there!

Thanks,
Mark

[2017-09-18 17:31] mesmith75 opened #1127 "Defunct import"
An import in some exception raising has gone awry:
[code]

[2017-09-19 07:29] pstaroba commented on #1124
Hi Mark,

I can run ganga 6.7.1 at lxplus now. When doing

setupATLAS
lsetup ganga
ganga

I get

[pstaroba@lxplus035]~% ganga
WARNING  Ganga will soon be depending on Python 2.7. You have Python 2.6 installed. See https://github.com/ganga-devs/ganga/wiki/Python-2.7
WARNING  Ganga will soon be depending on Python 2.7. You have Python 2.6 installed. See https://github.com/ganga-devs/ganga/wiki/Pytho

[2017-09-19 07:32] egede commented on #1124
If you recreate your `.gangarc` file (do `ganga -g`), then the `gridProxy` warning should go away.

[2017-09-19 07:39] pstaroba commented on #1124
Hi, I have just done ganga -g at lxplus. I get questions like:

The config option Configuration RUNTIME_PATH with value GangaAtlas:GangaPanda:: in your old .gangarc is not the default. Do you want to copy it to the new .gangarc file ([y]/n) ?

Should I replay y , or n ?

Thank you,
Pavel

[2017-09-19 07:45] egede commented on #1124
I would reply `n`. I imagine that you changed something a lo gtime ago that you have subsequently forgotten about.

[2017-09-19 07:53] pstaroba commented on #1124
Hi,

I logged off from lxplus, then logged on again, and done:

setupATLAS
lsetup ganga
ganga -g

and got:

[pstaroba@lxplus035]~% ganga -g
WARNING  Ganga will soon be depending on Python 2.7. You have Python 2.6 installed. See https://github.com/ganga-devs/ganga/wiki/Python-2.7
WARNING  Ganga will soon be depending on Python 2.7. You have Python 2.6 installed. See https://github.com/ganga-devs/ga

[2017-09-19 07:58] egede commented on #1124
OK, most likely some lines in the `Atlas.ini` that should have been deleted. Should be harmless. I will leave it for @drmarkwslater to fix.

[2017-09-19 07:59] pstaroba commented on #1124
Thank you very much.
                          Pavel

[2017-09-19 09:34] pstaroba commented on #1124
Thank you very much.
                          Pavel

[2017-09-19 09:41] drmarkwslater commented on #1124
Hi Pavel,

Yes - these messages can be ignored and will be removed in future releases. What's a bit stranger is that now if you start Ganga on Python 2.6, you seem to have every message repeated 3 times. That should be filed as a separate bug though and also, should go away if you setup an Athena release beforehand that gives you Python 2.7.

Thanks!

mark

[2017-09-19 09:41] #1124 closed

[2017-09-22 12:24] rmatev commented on #1029
what is the workaround?

[2017-09-22 12:38] rmatev commented on #1029
For reference, here's the hack that I did
[code]

[2017-09-28 13:40] mesmith75 opened #1129 "Slow submission speed"
I have been looking into how long it takes jobs to submit to DIrac.

In total it is about 5 seconds for Ganga, 8 seconds for Dirac on the command line and about 0.1s for the API in a standalone python session.

For us most of the time is taken for the imports of Dirac etc at the start of the `dirac-script.py`, about 4-5s and then dirac.submit(j) is less than a second.

@egede suggested we put seve

[2017-09-29 10:03] pkoppenb opened #1130 "number of running subjobs column stays empty"
Dear ganga folks,

In ganga I can do len(jobs(1554).subjobs.select(status="running"))

so I added a column that lists me the number of running subjobs in my monitoring:

'run':'lambda j: len(j.subjobs.select(status="running"))'

but that comes out empty. Am I too ambitious or did I do an obvious mistake?

Thanks

Patrick

[2017-09-29 10:36] egede commented on #1130
@rob-c Can you have a look at this.

[2017-10-02 06:34] roiser opened #1132 "Calculate cpu work needed by user analysis job and provide it to LHCbDIRAC"
As a followup on the discussion session 29 Sep '17 on LHCb user analysis I would like to suggest to have a means to calculate the cpu work needed by each user analysis job. I post below the first two comments from the mail thread from Philippe and myself.

[2017-10-02 06:34] roiser commented on #1132
One point I want to add to the list below of improvements is that we should also look into the possibility to calculate the CPU work needed by a user job such that it’s not killed because it reaches the end of a queue. If we manage this - even only very course - we could increase the user job success rate by a good percentage (currently 75% of user jobs succeed vs ~ 95 % overall success rate).

[2017-10-02 06:35] roiser commented on #1132
Philippe:

This is some information that is provided by DIRAC for each job in the “parameters” and it is trivial for ganga to get the average, min and max for a set of jobs. Up to users to add a margin. IIRC this is provided already in some form by ganga, but should be confirmed by experts…

AFAIU most users split by number of files, therefore it would be reasonable to try and get the value for “r

[2017-10-02 07:45] egede commented on #1132
It it unclear to me how this will work. A user submits a job and we get some information back about CPU time used per event/file. When the user submits a new job, should we then use that information to set the limit? But we have no knowledge about if the new job does the same thing, so I do not see how this is meaningful.

[2017-10-02 12:40] mesmith75 commented on #1054
Apparently this is still an issue - people can't run the latest Brunel on the grid.

[2017-10-02 12:45] egede commented on #1054
I thought that the LHCb grid at the moment only allowed a single architecture, `x86_64-slc6-gcc49-opt`, and that anything else would fail.

[2017-10-03 14:13] #1129 closed

[2017-10-04 15:42] roiser commented on #1132
I believe one possibility would be if the user submits many jobs of the "same kind" Ganga could submit the first 10 or so and from those calculate a weighted average (e.g. per input file size). the user then can take this number and plug it into the remaining 90% of his jobs (with some margin). Would this be possible?

[2017-10-04 19:56] egede commented on #1132
You could have a system where jobs with above say 500 subjobs would submit the first 10 subjobs and then submit the rest with an adjusted CPU time (if the first 10 finish without errors). It would give a higher efficiency; from the requirement of success and from the modified CPU time. However, there is a big BUT. The system will only work if the user keeps the Ganga session running and I think it

[2017-10-05 08:52] rmatev commented on #344
Is there progress here?
Is there a workaround I can use to preserve directory structure on the WN?

[2017-10-05 12:11] rmatev commented on #1132
This might be better done by Dirac:
- user submits a job with 500 subjobs
- a few run with VERY high priority (randomly selected or based on input data size)
- if sufficiently many succeed, Dirac modifies the CPU requirement of the rest and queues the jobs as usual
- if none succeed, priority goes to -Inf, ...

[2017-10-05 13:29] egede commented on #1132
@rmatev This will not work as Dirac sees all the subjobs as individuals (due to the lack of bulk submission in LHCb).

[2017-10-05 13:40] rmatev commented on #1132
Sure, nothing will work without some (significant) development. While ugly, even now jobs can be logically grouped by looking at the name.

[2017-10-10 15:29] mesmith75 opened #1133 "Create replica of uploaded GaudiExec files"
We should request a replica of the uploaded GaudiExec files when we submit a job and maybe get rid of one in the postprocessor.

[2017-10-11 09:15] rob-c commented on #1133
@mesmith75 This sounds like something which should be managed on a per-file basis. We used to request multiple replicas of most files uploaded to the grid by a job but (if memory serves) this was turned off and replicas reduced to 1 at a request from LHCbDirac due to space concerns.

[2017-10-11 09:15] rob-c commented on #1130
@egede OK I'll see if I get a chance to look at this but I'm a little swamped with other work atm :(

[2017-10-11 10:04] rob-c commented on #344
@rmatev The best work-around I know is to submit a bash job which before the user-code runs extracts a tarball which has been in the input-sandbox or an input-LFN. It's a bit of an ugly hack but it works.

(aside)
I had planned to implement this after fixing adding proper support for wildcards and automatic DiracFile name support (which is now in).
Most of the difficult legwork has been done for t

[2017-10-12 14:10] mesmith75 commented on #1054
This was fixed by a change to LbScripts (from v9r1p10), so I'll close this.

[2017-10-12 14:10] #1054 closed

[2017-10-16 14:48] mesmith75 opened #1137 "Jenkins is using and old version of Dirac"
I think Jenkins is using an old Dirac version.

[2017-10-18 09:02] pstaroba opened #1139 "Problem with submitting jobs at grid"
Dear colleagues,

I have the following problem: starting from 30.6.2017, I am not able to submit jobs at grid from lxplus(for the analysis of 2012 8 TeV data I am using Root Core in AnalysisBase 1.5.13 using EventLoop).

   It looks like that the problem was triggered by the installation of new versions of ganga at lxplus. The error messages are very complex.

The submission at grid was working la

[2017-10-23 08:08] po10 opened #1141 "submitting without a proxy beforehand trigger infinite loop"
Hi,

Dan (see message below) has j.parralel_submit=True and seems to get stuck in Ganga asking for a gridProxy infinitely. If I get time this afternoon I will test myself.

Cheers,
Patrick

Hi,

My grid proxy expired, and Ganga tries to refresh it, but then gets stuck in a cycle of constantly asking to refresh. This has happened a few times to me now, so I wonder if it is a known bug?

Dan

Upload

[2017-10-23 08:36] rob-c commented on #1141
Someone needs to check if the cached values are locked and cleared when a new proxy is created.
I suspect the simple caching isn't completely lock-safe and is resulting in many requests to create a new credential as they are reading the cached information that says the credential is not valid.

I suspect there is a minor bug in the cache locking from #917 specifically in https://github.com/ganga-d

[2017-10-23 08:55] mesmith75 commented on #1141
@rob-c  there is indeed a bug. The new credential file gets created but ganga doesn't update so still thinks its expired.

[2017-10-23 09:00] rob-c commented on #1141
@mesmith75 I suspect it's https://github.com/ganga-devs/ganga/blob/develop/python/Ganga/GPIDev/Adapters/ICredentialInfo.py#L53 from reading the code.
It may be enough to add `or 'mcache'  not in self.cache` to the check here as I think this is a bad check when the credential has just been created.

[2017-10-24 12:34] mrwillia opened #1143 "Ganga not closing automatically after running in batch form"
I have a simple ganga script which downloads Dirac files from a given job (ganga-getfiles.py - code below). I have been calling this in a bash script which loops over several jobs and performs a few simple operations, like this (code simplified for clarity):

(where the python script ganga-getfiles.py is just a few ganga commands to grab root files from the grid for this job $j).

I have observed

[2017-10-24 12:35] mrwillia commented on #1143
The 'insert code' function doesn't appear to work, and .py attachments are not supported - I hope that the code is clear.

[2017-10-24 12:53] cvazquezs opened #1144 "Un-friendly errors when there is a mis-configuration"
I tried to run a LHCbTask (script below) and I got the following error:

[code]

At a first glance I had literally no idea on what was going on. I think this kind of

errors should raise a more friendly and understandable error message which can provide useful feedback for the users.

Thanks!
Carlos

[code]

[2017-10-25 08:32] rmatev opened #1146 "Batch submission with LHCbDataset is too slow"
Batch submission with LHCbDataset is extremely slow compared to using Dirac. This is likely the case for any backend other than Dirac.

Splitting is fast, but then for each subjob time is wasted in two dirac calls per input file in the LHCbDataset. You can see that from a stack trace below.

The following diff speeds things up by overriding the generic `GangaDataset` method and making a single cal

[2017-10-25 08:44] rob-c commented on #1146
@rmatev I would be weary of calling DIRAC for the accessURL for _all_ LFN in a large list this can get stuck when a single file lookup takes a long time or the call can timeout if a user is asking for too many files at once.
I tried to work around problems like this in the splitter by having large calls broken up into blocks of 500 LFN at once which turned out to be less prone to communication pro

[2017-10-25 08:51] rmatev commented on #1146
Oh my diff should certainly not go in as is.

Not sure I explained the issue very clearly. For each subjob, the `catalog.xml` generation is very fast, but afterwards there are two dirac calls per input data file, which surely must be redundant.

[2017-10-25 08:59] rob-c commented on #1146
@rmatev I think there was at some point some level of caching within the DiracFile object which was intended to keep the result of `getAccessURL` I suspect that may either be broken or dropped as it was a bit of a hacky solution but yes I think some caching of the metadata of an LFN within ganga to reduce calls elsewhere is always good.
Tbh I think only an extra line or 2 to break up the LFN list

[2017-10-25 09:02] rmatev commented on #1146
But I still think this is not right. There should be no need for **any** dirac call after the `catalog.xml` generation.

[2017-10-25 09:11] rob-c commented on #1146
@rmatev Indeed. That is why there should be some caching in the DiracFile class of metadata already collected from DIRAC in the current session.
I think the `DiracFile._storedReplicas` is the object which keeps a cache of the result of calls like this. But I suspect some code isn't properly making use of this to look for AccessURLs.

[2017-10-25 09:20] rmatev commented on #1146
It's not really about dirac calls or caching. I think there should be no LFN->PFN translation happening after `catalog.xml` is generated. Or else, why is the catalog made and shipped in the first place?

Probably, this
[code]
should just give LFNs and not do LFN-PFN translation and give PFNs.

[2017-10-25 10:30] rob-c commented on #1146
Hmm, any additional calls here are likely due to the fact that the handling code is written to pass the PFN addresses to the job in some manner. I suspect (but it's been a long time since I looked at this code) there is some `data.txt` or equivalent made which contains a flat list of PFN of the files the job is written to access.
It should be possible to disable this being generated as I suspect t

[2017-10-26 08:22] #1141 closed

[2017-10-26 08:30] mesmith75 commented on #1139
Hello,
I am not an ATLAS expert but the grid utilities for ATLAS were removed from Ganga 6.7.0 so any version older than that should be fine.

I don't know about the ATLAS releases but from our side we have not removed anything. @drmarkwslater will know more.

[2017-10-27 15:05] goi42 commented on #1107
by the way, I'm experiencing this same problem on my Mac.

[2017-11-01 09:43] rmatev opened #1149 "Rename LCG.CERN.ch to LCG.CERN.cern"
Right now the `LHCb.LocalSite` is wrongly defined in `/cvmfs/lhcb.cern.ch/lib/GangaConfig/config/6-3-0/GangaLHCb.ini`:
[code]
`git grep` reveals a couple of examples to be changed.

The workaround is of course to add `LocalSite=LCG.CERN.cern` under `[LHCb]` in `.gangarc`.

[2017-11-01 13:46] afortiorama opened #1151 "problem with ARC backend"
I submit a job

[code]

the job gets correctly submitted but cannot be sync'd

[code]

there is a spurious 'h' in front of the CE FQDN.

After running the arcsync command manually with the right hostname things are still not well.  I get the needed sync and finally get some output back but the job failed with this error message

[code]
jobs.sh is a simple bash script and when I submit with arcsub

[2017-11-01 14:47] afortiorama commented on #1151
The bash script error was a red herring forget about that. But the arcsync problem  is still there.

[2017-11-01 15:05] mesmith75 commented on #1151
Thanks, looks like a bug here: https://github.com/ganga-devs/ganga/blob/develop/python/Ganga/Lib/LCG/Grid.py#L1033 .
We can get rid of that `h`

[2017-11-01 16:09] egede commented on #1151
The use of "blame" shows that a fat finger put in an extra "(" when the new credential system was added. I guess the problem is that we do not have any ARC tests.

[2017-11-01 19:02] afortiorama commented on #1151
Hi,

when is the next release?

cheers
alessandra

[2017-11-02 11:18] mesmith75 commented on #1151
Hopefully that fix will get merged today and so be in the DEV version on CVMFS tomorrow. A release should follow in the next week - there are a few other things that need sorting.

[2017-11-03 09:49] #1151 closed

[2017-11-03 11:01] afortiorama opened #1153 "Dirac tags"
Hi,

Dirac is introducing the concept of tags so that the user can select specific resources like GPU by selecting a tag. Some of the local users using ganga for direct job submission could be redirected to use dirac if it was possible to add the tags to the JDL produced by ganga. Is it something you are already looking into?

cheers
alessandra

[2017-11-03 15:12] mesmith75 commented on #1153
We haven't looked into it but we certainly should. Do you have an example JDL that we could look at?

The j.backend.settings may be sufficient for it.
Thanks

[2017-11-03 16:32] afortiorama commented on #1153
the JDL parameter is literally called 'Tags'. So when it is set it should be something like

Tags = "gpus"

I don't know the exact syntax for multiple tags.

cheers
alessandra

[2017-11-03 16:43] alexanderrichards commented on #1153
Since we don't write the JDL ourselves but rather use the DIRAC API we will need to see what the relevant method for adding this JDL option is.

After a brief look I believe the following is what we need:
[Job.py#707](https://github.com/DIRACGrid/DIRAC/blob/integration/Interfaces/API/Job.py#L707)

As the method name starts set... you should be able to already use this by using the Dirac backend.se

[2017-11-06 11:54] mesmith75 commented on #1149
Thanks for bringing this up. There is a JIRA to copy the update to CVMFS:
https://sft.its.cern.ch/jira/browse/LHCBDEP-3564

[2017-11-07 16:36] will-cern opened #1154 "Output files created in a subdirectory are not successfully copied at end of job"
Hi,
I've discovered that if I do:

[code]
I think my job creates ```myDir/myfile.root``` successfully, but the ganga steering script tries to copy the output to ```$HOME/myOutput/myDir/myfile.33.0.root``` (33 is the job number, 0 is the subjob number) and that fails because the directory ```$HOME/myOutput/myDir``` doesn't exist.

I think this should be a simple fix ... the ganga steering script ne

[2017-11-12 22:10] chrisburr opened #1156 "ArgSplitter uses final argument for all subjobs"
When submitting jobs using `ArgSplitter`, all subjobs are submitted with the arguments of the final job (`[109]` in the example).

### Example:
[code]
[code]

Follow up to the "Failure to upload output data from Executable job" thread on `lhcb-distributed-anaysis`.

[2017-11-13 10:04] chrisburr commented on #1156
I also see the same if I use `GenericSplitter`

[code]

[2017-11-13 12:35] rob-c commented on #1156
This is not the case with the local backend at least:
[code]

Could this be a bug in the new bulk submission to DIRAC?

Rob

[2017-11-13 15:10] #1149 closed

[2017-11-13 15:10] mesmith75 commented on #1156
Potentially, although SplitByFiles appears to be working at least.

[2017-11-13 15:43] rob-c commented on #1156
@mesmith75 This is a feature used by quite a few lsst people I have worked with. Is the bulk submit turned on for all users?

[2017-11-13 15:50] egede commented on #1156
@rob-c Yes, it is turned on by default. So mitigation while we consider the bug is to stay with the old version or disable it in your own `.gangarc`.

[2017-11-13 16:20] mesmith75 commented on #1156
You'll have to go back to an old version I'm afraid - it is just for ArgSplitter.

[2017-11-13 16:35] chrisburr commented on #1156
@rob-c `subjob.application.args` appears to be correct in all cases for me, but it doesn't correspond to the arguments which are actually used.

@egede #1150 appears to prevent me from disabling `blockSubmit`.

Using `ganga --ganga-version DEV` results in:
[code]

Maybe this is another bug that needs reporting?

I've submitted my test job with an `6.6.4`, I'll report back when it runs.

[2017-11-13 16:39] mesmith75 commented on #1156
Sorry, that is a stupid bug - I've just fixed it.

I've found the source of the other bug. It doesn't affect things submitted with split by files fortunately but it will affect those that have different inputsandboxes for each job, as for argsplitter. If I have a moment I'll commit the fix.

[2017-11-13 16:45] chrisburr commented on #1156
@mesmith75 Thanks, I've found a workaround for what I'm doing so I'm not affected for now.

[2017-11-14 18:23] #1156 closed

[2017-11-16 18:18] mesmith75 commented on #1153
@afortiorama As @alexanderrichards says using
[code]
Should work for what you want. Could you let us know if it does?

[2017-11-18 22:45] biplabdey opened #1162 "GenericSplitter() w/ attribute = 'inputfiles' doesn't copy files to WN"
Hi,
I want to split a job according to several input root files. I've successfully used GenericSplitter() w/ attribute = 'inputfiles', and values set to the list of the root files (DiracFiles from a previous job actually).
In my script, I first dump the list of files on the local worker node for a given subjob and it used to show the root file being present locally. Now it doesn't.
I attach a simp

[2017-11-20 12:35] rob-c commented on #1162
This sounds like: https://github.com/ganga-devs/ganga/issues/1156
Do you still have problems with the dev version of ganga which I think has https://github.com/ganga-devs/ganga/pull/1157 applied?

[2017-11-20 19:34] mesmith75 opened #1163 "Tests to python 2.7"
Any objections to moving the tests to python 2.7? I had to upgrade a Jenkins plugin to get the release tests to work but it need python 2.7.

[2017-11-21 21:41] cjustin88 opened #1164 "Accept wildcard for --inPfnListFile"
It would be convenient to be able to wildcard expand the argument given to --inPfnListFile, e.g:

```ganga athena --local --inPfnListFile="./*" --split=12 --outputlocation="$HOME/ZdZd/ganga" ZdZdAnalysis/analysisJobOptions_r21.py```

where the current directory contains many text files, each corresponding to a dataset directory (e.g. `mc16_12345.txt` contains the absolute paths to the files `mc16_

[2017-11-21 21:49] cjustin88 opened #1165 "Appending (or renaming) output file with strings from input file"
It seems that ganga appends `.X` to the output filename of each (athena) subjob, where .X is the subjob number. Is it possible to append more information to the output filename? E.g. extract "NthField" from the filename of the input ROOT file or of the input list?

E.g.

`mc16_12345.top.stuff.txt` results in outputs named `my.output.root.12345.top.<subjob#>`

in a similar way to how `-NthFieldAsOu

[2017-11-24 10:54] mesmith75 commented on #1163
One test now fails: https://github.com/ganga-devs/ganga/blob/develop/python/Ganga/test/Unit/Utility/TestUtilitiesExecuteOutput.py #L44
The cause is in the execute :
[code]
Does anyone know how to fix this - I can reproduce the problem running Ganga in my own virtualenv but not when using the LHCb python installation.

[2017-11-24 11:18] JiboHE opened #1166 "Automatic resubmission broken in the latest Ganga?"
It seems the automatic resubmission is broken in the latest Ganga, all the (LHCb) jobs ended with “submitting”. The error messages is attached below (with 6.7.2 - DEV)

[2017-11-24 11:29] mesmith75 commented on #1166
Thanks for reporting this. Another oversight - we duplicate too much code.

[2017-11-24 11:43] rob-c commented on #1166
@mesmith75 I've been contacted by a few people about this, what's the status of the testing of the Dirac submission code? Can the tests be run manually before release?

[2017-11-24 11:53] mesmith75 commented on #1166
it should be in the nightlies but there are certificate issues at the moment. We really need to get them working again - I think the hope was to move to the Imperial testing system before the end of the year to make that simpler but I don't know where we are that.

[2017-11-24 13:57] alexanderrichards commented on #1163
which version of python do you use in your virtualenv?
[code]

[2017-11-24 14:39] mesmith75 commented on #1163
This can be fixed by putting a soft link in the lib folder of the virtualenv. Why it is not there already I don't know. I guess we need to do the same on the Jenkins machine @egede

[2017-11-24 19:04] mesmith75 commented on #1163
It worked on my lxplus but not on Jenkins - the link is already there and `LD_LIBRARY_PATH` already points to it so something else is going wrong.

[2017-11-28 15:27] #1166 closed

[2017-11-28 15:57] mesmith75 commented on #1163
I think the Travis-CI also needs to drop python 2.6 - there are some requirements that no longer work.

[2017-12-01 14:39] mesmith75 commented on #1107
This should be fixed now.

[2017-12-01 22:49] mesmith75 opened #1172 "DiracFile not updating list of replicas when replicated"
When a DiracFile is replicated, the new replica doesn't show up when `getReplicas()` is used.

[2017-12-01 23:07] #1172 closed

[2017-12-02 13:59] goi42 commented on #1107
It is not fixed for me. The installation completes, but I cannot launch:

[code]

[2017-12-02 14:25] goi42 commented on #1107
Moreover, I think this may have broken my anaconda installation. I haven't installed anything else in the past couple days, and a couple days ago it was fine. Now, when I just try to start a notebook:
[code]
It also seems to have hijacked my previously installed pythons. `ipython` now connects to the Anaconda version instead of my system version. `python2` now connects to the Anaconda version inst

[2017-12-03 15:07] #1163 closed

[2017-12-03 20:13] mesmith75 commented on #1107
What happens inside a virtualenv?

[2017-12-04 09:59] rob-c opened #1174 "Proposal for improving handling of broken (sub)jobs"
Hi all,

There are some users again reporting that the monitoring isn't picking up DIRAC jobs with subjobs in the `submitting` state.

I can't think of any meaningful way that _any_ of the current backends can deal with monitoring a job in the `submitting` state. I could be wrong, but to me if the job is in this state in the XML it indicates that something failed.
If a (sub)job has been loaded fro

[2017-12-04 10:37] mesmith75 commented on #1174
@rob-c I think that is a good idea - we already force the job to fail if some subjobs failed to submit.

[2017-12-04 11:50] goi42 commented on #1107
My virtualenv seems to have broken when I wasn't looking, but in a Conda environment, I get the same thing.

[code]

[2017-12-04 11:56] rob-c commented on #1107
@goi42 Are you trying to run Ganga natively in OSX? This is known not to be supported due to problems running on HFS: https://github.com/ganga-devs/ganga/issues/302
Apologies if you're not I was just glancing at your errors.

If you want to run ganga on OSX I'd advise doing so within a centos based docker container as installing on OSX had problems due to ganga having 2 folders with the same case-

[2017-12-04 12:03] goi42 commented on #1107
Yes, I am running on macOS:
<img width="767" alt="screenshot 2017-12-04 13 02 54" src="https://user-images.githubusercontent.com/15774838/33551970-78d6edf8-d8f3-11e7-9344-5db76306b61b.png">

[2017-12-04 12:12] rob-c commented on #1107
Then this is about 50% / 50% as to whether this will _ever_ install correctly from when I went back and checked this. git can't cope, tar can't cope and pip and homebrew get even more confused when trying to do case sensitive work on HFS.

Avoiding pointing flaws in filesystems I would just say that it is known and I've mentioned for a while that we don't currently support either OSX or Cygwin/nat

[2017-12-04 12:22] goi42 commented on #1107
Usually, I am submitting DaVinci jobs. With the way my Docker is set up, I can use it to run DaVinci, but not Ganga; I am very much a neophyte to Docker though, so I'm not saying that wouldn't work for me. This thread seemed to indicate I could install it locally though, which would be my preference.

[2017-12-04 12:29] rob-c commented on #1107
If you want to run ganga with the lhcb stack you need to run it within a deployed container such as https://hub.docker.com/r/hepsw/cvmfs-lhcb/

From within a container of this flavor you can run DaVinci/ganga or anything else lhcb on OSX with a minimal amount of overhead.
(If you want to get AFS support in docker I suggest bind-mounting an afs mount from OSX into the container otherwise you will n

[2017-12-04 12:30] rob-c commented on #1107
https://lhcbqa.web.cern.ch/lhcbqa/674/can-i-run-lhcb-software-on-a-mac?show=679#c679

[2017-12-04 12:38] goi42 commented on #1107
haha yes, thank you Robert. DaVinci works for me within docker via `lb-run`, but I haven't figured out how to run Ganga. It's definitely there as part of cvmfs, but it doesn't run in the normal ways and I haven't taken the time to figure it out. (Steps included here for reference; I know this isn't really what this thread is about.)

[code]

[2017-12-04 12:42] rob-c commented on #1107
Ah, OK, This should be relatively simple.
I can suggest the commands to run to make this available. It appears the docker container needs updating to take into account a new cvmfs repo being relied on by LHCb.

I'll try and get back to you on this soon, I'm a little busy right now to start up a new container and go through how to run it. However I think `pip install ganga` _might_ just work, but s

[2017-12-04 14:51] goi42 commented on #1107
While I have `pip` installed via Anaconda on my Mac, it does not work within Docker. (It doesn't recognize the `pip` command.) Another thing I haven't taken the time to figure out.

[2017-12-05 10:06] goi42 commented on #1107
Oh, I should also point out that `pip install ganga` mucks with `ipython`. `which ipython` _before_ install reveals Anaconda's version. `which ipython` _after_ install reveals the system version, despite using Anaconda's `pip`. Seems like this would be relevant even for non-Mac builds.

[2017-12-05 13:22] mesmith75 commented on #1107
I think we should look to implement #302 now then? I assume other users (not LHCb) would appreciate it. I don't think there is any major development work ongoing so disruption should be minimal.

[2017-12-05 13:39] egede commented on #1107
@mesmith75 I think that is in general a good idea. It is not obvious from the above discussion if this will solve all problems but it is another step in the right direction.

[2017-12-06 12:13] #1133 closed

[2017-12-07 11:17] twhyntie opened #1176 "Using GridPP DIRAC with Ganga"
Hello! Long time no see 😄

I'm trying to use Ganga with the GridPP DIRAC backend, and following the instructions [here](http://ganga.readthedocs.io/en/latest/UserGuide/UsingDifferentBackends.html) I see there's now a script for doing that (I'm using a CernVM which has CVMFS access) - nice!

After adding the `[defaults_DiracProxy]group = gridpp_user` to `.gangarc`, I run the script and get the foll

[2017-12-07 11:50] rob-c commented on #1176
Hi again, I fixed this in a PR: https://github.com/ganga-devs/ganga/pull/1155
There is functional code needed for the GangaDirac plugin which is in the wrong part of the codebase (GangaGaudi).
This needs to be corrected in head.

The first set of errors: `ERROR    unknown configuration section: [defaults_GridProxy]` etc are _harmless_ but if you either remove the offending sections from your .gang

[2017-12-07 12:00] twhyntie commented on #1176
Thanks.

FWIW these:
[code]
appear to be added by the DIRAC script - they aren't in my local `.gangarc` (but yes, they don't seem to affect anything after that...).

So should I wait for the merge before trying again?

Cheers, T

[2017-12-07 12:08] rob-c commented on #1176
@twhyntie The cvmfs area has needed updating for a while now I suspect. I'll wait to hear back from the ganga devs before pushing my fix but until then can you try adding:
[code]
to your .gangarc

You may hit a problem trying to use the dirac_ui instance on cvmfs, I don't know if it's been updated or not.

[2017-12-07 12:33] twhyntie commented on #1176
No joy 😢 - same errors...

Same errors when using `/cvmfs/ganga.cern.ch/runGanga.sh` - is this expected, i.e. are all of the CVMFS scripts out of date and/or tied to Gaudi?

[2017-12-07 12:47] rob-c commented on #1176
@twhyntie I think the scripts are likely outdated I don't know who maintains them.

You are probably following the tutorials to setup a local dirac_ui and point ganga to that in the config.

Are you comfortable running ganga from git? In which case you can just grab the PR and run from there. (Not quite as easy as it once was I appreciate)

[2017-12-07 14:21] twhyntie commented on #1176
Is it @drmarkwslater who does the CVMFS updates?

[2017-12-07 15:03] twhyntie commented on #1176
Okey dokey!

So, I installed ganga on my CernVM using the `fixGaudiBadness` branch.  This was non-trivial, not because of Ganga, but because the CernVM is shipped with Python 2.6.6 (SL6 dependency for yum etc. bla bla bla). _However_ this was quite handy as it forced me to find out how to actually get 2.7.X running on the CernVM - and there's a nice guide [here](https://danieleriksson.net/2017/02/

[2017-12-07 15:31] mesmith75 commented on #1176
Can we close this?

@twhyntie The DEV version on CVMFS will be updated at 1am so from tomorrow you should be able to use that if you like.

[2017-12-07 15:37] twhyntie commented on #1176
@mesmith75 Sure - and thanks again for your help.

(I'll give the CVMFS scripts a try tomorrow too but actually the 2.7 thing has solved a few other things for me too!)

[2017-12-07 15:37] #1176 closed

[2017-12-08 10:05] twhyntie commented on #1176
(Have tried running with the `/cvmfs/ganga.cern.ch/runGanga[-dirac].sh` script today and still get Gaudi errors when submitting with DIRAC - but I can run with the version I have so not a showstopper at the moment, will leave the issue closed.)

[2017-12-08 10:56] rob-c commented on #1176
These scripts i think only use the latest stable version. There may one that users the latest DEV version of ganga which should have now been updated against this issue

[2017-12-12 10:38] mesmith75 opened #1180 "Sharedir decrementing not working for subjobs"
The sharedir for jobs with subjobs is not being indexed properly. Removing a job with subjobs doesn't remove the sharedir - for a job without subjobs it works fine.

[2017-12-12 10:44] rob-c commented on #1180
@mesmith75 Sounds interesting, does the counter on the sharedir reflect the number of subjobs+1 when the parent job is fully prepared?

[2017-12-12 10:55] mesmith75 commented on #1180
@rob-c Yes. I think its just that the subjobs don't explicitly get remove when the master does, so the counter only goes down by 1, not 1+nSubjobs. Should be a simple fix.

I wonder if that also means that the subjobs are persisting in the repository?

[2017-12-12 10:59] rob-c commented on #1180
@mesmith75 I would have assumed the subjob XML are being removed correctly.
From a quick look the method at: https://github.com/ganga-devs/ganga/blob/develop/python/Ganga/GPIDev/Lib/Job/Job.py#L1731 just needs to be expanded to iterate over subjobs and a simple test written to check the behaviour

[2017-12-12 11:30] mesmith75 commented on #1180
@rob-c Actually I don't think that is the issue. That bit behaves as it should.

I think the problem is that jobs loaded from disk apparently don't have any subjobs, i.e. `len(self.subjobs)` returns 0.

[2017-12-12 11:36] rob-c commented on #1180
Hmm, this object should be a SubJobXMLList instance which should be returning the correct length. If this is wrong then there may be a bug there.

[2017-12-12 11:42] mesmith75 commented on #1180
So they type is right:
[code]

[2017-12-12 11:46] rob-c commented on #1180
Hmm, my instinctive reaction is to blame `stat(self._jobDirectory).st_ctime` for failing.
(I forgot to mention this may be a standard list object if the job wasn't loaded from disk).

Does this work if you do all of this in one session? i.e. split, prepare/submit and remove the job without restarting ganga?

[2017-12-12 11:47] mesmith75 commented on #1180
yes - its only jobs loading from disk that have the issue.

[2017-12-12 12:31] rob-c commented on #1180
Huh, a quick modification to `Ganga/test/GPI/newXMLTest/TestSJXMLGenAndLoad.py` to explicitly test the length of the subjobs works as expected. And this is what I see in ganga normally...

Does the above test work on the system you're having problems on?

[2017-12-12 12:33] rob-c commented on #1180
Ah, I see you may have spotted and fixed the bug 👍

[2017-12-13 10:01] #1180 closed

[2018-01-04 15:53] #302 closed

[2018-01-07 18:44] #906 closed

[2018-01-10 14:46] apingault opened #1185 "Cannot display config in interactive session"
On the latest Ganga installation on lxplus (6.7.4) something appears to be broken when you want to check any of the config fields from within the interactive session.

Only typing `config` at the prompt will return the list of fields as usual but trying to access any of them will result in the following exception:
[code]

I just quickly tried it works fine on an old 6.4 ganga installation.

[2018-01-10 14:51] egede commented on #1185
Thanks for the report. I reproduce this.

As a mitigation, you can still see the value of the individual fields if you just press tab again, It works for other fields.

[2018-01-10 15:15] apingault commented on #1185
Thanks for the tip, indeed looking at the subfields using tab is working, I didn't tried that before. Probably why this was not reported before.

[2018-01-10 17:23] JiboHE commented on #1166
It looks like the problem is still there. I still see it with the job submitted last Saturday (so probably Ganga 6.7.4 or 6.7.3).

WARNING  ---------- error in user/extension code ----------
WARNING  Traceback (most recent call last):
WARNING    File "/cvmfs/ganga.cern.ch/Ganga/install/6.7.4/python/GangaDirac/Lib/Backends/DiracBase.py", line 457, in master_auto_resubmit
WARNING      if self._block

[2018-01-10 18:11] apingault opened #1186 "locations attribute not updated for LCGSEFile"
Whenever I run a job with `j.outputfiles` set to some `LCGSEFile` the `LCGSEFile.locations` attribute is not updated when the job is finished: it stays empty.
I then have to manually go check the guid of the files in the `__postprocesslocations__` file in the output folder. This is quite tedious and don't think it's the intended behavior if I look at the `setLocation` function in [`LCGSEFile.py`](

[2018-01-12 10:31] mesmith75 commented on #1185
I *think* this was introduced when the extra config level was added (`userConfig`). We just need to add in an extra level layer to the print out

[2018-01-12 15:02] egede commented on #1186
@apingault Can I ask in which connection that you use `LCGSEFile`? The bug itself looks quite easy to fix, but I would like to make sure that what you do is actually optimal (as `LCGSEFile` is pretty much deprecated).

[2018-01-12 15:21] apingault commented on #1186
I'm running jobs on the `CREAM` backend (with the 'calice' vo). In the past I was using bash scripts with `lcg` commands to be executed on the WorkerNode to transfer files. For various reasons the upload (WN->grid storage) script would often fails and my files would be stuck on the WN.

I saw that the `LCGSEFile` seems to be able to do the download/upload of the files by itself and probably better

[2018-01-15 07:54] egede commented on #1186
Nearly all job submission to the grid go through a workload management system such as DIRAC, and as far as I know, submission directly to grid sites through cream was discouraged.

Nevertheless, we are happy to fix the bug you reported and I am pleased that the rest is still working.

[2018-01-15 18:00] mesmith75 opened #1191 "Message caching not working"
Ganga isn't caching logging messages when it should.

[2018-01-16 08:43] rob-c commented on #1191
This is a long standing issue with the logging I think. If you want to investigate this I'd have a look at the use of MemoryHandler passing https://docs.python.org/2/library/logging.handlers.html#memoryhandler https://github.com/ganga-devs/ganga/blob/develop/python/GangaCore/Utility/logging/__init__.py

We may want to consider _not_ flushing errors to the user unless it's from the main thread as y

[2018-01-16 08:50] rob-c commented on #1143
Hmm, this looks like the batch shutdown method isn't propagating the force flag correctly to the queues system somewhere when attempting to close, managing the worker threads on shutdown has historically proven tricky.

[2018-01-16 21:09] egede opened #1196 "CERN firewall closed access to ganga-ci"
The firewall exclusion at CERN that exposed port 443 on ganga-ci.cern.ch has expired. I have asked the network operators at CERN to reopen it. As machine is registered to Matt Williams, I hope this will not be too complicated.

The integrations tests will not work until this is solved.

[2018-01-17 10:42] egede commented on #1196
I have now managed to request the opening of the firewall through the correct web form. Now waiting for a decision.

[2018-01-26 08:36] egede commented on #1196
On the third iteration of getting the firewall opened for inbound connections on port 443 (https)

1. Kernel updated and all security patches applied (automatic process was stuck)
2. Jenkins updated to latest version
3. Jenkins plugins that do not report configuration system changes updated
4. Java changed to use openjdk as that is the only one updating automatically

Is now waiting for another se

[2018-01-29 12:28] natfarleydev opened #1199 "Condor() backend fails trying to copy file to node"
When I submit a ganga job via the `Condor()` backend, I get the following error

[code]

where `ntuple_maker_mc_12103091_2011.py` is my DaVinci submission script.

I believe the offending lines are:
* https://github.com/ganga-devs/ganga/blob/47825403bdb9f6d6123d1b6745751f0711318d15/python/GangaCore/Lib/Condor/Condor.py#L288-L290
* https://github.com/ganga-devs/ganga/blob/47825403bdb9f6d6123d1b6745

[2018-01-31 10:21] rob-c commented on #1199
After checking with the user this is a bug being thrown from the job backend or part of the wrapper for a `GaudiExec` application and so should be treated as a bug in the Condor code.
Obviously fully testing this without a condor backend is tedious but it may be good to try and submit a job with the submit stage noop-ed away in testing.

[2018-02-01 11:39] twhyntie opened #1200 ""insecure string pickle" error preventing successful jobs reaching completed status when DiracFile used in output"
Hello,

I'm running Ganga from the `development` branch (checked out yesterday) and trying to put my output from the job(s) onto a storage element with `DiracFile` (my output will ultimately be too large for using the sandbox).

The job runs and completes fine, and the output is written to the SE (I can check all of this from the DIRAC web portal). However, my Ganga instance can't seem to do the p

[2018-02-01 13:33] rob-c commented on #1200
@twhyntie I think the dev branch may be the best solution as I don't know if my DIRAC-UI fix went in or not to a release yet.

It looks like you're getting an incomplete pickle stream here at best guess.

First stab at helping. You're using Python 2.7 which seems a little brave. I don't know what the status of DIRAC/Ganga is with Python2.7 but have you tried using Python 2.6.

Failing this I would

[2018-02-01 14:18] twhyntie commented on #1200
Thanks @rob-c

I'm using a CernVM, which I believe is CentOS 6 derived. I'm using Python 2.7 because I couldn't get Ganga to build in 2.6 as there were some package dependencies that were no longer supported in 2.6 (I can't remember which ones at the moment). Plus there's the little message when Ganga starts kept telling me that I should move to 2.7 😉

So I can't easily try with 2.6 at the moment.

[2018-02-01 15:46] twhyntie commented on #1200
Update!

#GoodNews: printing `stdout` revealed the source of the error, which was an understood issue with the gfal tools (`dirac_ui/bashr` sets some bad environment variables, but it's easily fixable by setting up a grid UI properly - which I wasn't).

#BadNews (well, #IndifferentNews): I don't understand why the `stdout` message that told me this threw that particular error, so yeah I think ther

[2018-02-01 17:08] #1191 closed, assigned to nobody

[2018-02-01 20:30] #1143 closed

[2018-02-01 22:41] #911 closed

[2018-02-02 08:43] mesmith75 commented on #1137
Sorted with new Jenkins.

[2018-02-02 08:43] #1137 closed

[2018-02-02 08:51] #1185 closed, assigned to nobody

[2018-02-02 09:59] mesmith75 commented on #995
I think we can close this now we have moved the testing to Imperial.

[2018-02-02 10:03] #995 closed

[2018-02-02 14:36] rob-c commented on #1200
@twhyntie  OK, great to hear this could be solved externally,

I think it's worth keeping this open and wrapping the sensitive code to return a more sensible error to help users in future. I'm going through doing some polish in my spare time and this is the sort of thing that could do with a sensible fix.

[2018-02-05 10:54] afortiorama commented on #235
I think this can be closed. It hasn't happened again with the new versions.