[2016-06-24 13:46] egede opened #614 "Clear instructions for creating a release"
When @milliams was away for a few days (for a happy occasion) it became clear that the rest of us did not know exactly the full release process (or didn't know where to look for it).

[2016-06-24 13:49] milliams commented on #614
Indeed, I plan on writing some full documentation to explain how it is done. Some of it is still in a slight state of flux so I didn't want to pin it down too early but it's become better recently.

In summary, it can all be done in two clicks with the exception of running the legacy tests, installing to AFS and doing the LHCb manual (basically all the lxplus/AFS bits).

[2016-06-24 16:19] will-cern opened #615 "Support for SLURM backend in GangaAtlas"
Hello,

What would need to happen to get SLURM (https://rc.fas.harvard.edu/resources/running-jobs/) supported as a backend for athena jobs?

Cheers
Will

[2016-06-27 09:25] drmarkwslater opened #616 "Review getter/setter methods on Schema Items"
We seem to have at least 2 ways of applying getters and setters or callbacks to schema items, the `attribute_filter_blahblah` stuff and the `checkset` value (which is broken and hardly used either). This should be reviewed properly and a single solution settled on and documented.

[2016-06-27 09:36] rob-c commented on #550
Fixed in 6.1.22 which will be released shortly

[2016-06-27 09:36] #550 closed

[2016-06-27 09:38] rob-c commented on #616
I'd be happy to see both torched tbh, is there any real need to keep these around?
If there is a need then great, but can't most/all of this be done through different methods?

[2016-06-27 09:50] drmarkwslater commented on #616
All of these seem to be different ways of doing exactly the same thing so they certainly need to be consolidated. However, we should take a bit of care as these things are still used (to a certain degree) and there are certain cases we may want to support as well.

[2016-06-27 10:17] rob-c commented on #616
I agree there may be cases, but I can't motivate any in a particularly strong way. We can do most of this by intercepting calls to the getter I would imagine and do away with code which is fragile at best.

How many places are these 2 mechanisms used?

[2016-06-27 11:06] drmarkwslater commented on #616
Not a lot from a very quick grep but the `attribute_filter` stuff is used in `Jobs` apparently. It should be checked properly but it shouldn't be a major problem to replace with a single implementation.

[2016-06-27 13:21] drmarkwslater commented on #569
Fixed by @milliams with this commit 090df24

[2016-06-27 13:21] #569 closed

[2016-06-27 13:51] rob-c opened #617 "TestSJIDName::test_b_jobResubmit Keeps stalling"
This is bad behaviour as this test has dramatically different behaviour on the Jenkins box to all of my other systems I've tested it on... (in develop!) I'll open a PR to fix this in a few minutes

[2016-06-27 13:59] drmarkwslater commented on #617
Is this a lockup then? What does the thread_trace say on the Jenkins box? If this is failing on develop but was passing previously then that's a bit worrying for 6.1.21...

[2016-06-27 14:01] rob-c commented on #617
This doesn't fail on the Jenkins box but locks up on all of my other test systems.

It appears the subjob isn't failing as expected which is causing an unexpected lokup in Job.py  (very bad imo)

but the actual problem I think is caused by not implicitly defining a configurable which is different between LHCb and Core (the handling of wildcard files in outputfiles when no match is found)

[2016-06-27 16:16] #617 closed

[2016-06-28 10:14] egede opened #621 "GaudiRun application fails if there is not input data"
If there is no input data for a GaudiRun job, the data.py file is not created. Subsequently the data.py file is expected at runtime causing a failure.

[2016-06-28 10:16] egede opened #622 "GaudiRun application prepare step"
In the prepare step of the GaudiRun application, there is a "make clean" which should *not* be executed. Also the build.<arch>/ganga directory should be completely cleaned (but the directory itself should be left in place).

[2016-06-28 10:19] egede opened #623 "Files are copied to inputdir when not required"
When submitting a GaudiRun application (and quite possibly others), large files are copied from the shared area into the job specific inputdir. This is a waste of both file space and time. It should be ensured that files created in the inoutdir are truly files that are unique to the job in question.

Due to the size of the files packed up for GaudiRun applications, the problem needs resolving soon

[2016-06-28 10:23] rob-c commented on #622
@egede I've been looking into this (and other related tasks I'll open issues for).

Are we trusting that a user won't do something crazy such as build their code for gcc49 and then wrap it up in a gcc48 target and submit it? I don't know if there is any mechanism built into the build scripts from LHCb to prepare for this?

I'm thinking of adding an option to turn the make clean on/off but I'm a li

[2016-06-28 10:25] rob-c opened #624 "GaudiRun support for different environments"
I plan to add an additional `LbLogin.sh` call to the appropriate places in GaudiRun as well as exporting the CMTCONFIG to allow for different architectures of the same code to be made and submitted to different backends.

[2016-06-28 10:27] egede commented on #624
So for the schema, just add it like 'platform = x86_64-slc6-gcc49-opt', exactly as done for the existing `Gaudi` applications.

[2016-06-28 10:28] rob-c opened #625 "GaudiRun add support for streaming MassStorageFile to the Local and Batch backends"
I plan to add some method to construct the `data.py` file which is run with the job to have the appropriate streaming protocol and location for MassStorageFiles to allow them to be used with Local/Batch jobs.

I'll need to add a check to make sure users don't submit grid jobs with this filetype as they should make use of DiracFile to get their data on these WN.

[2016-06-28 10:29] rob-c commented on #624
Yep that's the plan 👍

[2016-06-28 10:30] rob-c commented on #623
I don't think I see this for Dirac type jobs could this be due to the backend(s) doing this transfer. I've not looked into this much but yes we need to track this down and fix it.

[2016-06-28 10:31] mesmith75 opened #626 "DiracFile on Dirac backend with GaudiRun app"
The output DiracFile does not work when submitting to Dirac backend.
It is fine for the Local backend and LocalFile submits ok to both Local and Dirac backend.
The error is:
[code]

[2016-06-28 10:31] egede commented on #622
It all goes into different `build.<cmtconfig>` directories, so it would require the user to manually copy stuff around. I do not see a risk.

I suggest to simply take it away. This is exactly as it is for the current `Gaudi` applications. You might want to add a `make` method to the application class as it would make it easier for users to explicitly request a `make clean` or whatever they might r

[2016-06-28 10:36] rob-c commented on #622
I plan to expose a method to allow users to issue commands to the project from the class (I'm not sure if I do yet).

My thinking is that I don't know how the CMake handles placing the binaries between environments.
If no gcc48 binaries can get into the gcc49 folder then I think my concerns go away. (I'm probably being a little paranoid as I've not used the new CMake stuff yet).

I've removed the

[2016-06-28 10:36] alexanderrichards commented on #626
interesting, has the DIRAC API changed?

[2016-06-28 10:37] egede commented on #625
@rob-c No, I do not think we need these checks. The use case is in principle a valid one. Behind the scenes, the file should be transferred though the input sandbox (or there is an expectation that it is accessible on the remote end) depending on the users configuration.

[2016-06-28 10:37] rob-c commented on #626
@mesmith75 What application are you using? This could be serious enough to warrant a fix for 6.1.21 if there's a bigger problem here.

[2016-06-28 10:38] egede commented on #623
@rob-c Yes, I think the first step is to try to replicate the problem. I observed it together with Mark Whitehead when using `GaudiRun` for a `Local` job.

[2016-06-28 10:41] egede commented on #626
@rob-c I believe this is with the new `GaudiRun` application.

@mesmith75 Can you compare the lines above to the lines that are written if you submit an old-style `DaVinci` job?

[2016-06-28 10:47] alexanderrichards commented on #626
These lines are written to your job script in your inputwork dir

[2016-06-28 10:47] rob-c commented on #625
@egede I'm not certain I trust that I know which version of `data.py` the user will get. I would assume they'll get the one that we make which is shipped as part of a tarball which is extracted just before the job runs but if they end up with the `data.py` from LHCbDIRAC (if any) then this would confuse things.

I'm not planning to stop users doing this if they want but a 1 line warning that they

[2016-06-28 10:50] rob-c commented on #626
@alexanderrichards I suspect this is a bug in the GaudiRun app which I'm working on for other issues anyway

[2016-06-28 11:01] egede commented on #625
@rob-c I agree.

[2016-06-28 11:13] mesmith75 commented on #626
Sorry, I forgot to say, this is for testing the new GaudiRun app.

[2016-06-28 11:17] mesmith75 commented on #623
@egede Do you mean the copying of the cmake tar from the shared directory into the input sandbox tar? I see it on my local job too.

[2016-06-28 11:20] egede commented on #623
@mesmith75 Yes indeed. We should trace down where that copy is happening.

For the Interactive, Local and Batch backend (that all expect a shared filesystem) , the most optimal would actually be to unpack the tarball directly from the shared area (so not even copy it to the working directory of the job).

[2016-06-28 13:05] mesmith75 commented on #626
For the relevant line there is just a change in the capitalisation compared to an old job:
j.setOutputData(['DVNtuples.root'],OutputPath='',OutputSE=[],replicate='')

[2016-06-28 13:09] alexanderrichards commented on #626
as I recall this is a difference that had to be reflected in the LHCb package as LHCbDIRAC has this different capitalisation to vanilla DIRAC. I assume therefore that this bug has been introduced in some of the cleanup work for DIRAC. It's unfortunate that there is this difference between LHCbDIRAC and vanilla but if your looking at this @rob-c it might be worth checking that the situation is stil

[2016-06-28 15:00] mesmith75 commented on #626
@alexanderrichards I think you were right. In GaudiRunAppHandlers I switched dirac_outputfiles = lhcbdirac_outputfile_jdl(outputfiles, False) which comes from regular Dirac ( GangaDirac.Lib.RTHandlers.DiracRTHUtils ) to dirac_outputfiles = lhcbdirac_outputfile_jdl(outputfiles) from LHCb Dirac (GangaLHCb.Lib.RTHandlers.RTHUtils) as per the other LHCb applications and it seems to work for me.

I thi

[2016-06-28 15:16] alexanderrichards commented on #626
indeed this is what I recalled. Alas unless we can get them to change their API we are stuck with this.

[2016-06-28 15:35] rob-c commented on #626
This is an API bug in GaudiRun's handler, fix in another PR...

[2016-06-29 08:58] rob-c opened #631 "Gauss Support is needed for GaudiRun"
Support for Gauss and the GausSplitter is needed in GaudiRun.

The original implementation pickles the resulting python file and passes it to `gaudirun.py`. This means an additional level of work is needed to find out what exactly (and in what order) various options are passed to the running Job.

I'm aware of at least 1 minor bug in the original Gauss+GaussSplitter implementation which has been f

[2016-06-29 09:00] rob-c opened #632 "GaudiRun returncode in the case of GaudiPython style jobs needs checking"
I'll mock up a test job and see if the returncode from running the opts file against Python with:
```python -c myWrappedOptsFile.py```

This should be correct but I'm keen to check there isn't any higher level of return code mangling or interception going on around the users code.

[2016-06-29 09:20] #621 closed

[2016-06-29 09:20] #622 closed

[2016-06-29 09:20] #624 closed

[2016-06-29 09:20] #626 closed

[2016-06-29 09:24] rob-c opened #633 "GaudiRun support for complex splitting of jobs"
I'm still not certain how best to proceed with supporting the workflow of sending unique files per inputfile with each subjob.

I'm assuming that at some level there is the same inputdata being run over (if any) and in my mind this most likely means checking support for IGangaFile objects in the inputfiles within the GenericSplitter.

This has been reported working but it's worth formalising an ex

[2016-06-29 09:54] rob-c opened #634 "Improvements for Im3Shape support"
As part of 6.1.22 I plan to look into:
- [ ] Finishing Localhost support for `Im3ShapeApp`
- [ ] Trying to run the same `Im3ShapeApp` script on all WN and changing to an argument based job submission so that everything is faster. This should be relatively simple and offer some advantages.
- [ ] Support for the Batch backend for better testing (should come for 'free' with Localhost support).
- [ ]

[2016-06-29 13:13] rob-c opened #635 "Fix master index flushing"
Some users are ending up in a very bad situation with many, many jobs causing Ganga to be unusable due to extremely long startup times caused by having to load many index files from disk.
This is exacerbated by events such as user hitting Ctrl+C or dropped connections and the master index not being re-generated correctly until shutdown.

At the moment all we do is remove it upon startup but it wou

[2016-06-29 16:44] rob-c commented on #531
I think we can open another issue if we plan to support extending kerberos tokens automatically for afs etc, but for the moment we don't (or this has been broken for a significantly long time).

As for jobs appearing broken this has been fixed at some point by removing the master_index which is corrupt by definition if shutdown didn't occur. There is another issue open to improve this

[2016-06-29 16:44] #531 closed

[2016-06-29 16:47] mesmith75 commented on #623
The files from the shared directory are being added to the input sandbox list in Ganga/GPIDev/Adapters/IBackend.py at about line 250:
            inputsandbox.extend(
                itertools.imap(lambda f: f.name, sharedir_files))
These are then included in the tar for the input sandbox files.

I'm not sure why this is only a problem for the GaudiRun app though for local running. Is the list of

[2016-06-29 16:51] rob-c commented on #446
@pseyfert Would you be able to have a go at trying this with the new `GaudiRun` application (in the released version v601r21 of Ganga hopefully due out tomorrow).
This application _should_ support working with the new lb-dev project directly. If it doesn't I'm keen to know what feature(s) are missing for this use-case so I can add them.
Thanks, Rob

[2016-06-29 16:59] rob-c commented on #623
If the job is being submitted locally (or to a batch system).
I would naively expect that we can do away with adding them into the sandbox and simply inject a few lines of code into the script which is run on the WN to extract/copy the files there.
(Or copy them directly to the WN from a request on the WN)

Wouldn't it make more sense to copy all shared files to the WN if the WN has access to the

[2016-06-29 17:01] rob-c commented on #623
The shared directory should be cleared and removed when there are no longer any references in the `prep.metadata(0)` dict object. However I think we may have a problem with auto-cleaning/removing at least these folders as per a few users emails and an issue I've opened.

[2016-06-29 17:11] rob-c commented on #73
OK, the GaudiRun application has quite a few of the initial features and I'm opening specific tasks highlighting individual features it now needs so I'm going to close this shortly (probably with 6.1.22).
@alexpearce Would it be possible for someone (probably more familiar with LHCb software than myself) to test the new Application against the tutorials and work out if anything is missing?
(Aside

[2016-06-29 17:22] egede commented on #623
@rob-c While slightly less efficient than unpacking directly from the shared directory, I agree that this is more portable.

[2016-06-29 17:22] rob-c opened #638 "Have the CERN webpage refer back to github"
Hi all,

I've been asked by a few people what is the official homepage of Ganga atm?

I propose to put a link at the top of the old CERN page to the github address as well as the readthedocs.
(The CERN page still refers to cvs and savannah.)

Are there any objections or should I add a link to point users to another page?

Thanks,

Rob

[2016-06-29 17:23] egede commented on #623
Irrelevant for this issue.

[2016-06-29 17:24] egede commented on #638
@rob-c Yes, please add a link. Or maybe even better get rid of the page completely and auto-forward.

[2016-06-29 17:25] rob-c commented on #538
There have been substantial changes in the monitoring and code communicating with DIRAC in 6.1.21 so I'm closing this for now as I suspect most of people's issues with DIRAC have likely been addressed.

[2016-06-29 17:25] #538 closed

[2016-06-29 17:54] rob-c commented on #638
@egede I've added some useful links and kept the old page as backup for now, happy to make any changes

[2016-06-29 20:11] pseyfert commented on #446
will try to translate the test job. Reading the `help(GaudiRun)`, I have two questions:
 1: does `myOpts` also accept lists? (don't have a test for that at hand)
 2: I miss the [`extraopts`](https://lhcbqa.web.cern.ch/lhcbqa/68/can-pass-conddb-tags-davinci-options-file-from-within-ganga) attribute (which the test i posted above uses)

[2016-06-29 21:33] rob-c commented on #446
@pseyfert
Ah, Re `myOpts` for now I think it doesn't accept lists. I can add an issue for this.
(This may break everything but the final version in Ganga 6.1.22/6.2.0 we should have a stable API which will allow for more complex jobs like this.)
Did `extraOpts` offer anything over passing multiple opts files in `myOpts`?

I'm understanding this to mean (pseudo-code but I think this explains what I

[2016-06-29 21:35] rob-c opened #639 "Add support for lists of opts files in GaudiRun"
Add support for multiple files through lists in GaudiRun. Test if Schema needs to change and allow for combining of the opts files in order to run complex jobs.

[2016-06-29 21:36] egede commented on #446
@rob-c Yes, I think the `extraopts` filed should be added as well. It is often used as a quick way to change the property of a job. It could also be used as a very neat way to create an ensemble of jobs with different options using the `ArgSplitter`.

[2016-06-29 21:59] pseyfert commented on #446
Hi,

for the first half, yes I expect that `myOpts=[file1.py,file2.py]` does `./run gaudirun.py file1.py file2.py data.py`.

(I hope `data.py` in `myOpts` wouldn't lead to `gaudirun.py data.py file2.py data.py` with .py files being overwritten on the worker node)

for `GaudiPython` I must admit I'm glad to not use this anymore since a few years. I always thought it would do `python file.py`, didn'

[2016-06-30 07:26] rob-c commented on #446
@pseyfert The naming of the `data.py` file comes from LHCbDIRAC on the grid (we can't change this and this has been the case for a long time) and from ganga when running on batch/local/other.
I'll try and add a check to throw an error during submit if a user has a file with this name as part of their job.

@egede How about I add an `extraOpts` attribute as a list of `IGangaFiles` which would allow

[2016-06-30 08:04] egede opened #640 "Add extraopts attribute to GaudiRun application"
Created as a separate issue from #446.

@rob-c I would really like to keep the `extraopts` as a string. If you want to test a job running on just 1000 events, it is very easy to add this in as a string, rather than having to write a file with a single line. Now behind the scene, `Ganga` will of course have to write it into a file. To make it work that you can split a job on the `exraopts` and inde

[2016-06-30 08:05] egede commented on #446
Created the `extraopts` discussion as a separate issue #640

[2016-06-30 08:19] egede opened #641 "Rename myOpts to options in GaudiRun application"
The name `myOpts` in the `GaudiRun` application is too colloquial and doesn't fit with the general naming in `Ganga`. It should just be renamed to `options`.

[2016-06-30 08:34] rob-c commented on #640
@egede OK I can see some sense in having it as a string (I'm keen to encourage adoption rather than fix problems in older apps).
But I'm beginning to think in this case it's a good idea to make the myOpts able to accept a list in this case or have another attribute as I'm expecting it would be very useful to break out opts files which are getting complex into smaller files which can be mixed/match

[2016-06-30 08:35] rob-c commented on #641
This will provide a nice break between the in-development and stable Schema

[2016-06-30 09:19] pseyfert commented on #641
To ease the transition from `DaVinci` to `GaudiRun`, wouldn't `optsfile` be the most transparent name? (not that it would matter much)

[2016-06-30 09:35] pseyfert opened #642 "delete `gangadir/shared/USERNAME` directories when job object is `remove()`'d"
It appears that the in ganga v601r21-BETA the directories holding the `cmake-input-sandbox.tgz` files do not get deleted when the corresponding job is deleted with `jobs(2637).remove()` in ganga.

What I did is, try to submit a `GaudiRun` job:
[code]
(the submission fails, as expected / discussed on the mailinglist)
then call `jobs(2637).remove()` to clean up my afs quota and do
[code]
to observe

[2016-06-30 10:02] rob-c commented on #642
@pseyfert Thanks for providing clear proof that this is a problem!

These files should be being removed by some counter within Ganga which likely is a bit broken.

We __need__ to add a unittest for this to test the expected vs actual behaviour of our prepare tracking.

[2016-06-30 10:03] rob-c commented on #641
@pseyfert I think `options` may be better as we're aiming to allow for a list to be generated as well as supporting construction of a list of 1 IGangaFile if the user tries to assign a string to the parameter.

Once I've got a prototype working I'll link to the PR here

[2016-06-30 10:13] rob-c opened #643 "Restore gangamon server"
OK, I need to get around to restoring the gangamon server in order to restore the `report` functionality.
I'm going to list the stages which need looking into here
- [x] Update the code on github with the modified code from the current collection server to Centos7 compatible. (systemd service+new Django+new crontask+new Apache2 config etc.)
- [x] Launch a new machine monitored and updates via Jenk

[2016-06-30 10:53] egede commented on #642
@pseyfert Just to check that you quit Ganga and then checked that it was gone. The reason is that you may otherwise still have a reference to the object. So just something like

[code]
In this case `j` will still have a reference to the application object. If you do `j.status` afterwards, you will see that the status is just `removed`.

[2016-06-30 11:01] egede commented on #642
@rob-c A test along the lines of

[code]

should do the trick as the unprepare at the end

[2016-06-30 11:02] egede commented on #642
@rob-c I checked this in its simplest form, and at least with a `DaVinci` application is works correctly, so the shared directory is removed when quitting `Ganga` for a job that has been removed in the session.

[2016-06-30 11:03] egede commented on #642
@rob-c The suggested test above unfortunately is a bit more tricky as even in this case, the directory is only removed when quitting `Ganga`.

[2016-06-30 11:14] rob-c commented on #642
@egede I was under the impression that reducing the count to zero should trigger the removal of the folder. This should probably be addressed I think.
There is a very complex unittest in the old suite which we need to understand/port but I think we've been failing parts of that for a long time now.

[2016-06-30 12:26] rob-c opened #644 "Fix the execute class to return a tuple"
If the execute class returns a tuple we can use it to replace the `Shell()` instance in `MassStorageFile` and `_exec_cmd` in `GaudiRun` with little work. (As well as a few other places)

I'd rather migrate to this over the older Shell code as this has been developed more and offers more features so I'd opt to move to this almost entirely and drop the other implementations of `Popen`/`os.system` wr

[2016-07-01 08:04] egede commented on #642
Looking closer at the code reveals that shared directories are indeed only deleted upon exit. This seems a poor choice and makes for a slower exit of Ganga. The suggested change is to delete directories as soon as the reference count goes to zero. The algorithm running at exit can also be dramatically simplified.

[2016-07-01 08:57] egede commented on #633
@rob-c the `ArgSplitter` is already having some support for this in terms of that it can split on several properties at the same time. Take a look at the documentation and see if what is there is indeed sufficient.

[2016-07-01 09:01] egede commented on #640
@rob-c The encoding of the extraopts (or similar) in the JDL for the Dirac job is something that might cause us trouble later. Another option would be that you simply upload a single file to DIRAC that contains *all* these small files for *all* the subjobs. Maybe place them in subdirs named by the subjob number. Then on the worker node, you download the complete thing but only unpack the relevant

[2016-07-01 09:13] rob-c commented on #640
@egede There are different options I'm considering. I'm just keen to avoid spamming DIRAC with hundreds of small files which aren't much different like we're currently doing during job submission.

I am considering doing this with 1 additional LFN as you suggest but constructing it in a purely pythonic way could be tricky unless I build in a mechanism where each subjob during the prepare step to a

[2016-07-01 09:15] rob-c commented on #633
@egede I would have assumed you could use the `GenericSplitter` for this but not the ArgSplitter?

I'm not sure how to use arguments passed to the GaudiRun other than to tag them onto the GaudiPython like behaviour of:
`python someWrapperScript.py someDummyArgs`

This to me is the only sane way to pass args from the arg splitter (unless they always go to extraOpts).

The `GenericSplitter` is capab

[2016-07-01 09:17] egede commented on #640
@rob-c I believe that we create all the subjobs before we start to submit them. Would the `master_submit` method of the `Dirac` backend be the place to implement this?

[2016-07-01 09:19] egede commented on #633
@rob-c Sorry, I did indeed mean `GenericSplitter`.

[2016-07-01 09:24] rob-c commented on #640
Possibly but I'm wondering if I should place the LFN which is uploaded in the backend instance or the Application instance in this case?

It's easy enough to submit 1 file and store it in the `job.master.application`.

I'm beginning to wonder, should I store a list of files I want uploaded in the master application and rely on the master_submit code processing a list of file objects stored in the

[2016-07-01 09:40] egede commented on #640
@rob-c I guess you want to persist the LFN where it got uploaded such that you can resubmit a subjob later. However, it is really not a property of the application so I would not think that is the correct place to store the information. It might require a bit more discussion in the weekly meeting where to place it (the splitter might actually be a possibility)..

[2016-07-01 09:55] drmarkwslater commented on #589
I think I agree with @egede here. Though I agree it would be **very** nice to reduce the size of the XML, we would still need to store a snapshot of the defaults used to create that object somewhere at time of creation. Now what you could do is also store any repeated values as one value and refer back to that in the object body though I'm unsure how much improvement that would give. In the 10K `D

[2016-07-01 09:58] alexanderrichards commented on #589
This is an interesting idea. I've never tried zipping one of our xml files but I assume that they would compress well

[2016-07-01 10:00] drmarkwslater commented on #589
I haven't tried but it's a text file so you've got a bit improvement right there 😄

[2016-07-01 10:12] drmarkwslater opened #648 "Copying a Task doesn't copy the Transforms"
This doesn't seem sensible to me...

[2016-07-01 10:18] rob-c commented on #589
This is related to constructing 100k * number of schema entries in loading them from disk. The time taken to construct an object at the moment is extremely high but if we know this corresponds to the present Schema then we can simply load the changes atop the Schema and things move much more quickly.

This isn't related to the xml file size although it does go down when not repeatedly writing empt

[2016-07-01 15:58] rob-c commented on #638
If nobody objects to the page as it is for now I'll close the issue

[2016-07-04 07:36] drmarkwslater commented on #146
I'm afraid not:
[code]

[2016-07-04 10:45] rob-c opened #652 "Old tests torch host repo"
After trying to run some of the old tests I now logged back into Ganga to find my repo completely torched...

This is not something that will effect 99.99% of users as they'd have to setup PYTF etc but it's highly annoying that my normal dev repo is now gone because I was trying to debug something.

[2016-07-04 10:55] rob-c opened #653 "Tasks using DIRAC should ask for proxy"
GangaDIRAC is intended to be executed without a proxy normally and to request one when it's needed.

Unfortunately LHCbTasks will fail to run correctly if a proxy is required. They currently attempt to submit a job and fail due to a missing Proxy.
I think this is minor bug possibly fixed by the credentials branch?

[2016-07-04 13:20] mesmith75 commented on #623
The cmake tar file gets added to the list of files in the input sandbox around line 200 of GaudiRunAppHandlers:
        if input_folders:
            raise ApplicationConfigurationError(None, 'Prepared folders not supported yet, please fix this in future')
        else:
            for f in input_files:
                input_sand.append(File(f))
These files come from the list of prepared files for

[2016-07-04 13:44] rob-c commented on #623
OK, best thing here is that the location of the file is recorded in the payload of the job rather than the file being sent to the input folder for each subjob.

The target file still _needs_ to be sent to the ganga prepared folder as this target is only important for the jobs which have been prepared and for keeping the prepared state. We shouldn't rely on this remaining on disk.
It doesn't need t

[2016-07-04 14:10] #638 closed

[2016-07-04 17:55] egede opened #654 "accessURL method not doing the right thing for DiracFile"
The accessURL method for DiracFile seems just to return an empty string. It should rather return a URL that can be openeddirectly in ROOT or similar. See https://lhcbqa.web.cern.ch/lhcbqa/317/how-to-automatically-replicate-to-cern-user for a discussion of what a user would have to do now to get it to work. The example given there, just returns the URL for the first place the file is replicated. On

[2016-07-05 09:43] rob-c opened #655 "6.1.21 not grid ready"
Just before I requested 6.1.21 to LHCb I ran the folllowing:

[code]

[code]

Something has gone seriously wrong here. I'm investigating that this isn't just that I've managed to fubar my install.

[2016-07-05 10:58] #655 closed

[2016-07-05 11:09] rob-c commented on #654
Does it make sense for the method to accept an argument which stears the filetype to know where to look for the file on multiple locations?
I know it doesn't for other filetypes but I don't think it's too bad to have DiracFile overload the method and allow for a an optional argument to be passed.
I think DiracFile is the unique one (for now) which only has 1 lfn to multiple PFN but how are we to k

[2016-07-05 11:42] rob-c opened #657 "move fqid file naming logic out of MassStorageFile"
I'm planning to make 2 PR (maybe in 6.1.22 but probably later on due to other work).

The first of these will abstract the fqid file-naming logic out of MassStorageFile and will place it into a common utils file somewhere.

The second will try to take this and implement the same feature on the LocalFile as well as the DiracFile. (and possibly document how it's to be done for others).
I plan to add

[2016-07-05 12:11] egede commented on #654
@rob-c I think using `defaultSE` from the configuration as the default, and to allow an extra argument is fine. The important thing is that a URL should be returned even if it is not matching those (ie. the argument gives a preference but not a requirement). We have to teach users that it is perfectly fine to read files across the WAN.

[2016-07-05 12:16] rob-c commented on #654
@egede OK, I hadn't appreciated that we are promoting/enabling accessing files remotely over the steaming protocols. This could ultimately allow Ganga to be used to construct some test jobs which can monitor/debug file transfer across DIRAC or to/from a given site.

[2016-07-05 12:21] egede commented on #654
@rob-c It works really well and can through promotion avoid the often needless transfers from `Dirac` storage to EOS or to local disk. As can be seen from the original discussion (linked into the first post of this issue), it is a bit cumbersome at the moment to get right.

[2016-07-05 12:55] rob-c opened #659 "Running nightly tests against all targets"
Hi all,

I've just hit yet another bug where my code ran fine on my machine but failed in testing due to a different configuration.
As a small step to try and avoid problems like this creeping in I propose a minor change to the nightly script to run both the `Ganga/test` and `GangaPlugin/test` directories against the given environment and configuration of each plugin.

Is there a solid reason why

[2016-07-05 13:07] drmarkwslater commented on #659
I believe the Nightlies already do run all plugin tests and actually, I've just checked and it seems that the `gridProxy` was being reported for the last couple of days. I'm not sure if the emails have stopped but I hadn't picked up on that myself...

[2016-07-05 13:13] rob-c commented on #659
@drmarkwslater I was seeing problems with the grid proxy behind the scenes but not the missing GPI.

I'm expecting to see:
[code]
but I can't find an equivalent to the first line in the nightly config atm. The $p1 is always _just_ the Plugin directory.

I'm seeing new bugs again due to LHCb vs Core with regard to what constitutes a job fail and how different classes behave as default. I think it w

[2016-07-05 13:16] rob-c commented on #659
Also I'm really not a fan of the line:

[code]

The LCG setup changes how things behave and we're not testing Core-LCG with no extensions on the nightlies atm.

[2016-07-05 13:16] drmarkwslater commented on #659
@rob-c These lines are in a bash loop:

[code]

so `$pl` cycles through `Ganga`, `GangaAtlas`, `GangaLHCb`, etc.

[2016-07-05 13:19] drmarkwslater commented on #659
@rob-c Actually, we are testing LCG in the Nightlies. @milliams put at least one LCG job submit test in a few weeks ago. This also makes sure all the env variables are set up for the Grid UI. If LHCb doesn't play well with that, they can be unset in the env script sourced before the tests are done.

[2016-07-05 13:20] rob-c commented on #659
yes and ONLY runs the LHCb tests against the LHCb plugin etc. The tests are only running for 13min so aren't running the following combinations:

Ganga in Ganga env, Ganga in GangaLHCb env, GangaLHCb in GangaLHCb env, Ganga in GangaDirac env, GangaDirac in GangaDirac env...

This is where I'm seeing the problems, running the Ganga tests against GangaLHCb (nothing to do with LCG).

[2016-07-05 13:30] drmarkwslater commented on #659
@rob-c OK, I understand what you're saying now. I guess running the Core tests in each environment would be fine but going beyond that becomes tricky, e.g. Should we run GangaDirac tests in GangaLHCb environment? etc. etc. Going forward we could setup some kind of matrix to decide what tests are run under which env I suppose.

[2016-07-05 13:32] rob-c commented on #659
I agree it would be nice to define which tests can run in which env (probably in a top-level config file within each test folder).
Are there any objections to me trying to run the Core tests in the way mentioned above in all envs? This would at least highlight if we need to be explicit in the Core tests about what the expected defaults are for each test.

[2016-07-05 13:43] drmarkwslater commented on #659
I don't see how it would hurt if restricted to just Nightlies for the moment. May be worth extending to PR Builder as well though it would double the time of the tests.

[2016-07-05 13:56] rob-c commented on #659
I'll give the nightlies a test run and see if it works without problem, if it does I'll close this an open a new issue for developing some sort of matching about what tests should be run against what plugin.

[2016-07-06 13:11] rob-c commented on #659
OK, I've set up the nightly to run the non-external Ganga tests against each plugin which is running and has pushed the nightly build time up considerably but it should help prove that there aren't any bugs creeping into Core that will adversely effect only a handful of users.
I'm going to open a better issue now so I'll close this

[2016-07-06 13:11] #659 closed

[2016-07-06 13:13] rob-c opened #661 "Cross plugin testing"
I've recently started running the Core tests against the various plugins and environments associated with them.

It may be worth designing some system to allow us to run tests across multiple plugins i.e. the DIRAC tests under LHCb.

This would depend on what backend and such different plugins intend to use/support.

[2016-07-07 10:43] KonstantinSchubert opened #662 "Excess directories created in `gangadir/shared/`"
AFS has a limit of 64K file names per directory. This limit is reduced depending on the length of the file names; it is reduced to less than 22K if the file names are longer than 33 letters.

https://lists.openafs.org/pipermail/openafs-info/2002-September/005812.html

My `gangadir/shared/koschube/` directory contains `31 707` files currently, and I appear to have hit the limit.

It is no longer po

[2016-07-07 10:50] KonstantinSchubert commented on #662
Here is some additional evidence that the `file too large` error is caused by the number of file names being to high: https://lists.openafs.org/pipermail/openafs-info/2005-January/016196.html

[2016-07-07 10:55] egede commented on #662
This is interesting. So in principle every call to `application.prepare()`, either directly, through `j.application.prepare()` or through `j.submit()` should create a new shared area directory  if the application is not already prepared. Then, if jobs containing references to the shared areas are removed, the areas themselves should be removed. Now, if you have only ever created 100 jobs, then the

[2016-07-07 11:04] KonstantinSchubert commented on #662
I am 90% sure that I created a completely empty directory when I started.

Does it create a directory for each job, or for each subjob?

Less than 100 jobs are less than 100 000 subjobs!

[2016-07-07 11:08] egede commented on #662
Can I get you to create two lists like below

[code]

and then also a file that lists all the directories in your shared directory, including their timestamp.

[2016-07-07 11:10] KonstantinSchubert commented on #662
Also, I should mention that I regularly `remove()` my jobs and I rarely keep more than 10 jobs, that is, 10K subjobs.

But the files in `gangadir/shared/koschube/` are only deleted when *exiting* ganga. This means that if my shell connection drops or an improper exit happens for another reason, those files will stick around.

 It is thus very plausible to think that the 30K subjobs of another 30 j

[2016-07-07 11:12] KonstantinSchubert commented on #662
I am sorry, I have deleted the directory already  :/ I realized a minute later that this was probably a bad idea, but then it was too late.

[2016-07-07 11:14] egede commented on #662
To me it sounds as if each subjob for some reason is creating its own shareddir. So when you start again, can you please check if each subjob gets a new directory created. Both take a look at `j.application.is_prepared.name` for the job and associated subjobs  but also look at what happens on disk.

[2016-07-07 11:16] KonstantinSchubert commented on #662
I will do that and report back.

[2016-07-07 11:34] drmarkwslater commented on #615
Not a lot actually 😄  As an initial test, I believe you can just override the settings in the `[PBS]` section of `.gangarc` with the appropriate values for SLURM. I'm afraid it's difficult for us to test as we don't have an installation of this but if you find settings that work I can easily use these for another 'SLURM' backend.

[2016-07-07 11:40] drmarkwslater commented on #600
I believe this has now been fixed with #656 and previous so with 6.1.22 you shouldn't see this anymore.

[2016-07-07 11:40] #600 closed

[2016-07-07 11:59] KonstantinSchubert commented on #662
I am now in the process of submitting a new job with 943 subjobs:
[code]

[2016-07-07 12:11] KonstantinSchubert commented on #662
The job sumission has now proceeded to
[code]

[2016-07-07 12:19] KonstantinSchubert commented on #662
Here is a gist with the output of the `ls -l` command on `shared/koschube` :+1:
https://gist.github.com/KonstantinSchubert/2d53307bc88fec74babf47fae4e8ee79

[2016-07-07 12:19] mesmith75 commented on #623
Added the check in and made pull request. #663

[2016-07-07 12:22] mesmith75 commented on #623
There also seems to be some duplication in the input dir for the Dirac backend. I'll look into that as well.

[2016-07-07 13:14] KonstantinSchubert commented on #541
Sorry, I have since deleted my gangadir and I haven't seen the error again.

I am sorry I wasn't more helpful with debugging this.

[2016-07-07 13:24] egede commented on #662
Wow! We indeed have a problem here.

[2016-07-07 13:44] egede commented on #662
OK. I reproduce the problem in a very simple setting. All the extra directories are (at least in my stripped down test) empty. Is that the same for you? If yes, you can delete them by executing

```find  ~/gangadir/shared/koschube -depth -type d -empty -delete```

as a short term solution.

[2016-07-07 13:48] KonstantinSchubert commented on #662
Indeed:

[code]

[2016-07-07 14:06] egede commented on #662
There is a very simple test for this. The following code creates one real and two fake directories in the `shared` area

[code]

Only the first of these directories are listed in `j.application.is_prepared` of either of the two jobs. The other two directories are just ghosts. This also means that they are not reference counted and thus stay around forever.

[2016-07-07 14:13] KonstantinSchubert commented on #662
I guess the first step would be two write a unit test that checks for the right number of directories being created...

[2016-07-07 14:37] #528 closed

[2016-07-07 15:08] egede commented on #662
So a bit more debugging. Every time a `ShareDir` object is created an empty directory is created. This happens even if I load a job from disk and then trigger the lazy loading! The problem is the `_init` function of https://github.com/ganga-devs/ganga/blob/62c11663c2cb102c5d25330a8293af61ecb287a5/python/Ganga/GPIDev/Lib/File/File.py that each time the object is created makes a new directory.

The

[2016-07-07 17:32] rob-c commented on #662
@egede I think it may be a good idea to have a script which is callable from the GPI to clean this up for users... As for what we can do about the ShareDir, maybe we can delay construction until the name is called for the first time I think several are created and never used in the tests etc. (We may have introduced this bug in 6.1(ish) or made it worse as object construction changed to deal with

[2016-07-08 08:53] alexanderrichards commented on #662
Ok So two points here.
1)

I think that this is expected behaviour so I would be careful to rush in and change it. Perhaps the problem is that too many sharedir objects are being created now. This ties in with your example

This *should* create one sharedir object at the prepare step. If three dirs are created it's presumably because three sharedir objects are created and this is the problem.

2)

[2016-07-08 09:07] egede commented on #662
@alexanderrichards Remember that when a Ganga object is copied, a deep copy is created. Hence, each time a copy of a job is created we create a new sharedir object and thus a new directory. Until any files are added into the sharedir, it is *not* counted by the shareref. The result is that users at the moment have thousand of directories that are not controlled by the sharef counter.

[2016-07-08 09:18] alexanderrichards commented on #662
The behaviour on copy should be to use the same `ShareDir` i.e. at least shallow on this attribute unless the explicit unprepareOnCopy is given in the config. In this case there should be no `ShareDir` attached. I therefore think that a straight deepcopy is not the right operation for copying Jobs. I assume that the change to enforcing a deepcopy is where this problem was introduced then.

[2016-07-08 09:19] alexanderrichards commented on #662
or at least if you do want to enforce a deep copy on job copy then the `ShareDir` logic will need to be reworked.

[2016-07-13 14:58] rob-c opened #666 "Testing backends (jobs not completing)"
Hi all,

I'm wondering if we can make a sensible policy here about how we test the backends?

The LCG test on nightly is failing when we attempt to wait for a job to be picked up and reach a completed state. I would argue we should **never** be testing for this in an automated way. We cannot.

I think we can safely attempt to submit jobs on each backend and attempt to update the information for a

[2016-07-13 15:09] milliams commented on #666
I have a branch locally with a number of LCG and Grid tests with a mocked backend. I will be submitting it for review soon.

There's no need to outright remove `test_job_complete`, instead I'd suggest changing the:
[code]
line to
[code]
to manually prompt the monitoring to run and then change the name of the test to `test_job_monitor`.

[2016-07-13 15:16] rob-c commented on #666
@milliams My problem is what is the intention of this test then?
Is it intended to test the updated status code or the code that is invoked when the test has completed?

If there is a branch where this is going to go away then fantastic I'll wait for that to be merged as I'm in no rush. I just read about 10 emails after a week telling me that the same test keeps failing (at a cursory glance). If w

[2016-07-13 15:19] alexanderrichards commented on #666
I 100% support the idea of having these tests with a mocked backend to check that our functionality is working. This then essentially makes these tests fast unit tests. However I thought that the point of the nightlies was to have longer integration tests running which test the whole system. It is useful for us to know if simple test jobs are running properly on the real backends not least because

[2016-07-13 15:25] rob-c commented on #666
@alexanderrichards My mind for the nightly tests were tests taking many minutes to run or tests involving some external component i.e. submitting to the _real_ backend once a day rather than a fully mocked one.

Having said that I think there is still a place for putting fast backend related tests against a mocked backend into the PR tests (in fact I cannot wait for these to arrive as I can begin

[2016-07-13 15:27] alexanderrichards commented on #666
i think we are saying the same thing then right?

[2016-07-13 15:29] rob-c commented on #666
:+1: I think it's worth being explicit with what we may or may not be expecting with the tests, if everyone agrees with this then great I think I can close this, I was just wondering what was going on given the repeated emails about LCG not running jobs.

[2016-07-13 16:10] mesmith75 opened #667 "Setting Lbscripts and LHCbDirac versions"
I have added some functionality to specify the version of LHCbDirac to use at runtime. It is just another LHCb config option. If left blank the default is used. It checks that the given version is valid by checking that the release folder exists - if it doesn't there is a warning and the default is used.

https://github.com/ganga-devs/ganga/blob/Lbversions/python/GangaLHCb/__init__.py#L25

[code]

[2016-07-13 20:01] mesmith75 commented on #654
I'm not sure this function in ganga ever worked. The requisite DiracCommand was missing. I have it approximately working now. I thought I would just get it to return a list of the SEs and the URL for each rather than picking one.

Before I commit anything can you explain the reason for the matching between the SE and the site? Is it really necessary? If not I would like to get rid of that part of

[2016-07-14 08:10] drmarkwslater commented on #545
@will-cern Turns out after significant debugging, it was just from an old config option that should have been updated. See #668 for details!

[2016-07-14 09:15] rob-c commented on #667
@mesmith75 I would prefer to see the the whole `_guess_version` code here go away entirely.

I think we want to declare that we expect a given version of LHCbDirac to be available and if not to warn the user (I'd say exit as well as there is likely a site mis-configuration but people running not at CERN can't all be expected to have LHCbDirac set up correctly).

If not I don't want us getting in a

[2016-07-14 09:19] rob-c commented on #654
@mesmith75 Reading the code I see what it was trying to do but I think this fell by the wayside as the (LHCb)Dirac interface changed a while ago.

I would think it better to return a list of URL with the one corresponding to the `defaultSE` at the top.
The problem is the definition of the `defaultSE` it is used in different contexts to use different things. Ideally I think we want this to point to

[2016-07-14 09:47] rob-c commented on #29
I think this may be fixed elsewhere I'll check shortly and make a test to verify

[2016-07-14 09:57] drmarkwslater commented on #615
@will-cern Did you make any progress with this? If you send me a typical transcript of job submission and monitoring in SLURM that would be enough I think...

[2016-07-14 10:07] will-cern commented on #615
I wasn't actually the one who had access to a SLURM backend either, it was Alex Tuna, who I've asked if he will try out your suggestion. I am assuming that after putting the right values in the PBS section of .gangarc, he can submit a job in the same way as https://twiki.cern.ch/twiki/bin/view/AtlasProtected/AthAnalysisBase#How_to_submit_your_job_to_condor but replacing "condor" with "pbs"

[2016-07-14 10:53] mesmith75 commented on #667
I agree that checking a folder is not a very good idea. Would it be better to just set the default of the config option to the version we want?

[2016-07-14 15:15] rob-c opened #673 "Subjobs in DIRAC tests need to be careful"
Assigning subjobs behind the proxy when there is a getter could cause issues and strange behaviour as has been caught by #669. The DIRAC tests need to be more careful in how they store the subjobs that have been created for testing.

[2016-07-14 16:05] rob-c commented on #667
@mesmith75 The goal is to have the version of LHCBDirac we rely on hard-coded into https://github.com/ganga-devs/ganga/blob/Lbversions/python/GangaLHCb/__init__.py
This allows me to modify the release scripts to get the value from there for SetupProject backwards compatibility.
I don't think we can rely on any other way of testing if this is available unless we use `lb-run` or equivalent.

[2016-07-14 16:11] rob-c commented on #654
OK, at this point the best we can do is to get a randomSE from the list of SE where an LFN has been replicated. Maybe we can make the random selection a bit more biased by weighting sites with more disks more heavily than sites with fewer disks.

I think we want this to allow for accessing a grid file on the Batch system at CERN for instance but there is no nice way of requesting the replicas at C

[2016-07-14 19:45] rmatev opened #674 "diracAPI does not work"
`diracAPI()` does not work with Ganga 6.1.22:

[code]

[2016-07-14 22:28] rob-c commented on #674
@rmatev did this work with 6.1.20? do other commands work or are all commands through this broken?

[2016-07-15 07:06] rmatev commented on #674
I just tried 6.1.20 and it doesn't work, too. But it might be just the documentation which is too old. The thing that made me stumble on this are calls like:
[code]
with 6.1.22 it seems that all I need is to rename `diraclhcb` to `dirac`.

Here I'm relying on "internals", hence the fragility. It would be nice if the bookkeeping was properly exposed somehow.

[2016-07-15 10:00] rob-c commented on #674
@rmatev Does `diracAPI("output(print 5)")` do anything sensible?

What is required of a book-keeping object if one were to be exposed? I imagine if there is a desire to fully expose (LHCb)Dirac object within Ganga we would need to write a Ganga layer to parse interactions in/out from the object due to the fact Dirac is quite isolated from the rest of Ganga.

[2016-07-15 13:28] rob-c opened #676 "importing GangaDirac turns off releaseNotes"
Short question,

Taking a look at `GangaDirac\Dirac.ini` I found `ReleaseNotes = False`.

Given GridPP users are likely importing this module to use Ganga is there a reason we're not advertising the changes on the first run of a new version?

I'm tempted to set this to True in a PR if nobody objects?

[2016-07-15 13:31] rob-c commented on #29
This should be fixed properly by #464 in that construction of an object which is locked immediately after construction should be possible.
I'll check the integration tests and add an explicit test for this before I close the PR.

[2016-07-15 13:40] milliams commented on #676
It's been set to `False` for as long back as our Git history goes. I agree it makes more sense to be turned on unless someone (@egede?) knows why not.

[2016-07-15 13:43] egede commented on #676
It might cause a bit of confusion for LHCb users as we override certain
parts in the GangaLHCb module but that is unlikely. So I agree it should be
turned on.

On 15 July 2016 2:40:11 p.m. Matt Williams <notifications@github.com> wrote:

[2016-07-15 14:13] #676 closed

[2016-07-15 20:41] rmatev commented on #674
@rob-c no since it's not valid python:
[code]
Ideally, you'll have the LHCbDirac object with all the help and so on. However, since there is the isolation of LHCbDirac, the only feasible layer would be something very lightweight, e.g.
[code]

Can you remind me why LHCbDirac cannot be "mixed" with Ganga (for the LHCb ganga that is)?

[2016-07-18 09:18] rob-c opened #678 "Ganga --no-mon should stop tasks"
Just a quick issue to remind me to tie the `--no-mon` option to disable the task monitoring in addition to the job monitoring. This should alleviate the problem that tasks users have no way of launching ganga without getting many (many) jobs loaded from disk during startup.

[2016-07-18 11:00] rob-c commented on #674
@rmatev We don't mix LHCbDirac (or DIRAC) with Ganga due to a few different reasons. The first is that both ourselves and DIRAC used to have conflicting external dependencies (this may or may not be the case at the moment I've not checked in a while myself). But in addition to this there are a large number of calls to DIRAC made by Ganga which can fail due to different reasons and when they do we

[2016-07-18 11:16] rob-c commented on #674
@rmatev The python code executed by the `diracAPI` has changed slightly. The expected output from the functions should always be wrapped in an `output` call as they're sent through a pipe which is parsed back within Ganga.
E.g. if you want to get `5` you need to do:
`diracAPI(output(5))` which will return 5
The stdout/stderr streams from the thread which is used to execute this code are (for the m

[2016-07-18 11:16] rob-c commented on #674
Also I think the code expects the print function `print()` rather than the old print calls which I think explains your original error.

[2016-07-18 14:22] egede commented on #667
I agree that the version should be hardwired. However, we need to think about how we want this to run with the nightly testing of LHCbDirac. There I guess we are using the development branch (or whatever the equivalent is) for LHCbDirac) and we need to be able to specify that.

[2016-07-18 14:51] rob-c commented on #667
How about we have an option to point to a directory as with other CMake style apps so we can use the `./run` script to give us the environment?

[2016-07-19 13:23] #678 closed

[2016-07-19 14:52] laurentdufour opened #683 "6.1.20: Cannot run job in local backend"
When running a DaVinci v40r2 script which has some files in the local user release area on a cvmfs machine, the following errors are encountered:

[code]

The folder ```/user/laurentd/gangadir/shared/laurentd/conf-23f0ab2d-b077-4e9b-83c4-93bb19dedca8/inputsandbox/``` does exist and there is a .tgz in there.

I cannot test this with 6.1.22 as this version is still bugged on cvmfs.

When submitting

[2016-07-19 15:00] rob-c commented on #683
Have you tried unpreparing the job and preparing it again? This looks like a filesystem issue due to a lockfile persisting when it shouldn't. There's little Ganga can do to prevent this.

That being said I'm currently looking at the mechanism where by shared files are made accessible to workernodes for backends with access to the local fs as part of 6.1.23 so I'll see if I can make it a little mor

[2016-07-19 15:14] #683 closed

[2016-07-19 15:34] laurentdufour commented on #683
Unfortunately the problem is persistent. I'll have a look whether the time it takes to do the bkquery has anything to do with it though or the version of ganga (I did not experience this in the past).

[2016-07-19 16:54] mesmith75 commented on #654
Implemented the function now. There is a new DiracCommand for getting the accessURL and the function in  python/GangaDirac/Lib/Files/DiracFile.py has been fixed.

[2016-07-20 09:57] rob-c opened #685 "GangaDirac not handling externally killed jobs well"
Some users are reporting that jobs killed in the (LHCb?)DIRAC system are causing problems in the monitoring loop and triggering:
`ERROR    Unexpected dirac status 'killed' encountered`

I think this shouldn't take too long to track down and add a try/except handle around but the difficulty could be if this is being thrown from within a bulk request against DIRAC which would then need to be repeate

[2016-07-20 10:04] egede commented on #685
Isn't this just that the state killed is missing in the dictionary of Dirac
states. This is just part of the configuration system note iirc.

On 20 July 2016 10:57:38 a.m. Robert Currie <notifications@github.com> wrote:

[2016-07-20 10:08] rob-c commented on #685
@egede I was assuming I could do something like this, the method which handles finalizing jobs looks for either `completed` or `failed` and I think we can mark a killed job as the latter. https://github.com/ganga-devs/ganga/blob/develop/python/GangaDirac/Lib/Backends/DiracBase.py#L611

[2016-07-20 10:35] rob-c commented on #685
I think editing the `statusmapping` and the `finalised_statuses` within the .gangarc to map the dictionary entry `Killed` map to `failed` should suffice but I'll have to run a test before I commit any changes and close this.

[2016-07-20 13:29] alexanderrichards opened #686 "Difficulty setting up Vanilla DIRAC job"
I think since this seems to be a credential problem that maybe @milliams is the best person to answer this but after just checking out the head of develop I get the following:

[code]

To avoid the LCG GLITE warnings I follow the startup suggestion and set
[code]

I also have the following DIRAC setup
[code]

any ideas why it thinks that proxy is a `bool`?

[2016-07-20 13:34] rob-c commented on #686
@milliams Have you come across this when working on the credentials I keep seeing this intermittently with some configurations although I can't remember what may trigger it or why I'm not seeing it myself on develop.

[2016-07-20 13:43] milliams commented on #686
The credential can be a `bool` due to https://github.com/ganga-devs/ganga/blob/cdac0bb8693ab2850/python/Ganga/GPIDev/Credentials/__init__.py#L92 which can return `False` if it fails to get a credential. I guess this could happen if it fails to create the credential at bootstrap and then this code tries to fetch it. The logic there is a bit weird but that's where to start looking.

This is all moot

[2016-07-20 13:47] rob-c commented on #686
Why is this still all tied into the importing of the LCG I thought we were supposed to have separated that?

[2016-07-20 13:47] alexanderrichards commented on #686
Thanks guys, If no one has any immediate ideas then I shall keep digging

[2016-07-20 13:50] milliams commented on #686
@alexanderrichards Have you set `[LCG]VirtualOrganisation` to `gridpp`?

[2016-07-20 13:54] alexanderrichards commented on #686
no as it was presented as an **either/or** option with `GLITE_ENABLE = False`. Since I didn't intend to use GLITE I opted to disable it altogether

[2016-07-20 13:57] alexanderrichards commented on #686
I tried adding the `[LCG]VirtualOrganisation` option that you mention and I get the same error. If I remove the `GLITE_ENABLE = False` option but keep the former then I also get the same error except when starting ganga I also see:

[code]
which since GLITE is enabled seems proper

[2016-07-21 08:37] rob-c opened #687 "Generic support for preparable IGangaFile objects"
I think we should/could add support for IGangaFile type objects which would allow for preparable attributes to be copied to the prepared folder automatically.

I think this should be a relatively minor task to modify the underlying methods but would reduce some duplicated code higher up if this is implemented correctly.

In doing this we may want to make some policy about whether remote files can

[2016-07-21 15:53] alexanderrichards commented on #686
FYI I can make this work if I force a default shell object to be instantiated irrespective of the GLITE config stuff at [GridShell.py@L68](https://github.com/ganga-devs/ganga/blob/develop/python/Ganga/Utility/GridShell.py#L68)

[code]
I use this in conjunction with the config:
[code]

and I now have `gridProxy` command correctly exported to the GPI and I can renew my proxy.

[2016-07-21 16:03] rob-c commented on #686
@alexanderrichards Do the startup errors also go away with this?

I don't think there's any problem with forcing the construction of this here, although maybe we should put it at line 105 so that there is always a shell created and not multiple shells for people wanting to use GLITE or related code.

As long as it doesn't shout at users who don't plan to use it I'd like to see a PR which fixes thi

[2016-07-21 16:03] alexanderrichards commented on #686
For using DIRAC grid proxy tools I also need to set the following config options:
[code]

**Note** however that for me at least in a vanilla environment this was *not* sufficient. Ganga would complain that there was no such command as `dirac-proxy-xxx` (i.e. no correct Dirac UI in the calling process).

After consultation with @rob-c it seems that his solution is to modify the above to the followi

[2016-07-21 16:06] rob-c commented on #686
I vote to wait for the credentials branch before we consider trying to fix the DIRAC commands in the config as there are some really unstable areas of code in the old credentials lot which I think this proves. We'll be in a better position when it's all been thrown out for something more modern.

[2016-07-21 16:06] alexanderrichards commented on #686
Yes, for me at least all is calm again after this patch

Anywhere there will have the same effect, there is one variable s which is returned I just defaulted it to a default shell. If someone with the GLITE options enabled then they will just re-bind to a more specific one.

I don't mind doing this if there is agreement between people but as I mention before @milliams credentials branch will nuke

[2016-07-21 16:16] pseyfert opened #688 "GaudiRun support for simple splitting of jobs"
As far as I can tell, GaudiRun doesn't work in ganga v6.1.22 with `SplitByFiles` (i.e. making ntuples)

# As minimum failing "hello world" example:
on the shell
[code]
and then in ganga
[code]
_fails here_
ganga responds to that with
[code]

# cross check:
open a new shell on the same node to verify that the job works locally
[code]
output:
[code]
and check it's return code
[code]

# cross check 2

[2016-07-21 16:24] rob-c commented on #688
@pseyfert Thanks for filing an issue.
I'm currently working on making a lot of very low level changes to the GaudiRun application. This will work in the next release but the schema has been completely rewritten and the application may even change it's name before 6.1.23.
Rob

[2016-07-22 08:13] drmarkwslater commented on #615
@will-cern Exactly - the PBS backend is pretty generic so if the commands are setup correctly, then it should work out of the box. Let me know if he needs any help!

[2016-07-22 10:07] rob-c opened #689 "Proposal for a new `internal` attribute for SharedDir"
Hi all,

I'm considering a hidden attribute to the Job schema (with default of False) to mark a file as internal. I propose the name `internalFiles` unless anyone has a better naming convention.

The intention of this is that if an application (`GaudiRun`) generates a file on a remote fs (`DIRAC`) then the file can be placed in this list without the user being aware of this file. And then we can a

[2016-07-22 10:15] egede commented on #689
@rob-c Do you see this as something that is unique to every job (so not a copyable attribute)? If not, then you will have to consider reference counting. If you want that, it might be worth considering the capability you discuss as an extension of the shared area mechanism instead.

[2016-07-22 10:33] drmarkwslater commented on #689
@rob-c This sounds similar to how we deal with log files/stdout/stderr. Should these files not be handled by the RT handler of the app (or backend) completely behind the scenes? I know in Atlas that the RT handler simply adds a few files to the output description and deals with those when the job completes. Now I'm not sure what would happen to these files when you delete a job (do we have an 'on

[2016-07-25 09:01] rob-c commented on #689
@drmarkwslater Not quite, the problem here is we have to generate files on the remote storage system (DIRAC) which then causes the problem of who should delete the files and when if these files are related to the prepared state of the job.

@egede These files aren't strictly re-generated. At the moment I have 1 file which contains the contents of the prepared state which should remain on disk as l

[2016-07-25 13:29] rob-c commented on #374
Given we no longer have this method can we close this as no longer valid? I suspect we've likely fixed whatever this was in the meantime.

[2016-07-25 13:40] drmarkwslater commented on #374
Not certain but it should be fixed. I'll try to have a closer look in a few days...

[2016-07-26 10:41] drmarkwslater commented on #689
@rob-c Not thinking through all the implications, this sounds like a better idea as this specifically links the internal files to the prepared state (which seems to make sense to me) and I would say if you resubmit a job you would expect it to run the exact same code. If you do want to change it, an unprepare and resubmit is a pretty small price to pay.

One thing I would offer caution on though -

[2016-07-26 10:58] rob-c commented on #689
@drmarkwslater At the moment these files are also placed in a sensible location so I could add a howto in the `GaudiExec` doc on how to remove the parent folder and clean up their Dirac storage.
It would be nice to tie an LFN into the dirac job cleanup service but I imagine this to be difficult and beyond the scope of ganga.

[2016-07-26 14:16] alexanderrichards opened #692 "Error in recursive proxy strip for unicode Type"
While writing code for the LZ collaboration I get the following error while running Tasks:

[code]

This I believe is coming from the fact that in [Proxy.py:__recursive_strip#L531](https://github.com/ganga-devs/ganga/blob/develop/python/Ganga/GPIDev/Base/Proxy.py#L531) we explicitly check that the value is not a string i.e. type `str`. This doesn't catch the case where the value is a unicode strin

[2016-07-26 14:23] milliams commented on #692
This makes sense. In fact that check seems quite clunky anyway and should be replaced with something like:
[code]
rather than the silly `hasattr` checks.

[2016-07-26 14:26] alexanderrichards commented on #692
Agreed, In that case assuming that this fixes my issue I'll commit a combined patch to clean it up as well as move to basestring (of course this wouldn't have been an issue in Python 3 :wink:)

[2016-07-26 14:47] alexanderrichards commented on #692
Seems to have fixed the issue, see commit above. PR incoming

[2016-07-27 08:47] #692 closed

[2016-07-27 10:32] will-cern commented on #545
Thanks! So this is only making it in to 6.1.23 is it? When will that release be cut so we can get it on cvmfs?
Cheers
Will

[2016-07-27 11:55] #685 closed

[2016-07-28 06:57] #642 closed

[2016-07-28 06:57] #662 closed

[2016-07-28 07:37] rob-c commented on #666
I'm still getting emails about LCG jobs failing in nightlies... any idea on an eta or should I patch the test so that it stops failing for now?

[2016-07-28 07:40] rob-c commented on #631
I'd like to get to this before 6.1.23 as it should now just be a case of convincing the GaussSplitter to touch the extraOpts part of the application and submit a job. Although this will require some testing.
If any LHCb person could point me to a Gauss and Grid tutorial I'd be grateful as It's been a long time since I've had to produce any MC and I'm not sure what may have changed.

[2016-07-28 07:44] rob-c commented on #632
OK this is whatever is returned from within the file which is run using execfile. I don't think there is any parsing of the returncode going on within GaudiExec other than to run the users code and pass up the chain the returncode.

[2016-07-28 07:44] #632 closed

[2016-07-28 07:47] rob-c commented on #633
OK, this appears to be working correctly for the moment, I have a unique job script and extraOpts file generated for each subjob. In the case of backends with access to the shared area these are generated and used on a per-job basis. In the case of DIRAC these are generated at the start of the RTHandler `master_prepare` and then are all uploaded to the grid with DIRAC being told which script to ru

[2016-07-28 07:47] #633 closed

[2016-07-28 07:54] rob-c opened #697 "GaudiExec to support multiple options files"
Hi all,

I'm wondering if there is the call to support multiple options files with the `GaudiExec` application?

In principle this is a minor set of modifications to merge the options or to import them as appropriate.

I think the `options` attribute with `extraOpts` should be enough for 99% of use cases but do power users require the ability to easily have multiple options files passed to steer a

[2016-07-28 07:56] rob-c commented on #688
This appears to be working now in `GaudiExec` which inherits from and supersedes `GaudiRun` in 6.1.23

[2016-07-28 07:56] #688 closed

[2016-07-28 07:58] rob-c commented on #623
This turned out to be a bug in `GaudiRun` (`GaudiExec`) are there any objections to closing this bug?
There is still the outstanding bug in cleaning up after DiracFiles which have been uploaded to the grid during a GaudiRun submit but this is a separate issue which isn't present in Core.

[2016-07-28 08:04] rob-c commented on #616
@drmarkwslater When making changes recently I've discovered we don't have a sensible chain for inheriting the `__getattr__` method in the same way that we can overload the `__setattr__` method.

Would it be sensible to propose that we move the getter method system over to using some form of `__getattr__` call in `__get__` and have this resolve to look in `_data` in the baseclass to allow for highe

[2016-07-28 08:04] #541 closed

[2016-07-28 08:05] rob-c commented on #505
I think this may have been fixed due to recent changes but I'll review it for 6.1.23

[2016-07-28 08:11] drmarkwslater commented on #545
@will-cern Shouldn't be too long as there are some pressing LHCB things to get out soon. I'll push for next week some time!

[2016-07-28 08:25] milliams commented on #616
@rob-c There is a fundamental clash between `__getattr__`/`__setattr__` and descriptors. In your recent changes you had to manually call the base class `__setattr__` in order for the descriptor to kick in, this is really a bit of a hack. Really this per-item pre-processing and potential post-precessing on the getting of an item should all be handled *within* the descriptor.

We should have a funct

[2016-07-28 08:36] rob-c commented on #616
@milliams It would be good to see some level of consistency between the getter and setter.
I wonder then if a filter transform of some sort for the setting of a schema attribute may be in order.

My only concern is that the changes which are often expected touch other attributes, not just the one in question and things can cascade very quickly.

I suppose now we have to decide do we support both `

[2016-07-28 08:40] milliams commented on #616
Indeed some consistency is needed. I would need to sit down for a while and think this through as there are a number or corner cases we need to support. However, if we're going to make any semi-major changes to the Descriptors it would probably be worth doing the `Schema`/`Descriptor` merge we've thought about in the past.

[2016-07-28 08:48] rob-c commented on #616
@milliams Is it worth spending time fixing the filter such that it works in a sensible way and that the `__setattr__` calls can be retired in this case?
It's probably also worth checking the getter equivalent as well but at least now that we don't have the construct getting in the way anymore things should be a little easier to parse.

[2016-07-28 08:57] alexanderrichards commented on #616
Hi All,
These changes I have still waiting for me to commit them as part of my rewriting of the object/schema/proxy objects. perhaps it's time I speed up their introduction :wink:

[2016-07-28 11:15] egede commented on #697
@rob-c You are referring to the fact that the options attribute is a single GangaFile object rather than a list of GangaFile objects?

[2016-07-28 11:25] rob-c commented on #697
I'm thinking of supporting a list of IGangaFiles in the `options` attribute. At the moment this won't fully work due to some limitations in the code I've written.
It is possible to expand what is there but I went for supporting the simplest use-case first.

[2016-07-28 14:58] egede commented on #697
@rob-c Yes, the support of a list would be good. Many of the suggestions for how to do things in LHCb use a list of options file. It should not hold up 6.1.23 though.

[2016-08-01 09:42] #623 closed

[2016-08-01 09:44] rob-c commented on #641
The schema has been rewritten as part of migrating to `GaudiExec` I think a quick final review before release is needed but other than that this issue can be closed for now.

[2016-08-01 09:44] #641 closed

[2016-08-01 09:56] rob-c commented on #505
I'm planning to add a complex unittest to ensure that folders aren't accidentally created by things such lazy loading or job copying (I don't think they should be but better to be sure).
I'll look into this as part of 6.1.24 and close this issue then as appropriate.

[2016-08-01 12:37] mesmith75 commented on #654
Fixed by #684

[2016-08-01 12:37] #654 closed

[2016-08-01 22:33] rob-c opened #705 "Cannot support negative indexes"
I've had a stab at re-enabling the negative index notation for the RegistrySlices and have hit a problem:

I have a registry with 90 jobs with the jobIDs ranging from 1 to 353. i.e. lots of deleted jobs:

`jobs[-1:]` actually passes the slice `slice(90:sys.maxsize:None)`
(i.e. the `-1` string is pre-processed away at some level in IPython/ast as far as I can tell and `len(jobs)` returns 90.)

This

[2016-08-02 09:15] alexanderrichards commented on #705
what about

[code]
---
**Note** I've used the ternary operator for a condensed post here, feel free to expand it if you don't like it. Also I've used the assumption that the jobs are in a dictionary which is keyed on the jobid which I think is correct.

**Note also** The subtle difference from a normal indexable list in that calling `getitem` will in the case of positive integers get the correspon

[2016-08-02 09:18] alexanderrichards commented on #705
for the last element, I don't think you want to be slicing with the : notation simply just `jobs[-1]`

[2016-08-02 09:20] milliams commented on #705
@rob-c This is the reason that negative indexing was removed. `jobs` is conceptually a dictionary, not a list and  so does not support any assumption about the ordering of the keys. Slicing a dictionary does not make much sense since we do not have contiguous keys.

[2016-08-02 09:22] alexanderrichards commented on #705
@milliams I think that there is still room for negative indexes. Especially as most recently created jobs go to the end of the list. It is far easier to do a

[code]

than

[code]

[2016-08-02 09:25] alexanderrichards commented on #705
Also isn't this just supposed to return a new registry slice?

e.g. if I do

[code]

I'm pretty sure that we used to return a new slice with just jobs with `3<=ids<=10` in this case slicing does make sense

[2016-08-02 09:27] alexanderrichards commented on #705
I see nothing wrong with negative indexing or slicing even though we do maintain the jobs as a dictionary mapping from job id to job object. Mainly because we present them to the user in a list type interface.

[2016-08-02 10:20] rob-c commented on #705
@milliams It should be possible to translate the request to get relative positions within the dictionary. It's wholly possible as long as IPython(Python?) was passing us the raw negative index which can be used with some logic to do the right thing. Slicing the dictionary is potentially very powerful I'm just very concerned about the whole negative index thing not being what it should be.
The issu

[2016-08-02 10:24] alexanderrichards commented on #705
Furthermore, one last point if you'll indulge me. While `jobs` does indeed *contain* a `dict`, it *is not* a `dict` from an OO point of view as it inherits from  `RegistrySlice`. We are therefore at liberty to define the behaviour we see fit. I would point out that we already mix in list type behaviour, e.g.

[code]

doing this with a `dict` would yield j as the keys, i.e. the jobids not the job o

[2016-08-02 10:27] alexanderrichards commented on #705
`__getslice__` should be deprecated and then `__getitem__` will be correctly called with the slice object.

I've said my piece already. Having had to use Ganga again recently, the lack of a negative index in jobs has been my biggest annoyance. I don't believe that we will get a random job or that it will fail. The example I gave above is guaranteed to return the job with the largest job id as retu

[2016-08-02 10:35] alexanderrichards commented on #705
P.s. There is no problem slicing with the version of IPython that we are currently using for Ganga, I just tested and it works as expected, see below. I suspect that when you remove the `__getslice__` method things will work as expected for you as well.

[code]

[2016-08-02 10:36] rob-c commented on #705
Have you tried slicing with negative indexes?

[2016-08-02 10:37] alexanderrichards commented on #705
yes
[code]

[2016-08-02 10:40] rob-c commented on #705
OK, so there is some issue with the Ganga code because I clearly am getting slices without negative indexes which is very, very bad.

[2016-08-02 10:40] alexanderrichards commented on #705
did you try removing the `__getslice__` method as I suggested?

[2016-08-02 10:41] rob-c commented on #705
@alexanderrichards Last time I did that it all fell down with exceptions so I redirected it to `__getitem__` from within the derived class. I'll try and remove the method again now and see where I get.

[2016-08-02 11:05] rob-c commented on #705
@alexanderrichards OK removing the `__getslice__` methods appears to work. I do get the negative indexes correctly passed in a slice object in this case. I suppose there must be some old logic around the behaviour of the now deprecated methods which were being used before.
I'll knock together a PR as this should be quite quick to fix.

[2016-08-02 12:33] rob-c commented on #286
I imagine this has been fixed by #706 I'll check the release tests after that PR has been merged to confirm.

[2016-08-02 13:37] drmarkwslater commented on #374
Fixed by #627. The `getWriteAccess` and `getReadAccess` methods have been replaced and the explicit acquiring of the object `const_lock` no longer happens.

[2016-08-02 13:37] #374 closed

[2016-08-02 13:42] #705 closed

[2016-08-02 13:46] rob-c commented on #697
I've implemented this as it required a change of the Schema so I think getting the Schema sorted sooner rather than later is better than convincing people to do some sort of update later on for a new feature.

[2016-08-02 13:46] #697 closed

[2016-08-03 10:17] rob-c opened #709 "should we introduce a ProxyError"
Would people be objecting to introducing a ProxyError exception or even one called UserError?

This would allow us to raise exceptions which are defined as being due to a typo or mistake or bad code entered at the IPython prompt, rather than a bug in Ganga.

I'd like to make the prompt a little more friendly as some people associate the trace with something going horribly wrong rather than the tra

[2016-08-03 11:19] milliams commented on #709
Isn't this the point of `GangaException`? Or am I misremembering?

[2016-08-03 11:28] rob-c commented on #709
In this case which exceptions should we make stack traces for or not?
Is there merit in showing them to the user unless we've asked them to re-run with `--debug`?

[2016-08-03 11:29] rob-c commented on #709
And in that case there are a few places we should be changing the exception type within the Proxy I suppose.

[2016-08-03 12:43] egede commented on #709
The policy that we decided on a long time ago was that a `GangaException` should not show a stack trace but that others should .The idea behind this is that a `GangaException` is something that the user can expect to get back to them whereas any other exception in principle indicates that we have a problem with the code (and that the stack trace then can help with the bug report). Are we either no

[2016-08-03 13:29] rob-c commented on #709
In this case I'll review the exception handler but there are definitely some exceptions which could do without a colourful stacktrack. i.e.

the result of mistyping a command or attribute name on the prompt giving a trace is just annoying imo

[2016-08-03 16:17] #631 closed

[2016-08-03 16:55] egede commented on #709
@rob-c Yes, I agree that we should try to catch `AttributeError` to avoid a thing like

[code]

Others are OK though. If I try to assign an application to the backend, I get the more sensible

[code]

where at least we do not get the stacktrace. It would be good if we could avoid the useless reference `<Ganga.Lib.Executable.Executable.Executable object at 0x7f9fdc0b3950>` though.

[2016-08-03 17:35] rob-c commented on #709
@edge I've addressed the first in #713 already I'll update the Proxy to have a more sensible `getName` call for the 2nd example you give which should help users.

I've also tried to catch all user commands which IPython can't execute. The trace offers no more information than simply displaying the error that the command is invalid imo.

[2016-08-04 16:58] rob-c commented on #643
I've had to fix some minor issues on the Jenkins descriptions.
Does anyone know if we're supposed to get some Foreman alarm when Jenkins fails to apply to these boxes?
It would be better than waiting for someone higher up to notice the boxes haven't been updating and are potentially out of date.
(I'll have a look at the configuration and I will check all of the machines are managed by the CERN gro

[2016-08-05 09:09] afortiorama commented on #343
Hi, is there a problem with releasing this?

I didn't think it was such a difficult use case.

cheers
alessandra

[2016-08-05 09:20] rob-c commented on #343
Apologies allesandra, this it something I'm working on today but I've been distracted by a few different tasks. I'll see if I can get this into a branch asap

[2016-08-05 09:32] egede commented on #343
@rob-c Is this just for gettin gthe Local backend to work as well or are there improvements for the remote one as well?

[2016-08-05 09:37] rob-c commented on #343
@egede This is just for the local/batch backend. When developing this I started getting very confused about the behavior of the LocalFile object as I was getting very inconsistent file locations when running the scripts in different ways as well as the duplication of files between the inputsandbox and the local worker-nodes. I think this has all been understood now so hopefully I just need to wrap

[2016-08-08 09:33] drmarkwslater commented on #542
@will-cern I'm having trouble recreating this behaviour for athena. Not that it's a problem in general as I can easily just get Ganga to go over the search path anyway but out of interest, how do you get the 'share' directory added to it? And do you need the additional `MyPackage` in the dir? Basically, what I'm asking is if you can send me a tar ball of a working test area and instructions on how

[2016-08-08 09:35] drmarkwslater commented on #542
@will-cern Nevermind - just found a rather important part here:

https://twiki.cern.ch/twiki/bin/viewauth/AtlasComputing/SoftwareTutorialxAODAnalysisInAthena#Interlude_Location_of_joboptions

Apologies for the noise - will hopefully get this sorted ASAP!

[2016-08-09 23:14] rajanandakumar opened #721 "Job preparation fails, but still gets submitted"
Dear Developers,

I have a job which failed to get prepared. However, the preparation status of the application is still valid. So, after the preparation stage, if I try to submit the job, submission is successful, which I suppose is incorrect behaviour.

Do let me know if you need more information from me. A traceback of what I did to reproduce this report is in the attached txt file.

[GangaBugR

[2016-08-10 12:18] mesmith75 opened #724 "List of arguments in Dirac executable are ignored"
The arguments for an Executable application are being ignored.

The arguments are a list that is the executable command followed by the list of arguments. In the exe_script this is then executed via subprocess.call(exe_cmd, env=my_env, shell=True)
https://github.com/ganga-devs/ganga/blob/develop/python/GangaDirac/Lib/RTHandlers/ExeDiracRTHandler.py#L160

The problem seems to be that for shell=True

[2016-08-10 12:53] #724 closed

[2016-08-10 13:03] rob-c commented on #721
Hi Raja,

Unfortunately I think the majority of the LHCb development work moving forward will be around the `GaudiExec` application object being released in 6.1.23 which should fully support split complex jobs with CMake.

The main bug here appears to be in `DaVinci` itself or some other LHCb project I would argue. Ganga shouldn't be submitting the job which is a bug in how this application object

[2016-08-10 13:13] rajanandakumar commented on #721
Hi Rob,

It is not a critical error, so downgrading the priority is fine with me.

About the difficulty, I suppose it is not very difficult. From what I see with non-expert eyes, you need to just trap the ApplicationConfigurationError somewhere around line 1572 or 1578 in the Job.py file and just unprepare the job for this error. Of course, there are probably easier ways out too.

Cheers,
Raja.

[2016-08-10 13:31] rob-c commented on #721
Hi Raja,
I think you're correct in your assessment, I'll look into adding a global step to un-prepare any job which failed to prepare just incase the application/job object isn't cleaning up properly. This may arrive in 6.2.1 or 6.1.24,
Rob

[2016-08-10 16:49] MannyMoo commented on #521
I've just come across this problem - any progress? The problem appears to be that in exe-script.py generated for the job it calls
rc = subprocess.call(exe_cmd, env=my_env, shell=True)
but exe_cmd is a list, so with shell=True only the first element of the list is used and the arguments are lost. So using shell=False would be the fix, but I don't know how this file is generated. The Executable app

[2016-08-10 17:43] MannyMoo commented on #521
I found the file to change and created the above pull request. Obviously it should be rejected if there's a good reason to be using shell=True.

[2016-08-11 09:48] rob-c opened #726 "Intermittent bug in new tests"
We came across this error on the tests which suggests something is a bit unstable in the new test system.

I think it's worth an effort to understand how/why this happened but it clearly doesn't happen for every single test. Maybe it only highlights 1 small error which needs to be checked.
(It appears a Job object is created from the kwds parsing, probably a check around one of the return statemen

[2016-08-11 09:53] #521 closed

[2016-08-11 11:25] mesmith75 opened #727 "SplitByFiles GangaList datatype ignored"
There looks to be a bug in SplitByFiles:
https://github.com/ganga-devs/ganga/blob/develop/python/GangaLHCb/Lib/Splitters/SplitByFiles.py#L88

If the dataset type is a GangaList this isType function doesn't see it - I think because of the parentheses - so the splitting doesn't work. Removing them seems to get it to work. Is that correct?

[2016-08-11 12:42] alexanderrichards commented on #724
This is a duplicate of #521

[2016-08-11 12:44] alexanderrichards commented on #727
yes it should be comparing to the *type* `GangaList` rather than an instance thereof presumably. However this would be better written with the `isinstance` python builtin.

One question I have that arises from this bug as well as #521 is how come these things are not picked up in the testing? Particularly with #521 as I believe that the default `Executable` application has args with it and therefo

[2016-08-11 12:56] rob-c commented on #727
I think `isinstance` should now be safe to use now as the proxy is always correctly stripped.
(The `isType` was supposed to detect instances and take a `type` of the object, but it's probably better to fix the code to be more readable regardless and this is probably failing.)
@alexanderrichards I think this is using an LHCb splitter which isn't currently being tested in the automated tests. We sho

[2016-08-12 09:22] rob-c opened #730 "Can't make jobs from jobtemplates"
The functionality of:

[code]

has been broken since the removal of the `__construct__` method which means that the Job `__init__` method needs to be designed to accept an argument and to check that the argument is a Job/JobTemplate object in order to fully construct a job.
I'll put together a quick PR for this but I think this warrants fixing pre 6.2.0 but that I think we can make a 6.1.26/6.2.0

[2016-08-15 11:37] rob-c opened #732 "Error resubmitting 'completed' bad subjob on DIRAC backend"
I'll include the original email from Raja below but it appears we're not allowing for correct state transitions within the DIRAC backend for 'completed' but bad jobs on resubmit.
I suspect this could be some call to `setState` is incorrect and the job state should have been cycled back to some other state first for resubmit.

[code]

[2016-08-15 12:24] rob-c commented on #732
After looking around this could be intended behavior due to the monitoring state of the job. I'll ask Raja to confirm.

[2016-08-15 12:35] drmarkwslater commented on #732
This is certainly consistent from the `resubmit` part of the logic. The question is should this job have been marked as `failed` by Ganga - not sure about the answer to that one 😄

[2016-08-16 20:45] rob-c opened #733 "MassStorage file problem"
Problem found by LHCb user is:

[code]

The script used for this is:

[code]

This concerns me slightly as there is an error somewhere around the handling of complex file names which could do with tracking down.
I'm worried that files could be being copied multiple times or not at all or multiple times but once is broken.
Given this effects the integrity of the output data for the user I think we

[2016-08-16 23:00] rob-c commented on #732
I think we should use a query against the `backend.status` to trigger a completion event to cycle the job status as I suppose the job could be in a `running` state in Ganga but look completed after a `backend.status` query which should probably trigger a job status update imo.
I think this isn't critical for 6.2.0 but 'would be nice' as you can force it to be failed then resubmit ganga side...

[2016-08-17 15:49] jea-umd commented on #733
I played with a couple of different ways of reproducing the error. It does not appear when using a DiracFile, and it does appear when using a MassStorageFile whether a wildcard '*.root' or an explicit file name is used.

[2016-08-17 16:01] rob-c commented on #733
@jea-umd I'm in the process of finally writing a `MassStorageFile` test which should make debugging this easier.
Does this appear if there is no `outputfilenameformat` used or if this is used without a subjob at all?

[2016-08-17 16:01] mesmith75 commented on #733
I think the problem is in the cleaUpClient function. The job gets uploaded fine, but the file is still in the output. It looks as if the function in IGangaFile doesn't work

[2016-08-17 16:03] rob-c commented on #733
@mesmith75 I think you've spotted the main cause of the bug but I'm tracking down trying to make a test to pick this up so that it doesn't come back.

[2016-08-17 16:18] mesmith75 commented on #733
@rob-c Yes the function in IGangaFile needs to look more like:
[code]

The change is the ```import glob``` and  ```import os``` and the change of ```outputfile.namePattern``` to ```self.namePattern```.This works for me.

[2016-08-17 16:34] rob-c commented on #733
@mesmith75 This isn't the full fix as I can reproduce this error on other configurations still.

There are a lot of annoying papercuts in the handling of MassStorageFile which could do with smoothing over before 6.2.0 and writing a few basic tests to show what works and what doesn't.

[2016-08-18 09:22] will-cern commented on #545
Hi Mark,

Just tried testing with 6.1.24, and unfortunately I now get the worrying message:

WARNING  CMTCONFIG = x86_64-slc6-gcc49-opt, Your CMT setup is using 64 bit - are you sure you want to use 64 bit ?
ERROR    could not get Athena version. perhaps your requirements file doesn't have ATLAS_TEST_AREA
ApplicationConfigurationError: CMT could not parse correct environment !
 Did you start/setup

[2016-08-18 09:25] drmarkwslater commented on #545
@will-cern I'll have a look - we're getting 6.1.25 out ASAP anyway so assuming I can find a fix, then it will be sorted soon!

[2016-08-18 09:51] will-cern commented on #545
Thanks. let me know if you have any trouble reproducing this.

[2016-08-18 09:54] will-cern opened #734 "Implement peek for running jobs on the Condor backend"
Hi,

Not sure if this is already a feature of ganga, but it would be great if there was an easy way from to invoke 'condor_tail -f <jid>' from within the ganga prompt for a running condor job. Ideally doing "job.peek('stdout')" for a running condor job would execute this tailing the stdout!

Cheers
Will

[2016-08-18 10:52] #730 closed

[2016-08-18 10:53] mesmith75 commented on #733
@rob-c Does this copy files to the ganga repository before uploading them to mass storage? Is it possible to copy them straight there from the WN?

[2016-08-18 11:03] rob-c commented on #733
@mesmith75 short answer NO.
Long answer:

We have a configuration system which means that we know from which backend we can access the MassStorage directly. i.e. from a `LSF` or `Local` job on lxplus we can assume we have access to eos and directly put the file there.
From a Dirac WN we can _never_ assume that this is the case due to ports needing to be open in a firewall and such and we don't off

[2016-08-18 11:08] mesmith75 commented on #733
ah ok, that makes sense. Thanks for the explanation.

[2016-08-18 14:06] drmarkwslater opened #737 "Add support for running Docker images using the current backends"
A nice feature would be the possibility of saying you want your job to be run from a docker image that was (possibly) created from during the preparation step. I can see this being independent (to a certain extent) from the backend - you just put in a flag either on the Job object of the application object that says you want to use Docker and the script that's sent will run the appropriate command

[2016-08-18 14:51] rob-c commented on #737
I've been interested in this myself I'll admit (was looking into it a while ago as a private project).

Would it be worth having some backend which ssh-es directly into a machine and runs some commands this backend would have to manage sending files ahead of the application and managing how they're sent back.
This would also deal with credentials an ssh-keypair or username/password.
(Some other au

[2016-08-18 15:20] drmarkwslater commented on #737
@rob-c I think there are two+ things to talk about here. The one you describe is some sort of combination of the `Remote` backend and the Amazon EC2 backend we had some time ago. This would be either you have several remote machines that Ganga controls jobs on directly AND/OR you talk to an openstack (or whatever) instance to fire up machines for you that have the job run as part of the image. If

[2016-08-18 19:32] will-cern commented on #545
So it definitely seems to be an issue when using AthAnalysisBase:

asetup AthAnalysisBase,2.4.18

This wasn't a problem with earlier ganga versions.
 Do you think we need to introduce a unit test somewhere to ensure that we never break the submission with that release? We are pushing ganga usage hard with this release now, so it will be bad if it ever breaks.

Cheers

Will

[2016-08-18 20:56] rmatev opened #738 "Fast accessURL on many Dirac files"
`DiracFile.accessURL` is great, but way too slow (~8 s). I often have jobs with few hundred subjobs. If I call `.accessURL()` on the output file of each subjob, it will take O(hour) to get all the urls, which is unacceptable.

My solution to this was to make one Dirac call for many files:

[code]

Unfortunately, this is broken in 6.1.22 (and 6.1.24), MWE:

[code]

I'd appreciate a lot any workarou

[2016-08-18 21:06] rmatev commented on #738
And of course I don't need ganga's execute in this case. It can be replaced by
[code]

The question about a proper solution still holds.

[2016-08-18 22:56] mesmith75 commented on #738
You make a good point about the time. I think it is because ganga looks up the list of locations for the DiracFile and then gets the accessURL for a specified location picked from the list. Both of these things take a little time.

We can certainly come up with a function in ganga to give you the accessURLs from a list of LFNs.
As you point out that functionality exists with LHCbDirac. You can dow

[2016-08-19 07:45] rmatev commented on #738
Thanks for looking. If that helps, here's my function that calls and parses the output of `dirac-dms-lfn-accessURL`: https://github.com/rmatev/ganga-tools/blob/master/gutils/download.py#L65

It is quite ugly to do it with the command, but IIRC, the Dirac API did not expose something similar enough.

[2016-08-19 08:02] will-cern opened #739 "ganga athena -c option not passing arguments correctly"
Hi,

I just tried using the -c option to pass arguments to my joboption in ganga, but I noticed if I did:

ganga athena .... myJobOptions.py -c "test=1"

In the log files for the job, I see that instead of "test=1" being executed, what gets executed is " '''test=1''' " ... i.e. the command has been converted to a string, so the execution isn't the same as a local athena job.

Can this be fixed ple

[2016-08-19 08:29] will-cern commented on #537
As an extension to this, could it be possible to also submit jobs to a batch system that have no input. In this case, the same job should be executed as many times as 'split' is specified, but with a "jobNumber" variable defined in the python preexec joboptions specifying which subjob number this is.

Ganga seems to correctly detect 'noInput' as in the configuration detection step, so in this case

[2016-08-19 11:21] mesmith75 commented on #738
Unfortunately the DiracAPI doesn't quite do what we want. You can give ```getReplicas``` a list of lfns. You can also give ```getAccessURL``` a list of LFNs but you have to also give it a single valid SE.

So what we can do is make a list of the unique SEs that the files in the list are at:
[code]
The we iterate over this list of SEs with the getAccessURL and avoid doing it twice for the same LFN:

[2016-08-19 11:29] mesmith75 commented on #738
I think this should be added to the Dirac backend so one can just do something like j.getAccessURLs() and get all the files for the job (including subjobs).

[2016-08-19 11:37] rob-c commented on #738
@mesmith75 Sounds like a nice feature to have. I'm assuming it would run over all completed subjobs regardless of if they completed successfully or not?

[2016-08-19 11:41] mesmith75 commented on #738
Maybe the last part would be better to remove the processed lfn:
[code]
@rob-c I guess it should be over just the successful ones other wise there will be lots of errors with missing files?

[2016-08-19 11:48] rob-c commented on #738
Maybe some static function which takes a list of DiracFiles would be useful?
Placing a helper method on the backend which passses this the _good_ files from the job would be helpful but allows users to pass whatever files they want to some static method

[2016-08-19 12:28] mesmith75 commented on #738
Yes that sounds good.

[2016-08-19 12:55] drmarkwslater commented on #545
@will-cern So this is **technically** not my fault 😄  The only change of significance between the 6.1.23 and 6.1.24 was a bump to the panda-tools version. This was needed because Athena releases 21+ use CMake and the version Ganga was using didn't support that. However, doing this seems to have broken AthAnalysisBase setup. I'm going to see how to fix this now.

As regards testing, this is definit

[2016-08-19 13:41] drmarkwslater commented on #545
@will-cern Found the problem! It seems when retrieving pandatools from SVN, it didn't get the latest version (or they've stopped using it) and so the version I had **thought** was 0.5.69 actually wasn't. I've fixed the tarball and I'll get Asoka to re-install it to make sure CVMFS catches up. I've also fixed the script so it grabs the version from CVMFS instead.

[2016-08-19 15:55] RongkunWang opened #741 "ganga 6.1.24's condor job not running on USTC's cluster ui01.lcg.ustc.edu.cn"
So, I used
/cvmfs/ganga.cern.ch/Ganga/install/ganga/bin/ganga athena --condor --nocompile --inputtype Local --split=60  \
      --inPfnListFile $DATASETS  \
      --outputlocation="/lustre/AtlUser/rkwang/NTUP4L_HZdZd/condor.$DATE.signal_13TeV_fastSim_mc15c"  \
      --outputtype 'ATLAS' share/analysisJobOptions.py
to upload the job to condor.

with 2.4.18 AthAnalysisBase.

And then when I opened g

[2016-08-19 20:46] drmarkwslater commented on #741
@RongkunWang I would very much recommend using the version of Ganga deployed by Atlas rather than the vanilla version. If you do:
[code]

And you should hopefully have more luck! If not, let me know and I'll have a look.

[2016-08-19 21:19] RongkunWang commented on #741
Thanks Mark. It's running now, but I still have the error when I try to monitor it:
ERROR    Monitoring Error: local variable 'exitLine' referenced before assignment.

what could be the source of this problem?

[2016-08-19 21:25] RongkunWang commented on #741
Oh, I got this:

Py:ConfigurableDb    INFO Read module info for 618 configurables from 3 genConfDb files
Py:ConfigurableDb    INFO No duplicates have been found: that's good !
Shortened traceback (most recent user call last):
 IncludeError: include file analysisJobOptions.py can not be found
Py:Athena            INFO leaving with code 2: "an error occurred when including a file"
...
Exit code: 512

[2016-08-20 07:39] drmarkwslater commented on #741
@RongkunWang So the `exitLine` problem is a legit bug but it's actually pointing to an issue with the Condor setup as it will only happen if the stdout file is there but is empty when Ganga tries to look at it. I'll try to think of a way to properly figure out what the problem is this weekend.

The problem of not finding the job options is a bit strange. I'll have a think about that as well...

[2016-08-20 20:58] RongkunWang commented on #741
Thanks Mark. So the path to the job option is a relative path from the dir that I submit my job, is that ok?

[2016-08-22 08:03] will-cern opened #743 "ganga still gives warning about using 64 bit?"
Hi,

This is a super minor issue - I've noticed ganga still gives a warning about CMT being setup with 64 bit when I submit jobs. Is this warning really still necessary? If anything, surely it should be a warning if you setup with 32 bit these days.

Just thought I'd mention this.

Cheers
Will

[2016-08-22 08:05] drmarkwslater commented on #743
@will-cern I've also noticed this and thought I should remove it - it will get done soon 😄

[2016-08-22 08:22] will-cern commented on #545
Hi!
Just tested the lxbatch submission with this latest patch, and I can confirm the job does run (hurray!). But at the end, the ganga marks the job as failed because of this familiar:

Could not stat output data. Marking job as failed

reason. Its because the copy of the output file failed. I specified the output location as:

--outputlocation="~will/path/to/dir" --outputtype 'ATLAS'

I see in th

[2016-08-22 08:33] will-cern commented on #545
Actually I do see there is an attempt to mk the directory with 'rfmkdir' further up the log file, but this fails because there are also quote marks around that path:

rfmkdir -p '~will/path/to/dir'

So actually I think all of this will be fixed if the quote marks are eliminated!

Thanks
Will

[2016-08-22 09:21] mesmith75 commented on #738
@rob-c Where would be the best place to put the static function. I assume the helper method goes in DiracBase?

[2016-08-22 09:36] drmarkwslater commented on #741
It should be and if it's not, I'll fix it so it is 😄

[2016-08-22 10:05] drmarkwslater commented on #741
@RongkunWang So I think I've figured out what the problem is - I believe that Ganga is seeing that the job has finished from Condor and immediately checks for the stdout file. However, for some reason the stdout file is present but empty and so it fails when trying to check the status of the job. Just to confirm this, could you do answer the following?

1) Are the stdout files that are created in

[2016-08-22 10:21] RongkunWang commented on #741
Hi, Mark.

Yes, I can see them in the gangadir. I derive the error messages from there.

My home is mounted on nfs system, (rw, nosuid,soft...)

Thanks.

[2016-08-22 10:25] drmarkwslater commented on #741
Thanks! I'm a bit surprised that an NFS system is being that slow to update (I would have expected it from AFS 😄 ) but nevermind. I'll put a patch together for you to try and we'll see if that works. Just to eliminate ATLAS from this part of the problem, could you run Ganga with a clean gangadir (just move your old one away for the moment) and do the following:
[code]
You should hopefully see the

[2016-08-22 10:37] rob-c commented on #53
I think this has been resolved by now due to the improved handling around when a proxy is correctly auto-removed from an object. If this ever crops up again we can open a better more specific issue which gets to the heart of the problem.

[2016-08-22 10:37] #53 closed

[2016-08-22 10:42] rob-c commented on #39
I've fixed some long standing issues with the `MassStorageFile` object and have a working local configuration in #735 for the testing of the `MassStorageFile` class.
I'm tempted to simply make a `SharedFile` object which is a `MassStorageFile` object which makes use of the local commands as in the integration test.
Unless anyone objects to this I'll make a PR to close this issue.

[2016-08-22 10:44] rob-c commented on #615
@drmarkwslater There appears to be some interest from different people to using Ganga with SLURM, is it worth elevating this to a default backend configuration which we 'support' out of the box?

[2016-08-22 13:26] drmarkwslater commented on #545
@will-cern So this is a combination of things actually. Firstly, `rfmkdir` does indeed fail if you use the `-p` flag and try to create an **relative** path, e.g.
[code]
Secondly, it doesn't expand the `~` so this doesn't work either
[code]
because if thinks of this as a relative path `./~/my/path`.

In summary, I can put some fixes in for this in the scripts (and will do!) but in the short term, j

[2016-08-22 14:06] drmarkwslater commented on #741
@RongkunWang So the missing JOs problem is a definite bug which I'll fix in the next 24 hours. To get around it, simply submit your job from either the `share` dir or the root directory of your Test Area and you should be OK!

[2016-08-22 14:24] #733 closed

[2016-08-22 15:14] RongkunWang commented on #741
Thanks, Mark.

The jobs' running now with uploading from Test Area.

As for the first comment, yes, the error didn't appear again (before that, the error sometimes is 'failed to retrieve job status', something like that, wording is not exact.)

[2016-08-22 16:49] laurentdufour opened #745 "Gridproxy unavailable at CernVM machines"
As reported in the lhcb-distributed-analysis mailng list ("problem with ganga on CernVM") Ganga versions v601r22 and above break compatibility with CernVM machines:

[code]

[2016-08-22 17:10] will-cern commented on #545
The absolute path does indeed work for me. Thanks. I can now finally advertise that we can submit jobs to lxbatch through ganga!
One follow up problem though: in my testing, I discovered that when I submitted a job, left it a long time, and then came back to my machine and did 'ganga', ganga would put the job in the failed state because it says

WARNING job 12.0 has disappeared from the batch syst

[2016-08-22 18:38] rob-c commented on #745
Thanks for reporting this, I've been aware of this for a while we'll look into it depending on manpower.

[2016-08-22 20:13] mesmith75 commented on #745
Can I clarify - this is just a CernVM issue not CVMFS?

[2016-08-22 21:53] laurentdufour commented on #745
According to the mail exchange, it seems to particularly pop up with CernVM. All I know for sure is that I myself experience the issue itself on the Nikhef cluster, which uses CVMfs but not AFS. These are SLC6 machines.

[2016-08-23 08:32] drmarkwslater commented on #739
@will-cern So can I just confirm that the job should be executed as:
[code]
i.e. `"` around the options? I would assume so as otherwise you can't put other commands in there. In which case this should be in ASAP!

[2016-08-23 08:43] will-cern commented on #739
That's right, it goes in a double quote.

Thanks
Will

[2016-08-23 08:56] drmarkwslater commented on #615
@rob-c That's the plan. The problem is finding a SLURM instance to test it against. If I have a day spare at some point I'll probably set one up myself and use that to get the backend code written.

[2016-08-23 09:54] alexanderrichards commented on #686
Closing as the credentials branch with fix this in a more permanent way.

[2016-08-23 09:54] #686 closed

[2016-08-23 10:32] mesmith75 commented on #745
I managed to reproduce this on the Imperial linux machines. I also had the error at startup
[code]

[2016-08-23 10:52] drmarkwslater commented on #486
I believe this was fixed some time ago by @milliams. Closing!

[2016-08-23 10:52] #486 closed

[2016-08-23 10:53] #544 closed

[2016-08-23 11:04] drmarkwslater opened #747 "Check stdout/stderr for old LSF jobs that have gone from the batch system"
If you submit an LSF job and then don't monitor if for a long time, Ganga will think the job has failed because LSF cleans up the job. It should probably just check the the stdout/stderr if LSF reports the job as finished or isn't present any more. This is what Condor does.

[2016-08-23 11:05] drmarkwslater commented on #545
@will-cern Made a new issue to cover this (#747). Will try to get to this in the next week!

[2016-08-23 11:39] #542 closed

[2016-08-23 11:39] #545 closed

[2016-08-23 11:39] #739 closed

[2016-08-23 11:39] #741 closed

[2016-08-23 11:39] #743 closed

[2016-08-23 11:41] milliams commented on #743
Should this be marked for 6.1.25 again?

[2016-08-23 12:02] rob-c commented on #747
This would be nice to see.

[2016-08-23 16:40] KonstantinSchubert commented on #640
I assume this issue is talking about what is now called GaudiExec? I've been trying to submit one, but it fails because:

I know a few people how have grown very dependent on the extraopts. For example, this allows us to dynamically(!) set the database tags without modifying an options file.

[code]

I really would not know any other way of doing this.

[2016-08-23 16:44] KonstantinSchubert opened #749 "Small mistake in help for GaudiExec?"
This assignment failed when I tried it:
[code]
https://github.com/ganga-devs/ganga/blob/cd86b6eb19fa652b276c1d242c6dccce08db647c/python/GangaLHCb/Lib/Applications/GaudiExec.py#L66

Instead, I had to assign a list:

[code]

[2016-08-23 16:51] rob-c commented on #749
@KonstantinSchubert Ah yes, I forgot to update the docs when I made the changes to support lists.
Shall I make a PR for this or do you want to? It may be worth checking that there aren't any other typos I think, thanks for reporting!

[2016-08-23 16:52] KonstantinSchubert commented on #749
I will make a PR, become a contributor :D ;)

[2016-08-23 16:53] KonstantinSchubert commented on #749
Zu welcher Branch mache ich den PR? Develop?

[2016-08-23 16:56] rob-c commented on #749
If you can make the PR against develop it might be in time to get in before 6.1.25.
@mesmith75 Have you started the release process yet or can we get this in?

[2016-08-24 08:59] mesmith75 commented on #749
I am afraid the release has already been started.

[2016-08-24 09:03] mesmith75 opened #751 "Request xrootd protocol as defualt for accessURL"
The accessURL command needs to be changed to get a URL with the xrootd protocol as default:

[code]

I will add this in.

[2016-08-24 09:23] alexanderrichards commented on #749
I think one could equally argue since it's a typo it can wait to 6.2.1. I don't mind either way, it's your call as your release manager however if you make changes to the release branch then they will need to be merged back to develop once the release is done. As long as this is done then I don't thing there will be a problem

[2016-08-24 09:25] mesmith75 commented on #751
Unfortunately the Dirac API doesn't include options for
[code]
Should we change this to using the dirac-dms-lfn-accessURL command?

[2016-08-24 09:26] milliams commented on #749
All changes to the release branch are automatically merged back into
develop when the release is finalised.

Cheers,
Matt

On 24 August 2016 at 10:23, Alexander Richards <notifications@github.com>
wrote:

[2016-08-24 09:34] alexanderrichards commented on #749
ah ha magic! :wink:

[2016-08-24 09:36] mesmith75 commented on #749
Yes let's put it in the release. It is a new(ish) feature so the helper text should probably be accurate.

[2016-08-24 10:12] rob-c commented on #751
My reaction is that it would be more useful to see what this script does behind the scenes and use the functions there in the standard wrapper. Changing to use the script directly is a potentially a relatively big undertaking for potentially little gain imo.
Is the behaviour here the same between DIRAC and LHCbDIRAC? (On the face of it I would imagine that it is)

[2016-08-24 10:29] mesmith75 commented on #751
@rob-c Yes that would make more sense. The relevant part is in the DataManagerSystem of Dirac:
 DIRAC/DataManagementSystem/Client/DataManager.py
https://github.com/DIRACGrid/DIRAC/blob/366315622670082e3e5492769ad52be6d375f3cd/DataManagementSystem/Client/DataManager.py L1660
The call from the API just leaves the protocol argument out.

[2016-08-24 10:33] rob-c commented on #751
Where is the accessURL used atm in the codebase? I suspect that setting the protocol to be `xrootd` is not what is preferred for the GridPP instance so I think we would need to make some configurable or wrapper for LHCbDirac calls which do things slightly differently there.

[2016-08-24 10:40] mesmith75 commented on #751
At the moment just for DiracFiles, although we want to extend that to a static function and jobs with the Dirac backend.
I see your point about GridPP. I think the only issue is really the CNAF-USER SE which as a default doesn't use a protocol that allows outside access.

[2016-08-24 10:44] rob-c commented on #751
@mesmith75 Is there a sensible failure associated with the case of `CNAF-USER`? If not we should probably add some sort of mechanism to allow a user to get a file over `xrootd` from another SE unless the user has specifically requested `CNAF` for better or worse.
This quickly sounds like a non-trivial but useful feature to have automated :+1:

[2016-08-24 10:55] mesmith75 commented on #751
@rob-c It is not really failure. You get back a valid URL so you don't know you can't use it until you try to open it. I guess it is noticeable in the path you get. These are user jobs so usually they only have 1 replica the location of which the user doesn't think about (unless they start banning SEs).

Maybe it would just be best to add in a few lines to make the necessary changes for files at C

[2016-08-24 10:59] rob-c commented on #751
If we're going down the route of blacklisting `CNAF` can we add a configurable list somewhere which would allow users to add/remove remote SE based upon grid related activity. (We can default this to `['CNAF-USER']` within the LHCb config.
If we're going to add some way for LHCb users to have xrootd by default then I think it also makes sense to add an option to the function to allow then to chang

[2016-08-24 11:03] mesmith75 commented on #749
@KonstantinSchubert Can you make a new pull request against the release/6.1.25 branch. Then I can finish the release.

[2016-08-24 11:06] milliams commented on #749
It's now (in the last few weeks or so) possible to change the branch against which a PR is made.

[2016-08-24 11:07] mesmith75 commented on #749
So it is. Thanks!

[2016-08-24 11:08] KonstantinSchubert commented on #749
Sure, give me a minute.

Mark Smith <notifications@github.com> schrieb am Mi., 24. Aug. 2016, 13:03:

[2016-08-24 11:13] mesmith75 commented on #751
I would rather not start blacklisting sites if we don't like how they are set up. I'll change the function to request the xrootd by default for all sites and add an option for the user to choose their own if they wish. That should be straightforward.

I kind of like the idea of adding removing SEs based on grid activity but I would have thought that Dirac sets the priorities of SEs itself based on

[2016-08-24 12:02] rob-c commented on #751
There is no other way to disable remote access at CNAF based upon what you've said, I think maintaining a list of sites which don't allow remote access isn't a bad idea. If a user doesn't request a site and they randomly get given a URL for CNAF from a replica there it's going to cause problems imo.

I'd rather not trust being able to poll DIRAC for the order of preference (there is no exposed way

[2016-08-24 12:07] mesmith75 commented on #751
Ah no, the CNAF does allow remote access - you can request the xrootd URL and it works fine. It is just the default it returns is not for remote, you just need to specify the protocol.

[2016-08-24 12:38] rob-c commented on #640
@KonstantinSchubert Can you try using `extraOpts` and let me know if it works for you: https://github.com/ganga-devs/ganga/blob/develop/python/GangaLHCb/Lib/Applications/GaudiExec.py#L102

[2016-08-24 12:41] rob-c commented on #751
OK, then I suspect we can get away with just using the protocol correctly but having it a safe default in GangaDirac which is set to `xrootd` in GangaLHCb

[2016-08-24 13:08] KonstantinSchubert commented on #640
@rob-c `extraOpts` seems to work.
So the issue on my side was just the spelling? `extraOpts` vs `extraopts`? Sorry if I completely missed the point of this issue.

[2016-08-24 13:11] rob-c commented on #640
@KonstantinSchubert This issue should have been closed a while ago but I've quite a few things on my plate atm so closing this slipped past me

[2016-08-24 13:11] #640 closed

[2016-08-24 13:12] rob-c commented on #608
This should be supported by GaudiExec

[2016-08-24 13:13] rob-c commented on #73
I think I can close this issue given we now have GaudiExec support and any issues with that should be opened in separate issues

[2016-08-24 13:13] #73 closed

[2016-08-24 13:13] #608 closed

[2016-08-24 13:14] rob-c commented on #446
@pseyfert Does the new GaudiExec support this use case and can we close this issue?

[2016-08-24 15:19] rob-c commented on #749
Closed via #750

[2016-08-24 15:19] #749 closed

[2016-08-24 15:22] rob-c commented on #745
A workaround has been found for this:
Set: `[LCG] GLITE_SETUP=/home` as per #753 in your .gangarc

This should get this working again and give you a gridProxy instance exported to the GPI.
A more permanent solution is being sought via updating the CVMFS site config and this will be fixed in Ganga 6.3.0 properly with a rewrite of the proxy system.

Can someone who has been effected by this report i

[2016-08-25 14:26] mesmith75 commented on #745
@rob-c Do you remember the reason for the error:
[code]
I have already forgotten it.

[2016-08-25 14:38] mattrudolph commented on #745
I was able to get a grid proxy in 6.1.22 inside CernVM using the workaround.  So I assume everything would work afterwards although I haven't tried yet.

[2016-08-25 23:21] laurentdufour commented on #745
The workaround seems to work indeed.
Although I still get the LHCb version error.

[2016-08-25 23:29] rob-c commented on #745
@laurentdufour Thankfully this error is annoying but harmless. It's due to the site config file pulled in via ganga on cvmfs being very out of date now.
I don't know what the process would be for changing the site config on cvmfs. @po10 do you know what's involved in changing this? If it's just a case of asking the appropriate person to upload a file to the correct place on cvmfs I'll come up with

[2016-08-26 10:23] rob-c opened #756 "Move to LHCbDirac 8.3 in Ganga 6.2.1"
This is just a meta-issue to track the fact we plan to have moved to LHCbDirac 8.3 by  Ganga 6.2.1.

There are some changes to make and as 8.3 is a big change in LHCbDirac I'm opting to avoid changing to this for 6.2.0 for stability reasons but I'm happy to migrate to it asap after 6.2 has been released.

(This will be fixed when the versioning code is handled entirely in the LHCb config and the s

[2016-08-30 22:57] rob-c opened #757 "Version number in session/job monitoring"
I should probably open this against the monitoring system as this is the bit most effected but there was a change (at some point in 6.1.x) which caused the version string reported to change dramatically somewhere from `Ganga-x-y-z` to simply `x.y.z`.

I'm leaving an issue open here as it's only prudent to go back and check that nothing else has changed whenever this happened. This took me a few ho

[2016-08-31 10:24] rob-c opened #758 "hostname resolution broken"
nearly all LHCb users  (and probably many more not LHCb) (regardless of site etc) see their hostname stored as `localhost`.

This is due to the following exception being caught in a catch all exception handler:
``` WARNING  NameError: global name 'hostname_tmp' is not defined ```

This is thrown from:
https://github.com/ganga-devs/ganga/blob/develop/python/Ganga/Utility/util.py#L160

I suspect thi

[2016-08-31 10:26] rob-c commented on #410
I think this has been resolved by now. We can re-open this if needed

[2016-08-31 10:26] #410 closed

[2016-08-31 10:27] rob-c commented on #558
I think we're now doing this correctly since I removed the `__construct__` methods. If we're not this needs addressing in a different way than originally intended anyway.

[2016-08-31 10:27] #558 closed

[2016-08-31 11:00] rob-c commented on #383
I think this is fixed via whatever fixed #758 but we should probably be sure

[2016-08-31 13:01] drmarkwslater commented on #757
@rob-c Hammercloud are technically using 6.1.2 but have patched it numerous times. I've said they should be able to transparently shift to the latest version but I don't think they have the manpower/time to do it yet.

[2016-08-31 13:04] rob-c commented on #757
@drmarkwslater I'm assuming this is just a case that the Ganga release is reporting this version despite a lot of private patches to keep things working?
I'd be curious if they have any nonAtlas problems when they come to move (they shouldn't) but this would be telling about if we're missing some coverage in our tests I think

[2016-08-31 13:12] drmarkwslater commented on #758
This seems to be my fault - I don't know why I missed this but there we go. I agree that a call to `getfqdn` makes the most sense but I think that having it wrapped is a good idea due to the non-threadsafe-ness of these commands that have already been found. I'll get a PR done ASAP...

[2016-08-31 14:05] drmarkwslater commented on #757
@rob-c Basically yes - If they have any problems (almost always with Atlas specific stuff) I'll put the patch into Ganga and they'll just manually patch the version they're running. as you say, I don't believe there should be any problems when they eventually decide to shift but we'll have to see.

[2016-08-31 16:17] rob-c commented on #737
@drmarkwslater Is this sounding like the functionality in kubernetes?
http://kubernetes.io/docs/hellonode/

Sounds like a system to send docker containers to/from computing nodes on a cluster.
Would be nice to have similar functionality in a GangaDocker plugin

[2016-09-01 10:40] #758 closed

[2016-09-01 15:30] mesmith75 opened #763 "unknown configuration section: [DashboardMS]"
I am noticing this error on the ATLAS tests when Ganga starts. It is preceded by a warning as well:

[code]

I don't think it is fatal but is it important?

[2016-09-02 07:36] rob-c opened #764 "GaudiExec enhancements"
GaudiExec loses a few features which it would be good to re-implement:
- [x] Post-processing metadata per subjob
- [ ] Pickling payload before submitting several hundred subjobs
- [x] XML lumi data could be added back in

Edit:
- [ ] Inspect the submitted scripts for `DaVinci().TupleFile`

This list may change but these are the biggest todo items for best support I can think of.

[2016-09-02 14:26] rob-c opened #765 "Local backend is still probably bleeding env config from outside ganga"
I propose adding a small unittest to test that no external environmental variables are picked up by a local or interactive backend.

This should be relatively short and would just be to submit 1 job that fails of completes based upon an env variable which is defined in the ganga environment not the WN environment.

Edit: if there is some bleed we should look into adding an additional step to launc

[2016-09-05 07:42] rob-c opened #766 "Merger problems reported by LHCb users"
Hi all,

An LHCb user has spotted that the job merger appears to be broken and I can confirm the error they see:
[code]

I've had a look at the Merger tests and it appears we don't actually have a test which assigns a merger to a job and tests if it ran.

We should probably add this ASAP as this seems like a fairly big oversight.

I suspect this is likely related to the removal of ``___construct__

[2016-09-05 07:47] rob-c commented on #766
And after looking this appears to be a different bug as the mergers should be hidden from the user. I'll see if running a post-processor is known to work.

[2016-09-05 07:52] mesmith75 commented on #766
Yes, I thought this was supposed to be a postprocessor now?

[2016-09-05 07:53] drmarkwslater commented on #766
@rob-c The problem is from doing:
[code]
as opposed to:
[code]
which works. So **technically** this isn't really a bug but it does mean very old backwards compatibility has been broken. I'm not sure if this is worth fixing or just telling users about it...

[2016-09-05 07:54] rob-c commented on #766
Yes in this case we shouldn't be allowing broken assignment or discovery by assignment from in front of the proxy.
The merger is no longer used  (it's only used in a proxy tool to convert objects to the postprocessor) so we shouldn't allow this.

This was reported against 6.2.0 for completness.

[2016-09-05 07:55] drmarkwslater commented on #766
Rightio - closing 😄

[2016-09-05 07:55] #766 closed

[2016-09-05 07:57] rob-c commented on #766
Hmm, I see what you mean @drmarkwslater I'm wondering if we can be expected to fix this as this behaviour is currently needed for loading job objects from disk...

Could we add a specific kwd argument to turn off the assignment protection when loading a job and turn this back on when a user creates an object from in front of the GPI?

[2016-09-05 08:02] rob-c opened #767 "Proxy repr issue reported by LHCb user."
An LHCb user is reporting the following call from in front of the GPI can potentially timeout.

[code]

This may or may not be a ganga issue as if this is doing some form of file I/O I suppose this could just be AFS hanging behind the scenes. Adding this in case it's revealing a problem in our logic.

I'll check what the full job config was soon.

[2016-09-05 08:03] drmarkwslater commented on #766
I would personally say this is not worth it anymore as mergers were retired in early 2013 (Feb or May depending on where you look) and so I doubt people will still have jobs they're likely to go back to from that time now. If they do, then maybe we can revisit it but otherwise it would add code/dev time to something that will probably will never be needed and hasn't even been picked up until now.

[2016-09-05 08:05] rob-c commented on #766
You're probably correct. We should probably be adding some step into the Job setter to migrate this but this should have been done back then. Given this is potentially 3 years old I think it's probably ok to mark this as won't fix.

[2016-09-05 09:53] drmarkwslater opened #768 "Add protection for large amounts of Dirac inputfiles"
There was an issue in LHCb in the last couple of days that a user had put all their input data into the `inputfiles` field of the job. These jobs failed but caused a few issues while doing so. We've had a request from the computing team to put in a check for very large `inputfile` declarations, including `DiracFiles` to catch this problem. This sounded like a good idea to me, hence this issue 😄

[2016-09-05 10:08] rob-c commented on #768
What is the limit being asked for?
The `DiracFile` atm more or less maps 1 to 1 when it comes to objects per LFN, wildcards aren't supported.

Should we stop submission of jobs which have 20+ (or some other number) LFN in the inputfiles?
It would be nice to have the ability to turn this off incase anyone needs to run a custom complex job in the future although I imagine this would be a highly spec

[2016-09-05 10:59] rob-c opened #769 "Nighlies not running Core tests against the plugins"
I'm going through the nightlies tests and seeing that the Core tests aren't being run against the various plugins.

I see there is the comment:

[code]

Is it understood what is broken here as I'm keen to re-run the nightly tests in this way to catch any potential problems in the future.

[2016-09-05 11:06] drmarkwslater commented on #769
Basically, if you run the tests as it was done, you either get the same `.xml` files created for the two sets of Core tests or because the tests are covered twice it goes wrong in the merge. Either way, as it stands, it doesn't work and you'll need to run these by hand yourself for the moment until we can figure out a way round that.

[2016-09-05 11:11] rob-c commented on #769
OK, I'll have a quick look and see if there is any way I can get this to work. Does the failure to merge the XML register as a failure within Jenkins plugin reading these XML files or is this happening within py.test?

[2016-09-05 11:14] rob-c commented on #769
https://github.com/miki725/xunitmerge looks like it could potentially be helpful for this

[2016-09-05 13:12] #709 closed

[2016-09-06 12:50] rob-c opened #774 "Problems with DIRAC nightly"
The DIRAC job object seems to be struggling in the latest nightlies:

[code]
... Leads to:
[code]

As a result a lot of the tests fall over. I'll have a look at how we've arrived here and see if it's obvious.

[2016-09-06 13:01] milliams commented on #774
This is being caused by ` execute('getOutputDataInfo("%s")' % job_id)` returning `{}` where it should be returning something like:
[code]

This is possibly due to the line:
[code]
which perhaps should be:
[code]

[2016-09-06 13:03] rob-c commented on #774
OK, sound like you've managed to get further than I have I'm having to start again with a fresh config env with DIRAC available. Would you know what is required to fix this in a short PR?

[2016-09-06 13:12] milliams commented on #774
Well I think this is only an ephemeral problem (which is why we haven't seen it before) and only crops up when the SE is being a little slow to respond. The loop I mentioned above is there to keep trying until it gets the right result but the way it's coded, if it gets a null result then it assumes that it succeeded:
[code]

Most likely, rerunning the nightly will pass but I'll put together a PR t

[2016-09-06 13:37] milliams commented on #774
It looks like the nightly test is progressing past the stuck point before but I'll put in a tiny PR to fix the issue you noticed.

[2016-09-06 14:01] milliams commented on #769
I honestly don't think that this is the way we want to do it anyway. All it does is increase the number of combinations we have to test. If you're worried that the LHCb configuration will conflict with the running of the Core tests then I suggest creating a separate nightly job called LHCbNightly or something and test it there.

[2016-09-06 14:31] rob-c opened #776 "Problems with config in unittests"
I've introduced the following:

[code]

into a short unittest the intention is to never run the test when I know it will fail. Standard stuff when supporting multiple platforms and multiple configs.

However. I find that the glite_status is being set to the coded default value regardless of what is in my `.gangarc`, `LHCB.ini` or other configuration sources.

If there some special treatment of the

[2016-09-06 14:34] milliams commented on #776
This is because at module-level the config files have not been read yet and so `getConfig` is just getting the default value.

[2016-09-06 14:39] rob-c commented on #776
I'm quickly realising this.
The following works:
[code]
What would be involved in factoring out the configuration system so that we can start this up in a minimal way to correctly parse the environment?

[2016-09-06 14:43] rob-c commented on #769
@milliams This showed at least 1 or 2 bugs in the past and helps keep the tests clear in what they expect imo.
If the test shouldn't fail because it's being run in a config it was never intended to be run in it should be skipped imo.
Having the requirement that the tests all run in all configs lowers some barrier to knowing what is going wrong, else someone coming along in the future may setup an

[2016-09-06 14:45] milliams commented on #776
Firstly, that's a bad idea because it's not going to scale to it being done lots of times. From what I can tell, the best solution is to do something like:
[code]

Secondly, we already have that factored out in `Ganga.testlib.GangaUnitTest.load_config_files` and `Ganga.testlib.GangaUnitTest.clear_config`.

[2016-09-06 14:48] rob-c commented on #776
@milliams If you're referring to the working example, that is not a solution it's a workaround to what I would regard as a bug. I'll try `load_config_files` and see if this works correctly and then change the decorator accordingly.
This is one of the few times I would prefer the decorator as it does in 1 line what you can do in 3 or 4.

[2016-09-06 14:49] milliams commented on #769
The problem is that looking at https://ganga-ci.cern.ch/jenkins/job/Nightly/430/, it's almost impossible to know *which* version of `TestLCG` failed; the normal one or one run with some other plugin/config loaded. Having a NightlyLHCbConfig test (or something which is named cleverly, perhaps using Jenking subjobs to parametrise it) allows the test failures to be useful.

[2016-09-06 14:51] milliams commented on #776
I really don't want to be doing config file reads etc. at test module import-time. We want test discovery to be fast.

[2016-09-06 15:55] rob-c commented on #776
It doesn't matter if it's running on a dedicated test machine I would argue. We can easily wrap this behind something external that doesn't effect the rest of the tests when running quickly

[2016-09-06 16:54] #774 closed

[2016-09-06 16:54] milliams commented on #776
Tests don't only run on dedicated machines. For example they constantly run on my local machine as I'm doing development.

[2016-09-06 16:57] rob-c commented on #776
This adds <0.3sec to test discovery on an AFS system from testing. On my SSD I don't notice accessing the 1 file during test discovery, is there anything else contributing to this being slow?

[2016-09-07 09:38] rob-c opened #778 "Changing default of GenericSplitter"
Should the GenericSplitter throw an exception if it fails to split?

And LHCb user posted that:

[code]

I'm thinking that maybe we should throw an exception if no subjobs were created by the splitter rather than submitting the (probably incorrect) single master job.

What are people's thoughts about this?

[2016-09-07 09:55] milliams commented on #778
I agree that a splitter should always create subjobs. Even the proposed `NullSplitter` (or `EmptySplitter` or whatever it was going to be called) would create a single subjob.

[2016-09-07 09:55] egede commented on #778
Not just for this splitter, but for all splitters, I believe that an exception should be thrown if no subjobs are created. Creation of a single subjob is allowed though.

[2016-09-07 09:58] rob-c commented on #778
OK, I'll look to adding something a little more generic in Job or elsewhere that if the splitting failed to return any subjobs we regard this as an error and will throw an exception.

[2016-09-07 11:58] drmarkwslater commented on #778
I had thought this was already in but it seems it was just present for Atlas splitters. I agree, if the splitter returns no jobs, that should be an exception.

[2016-09-08 12:52] egede opened #781 "Remove the legacy LHCb tests"
The legacy LHCb tests seems no longer to fulfil any purpose. Many have been migrated and for the remaining the number of "normal fails" is so large that we do not discover anything new.

[2016-09-08 16:29] mesmith75 opened #783 "Inputfiles not copied to WN for GaudiExec"
I think this is just a GaudiExec issue. The files listed under ```j.inputfiles = ['somefile.py']``` are not being copied over to the worker node. They are put into the tar in the input dir ```_input_sandbox_13_master.tgz ``` but I can't find that on the WN.

[2016-09-08 17:01] rob-c commented on #783
OK, which backend is this for?
(I should really get the gangamon server running again and restore the report functionality)
I'm curious to see the full trace from a job as this should be extracted at the start of the job running and I think I left the extract process fairly verbose to know what is extracted where.

If this is on DIRAC it's possible that the file is not extracted due to it already

[2016-09-08 17:03] rob-c commented on #765
OK, the Local backend is sensitive to local env changes, however the re-execution of a new login shell which is entirely clean is a surprisingly difficult task and would probably result in something breaking which more users elsewhere are relying on. Marking as won't fix.

[2016-09-08 17:03] #765 closed

[2016-09-08 20:11] mesmith75 commented on #783
@rob-c This is on Dirac. The job setup is very generic:
[code]
where the tuplebranchinfos.py is just generic python file. I'll look a bit further if I can find some time.

[2016-09-08 21:29] rob-c commented on #783
OK, I'll try and submit a test job tomorrow and have a look at the job logging as a workaround may be as simple as calling multiple decompression runs over the files on the WN.

[2016-09-08 21:30] rob-c commented on #783
(Or at least re-building the index after extracting each file and doing a better job of remembering what files we've already de-compressed, should be possible with some simple set logic)

[2016-09-09 07:08] egede commented on #783
We should be careful in allowing a user to submit a compressed tarball as an inputfile (that then should stay compressed).

[2016-09-12 12:03] rob-c commented on #783
@egede This gets difficult as if the user requests it as a `DiracFile` there is no way of stopping Dirac's own auto-decompression on the file.
We could try to have a list of files we want to decompress and in what order but this seems fragile. @mesmith75 Can you provide a jobID in this case to help with the debugging?

[2016-09-12 13:03] rob-c opened #786 "More checks needed in DIRACBase"
Looking through the DIRAC Base I think we should look into checking the output from DIRAC a lot more. The monitoring code in particular still falls over in bad ways when DIRAC returns something unexpected due to various reasons. This would help for people with potentially flaky connections or when DIRAC is under heavy load for instance.

[2016-09-12 13:06] milliams commented on #786
Traditionally in Python the way to enforce checking of error conditions is to raise exceptions. It makes sure you can't accidentally ignore an error. I think this is the better approach for us too but it does require a decent test suite.

[2016-09-12 13:17] rob-c commented on #786
At this point we try to do crazy things like expand a tuple out of a `None` object at times still so we need some basic assertion checks when dealing with DIRAC output. Throwing and catching sane exceptions is obviously the best way to write the monitoring loop.

[2016-09-12 13:35] mesmith75 commented on #783
@rob-c a jobID is 139522694 .

[2016-09-12 15:38] egede commented on #786
@rob-c Can we create a new exception `GangaDiracInvalid` and then throw this one from some low level in out interaction with Dirac if the result from a call does not satisfy the expected structure.

[2016-09-12 19:54] rob-c commented on #786
@egede Possibly, this would be nice but I think adds more confusion about what may be going wrong.

I think though that this can be handled by some simple assert checks on the output from the DIRAC API calls. We still have no way of getting a Boolean response from DIRAC to determine if a command succeeded in a nice way.
I know DIRAC returns a dict which has this information but atm we ignore this

[2016-09-13 08:47] milliams commented on #786
All DIRAC API calls should return a dictionary created by either [S_OK](http://diracgrid.org/files/docs/CodeDocumentation/Core/Utilities/ReturnValues.html#DIRAC.Core.Utilities.ReturnValues.S_OK) or [S_ERROR](http://diracgrid.org/files/docs/CodeDocumentation/Core/Utilities/ReturnValues.html#DIRAC.Core.Utilities.ReturnValues.S_ERROR). These will all have the key `'OK'` which maps to a bool. We shoul

[2016-09-13 14:12] rob-c opened #787 "Organisation of tests"
I have come across a potential bug in the sorting of the tests and I'd like some clarification.

I think we had decided that all unit and integration tests requiring an external resource such as DIRAC or LCG should be marked as external and _not_ run as part of the continual testing but only run nightly.

If we're sticking to this I'm going to tag some tests as external which haven't been marked a

[2016-09-13 15:11] milliams commented on #787
Indeed, any test that is contacting an external server which might fail should be marked as `@external`. In *most* unit tests we should aim to mock-away any external communication so it *shouldn't* be necessary.

[2016-09-13 15:23] rob-c commented on #787
OK, I'll add some missing external tests into another PR where I'm doing some DIRAC work/testing then.

[2016-09-14 10:06] rob-c commented on #787
Closing this but there are clearly issues that any test requiring objects or strings being returned to Ganga through the stdout will _never_ work without a DIRAC proxy. We don't allow the users access to this without a proxy so this is not a problem. These tests explicitly require some fixing and this is coming in another PR.

[2016-09-14 10:06] #787 closed

[2016-09-14 17:35] pseyfert commented on #446
Actually I think now that this issue doesn't apply to `lb-dev` applications to begin with. Because these don't need to be in `~/cmtuser/Project_vVVrRR` (from where `SetupProject` picks them up). They can just be on `/afs/cern.ch/work/` and be provided to `GaudiExec.directory`. So with the migration from `SetupProject` to `lb-dev` the use case for symlinking is gone.

[2016-09-14 17:39] #446 closed

[2016-09-15 16:06] rob-c opened #790 "GaudiExec not thread safe on master submit"
Just a holder issue to the effect that I have to re-add a global lock around the GaudiExec master_prepare which was removed in code review. I'll update this with more details once I've finished the work and have come up with a testing script (Not an integration test for jenkins as this requires a lot more work).

[2016-09-16 08:17] rob-c opened #793 "Ganga should exit if it can't load a plugin"
Ganga should be exiting if it can't load a plugin to prevent job corruption.

If a user has a plugin which is failing to load (for whatever reason) Then Ganga should stop the startup process and shutdown rather than startup without the plugin as this can lead to confusion and potentially risk stored Job corruption.

[2016-09-16 14:34] #781 closed

[2016-09-19 12:40] #793 closed

[2016-09-21 11:02] rob-c opened #799 "Should tests respect the .gangarc?"
Hi all,

Just a quick question, should we let the test configuration as used by py.test make use of the `.gangarc` configuration file?

I only ask this as I am surprised to see settings in my .gangarc file _not_ overloaded by the test configuration.
(In particular because I've been experimenting with my gangadir in different locations I ended up with multiple tests running on the same repo which i

[2016-09-21 11:10] milliams commented on #799
I'm of the opinion that the test system should not real the .gangarc at all. Those settings are for the end-user, not for the tests. I've been running the tests using `GANGA_SITE_CONFIG_AREA` to provide config (and this is also how Jenkins is set up to work).

[2016-09-21 11:52] rob-c commented on #799
then I would argue it makes sense to add this to the test startup somehow to save having to go to some effort to isolate a test run on a dev machine.
I'll investigate adding a check that if this value is the same as the default value then it points elsewhere to avoid picking up the configuration of a machine the test is being run on.

[2016-09-21 12:24] rob-c commented on #799
Hmm, the unittests are specifically asking for the `.gangarc` btw. I'll add something which makes use of the `--config` option

[2016-09-22 13:20] #799 closed

[2016-09-23 12:39] rob-c opened #805 "Need to stop monitoring threads from within a thread"
I spend some time yesterday evening playing with getting the disk checking working again in the monitoring system in Ganga.
This took only 2-3min of work to have it checking my AFS space so that it doen't try to download a file when I've `<2%` storage left on my account.

The problem I have spotted here is that from within this thread there is no nice way of communicating back up to the monitoring

[2016-09-23 15:58] egede commented on #805
We have a way that we notify threads that we want to quit Ganga. Can we use the same type of mechanism?

[2016-09-23 16:13] rob-c commented on #805
@egede There's not a fully unified way of doing this that I know of. (I'll have a look I could be wrong)
It may be a good idea to have some `stopAllThreads` type function which can stop all background threads which would allow the threads to proceed until their next safe point and stop running.
I suppose the advantage to this is it catches _everything_ not just the monitoring threads.

I would won

[2016-09-23 16:47] egede commented on #805
@rob-c The loss of the ability to write to the local disk can cause problems all over the place so simply quitting Ganga is actually a quite good idea. How do we deal with the loss of the grid proxy when monitoring jobs? There to kill the Ganga sessions seems like an overkill.

[2016-09-23 17:21] rob-c commented on #805
At the moment we don't as far as I know. Of we have sure mechanism for communicating a stop or exit from worker threads then we could do something sensible. The only thing we can't do is ever exit from a non master thread so we need to the master to exit and try to shutdown cleanly. I think the system is robust enough that I could write something to give us this behavior atm so I'll give it some s

[2016-09-26 13:38] rmatev commented on #764
Do you think it makes sense to use `GaudiExec` with released applications, too? I guess you would need to add two properties -- `project` and `version`, and make them mutually exclusive with `directory`. You'd then use `lb-run ${project} ${version} ...` instead of `./run`.

The advantage is that  everything becomes uniform, and you can drop all applications like DaVinci, Moore, etc.
I can submit a

[2016-09-26 13:52] rob-c commented on #764
@rmatev I've written a function which I was hoping to test/advertise which does a `lb-dev` locally to setup the local environment of a released application.
https://github.com/ganga-devs/ganga/blob/develop/python/GangaLHCb/Lib/Applications/GaudiExecUtils.py#L89
If this does what you want great, if it has bugs, less great but can you file an issue so we can fix it 😄

The older application within Ga

[2016-09-26 13:53] rob-c commented on #764
I'm extremely reluctant to add any knowledge of the application name or type to `GaudiExec`. This is information which strictly does not belong there and is due to the new ability to build a reliable target for all LHCb apps.

[2016-09-26 19:17] rmatev commented on #764
I'm afraid it does not work with 6.2.0:
[code]
(looking at the code, there are some other imports missing, too).

Anyway, it seems to me a bit too much to make an lb-dev project when I don't add code, but I think see your worry. Then, how about doing `directory=$LHCBRELEASES/DAVINCI/DAVINCI_v41r2p1`?

I don't know exactly what magic is needed to run on Dirac, since `$LHCBRELEASES` will resolve to

[2016-09-26 19:23] rob-c opened #808 "Fix `prepare_cmake_app`"
As the title says `prepare_cmake_app` is broken I should fix this for 6.2.1.

I'll attach any more information here when I write a PR for this.

[2016-09-26 19:33] rob-c commented on #764
@rmatev There needs to be a payload which contains the `./run` and the appropriate `.tar.gz` to use the `GaudiExec` application in this way. Yes it may seem overkill and we can possibly consider placing the application in the `/tmp` directory or something similar if it's a disposable application.
We can consider writing a function which prepares an application object which corresponds to a given L

[2016-09-26 20:45] rmatev commented on #764
This might work, but still seems like a workaround. One thing it does not solve is the proliferation of directories in `gangadir/shared` -- if I submit many jobs with the same application/version, I'll get many shared directories. (Maybe the shared dirs can be named according to the hash of the contents and not be replicated, but this is another story).

In fact, looking at `./run` I get why every

[2016-09-26 20:59] rmatev commented on #764
I think what I'm really trying to say is that IMHO `buildGangaTarget` (`execCmd` and `cleanGangaTargetArea`) does not really belong to `GaudiExec`. This is a means to get `./run` (and the accompanying directory) but is not the only one.

[2016-09-26 23:20] egede commented on #764
@rmatev While I see your argument, I am not that keen on supporting it. It would only work with very simple options files, that do not include other option files.

@rmatev The issue with an exploding number of directories in the shared area is hopefully solved (it was a serious bug in Ganga causing this). Now, you should only get one directory for each prepared application. We could consider to im

[2016-09-26 23:24] rob-c commented on #764
@egede I'm thinking of adding a step to test if pickling works to see if the job makes sense. I don't intend to send the result to the WN I mainly just want to add an extra check to help users before they submit several hundred jobs which fail due to a typo or equivalent.

[2016-09-27 00:36] egede commented on #764
@rob-c Attractive idea, but if user has fiddled with their PYTHONPATH before starting Ganga, then this might give a false sense of security. To get a clean environment for testing, you almost need to start a virtual machine as we are aware of from earlier discussions. And that seems a bit of an overkill.

[2016-09-27 06:22] rmatev commented on #764
@egede I didn't get "It would only work with very simple options files, that do not include other option files.". Can you elaborate please?

By the way, another argument against sending pickles to WNs is that the shared dir becomes much larger 100-200 KB, instead of a few KB today.

[2016-09-27 08:26] egede commented on #764
@rmatev If you have a file A that includes file B, that includes file C and D, you will have to provide all of them and make sure that your PYTHONPATH on the WN will find them. The old style pickling of options solved that problem, but as I say it brings with it other issues.

@rmatev I am afraid that the shared dir in general in the new scheme becomes much bigger. For example for a Gauss job with

[2016-09-27 08:42] rmatev commented on #764
@egede I might be missing something, but aren't option files shipped along `cmake-input-sandbox.tgz` and not inside?

[2016-09-28 08:53] egede commented on #764
@rmatev If you set the options file in `GaudiExec` to `['a.opts']`, then, indeed `a.opts` will be shipped separately. But if this file includes other files, it depends on that they are packed up in the `cmake-input-sandbox.tgz` (or in the release area). This is different compared to the old applications like `DaVinci` where we pickled the full set of options after making a "dry" run of the applica

[2016-09-28 11:09] rmatev commented on #764
@egede I understand that. My point was that in theory you don't need `cmake-input-sandbox.tgz` to run some option files (given as you showed) on a released project. @rob-c's suggestion is to essentially create an empty `lb-dev` project, which in turn depends on a released project, and give that to `GaudiExec`. I was hoping this intermediate step can be avoided.

[2016-09-29 09:27] milliams commented on #26
I think you fixed this in your recent PR @rob-c? Could you tag it with the appropriate version and mark it as closed?

[2016-09-29 09:27] milliams commented on #39
This is now solved right? Could it be version tagged and closed appropriately?

[2016-09-29 09:28] milliams commented on #69
@rob-c am I right in thinking that you did this move now?

[2016-09-29 10:59] rob-c commented on #39
Hmm, #744 was tagged as fixing this so github looks to have changed its syntax

[2016-09-29 10:59] #39 closed

[2016-09-29 11:00] rob-c commented on #26
No, we're nowhere near properly supporting this. There is still work to be done to support this way of working which I may get around to over the next few weeks.

[2016-09-29 11:01] milliams commented on #39
I believe you need to have the tag on a commit rather than the PR message. It's been a while since I've used it though.

[2016-09-29 11:02] milliams commented on #39
Also, can this be tagged with the appropriate milestone?

[2016-09-30 10:46] rmatev commented on #783
Any news here? I am also affected by this bug.

[2016-09-30 11:06] mesmith75 opened #813 "Failure to upload GaudiExec sandbox to Dirac"
This is a reminder to myself to try and look into this problem. This probably isn't a Ganga issue but it seems to have cropped up a few times.

When uploading the tarball for the GaudiExec application some users are reporting:

[code]

which suggests a problem with their grid proxy. It is independent of target SE.

The problems are coming from those not using lxplus to submit jobs (i.e. using lx a

[2016-09-30 14:02] mesmith75 commented on #783
I have created a PR for a fix #815 . I can't quite follow the logic of how the input sandbox is prepared though so it is best that @rob-c checks it. This should go into 6.2.1 which I hope to start the release for on Monday evening.

[2016-10-03 08:27] rob-c commented on #505
Work has been done in other issues such as #696 to fix this. Users seeing an excess of these folders also have the function `cleanUpShareDirs` within Ganga to cleanup after broken releases.

[2016-10-03 08:27] #505 closed

[2016-10-03 08:40] rob-c commented on #813
@mesmith75 there was a DIRAC update last week, could this be to blame? does it still fail now?

[2016-10-03 08:48] rob-c opened #817 "Auto-retry for failing DIRAC requests in 6.3.0"
Hi all,

I've committed large changes to catch DIRAC exceptions at the lowest level in Ganga and raise an appropriate error.

My question is should we attempt to retry all/most requests which fail automatically now?
I don't see much harm in retrying each command say 5 times and have some function option to request this be deactivated for some certain calls.
(Obviously we can avoid this for failure

[2016-10-03 08:50] rob-c commented on #764
@rmatev What are the most urgent features that people want for `GaudiExec`?

[2016-10-03 08:56] rmatev commented on #764
I started looking into adding summary.xml / metadata support to GaudiExec.

The first part is to make the job produce `summary.xml` and ship it to the local host. This part is trivial and it works.

The second point is the parsing and merging of the xmls. For old applications, the parsing was done in the WN and the output was shipped back. There is a good reason for this -- the parsing relies on b

[2016-10-03 09:08] rmatev commented on #764
The deeper problem I was referring to is the fact that an application keeps a pointer to an external resource **and** relies on it. Having the directory is fine for keeping track of provenance (for the user), but is otherwise IMHO not needed.

[2016-10-03 09:12] rob-c commented on #764
@rmatev
Firstly:
There is _nothing_ stopping a simpler and more generic method being written than the `execCmd` within the `GaudiExec` app.
This `execCmd` method is _always_ intended to be run against the app on disk the user has configured as they may have local modifications and we can _never_ know they don't have local changes against any LHCb code. If the user chooses to make no local modifica

[2016-10-03 09:12] rmatev commented on #764
@rob-c I am not sure if other users share my needs, but I think metadata + a checker that checks that you ran on all input data is indispensable (compares the number of processed events to the number of events according to the bookkeeping). I have such a checker at https://github.com/rmatev/ganga-tools/blob/master/GangaLHCbExt/LHCbBookkeepingChecker.py and if you like I'll be happy to put it in ga

[2016-10-03 09:21] rmatev commented on #764
@rob-c  OK. Where do we put the functionality for running from the prepared app (on the localhost)? Should it be in `execCmd()` with a switch, e.g.
[code]
or in a separate method?

PS. I don't find the merged summary particularly useful. The most important for me is to run checkers on the subjobs and fail them.

[2016-10-03 09:47] rob-c commented on #764
@rmatev From what I understand the main missing feature here is the summary XML not being generated.
This involves me adding this code as a task which is optionally run on `GaudiExec` jobs controlled by some Boolean at the application level.

I'm not sure I understand the problems here.
If you've submitted jobs with a given application folder on disk I would have assumed that Ganga could make use

[2016-10-03 09:50] rob-c commented on #764
As for adding a checker I'm more than happy to add a checker once we have the XML being produced/returned correctly. Looking at your code you may wish to take a look at the changes coming in 6.3.0 as there are changes in how various methods talk to DIRAC now from within Ganga.

[2016-10-03 10:58] egede commented on #764
@rob-c

In Ganga we have the principle that when the job is first submitted, it is independent of changes carried out in the locally checked out code. This includes both changing the code in the checked out area or indeed completely removing it. So if we need to use the users environment at the end of the master job (for merging the XML), then in principle the only "correct" thing to do is to unpa

[2016-10-03 13:02] rob-c commented on #764
@egede OK I'll code up some something to make use of the correct environment from the unpacked tarball. This should be relatively trivial but will take a little time to check it's working correctly.

[2016-10-03 14:49] mesmith75 commented on #813
I don't think that was to blame. I have reproduced it myself on the Imperial machines so I'll look into it.

[2016-10-04 07:48] twhyntie opened #818 "Ganga documentation in readthedocs"
Hello,

I'm just starting to use Ganga for getting [MoEDAL](http://moedal.web.cern.ch) on the grid (as mentioned a few Ops meetings back). Thanks again to @drmarkwslater who helped me out last week with some non-interactive scripting issues 😄 - it's going pretty well so far, particularly using Ganga over CVMFS.

I'm going through the [docs](http://ganga.readthedocs.io) and was wondering - what's t

[2016-10-04 08:20] milliams commented on #818
Hi Tom,

The best way to provide changes to the docs is via a pull request. We'd welcome any additions or changes you can provide. If you need help with building the docs while writing them (we use [Sphinx](http://sphinx-doc.org)) let us know.

[2016-10-04 08:41] rob-c opened #819 "Make 6.3 play nice with LHCb"
I'm leaving this here to remind me to look into some _fix_ to make Ganga 6.3 pick up LHCb proxies generated externally and make them available in Ganga.
This will probably require some parsing of the voms tools output and making a symlink or modifying the credentials code to allow for a LHCbDiracProxy object to be derived which differs with the naming scheme.

This should ideally go into 6.3 befor

[2016-10-04 08:47] milliams commented on #819
An externally created proxy should be picked up by the credential system.

[2016-10-04 08:52] rob-c commented on #819
well at least for LHCb this isn't happening. I see an AFS proxy in my credential store but nothing else

[2016-10-04 09:03] milliams commented on #819
But if you do:
[code]
what happens?

[2016-10-04 09:08] rob-c commented on #819
a stacktrace and ```"Matching credential [DiracProxy(group='lhcb_user')] not found in store."``` I think we need to improve the handling of the exceptions within ```proxy_wrapped``` as it shouldn't throw a stacktrace from situations like this...

[2016-10-04 09:15] milliams commented on #819
And is `X509_USER_PROXY` set correctly?

[2016-10-04 09:21] rob-c commented on #819
regardless I can submit and work with LHCbDirac externally to Ganga with the proxy after running `lhcb-proxy-init` (or the cmake compatible function if LHCbDirac 8.3+) failing to pick up a proxy produced from this method is going to at least cause confusion as users will have to enter their password twice and any proxy created in Ganga is unusable after they exit Ganga. (Yes some users use Ganga t

[2016-10-04 09:23] rob-c commented on #819
Why is the credential store not throwing a better exception at the users? KeyError is not what we should be throwing up to the user level.

[2016-10-04 09:49] twhyntie commented on #818
Great, thanks - will do 😄

[2016-10-04 09:49] #818 closed

[2016-10-04 09:55] #140 closed

[2016-10-04 11:37] rob-c commented on #819
Why is the credential_store a `GangaObject`? It's hidden and has no schema and I'm unsure if it uses any of the logic from the GangaObject base or have I missed something? I don't think we ever plan to store/resurrect this from a given state.

[2016-10-04 11:48] milliams commented on #819
Indeed the credential store is never persisted. I chose to make it a `GangaObject` to make use of the exported function ability with automated proxy stripping.

[2016-10-04 11:50] rob-c commented on #819
I've tried with monitoring on/off and Ganga via the `DiracProxy` is refusing to find a proxy which is at the default location.
Ganga __should__ find my external proxy at `/tmp/x509up_u54830` which is constructed _itself_ by the `default_location` as LHCb doesn't define the `X509_USER_PROXY` env var.
Ganga doesn't find this and will insist on making `/tmp/x509up_u54830:lhcb_user` which is just wron

[2016-10-04 11:52] rob-c commented on #819
We don't do this for _any_ of the other singletons which have hidden/exposed methods. I think having to construct the whole GangaObject chain for this seems overkill imo.

[2016-10-04 12:21] mesmith75 commented on #813
I think I have found the issue. When it is constructing the LFN base it takes the local user name, not the CERN username so it is trying to put the file to an LFN that doesn't/cannot exist.

[2016-10-04 12:51] rob-c commented on #813
How is the username being extracted again from the system, python or the Ganga config?

[2016-10-04 12:56] rob-c commented on #813
OK, I think I spotted it. It appears to be from the ganga config as expected. I'll do a quick grep of the core to check there are no gotchas with the core getting inconsistent usernames.

[2016-10-04 12:58] mesmith75 commented on #813
There perhaps might be. It might be generally neater to have a separate config for the grid LFN base and if it is not specified to take the current method.

[2016-10-04 13:00] rob-c commented on #813
There already is.

[2016-10-04 13:51] rob-c commented on #819
OK with monitoring off I created a new job submitted it to DIRAC and I ended up with 2 credentials in my system AFS+DIRAC. I then restarted ganga (again with monitoring off) and I then used `runMonitoring` on a chosen job and I'm now left with a credential store with only my DIRAC proxy in it. Is it expected that my AFS token now be unknown to Ganga in this situation?
(Full disclosure I'd moved th

[2016-10-04 13:58] rob-c commented on #819
The credential store also returns un-proxied objects which seems incorrect. I'll check this isn't something I've done to this section of code inadvertently.

[2016-10-04 14:17] egede commented on #813
@mesmith75 solved this - well spotted. It is caused by the assumption that the local username is the same as the username on the Grid.

Mark, the user name on the Grid is reported by the proxy (it is listed as part of the lhcb-proxy-info command), so I guess we can extract this rather than relying on the configuration. Relying on the configuration is also will not work with the 6.3 ability of Gang

[2016-10-04 14:22] rob-c commented on #819
What is the best way of creating a DiracProxy by hand from the interactive prompt? I can't find an easy way to manually generate one using the new mechanism I just get an error trying to do the same as the voms tests. (And there is no DiracProxy test.)
I may just end up writing a helper function to do so for testing.

[2016-10-04 14:34] rob-c commented on #813
@egede For the moment we only really support moving between roles (groups) easily I think (I could be wrong). I'll see if there is a way of getting this from the current proxy in 6.3 but I don't think this has been built in yet.

[2016-10-04 15:16] egede commented on #817
@rob-c My only problem with this is for timeout errors. If we already have a long timeout, then repeating it 5 times over could be very painful.

[2016-10-04 15:22] rob-c commented on #817
@egede In this case I'm tempted to look into functions which are expected to run for <60sec and have these calls able to repeat in case of error.
I would say book-keeping and other long calls should maybe not be best to repeatedly call, however the latest problems with the book-keeping are (I believe) mitigated by waiting and calling the method again as it's a database access issue behind the scen

[2016-10-04 16:13] mesmith75 commented on #756
Is there a particular version we want for this? The current release is v8r3p7.

[2016-10-04 21:50] egede commented on #756
@mesmith75 I would just take the latest version that is released.

[2016-10-05 07:34] egede commented on #813
@mesmith75 Could we catch the exception that is thrown when the upload fails and rethrow a new one that explains what the problem might be?

[2016-10-05 09:52] mesmith75 commented on #813
@egede Yes although I am hesitant as that could catch any proxy problem beyond this issue. I guess if it is clear it *might* the issue it shouldn't be too bad

[2016-10-05 09:57] rob-c commented on #813
@mesmith75 I think just adding an extra error line before/after the existing error should suffice no?

[2016-10-05 10:13] egede commented on #813
@mesmith75 Yes, that is fine.

[2016-10-05 11:03] #790 closed

[2016-10-05 14:10] mesmith75 commented on #756
Closed by #823

[2016-10-05 14:10] #756 closed

[2016-10-05 16:42] mesmith75 commented on #783
Resolved by #822

[2016-10-05 16:42] #783 closed

[2016-10-06 14:40] mesmith75 commented on #745
This issue should be resolved now the config has been updated. See the discussion at #753

[2016-10-06 15:15] mesmith75 commented on #808
Resolved by #822

[2016-10-07 06:29] rmatev commented on #401
Have you considered using some external library for the technicalities of the client-server part? I recently learned about [RPyC](https://rpyc.readthedocs.io/en/latest/), which IMHO seems to fit quite nicely and will spare most of the technical issues.

[2016-10-07 07:48] rob-c commented on #401
@rmatev i think it's worth looking at now that the dirac interface is much cleaner. Is this a pure python module or does it pull in code we would need to worry about supporting on different machine configs?

[2016-10-07 10:39] mesmith75 opened #828 "Add a check for available SEs"
We need to add a check for which SEs are available for uploads in case one goes into downtime. This might be best done at startup.

[2016-10-07 10:45] egede commented on #828
@mesmith75 We should try to minimise checks at startup as they delay everything else in Ganga and might in reality never be needed. In this example it would most likely require a GridProxy at startup which might otherwise not be required. Can we delay it until the first time that it is needed?

[2016-10-07 10:57] rmatev commented on #401
They say it's pure python:

[2016-10-07 11:57] rob-c commented on #828
@mesmith there is simply no api I'm aware of in DIRAC which will return on request a some lost which we would need. Adding this is complex and the complexity is the reason I've held off going near it. We could add redundancy checks to attempt to upload to sites of an upload fails in Ganga but there is little we can do to find which sites are currently in a writable state for a given credential unf

[2016-10-07 12:20] egede commented on #828
So should we rather just have a mechanism where it picks one and if it fails, it goes onto try the next. If 1 of the 6 are out, it means that on average one in every six uploads will get to see this delay.

[2016-10-07 13:55] mesmith75 commented on #828
There are functions in Dirac to do it, so it can be done, but maybe it is simpler just to cycle through the list in case of a failure.

[2016-10-07 14:32] #808 closed

[2016-10-07 15:05] alexanderrichards commented on #401
yes I am aware of RPyC, this is the technology that I was originally thinking of ;-)

[2016-10-08 15:46] mesmith75 opened #829 "LHCb plugin overrides some configs"
When the LHCb plugin loads it overrides some configurations that the user may have set (such as the list of SEs to use). Do we want to take the user configuration over that?

[2016-10-08 16:09] mesmith75 opened #830 "GaudiExec doesn't work in 6.2.1"
Submitting GaudiExec jobs doesn't work in 6.2.1. The prepare stage throws an exception:
[code]
Unfortunately this has already been released towards LHCb. As soon as we have a fix I will release 6.2.2.

[2016-10-08 16:22] egede commented on #830
@mesmith75 Please ask for the release to be removed again.

`GaudiExec` is new code - how come that we do not have a test case for the prepare step to work?

[2016-10-09 13:00] #745 closed

[2016-10-09 14:59] rob-c commented on #830
@egede There was a plan to go back and add a proper test using a mock application on disk.
I've been looking into developing a mock based test but haven't got one yet. I'll see if I can knock something together this week. Rob

[2016-10-10 10:38] drmarkwslater commented on #829
@mesmith75 How are the user configs getting overwritten? I don't know of a reason that, e.g. the user's `.gangarc` should be ignored for certain settings though maybe there's a specific LHCb reason...

[2016-10-10 13:41] drmarkwslater commented on #401
Coming from a fairly ignorant position, I would personally disagree and go for option a) if possible (i.e. directly importing the Dirac API in Ganga). I understand the reasons against it (it ties us in to the Dirac environment, specifically the Python version), however, the latest versions of Dirac are already at Python 2.7 which we're not actually requiring yet anyway and the move to Python 3 (i.

[2016-10-10 15:16] egede commented on #401
@drmarkwslater A few points here.

- It is not just about Python version, but also about the dependence on extension libraries. We have seen problems with wrong versions of shared libraries being loaded and also with the compiled support for unicode.
- If we want to have control over timeouts, we need to start a new process anyway as there is no way to actually kill a thread in Python from outside

[2016-10-10 15:21] #830 closed

[2016-10-10 15:22] mesmith75 commented on #829
I think it is because the LHCb plugin loads last and sets the configs when it does.

[2016-10-10 15:26] egede commented on #829
@drmarkwslater I had a discussion with @mesmith75 about this. We have changed the way that plugins are loaded in Ganga and I wonder if we in that process have broken the rules for the precedence chain, that is

- Default value in code
- Anything defined via files in `GANGA_CONFIG_PATH`
- The users `.gangarc` file
- The command line via `ganga -o ...`
- Interactive at he prompt.

[2016-10-10 16:11] rob-c commented on #829
So originally this code over-wrote the default value in the code in the config system.
It was decided this was bad I forget why but this should have been shifted to a session value which is set within Ganga. I think this may look the same as being set from `GANGA_CONFIG_PATH` which is annoying as this would mean that a user cannot overload this value in keeping with the fact that you can't overloa

[2016-10-10 16:39] rob-c commented on #829
OK after reviewing some of the changes when they happened I think this was because the tests reset the value back to the value from the codebase between tests.
We decided that the config _must_ be setup at module import rather than having this be somehow a configurable option or another step. I still personally dislike this but c'est la vie.

The result of this is that the LHCb config needs to cha

[2016-10-10 16:47] egede commented on #829
@rob-c OK, so now I understand. This relates to the places in the code where the LHCb plugin is changing the default value of config items defined elsewhere (in the core presumably). You write that the user can't override the site config value. That goes against the precedence that I set out above and I do not understand why that is the case.

[2016-10-10 17:36] rob-c commented on #829
@egede I just checked the code in Config.py and I think the order is what you say it is (Apologies I'm mis-remembering based upon a few different conversations about what we have).
I've just checked the Config code and the user value should always take priority and should be defined in the order you gave above.

@mesmith75 Can you change these values from within your .gangarc as you expect regardl

[2016-10-10 17:37] rob-c commented on #829
Actually I think this all worked for me I banned `SARA` privately when I was running some `DiracFile` tests and everything works as I expect.

[2016-10-17 08:58] maubeck opened #833 "Class not propagated using execfile"
Hi all,
I tried to update to the newest ganga version on lxplus with the atlas setup on cvmfs but I got some problems with classes when using execfile.
What I do is setting up the ATLAS environment:
`source ${ATLAS_LOCAL_ROOT_BASE}/user/atlasLocalSetup.sh`
then setting up the ganga verison (which is currently 6.2.2):
`localSetupGanga`
setting up python over cvmfs (which is currently python 2.7.4-x

[2016-10-18 22:35] mesmith75 opened #834 "Add test for bookkeeping with LHCb Dirac"
We need to add a test for the LHCb Dirac bookkeeping functions.

[2016-10-19 09:56] mesmith75 opened #835 "Update LHCb Dirac version"
Just a reminder to update the default LHCbDirac version for the next release. There is a bugfix for the BK in v8r3p10 which would be good to have .

[2016-10-19 10:01] rob-c commented on #835
@mesmith75 shouldn't users be able to access this from editing their .gangarc now?

[2016-10-19 10:12] mesmith75 commented on #835
@rob-c Yes they can. I just thought it would be good to update the default as well.

[2016-10-19 10:16] rob-c commented on #835
I'm tempted to suggest adding some logic to allow us to track the latest as and when Ganga is launched and consider dropping the LHCbDirac project from the Ganga cmt config in time.

[2016-10-21 10:31] egede commented on #835
@mesmith75 To ask users to change the Dirac version is dangerous. They will forget that they have done it, and they are then stuck on an old version that maybe a year later will give odd unpredictable errors.

@rob-c It is a bit of a tricky decision if we just follow the "latest" release. It again means that users might get a different experience to what we have been testing with.

[2016-10-21 10:37] mesmith75 commented on #828
Looking again, the function in the Dirac DataManager I wanted to use is not accessible outside. Its a bit annoying as it would be really useful to have. In which case I'll change it to try and cycle through the SEs.

[2016-10-21 10:49] rob-c opened #837 "Multiple sessions fails to update Repository correctly"
I've noticed that when running multiple sessions now I don't see jobs appear in one session that were newly created in another.
Nothing is falling over itself atm but at a glance I think the code to re-scan the repository for underlying changes had been removed or has moved.
It isn't insane to declare that new objects aren't safe to access between sessions and that accessing old objects which have

[2016-10-21 11:49] rob-c commented on #828
@mesmith75 It's worth noting that there have been problems with site configurations not being 100% reliable when automatically generated as per the GridPP Dirac. We can roughly trust the SE in LHCbDirac but I'm weary to add any checks for vanilla Dirac based on some previous conversations with the Imperial experts.
At what stage are you planning on introducing these checks?

[2016-10-24 11:15] rob-c opened #838 "AfsToken needs to check token before nenewing it"
The AfsToken credential needs to exploit some of the information made available in `klist -f` to decide if a token is renewable before it tries to renew it.
This requires re-writing the `expiry_time` method in the AfsToken.

Personally I think it may be a lot easier to instruct users who want to use Ganga this way to provide a renewable certificate as the work required to get this working and _sta

[2016-10-25 13:21] mesmith75 opened #840 "GaussSplitter not overriding LHCbApp for GaudiExec"
I paste the email below. We had a problem before with the GaussSplitter overriding the LHCbApp options but it seems here to still not interacting with them properly.

I have 2 different jobs with 2 subjobs each. The former uses a private version of Gauss with GaudiExec, the latter a default Gauss version. Both use GaussSplitter

 GaussSplitter (
   numberOfJobs = 2,
   eventsPerJob = 50,
   firstE

[2016-10-25 13:28] mesmith75 opened #841 "Bugfix readInputData in GaudiExec"
I know there is not much appetite for keeping this feature but it seems like a lot of people still use it and I don't think it has been properly eradicated from the tutorials yet. At the moment is throwing up and error. I'll look into it.
[code]

[2016-10-25 13:31] egede commented on #841
@mesmith75 So I guess the annoying thing from an implementation point of view is that it depends on the "dry-run" feature of running a Gaudi application depending for determining which options eventually are set for the dataset. Nevertheless I agree that it is a feature that is used quite a lot.

[2016-10-25 13:33] rob-c commented on #841
@mesmith75 Sorry for not being completely up to speed on this. Is this a broken function within `GaudiExec`?

[2016-10-25 13:36] rob-c commented on #840
We can consider adding the `LHCbApp().EvtMax = 100` line into the extra options for `GaudiExec` however doing this for the `Gauss` application causes problems due to pickling and other related stuff going on.
Given this is easily fixed by the user I somehow feel this is a low priority and potentially a dangerous thing to introduce as we risk breaking `Gauss` again.

[2016-10-25 13:38] mesmith75 commented on #840
Perhaps but a less careful user won't notice that a significant portion of their events are not independent.

[2016-10-25 13:46] mesmith75 commented on #841
@rob-c Sorry, should have been clear. This is just within GaudExec. The older applications are still fine.

[2016-10-25 13:48] rob-c commented on #841
So if I'm correct there is a bug in the `readInputData` method? I don't see where resurrecting something comes into this?

[2016-10-25 13:52] rob-c commented on #840
The filename will be different to what they're expecting I think as the filename relies on this config doesn't it?

[2016-10-25 13:56] egede commented on #841
@rob-c I guess it is a bit more than just a bug. For `readInputData to work` you need to have a method to set up the local environment of the application and then run it. I guess we do not have that for the new style local release areas?

[2016-10-25 13:58] rob-c commented on #841
@egede Is this not just a case of making use of `lb-run` and is just a simple case of changing the calls to `exec_cmd` to `execCmd`. This worked at some stage in testing and I think it broke when we changed the API and no test picked up that this method hadn't been updated.
`execCmd` makes sure that `lb-run` within the app directory works and then executes the command in the application env.
If th

[2016-10-25 14:01] mesmith75 commented on #841
@rob-c I think it is just execCmd - exec_cmd. Poor choice of title on my part.

[2016-10-25 14:12] egede commented on #841
@rob-c Yes, it may very well be that simple.

[2016-10-25 15:04] twhyntie opened #842 "GangaDIRAC: /cvmfs Dirac.ini needs updating"
Hello,

I'm trying to run Ganga with the (GridPP) DIRAC back end and it's failing, I think because`Dirac.ini` needs updating as follows:

[code]

As when I try submitting a job to the DIRAC backend I get:

[code]

Other than that I think it looks like it will work out of the box... what do you think?

Cheers, Tom

[2016-10-25 15:12] twhyntie commented on #842
(Of course, adding:

[code]
to one's own `.gangarc` works too... but it would be great to have it configured out of the box :smile:)

[2016-10-25 15:27] rob-c commented on #842
@drmarkwslater Would you be able to have a look at the cvmfs config if it needs updating?
@twhyntie Thanks for letting us know the config file is out of sync

[2016-10-25 23:50] cmarinbe opened #844 "error when setting twice the input files"
I'm using Ganga v602r2 and got the following error when preparing a DaVinci job:
[code]
The warnings are very useful (I had really forgotten to remove the input file I was using for local tests from the options file) but I think this should not end in an error. If I recall properly it was not so in previous versions. Jibo checked this only happens for CMT jobs but not for the new GaudiExec jobs. L

[2016-10-26 08:19] egede commented on #844
@cmarinbe Thanks for the bug report. The support for the old CMT style applications have stopped so I will not promise a fix for this unless it is really trivial. There are obviously 3 workarounds at the moment (migrate to using GaudiExec, take the data out of the opts file, or use and earlier Ganga release).

[2016-10-26 08:52] cmarinbe commented on #844
So the recommendation now is to use GaudiExec even if you don't need any private packages? If so, this should really not be a problem.

[2016-10-26 09:00] egede commented on #844
@rob-c Has the problem with GaudiExec (when no packages are checked out) been fixed?

[2016-10-26 09:24] rob-c commented on #844
@egede It appears to be now, I get a target and no compilation errors. Although I've not submitted any complex test jobs.

[2016-10-26 09:28] egede commented on #844
@cmarinbe So using `GaudiExec` I think indeed is the recommendation for everything (I am aware of a problem with the `readInputData` (#841) but that is about all.

[2016-10-26 13:15] #841 closed

[2016-10-27 08:19] cmarinbe commented on #844
Ok, thanks for the info @egede !

[2016-10-27 09:50] rob-c opened #847 "Pollution of stdout in execute causes test failures"
The use of stdout in execute can cause test failures as below:

[code]

I suggest the best solution to this is to intentionally add a line which is something like `---Ganga-Execute-Cut-Here---` which would allow for any output bleeding in from initializing the environment to be correctly removed from the result which is an object we want. This can probably be done within Ganga as the 2 steps of in

[2016-10-27 09:57] rob-c commented on #29
This is now working at the cost that we don't crash when users attempt to use kwds which aren't in the schema of object construction. This is viewed more as a cost of backwards compatibility so I can close this as fixed.

[2016-10-27 09:57] #29 closed

[2016-10-27 09:58] rob-c commented on #69
This has been done in 6.3

[2016-10-27 09:58] #69 closed

[2016-10-27 09:59] rob-c commented on #195
I think this is less thread safety and more to do with the connections being flaky. It would be nice to get the error to be hidden from users but it's not clear where it's originating.

[2016-10-27 09:59] #195 closed

[2016-10-27 10:46] #283 closed

[2016-10-27 10:48] rob-c commented on #286
This has been fixed I think, I can make use of `jobs[10]` and `jobs[-1]` correctly

[2016-10-27 10:48] #286 closed

[2016-10-27 10:49] rob-c commented on #302
FYI doing this for 6.4.0 after 6.3.0 would give us initial OSX support for free.

[2016-10-27 10:54] rob-c commented on #379
I think these have all been addressed. We can re-open this or a new PR if there are any more problems.

[2016-10-27 10:54] #379 closed

[2016-10-27 10:57] rob-c commented on #370
OK this has received a _lot_ of attention over several months so I think we can say this if fixed. There are problems with handling potentially thousands of DiracFile classes but these are different to this working.
Some queries timeout due to DIRAC problems but repeating the same call in the future 'just works'.

[2016-10-27 10:57] #370 closed

[2016-10-27 10:59] rob-c commented on #383
Think this is fixed at some level.

[2016-10-27 10:59] #383 closed

[2016-10-27 11:02] rob-c commented on #443
I've written a test which is in a pending PR which shows that the tasks system doesn't break lazy loading as much as it wasn't stopped from loading with `--no-mon`.

[2016-10-27 11:02] #443 closed

[2016-10-27 11:03] rob-c commented on #437
I suspect this was related to one of the numerous papercuts I addressed in 6.3 but I think it would still be good to add a test which copies a job of this type due to the getter method making things difficult.

[2016-10-27 11:15] rob-c commented on #417
@olupton Is this behavior still present in 6.2.x?

[2016-10-27 11:22] mesmith75 commented on #829
This definitely doesn't work from the command line. It only works from the .gangarc if I change the gangadir to a new folder.

The logic of this doesn't make a great deal of sense to me. The LHCb plugin postBootstrapHook is the last thing that loads. The configOptions have the hasModified attribute but this never get queried so what was set gets overwritten and there is nothing to stop that.

[2016-10-27 11:37] rob-c commented on #829
@mesmith75 Thanks for looking into this... I feared this could be the case which is slightly annoying.

I'll give this a look as the solution is a bit non-trivial I fear...

[2016-10-27 11:52] olupton commented on #417
@rob-c short answer: I don't know, I'm not using ganga for anything just now. Up to you whether to leave this open and I'll try to update it when I next need to use ganga/tasks, or close it and I can re-open/create a new issue if turns out there has been no improvement.

[2016-10-27 11:53] rob-c commented on #417
@olupton No rush I was just wondering if I could close the issue or not given the lack of activity, I'll leave it open for now to be cautious.

[2016-10-27 11:53] rob-c commented on #437
verified as Fixed in #848

[2016-10-27 11:53] #437 closed

[2016-10-27 11:54] rob-c commented on #406
I think this has likely been fixed in 6.3 as the handling of Errors from Dirac has been revamped. Also GangaError isn't mentioned in the file at all.

[2016-10-27 11:54] #406 closed

[2016-10-27 11:55] rob-c commented on #828
This is looking like a duplicate of #416 which one should I close?

[2016-10-27 11:56] rob-c commented on #844
@egede Are we OK to close this as won't fix or is this something worth looking into?

[2016-10-27 13:42] egede commented on #828
@egede. I suggest to close #416

[2016-10-27 13:43] #844 closed

[2016-10-27 16:31] mesmith75 commented on #828
They are slightly different things. I think this is the more pressing issue. I'll try and get it done for tomorrow.

[2016-10-28 07:36] egede commented on #302
@rob-c What is the current problem with OSX? I fail to see the connection.

[2016-10-28 09:17] rob-c commented on #302
@egede HFS the underlying filesystem in OSX is _not_ case sensitive so trying to do a git clone will get muddled as it will struggle to differentiate between `ganga` and `Ganga`.
This is the same with the default use of NTFS (windows) although this is due to compatibility and NTFS with windows has supported case sensitivity for a while now (I think mileage varies).

[2016-10-28 10:08] egede commented on #302
@rob-c OK, given that OS X is essentially unix, I kind of assumed that the file system was fully POSIX compliant. Learn something every day. In any case the change to `GangaCore` is well motivated for other reasons.

[2016-10-31 10:09] twhyntie opened #853 "Ganga credits and publications"
Hello,

I'm giving a talk about GridPP engagement etc. for SKA this week and Ganga will now be featuring as the UI of choice :smile:

Is there a list of people/funders to credit for development anywhere please? And any recent publications that it might be nice to cite?

Cheers, @twhyntie

[2016-10-31 18:55] #667 closed

[2016-10-31 18:57] mesmith75 commented on #838
I agree that it would be better to just instruct users to use kinit -r . Can I close this as a won't fix? We can reopen in case there are lots of complaints.

[2016-10-31 19:00] mesmith75 opened #854 "Update GaudiExec upload SE checks"
The check on the file upload success for the GaudiExec tarball needs to be updated for 6.3 to catch the GangaDirac exception properly. There may also be the new function in the Dirac API by this point.

[2016-10-31 19:01] #835 closed

[2016-11-01 06:44] egede commented on #838
@mesmith75 Yes, I think that is fine.

[2016-11-01 07:05] egede commented on #853
@twhyntie That is great to hear. Who is working on this from the SKA side? You, or somebody else? It would be great to hear more about the ideas. Concerning credit, it should go to Imperial College London, Birmingham University and GridPP. For publications, I am afraid that we have not have a recent publication, but you can give the DOI for the most recent release series, https://doi.org/10.5281/z

[2016-11-01 07:48] twhyntie commented on #853
@egede Thanks! GridPP/Cambridge/Manchester at the moment - they have been playing with the IC GridPP DIRAC instance so far. All very preliminary but one thing to think about is integrating HPC into the workflow (though this is probably more of a DIRAC thing than a Ganga thing).

Will keep you posted!

[2016-11-01 07:48] #853 closed

[2016-11-01 08:47] #838 closed

[2016-11-04 21:42] egede opened #855 "Taking different between two LHCbDataset objects not working"
Patrick Koppenburg reports a bug on subtracting two LHCbDataset objects.

[code]
I try to make the difference between two LHCbDatasets but run into an error. Usually that works. I use the latest ganga. What should I do?

Thanks

Patrick

[2016-11-07 12:54] mesmith75 opened #857 "Unit test for LHCbDataset"
A reminder for the unit tests for the LHCbDataset code.

[2016-11-07 20:17] mesmith75 commented on #855
Resolved by #856

[2016-11-07 20:17] #855 closed

[2016-11-07 20:19] mesmith75 commented on #840
I can't see a way around this immediately. The ```ApplicationMgr``` doesn't seem to do anything and we can't mess with LHCb app after the options are pickled.

[2016-11-07 22:14] rob-c commented on #840
@mesmith75 there is no pickling in `GaudiExec` I'm not sure I understand this?

[2016-11-08 15:14] olupton opened #858 "LHCbDataset breaks Tasks"
Hi,

In the latest release for LHCb (v602r2) Tasks are not usable. At first glance this is because of a bug in LHCbDataset where it tests for DiracFile too late:
https://github.com/ganga-devs/ganga/blob/master/python/GangaLHCb/Lib/LHCbDataset/LHCbDataset.py#L221

This causes:
[code]

...and, seeing as I don't see a way around this, makes Tasks unusable in the current version...?

[2016-11-08 17:06] mesmith75 commented on #858
@olupton This looks to be because the task is using the difference function in LHCbDataset. There was a bug in this which has been fixed (#856) for the next Ganga version, due imminently.

The last version this worked on was I think v601r22.

[2016-11-08 18:06] olupton commented on #858
Thanks @mesmith75 -- I'll have a try with v601r22.
Sorry for not noticing it had been fixed -- I guess the 'master' branch is not the state of the art.

[2016-11-08 18:27] mesmith75 commented on #858
ah yes - everything goes into the develop branch, so you can try that if you want the latest version. Just be aware that v601r22 was pre GaudiExec.

[2016-11-09 09:13] olupton commented on #858
Thanks @mesmith75  -- v601r22 works for now. Fortunately I didn't need GaudiExec in this case.

[2016-11-10 10:38] #858 closed

[2016-11-10 10:41] mesmith75 opened #859 "Ganga doesn't handle spaces"
Do we want Ganga to be able to deal with spaces in the gangadir path?

The nightlies have been failing for a while at the first test because of this problem.
[code]

[2016-11-10 16:01] rob-c commented on #859
This was fixed in 6.3 i decided not to spend energy back porting the fix as it was made to use the GangaDiracError.

[2016-11-10 18:02] mesmith75 commented on #859
@rob-c ah ok thanks, I'll close this then.

[2016-11-10 18:02] #859 closed

[2016-11-11 00:13] pseyfert opened #860 "prepare() of prepared jobs suggests using keyword force which unprepare cannot handle"
Hi,

this is probably trivial.

I had to re-prepare a job (actually only trying if it works to save time instead of deleting, recreating,...) and saw the following output

[code]

okay, so i tried

[code]
So, I just called `unprepare()` and then `prepare()` (w/o force) - I naively thought `force` would just call `unprepare`. This seems to work fine so far.

This is ganga v602r2. I quickly grepped

[2016-11-12 14:19] mesmith75 commented on #860
@pseyfert Thanks for bringing this up - I think you located the issue. The force argument doesn't appear to do anything for the ```unprepare``` itself but I'll add it in for the sake of consistency.

[2016-11-13 11:27] chrisburr opened #862 "Job status shown as "completed" despite having subjobs with "new" state"
Ganga appears to prioritise the "completed" state above "new" when computing the status of a job containing subjobs. I would expect the parent job to only be shown as "completed" when all subjobs are also completed.

Output of `jobs`:
<img width="879" alt="screen shot 2016-11-13 at 12 15 27" src="https://cloud.githubusercontent.com/assets/5220533/20245139/fb5bae0a-a99a-11e6-9377-ee5e5f68f637.png">

[2016-11-14 06:24] egede commented on #862
@chrisburr When all subjobs are finished (completed, failed, killed), the master job is no longer monitored. How did the job manage to get into this state?

[2016-11-14 08:22] chrisburr commented on #862
I think it was caused by ganga being killed just before it finished submitting the job, I manually submitted 58.915 but missed 58.914.

I can reproduce this by killing ganga while it's half way through submitting a job using:
[code]
The resulting job goes into the completed state despite still having many new jobs that were never submitted.

[2016-11-14 10:28] maubeck commented on #833
Hi,
is there anything new on this topic?

Cheers,
Maurice

[2016-11-14 11:39] rob-c commented on #862
@chrisburr Can you confirm the job status is the same as the summary i.e. run `job(a).subjobs(b).backend` to trigger loading this job from disk it could be that the index is incorrect.
Do you let ganga shut down correctly or do you force close the session? If you force close ganga we can't offer any assurance to the job statuses being correct as the registry hasn't been reliably flushed.