[2016-02-05 11:23] #177 closed

[2016-02-05 11:31] rob-c commented on #173
@olupton OK I fixed the bugs that were being reported yesterday but I still don't have any running jobs from the task. I'd advise you update your LHCb bugfix branch as there are some minor important changes in it.

[2016-02-05 11:34] rob-c commented on #173
I'm now seeing:
[code]

[2016-02-05 12:15] olupton commented on #173
OK, I'll try again. The final error you posted is the symptom of the issue a few comments back, where the input data (TaskChainInput) to the final transform gets messed up/deleted, so my guess is the problem is there.

[2016-02-05 12:41] olupton commented on #173
For example, I get the following error immediately after running the test script:
[code]

[2016-02-05 13:04] rob-c commented on #173
Are you stripping the proxy from objects wherever you're taking an input from the user?

[2016-02-05 13:13] olupton commented on #173
@rob-c I **am** the user, just trying to help with debugging! I don't know enough about ganga internals to be able to answer your question.

[2016-02-05 13:15] rob-c commented on #173
ah, apologies :P I've no idea the origins of the Tasks code. I think I know what can be leading to this so I'm looking into a fix now

[2016-02-05 14:21] rob-c commented on #173
OK, I've resolved this issue but still no jobs running from the bugfix/LHCbfixes branch. Unfortunately no errors either as far as I can tell :/

[2016-02-05 14:27] rob-c commented on #129
At some point along the way this behaviour appears to be fixed. Both names of box and jobs objects are preserved as intended in 6.1.16 at least (maybe 6.1.15)

[2016-02-05 14:27] #129 closed

[2016-02-05 14:27] rob-c commented on #160
I've not seen this in well over a week on develop. marking as closed for now

[2016-02-05 14:27] #160 closed

[2016-02-05 14:28] rob-c commented on #95
OK, can't seem to reproduce this anymore. Marking as closed

[2016-02-05 14:28] #95 closed

[2016-02-05 14:40] olupton commented on #173
@rob-c I pulled your updates and tried again. The first attempt (where my repository still had an old Task in it) did something weird (I got "Please specify either inputdata or MC info for unit generation" and the inputdata got emptied).

I started again with a clean repository (execfile()'d the test script and then called .run()) and it seems to correctly create jobs. And the final transform's in

[2016-02-05 14:51] rob-c commented on #173
Does the task actually start submitting any jobs for you? I'm not seeing any but I don't know if you're expecting the tasks to do a low of work behind the scenes before it creates any jobs.

The issue of data persistence here is slightly concerning and could be a cause of problems in the very near future. (I suspect this is a trivial fix, but tracking down what is set incorrectly in the Task class

[2016-02-05 14:56] olupton commented on #173
Yes, it did actually submit some jobs:

[code]

So in a completely fresh session, having used execfile() to run the test script and not exited before calling .run(), it took O(seconds) to start generating jobs. The test job is very light, so creating the jobs should be 'very easy' and not take long at all (although my experience says it sometimes takes the Tasks thread O(a minute) to notice that i

[2016-02-05 15:13] drmarkwslater commented on #173
That's by design but controllable with [Tasks]TaskLoopFrequency. Apologies for not keeping up with this thread as I've had quite a busy week with teaching and a conference but it seems this is mostly to do with Proxy stuff which @rob-c is the current expert on!

[2016-02-05 15:16] rob-c commented on #173
I wouldn't say expert as much as the last person to touch it :P
@drmarkwslater (as a complete aside question since you brought this up) How integrated is the tasks monitoring loop? Could we integrate any new monitoring loop we write for standard job transitions? (A yes/no answer is enough, I'm not wanting to go into too much depth on monitoring systems here)

[2016-02-05 15:20] drmarkwslater commented on #173
Err... Maybe :) By that I mean, yes with a bit of work. If we can just get the Task monitoring loop to be run as another 'backend' monitor then that should be pretty good actually. There maybe other reasons not to but none spring immediately to mind right now...

[2016-02-05 16:21] rob-c commented on #173
OK, I think I've solved this 'persistency' problem.
The data is written to disk correctly, however the data is not passed around within Ganga correctly as it's not marked copyable where it needs to be.
Unfortunately this does mean it will have totalled past Tasks.

I'll clean up my patch and upload it to the bugfix branch and then make a PR from this branch as it seems to have tasks working for LH

[2016-02-05 17:00] rob-c commented on #173
OK, latest code is in PR #179.

@olupton If you find any more problems with this branch please feel free to report them. Thanks

[2016-02-05 18:41] olupton commented on #173
@rob-c great, I'll try putting it through its paces next week!

[2016-02-08 14:39] drmarkwslater opened #180 "Clean up import ganga code and start using this in tests"
After discussions with @milliams we think it would be good to get the little ganga stuff properly cleaned up and understood so we can then know exactly what's done at startup. In addition, the exit handlers should be able to be run independently of the atexit versions. We can then have tests such as:

[code]

This will do away with all the GangaTestCase stuff, be much closer (~the same) as what us

[2016-02-08 14:56] alexanderrichards commented on #180
All sounds good to me. I didn't fully understand what you meant by the above though.

:+1:

[2016-02-08 15:00] drmarkwslater commented on #180
@alexanderrichards Basically, if you just run a test such as:

[code]

Then everything will get unloaded/destroyed but e.g. your job may not get flushed to disk. If you add the decorator, this can add the call to anything that is added to atexit and properly flush, etc. It may be a separate function isn't needed and it can all be put in the decorator, but it may be nice just to have everything pro

[2016-02-08 15:12] rob-c commented on #180
I don't understand what you mean by: 'the exit handlers should be able to be run independently of the atexit versions'.

Are you planning to scrap the Shutdown function or still make use of it in the future but only when ganga is shutdown at the end.

I'd strongly argue we want to do a full shutdown between all of the tests in a tearDown anyway. If you can reduce the startUp in the GangaUnittest t

[2016-02-08 15:18] rob-c commented on #180
Just to confirm are we wanting ```import ganga``` to trigger loading of the monitoring?

[2016-02-08 15:45] milliams commented on #180
@rob-c We will not want `import ganga` to start the monitoring, no. When running unit/integration tests we will manually run the monitoring loop and when running interactively we will expect the user to run `start_monitoring()` or similar.

[2016-02-08 16:21] drmarkwslater commented on #180
@rob-c I just mean that we can run the Shutdown 'manually'. In the example above, you wouldn't get a full tearDown because the atexit stuff isn't being called so the decorator would supply that in whatever way is currently done when the `atexit` handlers **are** called. I realise this is something that GangaTestCase does do in theory but it seems that is having problems and also that would be the

[2016-02-08 16:25] drmarkwslater opened #181 "Ganga web page not updating with release info"
I'm not sure how this will fit in with the new release process but the main Ganga page isn't being updated with the new releases:

https://ganga.web.cern.ch/ganga/

[2016-02-08 18:41] rob-c commented on #180
In your model I would agree this isn't a problem if Ganga is guaranteed to startup in a clean __empty__ repo for every test but at the moment there isn't anything to allow for this from what I can see.

We'd need to introduce some ability to wipe the repo on exit between some tests to avoid future tests doing the (sensible) thing of accessing jobs(0) and getting something they don't expect.

I don

[2016-02-08 19:37] rob-c commented on #181
Is the source this page in github anywhere?

[2016-02-08 20:26] milliams commented on #180
On the point of monitoring I spent some time today writing a replacement for the monitoring code. It does most of what we need and is currently about 120 lines of code. It will certainly be longer by the time it has all the necessary features but still an order of magnitude less than the current code. One of the things it provides is the ability to stop and restart monitoring at will. Again, a top

[2016-02-08 22:05] rob-c commented on #180
@milliams I'd be keen to see the ability to break the monitoring kept as it took long enough to implement in the current system.

Would it be possible to strip down ```master_updateMonitoringInformation``` to be a minimal method and handle the number of subjobs we pass to the backend in the monitoring code directly?
I'm thinking of moving the current code from there mostly into the monitoring loop

[2016-02-09 08:48] drmarkwslater commented on #181
I don't believe so - all the web pages are just hosted at CERN on AFS. This may be something to look into changing in the near future....

[2016-02-09 09:27] alexanderrichards commented on #180
:+1:

:+1:
All good!

[2016-02-09 09:27] alexanderrichards commented on #181
I mentioned in the meeting a few weeks ago, we could host on github itself using github pages

[2016-02-09 09:30] drmarkwslater commented on #181
Sounds like a plan - just need to remember to redirect from CERN I guess

[2016-02-09 11:30] milliams opened #184 "GangaList tests failing"
Since 6.1.13 (and it got worse in 6.1.14) we've been failing on a number of `GangaList` tests which, after some investigation, needs some discussion. The primary bug I've come across is a change in how calling `copy` on a `GangaList` preserves references or not.

If you make a `GangaList` with:
[code]
then you have a `GangaList` with a single `LocalFile` in it. Calling:
[code]
should, by normal Py

[2016-02-09 12:17] drmarkwslater commented on #184
Tricky because though I would say that naively you'd want to revert the behaviour back, I can see there's an issue if you did something like:

[code]

as you would then have a reference between jobs. This would break when loaded from disk and would also produce odd behaviour if, e.g. you submitted one job with wildcarded inputfiles, the second job would then have it's inputfiles resolved automatic

[2016-02-09 12:21] milliams commented on #184
It looks like this *might* have been changed at [18cd9ac3b99](https://github.com/ganga-devs/ganga/commit/18cd9ac3b99562bff08bccba6cfb70414971a762#diff-3a5f5ed88f274eb570dccbab85337abfR364) but it's not clear from the commit message if this was intended.

[2016-02-09 12:21] rob-c commented on #184
I personally think that the behavior highlighted by mark is consistent with what we intend to happen, we need a new copy whenever Python would prefer to make a lightweight copy.

We could get this to change depending on if an object is copyable but IMO  because we can never have 2 parents to one object by design my vote is to kill the copy test as moving contrary to the ganga ethos.

[2016-02-09 12:28] rob-c commented on #184
We can make sure that the copy method is lightweight but then the GangaList needs to remember to copy the object before any and all changes are made to objects it is ownership of.

As it's incredibly easy to subvert this and have a GangaList wrapper which would not know if the dataset it's linking to from an older job has changed I think it's much more sensible to have an explicit copy actually ma

[2016-02-09 12:41] rob-c commented on #85
This may be improved by #182.

I'd like to keep this open to test stopping and starting the monitoring in an interactive Ganga session which 'should' work but has been fraught with difficulties.

[2016-02-09 12:43] rob-c commented on #68
The loading of objects still appears to be very slow but I'm able to split and submit a very large job much faster as a result of #182 so this may fix a lot of the problem as it's observed by the users.

[2016-02-09 12:53] rob-c commented on #184
The componentitem was needed as a result of storing objects in threads. This could possibly be improved or fixed but we run the risk of not being able to load old valid XML as a result of schema changes. I'd rather avoid this if we can.

[2016-02-09 12:55] rob-c commented on #173
Once #182 is in I'll rebase the fixes here before merging them.

[2016-02-09 13:55] milliams commented on #184
I guess it come down to what the purpose of `GangaList` *is*. Why do we have `GangaList` instead of a normal Python `list`? I can think of a few possible things:

1. So that we can provide a proxy list interface whereby real `GangaObject`s are stored but if you're in GPI-land when requesting items (`mylist[3]`) you get proxied objects.
2. Persistency. It makes it easier to put a `GangaList` in a `

[2016-02-09 13:58] egede commented on #184
You need to add write protection to your items. If a GangaList is inside
a write protected object, you should not be able to do

list[2]='foo'

On 09/02/16 13:55, Matt Williams wrote:

[2016-02-09 13:59] alexanderrichards commented on #184
Jobs gain a write protected status upon submission and this is independent I think of proxy so I think in this instance the GangaList may be more that a simple proxy wrapping.

[2016-02-09 14:09] milliams commented on #184
The definition of `protected` is "not modifiable via GPI" and indeed the "object %s is read-only and attribute "%s" cannot be modified now" is only done on the proxy layer.

[2016-02-09 14:10] alexanderrichards commented on #184
ah ha ok then. I though that even behind the proxy the job was in essence locked down once the status was submitting

[2016-02-09 14:12] alexanderrichards commented on #184
what about taking Ulriks example:
[code]
This will also need to trigger a dirty update. I don't recall now but I assume that GangaList handles this through the standard GangaObject dirty mechanism.

[2016-02-09 14:17] alexanderrichards commented on #184
also I think that we add functionality in the GangaList as well like there is a get method right?

[2016-02-09 14:17] olupton commented on #173
@rob-c I tried the head of the bugfix/LHCbfixes branch today.
Running the task seemed to immediately submit jobs as it should (a minute or two after calling .run() I had a submitted Job and a running Task). I then quit + reopened the session and noticed a few things:

I get the following warning when re-opening ganga:
[code]

The Task has reverted to state 'new' from 'running'; I don't immediately

[2016-02-09 14:18] alexanderrichards commented on #184
however don't read this as I'm not in favour of removing it :smile: I'm just trying to understand all the intricacies.  Lets discuss it in the meeting.

[2016-02-09 14:19] milliams commented on #184
As for
[code]
the question is, where did `mylist` come from? If it was from something like:
[code]
then even if `j.inputfiles` is stored internally as a `list` then when it's requested via the proxy layer like this, the proxy layer will return a `GangaList` (with parent set appropriately) so that object will be able to do the write-protection and dirty notification.

[2016-02-09 14:23] alexanderrichards commented on #184
That's convincing. What is the expected behaviour of a straight list in the box? I guess the same then right? i.e. when the user gets from the box we would proxy wrap to a GangaList which will take care of dirty notification.

[2016-02-09 14:23] mboubdir commented on #120
Hey everyone,

Could you could fix this problem? I m also facing this since starting to use Ganga 6.1.14. Using other versions with the same submit script seems to work fine. Although, the upload to eos doesn't work anymore.

Cheers,
Meriem

[2016-02-09 14:31] milliams commented on #184
Yes, I think so. The box is a proxy object so passing things into or out of it should wrap as appropriate. Now, doing:
[code]
would print `Ganga.GPIDev.Base.Proxy.GangaList` but that's fine (and is indeed the current behaviour).

[2016-02-09 15:06] rob-c commented on #173
@drmarkwslater I see the effect of tasks being reset back to new between shutdown and restart of Ganga is this a known bug or likely a symptom of the XML file being potentially lost?

I suspect an XML bug is occuring her as I've seen it a few times. Thanks for reporting @olupton

(This is all complicated by the fact AFS does whatever it wants with file management)

[2016-02-09 15:08] rob-c commented on #120
Has this already been fixed? I know we have looked at a problem very similar to this in the past or is there a MWE which demonstrates what is broken?

[2016-02-09 15:08] drmarkwslater commented on #173
I'm looking at this now and there seems to be two problems:

1. THe Task status is not persisted properly and almost always reverts to new
2. The XML file sometimes disappears.

Looking in to these now...

[2016-02-09 15:10] rob-c commented on #173
I'll get in a PR with some fixes which try to reduce the chance of an XML missing (or being reported as missing) shortly as a minor priority as this needs attention.

[2016-02-09 15:10] olupton commented on #173
@rob-c FWIW I'm using an Oxford system that I'm pretty sure is not AFS-based.

[2016-02-09 15:12] rob-c commented on #173
Ah excellent, good to hear this is likely a definite bug in the way that files are written to disk (I'll do some digging)

[2016-02-09 15:33] mboubdir commented on #120
We had a similar problem with Ganga 6.1.13 while resubmitting failed jobs/subjobs. We have been told that the problem will be fixed in 1.14 but now we get the error right after submitting a new job. I didn't find any solution yet.

[2016-02-09 16:13] rob-c commented on #120
@mboubdir Can you provide 4 or 5 lines which reproduce this?

[2016-02-09 16:31] mboubdir commented on #120
Ofc, here is a simplified script:

filepath =  '/LHCb/Collision15/Beam6500GeV-VeloClosed-MagDown/Real Data/Reco15a/Stripping23r1/90000000/BHADRONCOMPLETEEVENT.DST'

v = 'v38r0'
dv = DaVinci(version=v)
dv.optsfile=['options.py']

j = Job(application=dv)
j.backend = Dirac()
j.inputdata = data

j.splitter = SplitByFiles(filesPerJob=100)
f = MassStorageFile('DVTuple.root')
f.outputfilenameformat = '/D

[2016-02-09 16:46] rob-c commented on #120
Does this occur without using the Dirac backend or without DaVinci do you know?

[2016-02-09 16:49] mboubdir commented on #120
I Don't know and can't try it now.

[2016-02-09 17:12] jea-umd commented on #120
I just tried mboubdir's recipe replacing DaVinci with Moore v23r7p5 and
replacing Dirac with Local ( on lxplus ), and I get the identical error.

Jason

On 2/9/16 11:49 AM, mboubdir wrote:

[2016-02-09 20:25] drmarkwslater opened #185 "XML files disappearing"
I think I've tracked this problem down. I think the only way that the data file can be blanked and yet the data~ file still be present is because in the `safe_save` method in `GangaRepositoryXML.py`, the backup file is created from a rename of the `data` file before the new `data` file is created from a rename of `data.new`. If this function has been called from multiple threads simultaneously, th

[2016-02-09 20:29] drmarkwslater commented on #185
Thinking a bit more, a simple single global lock in the `safe_save` may be the best way to go, irrespective of registry or object id. This means that You cannot right to the repo in parallel and so could cause a performance hit there but I expect the majority of the time (for the job repo at least) there's only one thread doing it anyway.

[2016-02-09 20:30] drmarkwslater commented on #173
I've found the problem to do with XML files vanishing: #185 Fix incoming!

[2016-02-09 20:32] rob-c commented on #185
A global lock here gets my vote :)

[2016-02-10 10:05] mboubdir commented on #120
@jea-umd Thank you!

Meriem

[2016-02-10 10:32] drmarkwslater opened #187 "Problems with CoreTasks not running properly"
I'm seeing many errors and stalled tasks. Going through and cleaning this up so it works again.

[2016-02-10 10:46] milliams commented on #187
This sounds like a blocker for 6.1.16?

[2016-02-10 10:52] drmarkwslater commented on #187
Normally I would say yes but on the totem pole of major problems, this is under the others and I'd prefer to get a version out with a working repo/monitoring loop rather than hold it up for this. This is still a serious problem that will hopefully be fixed in the next week as well, but I have no desire to push it/hold up the release for it.

[2016-02-10 13:18] #185 closed

[2016-02-11 17:24] rmatev commented on #140
Hi,
Any chance you can have a look at the metadata issue for the next release? We're using a checker to make sure all input files were fully processed and the metadata is what we look at.

[2016-02-12 16:49] rob-c opened #195 "stomp monitoring appears non-threadsafe"
This is just a small issue to remind me to look into the stomp monitoring code at the start of next week.
This code appears to have issues when submitting many jobs in parallel and I suspect this might be that some of the code isn't fully thread-safe.
This isn't a major bug (2 or 3 jobs aren't reported per 100) but it does fire a critical logging error which would be best avoided.

[2016-02-12 16:49] rob-c commented on #195
e.g.
```2016-02-12 17:47:45,611 StompReceiver stomp.py                           :493 ERROR   : Lost connection```

[2016-02-12 17:28] egede commented on #140
Hi Rosen,

No, as explained a few days back on the distributed analysis list, the
only focus of the next release is to restore the stability of Ganga that
has gone lost.

But after that has been achieved, it is certainly a thing to attack.

Ulrik.

On 11/02/16 17:24, Rosen Matev wrote:

[2016-02-15 11:55] joezuntz opened #199 "CREAM jobs stuck with old status"
After some kind of update failure in checking the status of my jobs (I think this was a timeout, though apologies, I don't have the error message I got), their states have not continued updating.  When I check them directly with glite-ce-job-status it shows them as having finished (though failed).

Apologies if this is not strictly a ganga problem but rather with another part of the system, or if

[2016-02-15 16:06] joezuntz commented on #199
I've now seen another example of the warning message which (I think) preceded this problem:

    Ganga.Utility                      : WARNING  exit status [1] of command ${GLITE_LOCATION}/bin/glite-ce-job-status -L 2 -n -i /tmp/tmpH1cisA.jids
    Ganga.Utility                      : WARNING  <first 4096 bytes of output>
    2016-02-15 15:51:20,158 FATAL - JobInfo

    Ganga.Utility

[2016-02-15 21:04] rob-c commented on #123
I suspect that this has been fixed in #179 as part of looking at #173 There was a bug in the copying of the LHCbDataset which is copied on loading from XML at some stage.
This is difficult to track down/reproduce so I'm going to opt to keep this open as part of the next version distributed to LHCb users.

[2016-02-15 21:06] rob-c commented on #173
The changes from this work will be in 6.1.17 which may likely be the next major version released to LHCb users.
6.1.16 has been largely devoted to fixing some stability issues in the Core of Ganga.

[2016-02-15 21:10] rob-c commented on #195
I suspect this may just be due to the logging not having the logging level set to critical as expected as this doesn't go away with large global locks around most of the stomp code and there are very few global or cross-thread parameters here as there is typically 1 publisher per thread.

[2016-02-16 10:10] afortiorama commented on #199
I asked the sys admins in Bristol to see what is going on. It may help with understanding why ganga doesn't get that DONE-FAILED, but I wouldn't hold my breath.

[2016-02-16 10:19] rob-c commented on #199
@joezuntz What version of Ganga are you using?
There have been issues which have become more exposed recently to do with repository synchronisation and the monitoring loop within Ganga becoming stuck.
If the monitoring is failing to progress my best advise is to minimise the number of jobs stored in your jobs repository or wait for 6.1.16 which is specifically addressing these issues

The failing

[2016-02-16 10:25] joezuntz commented on #199
Hi @rob-c  - the problem first appeared with 6.0.42-hotfix1 but I've since updated to the bleeding edge version and it still seems to be there.

I can't really limit the number of jobs I run because of the nature of the problem we are working on.  Do you have a sense of when 6.1.16 might be available?

Paging @afortiorama for her information as she is looking into this on the other side.

[2016-02-16 11:03] rob-c commented on #199
@joezuntz Hopefully within the week 6.1.16 will be out, we're waiting on a final small subset of patches before we head for release.
OK, if you've been seeing this as a problem with the jobs on Glite then this is likely an issue with the backend at some level either within Ganga or a possible change in the glite tools.

[2016-02-16 12:24] egede opened #201 "User defined output LFN for DiracFile"
A user should be able to define the LFN for a DiracFile. The support within the Dirac API seems to be in place.

https://its.cern.ch/jira/browse/LHCBDIRAC-299
https://its.cern.ch/jira/browse/GANGA-1921

[2016-02-16 13:47] rob-c commented on #201
The change of LFN for the output of the job needs a new field in the DiracFile and support in the (LHCb?)Dirac backend to pass the correct option for where files are to be uploaded to.

This should be a quick afternoon job but keeps getting distracted for other tasks.

I'm planning to make 6.1.17 available to LHCb users as a development release ahead of 6.1.17 final (there are a lot of LHCb relate

[2016-02-16 15:11] joezuntz commented on #199
In case it's useful we've discovered that in this case the jobs were killed by the batch system of the site in question. Thanks for the info on 6.1.16.

[2016-02-17 04:42] olupton commented on #43
I just noticed that the 2nd bug I reported has reappeared. It looks like this commit accidentally reverted the change? https://github.com/ganga-devs/ganga/commit/6360234a159c84f8d8716d34c4004799cccf6157

[2016-02-17 09:39] rob-c commented on #43
@olupton Which bug exactly was this, apologies it doesn't jump out at me from the diff

[2016-02-17 10:08] rob-c commented on #43
OK, I see it, that patch reverts some good features, I'll work on reverting it ahead of 6.1.17

[2016-02-17 11:11] rob-c commented on #201
I've just had a look at the LHCbDirac api and it still looks like the jobs are constructed with the jobID in the name:
[code]

The latter carries the limitation that the ```fileName``` component can't have a ```_``` character within it.
(This is due to something at the Dirac level beyond our scope)

I plan to catch and throw a Ganga error on this as it would be nicer than waiting for the job to fa

[2016-02-17 13:30] olupton commented on #43
@rob-c I should have been clear; the regression that I noticed (in 6.1.13) is that the uploadSE option for DiracFile.put() gets ignored after the first upload/session again (and all files get uploaded to the same SE even if you specify different ones).

[2016-02-17 17:30] rob-c commented on #85
I believe this has been understood as part of 6.1.16, closing

[2016-02-17 17:30] #85 closed

[2016-02-18 11:12] rob-c opened #203 "little ganga unload"
I'm just adding a small issue here around 'ganga'.

What is the expected behaviour of the following code:

Edit: including code
[code]

do we expect little ganga to have vanished after ```myFunc``` exits. Do we expect the repos to be shutdown here?
Or, do we expect the shutdown and repo closing commands to be run only on exit of the python?

[2016-02-18 11:24] drmarkwslater commented on #203
I think we expect similar behaviour to normal python modules in that the module (and associated gubbins) would stay cached whenever you import, i.e. the above code **would** keep the repos up and wouldn't call shutdown until python exit (or explicitly called by the user). Would do you think?

[2016-02-18 11:27] rob-c commented on #203
I'm just curious about the opinion as I was just under the assumption that maybe once I'm finished and can't access 'ganga' any more it would be sensible to close and flush any changes I've made?
I can see the motivation for keeping things in the future but then what happens if I run:
[code]
Would the 2nd import here cause Ganga to be re-initialized despite the fact that a lot of global objects ar

[2016-02-18 11:35] drmarkwslater commented on #203
I believe (and @milliams or @alexanderrichards can comment here!) that if you do a subsequent import, then you just access the instance that's cached in memory, i.e. it won't initialise anything a second time because it won't run the `__init__.py` code a second time.

[2016-02-18 11:44] milliams commented on #203
Indeed, quoting from [the manual](https://docs.python.org/2.6/reference/simple_stmts.html#import):

[2016-02-18 11:44] rob-c commented on #203
OK, after playing with the code it looks like you're correct. I think I was getting myself confused about nothing here.
Would we ever sanely expect to be wanting to allow the user to unload 'ganga' after importing it do we think? (I'm happy if the answer is no)

[2016-02-18 11:45] drmarkwslater commented on #97
I think the points raised here are valid - we won't have an 'easy' option of download/merge in normal jobs but we should look in to providing a job template to create a job that does it and I'll go down this route for Tasks as well.

[2016-02-18 11:45] #97 closed

[2016-02-18 11:49] drmarkwslater commented on #203
I think we need this functionality (and was actually the source of the confusion in #180 due to my poor wording of it) for the tests if nothing else. But I can also see a use case for normal users as well - they might want to be sure that they have 'shut ganga down' after leaving a function. This may lead to issues of starting it up again though - I'm not sure how to force python to unload a modul

[2016-02-18 11:59] egede commented on #203
Towards the user, I do not really think we can do this. I think that just simple code like

`import ganga
j = ganga.Job()
reload(ganga)`

will effectively leave two instances running as you can't get rid of the reference to the jobs that you created (and thus can't completely get rid of the old code before reloading). Take a look at http://stackoverflow.com/questions/437589/how-do-i-unload-reload-

[2016-02-18 12:02] rob-c commented on #203
So do we want to expose and encourage use of a ```shutdownGanga``` method which does a cleanup of our internals which allows for Ganga to be stated up again?
(I imagine this to basically be a hook to the atextit manager)

[2016-02-18 12:08] milliams commented on #203
I feel that for explicitness and simplicity a single function which shuts down any of the run-time services we might be running is a good idea.

[2016-02-18 12:10] rob-c commented on #203
OK, after reading, http://bugs.python.org/issue9072 It looks like 'un-loading' of a module is a bad way to go.

I think we should probably in this case move to make the ```import ganga``` effectively just call a simple ```setUpGanga``` method might be a better approach as then we could have a ```setUpGanga``` and ```tearDownGanga``` method which encapsulates everything to do with startup/shutdown?

[2016-02-18 13:21] rmatev opened #204 "Issue with gaudi options parsing"
An issue was noticed by a few users that the newest DaVinci (v39r0p1) does not work with ganga.

To reproduce it is enough to do:
[code]

I think the issue is with the way ganga tries to read the pickled option file at
https://github.com/ganga-devs/ganga/blob/0b796886d15f843d38e1a85bbb6078f0677dca93/python/GangaLHCb/Lib/Applications/PythonOptionsParser.py#L66

The problem is that gaudirun.py is no

[2016-02-18 13:25] rmatev commented on #204
Okay, what I concluded is a bit premature, as the demo at the end fails with DaVinci v38 too. There must be more to it.

[2016-02-18 13:26] rmatev commented on #204
For the record, here is the interesting part of the failure output:
[code]

[2016-02-18 13:30] rob-c commented on #204
@rmatev Can this be fixed by adding the missing module to the beginning of the extra opts or do we know that Ganga is failing to parse the options within the correct environment?

[2016-02-18 13:43] rmatev commented on #204
@rob-c no, it won't work.

I understand it better now. `gaudirun.py` is not the issue. The issue (as the traceback points out) is that `eval()` runs in ganga's environment, while the supplied string looks something like
[code]

[2016-02-18 13:44] rob-c commented on #204
Thanks for answering my question I was in the process of confirming that there was something non string like in the dictionary

[2016-02-18 13:46] rob-c commented on #204
Does this require a change in how ganga requests this pickle to be generated or has the pickle file fundamentally changed in some way now?
The pickle in v38r0 for instance contains a valid dictionary of options.

[2016-02-18 13:57] rmatev commented on #204
I talked to @pikacic about this.

Apparently it is a glitch coming from Gaudi and is not supposed to be there. The next Gaudi version will have only plain types in the dictionary.

To make the projects released with the current Gaudi work, it seems the easiest is to make a workaround in Ganga, where you define a fake class `DataObjectDescriptorCollection`, such that the dictionary parses correctly

[2016-02-18 14:03] rob-c commented on #204
I'd rather avoid this if possible and see if the solution can come from the DaVinci side.

I know defining this object as a plain str 'should' be good enough but this is something I'd rather avoid hard-coding into the LHCb parsing if it can be helped. I don't have the faintest clue what effect replacing all of these objects with '', and/or removing them from the dictionary would have on the jobs.

[2016-02-18 14:21] rmatev commented on #204
Are the parsed options used subsequently to construct the actual job options? From the module's docstring I gather this is only used for "extraction" of stuff:
[code]

[2016-02-18 14:22] rob-c commented on #204
I'd need to investigate, it's been a while time since I fully looked at what was going on with this code.

[2016-02-18 14:53] pikacic commented on #204
As @rmatev said, the problem is that the only way to properly _eval_ the dictionary produced by `gaudirun.py`is either to import the python module defining `DataObjectDescriptorCollection` or providing a dummy callable (either a class or a function) that mimics it.
The properties that suffer from this problem are not used in any production or user job, so any value that gets there is OK (empty str

[2016-02-18 15:16] egede commented on #204
@rmatev Can you try this trick with a fake class yourself. If it works we could inject that even at the configuration level. So in your .gangarc file have something like

`
[Configuration]
StartupGPI='class DataObjectDescriptorCollection()\n ....'
'
If that works, it would be easy to insert even into existing versions of Ganga.

[2016-02-18 16:12] rmatev commented on #204
With @pikacic we found a workaround. You can inject a function into the module where the `eval` happens. (Since GangaLHCb.Lib.Applications is quite a peculiar package, you need `sys.modules...`):
[code]
If you do this from ganga, then `app.prepare()` works.

@egede We tried plugging this in StartupGPI, but it does not work.
[code]
Any further ideas how to automate this for users?

[2016-02-18 17:42] egede commented on #204
Could you define it as a global function instead?

On 18 February 2016 4:13:00 p.m. Rosen Matev <notifications@github.com> wrote:

[2016-02-18 18:40] rmatev commented on #204
In python globals are global to a module, but there is the ultimate hack (see http://stackoverflow.com/a/15959638/1630648)
[code]
However, this also does not work if given to StartupGPI.

[2016-02-18 20:42] egede commented on #204
@rmatev Pity that it doesn't work through the startupGPI. Wonder if anybody has an insight to why it doesn't and if there is a clever workaround. We can insert this in an upcoming release, but the next release is locked down so it is at least 2 weeks away.

[2016-02-19 08:29] rob-c commented on #204
Hi all,
The ```import sys;...``` line appears to work when included in the users ```~/.ganga.py``` file.

@egede  As to why this works but evaluating this through the StartupGPI failes I suspect this is due to some minor detail which needs investigating.
I think I'll have a fix for this in 6.1.17 as it should only be 2 or 3 lines then this could be added to the CERN site config.

[2016-02-19 10:11] egede commented on #203
@rob-c Seems good to me. I do not see any need to expose these methods to the user though.

[2016-02-19 11:15] egede commented on #204
@rob-c So for 6.1.17 we might indeed just insert the `DataObjectDescriptorCollection` dummy method directly into the class. For now we can advice on the `.ganga.py` method for fixing it. The problem with StartupGPI can be solved separately.

[2016-02-19 11:19] rob-c commented on #204
OK I'll try and get a PR for 6.1.17.
As for the StartupGPI problem I'm treating it as a low priority if other solutions exist for doing what it does.

[2016-02-19 14:00] milliams commented on #195
I've been seeing thread-related issues with stomp where many threads are hanging on
[code]
when I've been submitting from lots of threads at once. It's nothing super reproducible at the moment but it's worth keeping an eye one.

[2016-02-19 14:37] rob-c commented on #195
I'd like to get it to ignore the errors at least from the users, but a minor bug yes

[2016-02-23 15:24] egede opened #211 "Fix GUID of Gaudi output files uploaded to SE for LHCb"
If an output file (like a DST) is produced in LHCb outside the Grid environment, and subsequently upoloded to an SE, it gets assigned the wrong GUID and a subsequent Gaudi job can't read it. So the following workflow
1. Brunel job running on a batch system produce a DST
2. The output DST is declared a DiracFile and uploaded to an SE.
3. DaVinci job reading this DST directly from SE attempts to run

[2016-02-23 16:06] rob-c commented on #211
Would this be best fixed by changing the code such that the LHCb plugin modifies the DiracFile config to be managed by the worker nodes and have a short payload script perform the file upload just using the correct LHCbDirac commands?

[2016-02-23 16:15] drmarkwslater opened #212 "Issues found with 6.1.16 release candidate"
So after testing I've found the following problems. I believe these are probably covered in other issues but as regards getting 6.1.16 out ASAP, I want to discuss them in one place and from a known place!

1. Tasks doesn't persist the state of Transforms. This is a showstopper as if you create a task, set some transforms going, and restart Ganga, the transforms are reset to default ones even thoug

[2016-02-23 16:27] rob-c commented on #212
Do you mean develop as the rc for 6.1.16 or is there a pre somewhere? (apologies if I've missed an email)

[2016-02-23 16:28] egede commented on #211
In fact you need both. You also need to support

[code]

[2016-02-23 16:29] drmarkwslater commented on #212
I mean develop - I was being optimistic that this will basically be 6.1.16 :)

[2016-02-23 16:32] rob-c commented on #212
The copy method for Job also calls all of the ```__setstate__``` so is a bit of a pain from my experience.

I had a one line fix for this in the LHCb branch, I'm a bit busy until 16:00 but I'll see what I did then. I think I just marked an object as copyable in the schema as it made this problem go away allowing for it to be copied internally within ganga.

[2016-02-23 16:33] rob-c commented on #212
I thought tasks was being delayed until 6.1.17?

[2016-02-23 16:34] rob-c commented on #211
Ah ok. This could be a bit tricky but might be best done by overloading a Dirac command from within LHCb in a clever way.

[2016-02-23 16:36] rob-c commented on #212
@drmarkwslater does this problem exist after looking at #179 it might be fixed there.

[2016-02-23 16:37] drmarkwslater commented on #212
The problem was that `__copy__` wasn't getting called at all - the function lower down was which did nothing. As regards Tasks, if it was restricted to Tasks then OK, but this seems like quite a major issue that would hit us elsewhere. I'm happy for others to decide though.

[2016-02-23 16:37] drmarkwslater commented on #212
@rob-c Nope - #179 doesn't fix this problem.

[2016-02-23 16:41] rob-c commented on #212
ok, thanks for checking :)

[2016-02-23 16:45] milliams opened #213 "Proxy round-tripping is broken"
In latest develop
[code]
does not pass but it used to, even as recent as 6.1.14. This was broken I think in #163 (specifically 55d7098cdac079) where I pointed it out but didn't realise the extent of the change. It was presented then as a performance change but really we want to be careful about object identity breaking.

I think that for correctness and compatibility with previous version of Ganga

[2016-02-23 16:47] egede commented on #211
We could make a generic function in the GangaDirac package that can set the GUID before the file is uploaded. There it would just be a noop. In GangaLHCb we would then overload that function.

[2016-02-23 16:50] egede commented on #212
@drmarkwslater Yes, please do this. Do *not* fix directly in the development branch.

[2016-02-23 17:03] rob-c commented on #213
You're changing the proxy so the proxy is not identical. This was by design.

I'd worry if this was changing the object behind the scenes but the proxy if being created destroyed as per the earlier PR to cleanup the code.

Adding this back in again just to keep this assert causes us to add it as an exemption to the copy methods to avoid circular loops and other horrible things.

Is there a reason

[2016-02-23 17:15] egede commented on #213
@rob-c So what you say is that we need to make sure that

[code]
works?

[2016-02-23 17:28] drmarkwslater commented on #212
Don't worry - I wasn't going to :)

[2016-02-23 17:29] rob-c commented on #213
My comment was that I didn't expect it to work. Where is this assert used?
The users shouldn't be managing our own proxies.

As for considering that objects returned from methods which generate objects and wrap them I'm seeing some advantage to this allowing for people to run ```assert a is b``` when they get an item aka:

[code]

The above will at the moment fail unless we cache the proxy...

OK,

[2016-02-24 09:27] rob-c commented on #213
Fixed by #214

[2016-02-24 09:27] #213 closed

[2016-02-24 10:13] drmarkwslater opened #216 "Job.copy doesn't respect inputdata"
As mentioned in #212, inputdata isn't copied correctly when doing j.copy.

[2016-02-24 10:40] #216 closed

[2016-02-24 11:44] drmarkwslater opened #218 "Transforms in Tasks not loading status correctly"
As mentioned in #212 , if you create a Task with a Transform, set it running, quit Ganga and restart, the Transform status is reset to 'new'. Not completely sure why but it seems the status is not updated on load after the Transform object is created. Most other attributes seem to copy OK though. Note this currently breaks Tasks completely :cry:

[2016-02-24 11:45] egede commented on #212
This has all been allocated to other PRs.

[2016-02-24 11:45] #212 closed

[2016-02-24 11:47] egede commented on #211
Philippe Charpentier claims that the addFile method from LHCbDIRAC already does this. Some further debugging of the current behaviour required before anything else is done is required.

[2016-02-24 11:50] egede commented on #155
@rob-c Is this not solved now?

[2016-02-24 11:52] milliams commented on #155
I think last I checked, `~data` contained the backup of the data from before the new data was written (i.e. `data` moved to `~data`, new text written to `data`). If we want another step to overwrite `~data` with the new info then I *think* that makes sense.

[2016-02-24 11:54] egede commented on #164
@rob-c Is this fixed by other PRs?

[2016-02-24 11:55] egede commented on #109
@rob-c Closed by other PRs?

[2016-02-24 11:56] milliams commented on #164
I believe that this was fixed with @drmarkwslater's lock on `safe_save()`.

[2016-02-24 11:58] drmarkwslater commented on #155
Current order of events is (with ~nothing in between):

1. Write new data to data.new
2. Move old data to data~
3. Move data.new to data

i.e. data~ is a backup from the **previous** flush, not the one that is being written. I personally think this makes more sense in that if you have a corrupt flush you always have the previous one to go back to though I can see the argument for basically having

[2016-02-24 12:23] rob-c commented on #164
Nope, this was another issue which is that Ganga will half-load a job and save the half-loaded job over the bad XML which failed to load. This I don't believe has been addressed yet at all.

[2016-02-24 12:24] rob-c commented on #109
I think this has been closed along the way. However I'll be trying to look for how corruption is handled in a unittest in the near future by intentionally corrupting a repo as running some simple tests.

[2016-02-24 12:25] #109 closed

[2016-02-24 12:29] rob-c commented on #155
I think there is about 10 lines of code where ```data``` doesn't exist. It would be nice (just for sake of systems with potentially very slow file access) to get this down to 1 or 2 lines if possible I think.
I'm happy to not delay 6.1.16 on this but I think it's worth addressing by investigating if it's possible to overwrite a file in a copy then remove the .new afterwards.

[2016-02-24 12:32] rob-c commented on #211
I don't know off the top of my head what functions we're using. This may be possible to fix by simply changing the LHCbDirac command to point to the correct bit of code. (Or fix DiracFile to use the abstracted commands we define in Ganga)

[2016-02-24 12:47] drmarkwslater commented on #155
The code in question is:
[code]
So actually, excluding the try..except, there's very little going on between the two renames. I'd be happy to keep it like this actually.

[2016-02-24 13:03] rob-c commented on #155
Can we change the backup. If (for whatever reason) the ```.new``` doesn't exist I'd rather not be stuck missing the ```data``` file even if this should never happen.
(I've seen some problems with afs not reporting a file as being there when it is due to timeouts)

[2016-02-24 13:05] rob-c commented on #155
i.e. possibly something like:
[code]

[2016-02-24 15:06] alexanderrichards commented on #153
so regarding the trying to read the config from the directory I have tracked this down to the following line:
[Ganga.Runtime.bootstrap.py:628](https://github.com/ganga-devs/ganga/blob/develop/python/Ganga/Runtime/bootstrap.py#L628)

where we have:

[code]

It's been a while since I've looked at the bootstrap code but to me this looks like it's doing the wrong thing, namely filling what should be a

[2016-02-25 09:02] drmarkwslater opened #222 "project-ganga mailing list closed for external users"
Do we want to open it up to everyone or just point people to github issues instead?

[2016-02-25 09:49] alexanderrichards commented on #222
lets discuss this at the meeting today

[2016-02-25 09:50] egede commented on #222
@drmarkwslater The list is "Open, with owner/admin approval", which I give to anybody trying to subscribe that is not obviously a spammer. We might anyway want to change but that should depend on what replacement github can offer.

[2016-02-25 09:58] milliams commented on #153
It looks like the core reason for the change in behaviour is a change in how the `GANGA_CONFIG_PATH` config variable's default value has changed. It used to default to `None` but now it defaults to some directory. It should be a simple change but it needs a quick look through.

[2016-02-25 09:59] afortiorama commented on #222
Hi - I asked the question because the egroup is also clearly marked for LHCb and ATLAS, but currently I'm implementing a workflow for LSST. Also people from outside CERN don't seem to be keen to open a lightweight accounts and I think this means they need to be added manually but there maybe recipes for this.

[2016-02-25 10:51] egede commented on #222
@afortiorama As part of moving away from the CERN infrastructure and make Ganga more generic in all aspects, we will move towards a system where

- Questions can be asked as issues in ganga-devs on GitHub (just as this one).
- Announcements (releases, important messages) will be made via a new GitHub hosted front page of Ganga. Changes in this page can be followed via an RSS feed or via a Twitter

[2016-02-25 10:53] rob-c opened #223 "exportToGPI test bug"
As part of #192 I've discovered a few problems with the startup/stop ganga methods.

Basically I've discovered the problem that exported 'Objects' in the GPI should be replaced during a new instance during the ganga startup, but unfortunately they are not.

The result of this is that tests are inconsistently addressing objects which in some cases should have been destroyed (or attempted to be dest

[2016-02-25 10:59] afortiorama commented on #222
I think github is better. Maybe you can separate ganga-users from ganga-devs to avoid mixing real bugs or feature implementations discussions with users dilemmas. I've subscribed this but I receive all your developments posts which as a user I might not want to receive. On the other hand I'd probably would likely be interested in other users questions and solutions.

[2016-02-25 11:03] afortiorama commented on #222
in the meantime I'll post here my queues questions.

[2016-02-25 11:07] egede commented on #222
@afortiorama You are welcome to subscribe. However, I think you can also just post questions without following. I believe that you automatically go on the watch list for questions that you post yourself.

[2016-02-25 11:16] alexanderrichards commented on #222
correct, if your "Not Watching" a repo then you will only receive notifications if you are participating or if you are @mentioned

[2016-02-25 11:31] afortiorama commented on #222
I subscribed few weeks ago actually.

If I subscribe only my issues I don't get anybody elses which I might be interested in unless someone points me to it (or names me). It is a way to work. I guess that I can browse issues periodically to see if there is any interesting question.

[2016-02-25 11:33] afortiorama commented on #222
I changed my watching status.

[2016-02-25 12:06] alexanderrichards commented on #222
Unfortunately there is not an _easy_ way to have separate issue trackers for users and for developers.

We could have a separate repo called say ganga-devs/ganga-support which we could use as the user issue tracker. This might actually be a nice solution in a way as it would allow us to use an issue template to ensure that the user gives us information like the version of ganga etc that they are u

[2016-02-25 12:17] alexanderrichards commented on #222
You could even add shifters to a new support team which will let them monitor these issues but would mean that they couldn't change the code directly.

[2016-02-25 13:15] drmarkwslater commented on #222
I have to say I don't have particularly strong feelings so whatever people think :smile:

[2016-02-25 13:32] alexanderrichards commented on #222
thanks mark, I'll wait until I've heard back from a few more people before setting this up though because even though this would be simple enough to set up. I don't think we want to tell users to start using it only to then change our minds after a proper discussion.

[2016-02-25 14:18] alexanderrichards commented on #153
presumably the change from None to said default happened along with the introduction of this expandConfigPath function else you would get an exception in
[Ganga/Utility.Config.Config.py:L1036](https://github.com/ganga-devs/ganga/blob/develop/python/Ganga/Utility/Config/Config.py#L1036)

when trying to split the None:
[code]

So for those of you running within the ATLAS/LHCb environments, how does

[2016-02-25 14:22] rob-c commented on #153
The system config is a single fixed path but the config path relates to the plugins I think ```GangaDirac:GangaLHCb``` for instance which needs to be correctly fully expanded as we could have ```GangaDirac:GangaLHCb:~/myUserPlugin```

[2016-02-25 14:26] alexanderrichards commented on #153
right o, the solution then is presumably:

[code]

I'll put in a PR for this then. Thanks guys

[2016-02-25 14:28] alexanderrichards commented on #153
sorry ignore that, clearly as I mentioned earlier `self.options.config_path` is not `None` but a directory.

[2016-02-25 14:46] alexanderrichards commented on #153
right I believe that commit 231dc8ff1056c978e093893af10868df868b4860 fixes at least the trying to read the GangaRoot dir as a config file problem but I'll leave this open since there is still a lot of startup messages that we can remove

[2016-02-25 15:30] egede commented on #222
My feeling is that we put the cart in front of the horse here. Let us leave this for a months or so and see if we still think it is a good idea.

[2016-02-25 16:18] drmarkwslater commented on #155
I've got a proposed change in PR #228 which addresses this

[2016-02-26 09:43] milliams opened #229 "Job equality broken"
There is a test in the legacy suite (*JobCopyConstructor.gpi*) which looks like:
[code]
Naïvely I expected this to fail as things like the `id` would have changed but I checked the `Job`'s schema and it has `comparable=0` set on the `id`  (and some other items).

Looking back at previous results I see that this test was failing in 6.0.44, passing in 6.1.14, still passing in 6.1.13 and failing agai

[2016-02-26 10:14] rob-c commented on #229
This one has bugged me a lot in the past.
I think we need to take a look at what in the schema as to what are comparable attributes, I've no idea if the post-processor was designed to correctly pass an equality test or not.
There is already a fix for this in the Schema attribute isn't there some are never expected to be the same aka ```j.id``` so I would just opt to make the post-processor non com

[2016-02-26 10:43] rob-c opened #230 "prep.metadata issues again"
I thought these were behind us but I'm seeing some strange metadata issues in the prep repository again to do with preparing jobs.

This only appears to be related to the older test suite but is a bit concerning that this is coming back after being gone for a while.

This should be rarer in the newer testing suite however, I'd like to make sure users don't see this at all so some investigation is

[2016-02-26 12:57] egede commented on #229
j.postprocessor just contains a default MultiProcessor object in the test above. Not obvious to me why the postprocessors are not declared equal. I feel it is slightly dangerous just to declare the postprocessors non-comparable when we do not understand what the problem is.

[2016-02-26 12:59] rob-c commented on #229
This sounds like a bug in the postprocessor then which should be checked within this class, unless we suspect that the comparison of the schema is somehow broken in a deeper way. (Seems to work fine for most things)

[2016-02-26 13:00] milliams commented on #229
@egede I agree. I'd much rather make the code work in the way it should and then at a later time, perhaps reconsider the equality definition we want. I'll look into the `MultiProcessor` equality for the next release if possible (and port the appropriate test).

[2016-02-26 13:28] alexanderrichards commented on #229
:+1:

I totally agree with this. This is I think the _expected_ behaviour of a comparison between GangaObjects.

There is room for discussion however about what **all schema attributes** means then. i.e.  do we want to ignore `id` and have objects with similar non `comparable` attributes compare equal. Or do we want it to essentially refer to **all** schema attributes such that the above fails as

[2016-02-26 13:30] egede opened #232 "GaudiPython not using correct project."
For a GaudiPython job, it ignores the project that is defined in the 6.1.14 version. In 6.1.9 it works. The following test expose the problem

[code]
This seems related to e53dca5576040328cd80f4b557c8db1a6353d794.

[2016-02-26 13:34] egede commented on #232
A user can as a workaround do

[code]

[2016-02-26 13:42] rob-c commented on #232
I'm not seeing any references to changes of the ```appname``` in the above commit, where is the ```appname``` being modified?

[2016-02-26 13:43] rob-c commented on #232
This is sounding like a known bug in the Proxy which was fixed between then and now in handling the arguments being passed to the constructor.

[2016-02-26 13:44] rob-c commented on #232
Have you tried:
[code]

[2016-02-26 13:46] egede commented on #229
@alexanderrichards In terms of the expected behaviour, I actually think that we should indeed make all the properties (even the id agree). In that way, I would expect

[code]
This is about the future and does not explain if there is something odd going on at the moment. We also need to ensure that `j.copy()` and `Job(j)` result in the same behaviour.

[2016-02-26 13:48] egede commented on #232
@rob-c You are correct. The line I looked at that was deleted was indeed commented out already. So let us close when it is confirmed that this works in 6.1.16.

[2016-02-26 13:48] mvesteri commented on #232
I can confirm that Ulrik's workaround does the trick for now with 6.1.14

[2016-02-26 13:49] egede commented on #232
@mvesteri But please use the suggested workaround from Rob instead which is much cleaner.

[2016-02-26 13:52] rob-c commented on #229
The ```Job(j)``` and ```j.copy()``` is related to the handling of the arguments in the Proxy, and in a future commit (getting rid of the ```__constructor__``` in 6.1.18) the Proxy makes use of the ```copyFrom``` method when taking a single argument of the same type as the proxied class being generated.

[2016-02-26 13:53] mvesteri commented on #232
OK. Agree. Thanks.

[2016-02-26 13:53] alexanderrichards commented on #229
This is indeed about the future but It's important we should make sure that we are all clear what the expected behaviour should be otherwise we will repeat the same mistakes again and again.

I agree with this. But does this then render the `comparable` flag obsolete?

[2016-02-26 13:54] rob-c commented on #229
We can't render this flag obsolete without taking things like ```id``` out of the schema which doesn't exist in all objects.
We can remove it but then we need equality operators everywhere or to have numerous exceptions in the base class.

[2016-02-26 13:55] milliams commented on #229
@alexanderrichards Indeed it would render the `comparable` flag obsolete. This *feels* like the right thing to do but we need to be careful we're not breaking some assumption of we change this current behaviour.

[2016-02-26 13:56] rob-c commented on #229
Having the ```id``` agree means that we're handling the ```copy``` vs the ```deepcopy``` functions correctly which we aren't atm.
It would be nice to have the ```copy``` do what we expect and just return a reference but when we want to compare ```j1 == deepcopy(j1)``` we run into problems.

[2016-02-26 13:56] alexanderrichards commented on #229
I agree this _feels_ right to me as well

[2016-02-26 13:57] #232 closed

[2016-02-26 14:00] rob-c commented on #229
In the top example do we expect:
[code]
to be correct or do we still expect the copy method to perform a deep copy on job objects?

[2016-02-26 14:09] alexanderrichards commented on #229
since `j1` and `j2` in this example would have different `id` values we would expect this to fail however be careful about the _exact_ comparison that's going on `==` is not the same as `is`. The latter is the object comparison which would state that they are not the same object whilst the former would call the `__eq__` method to work out their value equivalence in this case not the same as their

[2016-02-26 14:17] milliams commented on #229
@drmarkwslater and I have been discussing the last few days and we agreed that in the GPI layer, `proxy_obj.copy()` should effectively do a `deepcopy` (with a few exceptions such as a `Job`'s `id` being increased).

In pure-Python land, `copy.copy()` should do a shallow copy and `copy.deepcopy()` should do a recursive deepcopy.

[2016-02-26 14:18] rob-c commented on #229
The equality operator handles non comparable schema attributes to make the equality check work when we perform a deepcopy so people can test if their job is configured in the same way.
Unless we're looking to modify the schema or handling of the schema in a big way surely this is handled by knowing if the attribute is non comparable?

This touches on the issue that 2 prepared Executbles aren't the

[2016-02-26 14:19] drmarkwslater commented on #229
I'm also of the opinion that `==` should mean that all schema attributes also satisfy `==`, thus rendering comparable obsolete (or essentially not allow comparable set to 0 in a GangaObject). However, there is something to be said about differences between proxy and non-proxy objects, i.e. are you doing this in the GPI or not which may have an impact.

And in fact @milliams just said what I was go

[2016-02-26 14:21] rob-c commented on #229
Should we be having a different ```__eq__``` behaviour in the proxy layer in this case.

The one in GangaObject should perform an exact equality check but the one in the Proxy layer knows to ignore certain objects in the comparison.

aka if we have a hidden internal attribute in 2 jobs which are the same to the user the user should expect that they both satisfy ```==```

[2016-02-26 14:24] alexanderrichards commented on #229
umm... I'm not sure that's what we are saying. I think your asking for trouble if you have `__eq__` doing different things in the Proxy layer (I may be wrong but it feels like it could be a disaster).

I think that what we are saying is that `__eq__` will always compare **all** schema attributes `==`. but that the `copy` method will produce a deepcopy in the proxy layer vs a shallow copy in the py

[2016-02-26 14:24] drmarkwslater commented on #229
This is true - it clouds the issue a little with Jobs as users obviously think jobs are different, but for an application that has a hidden attribute, it would be confusing for a user to compare 2 that as far as they are concerned are the same but are coming back as not equal. Tricky...

[2016-02-26 14:29] alexanderrichards commented on #229
hmm.. I see your point. What is done currently for `hidden` attributes? are they automatically `comparable=0` This is exactly why we should discuss what we want the behaviour to be **before** we go away and attempt to fix something.

[2016-02-26 14:29] rob-c commented on #229
The ```__eq__``` in the Proxy layer would allow for us to check for proxied vs non proxied checks which are bad:
aka:
for: ```myJob=Job(); myJob2=Job()``` (working in IPython land)

```myJob == stripProxy(myJob2)``` should throw an exception imo.
```stripProxy(myJob) == stripProxy(myJob2)``` should return false
```myJob == myJob2``` should return True if they're configured in the same way

[2016-02-26 14:29] milliams commented on #229
For clarity, there are three different ways to copy in Ganga:

1. `import copy; copy.copy(obj)` this copies the object but keeps all references intact below that. It is overridden by implementing `__copy__` in your class.
2. `import copy; copy.deepcopy(obj)` this clones every layer recursively.  It is overridden by implementing `__deepcopy__` in your class
3. `j = Job(); j.copy()` this is a Ganga-

[2016-02-26 14:30] egede commented on #229
@drmarkwslater I think we need to get an overview of what we actually use hidden attributes for.

[2016-02-26 14:31] rob-c commented on #229
This whole use of hidden attributes has come up before a few times and I think it would be a good thing to discuss in a meeting.

[2016-02-26 14:32] alexanderrichards commented on #229
agreed, This issue is getting long and involved, we should clearly discuss it at next weeks meeting

[2016-02-26 14:34] drmarkwslater commented on #229
Actually - do we fancy another face to face meet up? We've now got several major issues for discussion backed up and so it might be worth it...

[2016-02-26 14:35] rob-c commented on #229
@drmarkwslater That was what I had in mind tbh

[2016-02-26 14:37] alexanderrichards commented on #229
great idea, where ever it's decided to hold it, can we make sure there is a vidyo connection as I don't know if I will be funded to go :disappointed:

[2016-02-26 14:58] drmarkwslater commented on #229
Then that's a good argument to have a meeting at Imperial then :smile:

[2016-02-27 08:13] afortiorama opened #233 "ganga INFO messages"
Hi,

I was wondering if there is a way to quiet down the messages about the change of status. They tend to be a bit tedious when one runs more than a handful of jobs. They are also multiple lines per job

Ganga.GPIDev.Lib.Job               : INFO     job 245.3 status changed to "completing"
Ganga.GPIDev.Lib.Job               : INFO     Job 245.3 Running PostProcessor hook
Ganga.GPIDev.Lib.Job

[2016-02-27 08:44] afortiorama opened #234 "using queues and jobs remaining in new status"
I've added this line to the code

Ganga.GPI.queues.add(job.submit)

as suggested in few places in particular here [1]. There is a loop that creates the jobs and each job gets added to the queue.

for tile_file in tile_files:
        j.add_meds(tile_file)
    return j

for each tile_file a j.add_meds creates a job with 5 subjobs and adds the job.submit command to the queue.

However when I try to r

[2016-02-27 08:50] afortiorama commented on #222
Another problem of naming people is that one has to know not only that they are on github but also their user name. Auto completion on this project brings only your names up. You can certainly wait to see how many people will flock here but from the user perspective it makes things slightly more difficult.

[2016-02-27 09:21] afortiorama opened #235 "Arrows and segfault and concurrent live sessions"
I often use the arrows to go up and down the history of commands. Sometimes I click on the down arrow one time too many and ganga segfaults. I then have to wait few tenths of seconds to restart it.

I tried with python and python shell doesn't crash for the extra clicks. This gives really the impression of fragility to be honest.

Also when one mistakenly starts more than one ganga session, it wou

[2016-02-27 20:40] afortiorama commented on #233
I guess

disableMonitoring()

will do it.

[2016-02-28 19:34] rob-c commented on #233
@afortiorama There is no way to reduce the verbosity other than to change the logging level. Although I can't remember if there is a level higher than info.
Trying to intercept and summarize these tasks requires a major re-write of the logging infrastructure which isn't on our todo list atm.
The ```disableMonitoring()``` disables the monitoring of the jobs and is probably not what you want.

[2016-02-28 19:37] rob-c commented on #234
@afortiorama You mention ```Ganga.GPI.queues.add``` are you using the ```import ganga``` method of using Ganga or using it as part of an interactive IPython session from launching ```ganga``` from your shell?
I would advise trying to submit your jobs again using ganga 6.1.16 if possible which is a release which has had a lot of stability and debug changes.

[2016-02-28 19:52] rob-c commented on #235
Concurrent live sessions are not supported.
There are caveats around this but to first order concurrent sessions aren't supported.
You get a line at the top warning you in red that another session is running. Do you not see this or are you proposing we make some modifications to this?

This will likely not change in the near future as we make extensive use of an XML repository to store job informa

[2016-02-29 11:22] rob-c commented on #233
Do any of the other ganga developers have any input on this?

[2016-02-29 11:25] rob-c commented on #234
@afortiorama  The particular problem you're seeing here (I strongly suspect) is fixed in 6.1.16 if you could retry with this version it could prove useful. Thanks, Rob

[2016-02-29 11:26] rob-c commented on #235
@afortiorama What sort of system are you seeing IPython crashes on?

[2016-02-29 11:27] afortiorama commented on #235
SL6 I'm using ganga 6.1.2.

[2016-02-29 11:28] alexanderrichards commented on #233
I agree with @rob-c `disableMonitoring()` will reduce the output you see but at the expense of not actually monitoring your jobs which is probably not what you need.

levels warning and error are above/below (whichever way you look at it) info so you could only accept Job logs with one of these levels if you like. This would at least work as a solution but you would then have to check the jobs tab

[2016-02-29 11:30] afortiorama commented on #235
About the previous comment those sort of messages happen when I try to get out of the second ganga shell. I don't want concurrent shells. I'm just suggesting that ganga shouldn't even start if it detects a live version (not a dead one) or should have the ability to still it. As it is I often end up doing a kill <proc_id> rather than waiting for ganga to exit several minutes later.

[2016-02-29 11:31] rob-c commented on #233
@alexanderrichards I would fight against this becoming a debug statement (for now) as we have had errors where people are exiting jobs taking a long time to complete due to running post-processors which deal with things such as moving GangaFile objects around at the end of jobs (potentially >100Mb of file transfers over unknown connection speeds)

[2016-02-29 11:35] rob-c commented on #235
@afortiorama I think you bring up a good point and I'll open a separate issue to discuss this particular problem in more detail.

I'd like to keep this issue open for a while so that all everyone is aware of ```prep.metadata``` like issues that we do see from time to time.

I know it's a recurring theme but if you can try the 6.1.16 release addresses several concurrency problems. As well as thread

[2016-02-29 11:41] rob-c opened #236 "Multiple Ganga sessions"
Hi all,

As per #235 I think it's worth bringing up multiple concurrent Ganga sessions.

I would like to propose that if Ganga finds an active session lock that it should by default disable the monitoring thread as well as informing the user. This should prevent some level of repository clashes that we see if someone forgets and launches 2 versions of ganga in parallel.

I think a short message in

[2016-02-29 11:47] afortiorama commented on #233
@alexanderrichards disableMonitoring is definitely not what I want. I tried and it stops updating everything. Are you suggesting I should set Ganga.Utility.logging ERROR in .gangarc?

[2016-02-29 11:49] alexanderrichards commented on #236
sounds very sensible to me. We already tell everyone if they are starting a extra session to disable the monitoring, it makes sense for us to do it for them.

We will need to make sure that we don't end up in (or at least correctly handle) the situation where there is a rogue left over lock even though no sessions are active. I guess this is hand in hand with what you mention:

such that we can co

[2016-02-29 11:55] afortiorama commented on #233
I set Ganga.GPIDev = ERROR this seems to remove the jobs info.

[2016-02-29 11:55] alexanderrichards commented on #233
I was suggesting that you set the specific Job Logger to Error or Warning level by adding the following to your `~/.gangarc`

[code]

[2016-02-29 11:55] milliams commented on #236
I agree in principle but I'd argue that starting with monitoring disabled is not the same as starting in read-only mode. Without monitoring you can still add and remove jobs etc.

I would personally take a stronger stance and refuse to start if there is another instance running and give the user the information they need to check whether it is true (i.e. the PID of the other instance, perhaps whic

[2016-02-29 11:56] alexanderrichards commented on #233
Since it's the info level messages that you want to reduce I would recommend setting the level to `WARNING` rather than `ERROR` as you will otherwise miss any actual warnings that you might need to be aware of

[2016-02-29 11:57] afortiorama commented on #233
I tried also your recipe and it works too. It still leaves some info but not as much.

[2016-02-29 12:03] rob-c commented on #236
I said _read-only_ not `read-only` as it's a matter of perspective, I was trying to make it clear what's happening.

I think we need to address the issue of stale lock files separately.
Currently the timeout for a lockfile is set a little high. But for good reasons (which may or may not be relevant anymore).
I would maybe suggest advertising a command to force checking of the lockfiles from an int

[2016-02-29 12:03] alexanderrichards commented on #236
indeed read-only may have been a bit misleading, it would essentially be a more formal way of running the current (not-really) recommended way of having multiple sessions. Basically no monitoring support. The warning would probably need to be along these lines.

Whether or not we want to make this a stronger "No multiple sessions" I don't really mind but this suggestion would be good as a minimum

[2016-02-29 12:07] alexanderrichards commented on #233
This is because it has only raised the level of the Job object rather than all of the GPI objects

[2016-02-29 14:36] rob-c opened #237 "Unittests now need a grid certificate for non gridified tests"
When I try to run the unittests on the latest develop I'm seeing that I need to provide my password to my grid certificate if I haven't make a valid proxy.

This appears as a minor issue as I can generate a proxy and then this goes away but it means that the unitests aren't starting up and getting the LHCb environment correctly defined for them.

I have correctly run ```SetupProject ganga xxx``` a

[2016-02-29 14:42] rob-c commented on #237
This is to do with ```cmd.append('python/Ganga/Runtime')``` in ```setup.py``` and concerns me that some form of environment is being setup and possibly associated with the tests which isn't what we want.

I'm going to do some further digging to work out what this code is doing.

[2016-02-29 16:37] milliams commented on #162
I've started work on a separate work so that we can easily set up isolated environments for running, e.g. LHCb tests on. It's also a slightly more powerful VM so it should slightly reduce the hanging tests we see occasionally.

[2016-02-29 16:43] drmarkwslater commented on #236
I think there's an argument to be made for NOT starting Ganga if there are multiple (active) sessions detected, but then there's also an argument for starting Ganga but with monitoring disabled (which I actually thought was what happened at the moment but I guess I'm wrong). Maybe have a config option so users who want concurrent sessions can have them but those that don't have some protection in

[2016-02-29 17:13] rob-c commented on #236
The advice for a long time has been that ```ganga``` on one machine and ```ganga --no-mon``` on another machine is relatively safe for lxplus users (read LHCb).
I'd rather not suddenly change this as there would likely be strong backlash from some quarters.

[2016-02-29 18:07] egede opened #239 "ArgSplitter breaks ordering"
The following code in release 6.1.16

[code]
produces the output
[code]
where the numbers are not ordered. As it is supposed to behave like a list, I regards this as a bug.

[2016-02-29 18:19] rob-c commented on #239
I can reproduce this at least. Interesting. This could be due to the recursive stripping, in the proxy. The setter in the GangaObject, or due to the fact that a GangaList is used behind the scenes.

At least we can rule out any interaction with the repository here :)

[2016-02-29 18:28] rob-c commented on #239
OK, simple testing indicates the input is mangled by the Proxy layer before it gets to the GangaObject layer. I'll do some more digging tomorrow at some point.

[2016-02-29 19:01] afortiorama opened #240 "Cannot set destination in the dirac backend"
But only with a particular site. I have two problems at the moment

1) When I try to set the destination to LCG.UKI-LT2-Brunel.uk in an existing job in new state it doesn't want to know about it.

jobs(874).backend.settings['Destination'] = "LCG.UKI-LT2-Brunel.uk"

I get the error below. However when I submit with dirac-wms-job-submit setting the value in the JDL LCG.UKI-LT2-Brunel.uk is recognise

[2016-02-29 19:57] afortiorama commented on #234
6.1.16 is not in /cvmfs yet.

I start ganga and then use `run script.py` to run the scripts inside the interactive ipython session. in the scripts I do `import Ganga.GPI`

[2016-02-29 20:52] rob-c commented on #240
@afortiorama This could be due to a Dirac config issue.
Are you using the same Dirac backend version with Ganga as you are for the ```dirac-wms-job-submit```?

[2016-02-29 20:52] rob-c commented on #234
OK, @drmarkwslater Would you be able to look at making 6.1.16 available on cvmfs?

@afortiorama Would you be able to try using the latest version on cvmfs, if 6.1.13 is there, this release is known to have a lot fewer issues.

Until then if you're comfortable using python you could try:
```pip install ganga --user```  which should grab and setup a vanilla instance of ganga 6.1.16 if that will meet

[2016-02-29 21:07] afortiorama commented on #240
@rob-c yes, it's the same version.

[2016-02-29 21:49] rob-c commented on #240
@afortiorama In that case I'll need to extract the exact command used to submit the job within ganga and see if I can get you to try to run it from outside of ganga to try and determine where the problem could be.

[2016-03-01 09:12] drmarkwslater commented on #234
@afortiorama @rob-c 6.1.16 is on CVMFS now but you may need to wait an hour or two until the CVMFS update picks it up. Let me know if there are any problems but this should be a lot more stable.

[2016-03-01 09:58] milliams opened #242 "Investigate possible removal of "filter" subsystem"
In Ganga we have a system called 'filter' ([Filters.py](https://github.com/ganga-devs/ganga/blob/develop/python/Ganga/GPIDev/Base/Filters.py)) which seem to be a way of injecting code before assignments happen on schema items.

For example, setting
[code]
will have a filter (defined in IPostProcessors.py) intercede, and wrap the `FileChecker` object in a `MultiPostProcessor` so that doing
[code]
g

[2016-03-01 11:04] rob-c commented on #242
In 2 words, Yes Please!

The filters are a lot of complex code for a few minor systems which are in my opinion not worth the overhead.
As you mention there are already custom setters widely in use so I think it makes sense to use these functions as it's much clearer what is going on.

I would like to see getting rid of 'on attribute set' hooks over some sane setter methods if possible. This is onl

[2016-03-01 11:58] #239 closed

[2016-03-01 12:57] milliams opened #245 "Understand bootstrap process"
I'm starting to think about being able to use the `ganga` module to run tests (at least some of them). For this purpose we need to be sure exactly what it should be providing or doing. As far as I can tell there are 3 (or 5) main tasks that it needs to do and which we should account for in little ganga. They are (in no particular order):
1. Load all plugin objects into the GPI as well as things li

[2016-03-01 13:03] rob-c commented on #245
Take a look at little ganga from https://github.com/ganga-devs/ganga/pull/202 It has a working repo implementation. (of a sort)

I would still like to see a ```loadRepositories``` and ```shutdownRepositories``` function which abstracts the repo logic from both ```ganga``` and the ```bootstrap.py```

[2016-03-01 13:05] rob-c commented on #245
I think we can afford to spend the time to look at how the config files are loaded. They _work_ in #202 but the loading of the config-files/plugins is still a bit fragile and care needs to be taken.

[2016-03-01 13:24] rob-c commented on #245
As far as I know ```ganga``` registers the shutdown hooks correctly. The difficulty is when to run them in the unittests and to deal with the bringing up/shutting down of any Ganga services with this.

I don't think we can hope to have a ```setUp``` which looks just like ```from ganga import *``` I think we'll still need to have some logic to do things like re-generate repositories when the locati

[2016-03-01 14:19] alexanderrichards commented on #242
this is what ive done in the rewrite so it makes sense to me

[2016-03-01 14:37] milliams commented on #162
I've also been looking into running our tests using little ganga and pytest. As an example, a full working example can be seen at [this gist](https://gist.github.com/milliams/43bb69cf7f18dc398526) where the first file defines the test fixtures (one which makes little ganga available and another which provides a monitoring loop) and the second file is the complete test. Obviously it is slightly sim

[2016-03-01 15:18] rob-c commented on #199
@joezuntz 6.1.16 is now available on cvmfs and ```pip install``` if you're able to try this version.

[2016-03-01 15:27] drmarkwslater opened #246 "Calling select on jobs.subjobs fails"
It gives the following traceback:
[code]

[2016-03-01 15:29] rob-c commented on #246
Ah... ugly. OK, there should be a relatively quick fix for this, but thanks for spotting it :)

[2016-03-01 15:54] olupton opened #247 "Many "Has not updated the heartbeat in 300s!! It's possibly dead" warnings"
Hi,

This is only minor, but I'm using the current bugfix/LHCbfixes branch (I need fixes to Tasks that haven't been released...) and I see the following warning rather frequently, particularly when I have a "large" (O(100s)) number of running Dirac jobs:
[code]

Let me know if any other information would be helpful.

Cheers, Olli

[2016-03-01 15:59] rob-c commented on #247
Hi Olli,
Are you observing either the Dirac monitoring lockup or any other job processes (tasks, queues) freeze?

If everything is running as expected this could just be that the timeout of 300sec if a bit too short due to long tasks running as part of the backend code.

I think I'll expand the debug information to contain more than ```_checkBackend``` as it's not certain which backend has locked

[2016-03-01 16:02] olupton commented on #247
Hi Rob,

I haven't noticed any significant freezes; just a lot of warnings.

The ganga session in question doesn't have any jobs that don't use the Dirac backend.

Cheers, Olli

[2016-03-01 16:03] rob-c commented on #247
OK, in that case I'll work on improving the debugging later today as a start on this.

[2016-03-01 16:08] milliams commented on #247
I've got some ideas for better heuristics on the monitoring heartbeat such as checking the thread current stack and seeing if it's hanging on the same line for a long period. This won't help in all cases but it will help reduce the false-positives.

[2016-03-01 16:11] egede commented on #247
@rob-c Can you remind @olupton which config parameter can be used to extend the 300 s. At least in that way the verbosity of the warnings can be turned down.

[2016-03-01 16:20] rob-c commented on #247
@milliams If you're certain that the heuristics don't get too complicated/require too much time to develop/debug I'd say great. But I'm more keen to have something fool proof here that works or doesn't.

@olupton Increasing ```HeartBeatTimeOut``` in .gangarc you can push back most of these annoying messages. https://github.com/ganga-devs/ganga/blob/develop/python/Ganga/Core/MonitoringComponent/Loc

[2016-03-01 22:41] olupton commented on #247
@rob-c Thanks; I tried doubling it (to 600s) and I still see the warning. It's hard to judge whether or not it is appearing less frequently.

I'm not sure if it's relevant, but the jobs that are running in that Ganga session are simple PyROOT ones, so if the "heartbeat" is something that comes from Gaudi/some application framework then it might really not be being updated.

[2016-03-01 23:16] rob-c commented on #247
This could well be from a non-Dirac backend, I'm struggling to reproduce this locally from basic testing, I'll try more tomorrow.

[2016-03-01 23:17] rob-c commented on #247
Do you know does this turn up if you're just submitting lots of jobs on the tasks system possibly?

[2016-03-01 23:28] olupton commented on #247
There aren't any non-Dirac jobs in the repository, that I'm sure of.

At the moment I am seeing the warnings with O(40) 20-subjob jobs running. A new warning appears every O(10s). One thing that I hadn't noticed before is that they're all exactly the same (currently ```MonitoringWorker_0_1456871140871```); I had thought the number was changing but this seems not to be the case.

[2016-03-02 06:24] alexpearce opened #254 "Problem running postprocessor for Grid job, stuck in ‘Completing’"
I have some jobs, each with a couple of hundred subjobs, each of those running DaVinci on the Dirac backend. I'm using the HEAD that was [deployed on lxplus yesterday](https://github.com/ganga-devs/ganga/pull/249#issuecomment-190850270).

Every single subjobs fails to transition from Completing to Completing, which I guess are due to error messages such as the following:

[code]

(Note that I've o

[2016-03-02 10:04] alexanderrichards commented on #254
the job.postprocessors attribute I think should contain a list of postprocessor objects but for whatever reason in your setup it has a `GangaList`. The postprocessors will have an execute method whereas the `GangaList` will not hence this problem I think.
---
@rob-c I vaguely recall that some change went in regarding the postprocessors. Is it possible that this was broken by the recent changes?

[2016-03-02 10:09] rob-c commented on #254
@alexanderrichards The postprocessors are causing some problems atm, and, frankly have always been a little bit fragile.
I think I'll take a loot at how they're initialized as I suspect that there are problems with the default not being an empty MultiPostProcessor. (I'm unsure the reasoning behind this).

[2016-03-02 10:11] alexpearce commented on #254
Assuming that, for now, I'm happy not to have this particular postprocessr (`Notifier`), is there a way I can modify the jobs to remove it, such that they can transition to Completed?

[2016-03-02 10:12] drmarkwslater commented on #254
Not sure how/where this has changed but looking above, `j.postprocessors` should **always** be of type `MultiPostProcessor` (at least, the _impl should) and then gets picked up by the filtering system on assignment. This was done to allow both the following to work:
[code]

Looking at the stack trace, it could be that the filtering is returning a list when it used to return the actual MPP and that

[2016-03-02 10:16] rob-c commented on #254
@drmarkwslater This looks to be entirely behind the proxy though so I wouldn't expect the filter system to ever get involved. (maybe this is incorrect but this I suspect is the problem)

[2016-03-02 10:17] alexanderrichards commented on #254
I assume that the simplest way would be to blank your postprocessors attribute.

[code]

[2016-03-02 10:18] rob-c commented on #254
If we expect it to always be a MultiPostProcessor then I would argue it should always be one from the start, changing the type of the object leads to problems like this were we at least need to check for the type.

@alexpearce You may need to use:
[code]
to be able to modify already running jobs.

[2016-03-02 10:18] alexanderrichards commented on #254
We are really dredging my memory now but I **thought** that the filters were invoked even behind the proxy layer. (Happy to be corrected :wink:)

[2016-03-02 10:24] drmarkwslater commented on #254
@alexpearce Just to confirm, could you do:
[code]
for one of these jobs and let us know what it returns? I suspect they will be MPP objects in which case, I think we can say it's the filters that are running behind the proxy and the changes to the proxy in #241 have changed this somehow (that's assuming it was working in 6.1.16 of course :smile:)

[2016-03-02 10:43] rob-c commented on #254
@alexanderrichards You may be correct that they used to be but I'm not certain where. Maybe in the setter but in that case so much has changed I wouldn't rely on it any more. Certainly not in the getter.

[2016-03-02 11:00] rob-c commented on #254
@alexpearce Can you confirm this was working on 6.1.16 or prior? Thanks

[2016-03-02 11:57] #246 closed

[2016-03-02 14:42] afortiorama commented on #240
This was a problem in the dirac server which caused different behaviour of the dirac API and the dirac command line. You can close the ticket.

[2016-03-02 14:44] #240 closed

[2016-03-02 15:10] #125 closed

[2016-03-02 15:54] drmarkwslater opened #256 "Suppress repetitive warning messages"
We have had a couple of times recently (monitoring heartbeat and deprecation of SandboxFile, etc.) where Ganga can spew out many copies of the same warning/info message. It would be nice for repetitive messages can be removed, possibly through the basic python logger rather than GangaLogger as we want to get rid of this?

[2016-03-02 16:02] drmarkwslater commented on #256
A quick look at the python logger seems to indicate just creating our own filter that stops printing messages after a certain number or whatever should work well. We'd have to be careful about the implementation though to ensure we don't remove required messages.

[2016-03-02 16:25] afortiorama commented on #234
This works with 6.1.16 :+1:

[code]
also thanks for the ganga tip it makes the code much much lighter.

[2016-03-02 16:27] afortiorama commented on #234
only problem with 6.1.16 so far is that it takes more than 1 minute to exit. Other versions were much faster.

[2016-03-02 17:01] afortiorama commented on #234
I submitted 1000 jobs with 5 subjobs each

1 of the worker seems dead

[code]
what happens when a worker dies? Does it bring all the jobs submissions with it?

[2016-03-02 18:09] alexpearce commented on #254
@rob-c Yes, I've heard subjobs completing with no problems on 6.1.13.

[2016-03-02 19:09] rob-c opened #257 "Exiting ganga causes jobs to be loaded and flushed"
Jobs are being loaded and flushed as part of the exit in 6.1.16 (and develop) this is caused by some logic being broken to do with the job indexes (I suspect in updating the master index).

The logic should be that the master index is updated using knowledge of only fully loaded jobs to update the information stored in various places.

I'll take a look at this and try to get a small fix in for 6.1

[2016-03-02 19:10] rob-c commented on #256
How many features in the current logging system do we want to keep/drop? I'm very keen to replace the getLogger with 20-30 lines of code at max and not have any other code (if possible)

[2016-03-02 19:18] rob-c commented on #234
@afortiorama This is suspected to be a spurious error in 6.1.16 we're currently investigating.
It only effects job monitoring aka jobs moving from ```submitted``` -> ```running``` -> ...  As long as your jobs are reaching a ```completed``` state then we expect that this should be working correctly.
FYI: https://github.com/ganga-devs/ganga/issues/247

[2016-03-02 20:25] rob-c commented on #254
@alexpearce Could you provide a script used to create the job and/or ```report(myJob)```. I'll try playing around with some examples tomorrow but knowing exactly how the job is configured could help debugging :) Thanks, Rob

[2016-03-02 20:59] egede commented on #257
@rob-c Yes, this sounds like a serious issue. For somebody with 20 k jobs in the repository this could be a killer. It points to something else that we are not have tests for.

[2016-03-02 22:27] rob-c commented on #257
Actually writing a test for this shouldn't be too difficult. It's more difficult to understand/test the logic of the XMLRepository, there's a lot of code there not well understood and has some quirks.

[2016-03-03 08:00] rmatev commented on #256
I think the suppression has to be requested explicitly. I am not sure if / how this can be done, but from a quick look
`logger.warning("something is deprecated", extra={'maxprint':10})`
might be feasible.

[2016-03-03 08:40] afortiorama commented on #234
Hi,

this morning all the jobs reverted to new with and Localhost
[code]
with the jobs info being empty
[code]
but dirac-script.py is there

[code]

[2016-03-03 08:48] drmarkwslater commented on #234
This is very strange and we haven't seen this before. Before you do anything, could you copy your gangadir, preferably *before* exiting ganga?  It looks like the jobs weren't loaded correctly on startup...

[2016-03-03 08:50] egede commented on #234
@drmarkwslater This looks similar to the problem reported on the LHCb distributed-analysis mailing list yesterday by Steve Blusk.

[2016-03-03 08:59] rob-c commented on #83
Recently added a test for SJ loading

[2016-03-03 08:59] #83 closed

[2016-03-03 09:01] rob-c commented on #234
This has likely been exacerbated by #164. Hopefully this is just a corrupt index displaying bad information on display. (still)
@afortiorama If you load a job using ```jobs(2035)``` does it state that it's a Localhost job still?

[2016-03-03 09:04] egede commented on #234
@rob-c If this is caused by #164 then it seems odd that it appeared in the same way for two users within a day but not for weeks beforehand.

[2016-03-03 09:06] rob-c opened #258 "New test needed for XML Repository"
I keep getting bitten time and time again trying to load corrupt information in some form from the XML repo.

Yes the situation is _better_ but it's far from perfect.

It would be extremely useful to have a test which constructs known bad jobs (job configurations) including but not limited to:

 1. Empty Index file
 2. Missing Index file
 3. Corrupt ```data``` file
 4. Missing ```data``` file

Thi

[2016-03-03 09:09] afortiorama commented on #234
@drmarkwslater  The session I had yesterday died because I closed my laptop. So far it hasn't been a problem. All the previous job batches survived that. Today I have already closed ganga to see if a "restart" would change things. gangadir is quite big.

@rob-c I put the jobs(jobid) info in the previous post. It's empty.

[2016-03-03 09:10] rob-c commented on #234
@egede I said _exacerbated_ by #164

We _may_ have loaded a bad job at some point or something has gone wrong in loading a job (other bug we __need__ to track down) but once we've loaded a bad job into memory ganga (on exit) will flush the job as it has been loaded to disk.

To be clear the consequence of #164 is that if you fail to fully load a job but ganga thinks it loaded (somehow) Ganga __WIL

[2016-03-03 09:11] rob-c commented on #234
...hmm the job claims it was created at 4:45 (roughly) yesterday but has failed to update.

Is this the consequence of the new Rlock mechanism then I worry.

[2016-03-03 09:11] afortiorama commented on #234
This is not 1 job. This is 1050 jobs with their 5300 subjobs.

[2016-03-03 09:12] egede commented on #234
@rob-c Thanks for clarification. We have made some changes that means that we are less aggressive about writing to disk (so in that way more sensitive to sessions that are killed abruptly). Could that be a cause?

[2016-03-03 09:13] milliams commented on #234
If the session was closed improperly then it's very likely that the information was not saved to disk. The latest information would then be from when the job was first created which matches what we are seeing here.

[2016-03-03 09:15] rob-c commented on #234
I worry that it could yes, but unless the dirty write mechanism has been broken I thought we were still flushing to disk approximately once every 30sec.
If we're not doing this then we need to fix this __asap!__ as this ability has either been removed or broken at the repo level.
@milliams Can you comment about the recent changes?

I'll check. Basically if you submit ~1k jobs you should see ganga

[2016-03-03 09:15] rob-c commented on #234
@milliams I would have thought the latest information would be when the job has changed status to 'submitted' which used to always force a flush.

[2016-03-03 09:17] rob-c commented on #258
From a unittest like this it should be possible to build one that checks for consistency of the ```data``` file at a very high level to make sure changes are flushed to disk.

[2016-03-03 09:17] milliams commented on #234
As we discussed in the meeting a few weeks back, we are not autosaving every 30 seconds any more (and in fact weren't *actually* doing so previously). I have a fix incoming which will force a flush of a job if the status changes.

[2016-03-03 09:18] rob-c commented on #234
@milliams I observed this at least in 6.1.14 as working so I'm concerned that we have a disagreement about this. Lets discuss this in the meeting

[2016-03-03 09:20] afortiorama commented on #234
I don't understand why the jobs lost the whole information though. Even a job in new state should survive so that it can be resubmitted. In the past week when the jobs failed submission for some reason (and I submitted ~600 jobs with 5 subjobs each they were still created in new state with all the information and I could submit them again. Now I can't. So I have only 3439 jobs on dirac and no way

[2016-03-03 09:37] rob-c commented on #258
In addition we __will__ need a test to be sure that a flush operation has happened whilst ganga is live

[2016-03-03 09:41] rob-c opened #260 "We are NOT flushing as expected"
We are NOT flushing to disk upon job state transitions, or as far as I can tell at all until shutdown.

I've tested this by submitting jobs with monitoring on/off and have hit ```Ctrl+Z``` with a live ganga session to examine the ```data``` file. Aside from the forced flush on the job creating we have flushed no knowledge of the job to disk.
(even after 30sec as far as I can tell)

[2016-03-03 09:44] rob-c commented on #260
As an aside doing the following exposes some fragility which needs examining:

[code]
This exposes lockfiles being destroyed by the version of ganga which is supposed to look after it. (or discovers a file never exited upon inspection).

[2016-03-03 09:58] alexanderrichards commented on #256
@drmarkwslater I agree, using a standard python log Filter looks like a possible solution. This in combination with what @rmatev proposes would even allow different max numbr of prints for different log messages. As I understand it the `extra` keyword arg will populate the `__dict__` of the actual logrecord object which I guess we could then filter on.

[2016-03-03 10:56] #223 closed

[2016-03-03 10:58] egede commented on #115
Fixed by other monitoring fixes.

[2016-03-03 10:58] #115 closed

[2016-03-03 11:47] drmarkwslater commented on #256
The question would then just be do we filter and limit **all** messages or just ones that send the appropriate `maxprint` parameter? Anyone got any thoughts either way?

[2016-03-03 11:50] alexanderrichards commented on #256
No strong feelings either way. Using the `maxprint` give your more flexibility but you will have to remember to include it for all log calls where you want it so either way is fine by me.

[2016-03-03 11:53] egede commented on #256
@drmarkwslater @alexanderrichards I do not like the solution with `maxprint`. I think it is better if we allow this to be controlled in the same way as we do for the logging levels. Something along the lines of

[code]

[2016-03-03 12:11] rmatev commented on #256
I am not a big fan of suppressing messages globally, rather the problem giving rise to them should be fixed. For instance, you always want to get the INFO messages from job submission, etc.

However, for deprecation warnings, it is fine and desired not to repeat it to the user hundreds of times. It sounds that what is really needed there is `logger.deprecated("something is deprecated")`

For bugs

[2016-03-03 13:03] alexanderrichards commented on #256
@egede
Sounds fine to me, since I don't have strong feelings either way, I'm happy as long as the desired outcome is achieved.

[2016-03-04 10:38] graipher opened #270 "Unable to add postprocessors using append"
**'GangaList' object has no attribute 'order'**

Ways to reproduce error:
[code]
which dies:

[code]

[2016-03-04 10:47] drmarkwslater commented on #270
We'll try to get this in for 6.1.18 (6.1.17 is ~frozen at the moment). Thanks for reporting!

[2016-03-04 11:10] rob-c opened #271 "Submitting jobs with tasks deadlocks"
Following on work from #179 When I construct a task which will submit an LHCb job my job gets as far as 'submitting' and then hangs.

This has been from an __extremely__ __minimal__ patchset which doesn't touch anything to do with the repository or GangaObject.

The job gets to a prepare state and then when I attempt to run ```jobs(1124)``` it hangs forever.

I've not even the foggiest how to go d

[2016-03-04 11:12] drmarkwslater commented on #271
The new changes @milliams has got in coming will hopefully reduce this but I'm not surprised that we may get deadlocks with Tasks as I doubt this was ever designed to be thread safe. I agree Tasks is probably off for 6.1.17 but as soon as that's out I'll start working through it and fixing any remaining bugs/deadlocks.

[2016-03-04 11:21] rob-c commented on #271
If there is some improvement in lock handling in Core I'd still like to get the LHCb changes in for 6.1.17.

I've been using http://code.activestate.com/recipes/577334-how-to-debug-deadlocked-multi-threaded-programs/

which gives some quite interesting code. I'm strongly thinking of shipping it as an external and integrating this into the heartbeat code as it gives a nice overview of what the vari

[2016-03-04 11:29] milliams commented on #271
I've been using an enhanced version of that code for a few weeks now and it's very useful. I can put it as a utility function or as part of GangaTest?

[2016-03-04 11:33] rob-c commented on #271
Yes please, although maybe not for 6.1.17, It would be nice if we could turn on/off this ability for users if we add it.

[2016-03-04 11:36] milliams commented on #271
Yes, it's something I would consider turning on always for tests but users probably shouldn't need it. Perhaps integrate it into `report` if people are seeing monitoring threads hanging?

[2016-03-04 11:38] rob-c commented on #271
It would be very nice to have a snapshot of the current status of the threads in there as well yes. If you've got the code ready could you open an issue or PR at some point to look into adding the utility :)

[2016-03-04 12:37] #257 closed

[2016-03-04 12:45] drmarkwslater commented on #247
Do we want to close this because of #269 being merged?

[2016-03-04 13:26] olupton commented on #247
Just to say that I updated to the head of the bugfix/LHCbfixes branch a few minutes ago, and I am still seeing the error (probably because my config explicitly sets the timeout), but the error has changed a bit:

[code]

[2016-03-04 13:28] drmarkwslater commented on #247
Yes indeed - if you're specifically setting the timeout then you won't have had these messages disappear. We do still need to investigate why they occur, but certainly at the moment they don't seem to be harmful.

[2016-03-04 13:50] Unode opened #273 "Mailing list access restricted to CERN affiliated"
Hi guys,

Sorry to bring this up here but I'm not really sure which other communication channels exist.
I've tried submitting a message to the mailing list and so far I didn't get a reply. In addition access to the mailing list archives is restricted to people with CERN affiliation (according to Service Desk).

So the question is, are there any other communication channels besides the CERN based m

[2016-03-04 13:56] drmarkwslater commented on #273
Hi Renato,

Apologies for not replying to the list yet - we've been dealing with a number of issues that we've been trying to fix! Luckily that seems to be under control now so expect a reply in the next 1-2 hours!

Apologies again!

[2016-03-04 14:01] Unode commented on #273
Hi Mark,

Thanks. I wasn't sure if it was just me having a hard time or if the sent message ended up eaten by some spam filter.

[2016-03-04 14:02] drmarkwslater commented on #260
The main issue here was fixed with PR #267 . The pushing to background problem probably needs a separate issue.

[2016-03-04 14:02] #260 closed

[2016-03-04 14:12] drmarkwslater opened #274 "Update main Ganga web page to remove/play down CERN stuff and add Zenodo account"
As we now aren't anywhere near as reliant on CERN stuff for Ganga, we should reflect this in our web page.

[2016-03-04 14:14] milliams commented on #274
I agree. As we move further from relying on CERN things we should document and ensure things work. On which note, I have WIP potential replacement at http://ganga-devs.github.io

[2016-03-04 14:15] graipher commented on #256
Not sure if this is the right place:
The large number of warnings also seems to sometimes break the logging stream (when more than one ganga session is running).

[code]

This appeared in the ganga session where the warnings were NOT generated. It seems to try to print a lot of warnings, but each with a few seconds delay between single occurrences. This is blocking the whole session (and has been

[2016-03-04 14:18] drmarkwslater opened #275 "Web GUI is broken - fix it or re-implement a more full GUI with PyQT, etc.?"
The Web GUI is currently broken and maybe should be fixed. However, it might be nice to take this opportunity to do a 'proper' GUI. This would be more work but be a very nice addition and these days shouldn't be anywhere near as difficult as it was 10+ years ago when it was last tried.

Thoughts anyone?

[2016-03-04 14:39] drmarkwslater commented on #273
I've now replied to @Unode on the mailing list and as it stands, this issue is a duplicate of #222 so I'm closing it

[2016-03-04 14:39] #273 closed

[2016-03-04 14:46] Unode commented on #273
Oh thanks, I didn't find that issue when I searched. Cheers.

[2016-03-04 15:00] Unode commented on #275
I'd vote for the web interface. There's quite a few advantages to it over a local running GUI.
Perhaps even going as far as integrating some of it with Jupyter.

[2016-03-04 15:00] rob-c opened #276 "Pushing ganga to background causes problems"
As discussed in #267 sending ganga to background and bring it back with `Ctrl+Z` and `fg` in bash reveals some instabilities which we should probably try and address.

I suspect these are mainly problems related to handling of lock files on disk.
We may need to examine if everything there is working as expected or not (probably by constructing a unittest of some sort).

[2016-03-04 15:02] rob-c commented on #274
Why not have this as ```index.html``` to the project in this case? having the pip install readme is a little minimal. (From what I've read github knows to display this)

[2016-03-04 15:03] rob-c commented on #256
The logging stream may have problems due to the file stream needing to cycle to a new file when there's a large amount of logging hitting the terminal. Most of this is due to unrelated bugs which are being addressed elsewhere.

[2016-03-04 15:05] rob-c commented on #275
Having a common enough API to be able to use either some of the features from IPython 4 or pyQT would be nice. Having said this a web interface would allow for better perceived 'integration' with Dirac monitoring I would have thought.

[2016-03-04 15:07] rob-c commented on #276
oops, referenced wrong issue, meant #260

[2016-03-04 15:10] drmarkwslater commented on #275
This would be the ideal solution and what I was thinking about. As you say, if the API is general from Core point of view, the viewer could be anything (Web or Qt) and it should all work. I'll start looking at this in the near future...

[2016-03-04 15:12] rob-c commented on #275
@drmarkwslater Out of curiosity is this a 'start again from scratch' sort of thing or more of a case of adapting whatever code is in the current web interface (which I suspect is very out of date)

[2016-03-04 15:16] drmarkwslater commented on #275
That will probably depend on the state of the Web GUI code :) However, to do it properly, I suspect a start from scratch is needed. There's still a lot of ancient code in for the original GUI that needs to be removed :smile:

[2016-03-04 15:25] #247 closed

[2016-03-04 15:38] egede commented on #234
@afortiorama A bug introduced a few releases back made Ganga fail to write updates to disk until you typed exit. Compounded in 6.1.16 with a long exit time from Ganga (leding to ^C exits or similar) gave rise to this. The problem is fixed by #267 and #263.

[2016-03-04 15:38] #234 closed

[2016-03-04 15:39] egede commented on #204
@rob-c Just a ping on this one.

[2016-03-04 15:41] egede commented on #275
@drmarkwslater This sounds like pretty fun work. However, I do not see it a thing to give priority at all. Getting a full integration with Jupyter would be much more valuable at the moment.

[2016-03-04 15:41] rob-c commented on #204
@egede Yes, I will put in the PR after I've finished some other work I want to be certain I've not just spotted an XML related bug

[2016-03-04 15:47] drmarkwslater commented on #275
It would certainly not be high priority but I think that integration into Jupyter is basically done/is trivial assuming `import ganga` works, is that right?

[2016-03-04 15:49] alexanderrichards commented on #275
yes that's right as far as the notebooks go but there is a bit of work to be done to make the terminal essentially be an interactive ganga session.

[2016-03-04 15:52] egede opened #277 "Integration to Jupyter"
We should integrate Ganga with Jupyter. This requires several things for working
- [ ] import ganga such that jobs can be accessed from within a Pythn Notebook.
- [ ] A modified `terminal` in Julyter where an interactive Ganga session with monitoring can run.
- [ ] Potentially job monitoring running in a separate server like process to allow different Python
    Notebooks to access jobs.

[2016-03-04 15:53] egede commented on #275
@drmarkwslater No, not really. See #277 for further comments.

[2016-03-04 15:56] alexanderrichards commented on #277
I'm happy to look at job monitoring on a separate server process since this was my suggestion.

[2016-03-04 15:58] egede commented on #277
@alexanderrichards Sounds great. Just open as a separate PR.

[2016-03-04 16:21] egede commented on #270
@graipher Solution is part of #179. This should work before that one is merged.

[2016-03-07 10:20] rob-c opened #281 "Data integrity"
Hi all,

I'm about to commit a unittest which tests Ganga's resiliency to missing 'data' XML files for a job in testing.

Are we expecting that ```data``` and ```data~``` are different such that ```data~``` is the 'n-1' iteration of the job as it's stored to disk.

Would it be worth adding a ```data.bak``` to avoid if we want to restore from a backup (for whatever reason) losing data of the 'n'th

[2016-03-07 10:26] drmarkwslater commented on #281
At present, data~ is the n-1 version of data. We could have a data.bak as well but this would double how long it takes to flush to disk as you will be doubling the writes. At present, you write once and then just do renames/mv's. I suppose we have to decide what the chances of this happening are given the safeties now in safe_save and is it worth doubling the flushing time.

[2016-03-07 10:37] egede commented on #281
@rob-c In general I am quite haooy with data~ storing the n-1 version. If something goes wrong, I think in many instances you would end up with both the data and the data.bak files having trouble.

[2016-03-07 10:39] rob-c commented on #281
OK good to know that this is the case I was wanting to be 100% sure

[2016-03-07 10:39] #204 closed

[2016-03-07 12:04] rob-c opened #283 "Adding timestamps to tests"
Is it possible to add some sort of timestamps to the test system?

I'm curious about keeping track of where (if at all) we're seeing any performance improvements/drops.

aka if the integration tests took 30sec before 1 PR but then take >5min after another I can't easily determine if this is due to one tests slowing down or due to all tests running slower.

My main reason for asking is that in orde

[2016-03-07 12:30] #281 closed

[2016-03-07 15:11] rob-c opened #284 "GangaList is potentially dangerous when saving a job multiple times"
The ```_list``` ```[]``` object in GangaList objects keeps getting expanded when pushed through the XML VStreamer.

I wouldn't have spotted this without the recent tests.

Repeatedly loading (and flushing) the same XML from disk could potentially be dangerous as this causes a GangaList to replace the contents of a GangaList sequence with a GangaList.

I'm going to do some debugging for this to pre

[2016-03-07 16:07] rob-c commented on #284
I've put in a fix for this as part of the unittest which picked it up as it's potentially a small fix. If it's not I'll revert and make a second PR

[2016-03-07 20:25] egede opened #285 "Exceptions thrown from threads on shutdown with Python 2.6 and Python 2.7"
Working on the 6.1.17 release candidate, I see the errors below, each time I exit when using Python 2.6. With Python 2.7 there are no exceptions.

[code]

[2016-03-07 22:58] rob-c commented on #285
I've seen this before and tbh I'm inclined to believe we're doing something bad with daemon threads.
https://github.com/ganga-devs/ganga/blob/develop/python/Ganga/Core/GangaThread/WorkerThreads/WorkerThreadPool.py#L78
The line referenced above has a call only to an internal method which shouldn't throw this error.

Given the threads largely always exit here I'd propose to add an exception to handl

[2016-03-07 23:24] egede commented on #285
I am afraid that I just saw the same error when going through the shutdown in Python 2.7

[code]

[2016-03-07 23:25] egede commented on #285
The exception in Python 2.7 also happened when nothing was happening. There were zero jobs to be monitored.

[2016-03-08 00:28] rob-c commented on #285
OK, it appears we're not correctly join-ing the queues system threads on shutdown, I've got a PR I'll finish and put in tomorrow which can be merged with the release branch

[2016-03-08 09:25] egede commented on #285
@milliams We need to have the PR for this in before 6.1.17 is out.

@rob-c As far as I understand the exception is always thrown when the thread is not processing anything, so in that sense it should be safe to catch the exception and then break out of the while loop.

[2016-03-08 09:38] milliams commented on #285
Yes, this looks like the threads are not being joined correctly and so they are running after the interpreter has started clearing out the global namespace.

[2016-03-08 11:34] rob-c opened #286 "Jobs[] not working as expected"
The SpecialNames test is failing at the moment on 6.1.17

https://ganga.web.cern.ch/ganga/release/6.1.17-pre/reports/latest/html/summary_Ganga.test.XMLRepository.html

I don't think this is worth holding the release up, but I suspect this could mean we have potentially some unfortunate problems with RegistrySlices which could plague us in 6.1.17

We should decide if we're planning to drop support

[2016-03-08 11:35] rob-c commented on #286
Actually simply performing jobs[5] seems to fail as well as shown by the error in https://ganga.web.cern.ch/ganga/release/6.1.17-pre/reports/latest/html/summary_Ganga.test.Internals.html

Should we perhaps consider elevating this to a 6.1.17 bug as:

```jobs(5)``` works but ```jobs[5]``` does not.

[2016-03-08 11:39] milliams commented on #286
Those work fine for me. The thing that no longer works of `jobs[-1]` which I'm not sure was being used and was broken the way it was previously implemented anyway. Are you seeing errors in your testing when doing `jobs[2:5]` or `jobs[2]`?

[2016-03-08 11:43] rob-c commented on #286
The second test I linked is failing with ```j = jobs[self.id]``` which seems like something the test shouldn't be failing with if it's been working until recent releases.

[2016-03-08 11:44] rob-c commented on #286
I'd say calling it broken is a little harsh, but it could have been done better. I know a few users who like to make use of the ```-n``` notation for addressing jobs when doing something similar to tasks in their own very complex scripts.
(I know of a few really complex LHCb scripts which break without this working)

[2016-03-08 11:47] rob-c commented on #286
All special names appear broken based upon.
[code]

I would expect that this should __really__ throw an error or work an I'm personally a little concerned pushing out with this. (I know we have other bugs to address so I'm wanting others opinion as to how serious this is)

[2016-03-08 11:49] egede commented on #286
@rob-c  Does it work for subjobs?

[2016-03-08 11:50] milliams commented on #286
That second link is calling `jobs[self.id]` which is then raising "Could not find object #-1" which suggests that the job has an `id` of `-1` which is very strange.

[2016-03-08 11:52] rob-c commented on #286
@egede I don't know I'll have a look
@milliams I'm wondering does this represent some fundamental change in the test or in Core we've either forgotten about or failed to update the test for? I would feel some investigation would be good

[2016-03-08 11:54] rob-c commented on #286
@egede This is all broken for subjobs an throws errors.
I would have estimated that this is an afternoons work to fix but it is something that could easily turn into 2 days work.
If we release with this notation broken can we at least advertise the fact we know this is broken and being addressed in 6.1.18?

[2016-03-08 11:55] milliams commented on #286
I think before there was some logic in `Registry` to account for negative indices. However, I think it makes more sense in `RegistrySlice.__getitem__`. Something like:
[code]

However, I'm not seeing the broken behaviour of slicing in my local checkout. Do you have an example few lines based on a clean gangadir?

[2016-03-08 12:04] egede commented on #286
@milliams @rob-c Yes, the slicing seems to work for me as well.  Regarding the `[] ` notation, it works for me exactly the same as `()`. This was certainly not the original design, but I am not sure how long it has been broken for. For me it seems OK to go ahead with the release.

[2016-03-08 12:05] rob-c commented on #286
@milliams I'd prefer to see this in the registry slice as otherwise we duplicate the logic in SubJobXML and the Registry.
If we can have some nice static methods then great, but I suspect this to be more difficult to code-up.

[2016-03-08 12:06] rob-c commented on #286
@egede I suspect it's been broken fairly recently so I'd prefer to advertise that it's going to be fixed in 6.1.18 unless there are any objections?

[2016-03-08 12:06] egede commented on #286
@rob-c Yes, that is fine. We should just make sure that we actually have a discussion about what the expected behaviour actually is.

[2016-03-08 12:09] rob-c commented on #286
@egede agreed.
I suspect the expectation of the code in RegistrySlice is for the more complex 'general' index notation allowing everything which is broken.

@milliams The example I printed above does not work and should select both jobs for the ```:``` notation but selects nothing, and the ```-1``` notation is failing in the jobs, either for the test being broken or the -ve index being broken (it

[2016-03-08 12:13] drmarkwslater commented on #286
Just for my 2 cents, it seems from the discussion that the jobs[-1] notation is broken (which I believe was explicitly taken out in 6.1.16 though I'm not sure how functional it was before that) but registry slicing in general is OK? In any case, now we are in a much more stable state with the registry, I think adding this functionality back would be great but having it broken in 6.1.17 is no great

[2016-03-08 12:19] rob-c commented on #286
I'm concerned you say 'explicitly taken out'. I must have missed something because this changes the way that people can access jobs when writing complex scripts.
Was this a deliberate attempt to remove this way of accessing jobs?

[2016-03-08 12:38] drmarkwslater commented on #286
The specific commit is 64ce8415003c7babdc3cee03a0d20239c80a5ef4 where @milliams greatly simplified the __getitem__ to avoid deadlocks. The code could probably be put back here (or in RegistrySlice) now we're in a better situation but at the time we were trying to minimise any chance of deadlocks and reverting back to 6.0.44 code in some places seemed like the best idea. As I say, for 6.1.18 (which

[2016-03-08 13:03] rob-c commented on #286
@drmarkwslater I'm now very concerned by this, do the internal implementation indexes always explicitly == the id from the object in the registry?

[2016-03-08 13:07] rob-c commented on #286
I'm bugged that there is no sanity checking to allow for the Registry to return the result of ```-1``` this is a trivial 1 liner and is just a comparison and re-assignment of the argument so can't cause deadlocks.
I'll prepare a PR against this for 6.1.18 but I suspect this is due to accessing the Registry dictionary as if it's a list.

[2016-03-08 13:25] drmarkwslater commented on #286
@rob-c For the first comment, Yes I believe they do. What I would certainly say though is that there was no check pre-6.1 and we never saw the error shown post 6.1 either (or at least I didn't) so I don't feel we need it here. It might be worth trying to come up with a test case to be sure but the coverage of this code is probably pretty extensive already.

For the second point, I agree - this fun

[2016-03-09 10:12] #285 closed

[2016-03-09 12:03] rob-c opened #293 "Aggressive locking causing some lockups in ganga"
Hi all,

I suspect what I'm seeing is the result of slightly aggressively locking objects.

I have a session open where a job with ~100 subjobs is being monitored and typing ```myJob.subjobs``` caused a lockup.

I suspect this is likely due to being slightly aggressive in how we're locking objects.

I don't think this was a flush to disk keeping the object locked as it lasted ~5min before I manual

[2016-03-09 12:09] kgizdov commented on #254
I had the same issue today. Removing all postprocessors did nothing. In the end I ended up doing

    j.postprocessors.remove(XXX())  # several times until all gone
    j.postprocessors.append(FileChecker(files=[*.root], searchStrings=['bla'], filesMustExist=False))  # to have a postprocessor that always succeeds
    exit  # quit and login again
    ganga
    j.subjobs[XX].backend.reset()  # reset

[2016-03-09 12:14] rob-c commented on #293
This seems to be readily reproducible for me, I have 2  jobs with ~100 subjobs all on the Dirac backend and if I sit at the interactive prompt typing ```jobs``` and ```jobs(1227).subjobs``` eventually Ganga seems to lockup on one of the subjobs calls.
This could be a subjob related bug so I'll see if I can make any progress in this.
I'm going to try leaving a monitoring session open without issuin

[2016-03-09 12:29] rob-c commented on #293
OK, leaving Ganga alone for 10min causes it to hard-lockup. The session locks are still being updated but I can't run ```jobs``` and the flushing of objects stopped about 10min ago suggesting no activity is taking place behind the scenes.

[2016-03-09 12:31] milliams commented on #293
Do you have a stacktrace of all the threads for this?

[2016-03-09 12:35] rob-c commented on #293
Not yet, do you have a usefully modified form of this or should I use the vanilla tool?

I'm going to (not in order):
 1. Try a fix I have in mind for some possible lockups
 2. Try to re-create this with a test submitting many subjobs to the Local backend
 3. Try and get an stacktrace of the threads
 4. Try to turn off the Registry auto-flushing and try again.

[2016-03-09 12:39] milliams commented on #293
I've been using https://gist.github.com/milliams/18f442009db59e92d8a2 which is a modified version to tidy and enhance the syntax highlighting.

[2016-03-09 13:09] rob-c commented on #293
OK, I think I may have a fix, give me about 30min to check a few things then I'll put up a PR for testing

[2016-03-10 13:54] rob-c opened #297 "Ganga on non-case sensitive filesystems"
Hi all,

I recently tried installing ```ganga``` on a well known OS which doesn't have case sensitivity turned on in it's filesystems by default.
(This was a quick exercise to get an estimate if we could support the platform).

As a result git and/or pip install becomes extremely confused about ```Ganga/__init__.py``` vs ```ganga/__init__.py```.

I know we're not aiming to support these environmen

[2016-03-10 13:56] rob-c commented on #33
I'm closing this now as we've moved to Jenkins for releases and such

[2016-03-10 13:56] #33 closed

[2016-03-10 13:58] rob-c commented on #47
It may be worth looking at this for #286 to see if there is much overlap in the code (I suspect there is)

[2016-03-10 14:00] rob-c commented on #68
I think we may be able to close this now for 6.1.17 I'm seeing submission times of well below 30min for 8,000 LFNs split into ~80subjobs using the new splitting tool. I suspect the recent advancements in the repo make us relatively immune to this.

[2016-03-10 14:00] #68 closed

[2016-03-10 14:03] drmarkwslater commented on #297
This is a good point I hadn't thought of. I would actually be in favour of renaming Ganga to GangaCore or something rather than changing little ganga as little ganga is the 'public-facing' part and so should probably be more consistent with what people expect. I agree though that this really needs to be decided before we properly advertise little ganga!

[2016-03-10 14:09] rob-c commented on #297
I'm happy with any solution but the use of 'Ganga.' is throughout the plugins which means renaming 'Ganga' is a big task. (not objecting to this though)
I was just thinking it may be nice to run on ntfs/hfs+ systems although this isn't our primary use case yet.

[2016-03-10 14:14] egede commented on #297
I actually support this renaming. It would be worth at the same time to
consider if we want to make GangaCore smaller and only deal with the true
core issues. Things like local backend, executable application etc. would
go into a new top level package.

Ulrik

On 10 March 2016 3:04:01 p.m. Mark Slater <notifications@github.com> wrote:

[2016-03-10 14:15] rob-c commented on #230
I think we've finally put the nail in the coffin for this for good. Aside from working correctly with disk-locks Ganga shouldn't have problems with the prep.metadata repository now.

[2016-03-10 14:15] #230 closed

[2016-03-10 14:17] alexanderrichards commented on #297
I've been thinking this for a while :+1:

[2016-03-10 14:19] milliams commented on #297
Before this issue gets too derailed perhaps we should start a separate one or two for these points. However, I agree in general. What is currently `Ganga` could become a number of smaller packages. Perhaps:

1. `GangaLib` for the real fundamental bits of registries, interfaces `GangaObject` etc.
2. `GangaCore` or `GangaCommon` or `GangaBase` for things like `Executable` and `Local` which are usefu

[2016-03-10 14:37] rob-c commented on #297
Would it be sensible to have the todo for this task as:

 1. Move ```Ganga``` to ```GangaCore``` and change all of the Plugins to cope/match this. (This could be early 6.1.19 or 6.1.20.)
 2. For every additional _plugin_ we want to factor out of core ```GangaCommon/GangaBase/...``` we move these packages out into their own PR so that we can track that everything points to the correct place before

[2016-03-10 15:18] milliams commented on #297
@rob-c I agree. This should definitely be broken up into a series of smaller PRs and I agree with your ordering.

[2016-03-11 10:20] egede opened #300 "Make Ganga terminate gracefully when receiving SIGTERM (kill)"
In a very common scenario for users, I suspended my laptop with a Ganga session running in a terminal window. The session was dead when I opened the laptop again. I was surprised to see that the Ganga process was in fact still running. Running strace on the process, seems to indiocate that Ganga is in fact still healthy.

[code]

Is this actually the intention? Also do we try to do something sensi

[2016-03-11 10:39] rob-c commented on #300
I suspect we should do something similar to the solution of http://stackoverflow.com/questions/18499497/how-to-process-sigterm-signal-gracefully to register our shutdown handler with the kill signals other than kill -9.
It should be trivial to modify the logger such that the terminal logger is disabled as the first action in the case of SIGTERM I think.

As for ganga still being alive after a susp

[2016-03-11 10:50] egede commented on #300
Something should also be done to the question

[code]

which at the moment is not going through the logger.

[2016-03-11 11:01] rob-c commented on #300
Yes, but in this case we can switch the shutdown policy to be the same as on batch/headless systems. aka don't ask and turn the screen logger off so that stdout/stderr aren't addressed. I think that should cover everything. (probably slightly easier said than done with the logger)

[2016-03-11 11:11] egede commented on #300
@rob-c To switch to the headless system indeed sounds like a good idea. This might actually make disconnected processes in general shut down in a much nicer way, Changed to an "enhancement".

[2016-03-11 12:33] egede opened #301 "The full_print(j) function is broken"
The simple test

[code]
prints out a reference to the job  object rather than the full listing.

[code]

[2016-03-11 12:36] egede opened #302 "Migrate Ganga to GangaCore"
The migration of `Ganga` to `GangaCore` will give a more logic naming convention in Ganga as well as avoiding the overload of the name ganga with just a difference in case. See #297 for further discussion.

[2016-03-11 12:38] egede opened #303 "Split up the Ganga core package"
The Ganga core package should be split up in a package that has the true core functionality and one or more other ones that contains the different GPI objects. See #297 for discussion. Depends on #302 to be done first.

[2016-03-11 12:38] egede commented on #297
#302 and #303 created to follow up on this.

[2016-03-11 12:38] #297 closed

[2016-03-11 12:42] rob-c commented on #301
I have been looking at code relating to this recently. I'm assuming that this should be printing the full job repr which should include full list expansion?
Either way this has been broken for a _long_ time now and should probably be fixed.

[2016-03-11 12:43] egede commented on #301
That is correct.

Yes, indeed; and today was the day that I got around to report it.

[2016-03-11 12:50] rob-c commented on #301
OK. I think this may tie in with a bug I'm seeing in nested GangaList expansion for repr so I'll take a look at both of these.
It's likely that the full_print can be fixed quite easily by moving it to the new repr functions in the Proxy but I think it would be better to see if the old representation code is still working as I don't know where or how that is used.

[2016-03-11 13:17] rob-c opened #304 "Fix adding new test GPI objects before running tests"
We could do with a proper mechanism to allow for the loading of new objects we want to be in the GPI ahead of tests running.
This should be done after the environment is setup within GangaUnitTest as the current method of 'just hoping it works' is a bit of a fudge and makes running some tests outside of using ```setup.py``` difficult or not possible.

[2016-03-14 09:48] milliams opened #309 "Local wrapper script exiting with code 9"
We've seen a few sporadic failures of test [Savannah19123](https://github.com/ganga-devs/ganga/blob/2939a9d04bac16cf9f6a25b90dbc3feb8cfc4d9f/python/Ganga/new_tests/GPI/Bugs/TestSavannah19123.py). The symptom is that the test is checking whether certain file exist or don't exist at the right times and at the end of the test it calls `j.kill()` which errors since the job is in the `failed` state (wh

[2016-03-14 10:06] egede commented on #309
Can you get the test to dump the __jobscript__ to stdout/stderr. Or can
you modify the test to include a "set -x" flag in the bash script and
then look at the stdout of the job.

On 14/03/16 09:48, Matt Williams wrote:

[2016-03-14 16:27] rob-c commented on #309
I think I've seen problems similar to this when the job has finished and cleaned up after running but the Localhost doesn't take this scenario into account and fails to open the (now missing) file.

[2016-03-14 17:17] rob-c opened #310 "Session locks on AFS having issues"
I'm seeing a lot of ```'SessionLockManager' object has no attribute 'lockfd'``` on AFS atm after the recent lockfile changes. I'm tracking it down now

[2016-03-14 17:33] rob-c opened #311 "Objects incorrectly being set dirty"
LHCb users are seeing what I saw that some objects are marked as dirty when they should never be loaded.

The API for the ```_setDirty``` also doesn't respect ```_setDirty(False)``` which is a slight annoyance. If we're changing to use ```_setDirty()``` and ```_setFlushed()``` we should not respect the old API.

I'm tracking down what is causing some jobs to be loaded on shutdown which we thought

[2016-03-14 18:07] #310 closed

[2016-03-14 20:59] milliams commented on #311
`_setDirty(False)` has not worked since at least 2009 so we really shouldn't be using it anywhere. In the future I'd much prefer either using `setDirty`/`setFlushed` or a `@property` so we can just do `obj.dirty = True`/`obj.dirty = False`.

It's possible that there's an issue at the moment that if you set a schema attribute to the same value it already contains that it will still set it dirty whi

[2016-03-14 21:38] rob-c commented on #311
I'm seeing that empty objects are being marked dirty which needs addressing.

[2016-03-14 21:40] rob-c commented on #311
wrt the ```_setDirty(False)``` I plan to remove this in that case, promising, or allowing this is a bad idea if it doesn't work. I'm preparing a short PR which doesn't load jobs it shouldn't.

[2016-03-15 10:38] drmarkwslater commented on #311
Just to say that I think the mail that sparked this on the DAST list may have been a red herring as I suspect this may have been due to missing index cache files instead. The warnings given by the user are actually on **startup** not shutdown and at the top, you can see that it's complaining about a missing `data` file. It would certainly try to load at this point if the index cache file wasn't th

[2016-03-15 10:44] drmarkwslater commented on #311
Out of interest, what's the problem about marking an Empty Object dirty? Doesn't it only become a problem if the object is attached to a Registry/Repo which an Empty Object isn't? Therefore, you can happily change stuff on an Empty Object, it gets marked dirty but that doesn't matter as it will never be picked up for flushing (or loaded for that matter).

There would be a problem if you have an ob

[2016-03-15 10:47] drmarkwslater opened #314 "Have protection (or offer support) for 'odd' characters in Job name (e.g. '<..>')"
There is very little (if any) protection for what you can set a Job name to in Ganga. We should either disallow the known broken things (XML tags for example) or improve the code to support them.

[2016-03-15 10:51] rob-c commented on #311
Dirty empty objects will get picked up for flushing because the registry is populated with empty objects capable of triggering a load from disk when interrogated for a schema attribute they don't have.

OK, with regard to indexes...
It is possible (although difficult) to avoid re-generating missing indexes on startup/shutdown. There is a master index which reduces the time taken to load all of the

[2016-03-15 10:53] egede commented on #314
@drmarkwslater I think the problem arise because we set the name in Dirac to the name of the job in Ganga. So we should just sanitise the names before we put it into the JDL.

[2016-03-15 10:53] rob-c commented on #314
Where does this actually break things, Ganga or in one of the backends which may dislike strange job/filenames.

Can we just introduce some string sanity check into all strings at the ```__set__``` level which would reduce problems such as this a _lot_ more.

[2016-03-15 10:54] egede commented on #314
@rob-c  This is just for DIRAC.

[2016-03-15 10:55] rob-c commented on #314
@egede Didn't we have problems in the past with strange characters in filenames though? (again in Dirac but I suspect this is not unique)

[2016-03-15 11:00] egede commented on #314
@rob-c Yes, I think for Dirac, we should just take any non [a-zA-Z] character out and replace it with an underscore (which is valid).

[2016-03-15 11:07] drmarkwslater commented on #314
You're right - this isn't a Core problem but is backend dependent. However, it certainly isn't just for Dirac as I know that I've had to fix this for ARC at least before now. I feel that all backend submit code should be checked to make sure it's sanitising things properly.

[2016-03-15 11:15] rob-c commented on #314
In this case we (at least) need the pre-submit checks for the IGangaFile to be coded up to be generic as was discussed in a face-to-face meeting a while ago.
If we're keeping the pre-submit file checking maybe it's worth having a job consistency check which asks the backend and other attributes to perform sanity checks in the same place.

[2016-03-15 11:55] egede opened #315 "Monitoring Error: cannot import name queues"
The report from Mike Sokoloff, had an error in the shuitdown as well, that I think we missed in previous discussions. See printout below.  The error is coming from python/Ganga/Core/MonitoringComponent/Local_GangaMC_Service.py

[code]

[2016-03-15 12:03] rob-c commented on #315
@egede Can you find out the likely job type to lead this? (or is the user running tasks)

I suspect it could be a backend/tasks problem of trying to load the queues system after it's already been shutdown. I'll move the queues shutdown into the shutdown handler manually I think to try and avoid this in the future.

[2016-03-15 12:08] egede commented on #315
@rob-c I have not seen this myself (the user is using tasks though).

[2016-03-15 12:09] rob-c commented on #315
I suspect this is due to some worker thread being shutdown out of the order that is expected so I can protect against this with a few minor changes.

[2016-03-15 12:23] olupton opened #316 "SplitByFiles(ignoremissing=False) seemingly ignored"
Hi,

I just tried to submit a job with the following splitter options:
[code]

I happened (fortunately, it could easily have been lost in the noise..) to notice:
[code]
along with a few other messages along the same lines. I'm using 6.1.13 as it's the most recent release that seems somewhat usable with Tasks.

This file has a single replica, which was not available when I submitted the job, but I

[2016-03-15 12:26] rob-c commented on #316
@olupton If you're able I'd advice using the ```bugfix/LHCbfixes``` branch from github if you're able as this should have most of the fixes from 6.1.17 as well as 'working' tasks. I think I fixed something relating to this a few releases ago but I couldn't say when without doing some digging.

[2016-03-15 13:07] rob-c opened #317 "Ganga 6.1.17 hard-lockups"
I'm creating this issue to cover any developer related queries here about LHCb users still seeing ganga lockup during normal use (a few minutes after ganga has started).

From what I've seen of people forcing an exit through ```Ctrl+C``` this looks like the formatting part of the RegistrySlice has issues. This ties in with the my experiences that touching the ```getNodeIndexCache``` seems to cause

[2016-03-15 13:10] egede commented on #317
@rob-c The users who have seen these issues have many jobs that have finished. Thus the monitoring threads will be busy and I guess this is the cause of the lockups. Do we have tests that are emulating this behaviour?

[2016-03-15 13:11] rob-c commented on #317
Not presently (I've got a Dirac test waiting to go in when we have a box which can submit there).

I suspect users for LHCb are seeing problems due to multiple attempts to load the same subjob at once. (Just a hunch) which we've recently fixed in a PR so I wonder if this merits pushing out a 6.1.18 soon or not.

[2016-03-15 13:12] rob-c commented on #317
I've spoken to Carlos who's shown interest in using the latest code from github so hopefully by the end of today he might be able to report back with any success or not

[2016-03-15 13:19] egede commented on #317
[http://fpmac116.usc.es/cvazquez/stacktracer.html](url)

[2016-03-15 13:21] rob-c commented on #317
@egede We test this a bit on the local backend actually in a large parallel submit test and there is a second version of this running subjobs which is up for review for being run on ganga-ci.
What we're lacking is a potential test of the LHCb backend if we suspect this could be at fault.

The given stack trace I think hints at a known bug with SubJobXMLList having an incorrect parent set on an obj

[2016-03-15 13:35] olupton commented on #316
@rob-c I am trying now. I didn't want to because this is some work that I really need to get done, and the github versions don't have a great stability record, however 6.1.13 seemed to struggle so much with scalability (as well as the above issue) that I don't have much choice.

I am trying to load my 6.1.13 repository with the head of the ```bugfix/LHCbfixes``` branch, but it has been apparently

[2016-03-15 13:39] rob-c commented on #317
I claim this will likely go away with #307 once this has been merged given the lockps experienced on this were the same as is being seen here.

[2016-03-15 13:42] rob-c commented on #317
In fact running on this PR with several split jobs which are in a running/completing state and I'm not yet seeing a lockup. I'm keeping this session open for an hour or 2 to see if I can reproduce this on lxplus.

[2016-03-15 13:46] olupton commented on #316
I noticed it's doing some things in the background. e.g. lsof sometimes shows another file:
[code]
where I think (but can't be sure because the session won't let me do anything...) that job 4093 plausibly has some running subjobs.
Also child processes are occasionally spawned:

[code]
which lsof shows having the same set of open files.
The ganga prompt is still frozen (Ctrl-C doesn't work).

[2016-03-15 13:46] olupton commented on #316
Sorry, I didn't mean to close it but apparently can't reopen.

[2016-03-15 13:48] rob-c commented on #317
hmmm, whilst I'm not seeing python lockup I am seeing a serious performance problem with running ```job``` running it whilst there is a lot of activity is taking > 5min despite the fact that ganga is still spawning and controlling new tasks and appears to be doing work (CPU ~ 60-70% at times)

[2016-03-15 14:08] drmarkwslater commented on #317
After wrapping my head around the deadlocks again, I think that #307 does indeed fix the problems. I've got a couple of test tweaks to do but after that, we can merge and maybe point Carlos and Elena at the HEAD version?

[2016-03-15 14:57] rob-c commented on #317
I'm seeing deadlocks on this branch unfortunately.
I set ganga running and left the office to go do some marking. I'll work out how to upload the trace now

[2016-03-15 14:58] drmarkwslater commented on #317
Sod. Oh well - if we get the trace, hopefully we can see where the next problem is :(

[2016-03-15 15:01] rob-c commented on #317
OK, I'm about to start looking at this myself
[final.trace.html.txt](https://github.com/ganga-devs/ganga/files/174147/final.trace.html.txt)

[2016-03-15 15:04] rob-c commented on #317
Hmm I'm seeing 2 threads try to lock the parent to assign themselves as children at the same time...
I'm starting to lean very heavily on the fact we require a lock to hang a child off a parent being a bad thing.
If we were advertising the child to the parent I could almost understand this. But we're not.

[2016-03-15 15:05] drmarkwslater commented on #317
Err.. I don't think you were running on the correct branch :smile: as in the trace you have:
[code]

and line 374 isn't doing this on the branch. It's actually blank!

[2016-03-15 15:07] rob-c commented on #317
Well that's potentially a minor relief, I'll set it running again on the branch properly and not make a mess of checking out the code as I obviously did last time

[2016-03-15 15:17] rob-c commented on #317
Maybe having a nightly test where we run:
[code]
(or some variation)
for 5 minutes to see if we get any lockups would be worth doing to try and catch this in the future.

[2016-03-15 15:27] rob-c commented on #317
OK I can confirm ganga at least runs for much longer before locking up now

[2016-03-15 15:30] milliams commented on #317
Is that "you've ran for a longer time with no lockup yet" or "it look longer before you saw the lockup"?

[2016-03-15 16:08] rob-c commented on #317
I waited a long time and no lockup :D I'd say I only waited 15min but I think if it's not happened by then it won't

[2016-03-15 18:10] #317 closed

[2016-03-16 09:22] drmarkwslater commented on #311
As regards indexes (indices? whatever :smile: ) I think the problem the user was seeing was actually Ganga working as intended. It's not perfect but to be expected if users keep 2 year old jobs lying around. I think we can forget about that at least.

As regards the `EmptyGangaObject` thing, I **think** I understand this now. Is it that if a job fails to load because of plugins not being present,

[2016-03-16 09:59] rob-c commented on #311
I somehow think yes, there's little we can do to fix that particular index behavior. Although a nice little warning of what's going to trigger a load on shutdown may be nice. Again this requires tracking if an object has been loaded much more clearly than we currently do.

After looking at the code the ```EmptyGangaObject``` class is never used anymore I think over creating an _empty_ instance of

[2016-03-16 10:42] rob-c commented on #258
I think I'm testing all but a corrupt index file as part of #268. As soon as I add a final test for this I'll mark this as closed.

[2016-03-16 10:44] rob-c commented on #284
This may be fixed in #268 I'd like to construct some sort of test for this involving the box repo and XML files.

[2016-03-16 10:47] rob-c commented on #293
I think this has been fixed

[2016-03-16 10:47] #293 closed

[2016-03-16 10:50] milliams commented on #284
This shouldn't be a problem as we shouldn't have any `GangaList`s as schema attribute values?

[2016-03-16 10:58] rob-c commented on #284
1. We should be able to support this. I would strongly prefer to move to GangaList as (it allows us to do a lot of things properly) and despite this we need to support storing them if they ever get passed to the XML layer. And they do. It's at the very least possible to put them in a box repo.
 2. This is a problem in parsing the list object in an XML into a GangaList which gives you a GangaList w

[2016-03-16 13:03] egede commented on #120
Here is a a simpler example to reproduce the error.

[code]

[2016-03-16 13:08] rob-c commented on #120
@egede Thanks for that example, maybe we can get this fixed for 6.1.19 I suspect I may know where this is causing problems but I'd have to do some digging.

[2016-03-16 16:00] rob-c opened #320 "String interpolation warning in the AutoFlusher"
I'm seeing too much of this:

[code]
All I was doing was running ```ganga --no-mon --debug```

I'll prepare a PR to fix this.

[2016-03-16 16:06] rob-c commented on #320
Also is there a strong reason for the auto-flusher non-blocking?

If a system is under heavy load we run the risk that this never flushes for us (or waits a very long time).

I'm tempted to play with this being a blocking lock to see how the performance is effected.

[2016-03-16 16:21] milliams commented on #320
It was made non-blocking so that it would stay out of the way most of the time. We thought that if the system is under heavy load then the flusher can wait for a while (as it's really an 'auto-save'). I'm not sure how often we have a completely saturated registry lock such that it wouldn't get a chance to run. I seem to remember that I made it non-blocking to improve performance and reduce lockups

[2016-03-16 16:24] rob-c commented on #320
I'm much more of the opinion that the users can afford to wait for ganga to pause in order to flush data to disk.
I know it 'should' then probably run next time around I'm just very much more of the opinion this should _force_ a flush to disk before something else gets in the way.

I'll see if it causes lockups but I suspect it shouldn't

[2016-03-16 16:27] milliams commented on #320
If it doesn't cause lock-ups (and we're reasonably sure) then I'm happy to make it blocking in principle.

[2016-03-17 07:45] olupton commented on #316
Drifting away from the original topic, but I tried the head of ```bugfix/LHCbfixes``` again this morning with the same result: just typing ```tasks``` leads to a complete lock-up.
The repository I'm trying to open is ~2.5G
[code]
and contains 134 tasks (1 of which is running) and 2912 master jobs (2 of which are running).

6.1.13 doesn't have the hard lock-up, but does struggle with multiple threa

[2016-03-17 13:23] drmarkwslater commented on #320
I'm a bit wary of this as, not that it's a bad idea per se, but from a user point of view, they'll quite often see Ganga basically stall until the flusher finishes sometimes and this could make them think there's a lockup, certainly if they have a large job (lots of subjobs) that is being actively monitored and made dirty quite often.

There was an idea to give the auto flusher N tries (say 5) at

[2016-03-17 13:30] milliams commented on #229
Back to the topic of this bug, it was being caused by the way that Python determines truthiness. `MultiPostProcessor` was exposing a sequence interface which means that `__len__` was the number of items in its internal list. When this list was empty, the object evaluated as `False` and so this bit of login in `GangaObject.__eq__`:
[code]
was meaning that an empty `MultiPostProcessor` was never equ

[2016-03-17 13:34] milliams commented on #320
I feel a better compromise than that would be to instead of:
[code]
instead
[code]
This way the registry can be interrupted between each job if there's other threads waiting.

[2016-03-17 14:09] rob-c commented on #320
I'll add a function to run over and collect all of the dirty objects in this case. Although my feeling is that this lock could just be handled within flush_all if it's done correctly but I'm sure that invites problems.

[2016-03-17 14:16] milliams commented on #320
I'm not sure another method is needed. Perhaps just iterating over all objects and calling flush on each would suffice. In fact, that becomes equivalent to removing the `@synchronised` lock from `flush_all()` and not acquiring a manual lock inside the autoflusher (simpler code all round) so maybe that's the best approach?

[2016-03-17 16:19] rob-c opened #324 "Replace interface lookups with a plugin lookup function"
There are places where the interface ```__dict__``` is currently examined for objects. This should be replaced with a nested lookup within the Plugins system.

This should be limited to the Proxy layer but I'll investigate where else this is currently done as it makes moving between ```ganga``` and ```Ganga``` easier.

[2016-03-17 16:41] #120 closed

[2016-03-17 17:34] #320 closed

[2016-03-18 13:02] rob-c opened #327 "auto-resubmit broken"
An LHCb user is seeing problem with I suspect auto-resubmit as they get errors to the effect of:

[code]

a few times per minute.

[2016-03-18 13:08] milliams commented on #327
This will happen `if len(j.subjobs) > 0` and `if s.info.submit_counter > config['MaxNumResubmits'] or s.status == "killed"` since the variable `try_resubmit` will never be set to anything. That whole function `resubmit_if_required` looks buggy. I'm not sure if it's broken indentation of the `if try_resubmit` and/or some other logic.

[2016-03-18 13:19] rob-c commented on #327
@milliams It sounds like you're best handling this issue then, I've not had a chance to look at the code yet.

[2016-03-18 13:41] milliams commented on #327
Sure, I'll take a look.

[2016-03-21 12:24] milliams opened #330 "Storing sequences in Ganga"
I've been thinking about the overall requirements for storing sequences of `GangaObject`s and I've mostly narrowed it down to the following few requirements:
1. In the GPI, proxy-wrap objects as they are extracted from lists and strip proxies as they are added.
2. If the sequence is a schema attribute value:
   - set parent correctly when objects are added to a list and when a list itself is re-pa

[2016-03-21 12:53] rob-c commented on #330
I know we probably need a ```ProxyList``` object but at some strong level I'm not sure how much is needed for this class to do.
Surely this is only a special instance of the proxy class which has ```stripProxy```/```addProxy``` to the getter and setter methods unique to lists?

I have some strong reservations about making changes to ```SubJobXMLList``` in this way unless you know it to be safe.
Fi

[2016-03-21 13:16] milliams commented on #330
We already kind of have both `List` and `ProxyList` but they're mixed together in `GangaList.py`. This would split them so that `List` is in `Objects.py` and `ProxyList` is in `Proxy.py`.

As you say, `ProxyList` is very small and is simply applying the proxy wrapping to the methods it exposes. My implementation uses a metaclass to wrap these methods so that `ProxyClass` is simply (subject to chan

[2016-03-21 13:33] rob-c commented on #330
OK, I'm quite happy with a lot of this.

If your ```List``` is essentially the serializeable simplified un-proxied version of ```GangaList``` I'm all for this :D (re-reading that sentence it's clear something is wrong with ```GangaList``` by the fact I have to say this)

Can we have a separate PR to sort out all calls to ```makeGangaList```, ```makeGangaListByRef``` and ```myGangaList._list``` cal

[2016-03-21 13:39] milliams commented on #330
Yes, your summary of `List` is correct.

I believe @drmarkwslater has been looking at `GangaList`'s various constructor functions with an aim to do more-or-less what you say. His investigations will still be very useful if we switch to `List`/`ProxyList` as we need to have a good handle on the semantics of this all.

On your last point, this should be already possible but we're going to need to ma

[2016-03-21 14:43] rob-c opened #331 "Ganga develop identifies as previous version"
Hi all,

I'm in communication with a few users who are keen to checkout the latest and greatest code and a continual question I get is, that once they checkout the latest develop, Ganga identifies as the previous version on startup.

If we've dropped the `Ganga-SVN` version name I'd like to increment the version number right at the start of each release in future.
In this case it's clearer (imo) t

[2016-03-21 15:25] milliams commented on #331
I can understand the reasoning for this. Perhaps a solution would be to, after a release is finalised, set the version number to, e.g. `6.1.19.dev` so that it aligns with [PEP-440](https://www.python.org/dev/peps/pep-0440/#implicit-development-release-number). Upon release the `.dev` suffix is removed, release is made (as `6.1.19`) and then the string is set to `6.1.20.dev`

[2016-03-21 16:09] rob-c commented on #331
I'm weary of adding ```.dev``` but I suspect that we can/should fix any ganga internal problems if that is the case. Either way I'm not a fan of what we have atm.

[2016-03-21 16:38] egede commented on #331
@milliams The `.dev` notation might break multiple parts of `bootstrap.py` from just skimming it.

[2016-03-21 16:47] alexanderrichards commented on #331
In general this sounds like a reasonable idea, just a quick point to bear in mind.

**NOTE** If we abort the release and re-merge into develop then start a release again, doing this at the start will over increment the version number if the incrementing is done automatically. This problem disappears of course if the version string is taken from the build parameter/branch name.

[2016-03-21 17:21] rob-c commented on #331
@alexanderrichards I wad more intending that the last thing in the release process is to bump the version number in develop after releasing the stable version. This way that never happens. I think perhaps we're mixing the release dev cycle and the release process itself here.
aka. ```develop``` always has the version of Ganga which is unreleased.

[2016-03-21 19:37] Unode commented on #222
So the mailing list is currently closed:

Everything on github then?

[2016-03-21 19:44] unode opened #332 "Input Output on shared storage"
Hi guys,

Apologies if this question should be asked elsewhere but I tried the mailing list and got the message back undelivered https://github.com/ganga-devs/ganga/issues/222#issuecomment-199442925 .

I'm currently looking at ganga's Input/Output model but I'm getting a little confused with how LocalFile works and I don't get how SandboxFile is meant to be used.

The cluster where I'm using ganga

[2016-03-21 20:19] egede commented on #222
No, the list is not closed. However, it only accepts mails from users who are **on the list** in order to keep it free from spam. You are registered with the address alves.renato.jc@gmail.com

[2016-03-21 21:33] egede commented on #332
@Unode asking here is fine.

The `SandboxFile` object is deprecated, so do not consider that one.

Some batch systems will setup a working directory for you, while others will not. Let me assume that your system does that on `/scratch` and that the working directory of the job is there. (If this doesn't happen, it is easy to make Ganga do this for you, just ask).

### For scenario I:
Something lik

[2016-03-21 23:29] Unode commented on #222
@egede Sorry about the confusion. The return message lead me astray.

[2016-03-22 18:14] #229 closed

[2016-03-22 18:45] Unode commented on #332
Thanks Ulrik,

Given the attribute name is "Pattern" does that mean I can use wildcard (`inputfiles*`) for multiple files?
What about if the pattern matches a folder, does it copy the entire structure (preserving symlinks and whatnot)?

[2016-03-23 09:23] egede commented on #332
The pattern is matching for output that the job is producing. However, I do
not think it matches on input. Does anybody else know. It doesn't match
directories.

Ulrik

On 22 March 2016 6:45:30 p.m. Renato Alves <notifications@github.com> wrote:

[2016-03-23 10:01] alexanderrichards commented on #332
Hi, it certainly matches wildcards on outputfiles. We always intended for it to also match wildcard on input files but this was more difficult (especially with DiracFile as we need to do a wildcard DIRAC query which didn't properly exist in the API). I'm not sure if we got as far as making at least the other file types work with wildcard input. It would be easy at least to try with a simple LocalF

[2016-03-24 14:27] rob-c opened #340 "Possible Schema bug/shortcoming exposed by lsst hacking"
Hi all,

I think I've discovered a bug or at least a shortcoming of the Schema system as it stands.

I would like to create an application with a fully qualified IGangaFile object in the schema.
This works however when I create an instance of this application interactively I see that the schema attribute is populated with an empty IGangaFile of the correct type.

e.g I define in my class

[code]

[2016-03-24 14:43] milliams commented on #340
It seems that the schema system is not set up to handle complex `GangaObject`s as default values. One good reason for this is that the default value needs to be savable into the `[defaults_myClass]` section of the config file and there is no easy way to do this with `GangaObject`s.

In general I think that setting default values for `ComponentItem`s is unsupported and the docs back this up by sayi

[2016-03-24 15:05] rob-c commented on #340
Well in this case I'm bugged that either we don't support this myself. I can think of solutions but they're all uglier than storing the data where it should sensibly be.
I'm avoiding hacking on this right now in favor of testing something out with a new object and the playing with some settings in the Dirac API.

I would have strongly preferred this threw an error on initialization rather than sil

[2016-03-24 15:15] milliams commented on #340
In this particular case (and probably most like it) the most elegant solution would be to create a subclass of `DiracFile` called `LSSTFile` or something and set the default value of `lfn` there. Without knowing the reason for wanting a specific default value, it's difficult to say though.

In general though, I agree that if this is not supported then it should raise an error. I have an 'ok' under

[2016-03-24 15:20] rob-c commented on #340
This is an application which would have several DiracFiles which are configurable but with sane defaults. Hence adding them in source and testing for the lfn being empty just seems bad imo.
```DiracFile``` is fine for the use case however :D

OK, I'm glad that there isn't some over-arching reason why I'm expecting to be able to do these things with the schema (even though it's not supported) I'm j

[2016-03-24 15:29] egede commented on #340
This is exposing a bit wider problem with the default values of different `GangaObjects`. What makes sense as the default for a `DiracFile` object when used in inputfiles might indeed not make sense when used as the default value in an application object  or as an outputfile. We tried at some point to address this issue by introducing the template repository and maybe we should revisit the use of

[2016-03-24 15:38] rob-c commented on #340
@egede Would it be possible to have an 'examples' (or some other name) template-style repo which is populated by locked job objects which have been fully-configured (or mostly configured) for basic tasks for users?
I like keeping the templates repo but don't like the idea a user could edit a template we chose to give them and then forget when they go use the template in future for something else.

[2016-03-24 15:59] egede commented on #340
@rob-c The behaviour you describe is exactly how it works. Ask @alexanderrichards for the details.

[2016-03-24 16:05] rob-c commented on #340
@egede I mean having an example or _sticky_ templates which can't be removed or have registry manipulations performed on them. If we add stuff into the templates repo users may delete them by accident which I think we may want to avoid, but this is quickly turning into an off topic discussion I think.

[2016-03-24 16:12] rob-c commented on #164
This is still happening and needs looking into asap. I have a repo which I am switching between branches, one which has a new application object.
I accidentally left the monitoring on and now all objects with the new application not in my repo have just been wiped from disk (ok, maybe I can restore some of them from backups).

This may get annoying until we have ```ganga``` loading all default plu

[2016-03-29 12:21] alexanderrichards commented on #340
indeed what your describing is the named template system that I implemented some 2 years ago. Note this is not the same as the regular templates in Ganga which are mutable. As I recall you need to merely create a sub directory called templates within your extension package e.g. LHCb and then you will get a new repo of templates which can be accessed for in the LHCb case as:
[code]

something like

[2016-03-30 06:53] rob-c opened #343 "LSST Im3Shape support in Ganga"
This issue is to hold all discussions relating to adding/improving Im3Shape support within Ganga.

Apologies this was originally a long email but I decided it's probably best put here with some formatting to have something to point back to when I push for the lsst branch to be merged in a few days.
## Intro

After meeting with @joezuntz before Easter I think I've got a clear idea of what is requir

[2016-03-30 07:18] drmarkwslater commented on #343
From a brief read of this, it sounds like Tasks should work well out of the box, i.e. using CoreTask/Transform, and I agree that this should certainly be the way forward for running sets of 15K+ jobs. Basically, the job script you describe above should be able to just be fed to Tasks with the list of `DiracFiles` and it will handle everything, nothing more should be needed. Having said that, it **

[2016-03-30 08:10] rob-c commented on #343
@drmarkwslater OK, I'll try and play around with Tasks and the Local backend and see if I can work out what I'm expecting it to do.
I would strongly like to avoid generating ~3,000 jobs as LSST work would generate an order of magnitude more jobs when the data is ready. This can all be handled in the job splitter but then starts to potentially get difficult if the user would want to run over 2 or 3

[2016-03-30 13:21] rob-c opened #344 "remoteSubDir feature for IGangaFile"
I would like to see a ```remoteSubDir``` attribute (or alternative) added to ```IGangaFile```, for ```LocalFile```, ```MassStorageFile``` and ```DiracFile```.

If defined this should be used to move files into a relative path on the worker node at the start of jobs.
In addition it should be used as part of the pattern matching for files when the job has finished.

This has been requested a few tim

[2016-04-04 07:07] rob-c opened #347 "XML corruption issues for subjobs"
Ganga is still having problems correctly falling back to a backup XML file or other solution when failing to load an XML for a subjob.

I've also spotted that the test for this is broken owing to accidentally badly named tests running out of order.

I've taken a first look at this and have expanded the standard corrupt XML test for subjobs but I've not had a chance yet to begin debugging issues wi

[2016-04-04 08:36] #155 closed

[2016-04-04 10:04] rob-c opened #349 "Tasks integration test"
Hi all,

I'm just adding a small issue to ask if we can make a small set of integration tests to check the expected behavior of the tasks system as part of 6.1.19.

I keep getting confused with the tasks as it's not something I've a lot of experience with and I somehow feel a simple test which constructs a simple task which fires off a simple job and finishes would be useful to demonstrate the exp

[2016-04-04 10:09] drmarkwslater commented on #349
I've got a test in PR #219 and I plan to extend it as well. This should certainly get put in for 6.1.19.

[2016-04-04 10:55] rob-c opened #350 "jobs.select is broken again"
I expect the following: ```jobs.select(id=1322)``` to return the job with id 1322, however when I run this command I get my whole repo returned as a jobs slice.

However: ```jobs.select(1322, 1322)``` works as expected and returns the one job.

The jobs.select method is used __heavily__ within the monitoring system and should not be doing this.
(I suspect fixing this would also fix #286.)

This ju

[2016-04-04 10:56] rob-c commented on #164
This just bit me again during development. I'm going to see if I can find a fix for this now.

[2016-04-04 15:10] alexanderrichards commented on #350
I think that we had a conversation about this previously as I recall I think we wanted to have the behaviour that select only took keyword args which would agree with what you want here right? This will probably mean that select will need to be changed to conform to this.

[2016-04-05 07:36] will-cern opened #352 "Add accounting_group to Condor CDF dictionary"
Hello,

My local condor batch system requires me to specify an 'accounting_group' in my configuration file. Please can you add this as an option to the Condor module.
This is pretty urgent, because without this I cannot use our batch system, so a hotfix would be much appreciated. I'm currently using 6.1.13

Cheers
Will

[2016-04-05 08:07] egede commented on #352
@will-cern Please give some details on exactly how this should be specified and how the exact syntax is if used from the command line. While not familiar with how Condor works, I wonder if you could solve your problem using the `submit_options` property of the `Condor` backend.

[2016-04-05 08:16] will-cern commented on #352
Hi,

I had a look at the submit_options too but this isn't something that goes in the command line, it's something that goes in the configuration file. Take a look at the "universe" property in the Condor module, for example. It needs to appear in the generated job in a similar way.

It's just:

accounting_group = 'string'

Sent from my iPhone

[2016-04-05 08:17] will-cern commented on #352
My bad, I mean:

accounting_group = string

No quotes

Sent from my iPhone

[2016-04-05 10:03] egede opened #353 "Change default way that `hadd` is used for merging `root` files"
I just thought I should let you know about some new options I submitted to ROOT for their hadd application, that have been available since the 6.06.00 release, that I think should be utilized by the merging in ganga.

The release notes are here

https://root.cern.ch/doc/v606/release-notes.html#hadd

but in short it was to
- Add support for the newer LZMA compression
- Add an option to automaticall

[2016-04-05 11:55] rob-c commented on #164
Fixed by #351

[2016-04-05 11:55] #164 closed

[2016-04-05 12:37] drmarkwslater commented on #352
@will-cern I'll try to get this in ASAP but until then, you should be able to get around it with a bit of minor hacking. If you specify:
[code]
This will get added to the submit file correctly.

[2016-04-05 13:00] will-cern commented on #352
Ok I'll give that a try. I thought the requirements got 'and'ed together, but if this 'other' property is special then yes it might work

	Cheers
		Will

On 5 Apr 2016, at 14:37, Mark Slater <notifications@github.com> wrote:

[2016-04-05 13:02] drmarkwslater commented on #352
They do, but if you put in the `\n` and make sure it's the last entry, it can get round it, SQL-injection style :smile:

[2016-04-05 13:39] will-cern commented on #352
Love it!

While I'm here, could I also ask for that feature of --inPfnListFile option of ganga athena to be modified so that lines beginning with "#" in the input file area ignored. That would be very useful too

Cheers
	Will

On 5 Apr 2016, at 15:02, Mark Slater <notifications@github.com> wrote:

[2016-04-05 13:41] drmarkwslater commented on #352
You certainly could but could you create a new issue for it? Otherwise
I'll forget :)

Thanks,

Mark

On 05/04/2016 14:39, will-cern wrote:

[2016-04-05 13:45] will-cern opened #354 "Ignore comment lines in txt file of --inPfnListFile option of ganga athena"
Hi,

Could you please make --inPfnListFile ignore all lines beginning with "#" in the txt file it is given, so that comments can be put in the submission text file.

Thanks
Will

[2016-04-05 13:46] drmarkwslater commented on #354
Thanks Will - I'll get on that :smile:

[2016-04-06 09:18] drmarkwslater opened #355 "Clean up failed job submission when using threads in Tasks"
At present, if you use `submit_with_threads` in Tasks and there's an exception, it will never try to resubmit. This is a bad thing.

[2016-04-06 17:00] will-cern opened #358 "How to specify list of input files to condor job?"
Hi again,

I was able to get my ganga condor jobs launched, but they've come back failed. I don't think it's making it as far as even executing the jobs. I've attached the stdout and stderr. The submission command was:

ganga athena --condor --nocompile --split=60  \
      --inPfnListFile="test.txt"  \
      --outputlocation="/usatlas/groups/bnl_local/wcjb/condor_output/ZdZd13TeV.20160406.test"  \

[2016-04-07 08:14] will-cern commented on #352
Hi,

Can I also ask for the stream_output and stream_error options in the job description file to be made configurable too. Currently they both default to False, but it would be nice to be able to try switching them to True so that I can monitor the progress of a subjob.

Thanks
Will

[2016-04-07 08:22] will-cern commented on #358
Hi again,

I just tried a test job where I used --localtype=Local and specified a --locallocation for a few test files, and these jobs executed successfully on the batch system.

So based on this, here are my suggestions

1. Make --inputtype default to 'Local' for the condor backend, as this is surely the most common form of input for a local batch system
2. Allow --inPfnListFile to be used with t

[2016-04-07 08:41] will-cern opened #359 "Match Arch requirement in CondorRequirement to submitting job"
Hi,

The Arch requirement of CondorRequirements defaults to INTEL. This is quite dated by now.
Could logic be added to CondorRequirements such that it defaults to some 'unspecified' state and if it stays 'unspecified' then it is not added to the list of requirements in the condor job description file. Our sys admin tells me that there shouldn't be any need to specify Arch.

Additionally, at least

[2016-04-07 09:54] drmarkwslater opened #360 "Subjob marked as dirty makes all subjobs get flushed"
At present, according to `flush` in SubJobXMLList.py, if the parent job is marked as dirty (which it will be if any subjobs change) then ALL the subjobs get flushed. This can be an expensive operation if there are a lot of subjobs which could make the monitoring go very slowly.

Ideally, it should only flush dirty subjobs, not all of them.

[2016-04-07 09:59] egede commented on #360
Just to underline that it is suspected that this issue could be the cause of monitoring slowing down in LHCb.

[2016-04-07 10:20] rob-c commented on #360
I know we mark Job objects as not dirty after a flush but I don't think we correctly address marking all objects within the schema as clean afterwards, just the parent. Can we improve the ```_setFlushed``` method so we do things in future like what attributes are triggering most objects to become dirty.

[2016-04-07 10:31] egede commented on #360
@rob-c I do not understand what you mean here? You want to make sure that we go in and mark the subjobs as not dirty after flushing or do you want to collect statistics on what is dirty in jobs?

[2016-04-07 10:59] rob-c commented on #360
@egede I want to be sure that we mark all dirty objects as clean after flushing. Atm an object and all of it's parents are marked dirty with a ```_setDirty```. We only mark the root object clean after flushing. I would like to make sure we mark all objects hanging off the root as clean.

In future we can think about looking at which objects are triggering this if we feel that objects are excessive

[2016-04-07 11:04] egede commented on #360
@rob-c OK. Essential thing is indeed to make sure that everything that is flushed is actually marked clean afterwards.

[2016-04-07 13:13] jepperandersen opened #361 "ARC submission broken in 6.1.17"
When submitting jobs with a script that worked previously, 6.1.19 fails with the following message:
Ganga.GPIDev.Lib.Job               : WARNING  ---------- error in user/extension code ----------
Ganga.GPIDev.Lib.Job               : WARNING  Traceback (most recent call last):
Ganga.GPIDev.Lib.Job               : WARNING    File "/cvmfs/ganga.cern.ch/Ganga/install/6.1.17/python/Ganga/GPIDev/Lib/Jo

[2016-04-08 12:33] drmarkwslater opened #363 "Get/Check Config options are loaded correctly when using little ganga"
We need to make sure that the config options from the environment, .ini files and .gangarc are loaded, checked for errors and frozen correctly across plugins.

[2016-04-08 13:25] rob-c opened #364 "logger is not buffering correctly"
The logger isn't buffering until carriage return.

This is annoying as there are logging statements made every 30sec by default on the debug console which get displayed every time I press a character rather than waiting for a carriage return.

This gets annoying as I'm having to turn off more and more features in order to be able to test things with full debugging on.

[2016-04-08 13:30] egede commented on #364
@rob-c Is it correct that it is not buffering at all, or is it just that the buffer fills up and then emits the messages whether or not CR is pressed?

[2016-04-08 13:42] rob-c commented on #364
Upon further inspection I think the messages aren't being buffered at all, I suspect that this is due to way we're deciding what to buffer.

I've a 1 line PR incoming which works for me as these messages are annoying.

[2016-04-08 13:48] milliams commented on #364
The buffering seems to be working fine for me. At least for standard job submission messages etc. Could it be to do with the version of IPython used? I'm using 1.2.1 it seems.

[2016-04-08 13:51] rob-c commented on #364
No this is nothing to do with IPython, this is because we are doing horrible things with the buffereing as is and only catching logging from threads matching a certain naming scheme which is horrible.

[2016-04-08 14:26] #349 closed

[2016-04-08 15:02] rob-c opened #366 "LHCb tasks bug"
I'm seeing the following on startup:

[code]

Does anyone else know if this is serious or not?

Thanks,

Rob

[2016-04-08 15:05] drmarkwslater commented on #366
That'll be due to the removal of a load of obsolete task stuff. I'll try to have a look at this ASAP.

[2016-04-08 15:14] rob-c commented on #366
Thanks Mark!

[2016-04-09 14:53] #364 closed

[2016-04-11 10:10] egede opened #370 "Slow bookkeeping requests"
It seems like call to the LHCb bookkeeping are very slow for some reason. See the tests below from Zoltan Mathe where he first runs the raw command, and then runs the same within Ganga.

[code]

Using ganga the query takes 4 min 43 sec:

[code]

[2016-04-11 10:17] rob-c commented on #370
I'd be keen to check what API is being used for both and how this compares to 6.1.19 as there have been some optimizations around the construction of many, many GangaObjects (in this case DiracFile).
I don't know if we have fixed this but this has been an issue for a long time since we've wanted to take a large BKQuery result and convert it into a list of DiracFiles.

[2016-04-11 15:39] will-cern commented on #352
Hi.

Can I check on the progress of this and my other open issues? Just want to get an idea of when 6.1.19 will be available so I can try them all out

Thanks
Will

[2016-04-11 16:21] rob-c commented on #360
Fixed by #367

[2016-04-11 16:21] #360 closed

[2016-04-11 19:02] Unode opened #371 "Don't rename ~/.gangarc"
In certain situations, including when ganga is updated, the `~/.gangarc` is automatically updated with a newer version. The old file is renamed to avoid collision and preserve the contents.

In my situation the `~/.gangarc` file is a symlink pointing to a shared location. This allows me to have the same settings across multiple machines. However when the update cycle kicks in, I have to manually f

[2016-04-11 20:39] egede commented on #371
@Unode We want to make sure that the `.gangarc` file is clean in terms of not containing syntax errors and deprecated options. This is the reason that we rewrite, rather than updating the file. However, we can check if the old file is a link and then remake the link for the new file, using `os.path.islink(src)` and `os.readlink(src)`.

[2016-04-12 10:09] Unode commented on #371
@egede I totally agree with the automatic fixing of syntax and updating options. My point was just on  preserving the file and only modify the contents.
Wouldn't regenerating the link afterwards render the backup useless? Both would point to the same file no?

My suggestion was to simply `open('.gangarc.old', 'w').write(open('.gangarc').read())` (pardon the crude example with little control over f

[2016-04-12 10:41] rob-c commented on #370
I'm running a quick profile on this but I'm seeing the memory usage on the above command top out at ~700Mb which seems concerning as this is never even written to disk...

[2016-04-12 10:43] drmarkwslater commented on #352
@will-cern We've slowed down development in the last week because the CERN VMs we use for testing seem to be acting up and it's making it difficult to know if we've broken anything :smile: We're going to shift to a different machine by the end of the week that should make life a lot easier. In addition, pretty much all the devs are are at a GridPP meeting until Thursday! However, I have every inte

[2016-04-12 10:58] egede commented on #370
@rob-c Does the memory used if you just estimate the number of characters in the output make sense?

[2016-04-12 11:13] rob-c commented on #370
Erm, I'll look at memory usage for the raw call but I suspect there are some bad references to the list which aren't destroyed so we have something like ~200M per-list * 3 + extra stuff

[2016-04-12 11:20] rob-c commented on #370
OK, I've got this down to ~2min under a profiler (from about 5) which I think helps, plus memory usage seems to be down rather dramatically. Hopefully this may get slightly better when I run interactively and look at the problem from the Ganga side more.
I'll clean up what I have but it's loosely based off ```features/optimisation``` branch #357 which has some minor bugs I need to fix but hopefull

[2016-04-12 11:24] rob-c commented on #370
OK, down to 1min and uses about ~280Mb which seems more reasonable. As I say there is some code cleanup but I think I'll incorporate the fixes into #357 as a lot of the bottleneck is passing lists through the set methods in GangaObject and some slow downs with GangaLists.
Obviously I'll have to fix #357 before I look to merge the fixes.

[2016-04-12 11:58] will-cern commented on #352
Thanks for the update.

Is there any way I can help? Do we have a way for me to 'setup the trunk version' of ganga, so I can effectively do the testing for you, at least for this functionality

	Cheers
		Will

On 12 Apr 2016, at 12:43, Mark Slater <notifications@github.com> wrote:

[2016-04-13 09:52] Unode commented on #371
@egede Another possibility that just crossed my mind. Instead of having `~/.gangarc` store files under `~/.ganga/` or something like `${XDG_DATA_HOME}/ganga/`.

This way I can make `~/.ganga` a symlink or change `XDG_DATA_HOME` and ganga can still perform the renaming as normal. As long as files are kept in the subfolder both my intention and the original (by design) are maintained.

[2016-04-13 10:04] egede commented on #371
@Unode I am afraid I do not quite understand what you want to do and if that actually would require any changes to how Ganga works. From running `ganga --help`, I get

[code]

Can that solve your use-case?

[2016-04-13 11:05] Unode commented on #371
Erm, yeah. This will work fine.
Sorry for all the noise.

[2016-04-13 11:05] #371 closed

[2016-04-14 09:30] drmarkwslater opened #374 "Possible source of lockups with GangaObject._getWriteAccess"
I've just fixed a lockup in Tasks where the Task Monitor thread but I'm concerned this could cause problems in the future. The issue is this:

1. Object (Job or Task) is NOT loaded
2. thread calls `obj._getWriteAccess` which explicitly gets the `const_lock`
3. During this, it also starts to load the object which at various times will try to get the `internal_lock`
4. In another thread, the object

[2016-04-14 09:37] rob-c commented on #374
I've been fighting with the Access locks elsewhere and the Registry simply stops doing them during Registry transactions which isn't ideal.

I think a _simple_ approach would be to abandon the read/write lock for explicitly calling a load of the job and disallowing multiple ganga sessions from accessing an object loaded by another ganga session? Do we really want/need the complexity that we have w

[2016-04-14 09:46] milliams commented on #374
The read/write access locks (maintained as physical files on disk) are useful/necessary if we want to support two active Ganga session accessing the same repository. I'm not convinced that this is a feature that we want to support to this extent and without a good set of usecases/user-stories it's more of a burden than anything. I would be in favour of removing per-object session locks until we ca

[2016-04-14 09:55] rob-c commented on #374
Given that the locks at present prevent 2 sessions from modifying the same job I would rather not remove it without completely removing the ability to have 2 Ganga sessions.

Warning the user isn't enough as some(most?) don't pay attention to the warnings on startup until they run into more serious issues later on such as corrupting their job with 1k subjobs.

We still have to put in a mechanism t

[2016-04-14 09:57] egede commented on #374
The use case for having two simultaneous Ganga sessions is actually quite common. There is a script (or an interactive command) that submits a very large job in one Ganga session and then a second Ganga session that is monitoring jobs.

[2016-04-14 09:59] rob-c commented on #374
For now simply deferring the _getReadAccess and _getWriteAccess calls on a job which is currently being loaded from the Registry in the load method should alleviate this problem completely and should be what the repo is doing.

[2016-04-14 11:36] rob-c commented on #366
Are we able to fix this for 6.1.19?

[2016-04-14 11:48] #350 closed

[2016-04-14 13:28] drmarkwslater commented on #366
Should be fixed with #377

[2016-04-15 10:57] drmarkwslater commented on #271
This should be fixed by #377

[2016-04-15 10:57] drmarkwslater commented on #218
Fixed by #377 (and others)

[2016-04-15 10:57] drmarkwslater commented on #187
Should be fixed by #377 and others

[2016-04-15 10:58] drmarkwslater commented on #173
This should get fixed by #377 and others. @olupton are you able to test this branch/develop when I've merged?

[2016-04-15 10:59] drmarkwslater commented on #123
I would hope this is fixed by several tasks and registry fixes that have gone in. This can probably be closed with 6.1.19 if no-one says otherwise.

[2016-04-15 12:19] drmarkwslater commented on #352
Hi Will,

To make sure you get all the externals you need, probably the easiest thing to do is to use the ganga-install script:

http://ganga.web.cern.ch/ganga/download/ganga-install

run this with:

ganga-install --extern=GangaAtlas,GangaPanda 6.1.18

then download the `develop` branch (or whatever branch you're interested in) and unzip it into:

`~/Ganga/install/.`

Setup Ganga as you normally w

[2016-04-15 12:46] rob-c commented on #123
This was actually a bug in LHCbDataset which has been 'fixed' for a while but I would still like someone to go away and test that this actually works before we close it.
There have been a __lot__ of changes wrt the Tasks recently and the majority of LHCb users using Tasks will be wanting to migrate from 6.0.44 to a working 6.1.xy build.

[2016-04-15 12:47] rob-c commented on #271
I think this has probably gone away, I think as long as the tasks now I think I saw some LHCbTask specific things here but this is un-tested.

[2016-04-15 12:52] rob-c opened #379 "Lots of (un-needed warnings) for new users on first launch."
In summary there are a few things we can do to improve the first launch experience for new users:

 - [ ] There are problems reading files at launch which look concerning even for us. Can we fix this or improve the error/warning or demote it to debug if it's not important.

 - [x] There is an IPython problem which will probably concern users of Python 2.6 (on first load, and maybe after this which

[2016-04-15 12:57] rob-c commented on #52
Is it possible to disable this by default in the config yet or do we still need some environment variabele to be passed by default?
If so can we change the cvmfs scripts to do this in future. Having this code always running concerns me as it causes horrible things like cProfile to give up the ghost.

[2016-04-15 12:59] rob-c commented on #81
I'm assuming this has gone away by now? @milliams Do you see this in the release process at all when running the tests by hand for Core/LHCb/Atlas?

[2016-04-15 13:01] rob-c commented on #136
I believe this should have been fixed in recent changes to make registry transactions thread-safe.

[2016-04-15 13:01] #136 closed

[2016-04-15 13:04] rob-c commented on #184
Was this fixed recently or are there still some failing GangaList tests?

[2016-04-15 13:08] rob-c commented on #284
I suspect this has gone away with many changes since I posted this. Either way I was never able to make the worst case scenario appear that we produced an extra level of nesting by loading/writing a job multiple times.

[2016-04-15 13:08] #284 closed

[2016-04-15 13:14] drmarkwslater commented on #379
Just to add, there is the specific case of users that are on Vanilla SL6 (RHEL6), no admin rights and no CVMFS that would have a non-trivial hurdle to use Ganga. In this case possible options may be:

* Add Python 2.7 as an external dependency and recommend they use the ganga-install script
* Give detailed (and working!) instructions about how to download Python 2.7 themselves and set up the envir

[2016-04-15 13:16] drmarkwslater commented on #184
I think the original reason for this issue is now fixed.

[2016-04-15 13:16] drmarkwslater commented on #184
...Though there's other discussion here that may want to be continued!

[2016-04-15 13:34] rob-c commented on #258
I think this has all been addressed by various fixes and tests around the writing of the XML file recently.

[2016-04-15 13:34] #258 closed

[2016-04-15 13:36] rob-c commented on #311
I think this has been fixed in some PR or other, my concern was around jobs being instantly dirty after being loaded as well as jobs being created even when not correctly loading from disk. If this comes back to be a problem I'll re-open this.

[2016-04-15 13:36] #311 closed

[2016-04-15 13:47] milliams commented on #184
I think my reasons for opening this in the first place is solved with @drmarkwslater's recent work. The discussion above is largely superseded by #330 so I think we can close this issue.

[2016-04-15 13:47] #184 closed

[2016-04-15 13:49] milliams commented on #81
I've never seen this in the release scripts so I will close it for now. It I see it again I will reopen.

[2016-04-15 13:49] #81 closed

[2016-04-15 13:58] rob-c commented on #304
This has been addressed by #380

[2016-04-15 13:58] #304 closed

[2016-04-15 19:23] rob-c opened #382 "report is currently very broken"
There is a problem with the config system in the `report()` function which needs to be addressed (pref before 6.1.19 but as we have no server currently behind `gangamon.cern.ch` this function can't be used by support people anyway.

I'll post some more details and maybe a PR on Monday

[2016-04-18 07:42] #366 closed

[2016-04-18 07:43] drmarkwslater commented on #271
Fixed by #377

[2016-04-18 07:43] #271 closed

[2016-04-18 07:43] drmarkwslater commented on #218
Fixed by #377

[2016-04-18 07:43] #218 closed

[2016-04-18 07:43] drmarkwslater commented on #187
Fixed by #377

[2016-04-18 07:43] #187 closed

[2016-04-18 08:54] olupton commented on #173
I see you've merged it now; I'll try and run some tests with the develop branch, but it may take me a few days!

[2016-04-18 09:14] rob-c commented on #173
I'll try and run the test mentioned above on develop and I'll report if there are any obvious problems with it or now.

[2016-04-18 09:15] drmarkwslater commented on #173
@olupton There's no rush - basically, give develop a try when you can and let us know if there are any more problems. The branch certainly fixed several problems I saw with CoreTasks but there may be other issues for LHCb I haven't seen.

[2016-04-18 09:25] rob-c opened #383 "Check for current hostname vs job hostname Localhost"
Just a minor thing to fix, but it would be nice if the localhost backend would realise that if it's not on the same localhost as a given job that it cannot monitor, or alter it in any way.

Imo, it would be more informative to give an error such as:
```couldn't kill job x.y, job is running on myOtherHost (PID: 1234) please check it's killed there)``` rather than the 6 or 7 errrors relating to miss

[2016-04-18 10:27] rob-c commented on #173
OK, I just ran the tasktest.zip again from an LHCb session and aside from some fragility to do with checking for credentials in a nice way this all seemed to work.

@drmarkwslater Would it be trivial to add a check for a grid proxy before submitting a task with the Dirac backend? I'll have a quick look and see if this is easy to do.

[2016-04-18 10:30] rob-c commented on #195
I'm bumping this to 6.1.20 but I've not seen any problems with this for a long time now, has anyone else noticed this crop up at all?

[2016-04-18 10:31] rob-c commented on #201
I think I'll look into this for 6.1.20 as it would be nice to have for both LHCb, LSST and others

[2016-04-18 10:32] drmarkwslater commented on #173
Is there a problem for having it detect the need for credentials in the usual way, i.e. when submit is called? I suppose there would be a problem if you used queues though...

In short, no, there shouldn't be a problem but I'll need to check where the best place is. Could you submit an issue to remind me to look at this? Thanks!

[2016-04-18 10:34] rob-c commented on #236
It would be nice to have method to turn off the monitoring if we detect a concurrent Ganga session before the 6.1.19 release. This shouldn't be too difficult and can be probably tied into the construction of the Registries, do people think this is best to get in 6.1.19 or should we hold off with this until a future release? (I don't mind either way)

[2016-04-18 10:37] rob-c commented on #173
Will do, it's possible looking at the logs this was caused by me renewing my proxy as it was being required, so this could be a random error from me, I'll open an issue and check if I can reproduce this. But I think we can close this one if there are no objections?

[2016-04-18 10:40] rob-c commented on #286
Bumping this to a future release as this needs looking at separately but I don't think this should hold up 6.1.19

[2016-04-18 10:40] drmarkwslater commented on #173
Maybe let @olupton have the final word just to be sure but otherwise, yep we can close!

[2016-04-18 10:40] rob-c commented on #344
I'd like to do this for 6.1.20 I think

[2016-04-18 10:42] rob-c commented on #370
I'll look at #357 as I'm sure I can trim down the number of changes to track down the exact performance bottlenecks in the code. Some of that PR will probably go away but there is some good stuff to keep so I'll clean that up in 6.1.20

[2016-04-18 11:17] graipher opened #385 "GangaList has no attribute "execute""
To work-around GangaList not having the attribute "append" ([GANGA-270](https://github.com/ganga-devs/ganga/issues/270), supposed to be fixed by [GANGA-179](https://github.com/ganga-devs/ganga/pull/179)), I prepared the list of postprocessors in a normal python list and added all of them in one go:
[code]
These jobs submit and seem to run normally, but fail when trying to run the postprocessor:
[c

[2016-04-18 11:40] drmarkwslater commented on #385
This is a problem will be fixed by #384. I'll be merging this today and it'll be in 6.1.19. As a work around, loop over the list initial list of postprocessors and call append on each separately. Thanks!

[2016-04-18 11:42] rob-c commented on #385
@graipher Thanks for submitting an issue for this, @drmarkwslater could this be caused by the default of the object not being correctly set?

[2016-04-18 11:43] drmarkwslater commented on #385
@rob-c See previous comment 😄

[2016-04-18 11:44] rob-c commented on #385
@drmarkwslater I'm curious as to how the objects appear after they've been loaded from disk again, not in the same session could be problems there?

[2016-04-18 12:40] graipher commented on #385
@drmarkwslater You mean like this:
j = Job(name='something')
...
postprocessors = [ FileChecker(files=['stdout'], searchStrings=['INFO Application Manager Terminated successfully'], failIfFound=False, checkMaster=False) ]
if args.evtmax < 0:
  postprocessors.append(LHCbCompleteChecker())
  if all(isinstance(f, LogicalFile) for f in j.inputdata):
    postprocessors.append(LHCbBookkeepingChecker())

[2016-04-18 12:43] rob-c commented on #385
@graipher  Adding ` ` ` without the spaces makes it clearer to read the difference between code and text.

[2016-04-18 12:45] graipher commented on #385
@rob-c Sorry, will do in the future.

[2016-04-18 12:47] rob-c commented on #385
@graipher No worries, was just a heads up so that it's easier to read :) I'm having a play with this now to test Marks fix which looks like it should work so will be in by 6.1.19

[2016-04-18 12:54] rob-c commented on #385
I do see this error occur far too much ad-infinitum on develop but it is indeed fixed by #384 and the fix works when the job has been submitted in 1 session and monitored in another.

If you see the above errors coming up a lot I would suggest forcing the job into a final status and doing the check the job by hand (a little painful I know) if you see this error coming up once every few seconds wit

[2016-04-18 12:58] #301 closed

[2016-04-18 14:34] #385 closed

[2016-04-18 14:36] drmarkwslater commented on #385
@graipher Exactly - that should work. Basically the assignment of a list is broken but not the append of an individual PostProcessor.

[2016-04-19 08:26] drmarkwslater commented on #270
This was fixed by #384

[2016-04-19 08:26] #270 closed

[2016-04-19 08:56] drmarkwslater commented on #352
This should be fixed with #387

[2016-04-19 10:37] #352 closed

[2016-04-19 13:28] rob-c opened #388 "IPython on AFS"
Using Ganga with IPython pointing to the home directory for the history causes the following error when you have multiple sessions:

`The history saving thread hit an unexpected error (DatabaseError('database disk image is malformed',)).History will not be written to the database.`

This isn't the end of the world but I imagine some users could become irate over this. Maybe we could consider putti

[2016-04-19 13:30] rob-c commented on #388
Addendum, as a result the next session is greeted with another error:
```ERROR! History file wasn't a valid SQLite database. It was moved to /afs/cern.ch/user/r/rcurrie/.ipython-ganga/profile_default/history-corrupt.sqlite and a new file created.```

Which is more painful than I first realised.

[2016-04-19 15:49] rob-c opened #389 "LHCbTask fails without credentials in a bad way"
Running the example from #173 I see the following error crop up when I try and run a task with a Dirac backend without the correct credentials:

[code]

The number before INFO/ERROR here is the line number of the error which may help track this down a little faster.

Also copying tasks seems to keep the status of the old task despite being a new task I think... Is copying of tasks supported?
I don

[2016-04-19 15:52] #347 closed

[2016-04-20 09:58] will-cern opened #390 "Splitting condor jobs by dataset in a single ganga job"
Hi again,

I have a feature request that has come to me further down the analysis foodchain. I want to start a discussion here about how best to solve it. I'll start with outline:

We need a way to submit a job to run on a collection of datasets, and have the outputs preserve dataset boundaries so that no output file contains information from more than one dataset.

When using the grid as a batch